npw-projects-np-projects-bluekc-translated-66e9366f6cca/Sprint_3_4_5/SequenceJobs/DataMart3/IdsWebDmHedisMesrGapCntl.json
{
  "name": "IdsWebDmHedisMesrGapCntl",
  "type": "Microsoft.DataFactory/factories/pipelines",
  "properties": {
    "folder": {
      "name": "DataMart3/Jobs/MedMgt/HEDIS"
    },
    "parameters": {},
    "variables": {
      "JobName": {
        "type": "String",
        "defaultValue": ""
      },
      "Source": {
        "type": "String",
        "defaultValue": ""
      },
      "Target": {
        "type": "String",
        "defaultValue": ""
      },
      "Subject": {
        "type": "String",
        "defaultValue": ""
      },
      "Frequency": {
        "type": "String",
        "defaultValue": ""
      },
      "LinkCount": {
        "type": "String",
        "defaultValue": "0"
      },
      "EDWRunCycle": {
        "type": "String",
        "defaultValue": ""
      },
      "IDSRunCycle": {
        "type": "String",
        "defaultValue": ""
      },
      "ExclusionList": {
        "type": "String",
        "defaultValue": ""
      },
      "RunID": {
        "type": "String",
        "defaultValue": ""
      },
      "CurrDate": {
        "type": "String",
        "defaultValue": ""
      },
      "var_CountChk_branch_True": {
        "type": "String",
        "defaultValue": "0"
      },
      "var_CountChk_branch_False": {
        "type": "String",
        "defaultValue": "0"
      },
      "var_If_1A_branch_True": {
        "type": "String",
        "defaultValue": "0"
      },
      "var_If_1A_branch_False": {
        "type": "String",
        "defaultValue": "0"
      },
      "var_If_1A_Continuation_branch_True": {
        "type": "String",
        "defaultValue": "0"
      },
      "var_If_1A_Continuation_branch_False": {
        "type": "String",
        "defaultValue": "0"
      }
    },
    "activities": [
      {
        "name": "ProcessCheckExtr_EE",
        "type": "Lookup",
        "dependsOn": [],
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "source": {
            "type": "AzureSqlSource",
            "sqlReaderQuery": {
              "value": "WITH db2_data AS (\n    select SUBJ_CD, TRGT_SYS_CD, SRC_SYS_CD\n    from @{pipeline().globalParameters.gbl_param_IDSOwner}.P_RUN_CYC\n    where CYC_STTUS_CD = 'RUNNING'\n       and SUBJ_CD = '@{variables('Subject')}'\n       and TRGT_SYS_CD = '@{variables('Target')}'\n    UNION\n    select SUBJ_CD, TRGT_SYS_CD, SRC_SYS_CD\n    from @{pipeline().globalParameters.gbl_param_IDSOwner}.P_RUN_CYC\n    where CYC_STTUS_CD = 'RUNNING'\n       and SUBJ_CD = '@{variables('Subject')}'\n       and SRC_SYS_CD <> '@{variables('Source')}'\n       and TRGT_SYS_CD = '@{variables('Target')}'\n    UNION\n    select SUBJ_CD, TRGT_SYS_CD, SRC_SYS_CD\n    from @{pipeline().globalParameters.gbl_param_IDSOwner}.P_RUN_CYC\n    where CYC_STTUS_CD = 'RUNNING'\n       and SUBJ_CD = '@{variables('Subject')}'\n       and SRC_SYS_CD = '@{variables('Source')}'\n),\ntransformed_data AS (\n    SELECT SUBJ_CD, SRC_SYS_CD, TRGT_SYS_CD\n    FROM db2_data\n)\nSELECT COUNT(*) as link_count FROM transformed_data",
              "type": "Expression"
            },
            "queryTimeout": "02:00:00",
            "partitionOption": "None"
          },
          "dataset": {
            "referenceName": "ds_ids",
            "type": "DatasetReference",
            "parameters": {
              "param_schema": "@pipeline().globalParameters.gbl_param_IDSOwner",
              "param_table": "P_RUN_CYC"
            }
          }
        }
      },
      {
        "name": "LinkCount_SetVar",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "ProcessCheckExtr_EE",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "LinkCount",
          "value": {
            "value": "@string(activity('ProcessCheckExtr_EE').output.firstRow.link_count)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "Switch_CountChk",
        "type": "Switch",
        "dependsOn": [
          {
            "activity": "LinkCount_SetVar",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "on": {
            "value": "@if(not(equals(variables('LinkCount'),'0')),'1','0')",
            "type": "Expression"
          },
          "cases": [
            {
              "value": "1",
              "actions": [
                {
                  "name": "SetVar_CountChk_branch_True",
                  "type": "SetVariable",
                  "dependsOn": [],
                  "policy": {
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "variableName": "var_CountChk_branch_True",
                    "value": {
                      "value": "1",
                      "type": "Expression"
                    }
                  }
                },
                {
                  "name": "Email_DAT",
                  "type": "ExecutePipeline",
                  "dependsOn": [
                    {
                      "activity": "SetVar_CountChk_branch_True",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "pipeline": {
                      "referenceName": "Email_Notification",
                      "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                      "recipients": {
                        "value": "@pipeline().globalParameters.gbl_param_EmailSupport",
                        "type": "Expression"
                      },
                      "subject": "MED_MGT_DM_MBR_HEDIS_GAP and DPLY  TO DATAMART",
                      "body": "The IDS to EDW Member Hedis Mesr COTIVITI STANDARD EXTRACT process can not run while there is another process listed on the P_RUN_CYC as running.\n\nSource = IDS\nTarget =  EDW\nSubj = \"HEDIS GAP\"\nFrequency = Daily",
                      "blobFilenames": " ",
                      "fromemail": {
                        "value": "@pipeline().globalParameters.gbl_param_fromemail",
                        "type": "Expression"
                      },
                      "containerName": " "
                    }
                  }
                }
              ]
            }
          ],
          "defaultActivities": [
            {
              "name": "SetVar_CountChk_branch_False",
              "type": "SetVariable",
              "dependsOn": [],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "var_CountChk_branch_False",
                "value": {
                  "value": "1",
                  "type": "Expression"
                }
              }
            }
          ]
        }
      },
      {
        "name": "Check_FalseBranch_Flag",
        "type": "IfCondition",
        "dependsOn": [
          {
            "activity": "Switch_CountChk",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "expression": {
            "value": "@equals(variables('var_CountChk_branch_False'),'1')",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "name": "OpenRunCycle_Notebook",
              "type": "DatabricksNotebook",
              "dependsOn": [],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/OpenRunCycle')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "DBOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                    "type": "Expression"
                  },
                  "Source": {
                    "value": "@variables('Source')",
                    "type": "Expression"
                  },
                  "Target": {
                    "value": "@variables('Target')",
                    "type": "Expression"
                  },
                  "Subject": {
                    "value": "@variables('Subject')",
                    "type": "Expression"
                  },
                  "Frequency": {
                    "value": "@variables('Frequency')",
                    "type": "Expression"
                  },
                  "GlobalEnvironment": {
                    "value": "@pipeline().globalParameters.gbl_param_environment",
                    "type": "Expression"
                  }
                }
              }
            },
            {
              "name": "SetVar_EDWRunCycle",
              "type": "SetVariable",
              "dependsOn": [
                {
                  "activity": "OpenRunCycle_Notebook",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "EDWRunCycle",
                "value": {
                  "value": "@string(activity('OpenRunCycle_Notebook').output.runOutput)",
                  "type": "Expression"
                }
              }
            },
            {
              "name": "GetExtractRunCycle_Notebook",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "SetVar_EDWRunCycle",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/GetExtractRunCycle')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "owner_schema": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                    "type": "Expression"
                  },
                  "subject": "'STANDARD_HEDIS_MESR'",
                  "source": "'COTIVITI'",
                  "target": "'IDS'",
                  "load": "'EDW'",
                  "GlobalEnvironment": {
                    "value": "@pipeline().globalParameters.gbl_param_environment",
                    "type": "Expression"
                  }
                }
              }
            },
            {
              "name": "SetVar_IDSRunCycle",
              "type": "SetVariable",
              "dependsOn": [
                {
                  "activity": "GetExtractRunCycle_Notebook",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "IDSRunCycle",
                "value": {
                  "value": "@string(activity('GetExtractRunCycle_Notebook').output.runOutput)",
                  "type": "Expression"
                }
              }
            },
            {
              "name": "ExclusionListExtr_EE",
              "type": "ExecutePipeline",
              "dependsOn": [
                {
                  "activity": "SetVar_IDSRunCycle",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "pipeline": {
                  "referenceName": "ExclusionListExtr_EE",
                  "type": "PipelineReference"
                },
                "waitOnCompletion": true,
                "parameters": {
                  "IDSOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "ids_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                    "type": "Expression"
                  },
                  "Subject": {
                    "value": "@variables('JobName')",
                    "type": "Expression"
                  }
                }
              }
            },
            {
              "name": "ReadExclusionListFile_Notebook",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "ExclusionListExtr_EE",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_scripts,'/Generic_ADLS_File_Operations')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "src_file_with_path": {
                    "value": "/_TASK_EXCL.dat",
                    "type": "Expression"
                  },
                  "command": "cat",
                  "cut_column_index": "2",
                  "project": "datamart"
                }
              }
            },
            {
              "name": "WriteRunID_Notebook",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "ReadExclusionListFile_Notebook",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/WriteRunID')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "entry_name": {
                    "value": "@concat(variables('JobName'),'\"RunID\"')",
                    "type": "Expression"
                  },
                  "GlobalEnvironment": {
                    "value": "@pipeline().globalParameters.gbl_param_environment",
                    "type": "Expression"
                  },
                  "secret_name": {
                    "value": "",
                    "type": "Expression"
                  },
                  "IDSOwner": {
                    "value": "",
                    "type": "Expression"
                  }
                }
              }
            },
            {
              "name": "SetVar_ExclusionList",
              "type": "SetVariable",
              "dependsOn": [
                {
                  "activity": "WriteRunID_Notebook",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "ExclusionList",
                "value": {
                  "value": "@string(activity('ReadExclusionListFile_Notebook').output.runOutput)",
                  "type": "Expression"
                }
              }
            },
            {
              "name": "GetRunInfo_Notebook",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "SetVar_ExclusionList",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/GetRunInfo')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "job_name": {
                    "value": "@concat(variables('JobName'),'\"RunID\"')",
                    "type": "Expression"
                  },
                  "GlobalEnvironment": {
                    "value": "@pipeline().globalParameters.gbl_param_environment",
                    "type": "Expression"
                  },
                  "secret_name": {
                    "value": "",
                    "type": "Expression"
                  },
                  "IDSOwner": {
                    "value": "",
                    "type": "Expression"
                  }
                }
              }
            },
            {
              "name": "SetVar_RunID",
              "type": "SetVariable",
              "dependsOn": [
                {
                  "activity": "GetRunInfo_Notebook",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "RunID",
                "value": {
                  "value": "@string(activity('GetRunInfo_Notebook').output.runOutput)",
                  "type": "Expression"
                }
              }
            },
            {
              "name": "FORMAT_DATE_Notebook",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "SetVar_RunID",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/FORMAT.DATE')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "pInDate": "string('@DATE')",
                  "pSource": "DATE",
                  "pSourceFormat": "CURRENT",
                  "pOutFormat": "CCYY-MM-DD"
                }
              }
            },
            {
              "name": "SetVar_CurrDate",
              "type": "SetVariable",
              "dependsOn": [
                {
                  "activity": "FORMAT_DATE_Notebook",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "CurrDate",
                "value": {
                  "value": "@string(activity('FORMAT_DATE_Notebook').output.runOutput)",
                  "type": "Expression"
                }
              }
            },
            {
              "name": "ExclusionListDelete_EE",
              "type": "ExecutePipeline",
              "dependsOn": [
                {
                  "activity": "SetVar_CurrDate",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "pipeline": {
                  "referenceName": "ExclusionListDelete_EE",
                  "type": "PipelineReference"
                },
                "waitOnCompletion": true,
                "parameters": {
                  "IDSOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "ids_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                    "type": "Expression"
                  },
                  "Subject": {
                    "value": "@variables('JobName')",
                    "type": "Expression"
                  }
                }
              }
            }
          ],
          "ifFalseActivities": []
        }
      },
      {
        "name": "Switch_If_1A",
        "type": "Switch",
        "dependsOn": [
          {
            "activity": "Check_FalseBranch_Flag",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "on": {
            "value": "@if(and(equals(variables('var_CountChk_branch_False'),'1'),not(contains(variables('ExclusionList'),'IdsWebDmHedisMesrGapSeq'))),'1','0')",
            "type": "Expression"
          },
          "cases": [
            {
              "value": "1",
              "actions": [
                {
                  "name": "SetVar_If_1A_branch_True",
                  "type": "SetVariable",
                  "dependsOn": [],
                  "policy": {
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "variableName": "var_If_1A_branch_True",
                    "value": {
                      "value": "1",
                      "type": "Expression"
                    }
                  }
                },
                {
                  "name": "IdsWebDmHedisMesrGapSeq",
                  "type": "ExecutePipeline",
                  "dependsOn": [
                    {
                      "activity": "SetVar_If_1A_branch_True",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "pipeline": {
                      "referenceName": "IdsWebDmHedisMesrGapSeq",
                      "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                      "EmailSupport": {
                        "value": "@pipeline().globalParameters.gbl_param_EmailSupport",
                        "type": "Expression"
                      },
                      "IDSOwner": {
                        "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                        "type": "Expression"
                      },
                      "ids_secret_name": {
                        "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                        "type": "Expression"
                      },
                      "EDWOwner": {
                        "value": "@pipeline().globalParameters.gbl_param_EDWOwner",
                        "type": "Expression"
                      },
                      "edw_secret_name": {
                        "value": "@pipeline().globalParameters.gbl_param_EDWSecret",
                        "type": "Expression"
                      },
                      "EDWRunCycle": {
                        "value": "@variables('EDWRunCycle')",
                        "type": "Expression"
                      },
                      "EDWRunCycleDate": {
                        "value": "@variables('CurrDate')",
                        "type": "Expression"
                      },
                      "IDSRunCycle": {
                        "value": "@variables('IDSRunCycle')",
                        "type": "Expression"
                      },
                      "ExclusionList": {
                        "value": "@variables('ExclusionList')",
                        "type": "Expression"
                      },
                      "ClmMartOwner": {
                        "value": "@pipeline().globalParameters.gbl_param_ClmMartOwner",
                        "type": "Expression"
                      },
                      "clmmart_secret_name": {
                        "value": "@pipeline().globalParameters.gbl_param_ClmMartSecret",
                        "type": "Expression"
                      }
                    }
                  }
                }
              ]
            }
          ],
          "defaultActivities": [
            {
              "name": "SetVar_If_1A_branch_False",
              "type": "SetVariable",
              "dependsOn": [],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "var_If_1A_branch_False",
                "value": {
                  "value": "1",
                  "type": "Expression"
                }
              }
            }
          ]
        }
      },
      {
        "name": "Switch_If_1A_Continuation",
        "type": "Switch",
        "dependsOn": [
          {
            "activity": "Switch_If_1A",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "on": {
            "value": "@if(equals(variables('var_CountChk_branch_False'),'1'),'1','0')",
            "type": "Expression"
          },
          "cases": [
            {
              "value": "1",
              "actions": [
                {
                  "name": "SetVar_If_1A_Continuation_branch_True",
                  "type": "SetVariable",
                  "dependsOn": [],
                  "policy": {
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "variableName": "var_If_1A_Continuation_branch_True",
                    "value": {
                      "value": "1",
                      "type": "Expression"
                    }
                  }
                },
                {
                  "name": "Move_Load_File_Notebook",
                  "type": "DatabricksNotebook",
                  "dependsOn": [
                    {
                      "activity": "SetVar_If_1A_Continuation_branch_True",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "timeout": "12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "linkedServiceName": {
                    "referenceName": "shareddatabricks",
                    "type": "LinkedServiceReference"
                  },
                  "typeProperties": {
                    "notebookPath": {
                      "value": "@concat(pipeline().globalParameters.gbl_param_scripts,'/Generic_ADLS_File_Operations')",
                      "type": "Expression"
                    },
                    "baseParameters": {
                      "src_file_with_path": " ",
                      "trgt_file_with_path": " ",
                      "command": "move",
                      "cut_column_index": " ",
                      "project": "datamart"
                    }
                  }
                },
                {
                  "name": "CloseRunCycle_Notebook",
                  "type": "DatabricksNotebook",
                  "dependsOn": [
                    {
                      "activity": "Move_Load_File_Notebook",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "timeout": "12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "linkedServiceName": {
                    "referenceName": "shareddatabricks",
                    "type": "LinkedServiceReference"
                  },
                  "typeProperties": {
                    "notebookPath": {
                      "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/CloseRunCycle')",
                      "type": "Expression"
                    },
                    "baseParameters": {
                      "DBOwner": {
                        "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                        "type": "Expression"
                      },
                      "SrcSystem": {
                        "value": "@variables('Source')",
                        "type": "Expression"
                      },
                      "TrgtSystem": {
                        "value": "@variables('Target')",
                        "type": "Expression"
                      },
                      "SubjCode": {
                        "value": "@variables('Subject')",
                        "type": "Expression"
                      },
                      "FreqCode": {
                        "value": "@variables('Frequency')",
                        "type": "Expression"
                      },
                      "RunCycle": {
                        "value": "@variables('EDWRunCycle')",
                        "type": "Expression"
                      },
                      "GlobalEnvironment": {
                        "value": "@pipeline().globalParameters.gbl_param_environment",
                        "type": "Expression"
                      }
                    }
                  }
                }
              ]
            }
          ],
          "defaultActivities": [
            {
              "name": "SetVar_If_1A_Continuation_branch_False",
              "type": "SetVariable",
              "dependsOn": [],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "var_If_1A_Continuation_branch_False",
                "value": {
                  "value": "1",
                  "type": "Expression"
                }
              }
            }
          ]
        }
      }
    ]
  }
}