npw-projects-np-projects-bluekc-translated-66e9366f6cca/Sprint_3_4_5/SequenceJobs/Outbound/BlueKCCommonPerceptiveAPIPostMetadataAndDocSeq.json
{
  "name": "BlueKCCommonPerceptiveAPIPostMetadataAndDocSeq",
  "type": "Microsoft.DataFactory/factories/pipelines",
  "properties": {
    "folder": {
      "name": "Outbound/Jobs/GuidingCare/Fullfilment"
    },
    "parameters": {
      "DynamicAccessToken": {
        "type": "String",
        "defaultValue": ""
      },
      "PerceptiveAPIURL": {
        "type": "String",
        "defaultValue": ""
      },
      "Environment": {
        "type": "String",
        "defaultValue": ""
      },
      "FTPFiles": {
        "type": "String",
        "defaultValue": ""
      },
      "MailFileInd": {
        "type": "String",
        "defaultValue": ""
      },
      "NXTPGOutboundFile": {
        "type": "String",
        "defaultValue": ""
      },
      "RunID": {
        "type": "String",
        "defaultValue": ""
      },
      "Vendor": {
        "type": "String",
        "defaultValue": ""
      },
      "PerceptiveAPILink": {
        "type": "String",
        "defaultValue": ""
      },
      "PerceptiveAPIKey": {
        "type": "String",
        "defaultValue": ""
      },
      "COMM_SK": {
        "type": "String",
        "defaultValue": ""
      },
      "FIRSTNAME": {
        "type": "String",
        "defaultValue": ""
      },
      "LASTNAME": {
        "type": "String",
        "defaultValue": ""
      },
      "MIDDLENAME": {
        "type": "String",
        "defaultValue": ""
      },
      "DESTINATION": {
        "type": "String",
        "defaultValue": ""
      },
      "ATTACHMENTS": {
        "type": "String",
        "defaultValue": ""
      },
      "LETTERQUEUEID": {
        "type": "String",
        "defaultValue": ""
      },
      "TEMPLATENAME": {
        "type": "String",
        "defaultValue": ""
      },
      "SUBSCRIBERID": {
        "type": "String",
        "defaultValue": ""
      },
      "CMPLNT_ID": {
        "type": "String",
        "defaultValue": ""
      },
      "UM_REF_ID": {
        "type": "String",
        "defaultValue": ""
      },
      "MBR_GRP_ID": {
        "type": "String",
        "defaultValue": ""
      },
      "MBR_BRTH_DT": {
        "type": "String",
        "defaultValue": ""
      },
      "IMG_ID": {
        "type": "String",
        "defaultValue": ""
      },
      "DRAWER_ID": {
        "type": "String",
        "defaultValue": ""
      },
      "DOC_TYP_ID": {
        "type": "String",
        "defaultValue": ""
      },
      "MBR_SFX": {
        "type": "String",
        "defaultValue": ""
      },
      "CASE_ID": {
        "type": "String",
        "defaultValue": ""
      }
    },
    "variables": {
      "FileCount": {
        "type": "String",
        "defaultValue": ""
      },
      "NoFileInd": {
        "type": "String",
        "defaultValue": "N"
      },
      "Message": {
        "type": "String",
        "defaultValue": ""
      },
      "LinkCount": {
        "type": "String",
        "defaultValue": ""
      }
    },
    "activities": [
      {
        "name": "Cmd_ChkPDFFile",
        "type": "DatabricksNotebook",
        "dependsOn": [],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_scripts, '/Generic_ADLS_File_Operations')",
            "type": "Expression"
          },
          "baseParameters": {
            "src_file_with_path": {
              "value": "/landing",
              "type": "Expression"
            },
            "command": "cat",
            "project": "outbound"
          }
        }
      },
      {
        "name": "Set_FileCount",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "Cmd_ChkPDFFile",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "FileCount",
          "value": {
            "value": "@string(activity('Cmd_ChkPDFFile').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "Fax_Start",
        "type": "IfCondition",
        "dependsOn": [
          {
            "activity": "Set_FileCount",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "expression": {
            "value": "@equals(variables('FileCount'), '1')",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "name": "Exec_Cmd_PostPerceptiveFile",
              "type": "DatabricksNotebook",
              "dependsOn": [],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_scripts,'curl_post_perceptive_file_api')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "letterQueueId": {
                    "value": "@pipeline().parameters.LETTERQUEUEID",
                    "type": "Expression"
                  },
                  "templateName": {
                    "value": "@pipeline().parameters.TEMPLATENAME",
                    "type": "Expression"
                  },
                  "subscriberId": {
                    "value": "@pipeline().parameters.SUBSCRIBERID",
                    "type": "Expression"
                  },
                  "firstName": {
                    "value": "@pipeline().parameters.FIRSTNAME",
                    "type": "Expression"
                  },
                  "lastName": {
                    "value": "@pipeline().parameters.LASTNAME",
                    "type": "Expression"
                  },
                  "perceptiveApiKey": {
                    "value": "@pipeline().parameters.PerceptiveAPIKey",
                    "type": "Expression"
                  },
                  "perceptiveApiLink": {
                    "value": "@pipeline().parameters.PerceptiveAPILink",
                    "type": "Expression"
                  },
                  "attachmentFilePath": {
                    "value": "@concat(pipeline().globalParameters.gbl_param_container_raw, '/', pipeline().globalParameters.gbl_param_environment, '/landing/', pipeline().parameters.ATTACHMENTS)",
                    "type": "Expression"
                  },
                  "middleName": {
                    "value": "@pipeline().parameters.MIDDLENAME",
                    "type": "Expression"
                  },
                  "docTypId": {
                    "value": "@pipeline().parameters.DOC_TYP_ID",
                    "type": "Expression"
                  },
                  "drawerId": {
                    "value": "@pipeline().parameters.DRAWER_ID",
                    "type": "Expression"
                  },
                  "caseId": {
                    "value": "@pipeline().parameters.CASE_ID",
                    "type": "Expression"
                  },
                  "mbrGrpId": {
                    "value": "@pipeline().parameters.MBR_GRP_ID",
                    "type": "Expression"
                  },
                  "imgId": {
                    "value": "@pipeline().parameters.IMG_ID",
                    "type": "Expression"
                  },
                  "mbrSfx": {
                    "value": "@pipeline().parameters.MBR_SFX",
                    "type": "Expression"
                  },
                  "mbrBrthDt": {
                    "value": "@pipeline().parameters.MBR_BRTH_DT",
                    "type": "Expression"
                  },
                  "responseFilePath": {
                    "value": "@concat(pipeline().globalParameters.gbl_param_container_published, '/', pipeline().globalParameters.gbl_param_environment, '/external/GetPerceptiveResponse.json')",
                    "type": "Expression"
                  },
                  "GlobalEnvironment": {
                    "value": "@pipeline().globalParameters.gbl_param_environment",
                    "type": "Expression"
                  }
                }
              }
            },
            {
              "name": "Exec_cmd_parse_response",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "Exec_Cmd_PostPerceptiveFile",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_scripts, '/Generic_ADLS_File_Operations')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "src_file_with_path": {
                    "value": "/external/GetPerceptiveResponse.json",
                    "type": "Expression"
                  },
                  "command": "cat",
                  "cut_column_index": "2",
                  "project": "outbound"
                }
              }
            },
            {
              "name": "Set_Message",
              "type": "SetVariable",
              "dependsOn": [
                {
                  "activity": "Exec_cmd_parse_response",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "Message",
                "value": {
                  "value": "@string(activity('Exec_cmd_parse_response').output.runOutput)",
                  "type": "Expression"
                }
              }
            }
          ],
          "ifFalseActivities": [
            {
              "name": "Set_NoFileInd",
              "type": "SetVariable",
              "dependsOn": [],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "NoFileInd",
                "value": "Y"
              }
            }
          ]
        }
      },
      {
        "name": "BlueKCCommonPerceptiveAPIDocStorageStatusUpdate",
        "type": "ExecutePipeline",
        "dependsOn": [
          {
            "activity": "Fax_Start",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "pipeline": {
            "referenceName": "BlueKCCommonPerceptiveAPIDocStorageStatusUpdate",
            "type": "PipelineReference"
          },
          "parameters": {
            "DynamicAccessToken": "DynamicAccessToken.txt",
            "CommTrnsmsnOwner": {
              "value": "@pipeline().globalParameters.gbl_param_CommTrnsmsnOwner",
              "type": "Expression"
            },
            "commtrnsmsn_secret_name": {
              "value": "@pipeline().globalParameters.gbl_param_CommTrnsmsnSecret",
              "type": "Expression"
            },
            "PerceptiveStatus": {
              "value": "@variables('Message')",
              "type": "Expression"
            },
            "NoFileInd": {
              "value": "@variables('NoFileInd')",
              "type": "Expression"
            },
            "Vendor": {
              "value": "@pipeline().parameters.Vendor",
              "type": "Expression"
            },
            "COMM_SK": {
              "value": "@pipeline().parameters.COMM_SK",
              "type": "Expression"
            },
            "ATTACHMENTS": {
              "value": "@pipeline().parameters.ATTACHMENTS",
              "type": "Expression"
            }
          },
          "waitOnCompletion": true
        }
      },
      {
        "name": "ExecCmd_PrcptvAPICallLog",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "BlueKCCommonPerceptiveAPIDocStorageStatusUpdate",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_scripts, '/Generic_ADLS_File_Operations')",
            "type": "Expression"
          },
          "baseParameters": {
            "src_file_with_path": {
              "value": "/external/apgresponce.json",
              "type": "Expression"
            },
            "trgt_file_with_path": {
              "value": "/.txt",
              "type": "Expression"
            },
            "command": "cat",
            "project": "outbound"
          }
        }
      }
    ]
  }
}