npw-projects-np-projects-bluekc-translated-66e9366f6cca/Sprint_3_4_5/SequenceJobs/Outbound/BlueKCCommonFulFmntMetadataFileSeq.json
{
  "name": "BlueKCCommonFulFmntMetadataFileSeq",
  "type": "Microsoft.DataFactory/factories/pipelines",
  "properties": {
    "folder": {
      "name": "Outbound/Jobs/GuidingCare/Fullfilment"
    },
    "parameters": {
      "RunID": {
        "type": "String",
        "defaultValue": ""
      },
      "AHInboundFile": {
        "type": "String",
        "defaultValue": ""
      },
      "CurrentDateAndTime": {
        "type": "String",
        "defaultValue": ""
      },
      "AGInboundFile": {
        "type": "String",
        "defaultValue": ""
      },
      "Environment": {
        "type": "String",
        "defaultValue": ""
      }
    },
    "variables": {
      "FileCount": {
        "type": "String",
        "defaultValue": ""
      },
      "AGErrCount": {
        "type": "String",
        "defaultValue": ""
      },
      "AHErrCount": {
        "type": "String",
        "defaultValue": ""
      },
      "var_AGD_Start_branch_True": {
        "type": "String",
        "defaultValue": ""
      },
      "var_AGD_Start_branch_False": {
        "type": "String",
        "defaultValue": ""
      },
      "var_If_1B_branch_True": {
        "type": "String",
        "defaultValue": ""
      },
      "var_If_1B_branch_False": {
        "type": "String",
        "defaultValue": ""
      },
      "var_If_1B_Continuation_branch_True": {
        "type": "String",
        "defaultValue": ""
      },
      "var_If_1B_Continuation_branch_False": {
        "type": "String",
        "defaultValue": ""
      },
      "var_AH_Start_branch_True": {
        "type": "String",
        "defaultValue": ""
      },
      "var_AH_Start_branch_False": {
        "type": "String",
        "defaultValue": ""
      },
      "var_If_1C_branch_True": {
        "type": "String",
        "defaultValue": ""
      },
      "var_If_1C_branch_False": {
        "type": "String",
        "defaultValue": ""
      },
      "var_If_1C_Continuation_branch_True": {
        "type": "String",
        "defaultValue": ""
      },
      "var_If_1C_Continuation_branch_False": {
        "type": "String",
        "defaultValue": ""
      },
      "LinkCount": {
        "type": "String",
        "defaultValue": ""
      }
    },
    "activities": [
      {
        "name": "AGD_Start",
        "type": "Switch",
        "dependsOn": [],
        "userProperties": [],
        "typeProperties": {
          "cases": [
            {
              "value": "1",
              "activities": [
                {
                  "name": "var_AGD_Start_branch_True",
                  "type": "SetVariable",
                  "dependsOn": [],
                  "policy": {
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "variableName": "var_AGD_Start_branch_True",
                    "value": {
                      "type": "Expression",
                      "value": "@string(1)"
                    }
                  }
                },
                {
                  "name": "Cmd_ChkAGDFile",
                  "type": "DatabricksNotebook",
                  "dependsOn": [
                    {
                      "activity": "var_AGD_Start_branch_True",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "timeout": "12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "notebookPath": "@concat(pipeline().globalParameters.gbl_param_scripts,'/Generic_ADLS_File_Operations')",
                    "baseParameters": {
                      "project": "outbound"
                    }
                  },
                  "linkedServiceName": {
                    "referenceName": "shareddatabricks",
                    "type": "LinkedServiceReference"
                  }
                },
                {
                  "name": "UsrVar_AGDFileChk",
                  "type": "SetVariable",
                  "dependsOn": [
                    {
                      "activity": "Cmd_ChkAGDFile",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "variableName": "FileCount",
                    "value": {
                      "type": "Expression",
                      "value": "@string(activity('Cmd_ChkAGDFile').output.runOutput)"
                    }
                  }
                },
                {
                  "name": "AGD_BlueKCCommonFulFmntMetadataFileAndPDFFilesComparision",
                  "type": "ExecutePipeline",
                  "dependsOn": [
                    {
                      "activity": "UsrVar_AGDFileChk",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "waitOnCompletion": true,
                    "pipeline": {
                      "referenceName": "BlueKCCommonFulFmntMetadataFileAndPDFFilesComparision",
                      "type": "PipelineReference"
                    },
                    "parameters": {
                      "EmailSupport": {
                        "value": "@pipeline().globalParameters.gbl_param_EmailSupport",
                        "type": "Expression"
                      },
                      "Environment": "@pipeline().parameters.Environment",
                      "MetadataFile": "@pipeline().parameters.AGINboundFile",
                      "RunID": "@pipeline().parameters.RunID",
                      "SourceCode": "AGD",
                      "TempPDFFileList": "TempPDFFileList",
                      "MetadataPDFFileList": "MetadataPDFFileList",
                      "LandingDirPDFFileList": "LandingDirPDFFileList",
                      "MissingPDFFiles": "MissingPDFFiles"
                    }
                  }
                },
                {
                  "name": "BlueKCCommonAGFulFmntMetadataFileLoad",
                  "type": "DatabricksNotebook",
                  "dependsOn": [
                    {
                      "activity": "AGD_BlueKCCommonFulFmntMetadataFileAndPDFFilesComparision",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "timeout": "12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "notebookPath": {
                      "type": "Expression",
                      "value": "@concat(pipeline().globalParameters.gbl_param_notebook_path,'/GuidingCare/Fullfilment/BlueKCCommonAGFulFmntMetadataFileLoad')"
                    },
                    "baseParameters": {
                      "CommTrnsmsnOwner": {
                        "value": "@pipeline().globalParameters.gbl_param_CommTrnsmsnOwner",
                        "type": "Expression"
                      },
                      "RunID": "@pipeline().parameters.RunID",
                      "AGInboundFile": "@pipeline().parameters.AGINboundFile",
                      "CurrentDateAndTime": "@pipeline().parameters.CurrentDateAndTime"
                    }
                  },
                  "linkedServiceName": {
                    "referenceName": "shareddatabricks",
                    "type": "LinkedServiceReference"
                  }
                },
                {
                  "name": "Errors_Ag",
                  "type": "DatabricksNotebook",
                  "dependsOn": [
                    {
                      "activity": "BlueKCCommonAGFulFmntMetadataFileLoad",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "timeout": "12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "notebookPath": "@concat(pipeline().globalParameters.gbl_param_scripts,'/Generic_ADLS_File_Operations')",
                    "baseParameters": {
                      "project": "outbound"
                    }
                  },
                  "linkedServiceName": {
                    "referenceName": "shareddatabricks",
                    "type": "LinkedServiceReference"
                  }
                },
                {
                  "name": "ExecCmd_Chk_RejectFile",
                  "type": "DatabricksNotebook",
                  "dependsOn": [
                    {
                      "activity": "Errors_Ag",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "timeout": "12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "notebookPath": "@concat(pipeline().globalParameters.gbl_param_scripts,'/Generic_ADLS_File_Operations')",
                    "baseParameters": {
                      "project": "outbound"
                    }
                  },
                  "linkedServiceName": {
                    "referenceName": "shareddatabricks",
                    "type": "LinkedServiceReference"
                  }
                },
                {
                  "name": "UsrVar_RejectFile",
                  "type": "SetVariable",
                  "dependsOn": [
                    {
                      "activity": "ExecCmd_Chk_RejectFile",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "variableName": "FileCount",
                    "value": {
                      "type": "Expression",
                      "value": "@string(activity('ExecCmd_Chk_RejectFile').output.runOutput)"
                    }
                  }
                }
              ]
            }
          ],
          "defaultActivities": [
            {
              "name": "var_AGD_Start_branch_False",
              "type": "SetVariable",
              "dependsOn": [],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "var_AGD_Start_branch_False",
                "value": {
                  "type": "Expression",
                  "value": "@string(1)"
                }
              }
            }
          ],
          "on": {
            "type": "Expression",
            "value": "@if(greater(int(variables('FileCount')),0),'1','0')"
          }
        }
      },
      {
        "name": "If_1B",
        "type": "Switch",
        "dependsOn": [
          {
            "activity": "AGD_Start",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "cases": [
            {
              "value": "1",
              "activities": [
                {
                  "name": "var_If_1B_branch_True",
                  "type": "SetVariable",
                  "dependsOn": [],
                  "policy": {
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "variableName": "var_If_1B_branch_True",
                    "value": {
                      "type": "Expression",
                      "value": "@string(1)"
                    }
                  }
                },
                {
                  "name": "Reject_File_Email_DAT",
                  "type": "ExecutePipeline",
                  "dependsOn": [
                    {
                      "activity": "var_If_1B_branch_True",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "pipeline": {
                      "referenceName": "Email_Notification",
                      "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                      "recipients": {
                        "value": "@pipeline().globalParameters.gbl_param_EmailSupport",
                        "type": "Expression"
                      },
                      "subject": "Fullfilment Agadia Metadata DB Rejects file",
                      "body": "Fullfilment Agadia Metadata File failed to process records in attached file, Please identify issue with the records.\n\nSource    =  AGADIA\n\nTarget    = COMM TRNSMSN Database ( Fullfilment Broker)\n\nSubject   = Fullfillment\n\nFrequency = Every 30 Mins",
                      "blobFilenames": "@concat(pipeline().globalParameters.gbl_param_environment,'/external/Reject_',pipeline().parameters.AGINboundFile,'_',pipeline().parameters.RunID,'.txt')",
                      "fromemail": {
                        "value": "@pipeline().globalParameters.gbl_param_fromemail",
                        "type": "Expression"
                      },
                      "containerName": {
                        "value": "@pipeline().globalParameters.gbl_param_container_published",
                        "type": "Expression"
                      }
                    }
                  }
                },
                {
                  "name": "AG_Errors",
                  "type": "ExecutePipeline",
                  "dependsOn": [
                    {
                      "activity": "Reject_File_Email_DAT",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "pipeline": {
                      "referenceName": "Email_Notification",
                      "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                      "recipients": {
                        "value": "@pipeline().globalParameters.gbl_param_EmailSupport",
                        "type": "Expression"
                      },
                      "subject": "Fullfilment Agadia Metadata File Errors",
                      "body": "Fullfilment Agadia Metadata File failed to process records in attached file, Please identify issue with the records.\n\nSource    =  AGADIA\n\nTarget    = COMM TRNSMSN Database ( Fullfilment Broker)\n\nSubject   = Fullfillment\n\nFrequency = Every 30 Mins",
                      "blobFilenames": "@concat(pipeline().globalParameters.gbl_param_environment,'/external/Errors_',pipeline().parameters.AGINboundFile,'_',pipeline().parameters.RunID,'.txt')",
                      "fromemail": {
                        "value": "@pipeline().globalParameters.gbl_param_fromemail",
                        "type": "Expression"
                      },
                      "containerName": {
                        "value": "@pipeline().globalParameters.gbl_param_container_published",
                        "type": "Expression"
                      }
                    }
                  }
                }
              ]
            }
          ],
          "defaultActivities": [
            {
              "name": "var_If_1B_branch_False",
              "type": "SetVariable",
              "dependsOn": [],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "var_If_1B_branch_False",
                "value": {
                  "type": "Expression",
                  "value": "@string(1)"
                }
              }
            }
          ],
          "on": {
            "type": "Expression",
            "value": "@if(and(equals(variables('var_AGD_Start_branch_True'),'1'),greater(int(variables('FileCount')),1)),'1','0')"
          }
        }
      },
      {
        "name": "If_1B_Continuation",
        "type": "Switch",
        "dependsOn": [
          {
            "activity": "If_1B",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "cases": [
            {
              "value": "1",
              "activities": [
                {
                  "name": "var_If_1B_Continuation_branch_True",
                  "type": "SetVariable",
                  "dependsOn": [],
                  "policy": {
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "variableName": "var_If_1B_Continuation_branch_True",
                    "value": {
                      "type": "Expression",
                      "value": "@string(1)"
                    }
                  }
                },
                {
                  "name": "Mv_AGD_File",
                  "type": "DatabricksNotebook",
                  "dependsOn": [
                    {
                      "activity": "var_If_1B_Continuation_branch_True",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "timeout": "12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "notebookPath": "@concat(pipeline().globalParameters.gbl_param_scripts,'/Generic_ADLS_File_Operations')",
                    "baseParameters": {
                      "project": "outbound"
                    }
                  },
                  "linkedServiceName": {
                    "referenceName": "shareddatabricks",
                    "type": "LinkedServiceReference"
                  }
                }
              ]
            }
          ],
          "defaultActivities": [
            {
              "name": "var_If_1B_Continuation_branch_False",
              "type": "SetVariable",
              "dependsOn": [],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "var_If_1B_Continuation_branch_False",
                "value": {
                  "type": "Expression",
                  "value": "@string(1)"
                }
              }
            }
          ],
          "on": {
            "type": "Expression",
            "value": "@if(and(equals(variables('var_AGD_Start_branch_True'),'1'),equals(variables('var_If_1B_branch_True'),'0')),'1','0')"
          }
        }
      },
      {
        "name": "AH_Start",
        "type": "Switch",
        "dependsOn": [],
        "userProperties": [],
        "typeProperties": {
          "cases": [
            {
              "value": "1",
              "activities": [
                {
                  "name": "var_AH_Start_branch_True",
                  "type": "SetVariable",
                  "dependsOn": [],
                  "policy": {
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "variableName": "var_AH_Start_branch_True",
                    "value": {
                      "type": "Expression",
                      "value": "@string(1)"
                    }
                  }
                },
                {
                  "name": "Cmd_ChkAHFile",
                  "type": "DatabricksNotebook",
                  "dependsOn": [
                    {
                      "activity": "var_AH_Start_branch_True",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "timeout": "12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "notebookPath": "@concat(pipeline().globalParameters.gbl_param_scripts,'/Generic_ADLS_File_Operations')",
                    "baseParameters": {
                      "project": "outbound"
                    }
                  },
                  "linkedServiceName": {
                    "referenceName": "shareddatabricks",
                    "type": "LinkedServiceReference"
                  }
                },
                {
                  "name": "UsrVar_AHFileChk",
                  "type": "SetVariable",
                  "dependsOn": [
                    {
                      "activity": "Cmd_ChkAHFile",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "variableName": "FileCount",
                    "value": {
                      "type": "Expression",
                      "value": "@string(activity('Cmd_ChkAHFile').output.runOutput)"
                    }
                  }
                },
                {
                  "name": "AH_BlueKCCommonFulFmntMetadataFileAndPDFFilesComparision",
                  "type": "ExecutePipeline",
                  "dependsOn": [
                    {
                      "activity": "UsrVar_AHFileChk",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "waitOnCompletion": true,
                    "pipeline": {
                      "referenceName": "BlueKCCommonFulFmntMetadataFileAndPDFFilesComparision",
                      "type": "PipelineReference"
                    },
                    "parameters": {
                      "EmailSupport": {
                        "value": "@pipeline().globalParameters.gbl_param_EmailSupport",
                        "type": "Expression"
                      },
                      "Environment": "@pipeline().parameters.Environment",
                      "MetadataFile": "@pipeline().parameters.AHInboundFile",
                      "RunID": "@pipeline().parameters.RunID",
                      "SourceCode": "AH",
                      "TempPDFFileList": "TempPDFFileList",
                      "MetadataPDFFileList": "MetadataPDFFileList",
                      "LandingDirPDFFileList": "LandingDirPDFFileList",
                      "MissingPDFFiles": "MissingPDFFiles"
                    }
                  }
                },
                {
                  "name": "BlueKCCommonFulFmntMetadataFileLoad",
                  "type": "DatabricksNotebook",
                  "dependsOn": [
                    {
                      "activity": "AH_BlueKCCommonFulFmntMetadataFileAndPDFFilesComparision",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "timeout": "12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "notebookPath": {
                      "type": "Expression",
                      "value": "@concat(pipeline().globalParameters.gbl_param_notebook_path,'/GuidingCare/Fullfilment/BlueKCCommonFulFmntMetadataFileLoad')"
                    },
                    "baseParameters": {
                      "CommTrnsmsnOwner": {
                        "value": "@pipeline().globalParameters.gbl_param_CommTrnsmsnOwner",
                        "type": "Expression"
                      },
                      "RunID": "@pipeline().parameters.RunID",
                      "AHInboundFile": "@pipeline().parameters.AHInboundFile",
                      "CurrentDateAndTime": "@pipeline().parameters.CurrentDateAndTime"
                    }
                  },
                  "linkedServiceName": {
                    "referenceName": "shareddatabricks",
                    "type": "LinkedServiceReference"
                  }
                },
                {
                  "name": "Errors",
                  "type": "DatabricksNotebook",
                  "dependsOn": [
                    {
                      "activity": "BlueKCCommonFulFmntMetadataFileLoad",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "timeout": "12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "notebookPath": "@concat(pipeline().globalParameters.gbl_param_scripts,'/Generic_ADLS_File_Operations')",
                    "baseParameters": {
                      "project": "outbound"
                    }
                  },
                  "linkedServiceName": {
                    "referenceName": "shareddatabricks",
                    "type": "LinkedServiceReference"
                  }
                },
                {
                  "name": "ExecCmd_Chk_AGRejectFile",
                  "type": "DatabricksNotebook",
                  "dependsOn": [
                    {
                      "activity": "Errors",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "timeout": "12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "notebookPath": "@concat(pipeline().globalParameters.gbl_param_scripts,'/Generic_ADLS_File_Operations')",
                    "baseParameters": {
                      "project": "outbound"
                    }
                  },
                  "linkedServiceName": {
                    "referenceName": "shareddatabricks",
                    "type": "LinkedServiceReference"
                  }
                },
                {
                  "name": "UsrVar_AGRejectFile",
                  "type": "SetVariable",
                  "dependsOn": [
                    {
                      "activity": "ExecCmd_Chk_AGRejectFile",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "variableName": "FileCount",
                    "value": {
                      "type": "Expression",
                      "value": "@string(activity('ExecCmd_Chk_AGRejectFile').output.runOutput)"
                    }
                  }
                }
              ]
            }
          ],
          "defaultActivities": [
            {
              "name": "var_AH_Start_branch_False",
              "type": "SetVariable",
              "dependsOn": [],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "var_AH_Start_branch_False",
                "value": {
                  "type": "Expression",
                  "value": "@string(1)"
                }
              }
            }
          ],
          "on": {
            "type": "Expression",
            "value": "@if(greater(int(variables('FileCount')),0),'1','0')"
          }
        }
      },
      {
        "name": "If_1C",
        "type": "Switch",
        "dependsOn": [
          {
            "activity": "AH_Start",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "cases": [
            {
              "value": "1",
              "activities": [
                {
                  "name": "var_If_1C_branch_True",
                  "type": "SetVariable",
                  "dependsOn": [],
                  "policy": {
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "variableName": "var_If_1C_branch_True",
                    "value": {
                      "type": "Expression",
                      "value": "@string(1)"
                    }
                  }
                },
                {
                  "name": "AH_Reject_File_Email_DAT",
                  "type": "ExecutePipeline",
                  "dependsOn": [
                    {
                      "activity": "var_If_1C_branch_True",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "pipeline": {
                      "referenceName": "Email_Notification",
                      "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                      "recipients": {
                        "value": "@pipeline().globalParameters.gbl_param_EmailSupport",
                        "type": "Expression"
                      },
                      "subject": "Fullfilment Altruista Metadata DB Rejects file",
                      "body": "Fullfilment AG Metadata File failed to process records in attached file, Please identify issue with the records.\n\nSource    =  ALTRUISTA HEALTH\n\nTarget    = COMM TRNSMSN Database ( Fullfilment Broker)\n\nSubject   = Fullfillment\n\nFrequency = Every 30 Mins",
                      "blobFilenames": "@concat(pipeline().globalParameters.gbl_param_environment,'/external/Reject_',pipeline().parameters.AHInboundFile,'_',pipeline().parameters.RunID,'.txt')",
                      "fromemail": {
                        "value": "@pipeline().globalParameters.gbl_param_fromemail",
                        "type": "Expression"
                      },
                      "containerName": {
                        "value": "@pipeline().globalParameters.gbl_param_container_published",
                        "type": "Expression"
                      }
                    }
                  }
                },
                {
                  "name": "AH_Errors",
                  "type": "ExecutePipeline",
                  "dependsOn": [
                    {
                      "activity": "AH_Reject_File_Email_DAT",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "pipeline": {
                      "referenceName": "Email_Notification",
                      "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                      "recipients": {
                        "value": "@pipeline().globalParameters.gbl_param_EmailSupport",
                        "type": "Expression"
                      },
                      "subject": "Fullfilment Altruista Metadata File Errors",
                      "body": "Fullfilment AG Metadata File failed to process records in attached file, Please identify issue with the records.\n\nSource    =  ALTRUISTA HEALTH\n\nTarget    = COMM TRNSMSN Database ( Fullfilment Broker)\n\nSubject   = Fullfillment\n\nFrequency = Every 30 Mins",
                      "blobFilenames": "@concat(pipeline().globalParameters.gbl_param_environment,'/external/Errors_',pipeline().parameters.AHInboundFile,'_',pipeline().parameters.RunID,'.txt')",
                      "fromemail": {
                        "value": "@pipeline().globalParameters.gbl_param_fromemail",
                        "type": "Expression"
                      },
                      "containerName": {
                        "value": "@pipeline().globalParameters.gbl_param_container_published",
                        "type": "Expression"
                      }
                    }
                  }
                }
              ]
            }
          ],
          "defaultActivities": [
            {
              "name": "var_If_1C_branch_False",
              "type": "SetVariable",
              "dependsOn": [],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "var_If_1C_branch_False",
                "value": {
                  "type": "Expression",
                  "value": "@string(1)"
                }
              }
            }
          ],
          "on": {
            "type": "Expression",
            "value": "@if(and(equals(variables('var_AH_Start_branch_True'),'1'),greater(int(variables('FileCount')),1)),'1','0')"
          }
        }
      },
      {
        "name": "If_1C_Continuation",
        "type": "Switch",
        "dependsOn": [
          {
            "activity": "If_1C",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "cases": [
            {
              "value": "1",
              "activities": [
                {
                  "name": "var_If_1C_Continuation_branch_True",
                  "type": "SetVariable",
                  "dependsOn": [],
                  "policy": {
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "variableName": "var_If_1C_Continuation_branch_True",
                    "value": {
                      "type": "Expression",
                      "value": "@string(1)"
                    }
                  }
                },
                {
                  "name": "Mv_AH_Files",
                  "type": "DatabricksNotebook",
                  "dependsOn": [
                    {
                      "activity": "var_If_1C_Continuation_branch_True",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "timeout": "12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "notebookPath": "@concat(pipeline().globalParameters.gbl_param_scripts,'/Generic_ADLS_File_Operations')",
                    "baseParameters": {
                      "project": "outbound"
                    }
                  },
                  "linkedServiceName": {
                    "referenceName": "shareddatabricks",
                    "type": "LinkedServiceReference"
                  }
                }
              ]
            }
          ],
          "defaultActivities": [
            {
              "name": "var_If_1C_Continuation_branch_False",
              "type": "SetVariable",
              "dependsOn": [],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "var_If_1C_Continuation_branch_False",
                "value": {
                  "type": "Expression",
                  "value": "@string(1)"
                }
              }
            }
          ],
          "on": {
            "type": "Expression",
            "value": "@if(and(equals(variables('var_AH_Start_branch_True'),'1'),equals(variables('var_If_1C_branch_True'),'0')),'1','0')"
          }
        }
      },
      {
        "name": "BlueKCCommonFulFmntMetadataFileHistLoad",
        "type": "ExecutePipeline",
        "dependsOn": [],
        "policy": {
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "waitOnCompletion": true,
          "pipeline": {
            "referenceName": "BlueKCCommonFulFmntMetadataFileHistLoad",
            "type": "PipelineReference"
          },
          "parameters": {
            "CommTrnsmsnOwner": {
              "value": "@pipeline().globalParameters.gbl_param_CommTrnsmsnOwner",
              "type": "Expression"
            },
            "CurrentDateAndTime": "@pipeline().parameters.CurrentDateAndTime"
          }
        }
      }
    ]
  }
}