npw-projects-np-projects-bluekc-translated-66e9366f6cca/Sprint_3_4_5/SequenceJobs/Outbound/EdwPMbrPrmcySnapshotCntl.json
{
  "name": "EdwPMbrPrmcySnapshotCntl",
  "type": "Microsoft.DataFactory/factories/pipelines",
  "properties": {
    "folder": {
      "name": "Outbound/Jobs/DataWarehouse/Membership"
    },
    "parameters": {},
    "variables": {
      "JobName": {
        "type": "String",
        "defaultValue": ""
      },
      "GroupName": {
        "type": "String",
        "defaultValue": "CAE Support"
      },
      "Source": {
        "type": "String",
        "defaultValue": "IDS"
      },
      "Target": {
        "type": "String",
        "defaultValue": "EDW"
      },
      "Subject": {
        "type": "String",
        "defaultValue": "P_MBR_PRMCY_SNAPSHOT"
      },
      "Frequency": {
        "type": "String",
        "defaultValue": "MONTHLY"
      },
      "RunDate": {
        "type": "String",
        "defaultValue": ""
      },
      "LinkCount": {
        "type": "String",
        "defaultValue": ""
      },
      "RunCycle": {
        "type": "String",
        "defaultValue": ""
      },
      "PurgeDate": {
        "type": "String",
        "defaultValue": ""
      },
      "ExclusionList": {
        "type": "String",
        "defaultValue": ""
      },
      "RunID": {
        "type": "String",
        "defaultValue": ""
      },
      "PurgeYRMO": {
        "type": "String",
        "defaultValue": ""
      },
      "var_CountChk_branch": {
        "type": "String",
        "defaultValue": ""
      },
      "var_If_1B_branch": {
        "type": "String",
        "defaultValue": ""
      },
      "var_If_2B_branch": {
        "type": "String",
        "defaultValue": ""
      },
      "var_If_2B_Continuation_branch": {
        "type": "String",
        "defaultValue": ""
      },
      "JobLinkCount_a1": {
        "type": "String",
        "defaultValue": ""
      },
      "JobLinkCount_a2": {
        "type": "String",
        "defaultValue": ""
      },
      "JobLinkCount_a3": {
        "type": "String",
        "defaultValue": ""
      },
      "OpenRunCycle_a1": {
        "type": "String",
        "defaultValue": ""
      },
      "OpenRunCycle_a2": {
        "type": "String",
        "defaultValue": ""
      },
      "OpenRunCycle_a3": {
        "type": "String",
        "defaultValue": ""
      },
      "OpenRunCycle_a4": {
        "type": "String",
        "defaultValue": ""
      },
      "OpenRunCycle_a5": {
        "type": "String",
        "defaultValue": ""
      }
    },
    "activities": [
      {
        "name": "set_JobName",
        "type": "SetVariable",
        "userProperties": [],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "typeProperties": {
          "variableName": "JobName",
          "value": {
            "value": "@pipeline().Pipeline",
            "type": "Expression"
          }
        },
        "dependsOn": []
      },
      {
        "name": "FORMAT_DATE_RunDate",
        "type": "DatabricksNotebook",
        "userProperties": [],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/FORMAT.DATE')",
            "type": "Expression"
          },
          "baseParameters": {
            "pInDate": "string('@DATE')",
            "pSource": "DATE",
            "pSourceFormat": "CURRENT",
            "pOutFormat": "CCYY-MM-DD"
          }
        },
        "dependsOn": [
          {
            "activity": "set_JobName",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "name": "set_RunDate",
        "type": "SetVariable",
        "userProperties": [],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "typeProperties": {
          "variableName": "RunDate",
          "value": {
            "value": "@string(activity('FORMAT_DATE_RunDate').output.runOutput)",
            "type": "Expression"
          }
        },
        "dependsOn": [
          {
            "activity": "FORMAT_DATE_RunDate",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "name": "ProcessCheckExtr_EE",
        "type": "Lookup",
        "dependsOn": [
          {
            "activity": "set_RunDate",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "source": {
            "type": "AzureSqlSource",
            "sqlReaderQuery": {
              "value": "WITH db2_data AS (\n    select SUBJ_CD, TRGT_SYS_CD, SRC_SYS_CD\n    from @{pipeline().globalParameters.gbl_param_IDSOwner}.P_RUN_CYC\n    where CYC_STTUS_CD = 'RUNNING'\n       and SUBJ_CD = '@{variables('Subject')}'\n       and TRGT_SYS_CD = '@{variables('Target')}'\n    UNION\n    select SUBJ_CD, TRGT_SYS_CD, SRC_SYS_CD\n    from @{pipeline().globalParameters.gbl_param_IDSOwner}.P_RUN_CYC\n    where CYC_STTUS_CD = 'RUNNING'\n       and SUBJ_CD = '@{variables('Subject')}'\n       and SRC_SYS_CD <> '@{variables('Source')}'\n       and TRGT_SYS_CD = '@{variables('Target')}'\n    UNION\n    select SUBJ_CD, TRGT_SYS_CD, SRC_SYS_CD\n    from @{pipeline().globalParameters.gbl_param_IDSOwner}.P_RUN_CYC\n    where CYC_STTUS_CD = 'RUNNING'\n       and SUBJ_CD = '@{variables('Subject')}'\n       and SRC_SYS_CD = '@{variables('Source')}'\n),\ntransformed_data AS (\n    SELECT SUBJ_CD, SRC_SYS_CD, TRGT_SYS_CD\n    FROM db2_data\n)\nSELECT COUNT(*) as link_count FROM transformed_data",
              "type": "Expression"
            },
            "queryTimeout": "02:00:00",
            "partitionOption": "None"
          },
          "dataset": {
            "referenceName": "ds_ids",
            "type": "DatasetReference",
            "parameters": {
              "param_schema": "@pipeline().globalParameters.gbl_param_IDSOwner",
              "param_table": "P_RUN_CYC"
            }
          }
        }
      },
      {
        "name": "LinkCount_SetVar",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "ProcessCheckExtr_EE",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "LinkCount",
          "value": {
            "value": "@string(activity('ProcessCheckExtr_EE').output.firstRow.link_count)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "Switch_CountChk",
        "type": "Switch",
        "userProperties": [],
        "dependsOn": [
          {
            "activity": "LinkCount_SetVar",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "typeProperties": {
          "on": {
            "value": "if(LinkCount.LinkCount <> 0,1,0)",
            "type": "Expression"
          },
          "cases": [
            {
              "value": "1",
              "activities": [
                {
                  "name": "sv_CountChk_branch_true",
                  "type": "SetVariable",
                  "userProperties": [],
                  "policy": {
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "typeProperties": {
                    "variableName": "var_CountChk_branch",
                    "value": {
                      "value": "1",
                      "type": "Expression"
                    }
                  },
                  "dependsOn": []
                },
                {
                  "name": "Email",
                  "type": "ExecutePipeline",
                  "userProperties": [],
                  "policy": {
                    "secureInput": false
                  },
                  "typeProperties": {
                    "pipeline": {
                      "referenceName": "Email_Notification",
                      "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                      "recipients": {
                        "value": "@pipeline().globalParameters.gbl_param_EmailSupport",
                        "type": "Expression"
                      },
                      "subject": "EDW P_MBR_PRMCY_SNAPSHOT Table Load Process Abort",
                      "body": "The P_MBR_PRMCY_SNAPSHOT table load process can not run while another instance of the job in the P_RUN_CYCLE is open as running.\n\nEdwPMbrPrmcySnapshotCntl used the following values when doing the ProcessCheckExtr:\n\nSubject: P_MBR_PRMCY_SNAPSHOT\nSource: IDS\nTarget: EDW",
                      "blobFilenames": "",
                      "fromemail": {
                        "value": "@pipeline().globalParameters.gbl_param_fromemail",
                        "type": "Expression"
                      },
                      "containerName": ""
                    }
                  },
                  "dependsOn": [
                    {
                      "activity": "sv_CountChk_branch_true",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ]
                }
              ]
            }
          ],
          "defaultActivities": [
            {
              "name": "sv_CountChk_branch_false",
              "type": "SetVariable",
              "userProperties": [],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "typeProperties": {
                "variableName": "var_CountChk_branch",
                "value": {
                  "value": "0",
                  "type": "Expression"
                }
              },
              "dependsOn": []
            },
            {
              "name": "OpenRunCycle_Notebook",
              "type": "DatabricksNotebook",
              "userProperties": [],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/OpenRunCycle')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "DBOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                    "type": "Expression"
                  },
                  "Source": {
                    "value": "@variables('Source')",
                    "type": "Expression"
                  },
                  "Target": {
                    "value": "@variables('Target')",
                    "type": "Expression"
                  },
                  "Subject": {
                    "value": "@variables('Subject')",
                    "type": "Expression"
                  },
                  "Frequency": {
                    "value": "@variables('Frequency')",
                    "type": "Expression"
                  }
                }
              },
              "dependsOn": [
                {
                  "activity": "sv_CountChk_branch_false",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ]
            },
            {
              "name": "set_RunCycle",
              "type": "SetVariable",
              "userProperties": [],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "typeProperties": {
                "variableName": "RunCycle",
                "value": {
                  "value": "@string(activity('OpenRunCycle_Notebook').output.runOutput)",
                  "type": "Expression"
                }
              },
              "dependsOn": [
                {
                  "activity": "OpenRunCycle_Notebook",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ]
            },
            {
              "name": "FIND_DATE_PurgeDate",
              "type": "DatabricksNotebook",
              "userProperties": [],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/FIND.DATE')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "Start": {
                    "value": "@variables('RunDate')",
                    "type": "Expression"
                  },
                  "Num": "-59",
                  "Unit": "M",
                  "DayOf": "F",
                  "Output": "CCYY-MM-DD"
                }
              },
              "dependsOn": [
                {
                  "activity": "set_RunCycle",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ]
            },
            {
              "name": "set_PurgeDate",
              "type": "SetVariable",
              "userProperties": [],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "typeProperties": {
                "variableName": "PurgeDate",
                "value": {
                  "value": "@string(activity('FIND_DATE_PurgeDate').output.runOutput)",
                  "type": "Expression"
                }
              },
              "dependsOn": [
                {
                  "activity": "FIND_DATE_PurgeDate",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ]
            },
            {
              "name": "ExclusionListExtr_EE",
              "type": "ExecutePipeline",
              "userProperties": [],
              "policy": {
                "secureInput": false
              },
              "typeProperties": {
                "pipeline": {
                  "referenceName": "ExclusionListExtr_EE",
                  "type": "PipelineReference"
                },
                "waitOnCompletion": true,
                "parameters": {
                  "IDSOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "ids_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                    "type": "Expression"
                  },
                  "Subject": {
                    "value": "@variables('JobName')",
                    "type": "Expression"
                  }
                }
              },
              "dependsOn": [
                {
                  "activity": "set_PurgeDate",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ]
            },
            {
              "name": "WriteRunID_Notebook",
              "type": "DatabricksNotebook",
              "userProperties": [],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/WriteRunID')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "entry_name": {
                    "value": "@concat(variables('JobName'),':','RunID')",
                    "type": "Expression"
                  },
                  "GlobalEnvironment": {
                    "value": "@pipeline().globalParameters.gbl_param_environment",
                    "type": "Expression"
                  },
                  "secret_name": {
                    "value": "",
                    "type": "Expression"
                  },
                  "IDSOwner": {
                    "value": "",
                    "type": "Expression"
                  }
                }
              },
              "dependsOn": [
                {
                  "activity": "ExclusionListExtr_EE",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ]
            },
            {
              "name": "set_RunID",
              "type": "SetVariable",
              "userProperties": [],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "typeProperties": {
                "variableName": "RunID",
                "value": {
                  "value": "@string(activity('WriteRunID_Notebook').output.runOutput)",
                  "type": "Expression"
                }
              },
              "dependsOn": [
                {
                  "activity": "WriteRunID_Notebook",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ]
            },
            {
              "name": "ReadExclusionListFile_Notebook",
              "type": "DatabricksNotebook",
              "userProperties": [],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_scripts,'/Generic_ADLS_File_Operations')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "src_file_with_path": {
                    "value": "/_TASK_EXCL.dat",
                    "type": "Expression"
                  },
                  "command": "cat",
                  "cut_column_index": "2",
                  "project": "outbound"
                }
              },
              "dependsOn": [
                {
                  "activity": "set_RunID",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ]
            },
            {
              "name": "set_ExclusionList",
              "type": "SetVariable",
              "userProperties": [],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "typeProperties": {
                "variableName": "ExclusionList",
                "value": {
                  "value": "@string(activity('ReadExclusionListFile_Notebook').output.runOutput)",
                  "type": "Expression"
                }
              },
              "dependsOn": [
                {
                  "activity": "ReadExclusionListFile_Notebook",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ]
            },
            {
              "name": "GetRunInfo_Notebook",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "set_ExclusionList",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/GetRunInfo')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "job_name": {
                    "value": "@concat(variables('JobName'),':','RunID')",
                    "type": "Expression"
                  },
                  "secret_name": {
                    "value": "",
                    "type": "Expression"
                  },
                  "IDSOwner": {
                    "value": "",
                    "type": "Expression"
                  }
                }
              }
            },
            {
              "name": "set_RunID_From_GetRunInfo",
              "type": "SetVariable",
              "dependsOn": [
                {
                  "activity": "GetRunInfo_Notebook",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "typeProperties": {
                "variableName": "RunID",
                "value": {
                  "value": "@string(activity('GetRunInfo_Notebook').output.runOutput)",
                  "type": "Expression"
                }
              }
            },
            {
              "name": "set_PurgeYRMO",
              "type": "SetVariable",
              "userProperties": [],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "typeProperties": {
                "variableName": "PurgeYRMO",
                "value": {
                  "value": "@concat(substring(variables('PurgeDate'),0,4),substring(variables('PurgeDate'),5,2))",
                  "type": "Expression"
                }
              },
              "dependsOn": [
                {
                  "activity": "set_RunID_From_GetRunInfo",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ]
            },
            {
              "name": "ExclusionListDelete_EE",
              "type": "ExecutePipeline",
              "userProperties": [],
              "policy": {
                "secureInput": false
              },
              "typeProperties": {
                "pipeline": {
                  "referenceName": "ExclusionListDelete_EE",
                  "type": "PipelineReference"
                },
                "waitOnCompletion": true,
                "parameters": {
                  "IDSOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "ids_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                    "type": "Expression"
                  },
                  "Subject": {
                    "value": "@variables('JobName')",
                    "type": "Expression"
                  }
                }
              },
              "dependsOn": [
                {
                  "activity": "set_PurgeYRMO",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ]
            }
          ]
        }
      },
      {
        "name": "Switch_If_1B",
        "type": "Switch",
        "userProperties": [],
        "dependsOn": [
          {
            "activity": "Switch_CountChk",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "typeProperties": {
          "on": {
            "value": "@if(and(equals(variables('var_CountChk_branch'), '0'), not(contains(split(variables('ExclusionList'), ';'), 'IdsEdwPMbrPrmcySnapshotExtr'))),'1','0')",
            "type": "Expression"
          },
          "cases": [
            {
              "value": "1",
              "activities": [
                {
                  "name": "sv_If_1B_branch_true",
                  "type": "SetVariable",
                  "userProperties": [],
                  "policy": {
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "typeProperties": {
                    "variableName": "var_If_1B_branch",
                    "value": {
                      "value": "1",
                      "type": "Expression"
                    }
                  },
                  "dependsOn": []
                },
                {
                  "name": "IdsEdwPMbrPrmcySnapshotExtr",
                  "type": "ExecutePipeline",
                  "userProperties": [],
                  "policy": {
                    "secureInput": false
                  },
                  "typeProperties": {
                    "pipeline": {
                      "referenceName": "IdsEdwPMbrPrmcySnapshotExtr",
                      "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                      "IDSOwner": {
                        "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                        "type": "Expression"
                      },
                      "ids_secret_name": {
                        "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                        "type": "Expression"
                      },
                      "RunDate": {
                        "value": "@variables('RunDate')",
                        "type": "Expression"
                      }
                    }
                  },
                  "dependsOn": [
                    {
                      "activity": "sv_If_1B_branch_true",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ]
                }
              ]
            }
          ],
          "defaultActivities": [
            {
              "name": "sv_If_1B_branch_false",
              "type": "SetVariable",
              "userProperties": [],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "typeProperties": {
                "variableName": "var_If_1B_branch",
                "value": {
                  "value": "0",
                  "type": "Expression"
                }
              },
              "dependsOn": []
            }
          ]
        }
      },
      {
        "name": "Switch_If_2B",
        "type": "Switch",
        "userProperties": [],
        "dependsOn": [
          {
            "activity": "Switch_If_1B",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "typeProperties": {
          "on": {
            "value": "@if(and(equals(variables('var_CountChk_branch'),'0'), not(contains(split(variables('ExclusionList'), ';'), 'IdsEdwPMbrPrmcySnapshotLoad'))),'1','0')",
            "type": "Expression"
          },
          "cases": [
            {
              "value": "1",
              "activities": [
                {
                  "name": "sv_If_2B_branch_true",
                  "type": "SetVariable",
                  "userProperties": [],
                  "policy": {
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "typeProperties": {
                    "variableName": "var_If_2B_branch",
                    "value": {
                      "value": "1",
                      "type": "Expression"
                    }
                  },
                  "dependsOn": []
                },
                {
                  "name": "IdsEdwPMbrPrmcySnapshotLoad",
                  "type": "ExecutePipeline",
                  "userProperties": [],
                  "policy": {
                    "secureInput": false
                  },
                  "typeProperties": {
                    "pipeline": {
                      "referenceName": "IdsEdwPMbrPrmcySnapshotLoad",
                      "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                      "EDWOwner": {
                        "value": "@pipeline().globalParameters.gbl_param_EDWOwner",
                        "type": "Expression"
                      },
                      "edw_secret_name": {
                        "value": "@pipeline().globalParameters.gbl_param_EDWSecret",
                        "type": "Expression"
                      },
                      "PurgeYRMO": {
                        "value": "@variables('PurgeYRMO')",
                        "type": "Expression"
                      }
                    }
                  },
                  "dependsOn": [
                    {
                      "activity": "sv_If_2B_branch_true",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ]
                }
              ]
            }
          ],
          "defaultActivities": [
            {
              "name": "sv_If_2B_branch_false",
              "type": "SetVariable",
              "userProperties": [],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "typeProperties": {
                "variableName": "var_If_2B_branch",
                "value": {
                  "value": "0",
                  "type": "Expression"
                }
              },
              "dependsOn": []
            }
          ]
        }
      },
      {
        "name": "Switch_If_2B_Continuation",
        "type": "Switch",
        "userProperties": [],
        "dependsOn": [
          {
            "activity": "Switch_If_2B",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "typeProperties": {
          "on": {
            "value": "@if(equals(variables('var_CountChk_branch'),'0'),'1','0')",
            "type": "Expression"
          },
          "cases": [
            {
              "value": "1",
              "activities": [
                {
                  "name": "sv_If_2B_Continuation_branch_true",
                  "type": "SetVariable",
                  "userProperties": [],
                  "policy": {
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "typeProperties": {
                    "variableName": "var_If_2B_Continuation_branch",
                    "value": {
                      "value": "1",
                      "type": "Expression"
                    }
                  },
                  "dependsOn": []
                },
                {
                  "name": "CloseRunCycle_Notebook",
                  "type": "DatabricksNotebook",
                  "userProperties": [],
                  "policy": {
                    "timeout": "12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "linkedServiceName": {
                    "referenceName": "shareddatabricks",
                    "type": "LinkedServiceReference"
                  },
                  "typeProperties": {
                    "notebookPath": {
                      "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/CloseRunCycle')",
                      "type": "Expression"
                    },
                    "baseParameters": {
                      "DBOwner": {
                        "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                        "type": "Expression"
                      },
                      "secret_name": {
                        "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                        "type": "Expression"
                      },
                      "SrcSystem": {
                        "value": "@variables('Source')",
                        "type": "Expression"
                      },
                      "TrgtSystem": {
                        "value": "@variables('Target')",
                        "type": "Expression"
                      },
                      "SubjCode": {
                        "value": "@variables('Subject')",
                        "type": "Expression"
                      },
                      "FreqCode": {
                        "value": "@variables('Frequency')",
                        "type": "Expression"
                      },
                      "RunCycle": {
                        "value": "@variables('RunCycle')",
                        "type": "Expression"
                      },
                      "GlobalEnvironment": {
                        "value": "@pipeline().globalParameters.gbl_param_environment",
                        "type": "Expression"
                      }
                    }
                  },
                  "dependsOn": [
                    {
                      "activity": "sv_If_2B_Continuation_branch_true",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ]
                }
              ]
            }
          ],
          "defaultActivities": [
            {
              "name": "sv_If_2B_Continuation_branch_false",
              "type": "SetVariable",
              "userProperties": [],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "typeProperties": {
                "variableName": "var_If_2B_Continuation_branch",
                "value": {
                  "value": "0",
                  "type": "Expression"
                }
              },
              "dependsOn": []
            }
          ]
        }
      }
    ]
  }
}