npw-projects-np-projects-bluekc-translated-66e9366f6cca/Sprint_3_4_5/SequenceJobs/Integrate/BCAFEPMedClmLandSeq.json
{
  "name": "BCAFEPMedClmLandSeq",
  "type": "Microsoft.DataFactory/factories/pipelines",
  "properties": {
    "folder": {
      "name": "Integrate/Jobs/claim/SeqBCA/MedClaim"
    },
    "parameters": {
      "CurrentDate": {
        "type": "String",
        "defaultValue": ""
      },
      "RunCycle": {
        "type": "String",
        "defaultValue": ""
      },
      "ExclusionList": {
        "type": "String",
        "defaultValue": ""
      },
      "RunID": {
        "type": "String",
        "defaultValue": ""
      },
      "SrcSysCd": {
        "type": "String",
        "defaultValue": "BCA"
      },
      "SrcSysCdSK": {
        "type": "String",
        "defaultValue": ""
      },
      "Logging": {
        "type": "String",
        "defaultValue": ""
      },
      "EmailNotify": {
        "type": "String",
        "defaultValue": ""
      },
      "Email_Business": {
        "type": "String",
        "defaultValue": ""
      },
      "Environment": {
        "type": "String",
        "defaultValue": ""
      },
      "GrouperTable": {
        "type": "String",
        "defaultValue": ""
      },
      "TableID": {
        "type": "String",
        "defaultValue": ""
      },
      "InFile": {
        "type": "String",
        "defaultValue": ""
      }
    },
    "variables": {
      "CurrDateMinus3Years": {
        "type": "String",
        "defaultValue": ""
      },
      "LinkCount": {
        "type": "String",
        "defaultValue": ""
      }
    },
    "activities": [
      {
        "name": "If_1A",
        "type": "IfCondition",
        "dependsOn": [],
        "userProperties": [],
        "typeProperties": {
          "expression": {
            "value": "@equals(contains(split(string(pipeline().parameters.ExclusionList), ';'), 'BCAFEPMedClmPreProcExtr'), false)",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "name": "FINDDATE_for_CurrDateMinus3Years",
              "type": "DatabricksNotebook",
              "dependsOn": [],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "userProperties": [],
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/FIND.DATE')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "Start": {
                    "value": "@pipeline().parameters.CurrentDate",
                    "type": "Expression"
                  },
                  "Num": "-36",
                  "Unit": "M",
                  "DayOf": "X",
                  "Output": "CCYY-MM-DD",
                  "GlobalEnvironment": {
                    "value": "@pipeline().globalParameters.gbl_param_environment",
                    "type": "Expression"
                  }
                }
              }
            },
            {
              "name": "SetCurrDateMinus3Years",
              "type": "SetVariable",
              "dependsOn": [
                {
                  "activity": "FINDDATE_for_CurrDateMinus3Years",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "CurrDateMinus3Years",
                "value": {
                  "value": "@string(activity('FINDDATE_for_CurrDateMinus3Years').output.runOutput)",
                  "type": "Expression"
                }
              }
            },
            {
              "name": "BCAFEPMedClmPreProcExtr",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "SetCurrDateMinus3Years",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "userProperties": [],
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_notebook_path, '/claim/claim/BCA/MedClaim/BCAFEPMedClmPreProcExtr')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "RunID": {
                    "value": "@pipeline().parameters.RunID",
                    "type": "Expression"
                  },
                  "IDSOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "ids_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                    "type": "Expression"
                  },
                  "CurrDate": {
                    "value": "@pipeline().parameters.CurrentDate",
                    "type": "Expression"
                  },
                  "InFile": {
                    "value": "@pipeline().parameters.InFile",
                    "type": "Expression"
                  },
                  "CurrDateMinus3Years": {
                    "value": "@variables('CurrDateMinus3Years')",
                    "type": "Expression"
                  }
                }
              }
            }
          ],
          "ifFalseActivities": []
        }
      },
      {
        "name": "If_1B",
        "type": "IfCondition",
        "dependsOn": [
          {
            "activity": "If_1A",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "expression": {
            "value": "@equals(contains(split(string(pipeline().parameters.ExclusionList), ';'), 'LoadWDrugEnr'), false)",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "name": "LoadWDrugEnr",
              "type": "DatabricksNotebook",
              "dependsOn": [],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "userProperties": [],
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/DB.LOAD')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "table": "W_DRUG_ENR",
                  "action": "REPLACE",
                  "file_name": "W_DRUG_ENR.dat",
                  "run_stat": "N",
                  "owner": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                    "type": "Expression"
                  },
                  "GlobalEnvironment": {
                    "value": "@pipeline().globalParameters.gbl_param_environment",
                    "type": "Expression"
                  },
                  "EnvProjectPath": {
                    "value": "",
                    "type": "Expression"
                  },
                  "file_path": {
                    "value": "",
                    "type": "Expression"
                  }
                }
              }
            }
          ],
          "ifFalseActivities": []
        }
      },
      {
        "name": "If_2A",
        "type": "IfCondition",
        "dependsOn": [
          {
            "activity": "If_1B",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "expression": {
            "value": "@equals(contains(split(string(pipeline().parameters.ExclusionList), ';'), 'BCAFEPMedClmPKExtr'), false)",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "name": "BCAFEPMedClmPKExtr",
              "type": "DatabricksNotebook",
              "dependsOn": [],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "userProperties": [],
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_notebook_path, '/claim/claim/BCA/MedClaim/BCAFEPMedClmPKExtr')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "SrcSysCd": {
                    "value": "@pipeline().parameters.SrcSysCd",
                    "type": "Expression"
                  },
                  "SrcSysCdSK": {
                    "value": "@pipeline().parameters.SrcSysCdSK",
                    "type": "Expression"
                  },
                  "CurrRunCycle": {
                    "value": "@pipeline().parameters.RunCycle",
                    "type": "Expression"
                  },
                  "RunID": {
                    "value": "@pipeline().parameters.RunID",
                    "type": "Expression"
                  },
                  "IDSOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "ids_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                    "type": "Expression"
                  }
                }
              }
            }
          ],
          "ifFalseActivities": []
        }
      },
      {
        "name": "If_2B",
        "type": "IfCondition",
        "dependsOn": [
          {
            "activity": "If_2A",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "expression": {
            "value": "@equals(contains(split(string(pipeline().parameters.ExclusionList), ';'), 'BCAFEPMedClmLnPKExtr'), false)",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "name": "BCAFEPMedClmLnPKExtr",
              "type": "DatabricksNotebook",
              "dependsOn": [],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "userProperties": [],
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_notebook_path, '/claim/ClaimLine/ClmLn/BCA/MedClmLn/BCAFEPMedClmLnPKExtr')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "SrcSysCd": {
                    "value": "@pipeline().parameters.SrcSysCd",
                    "type": "Expression"
                  },
                  "SrcSysCdSK": {
                    "value": "@pipeline().parameters.SrcSysCdSK",
                    "type": "Expression"
                  },
                  "CurrRunCycle": {
                    "value": "@pipeline().parameters.RunCycle",
                    "type": "Expression"
                  },
                  "RunID": {
                    "value": "@pipeline().parameters.RunID",
                    "type": "Expression"
                  },
                  "IDSOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "ids_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                    "type": "Expression"
                  }
                }
              }
            }
          ],
          "ifFalseActivities": []
        }
      },
      {
        "name": "If_3A",
        "type": "IfCondition",
        "dependsOn": [
          {
            "activity": "If_2B",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "expression": {
            "value": "@equals(contains(split(string(pipeline().parameters.ExclusionList), ';'), 'BCAFEPMedClmExtrSeq'), false)",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "name": "BCAFEPMedClmExtrSeq",
              "type": "ExecutePipeline",
              "dependsOn": [],
              "policy": {
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "pipeline": {
                  "referenceName": "BCAFEPMedClmExtrSeq",
                  "type": "PipelineReference"
                },
                "parameters": {
                  "CurrRunCycle": {
                    "value": "@pipeline().parameters.RunCycle",
                    "type": "Expression"
                  },
                  "ExclusionList": {
                    "value": "@pipeline().parameters.ExclusionList",
                    "type": "Expression"
                  },
                  "RunID": {
                    "value": "@pipeline().parameters.RunID",
                    "type": "Expression"
                  },
                  "CurrentDate": {
                    "value": "@pipeline().parameters.CurrentDate",
                    "type": "Expression"
                  },
                  "SrcSysCdSk": {
                    "value": "@pipeline().parameters.SrcSysCdSK",
                    "type": "Expression"
                  },
                  "SrcSysCd": {
                    "value": "@pipeline().parameters.SrcSysCd",
                    "type": "Expression"
                  },
                  "IDSOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "ids_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                    "type": "Expression"
                  },
                  "FacetsOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_FacetsOwner",
                    "type": "Expression"
                  },
                  "facets_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_FacetsSecret",
                    "type": "Expression"
                  },
                  "GrouperTable": {
                    "value": "@pipeline().parameters.GrouperTable",
                    "type": "Expression"
                  },
                  "IngenixDRGFilePath": {
                    "value": "@pipeline().globalParameters.gbl_param_IngenixDRGFilePath",
                    "type": "Expression"
                  },
                  "TableID": {
                    "value": "@pipeline().parameters.TableID",
                    "type": "Expression"
                  }
                },
                "waitOnCompletion": true
              }
            }
          ],
          "ifFalseActivities": []
        }
      },
      {
        "name": "If_3B",
        "type": "IfCondition",
        "dependsOn": [
          {
            "activity": "If_3A",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "expression": {
            "value": "@equals(contains(split(string(pipeline().parameters.ExclusionList), ';'), 'BCAFEPMedClmLnExtrSeq'), false)",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "name": "BCAFEPMedClmLnExtrSeq",
              "type": "ExecutePipeline",
              "dependsOn": [],
              "policy": {
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "pipeline": {
                  "referenceName": "BCAFEPMedClmLnExtrSeq",
                  "type": "PipelineReference"
                },
                "parameters": {
                  "RunCycle": {
                    "value": "@pipeline().parameters.RunCycle",
                    "type": "Expression"
                  },
                  "RunID": {
                    "value": "@pipeline().parameters.RunID",
                    "type": "Expression"
                  },
                  "ExclusionList": {
                    "value": "@pipeline().parameters.ExclusionList",
                    "type": "Expression"
                  },
                  "CurrentDate": {
                    "value": "@pipeline().parameters.CurrentDate",
                    "type": "Expression"
                  },
                  "SrcSysCd": {
                    "value": "@pipeline().parameters.SrcSysCd",
                    "type": "Expression"
                  },
                  "SrcSysCdSk": {
                    "value": "@pipeline().parameters.SrcSysCdSK",
                    "type": "Expression"
                  },
                  "IDSOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "ids_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                    "type": "Expression"
                  },
                  "FacetsOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_FacetsOwner",
                    "type": "Expression"
                  },
                  "facets_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_FacetsSecret",
                    "type": "Expression"
                  }
                },
                "waitOnCompletion": true
              }
            }
          ],
          "ifFalseActivities": []
        }
      },
      {
        "name": "BCAFEPMedClmLandSeq1",
        "type": "ExecutePipeline",
        "dependsOn": [
          {
            "activity": "If_3B",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "pipeline": {
            "referenceName": "BCAFEPMedClmLandSeq1",
            "type": "PipelineReference"
          },
          "parameters": {
            "CurrentDate": {
              "value": "@pipeline().parameters.CurrentDate",
              "type": "Expression"
            },
            "RunCycle": {
              "value": "@pipeline().parameters.RunCycle",
              "type": "Expression"
            },
            "ExclusionList": {
              "value": "@pipeline().parameters.ExclusionList",
              "type": "Expression"
            },
            "RunID": {
              "value": "@pipeline().parameters.RunID",
              "type": "Expression"
            },
            "SrcSysCd": {
              "value": "@pipeline().parameters.SrcSysCd",
              "type": "Expression"
            },
            "SrcSysCdSK": {
              "value": "@pipeline().parameters.SrcSysCdSK",
              "type": "Expression"
            },
            "IDSOwner": {
              "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
              "type": "Expression"
            },
            "ids_secret_name": {
              "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
              "type": "Expression"
            },
            "Logging": {
              "value": "@pipeline().parameters.Logging",
              "type": "Expression"
            },
            "EmailNotify": {
              "value": "@pipeline().parameters.EmailNotify",
              "type": "Expression"
            },
            "Email_Business": {
              "value": "@pipeline().parameters.Email_Business",
              "type": "Expression"
            },
            "Environment": {
              "value": "@pipeline().parameters.Environment",
              "type": "Expression"
            },
            "FacetsOwner": {
              "value": "@pipeline().globalParameters.gbl_param_FacetsOwner",
              "type": "Expression"
            },
            "facets_secret_name": {
              "value": "@pipeline().globalParameters.gbl_param_FacetsSecret",
              "type": "Expression"
            },
            "IngenixDRGFilePath": {
              "value": "@pipeline().globalParameters.gbl_param_IngenixDRGFilePath",
              "type": "Expression"
            },
            "GrouperTable": {
              "value": "@pipeline().parameters.GrouperTable",
              "type": "Expression"
            },
            "TableID": {
              "value": "@pipeline().parameters.TableID",
              "type": "Expression"
            },
            "InFile": {
              "value": "@pipeline().parameters.InFile",
              "type": "Expression"
            }
          },
          "waitOnCompletion": true
        }
      },
      {
        "name": "If_2C",
        "type": "IfCondition",
        "dependsOn": [
          {
            "activity": "If_2A",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "expression": {
            "value": "@equals(contains(split(string(pipeline().parameters.ExclusionList), ';'), 'LoadKClm'), false)",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "name": "LoadKClm",
              "type": "DatabricksNotebook",
              "dependsOn": [],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "userProperties": [],
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/DB.LOAD')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "table": "K_CLM",
                  "action": "UPDATE",
                  "file_name": "K_CLM.dat",
                  "run_stat": "N",
                  "owner": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                    "type": "Expression"
                  },
                  "GlobalEnvironment": {
                    "value": "@pipeline().globalParameters.gbl_param_environment",
                    "type": "Expression"
                  },
                  "EnvProjectPath": {
                    "value": "",
                    "type": "Expression"
                  },
                  "file_path": {
                    "value": "",
                    "type": "Expression"
                  }
                }
              }
            }
          ],
          "ifFalseActivities": []
        }
      },
      {
        "name": "If_2D",
        "type": "IfCondition",
        "dependsOn": [
          {
            "activity": "If_2B",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "expression": {
            "value": "@equals(contains(split(string(pipeline().parameters.ExclusionList), ';'), 'LoadKClmLn'), false)",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "name": "LoadKClmLn",
              "type": "DatabricksNotebook",
              "dependsOn": [],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "userProperties": [],
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/DB.LOAD')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "table": "K_CLM_LN",
                  "action": "UPDATE",
                  "file_name": "K_CLM_LN.dat",
                  "run_stat": "N",
                  "owner": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                    "type": "Expression"
                  },
                  "GlobalEnvironment": {
                    "value": "@pipeline().globalParameters.gbl_param_environment",
                    "type": "Expression"
                  },
                  "EnvProjectPath": {
                    "value": "",
                    "type": "Expression"
                  },
                  "file_path": {
                    "value": "",
                    "type": "Expression"
                  }
                }
              }
            }
          ],
          "ifFalseActivities": []
        }
      }
    ]
  }
}