npw-projects-np-projects-bluekc-translated-66e9366f6cca/Sprint_3_4_5/SequenceJobs/Integrate/BCAFEPBalancingClmRowCntSeq.json
{
  "name": "BCAFEPBalancingClmRowCntSeq",
  "type": "Microsoft.DataFactory/factories/pipelines",
  "properties": {
    "folder": {
      "name": "Integrate/Jobs/claim/SeqBalancing"
    },
    "parameters": {
      "RunCycle": {
        "type": "String",
        "defaultValue": ""
      },
      "RunID": {
        "type": "String",
        "defaultValue": ""
      },
      "ExclusionList": {
        "type": "String",
        "defaultValue": ""
      },
      "CurrentDate": {
        "type": "String",
        "defaultValue": ""
      }
    },
    "variables": {
      "ToleranceCd_ClmRowBalance": {
        "type": "String",
        "defaultValue": ""
      },
      "ToleranceCd_ClmProvRowBalance": {
        "type": "String",
        "defaultValue": ""
      },
      "ToleranceCd_ClmDiagRowBalance": {
        "type": "String",
        "defaultValue": ""
      },
      "ToleranceCd_FcltyClmRowBalance": {
        "type": "String",
        "defaultValue": ""
      },
      "ToleranceCd_FcltyClmProcRowBalance": {
        "type": "String",
        "defaultValue": ""
      },
      "ToleranceCd_ClmLnRowBalance": {
        "type": "String",
        "defaultValue": ""
      },
      "ToleranceCd_ClmLnDiagRowBalance": {
        "type": "String",
        "defaultValue": ""
      },
      "ToleranceCd_ClmLnProcCdModRowBalance": {
        "type": "String",
        "defaultValue": ""
      },
      "LinkCount": {
        "type": "String",
        "defaultValue": ""
      }
    },
    "activities": [
      {
        "name": "If_1A",
        "type": "IfCondition",
        "dependsOn": [],
        "userProperties": [],
        "typeProperties": {
          "expression": {
            "value": "@equals(contains(split(pipeline().parameters.ExclusionList, ';'), 'ClmRowBalance'), false)",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "name": "GetRowCtTlrnc_ClmRowBalance",
              "type": "DatabricksNotebook",
              "dependsOn": [],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/GetRowCtTlrnc')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "GetRowCtTlrnc_a1": {
                    "value": "@pipeline().globalParameters.gbl_param_UWSOwner",
                    "type": "Expression"
                  },
                  "GetRowCtTlrnc_a2": "CLM",
                  "GetRowCtTlrnc_a3": "Claims",
                  "owner_schema": {
                    "value": "@pipeline().globalParameters.gbl_param_UWSOwner",
                    "type": "Expression"
                  },
                  "secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_UWSSecret",
                    "type": "Expression"
                  },
                  "GlobalEnvironment": {
                    "value": "@pipeline().globalParameters.gbl_param_environment",
                    "type": "Expression"
                  },
                  "TargetTable": {
                    "value": "",
                    "type": "Expression"
                  },
                  "SubjectArea": {
                    "value": "",
                    "type": "Expression"
                  }
                }
              }
            },
            {
              "name": "SetVariable_ClmRowBalance_ToleranceCd",
              "type": "SetVariable",
              "dependsOn": [
                {
                  "activity": "GetRowCtTlrnc_ClmRowBalance",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "ToleranceCd_ClmRowBalance",
                "value": {
                  "value": "@string(activity('GetRowCtTlrnc_ClmRowBalance').output.runOutput)",
                  "type": "Expression"
                }
              }
            },
            {
              "name": "ClmRowBalance",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "SetVariable_ClmRowBalance_ToleranceCd",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_notebook_path, '/claim/Balancing/ClmRowCntBal')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "RunID": {
                    "value": "@pipeline().parameters.RunID",
                    "type": "Expression"
                  },
                  "ToleranceCd": {
                    "value": "@variables('ToleranceCd_ClmRowBalance')",
                    "type": "Expression"
                  },
                  "IDSOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "ids_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                    "type": "Expression"
                  },
                  "ExtrRunCycle": {
                    "value": "@pipeline().parameters.RunCycle",
                    "type": "Expression"
                  },
                  "TrgtTable": "CLM",
                  "SrcTable": "B_CLM",
                  "NotifyMessage": "ROW COUNT BALANCING BCA FEP MED - IDS CLAIM OUT OF TOLERANCE",
                  "UWSOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_UWSOwner",
                    "type": "Expression"
                  },
                  "uws_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_UWSSecret",
                    "type": "Expression"
                  },
                  "SubjectArea": "Claims",
                  "CurrentDate": {
                    "value": "@pipeline().parameters.CurrentDate",
                    "type": "Expression"
                  },
                  "GlobalEnvironment": {
                    "value": "@pipeline().globalParameters.gbl_param_environment",
                    "type": "Expression"
                  }
                }
              }
            }
          ],
          "ifFalseActivities": []
        }
      },
      {
        "name": "If_1B",
        "type": "IfCondition",
        "dependsOn": [
          {
            "activity": "If_1A",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "expression": {
            "value": "@equals(contains(split(pipeline().parameters.ExclusionList, ';'), 'ClmProvRowBalance'), false)",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "name": "GetRowCtTlrnc_ClmProvRowBalance",
              "type": "DatabricksNotebook",
              "dependsOn": [],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/GetRowCtTlrnc')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "GetRowCtTlrnc_a1": {
                    "value": "@pipeline().globalParameters.gbl_param_UWSOwner",
                    "type": "Expression"
                  },
                  "GetRowCtTlrnc_a2": "CLM_PROV",
                  "GetRowCtTlrnc_a3": "Claims",
                  "owner_schema": {
                    "value": "@pipeline().globalParameters.gbl_param_UWSOwner",
                    "type": "Expression"
                  },
                  "secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_UWSSecret",
                    "type": "Expression"
                  },
                  "GlobalEnvironment": {
                    "value": "@pipeline().globalParameters.gbl_param_environment",
                    "type": "Expression"
                  },
                  "TargetTable": {
                    "value": "",
                    "type": "Expression"
                  },
                  "SubjectArea": {
                    "value": "",
                    "type": "Expression"
                  }
                }
              }
            },
            {
              "name": "SetVariable_ClmProvRowBalance_ToleranceCd",
              "type": "SetVariable",
              "dependsOn": [
                {
                  "activity": "GetRowCtTlrnc_ClmProvRowBalance",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "ToleranceCd_ClmProvRowBalance",
                "value": {
                  "value": "@string(activity('GetRowCtTlrnc_ClmProvRowBalance').output.runOutput)",
                  "type": "Expression"
                }
              }
            },
            {
              "name": "ClmProvRowBalance",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "SetVariable_ClmProvRowBalance_ToleranceCd",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_notebook_path, '/claim/Balancing/ClmExtraColumnRowCntBal')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "RunID": {
                    "value": "@pipeline().parameters.RunID",
                    "type": "Expression"
                  },
                  "ToleranceCd": {
                    "value": "@variables('ToleranceCd_ClmProvRowBalance')",
                    "type": "Expression"
                  },
                  "IDSOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "ids_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                    "type": "Expression"
                  },
                  "ExtrRunCycle": {
                    "value": "@pipeline().parameters.RunCycle",
                    "type": "Expression"
                  },
                  "TrgtTable": "CLM_PROV",
                  "SrcTable": "B_CLM_PROV",
                  "NotifyMessage": "ROW COUNT BALANCING BCA FEP MED - IDS CLAIM PROVIDER OUT OF TOLERANCE",
                  "UWSOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_UWSOwner",
                    "type": "Expression"
                  },
                  "uws_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_UWSSecret",
                    "type": "Expression"
                  },
                  "SubjectArea": "Claims",
                  "CurrentDate": {
                    "value": "@pipeline().parameters.CurrentDate",
                    "type": "Expression"
                  },
                  "ExtraColumn": "CLM_PROV_ROLE_TYP_CD_SK",
                  "GlobalEnvironment": {
                    "value": "@pipeline().globalParameters.gbl_param_environment",
                    "type": "Expression"
                  }
                }
              }
            }
          ],
          "ifFalseActivities": []
        }
      },
      {
        "name": "If_2B",
        "type": "IfCondition",
        "dependsOn": [
          {
            "activity": "If_1B",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "expression": {
            "value": "@equals(contains(split(pipeline().parameters.ExclusionList, ';'), 'ClmDiagRowBalance'), false)",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "name": "GetRowCtTlrnc_ClmDiagRowBalance",
              "type": "DatabricksNotebook",
              "dependsOn": [],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/GetRowCtTlrnc')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "GetRowCtTlrnc_a1": {
                    "value": "@pipeline().globalParameters.gbl_param_UWSOwner",
                    "type": "Expression"
                  },
                  "GetRowCtTlrnc_a2": "CLM_DIAG",
                  "GetRowCtTlrnc_a3": "Claims",
                  "owner_schema": {
                    "value": "@pipeline().globalParameters.gbl_param_UWSOwner",
                    "type": "Expression"
                  },
                  "secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_UWSSecret",
                    "type": "Expression"
                  },
                  "GlobalEnvironment": {
                    "value": "@pipeline().globalParameters.gbl_param_environment",
                    "type": "Expression"
                  },
                  "TargetTable": {
                    "value": "",
                    "type": "Expression"
                  },
                  "SubjectArea": {
                    "value": "",
                    "type": "Expression"
                  }
                }
              }
            },
            {
              "name": "SetVariable_ClmDiagRowBalance_ToleranceCd",
              "type": "SetVariable",
              "dependsOn": [
                {
                  "activity": "GetRowCtTlrnc_ClmDiagRowBalance",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "ToleranceCd_ClmDiagRowBalance",
                "value": {
                  "value": "@string(activity('GetRowCtTlrnc_ClmDiagRowBalance').output.runOutput)",
                  "type": "Expression"
                }
              }
            },
            {
              "name": "ClmDiagRowBalance",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "SetVariable_ClmDiagRowBalance_ToleranceCd",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_notebook_path, '/claim/Balancing/ClmExtraColumnRowCntBal')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "RunID": {
                    "value": "@pipeline().parameters.RunID",
                    "type": "Expression"
                  },
                  "ToleranceCd": {
                    "value": "@variables('ToleranceCd_ClmDiagRowBalance')",
                    "type": "Expression"
                  },
                  "IDSOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "ids_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                    "type": "Expression"
                  },
                  "ExtrRunCycle": {
                    "value": "@pipeline().parameters.RunCycle",
                    "type": "Expression"
                  },
                  "TrgtTable": "CLM_DIAG",
                  "SrcTable": "B_CLM_DIAG",
                  "NotifyMessage": "ROW COUNT BALANCING BCA FEP MED - IDS CLAIM DIAG OUT OF TOLERANCE",
                  "UWSOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_UWSOwner",
                    "type": "Expression"
                  },
                  "uws_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_UWSSecret",
                    "type": "Expression"
                  },
                  "SubjectArea": "Claims",
                  "CurrentDate": {
                    "value": "@pipeline().parameters.CurrentDate",
                    "type": "Expression"
                  },
                  "ExtraColumn": "CLM_DIAG_ORDNL_CD_SK",
                  "GlobalEnvironment": {
                    "value": "@pipeline().globalParameters.gbl_param_environment",
                    "type": "Expression"
                  }
                }
              }
            }
          ],
          "ifFalseActivities": []
        }
      },
      {
        "name": "If_3A",
        "type": "IfCondition",
        "dependsOn": [],
        "userProperties": [],
        "typeProperties": {
          "expression": {
            "value": "@equals(contains(split(pipeline().parameters.ExclusionList, ';'), 'FcltyClmRowBalance'), false)",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "name": "GetRowCtTlrnc_FcltyClmRowBalance",
              "type": "DatabricksNotebook",
              "dependsOn": [],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/GetRowCtTlrnc')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "GetRowCtTlrnc_a1": {
                    "value": "@pipeline().globalParameters.gbl_param_UWSOwner",
                    "type": "Expression"
                  },
                  "GetRowCtTlrnc_a2": "FCLTY_CLM",
                  "GetRowCtTlrnc_a3": "Claims",
                  "owner_schema": {
                    "value": "@pipeline().globalParameters.gbl_param_UWSOwner",
                    "type": "Expression"
                  },
                  "secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_UWSSecret",
                    "type": "Expression"
                  },
                  "GlobalEnvironment": {
                    "value": "@pipeline().globalParameters.gbl_param_environment",
                    "type": "Expression"
                  },
                  "TargetTable": {
                    "value": "",
                    "type": "Expression"
                  },
                  "SubjectArea": {
                    "value": "",
                    "type": "Expression"
                  }
                }
              }
            },
            {
              "name": "SetVariable_FcltyClmRowBalance_ToleranceCd",
              "type": "SetVariable",
              "dependsOn": [
                {
                  "activity": "GetRowCtTlrnc_FcltyClmRowBalance",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "ToleranceCd_FcltyClmRowBalance",
                "value": {
                  "value": "@string(activity('GetRowCtTlrnc_FcltyClmRowBalance').output.runOutput)",
                  "type": "Expression"
                }
              }
            },
            {
              "name": "FcltyClmRowBalance",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "SetVariable_FcltyClmRowBalance_ToleranceCd",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_notebook_path, '/claim/Balancing/ClmRowCntBal')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "RunID": {
                    "value": "@pipeline().parameters.RunID",
                    "type": "Expression"
                  },
                  "ToleranceCd": {
                    "value": "@variables('ToleranceCd_FcltyClmRowBalance')",
                    "type": "Expression"
                  },
                  "IDSOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "ids_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                    "type": "Expression"
                  },
                  "ExtrRunCycle": {
                    "value": "@pipeline().parameters.RunCycle",
                    "type": "Expression"
                  },
                  "TrgtTable": "FCLTY_CLM",
                  "SrcTable": "B_FCLTY_CLM",
                  "NotifyMessage": "ROW COUNT BALANCING BCA FEP MED - IDS FACILITY CLAIM OUT OF TOLERANCE",
                  "UWSOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_UWSOwner",
                    "type": "Expression"
                  },
                  "uws_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_UWSSecret",
                    "type": "Expression"
                  },
                  "SubjectArea": "Claims",
                  "CurrentDate": {
                    "value": "@pipeline().parameters.CurrentDate",
                    "type": "Expression"
                  },
                  "GlobalEnvironment": {
                    "value": "@pipeline().globalParameters.gbl_param_environment",
                    "type": "Expression"
                  }
                }
              }
            }
          ],
          "ifFalseActivities": []
        }
      },
      {
        "name": "If_4A",
        "type": "IfCondition",
        "dependsOn": [
          {
            "activity": "If_3A",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "expression": {
            "value": "@equals(contains(split(pipeline().parameters.ExclusionList, ';'), 'FcltyClmProcRowBalance'), false)",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "name": "GetRowCtTlrnc_FcltyClmProcRowBalance",
              "type": "DatabricksNotebook",
              "dependsOn": [],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/GetRowCtTlrnc')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "GetRowCtTlrnc_a1": {
                    "value": "@pipeline().globalParameters.gbl_param_UWSOwner",
                    "type": "Expression"
                  },
                  "GetRowCtTlrnc_a2": "FCLTY_CLM_PROC",
                  "GetRowCtTlrnc_a3": "Claims",
                  "owner_schema": {
                    "value": "@pipeline().globalParameters.gbl_param_UWSOwner",
                    "type": "Expression"
                  },
                  "secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_UWSSecret",
                    "type": "Expression"
                  },
                  "GlobalEnvironment": {
                    "value": "@pipeline().globalParameters.gbl_param_environment",
                    "type": "Expression"
                  },
                  "TargetTable": {
                    "value": "",
                    "type": "Expression"
                  },
                  "SubjectArea": {
                    "value": "",
                    "type": "Expression"
                  }
                }
              }
            },
            {
              "name": "SetVariable_FcltyClmProcRowBalance_ToleranceCd",
              "type": "SetVariable",
              "dependsOn": [
                {
                  "activity": "GetRowCtTlrnc_FcltyClmProcRowBalance",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "ToleranceCd_FcltyClmProcRowBalance",
                "value": {
                  "value": "@string(activity('GetRowCtTlrnc_FcltyClmProcRowBalance').output.runOutput)",
                  "type": "Expression"
                }
              }
            },
            {
              "name": "FcltyClmProcRowBalance",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "SetVariable_FcltyClmProcRowBalance_ToleranceCd",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_notebook_path, '/claim/Balancing/ClmExtraColumnRowCntBal')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "RunID": {
                    "value": "@pipeline().parameters.RunID",
                    "type": "Expression"
                  },
                  "ToleranceCd": {
                    "value": "@variables('ToleranceCd_FcltyClmProcRowBalance')",
                    "type": "Expression"
                  },
                  "IDSOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "ids_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                    "type": "Expression"
                  },
                  "ExtrRunCycle": {
                    "value": "@pipeline().parameters.RunCycle",
                    "type": "Expression"
                  },
                  "TrgtTable": "FCLTY_CLM_PROC",
                  "SrcTable": "B_FCLTY_CLM_PROC",
                  "NotifyMessage": "ROW COUNT BALANCING BCA FEP MED - IDS FCLTY CLM PROCEDURE OUT OF TOLERANCE",
                  "UWSOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_UWSOwner",
                    "type": "Expression"
                  },
                  "uws_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_UWSSecret",
                    "type": "Expression"
                  },
                  "SubjectArea": "Claims",
                  "CurrentDate": {
                    "value": "@pipeline().parameters.CurrentDate",
                    "type": "Expression"
                  },
                  "ExtraColumn": "FCLTY_CLM_PROC_ORDNL_CD_SK",
                  "GlobalEnvironment": {
                    "value": "@pipeline().globalParameters.gbl_param_environment",
                    "type": "Expression"
                  }
                }
              }
            }
          ],
          "ifFalseActivities": []
        }
      },
      {
        "name": "If_7A",
        "type": "IfCondition",
        "dependsOn": [],
        "userProperties": [],
        "typeProperties": {
          "expression": {
            "value": "@equals(contains(split(pipeline().parameters.ExclusionList, ';'), 'ClmLnRowBalance'), false)",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "name": "GetRowCtTlrnc_ClmLnRowBalance",
              "type": "DatabricksNotebook",
              "dependsOn": [],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/GetRowCtTlrnc')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "GetRowCtTlrnc_a1": {
                    "value": "@pipeline().globalParameters.gbl_param_UWSOwner",
                    "type": "Expression"
                  },
                  "GetRowCtTlrnc_a2": "CLM_LN",
                  "GetRowCtTlrnc_a3": "Claims",
                  "owner_schema": {
                    "value": "@pipeline().globalParameters.gbl_param_UWSOwner",
                    "type": "Expression"
                  },
                  "secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_UWSSecret",
                    "type": "Expression"
                  },
                  "GlobalEnvironment": {
                    "value": "@pipeline().globalParameters.gbl_param_environment",
                    "type": "Expression"
                  },
                  "TargetTable": {
                    "value": "",
                    "type": "Expression"
                  },
                  "SubjectArea": {
                    "value": "",
                    "type": "Expression"
                  }
                }
              }
            },
            {
              "name": "SetVariable_ClmLnRowBalance_ToleranceCd",
              "type": "SetVariable",
              "dependsOn": [
                {
                  "activity": "GetRowCtTlrnc_ClmLnRowBalance",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "ToleranceCd_ClmLnRowBalance",
                "value": {
                  "value": "@string(activity('GetRowCtTlrnc_ClmLnRowBalance').output.runOutput)",
                  "type": "Expression"
                }
              }
            },
            {
              "name": "ClmLnRowBalance",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "SetVariable_ClmLnRowBalance_ToleranceCd",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_notebook_path, '/claim/Balancing/ClmLnRowCntBal')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "RunID": {
                    "value": "@pipeline().parameters.RunID",
                    "type": "Expression"
                  },
                  "ToleranceCd": {
                    "value": "@variables('ToleranceCd_ClmLnRowBalance')",
                    "type": "Expression"
                  },
                  "IDSOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "ids_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                    "type": "Expression"
                  },
                  "ExtrRunCycle": {
                    "value": "@pipeline().parameters.RunCycle",
                    "type": "Expression"
                  },
                  "TrgtTable": "CLM_LN",
                  "SrcTable": "B_CLM_LN",
                  "NotifyMessage": "ROW COUNT BALANCING BCA FEP MED - IDS CLAIM LINE OUT OF TOLERANCE",
                  "UWSOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_UWSOwner",
                    "type": "Expression"
                  },
                  "uws_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_UWSSecret",
                    "type": "Expression"
                  },
                  "SubjectArea": "Claims",
                  "CurrentDate": {
                    "value": "@pipeline().parameters.CurrentDate",
                    "type": "Expression"
                  },
                  "GlobalEnvironment": {
                    "value": "@pipeline().globalParameters.gbl_param_environment",
                    "type": "Expression"
                  }
                }
              }
            }
          ],
          "ifFalseActivities": []
        }
      },
      {
        "name": "If_8A",
        "type": "IfCondition",
        "dependsOn": [
          {
            "activity": "If_7A",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "expression": {
            "value": "@equals(contains(split(pipeline().parameters.ExclusionList, ';'), 'ClmLnDiagRowBalance'), false)",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "name": "GetRowCtTlrnc_ClmLnDiagRowBalance",
              "type": "DatabricksNotebook",
              "dependsOn": [],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/GetRowCtTlrnc')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "GetRowCtTlrnc_a1": {
                    "value": "@pipeline().globalParameters.gbl_param_UWSOwner",
                    "type": "Expression"
                  },
                  "GetRowCtTlrnc_a2": "CLM_LN_DIAG",
                  "GetRowCtTlrnc_a3": "Claims",
                  "owner_schema": {
                    "value": "@pipeline().globalParameters.gbl_param_UWSOwner",
                    "type": "Expression"
                  },
                  "secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_UWSSecret",
                    "type": "Expression"
                  },
                  "GlobalEnvironment": {
                    "value": "@pipeline().globalParameters.gbl_param_environment",
                    "type": "Expression"
                  },
                  "TargetTable": {
                    "value": "",
                    "type": "Expression"
                  },
                  "SubjectArea": {
                    "value": "",
                    "type": "Expression"
                  }
                }
              }
            },
            {
              "name": "SetVariable_ClmLnDiagRowBalance_ToleranceCd",
              "type": "SetVariable",
              "dependsOn": [
                {
                  "activity": "GetRowCtTlrnc_ClmLnDiagRowBalance",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "ToleranceCd_ClmLnDiagRowBalance",
                "value": {
                  "value": "@string(activity('GetRowCtTlrnc_ClmLnDiagRowBalance').output.runOutput)",
                  "type": "Expression"
                }
              }
            },
            {
              "name": "ClmLnDiagRowBalance",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "SetVariable_ClmLnDiagRowBalance_ToleranceCd",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_notebook_path, '/claim/Balancing/ClmLnExtraColumnRowCntBal')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "RunID": {
                    "value": "@pipeline().parameters.RunID",
                    "type": "Expression"
                  },
                  "ToleranceCd": {
                    "value": "@variables('ToleranceCd_ClmLnDiagRowBalance')",
                    "type": "Expression"
                  },
                  "IDSOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "ids_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                    "type": "Expression"
                  },
                  "ExtrRunCycle": {
                    "value": "@pipeline().parameters.RunCycle",
                    "type": "Expression"
                  },
                  "TrgtTable": "CLM_LN_DIAG",
                  "SrcTable": "B_CLM_LN_DIAG",
                  "NotifyMessage": "ROW COUNT BALANCING BCA FEP MED - IDS CLAIM LINE DIAG OUT OF TOLERANCE",
                  "UWSOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_UWSOwner",
                    "type": "Expression"
                  },
                  "uws_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_UWSSecret",
                    "type": "Expression"
                  },
                  "SubjectArea": "Claims",
                  "CurrentDate": {
                    "value": "@pipeline().parameters.CurrentDate",
                    "type": "Expression"
                  },
                  "ExtraColumn": "CLM_LN_DIAG_ORDNL_CD_SK",
                  "GlobalEnvironment": {
                    "value": "@pipeline().globalParameters.gbl_param_environment",
                    "type": "Expression"
                  }
                }
              }
            }
          ],
          "ifFalseActivities": []
        }
      },
      {
        "name": "If_9A",
        "type": "IfCondition",
        "dependsOn": [
          {
            "activity": "If_8A",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "expression": {
            "value": "@equals(contains(split(pipeline().parameters.ExclusionList, ';'), 'ClmLnProcCdModRowBalance'), false)",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "name": "GetRowCtTlrnc_ClmLnProcCdModRowBalance",
              "type": "DatabricksNotebook",
              "dependsOn": [],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/GetRowCtTlrnc')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "GetRowCtTlrnc_a1": {
                    "value": "@pipeline().globalParameters.gbl_param_UWSOwner",
                    "type": "Expression"
                  },
                  "GetRowCtTlrnc_a2": "CLM_LN_PROC_CD_MOD",
                  "GetRowCtTlrnc_a3": "Claims",
                  "owner_schema": {
                    "value": "@pipeline().globalParameters.gbl_param_UWSOwner",
                    "type": "Expression"
                  },
                  "secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_UWSSecret",
                    "type": "Expression"
                  },
                  "GlobalEnvironment": {
                    "value": "@pipeline().globalParameters.gbl_param_environment",
                    "type": "Expression"
                  },
                  "TargetTable": {
                    "value": "",
                    "type": "Expression"
                  },
                  "SubjectArea": {
                    "value": "",
                    "type": "Expression"
                  }
                }
              }
            },
            {
              "name": "SetVariable_ClmLnProcCdModRowBalance_ToleranceCd",
              "type": "SetVariable",
              "dependsOn": [
                {
                  "activity": "GetRowCtTlrnc_ClmLnProcCdModRowBalance",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "ToleranceCd_ClmLnProcCdModRowBalance",
                "value": {
                  "value": "@string(activity('GetRowCtTlrnc_ClmLnProcCdModRowBalance').output.runOutput)",
                  "type": "Expression"
                }
              }
            },
            {
              "name": "ClmLnProcCdModRowBalance",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "SetVariable_ClmLnProcCdModRowBalance_ToleranceCd",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_notebook_path, '/claim/Balancing/ClmLnExtraColumnRowCntBal')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "RunID": {
                    "value": "@pipeline().parameters.RunID",
                    "type": "Expression"
                  },
                  "ToleranceCd": {
                    "value": "@variables('ToleranceCd_ClmLnProcCdModRowBalance')",
                    "type": "Expression"
                  },
                  "IDSOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "ids_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                    "type": "Expression"
                  },
                  "ExtrRunCycle": {
                    "value": "@pipeline().parameters.RunCycle",
                    "type": "Expression"
                  },
                  "TrgtTable": "CLM_LN_PROC_CD_MOD",
                  "SrcTable": "B_CLM_LN_PROC_CD_MOD",
                  "NotifyMessage": "ROW COUNT BALANCING BCA FEP MED - IDS CLAIM LINE PROC CD MOD OUT OF TOLERANCE",
                  "UWSOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_UWSOwner",
                    "type": "Expression"
                  },
                  "uws_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_UWSSecret",
                    "type": "Expression"
                  },
                  "SubjectArea": "Claims",
                  "CurrentDate": {
                    "value": "@pipeline().parameters.CurrentDate",
                    "type": "Expression"
                  },
                  "ExtraColumn": "CLM_LN_PROC_CD_MOD_ORDNL_CD_SK",
                  "GlobalEnvironment": {
                    "value": "@pipeline().globalParameters.gbl_param_environment",
                    "type": "Expression"
                  }
                }
              }
            }
          ],
          "ifFalseActivities": []
        }
      }
    ]
  }
}