npw-projects-np-projects-bluekc-translated-66e9366f6cca/Sprint_3_4_5/SequenceJobs/Integrate/BcbsIdsAcaPgmPaymtCntl.json
{
  "name": "BcbsIdsAcaPgmPaymtCntl",
  "type": "Microsoft.DataFactory/factories/pipelines",
  "properties": {
    "folder": {
      "name": "Integrate/Jobs/DataWarehouse/Finance"
    },
    "parameters": {},
    "variables": {
      "JobName": {
        "type": "String",
        "defaultValue": ""
      },
      "Source": {
        "type": "String",
        "defaultValue": ""
      },
      "Target": {
        "type": "String",
        "defaultValue": ""
      },
      "Subject": {
        "type": "String",
        "defaultValue": ""
      },
      "Frequency": {
        "type": "String",
        "defaultValue": ""
      },
      "CapFileDate": {
        "type": "String",
        "defaultValue": ""
      },
      "LinkCount": {
        "type": "String",
        "defaultValue": ""
      },
      "RunCycle": {
        "type": "String",
        "defaultValue": ""
      },
      "RunID": {
        "type": "String",
        "defaultValue": ""
      },
      "Logging": {
        "type": "String",
        "defaultValue": ""
      },
      "CurrRunCycle": {
        "type": "String",
        "defaultValue": ""
      },
      "CurrDate": {
        "type": "String",
        "defaultValue": ""
      },
      "CurrDateTimestamp": {
        "type": "String",
        "defaultValue": ""
      },
      "ExclusionList": {
        "type": "String",
        "defaultValue": ""
      },
      "SrcSysCdSk": {
        "type": "String",
        "defaultValue": ""
      },
      "BeginDate": {
        "type": "String",
        "defaultValue": ""
      },
      "FkeyFailuresFileName": {
        "type": "String",
        "defaultValue": ""
      },
      "var_CountChk_branch": {
        "type": "String",
        "defaultValue": "0"
      },
      "var_If_1A_branch": {
        "type": "String",
        "defaultValue": "0"
      },
      "var_If_1B_branch": {
        "type": "String",
        "defaultValue": "0"
      },
      "var_If_1B_Continuation_branch": {
        "type": "String",
        "defaultValue": "0"
      }
    },
    "activities": [
      {
        "name": "ProcessCheckExtr",
        "type": "Lookup",
        "dependsOn": [],
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "source": {
            "type": "AzureSqlSource",
            "sqlReaderQuery": {
              "value": "WITH db2_data AS (\n    select SUBJ_CD, TRGT_SYS_CD, SRC_SYS_CD\n    from @{pipeline().globalParameters.gbl_param_IDSOwner}.P_RUN_CYC\n    where CYC_STTUS_CD = 'RUNNING'\n       and SUBJ_CD = '@{variables('Subject')}'\n       and TRGT_SYS_CD = '@{variables('Target')}'\n    UNION\n    select SUBJ_CD, TRGT_SYS_CD, SRC_SYS_CD\n    from @{pipeline().globalParameters.gbl_param_IDSOwner}.P_RUN_CYC\n    where CYC_STTUS_CD = 'RUNNING'\n       and SUBJ_CD = '@{variables('Subject')}'\n       and SRC_SYS_CD <> '@{variables('Source')}'\n       and TRGT_SYS_CD = '@{variables('Target')}'\n    UNION\n    select SUBJ_CD, TRGT_SYS_CD, SRC_SYS_CD\n    from @{pipeline().globalParameters.gbl_param_IDSOwner}.P_RUN_CYC\n    where CYC_STTUS_CD = 'RUNNING'\n       and SUBJ_CD = '@{variables('Subject')}'\n       and SRC_SYS_CD = '@{variables('Source')}'\n),\ntransformed_data AS (\n    SELECT SUBJ_CD, SRC_SYS_CD, TRGT_SYS_CD\n    FROM db2_data\n)\nSELECT COUNT(*) as link_count FROM transformed_data",
              "type": "Expression"
            },
            "queryTimeout": "02:00:00",
            "partitionOption": "None"
          },
          "dataset": {
            "referenceName": "ds_ids",
            "type": "DatasetReference",
            "parameters": {
              "param_schema": "@pipeline().globalParameters.gbl_param_IDSOwner",
              "param_table": "P_RUN_CYC"
            }
          }
        }
      },
      {
        "name": "LinkCount_SetVar",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "ProcessCheckExtr",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "LinkCount",
          "value": {
            "value": "@string(activity('ProcessCheckExtr').output.firstRow.link_count)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "CountChk",
        "type": "Switch",
        "dependsOn": [
          {
            "activity": "LinkCount_SetVar",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "typeProperties": {
          "on": {
            "type": "Expression",
            "value": "@if(greater(int(variables('LinkCount')),0),'1','0')"
          },
          "cases": [
            {
              "value": "1",
              "activities": [
                {
                  "name": "Set_var_CountChk_branch_true",
                  "type": "SetVariable",
                  "dependsOn": [],
                  "policy": {
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "variableName": "var_CountChk_branch",
                    "value": {
                      "type": "Expression",
                      "value": "1"
                    }
                  }
                },
                {
                  "name": "Email_DAT",
                  "type": "ExecutePipeline",
                  "dependsOn": [
                    {
                      "activity": "Set_var_CountChk_branch_true",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "pipeline": {
                      "referenceName": "Email_Notification",
                      "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                      "recipients": {
                        "type": "Expression",
                        "value": "@pipeline().globalParameters.gbl_param_EmailSupport"
                      },
                      "subject": "Valencia ACA_PGM_PAYMT Abort",
                      "body": "The VALENCIA ACA_PGM_PAYMT processing can not run while there is an open run cycle.\n\nSource = 'VALENCIA'\nTarget = 'IDS'\nSubject = 'FINANCE_ACAPGMPAYMT'",
                      "blobFilenames": "",
                      "fromemail": {
                        "type": "Expression",
                        "value": "@pipeline().globalParameters.gbl_param_fromemail"
                      },
                      "containerName": ""
                    }
                  }
                }
              ]
            }
          ],
          "defaultActivities": [
            {
              "name": "Set_var_CountChk_branch_false",
              "type": "SetVariable",
              "dependsOn": [],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "var_CountChk_branch",
                "value": {
                  "type": "Expression",
                  "value": "0"
                }
              }
            },
            {
              "name": "ExclusionListExtr",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "Set_var_CountChk_branch_false",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_notebook_path,'/JobSequencer/CommonComponents/ExclusionListExtr')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "ids_owner_schema": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "ids_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                    "type": "Expression"
                  },
                  "Subject": {
                    "value": "@variables('JobName')",
                    "type": "Expression"
                  },
                  "ids_staging_schema": {
                    "value": "@pipeline().globalParameters.gbl_param_ids_staging",
                    "type": "Expression"
                  }
                }
              }
            },
            {
              "name": "WriteRunID",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "ExclusionListExtr",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "typeProperties": {
                "notebookPath": {
                  "type": "Expression",
                  "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/WriteRunID')"
                },
                "baseParameters": {
                  "entry_name": {
                    "type": "Expression",
                    "value": "@concat(variables('JobName'), ':RunID')"
                  },
                  "GlobalEnvironment": {
                    "type": "Expression",
                    "value": "@pipeline().globalParameters.gbl_param_environment"
                  },
                  "secret_name": {
                    "value": "",
                    "type": "Expression"
                  },
                  "IDSOwner": {
                    "value": "",
                    "type": "Expression"
                  }
                }
              }
            },
            {
              "name": "ExclusionListDelete",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "WriteRunID",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_notebook_path,'/JobSequencer/CommonComponents/ExclusionListDelete')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "ids_owner_schema": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "ids_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                    "type": "Expression"
                  },
                  "subject": {
                    "value": "@variables('JobName')",
                    "type": "Expression"
                  }
                }
              }
            }
          ]
        }
      },
      {
        "name": "If_1A",
        "type": "Switch",
        "dependsOn": [
          {
            "activity": "CountChk",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "typeProperties": {
          "on": {
            "type": "Expression",
            "value": "@if(equals(variables('var_CountChk_branch'), '0'),'1','0')"
          },
          "cases": [
            {
              "value": "1",
              "activities": [
                {
                  "name": "Set_var_If_1A_branch_true",
                  "type": "SetVariable",
                  "dependsOn": [],
                  "policy": {
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "variableName": "var_If_1A_branch",
                    "value": {
                      "type": "Expression",
                      "value": "1"
                    }
                  }
                },
                {
                  "name": "BcbsIdsAcaPgmPaymtExtrSeq",
                  "type": "ExecutePipeline",
                  "dependsOn": [
                    {
                      "activity": "Set_var_If_1A_branch_true",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "pipeline": {
                      "referenceName": "BcbsIdsAcaPgmPaymtExtrSeq",
                      "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                      "BCBSFINOwner": {
                        "type": "Expression",
                        "value": "@pipeline().globalParameters.gbl_param_BCBSFINOwner"
                      },
                      "bcbsfin_secret_name": {
                        "type": "Expression",
                        "value": "@pipeline().globalParameters.gbl_param_BCBSFINSecret"
                      },
                      "RunID": {
                        "type": "Expression",
                        "value": "@variables('RunID')"
                      },
                      "RunCycle": {
                        "type": "Expression",
                        "value": "@variables('CurrRunCycle')"
                      },
                      "ExclusionList": {
                        "type": "Expression",
                        "value": "@variables('ExclusionList')"
                      },
                      "CurrDate": {
                        "type": "Expression",
                        "value": "@variables('CurrDate')"
                      },
                      "SrcSysCd": {
                        "type": "Expression",
                        "value": "@variables('Source')"
                      },
                      "SrcSysCdSk": {
                        "type": "Expression",
                        "value": "@variables('SrcSysCdSk')"
                      },
                      "IDSOwner": {
                        "type": "Expression",
                        "value": "@pipeline().globalParameters.gbl_param_IDSOwner"
                      },
                      "ids_secret_name": {
                        "type": "Expression",
                        "value": "@pipeline().globalParameters.gbl_param_IDSSecret"
                      },
                      "RunIDTimeStamp": {
                        "type": "Expression",
                        "value": "@variables('CurrDateTimestamp')"
                      },
                      "LastRunDate": {
                        "type": "Expression",
                        "value": "@variables('BeginDate')"
                      }
                    }
                  }
                }
              ]
            }
          ],
          "defaultActivities": [
            {
              "name": "Set_var_If_1A_branch_false",
              "type": "SetVariable",
              "dependsOn": [],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "var_If_1A_branch",
                "value": {
                  "type": "Expression",
                  "value": "0"
                }
              }
            }
          ]
        }
      },
      {
        "name": "If_1B",
        "type": "Switch",
        "dependsOn": [
          {
            "activity": "If_1A",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "typeProperties": {
          "on": {
            "type": "Expression",
            "value": "@if(equals(variables('var_CountChk_branch'),'0'),'1','0')"
          },
          "cases": [
            {
              "value": "1",
              "activities": [
                {
                  "name": "Set_var_If_1B_branch_true",
                  "type": "SetVariable",
                  "dependsOn": [],
                  "policy": {
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "variableName": "var_If_1B_branch",
                    "value": {
                      "type": "Expression",
                      "value": "1"
                    }
                  }
                },
                {
                  "name": "IdsAcaPgmPaymtLoadSeq",
                  "type": "ExecutePipeline",
                  "dependsOn": [
                    {
                      "activity": "Set_var_If_1B_branch_true",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "pipeline": {
                      "referenceName": "IdsAcaPgmPaymtLoadSeq",
                      "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                      "Logging": {
                        "type": "Expression",
                        "value": "@variables('Logging')"
                      },
                      "RunID": {
                        "type": "Expression",
                        "value": "@variables('RunID')"
                      },
                      "SrcSysCdSk": {
                        "type": "Expression",
                        "value": "@variables('SrcSysCdSk')"
                      },
                      "SrcSysCd": {
                        "type": "Expression",
                        "value": "@variables('Source')"
                      },
                      "ExclusionList": {
                        "type": "Expression",
                        "value": "@variables('ExclusionList')"
                      },
                      "IDSOwner": {
                        "type": "Expression",
                        "value": "@pipeline().globalParameters.gbl_param_IDSOwner"
                      },
                      "ids_secret_name": {
                        "type": "Expression",
                        "value": "@pipeline().globalParameters.gbl_param_IDSSecret"
                      },
                      "PrefixFkeyFailedFileName": {
                        "type": "Expression",
                        "value": "@variables('FkeyFailuresFileName')"
                      },
                      "RunCycle": {
                        "type": "Expression",
                        "value": "@variables('CurrRunCycle')"
                      },
                      "CurrDate": {
                        "type": "Expression",
                        "value": "@variables('CurrDate')"
                      }
                    }
                  }
                }
              ]
            }
          ],
          "defaultActivities": [
            {
              "name": "Set_var_If_1B_branch_false",
              "type": "SetVariable",
              "dependsOn": [],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "var_If_1B_branch",
                "value": {
                  "type": "Expression",
                  "value": "0"
                }
              }
            }
          ]
        }
      },
      {
        "name": "If_1B_Continuation",
        "type": "Switch",
        "dependsOn": [
          {
            "activity": "If_1B",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "typeProperties": {
          "on": {
            "type": "Expression",
            "value": "@if(equals(variables('var_CountChk_branch'),'0'),'1','0')"
          },
          "cases": [
            {
              "value": "1",
              "activities": [
                {
                  "name": "Set_var_If_1B_Continuation_branch_true",
                  "type": "SetVariable",
                  "dependsOn": [],
                  "policy": {
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "variableName": "var_If_1B_Continuation_branch",
                    "value": {
                      "type": "Expression",
                      "value": "1"
                    }
                  }
                },
                {
                  "name": "WriteBeginDate",
                  "type": "DatabricksNotebook",
                  "dependsOn": [
                    {
                      "activity": "Set_var_If_1B_Continuation_branch_true",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "linkedServiceName": {
                    "referenceName": "shareddatabricks",
                    "type": "LinkedServiceReference"
                  },
                  "policy": {
                    "timeout": "12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "typeProperties": {
                    "notebookPath": {
                      "type": "Expression",
                      "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/WriteRunInfo')"
                    },
                    "baseParameters": {
                      "arg1": {
                        "type": "Expression",
                        "value": "@concat(variables('JobName'), ':BeginDate')"
                      },
                      "arg2": {
                        "type": "Expression",
                        "value": "@variables('CurrDate')"
                      },
                      "arg3": {
                        "type": "Expression",
                        "value": "@variables('CurrDate')"
                      },
                      "GlobalEnvironment": {
                        "type": "Expression",
                        "value": "@pipeline().globalParameters.gbl_param_environment"
                      },
                      "secret_name": {
                        "value": "",
                        "type": "Expression"
                      },
                      "IDSOwner": {
                        "value": "",
                        "type": "Expression"
                      }
                    }
                  }
                },
                {
                  "name": "DeleteExtrDataSets",
                  "type": "DatabricksNotebook",
                  "dependsOn": [
                    {
                      "activity": "WriteBeginDate",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "linkedServiceName": {
                    "referenceName": "shareddatabricks",
                    "type": "LinkedServiceReference"
                  },
                  "policy": {
                    "timeout": "12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "typeProperties": {
                    "notebookPath": {
                      "type": "Expression",
                      "value": "@concat(pipeline().globalParameters.gbl_param_scripts,'DataSet_Clear')"
                    },
                    "baseParameters": {
                      "param1": "ACA_PGM_PAYMT.#Initial.Source#.extr.#Variables.RunID#.ds",
                      "GlobalEnvironment": {
                        "type": "Expression",
                        "value": "@pipeline().globalParameters.gbl_param_environment"
                      }
                    }
                  }
                },
                {
                  "name": "DeleteXfrmDataSets",
                  "type": "DatabricksNotebook",
                  "dependsOn": [
                    {
                      "activity": "DeleteExtrDataSets",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "linkedServiceName": {
                    "referenceName": "shareddatabricks",
                    "type": "LinkedServiceReference"
                  },
                  "policy": {
                    "timeout": "12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "typeProperties": {
                    "notebookPath": {
                      "type": "Expression",
                      "value": "@concat(pipeline().globalParameters.gbl_param_scripts,'DataSet_Clear')"
                    },
                    "baseParameters": {
                      "param1": "ACA_PGM_PAYMT.#Initial.Source#.xfrm.#Variables.RunID#.ds",
                      "GlobalEnvironment": {
                        "type": "Expression",
                        "value": "@pipeline().globalParameters.gbl_param_environment"
                      }
                    }
                  }
                },
                {
                  "name": "CloseRunCycle",
                  "type": "DatabricksNotebook",
                  "dependsOn": [
                    {
                      "activity": "DeleteXfrmDataSets",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "linkedServiceName": {
                    "referenceName": "shareddatabricks",
                    "type": "LinkedServiceReference"
                  },
                  "policy": {
                    "timeout": "12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "typeProperties": {
                    "notebookPath": {
                      "type": "Expression",
                      "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/CloseRunCycle')"
                    },
                    "baseParameters": {
                      "DBOwner": {
                        "type": "Expression",
                        "value": "@pipeline().globalParameters.gbl_param_IDSOwner"
                      },
                      "SrcSystem": {
                        "type": "Expression",
                        "value": "@variables('Source')"
                      },
                      "TrgtSystem": {
                        "type": "Expression",
                        "value": "@variables('Target')"
                      },
                      "SubjCode": {
                        "type": "Expression",
                        "value": "@variables('Subject')"
                      },
                      "FreqCode": {
                        "type": "Expression",
                        "value": "@variables('Frequency')"
                      },
                      "RunCycle": {
                        "type": "Expression",
                        "value": "@variables('CurrRunCycle')"
                      },
                      "GlobalEnvironment": {
                        "type": "Expression",
                        "value": "@pipeline().globalParameters.gbl_param_environment"
                      },
                      "secret_name": {
                        "value": "",
                        "type": "Expression"
                      }
                    }
                  }
                }
              ]
            }
          ],
          "defaultActivities": [
            {
              "name": "Set_var_If_1B_Continuation_branch_false",
              "type": "SetVariable",
              "dependsOn": [],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "var_If_1B_Continuation_branch",
                "value": {
                  "type": "Expression",
                  "value": "0"
                }
              }
            }
          ]
        }
      }
    ]
  }
}