npw-projects-np-projects-bluekc-translated-66e9366f6cca/Sprint_3_4_5/SequenceJobs/Integrate/BCBSAFEPRXLandSeq.json
{
  "name": "BCBSAFEPRXLandSeq",
  "type": "Microsoft.DataFactory/factories/pipelines",
  "properties": {
    "folder": {
      "name": "Integrate/Jobs/claim/SeqBCBSA"
    },
    "parameters": {
      "CurrentDate": {
        "type": "String",
        "defaultValue": "2007-09-10"
      },
      "RunCycle": {
        "type": "String",
        "defaultValue": "100"
      },
      "ExclusionList": {
        "type": "String",
        "defaultValue": "\"\""
      },
      "RunID": {
        "type": "String",
        "defaultValue": "100"
      },
      "SourceSys": {
        "type": "String",
        "defaultValue": "MCSOURCE"
      },
      "SourceSysCdSK": {
        "type": "String",
        "defaultValue": "171910129"
      },
      "Logging": {
        "type": "String",
        "defaultValue": ""
      },
      "ProvRunCycle": {
        "type": "String",
        "defaultValue": ""
      },
      "InFile": {
        "type": "String",
        "defaultValue": ""
      },
      "CurrDateMinus3Years": {
        "type": "String",
        "defaultValue": ""
      },
      "VoidFile": {
        "type": "String",
        "defaultValue": ""
      }
    },
    "variables": {
      "LinkCount": {
        "type": "String",
        "defaultValue": ""
      },
      "var_CountChk_branch": {
        "type": "String",
        "defaultValue": ""
      },
      "var_If_5B_branch": {
        "type": "String",
        "defaultValue": ""
      },
      "ErrorNPI": {
        "type": "String",
        "defaultValue": ""
      }
    },
    "activities": [
      {
        "name": "If_1A",
        "type": "IfCondition",
        "dependsOn": [],
        "userProperties": [],
        "typeProperties": {
          "expression": {
            "value": "@not(contains(split(pipeline().parameters.ExclusionList,';'),'BCBSAFEPRXClmPreProcExtr'))",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "name": "BCBSAFEPRXClmPreProcExtr",
              "type": "DatabricksNotebook",
              "dependsOn": [],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_notebook_path,'/claim/claim/BCBSA/BCBSAFEPRXClmPreProcExtr')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "RunID": {
                    "value": "@pipeline().parameters.RunID",
                    "type": "Expression"
                  },
                  "CurrDate": {
                    "value": "@pipeline().parameters.CurrentDate",
                    "type": "Expression"
                  },
                  "InFile": {
                    "value": "@pipeline().parameters.InFile",
                    "type": "Expression"
                  },
                  "CurrDateMinus3Years": {
                    "value": "@pipeline().parameters.CurrDateMinus3Years",
                    "type": "Expression"
                  },
                  "VoidFile": {
                    "value": "@pipeline().parameters.VoidFile",
                    "type": "Expression"
                  },
                  "IDSOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "ids_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                    "type": "Expression"
                  }
                }
              }
            }
          ],
          "ifFalseActivities": []
        }
      },
      {
        "name": "LinkCount_routine",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "BCBSAFEPRXClmPreProcExtr",
            "dependencyConditions": [
              "Succeeded"
            ]
          },
          {
            "activity": "Wait_Or_1A_Shortcut",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/JobLinkCount')",
            "type": "Expression"
          },
          "baseParameters": {
            "JobLinkCount_a1": "BCADrugClmPreProcExtr",
            "JobLinkCount_a2": "Mbr_Lookup",
            "JobLinkCount_a3": "Reject",
            "file_path": {
              "value": "",
              "type": "Expression"
            },
            "EnvProjectPath": {
              "value": "",
              "type": "Expression"
            },
            "delimiter": {
              "value": "",
              "type": "Expression"
            },
            "quote": {
              "value": "",
              "type": "Expression"
            },
            "header": {
              "value": "",
              "type": "Expression"
            },
            "nullValue": {
              "value": "",
              "type": "Expression"
            },
            "table_nm": {
              "value": "",
              "type": "Expression"
            },
            "schema": {
              "value": "",
              "type": "Expression"
            },
            "secret_name": {
              "value": "",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "SetVariable_LinkCount",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "LinkCount_routine",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "LinkCount",
          "value": {
            "type": "Expression",
            "value": "@string(sub(int(activity('LinkCount_routine').output.runOutput), 1))"
          }
        }
      },
      {
        "name": "Switch_CountChk",
        "type": "Switch",
        "dependsOn": [
          {
            "activity": "SetVariable_LinkCount",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "on": {
            "type": "Expression",
            "value": "@if(greater(int(variables('LinkCount')),1),'1','0')"
          },
          "cases": [
            {
              "value": "1",
              "activities": [
                {
                  "name": "var_CountChk_branch_true",
                  "type": "SetVariable",
                  "dependsOn": [],
                  "policy": {
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "variableName": "var_CountChk_branch",
                    "value": {
                      "type": "Expression",
                      "value": "@string(1)"
                    }
                  }
                }
              ]
            }
          ],
          "defaultActivities": [
            {
              "name": "var_CountChk_branch_false",
              "type": "SetVariable",
              "dependsOn": [],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "var_CountChk_branch",
                "value": {
                  "type": "Expression",
                  "value": "@string(0)"
                }
              }
            }
          ]
        }
      },
      {
        "name": "Switch_If_5B",
        "type": "Switch",
        "dependsOn": [
          {
            "activity": "Switch_CountChk",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "on": {
            "type": "Expression",
            "value": "@if(and(equals(variables('var_CountChk_branch'),'1'),not(contains(split(pipeline().parameters.ExclusionList,';'),'FTPUnknownMbr'))),'1','0')"
          },
          "cases": [
            {
              "value": "1",
              "activities": [
                {
                  "name": "var_If_5B_branch_true",
                  "type": "SetVariable",
                  "dependsOn": [],
                  "policy": {
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "variableName": "var_If_5B_branch",
                    "value": {
                      "type": "Expression",
                      "value": "@string(1)"
                    }
                  }
                },
                {
                  "name": "FTPUnknownMbr",
                  "type": "DatabricksNotebook",
                  "dependsOn": [
                    {
                      "activity": "var_If_5B_branch_true",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "timeout": "12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "linkedServiceName": {
                    "referenceName": "shareddatabricks",
                    "type": "LinkedServiceReference"
                  },
                  "typeProperties": {
                    "notebookPath": {
                      "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/FTP')",
                      "type": "Expression"
                    },
                    "baseParameters": {
                      "MACHINE": "o_lib",
                      "FTPCMD": "put",
                      "LOCALPATH": {
                        "value": "@concat(pipeline().globalParameters.gbl_param_FilePath,'/external')",
                        "type": "Expression"
                      },
                      "LOCALFILENAME": {
                        "type": "Expression",
                        "value": "@concat('BCA_CLM_MbrMatchRejects.dat.', pipeline().parameters.RunID)"
                      },
                      "REMOTEPATH": "/library/library/IAD/PHI11/Shared/Output_IDS/BCA",
                      "REMOTEFILENAME": {
                        "type": "Expression",
                        "value": "@concat('BCA_CLM_MbrMatchRejects.', pipeline().parameters.RunID, '.csv')"
                      }
                    }
                  }
                },
                {
                  "name": "RmMbrUnMatched",
                  "type": "DatabricksNotebook",
                  "dependsOn": [
                    {
                      "activity": "FTPUnknownMbr",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "timeout": "12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "linkedServiceName": {
                    "referenceName": "shareddatabricks",
                    "type": "LinkedServiceReference"
                  },
                  "typeProperties": {
                    "notebookPath": "@concat(pipeline().globalParameters.gbl_param_scripts, '/Generic_ADLS_File_Operations')",
                    "baseParameters": {
                      "src_file_with_path": {
                        "value": "/external/BCA_CLM_MbrMatchRejects.dat.",
                        "type": "Expression"
                      },
                      "command": "delete",
                      "project": "integrate"
                    }
                  }
                }
              ]
            }
          ],
          "defaultActivities": [
            {
              "name": "var_If_5B_branch_false",
              "type": "SetVariable",
              "dependsOn": [],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "var_If_5B_branch",
                "value": {
                  "type": "Expression",
                  "value": "@string(0)"
                }
              }
            }
          ]
        }
      },
      {
        "name": "If_2B",
        "type": "IfCondition",
        "dependsOn": [
          {
            "activity": "RmMbrUnMatched",
            "dependencyConditions": [
              "Succeeded"
            ]
          },
          {
            "activity": "var_If_5B_branch_false",
            "dependencyConditions": [
              "Succeeded"
            ]
          },
          {
            "activity": "var_CountChk_branch_false",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "expression": {
            "value": "@not(contains(split(pipeline().parameters.ExclusionList,';'),'BCAClmPKExtr'))",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "name": "BCAClmPKExtr",
              "type": "DatabricksNotebook",
              "dependsOn": [],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_notebook_path,'/claim/claim/BCA/BCAClmPKExtr')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "SrcSysCd": {
                    "value": "@pipeline().parameters.SourceSys",
                    "type": "Expression"
                  },
                  "SrcSysCdSK": {
                    "value": "@pipeline().parameters.SourceSysCdSK",
                    "type": "Expression"
                  },
                  "CurrRunCycle": {
                    "value": "@pipeline().parameters.RunCycle",
                    "type": "Expression"
                  },
                  "RunID": {
                    "value": "@pipeline().parameters.RunID",
                    "type": "Expression"
                  },
                  "IDSOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "ids_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                    "type": "Expression"
                  }
                }
              }
            }
          ],
          "ifFalseActivities": []
        }
      },
      {
        "name": "If_2E",
        "type": "IfCondition",
        "dependsOn": [
          {
            "activity": "BCAClmPKExtr",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "expression": {
            "value": "@not(contains(split(pipeline().parameters.ExclusionList,';'),'LoadKClm'))",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "name": "LoadKClm",
              "type": "DatabricksNotebook",
              "dependsOn": [],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/DB.LOAD')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "table": "K_CLM",
                  "action": "UPDATE",
                  "file_name": "K_CLM.dat",
                  "run_stat": "N",
                  "owner": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                    "type": "Expression"
                  },
                  "EnvProjectPath": {
                    "value": "",
                    "type": "Expression"
                  },
                  "file_path": {
                    "value": "",
                    "type": "Expression"
                  }
                }
              }
            }
          ],
          "ifFalseActivities": []
        }
      },
      {
        "name": "If_2C",
        "type": "IfCondition",
        "dependsOn": [
          {
            "activity": "LoadKClm",
            "dependencyConditions": [
              "Succeeded"
            ]
          },
          {
            "activity": "BCAClmPKExtr",
            "dependencyConditions": [
              "Succeeded"
            ]
          },
          {
            "activity": "Wait_Or_2B_Skip",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "expression": {
            "value": "@not(contains(split(pipeline().parameters.ExclusionList,';'),'BCAClmLnPKExtr'))",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "name": "BCAClmLnPKExtr",
              "type": "DatabricksNotebook",
              "dependsOn": [],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_notebook_path,'/claim/ClaimLine/ClmLn/BCA/BCAClmLnPKExtr')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "SrcSysCd": {
                    "value": "@pipeline().parameters.SourceSys",
                    "type": "Expression"
                  },
                  "SrcSysCdSK": {
                    "value": "@pipeline().parameters.SourceSysCdSK",
                    "type": "Expression"
                  },
                  "CurrRunCycle": {
                    "value": "@pipeline().parameters.RunCycle",
                    "type": "Expression"
                  },
                  "RunID": {
                    "value": "@pipeline().parameters.RunID",
                    "type": "Expression"
                  },
                  "IDSOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "ids_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                    "type": "Expression"
                  }
                }
              }
            }
          ],
          "ifFalseActivities": []
        }
      },
      {
        "name": "If_2D",
        "type": "IfCondition",
        "dependsOn": [
          {
            "activity": "BCAClmLnPKExtr",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "expression": {
            "value": "@not(contains(split(pipeline().parameters.ExclusionList,';'),'LoadKClmLn'))",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "name": "LoadKClmLn",
              "type": "DatabricksNotebook",
              "dependsOn": [],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/DB.LOAD')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "table": "K_CLM_LN",
                  "action": "UPDATE",
                  "file_name": "K_CLM_LN.dat",
                  "run_stat": "N",
                  "owner": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                    "type": "Expression"
                  },
                  "EnvProjectPath": {
                    "value": "",
                    "type": "Expression"
                  },
                  "file_path": {
                    "value": "",
                    "type": "Expression"
                  }
                }
              }
            }
          ],
          "ifFalseActivities": []
        }
      },
      {
        "name": "If_1B",
        "type": "IfCondition",
        "dependsOn": [
          {
            "activity": "Wait_Or_2C_Skip",
            "dependencyConditions": [
              "Succeeded"
            ]
          },
          {
            "activity": "LoadKClmLn",
            "dependencyConditions": [
              "Succeeded"
            ]
          },
          {
            "activity": "BCAClmLnPKExtr",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "expression": {
            "value": "@not(contains(split(pipeline().parameters.ExclusionList,';'),'BCADrugExtrSeq'))",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "name": "BCADrugExtrSeq",
              "type": "ExecutePipeline",
              "dependsOn": [],
              "policy": {
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "waitOnCompletion": true,
                "pipeline": {
                  "referenceName": "BCADrugExtrSeq",
                  "type": "PipelineReference"
                },
                "parameters": {
                  "CurrentDate": {
                    "value": "@pipeline().parameters.CurrentDate",
                    "type": "Expression"
                  },
                  "RunCycle": {
                    "value": "@pipeline().parameters.RunCycle",
                    "type": "Expression"
                  },
                  "ExclusionList": {
                    "value": "@pipeline().parameters.ExclusionList",
                    "type": "Expression"
                  },
                  "RunID": {
                    "value": "@pipeline().parameters.RunID",
                    "type": "Expression"
                  },
                  "SourceSys": {
                    "value": "@pipeline().parameters.SourceSys",
                    "type": "Expression"
                  },
                  "SourceSysCdSK": {
                    "value": "@pipeline().parameters.SourceSysCdSK",
                    "type": "Expression"
                  },
                  "IDSOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "ids_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                    "type": "Expression"
                  },
                  "CactusOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_CactusOwner",
                    "type": "Expression"
                  },
                  "cactus_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_CactusSecret",
                    "type": "Expression"
                  },
                  "Logging": {
                    "value": "@pipeline().parameters.Logging",
                    "type": "Expression"
                  },
                  "ProvRunCycle": {
                    "value": "@pipeline().parameters.ProvRunCycle",
                    "type": "Expression"
                  }
                }
              }
            }
          ],
          "ifFalseActivities": []
        }
      },
      {
        "name": "If_2A",
        "type": "IfCondition",
        "dependsOn": [
          {
            "activity": "BCADrugExtrSeq",
            "dependencyConditions": [
              "Succeeded"
            ]
          },
          {
            "activity": "Wait_Or_1B_Shortcut",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "expression": {
            "value": "@not(contains(split(pipeline().parameters.ExclusionList,';'),'MvExtractInput'))",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "name": "MvExtractInput",
              "type": "DatabricksNotebook",
              "dependsOn": [],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": "@concat(pipeline().globalParameters.gbl_param_scripts, '/Generic_ADLS_File_Operations')",
                "baseParameters": {
                  "src_file_with_path": {
                    "value": "/verified/BCADrugClm_Land.dat.",
                    "type": "Expression"
                  },
                  "command": "moveCompress",
                  "project": "integrate"
                }
              }
            }
          ],
          "ifFalseActivities": []
        }
      },
      {
        "name": "MvBCAClmsFile",
        "type": "IfCondition",
        "dependsOn": [
          {
            "activity": "MvExtractInput",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "expression": {
            "value": "@true()",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "name": "MvBCAClmsFile_Cmd",
              "type": "DatabricksNotebook",
              "dependsOn": [],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": "@concat(pipeline().globalParameters.gbl_param_scripts, '/Generic_ADLS_File_Operations')",
                "baseParameters": {
                  "src_file_with_path": {
                    "value": "/landing",
                    "type": "Expression"
                  },
                  "trgt_file_with_path": {
                    "value": "/.",
                    "type": "Expression"
                  },
                  "command": "moveCompress",
                  "project": "integrate"
                }
              }
            }
          ],
          "ifFalseActivities": []
        }
      },
      {
        "name": "RowCountErrorNPI_routine",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "MvBCAClmsFile_Cmd",
            "dependencyConditions": [
              "Succeeded"
            ]
          },
          {
            "activity": "Wait_Or_2A_Shortcut",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/UnixFileRecCnt')",
            "type": "Expression"
          },
          "baseParameters": {
            "UnixFileRecCnt_a1": {
              "type": "Expression",
              "value": "@concat(pipeline().globalParameters.gbl_param_FilePath,'/external')"
            },
            "UnixFileRecCnt_a2": "BCAFepRxClmPDXNtnlProvId_InvldRec.dat",
            "EnvProjectPath": {
              "value": "",
              "type": "Expression"
            },
            "FilePath": {
              "value": "",
              "type": "Expression"
            },
            "FileName": {
              "value": "",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "SetVariable_ErrorNPI",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "RowCountErrorNPI_routine",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "ErrorNPI",
          "value": {
            "type": "Expression",
            "value": "@string(activity('RowCountErrorNPI_routine').output.runOutput)"
          }
        }
      },
      {
        "name": "If_7A",
        "type": "IfCondition",
        "dependsOn": [
          {
            "activity": "SetVariable_ErrorNPI",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "expression": {
            "value": "@false()",
            "type": "Expression"
          },
          "ifTrueActivities": [],
          "ifFalseActivities": [
            {
              "name": "MvUnkPlnCdClmsFile",
              "type": "DatabricksNotebook",
              "dependsOn": [],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": "@concat(pipeline().globalParameters.gbl_param_scripts, '/Generic_ADLS_File_Operations')",
                "baseParameters": {
                  "src_file_with_path": {
                    "value": "/external/BCAFepRxClmPDXNtnlProvId_InvldRec.dat",
                    "type": "Expression"
                  },
                  "trgt_file_with_path": {
                    "value": "/.dat",
                    "type": "Expression"
                  },
                  "command": "moveCompress",
                  "project": "integrate"
                }
              }
            }
          ]
        }
      }
    ]
  }
}