npw-projects-np-projects-bluekc-translated-66e9366f6cca/Sprint_3_4_5/SequenceJobs/Integrate/CblTalnClmLnHlthCstGrpMACntl1.json
{
  "name": "CblTalnClmLnHlthCstGrpMACntl1",
  "type": "Microsoft.DataFactory/factories/pipelines",
  "properties": {
    "folder": {
      "name": "Integrate/Jobs/DataWarehouse/MemberRisk"
    },
    "parameters": {
      "Environment": {
        "type": "String",
        "defaultValue": ""
      },
      "EmailNotify": {
        "type": "String",
        "defaultValue": ""
      },
      "EmailNotifyInternal": {
        "type": "String",
        "defaultValue": ""
      },
      "TempOwner": {
        "type": "String",
        "defaultValue": ""
      },
      "DbUserList": {
        "type": "String",
        "defaultValue": ""
      },
      "Vendor": {
        "type": "String",
        "defaultValue": ""
      },
      "PopHealthEmail": {
        "type": "String",
        "defaultValue": ""
      },
      "VersionId": {
        "type": "String",
        "defaultValue": ""
      },
      "Variables_Logging": {
        "type": "String",
        "defaultValue": ""
      },
      "Variables_SrcSysCdSk": {
        "type": "String",
        "defaultValue": ""
      },
      "Variables_SrcSysCd": {
        "type": "String",
        "defaultValue": ""
      },
      "Variables_ExclusionList": {
        "type": "String",
        "defaultValue": ""
      },
      "Variables_ClmLnHlthFileName": {
        "type": "String",
        "defaultValue": ""
      },
      "Vars1_RunID": {
        "type": "String",
        "defaultValue": ""
      },
      "Vars1_RunCycle": {
        "type": "String",
        "defaultValue": ""
      },
      "Initial_JobName": {
        "type": "String",
        "defaultValue": ""
      },
      "Initial_Source": {
        "type": "String",
        "defaultValue": ""
      },
      "Initial_Target": {
        "type": "String",
        "defaultValue": ""
      },
      "Initial_Subject": {
        "type": "String",
        "defaultValue": ""
      },
      "Initial_Frequency": {
        "type": "String",
        "defaultValue": ""
      },
      "Variables_LastRunDate": {
        "type": "String",
        "defaultValue": ""
      },
      "Variables_NextBeginDate": {
        "type": "String",
        "defaultValue": ""
      }
    },
    "variables": {
      "PrefixFKeyFailedFileName": {
        "type": "String",
        "defaultValue": ""
      },
      "MonthYear": {
        "type": "String",
        "defaultValue": ""
      },
      "FileSuffixID": {
        "type": "String",
        "defaultValue": "99"
      },
      "MrLineFile": {
        "type": "String",
        "defaultValue": ""
      },
      "CurrDateTimestamp": {
        "type": "String",
        "defaultValue": ""
      },
      "CurrDate": {
        "type": "String",
        "defaultValue": ""
      },
      "ClmLnErrors": {
        "type": "String",
        "defaultValue": ""
      },
      "MrSvcErrors": {
        "type": "String",
        "defaultValue": ""
      },
      "ClmLnRows": {
        "type": "String",
        "defaultValue": ""
      },
      "MrSvcRows": {
        "type": "String",
        "defaultValue": ""
      },
      "LinkCount": {
        "type": "String",
        "defaultValue": ""
      }
    },
    "activities": [
      {
        "name": "Compute_PrefixFKeyFailedFileName",
        "type": "DatabricksNotebook",
        "dependsOn": [],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/ComputeUserVar')",
            "type": "Expression"
          },
          "baseParameters": {
            "Expression": "FKeysFailure.@pipeline().parameters.Initial_JobName.@pipeline().parameters.Vars1_RunID"
          }
        }
      },
      {
        "name": "Set_PrefixFKeyFailedFileName",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "Compute_PrefixFKeyFailedFileName",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "PrefixFKeyFailedFileName",
          "value": {
            "value": "@string(activity('Compute_PrefixFKeyFailedFileName').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "Compute_MonthYear",
        "type": "DatabricksNotebook",
        "dependsOn": [],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/ComputeUserVar')",
            "type": "Expression"
          },
          "baseParameters": {
            "Expression": "@concat('SLICE(', pipeline().parameters.Variables_ClmLnHlthFileName, ')[33,6]')"
          }
        }
      },
      {
        "name": "Set_MonthYear",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "Compute_MonthYear",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "MonthYear",
          "value": {
            "value": "@string(activity('Compute_MonthYear').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "Compute_MrLineFile",
        "type": "DatabricksNotebook",
        "dependsOn": [],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/ComputeUserVar')",
            "type": "Expression"
          },
          "baseParameters": {
            "Expression": "@concat(pipeline().parameters.Vendor, '.BLUEKC_MA_MRLINE.', variables('MonthYear'), '.TXT')"
          }
        }
      },
      {
        "name": "Set_MrLineFile",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "Compute_MrLineFile",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "MrLineFile",
          "value": {
            "value": "@string(activity('Compute_MrLineFile').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "CurrDateTimestampRoutine",
        "type": "DatabricksNotebook",
        "dependsOn": [],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/FORMAT.DATE')",
            "type": "Expression"
          },
          "baseParameters": {
            "pInDate": "string('@DATE')",
            "pSource": "DATE",
            "pSourceFormat": "CURRENT",
            "pOutFormat": "DB2TIMESTAMP"
          }
        }
      },
      {
        "name": "Set_CurrDateTimestamp",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "CurrDateTimestampRoutine",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "CurrDateTimestamp",
          "value": {
            "value": "@string(activity('CurrDateTimestampRoutine').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "CurrDateRoutine",
        "type": "DatabricksNotebook",
        "dependsOn": [],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/FORMAT.DATE')",
            "type": "Expression"
          },
          "baseParameters": {
            "pInDate": "string('@DATE')",
            "pSource": "DATE",
            "pSourceFormat": "CURRENT",
            "pOutFormat": "CCYY-MM-DD"
          }
        }
      },
      {
        "name": "Set_CurrDate",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "CurrDateRoutine",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "CurrDate",
          "value": {
            "value": "@string(activity('CurrDateRoutine').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "Compute_ClmLnErrors",
        "type": "DatabricksNotebook",
        "dependsOn": [],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/UnixFileRecCnt')",
            "type": "Expression"
          },
          "baseParameters": {
            "UnixFileRecCnt_a1": "@concat('#$FilePath#/external|_CLMLNHLTH_ERRORS_.', variables('FileSuffixID'), '.', variables('CurrDateTimestamp'), '.dat')",
            "EnvProjectPath": {
              "value": "",
              "type": "Expression"
            },
            "FilePath": {
              "value": "",
              "type": "Expression"
            },
            "FileName": {
              "value": "",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "Set_ClmLnErrors",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "Compute_ClmLnErrors",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "ClmLnErrors",
          "value": {
            "value": "@string(activity('Compute_ClmLnErrors').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "Compute_MrSvcErrors",
        "type": "DatabricksNotebook",
        "dependsOn": [],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/UnixFileRecCnt')",
            "type": "Expression"
          },
          "baseParameters": {
            "UnixFileRecCnt_a1": "@concat('#$FilePath#/external|_MRLINESVC_ERRORS.dat')",
            "EnvProjectPath": {
              "value": "",
              "type": "Expression"
            },
            "FilePath": {
              "value": "",
              "type": "Expression"
            },
            "FileName": {
              "value": "",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "Set_MrSvcErrors",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "Compute_MrSvcErrors",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "MrSvcErrors",
          "value": {
            "value": "@string(activity('Compute_MrSvcErrors').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "Compute_ClmLnRows",
        "type": "DatabricksNotebook",
        "dependsOn": [],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/UnixFileRecCnt')",
            "type": "Expression"
          },
          "baseParameters": {
            "UnixFileRecCnt_a1": "@concat('#$FilePath#/landing|', pipeline().parameters.Variables_ClmLnHlthFileName)",
            "EnvProjectPath": {
              "value": "",
              "type": "Expression"
            },
            "FilePath": {
              "value": "",
              "type": "Expression"
            },
            "FileName": {
              "value": "",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "Set_ClmLnRows",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "Compute_ClmLnRows",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "ClmLnRows",
          "value": {
            "value": "@string(activity('Compute_ClmLnRows').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "Compute_MrSvcRows",
        "type": "DatabricksNotebook",
        "dependsOn": [],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/UnixFileRecCnt')",
            "type": "Expression"
          },
          "baseParameters": {
            "UnixFileRecCnt_a1": "@concat('#$FilePath#/landing|', variables('MrLineFile'))",
            "EnvProjectPath": {
              "value": "",
              "type": "Expression"
            },
            "FilePath": {
              "value": "",
              "type": "Expression"
            },
            "FileName": {
              "value": "",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "Set_MrSvcRows",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "Compute_MrSvcRows",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "MrSvcRows",
          "value": {
            "value": "@string(activity('Compute_MrSvcRows').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "FileAtach",
        "type": "DatabricksNotebook",
        "dependsOn": [],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_scripts,'/echo')",
            "type": "Expression"
          },
          "baseParameters": {}
        }
      },
      {
        "name": "If_4B",
        "type": "IfCondition",
        "dependsOn": [],
        "userProperties": [],
        "typeProperties": {
          "expression": {
            "value": "@equals(0,0)",
            "type": "Expression"
          },
          "ifTrueActivities": [],
          "ifFalseActivities": []
        }
      },
      {
        "name": "Execute_CblTalnClmLnHlthCstGrpLoadSeq",
        "type": "ExecutePipeline",
        "dependsOn": [],
        "policy": {
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "pipeline": {
            "referenceName": "CblTalnClmLnHlthCstGrpLoadSeq",
            "type": "PipelineReference"
          },
          "waitOnCompletion": true,
          "parameters": {
            "Logging": {
              "value": "@pipeline().parameters.Variables_Logging",
              "type": "Expression"
            },
            "RunID": {
              "value": "@pipeline().parameters.Vars1_RunID",
              "type": "Expression"
            },
            "SrcSysCdSk": {
              "value": "@pipeline().parameters.Variables_SrcSysCdSk",
              "type": "Expression"
            },
            "SrcSysCd": {
              "value": "@pipeline().parameters.Variables_SrcSysCd",
              "type": "Expression"
            },
            "ExclusionList": {
              "value": "@pipeline().parameters.Variables_ExclusionList",
              "type": "Expression"
            },
            "IDSOwner": {
              "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
              "type": "Expression"
            },
            "ids_secret_name": {
              "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
              "type": "Expression"
            },
            "PrefixFkeyFailedFileName": {
              "value": "@variables('PrefixFKeyFailedFileName')",
              "type": "Expression"
            },
            "RunCycle": {
              "value": "@pipeline().parameters.Vars1_RunCycle",
              "type": "Expression"
            },
            "CurrDate": {
              "value": "@variables('CurrDate')",
              "type": "Expression"
            },
            "TempOwner": {
              "value": "@pipeline().parameters.TempOwner",
              "type": "Expression"
            },
            "VersionId": {
              "value": "@pipeline().parameters.VersionId",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "StartLoop",
        "type": "ForEach",
        "dependsOn": [],
        "typeProperties": {
          "items": {
            "value": "@pipeline().parameters.Variables_ClmLnHlthFileName",
            "type": "Expression"
          },
          "activities": []
        }
      },
      {
        "name": "If_3B",
        "type": "IfCondition",
        "dependsOn": [],
        "userProperties": [],
        "typeProperties": {
          "expression": {
            "value": "@equals(0,0)",
            "type": "Expression"
          },
          "ifTrueActivities": [],
          "ifFalseActivities": []
        }
      },
      {
        "name": "DeleteExtrDataSets",
        "type": "DatabricksNotebook",
        "dependsOn": [],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_scripts,'/DataSet_Clear')",
            "type": "Expression"
          },
          "baseParameters": {
            "Arg1": "CLM_LN_HLTH_CST_GRP.#Variables_SrcSysCd#.extr.#Vars1_RunID#.ds",
            "Arg2": "MR_LN_SVC_CAT.#Variables_SrcSysCd#.extr.#Vars1_RunID#.ds",
            "GlobalEnvironment": {
              "value": "@pipeline().globalParameters.gbl_param_environment",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "Execute_CblTalnClmLnHlthCstGrpMAExtrSeq",
        "type": "ExecutePipeline",
        "dependsOn": [],
        "policy": {
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "pipeline": {
            "referenceName": "CblTalnClmLnHlthCstGrpMAExtrSeq",
            "type": "PipelineReference"
          },
          "waitOnCompletion": true,
          "parameters": {
            "EmailSupport": {
              "value": "@pipeline().globalParameters.gbl_param_EmailSupport",
              "type": "Expression"
            },
            "RunID": {
              "value": "@pipeline().parameters.Vars1_RunID",
              "type": "Expression"
            },
            "RunCycle": {
              "value": "@pipeline().parameters.Vars1_RunCycle",
              "type": "Expression"
            },
            "ExclusionList": {
              "value": "@pipeline().parameters.Variables_ExclusionList",
              "type": "Expression"
            },
            "CurrDate": {
              "value": "@variables('CurrDate')",
              "type": "Expression"
            },
            "SrcSysCd": {
              "value": "@pipeline().parameters.Variables_SrcSysCd",
              "type": "Expression"
            },
            "SrcSysCdSk": {
              "value": "@pipeline().parameters.Variables_SrcSysCdSk",
              "type": "Expression"
            },
            "IDSOwner": {
              "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
              "type": "Expression"
            },
            "ids_secret_name": {
              "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
              "type": "Expression"
            },
            "RunIDTimeStamp": {
              "value": "@variables('CurrDateTimestamp')",
              "type": "Expression"
            },
            "ClmLnFileName": {
              "value": "@pipeline().parameters.Variables_ClmLnHlthFileName",
              "type": "Expression"
            },
            "MrLnFileName": {
              "value": "@variables('MrLineFile')",
              "type": "Expression"
            },
            "Environment": {
              "value": "@pipeline().parameters.Environment",
              "type": "Expression"
            },
            "EmailNotify": {
              "value": "@pipeline().parameters.EmailNotify",
              "type": "Expression"
            },
            "YearMo": {
              "value": "@variables('MonthYear')",
              "type": "Expression"
            },
            "TempOwner": {
              "value": "@pipeline().parameters.TempOwner",
              "type": "Expression"
            },
            "DbUserList": {
              "value": "@pipeline().parameters.DbUserList",
              "type": "Expression"
            },
            "Vendor": {
              "value": "@pipeline().parameters.Vendor",
              "type": "Expression"
            },
            "FileSuffixID": {
              "value": "@variables('FileSuffixID')",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "LoopVars_WriteRunID",
        "type": "DatabricksNotebook",
        "dependsOn": [],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/WriteRunID')",
            "type": "Expression"
          },
          "baseParameters": {
            "entry_name": "Initial_JobName:\"RunID\"",
            "GlobalEnvironment": {
              "value": "@pipeline().globalParameters.gbl_param_environment",
              "type": "Expression"
            },
            "secret_name": {
              "value": "",
              "type": "Expression"
            },
            "IDSOwner": {
              "value": "",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "LoopVars_SetSomething",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "LoopVars_WriteRunID",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "CurrDateTimestamp",
          "value": {
            "value": "@string(activity('LoopVars_WriteRunID').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "FkeyTempFileCreation",
        "type": "DatabricksNotebook",
        "dependsOn": [],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_scripts,'/Generic_ADLS_File_Operations')",
            "type": "Expression"
          },
          "baseParameters": {
            "src_file_with_path": "@concat('#$FilePath#/fkey_failures/', 'PrefixFKeyFailedFileName.*.dat')",
            "trgt_file_with_path": "@concat('#$FilePath#/fkey_failures/temp.', 'PrefixFKeyFailedFileName.dat')",
            "command": "cat",
            "project": "integrate"
          }
        }
      },
      {
        "name": "FkeyReadyFileCreation",
        "type": "DatabricksNotebook",
        "dependsOn": [],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_scripts,'/Generic_ADLS_File_Operations')",
            "type": "Expression"
          },
          "baseParameters": {
            "src_file_with_path": "@concat('#$FilePath#/fkey_failures/temp.', 'PrefixFKeyFailedFileName.dat')",
            "trgt_file_with_path": "@concat('#$FilePath#/fkey_failures/ready.', 'PrefixFKeyFailedFileName.dat')",
            "command": "move",
            "project": "integrate"
          }
        }
      },
      {
        "name": "WriteLastRunDate",
        "type": "DatabricksNotebook",
        "dependsOn": [],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/WriteRunInfo')",
            "type": "Expression"
          },
          "baseParameters": {
            "arg1": "Initial_JobName:\"LastRunDate\"",
            "arg2": {
              "value": "@pipeline().parameters.Variables_NextBeginDate",
              "type": "Expression"
            },
            "arg3": {
              "value": "@pipeline().parameters.Variables_LastRunDate",
              "type": "Expression"
            },
            "GlobalEnvironment": {
              "value": "@pipeline().globalParameters.gbl_param_environment",
              "type": "Expression"
            },
            "secret_name": {
              "value": "",
              "type": "Expression"
            },
            "IDSOwner": {
              "value": "",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "CloseRunCycle",
        "type": "DatabricksNotebook",
        "dependsOn": [],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/CloseRunCycle')",
            "type": "Expression"
          },
          "baseParameters": {
            "CloseRunCycle_a1": {
              "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
              "type": "Expression"
            },
            "secret_name": {
              "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
              "type": "Expression"
            },
            "CloseRunCycle_a2": {
              "value": "@pipeline().parameters.Initial_Source",
              "type": "Expression"
            },
            "CloseRunCycle_a3": {
              "value": "@pipeline().parameters.Initial_Target",
              "type": "Expression"
            },
            "CloseRunCycle_a4": {
              "value": "@pipeline().parameters.Initial_Subject",
              "type": "Expression"
            },
            "CloseRunCycle_a5": {
              "value": "@pipeline().parameters.Initial_Frequency",
              "type": "Expression"
            },
            "CloseRunCycle_a6": {
              "value": "@pipeline().parameters.Vars1_RunCycle",
              "type": "Expression"
            },
            "GlobalEnvironment": {
              "value": "@pipeline().globalParameters.gbl_param_environment",
              "type": "Expression"
            },
            "DBOwner": {
              "value": "",
              "type": "Expression"
            },
            "SrcSystem": {
              "value": "",
              "type": "Expression"
            },
            "TrgtSystem": {
              "value": "",
              "type": "Expression"
            },
            "SubjCode": {
              "value": "",
              "type": "Expression"
            },
            "FreqCode": {
              "value": "",
              "type": "Expression"
            },
            "RunCycle": {
              "value": "",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "Email_POP_HLTH",
        "type": "ExecutePipeline",
        "dependsOn": [],
        "policy": {
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "pipeline": {
            "referenceName": "Email_Notification",
            "type": "PipelineReference"
          },
          "waitOnCompletion": true,
          "parameters": {
            "recipients": {
              "value": "@pipeline().parameters.PopHealthEmail",
              "type": "Expression"
            },
            "subject": "MR LINE FILE NOT RECEIVED FOR MILLIMAN HCG",
            "body": "The IDS - CblTalnClmLnHlthCstGrpCntl has begun running for the month as the files have arrived but, had a soft abend as one of the below files has not been received or is in the wrong naming convention.\n\nZENA JOB : MBRRISK_IDS_HCG_MNTHLY_WRHS_000\n\nFILE NAME : MILLIMAN.MRLINE.*.TXT",
            "blobFilenames": " ",
            "fromemail": {
              "value": "@pipeline().globalParameters.gbl_param_fromemail",
              "type": "Expression"
            },
            "containerName": " "
          }
        }
      },
      {
        "name": "SuccessNoFile",
        "type": "DatabricksNotebook",
        "dependsOn": [],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_scripts,'/echo')",
            "type": "Expression"
          },
          "baseParameters": {}
        }
      },
      {
        "name": "DeleteXfrmDataSets",
        "type": "DatabricksNotebook",
        "dependsOn": [],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_scripts,'/DataSet_Clear')",
            "type": "Expression"
          },
          "baseParameters": {
            "Arg1": "CLM_LN_HLTH_CST_GRP.#Variables_SrcSysCd#.xfrm.#Vars1_RunID#.ds",
            "Arg2": "MR_LN_SVC_CAT.#Variables_SrcSysCd#.xfrm.#Vars1_RunID#.ds",
            "GlobalEnvironment": {
              "value": "@pipeline().globalParameters.gbl_param_environment",
              "type": "Expression"
            }
          }
        }
      }
    ]
  }
}