npw-projects-np-projects-bluekc-translated-66e9366f6cca/Sprint_3_4_5/SequenceJobs/Integrate/CblTalnCchgRplcCntl_2.json
{
  "name": "CblTalnCchgRplcCntl_2",
  "type": "Microsoft.DataFactory/factories/pipelines",
  "properties": {
    "folder": {
      "name": "Integrate/Jobs/DataWarehouse/MemberRisk"
    },
    "parameters": {
      "Environment": {
        "type": "String",
        "defaultValue": ""
      },
      "EmailNotify": {
        "type": "String",
        "defaultValue": ""
      },
      "EmailNotifyInternal": {
        "type": "String",
        "defaultValue": ""
      },
      "Vendor": {
        "type": "String",
        "defaultValue": ""
      },
      "PopHealthEmail": {
        "type": "String",
        "defaultValue": ""
      },
      "VersionId": {
        "type": "String",
        "defaultValue": ""
      },
      "SrcSys": {
        "type": "String",
        "defaultValue": ""
      },
      "Files_SnglCatGrpFile": {
        "type": "String",
        "defaultValue": ""
      },
      "Files_MultCatGrpFile": {
        "type": "String",
        "defaultValue": ""
      },
      "Files_ClmLnFile": {
        "type": "String",
        "defaultValue": ""
      },
      "Files_MbrEnrFile": {
        "type": "String",
        "defaultValue": ""
      },
      "Initial_SrcSys": {
        "type": "String",
        "defaultValue": ""
      },
      "Initial_Target": {
        "type": "String",
        "defaultValue": ""
      },
      "Initial_Subject": {
        "type": "String",
        "defaultValue": ""
      },
      "Initial_Frequency": {
        "type": "String",
        "defaultValue": ""
      },
      "Initial_JobName": {
        "type": "String",
        "defaultValue": ""
      },
      "Initial_Source": {
        "type": "String",
        "defaultValue": ""
      },
      "LoopVars_PrcsYrMo": {
        "type": "String",
        "defaultValue": ""
      },
      "LoopVars_RunCycle": {
        "type": "String",
        "defaultValue": ""
      },
      "LoopVars_RunID": {
        "type": "String",
        "defaultValue": ""
      },
      "FkeyFailFilePrefix_PrefixFKeyFailedFileName": {
        "type": "String",
        "defaultValue": ""
      }
    },
    "variables": {
      "SingleCatErrorsRaw": {
        "type": "String",
        "defaultValue": ""
      },
      "SingleCatErrors": {
        "type": "String",
        "defaultValue": ""
      },
      "MultiCatErrorsRaw": {
        "type": "String",
        "defaultValue": ""
      },
      "MultiCatErrors": {
        "type": "String",
        "defaultValue": ""
      },
      "ClmLnCchgErrorsRaw": {
        "type": "String",
        "defaultValue": ""
      },
      "ClmLnCchgErrors": {
        "type": "String",
        "defaultValue": ""
      },
      "IndvBeCchgErrorsRaw": {
        "type": "String",
        "defaultValue": ""
      },
      "IndvBeCchgErrors": {
        "type": "String",
        "defaultValue": ""
      },
      "SingleCatRows": {
        "type": "String",
        "defaultValue": ""
      },
      "MultiCatRows": {
        "type": "String",
        "defaultValue": ""
      },
      "ClmLnCchgRows": {
        "type": "String",
        "defaultValue": ""
      },
      "IndvBeCchgRows": {
        "type": "String",
        "defaultValue": ""
      },
      "LinkCount": {
        "type": "String",
        "defaultValue": ""
      }
    },
    "activities": [
      {
        "name": "UnixFileRecCnt_SingleCatErrorsRaw",
        "type": "DatabricksNotebook",
        "dependsOn": [],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "notebookPath": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/UnixFileRecCnt')",
          "baseParameters": {
            "UnixFileRecCnt_a1": {
              "value": "@concat(pipeline().globalParameters.gbl_param_container_published, '/', pipeline().globalParameters.gbl_param_environment, '/external/', pipeline().parameters.Vendor, '_CCHG_SNGL_CAT_GRP_ERRORS.dat')",
              "type": "Expression"
            },
            "EnvProjectPath": {
              "value": "",
              "type": "Expression"
            },
            "FilePath": {
              "value": "",
              "type": "Expression"
            },
            "FileName": {
              "value": "",
              "type": "Expression"
            }
          }
        },
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        }
      },
      {
        "name": "IfCondition_SingleCatErrors",
        "type": "IfCondition",
        "dependsOn": [
          {
            "activity": "UnixFileRecCnt_SingleCatErrorsRaw",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "expression": {
            "value": "@greater(int(variables('SingleCatErrorsRaw')),1)",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "name": "Set_SingleCatErrors_True",
              "type": "SetVariable",
              "dependsOn": [],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "SingleCatErrors",
                "value": {
                  "value": "@string(sub(int(variables('SingleCatErrorsRaw')),1))",
                  "type": "Expression"
                }
              }
            }
          ],
          "ifFalseActivities": [
            {
              "name": "Set_SingleCatErrors_False",
              "type": "SetVariable",
              "dependsOn": [],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "SingleCatErrors",
                "value": "0"
              }
            }
          ]
        }
      },
      {
        "name": "UnixFileRecCnt_MultiCatErrorsRaw",
        "type": "DatabricksNotebook",
        "dependsOn": [],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "notebookPath": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/UnixFileRecCnt')",
          "baseParameters": {
            "UnixFileRecCnt_a1": {
              "value": "@concat(pipeline().globalParameters.gbl_param_container_published, '/', pipeline().globalParameters.gbl_param_environment, '/external/', pipeline().parameters.Vendor, '_CCHG_MULT_CAT_GRP_ERRORS.dat')",
              "type": "Expression"
            },
            "EnvProjectPath": {
              "value": "",
              "type": "Expression"
            },
            "FilePath": {
              "value": "",
              "type": "Expression"
            },
            "FileName": {
              "value": "",
              "type": "Expression"
            }
          }
        },
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        }
      },
      {
        "name": "IfCondition_MultiCatErrors",
        "type": "IfCondition",
        "dependsOn": [
          {
            "activity": "UnixFileRecCnt_MultiCatErrorsRaw",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "expression": {
            "value": "@greater(int(variables('MultiCatErrorsRaw')),1)",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "name": "Set_MultiCatErrors_True",
              "type": "SetVariable",
              "dependsOn": [],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "MultiCatErrors",
                "value": {
                  "value": "@string(sub(int(variables('MultiCatErrorsRaw')),1))",
                  "type": "Expression"
                }
              }
            }
          ],
          "ifFalseActivities": [
            {
              "name": "Set_MultiCatErrors_False",
              "type": "SetVariable",
              "dependsOn": [],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "MultiCatErrors",
                "value": "0"
              }
            }
          ]
        }
      },
      {
        "name": "UnixFileRecCnt_ClmLnCchgErrorsRaw",
        "type": "DatabricksNotebook",
        "dependsOn": [],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "notebookPath": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/UnixFileRecCnt')",
          "baseParameters": {
            "UnixFileRecCnt_a1": {
              "value": "@concat(pipeline().globalParameters.gbl_param_container_published, '/', pipeline().globalParameters.gbl_param_environment, '/external/', pipeline().parameters.Vendor, '_CLM_LN_CCHG_ERRORS.dat')",
              "type": "Expression"
            },
            "EnvProjectPath": {
              "value": "",
              "type": "Expression"
            },
            "FilePath": {
              "value": "",
              "type": "Expression"
            },
            "FileName": {
              "value": "",
              "type": "Expression"
            }
          }
        },
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        }
      },
      {
        "name": "IfCondition_ClmLnCchgErrors",
        "type": "IfCondition",
        "dependsOn": [
          {
            "activity": "UnixFileRecCnt_ClmLnCchgErrorsRaw",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "expression": {
            "value": "@greater(int(variables('ClmLnCchgErrorsRaw')),1)",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "name": "Set_ClmLnCchgErrors_True",
              "type": "SetVariable",
              "dependsOn": [],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "ClmLnCchgErrors",
                "value": {
                  "value": "@string(sub(int(variables('ClmLnCchgErrorsRaw')),1))",
                  "type": "Expression"
                }
              }
            }
          ],
          "ifFalseActivities": [
            {
              "name": "Set_ClmLnCchgErrors_False",
              "type": "SetVariable",
              "dependsOn": [],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "ClmLnCchgErrors",
                "value": "0"
              }
            }
          ]
        }
      },
      {
        "name": "UnixFileRecCnt_IndvBeCchgErrorsRaw",
        "type": "DatabricksNotebook",
        "dependsOn": [],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "notebookPath": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/UnixFileRecCnt')",
          "baseParameters": {
            "UnixFileRecCnt_a1": {
              "value": "@concat(pipeline().globalParameters.gbl_param_container_published, '/', pipeline().globalParameters.gbl_param_environment, '/external/', pipeline().parameters.Vendor, '_INDV_BE_CCHG_ERRORS.dat')",
              "type": "Expression"
            },
            "EnvProjectPath": {
              "value": "",
              "type": "Expression"
            },
            "FilePath": {
              "value": "",
              "type": "Expression"
            },
            "FileName": {
              "value": "",
              "type": "Expression"
            }
          }
        },
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        }
      },
      {
        "name": "IfCondition_IndvBeCchgErrors",
        "type": "IfCondition",
        "dependsOn": [
          {
            "activity": "UnixFileRecCnt_IndvBeCchgErrorsRaw",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "expression": {
            "value": "@greater(int(variables('IndvBeCchgErrorsRaw')),1)",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "name": "Set_IndvBeCchgErrors_True",
              "type": "SetVariable",
              "dependsOn": [],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "IndvBeCchgErrors",
                "value": {
                  "value": "@string(sub(int(variables('IndvBeCchgErrorsRaw')),1))",
                  "type": "Expression"
                }
              }
            }
          ],
          "ifFalseActivities": [
            {
              "name": "Set_IndvBeCchgErrors_False",
              "type": "SetVariable",
              "dependsOn": [],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "IndvBeCchgErrors",
                "value": "0"
              }
            }
          ]
        }
      },
      {
        "name": "UnixFileRecCnt_SingleCatRows",
        "type": "DatabricksNotebook",
        "dependsOn": [],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "notebookPath": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/UnixFileRecCnt')",
          "baseParameters": {
            "UnixFileRecCnt_a1": {
              "value": "@concat(pipeline().globalParameters.gbl_param_container_raw, '/', pipeline().globalParameters.gbl_param_environment, '/landing/', pipeline().parameters.Files_SnglCatGrpFile)",
              "type": "Expression"
            },
            "EnvProjectPath": {
              "value": "",
              "type": "Expression"
            },
            "FilePath": {
              "value": "",
              "type": "Expression"
            },
            "FileName": {
              "value": "",
              "type": "Expression"
            }
          }
        },
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        }
      },
      {
        "name": "Set_SingleCatRows",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "UnixFileRecCnt_SingleCatRows",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "SingleCatRows",
          "value": {
            "value": "@string(activity('UnixFileRecCnt_SingleCatRows').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "UnixFileRecCnt_MultiCatRows",
        "type": "DatabricksNotebook",
        "dependsOn": [],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "notebookPath": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/UnixFileRecCnt')",
          "baseParameters": {
            "UnixFileRecCnt_a1": {
              "value": "@concat(pipeline().globalParameters.gbl_param_container_raw, '/', pipeline().globalParameters.gbl_param_environment, '/landing/', pipeline().parameters.Files_MultCatGrpFile)",
              "type": "Expression"
            },
            "EnvProjectPath": {
              "value": "",
              "type": "Expression"
            },
            "FilePath": {
              "value": "",
              "type": "Expression"
            },
            "FileName": {
              "value": "",
              "type": "Expression"
            }
          }
        },
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        }
      },
      {
        "name": "Set_MultiCatRows",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "UnixFileRecCnt_MultiCatRows",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "MultiCatRows",
          "value": {
            "value": "@string(activity('UnixFileRecCnt_MultiCatRows').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "UnixFileRecCnt_ClmLnCchgRows",
        "type": "DatabricksNotebook",
        "dependsOn": [],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "notebookPath": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/UnixFileRecCnt')",
          "baseParameters": {
            "UnixFileRecCnt_a1": {
              "value": "@concat(pipeline().globalParameters.gbl_param_container_raw, '/', pipeline().globalParameters.gbl_param_environment, '/landing/', pipeline().parameters.Files_ClmLnFile)",
              "type": "Expression"
            },
            "EnvProjectPath": {
              "value": "",
              "type": "Expression"
            },
            "FilePath": {
              "value": "",
              "type": "Expression"
            },
            "FileName": {
              "value": "",
              "type": "Expression"
            }
          }
        },
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        }
      },
      {
        "name": "Set_ClmLnCchgRows",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "UnixFileRecCnt_ClmLnCchgRows",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "ClmLnCchgRows",
          "value": {
            "value": "@string(activity('UnixFileRecCnt_ClmLnCchgRows').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "UnixFileRecCnt_IndvBeCchgRows",
        "type": "DatabricksNotebook",
        "dependsOn": [],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "notebookPath": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/UnixFileRecCnt')",
          "baseParameters": {
            "UnixFileRecCnt_a1": {
              "value": "@concat(pipeline().globalParameters.gbl_param_container_raw, '/', pipeline().globalParameters.gbl_param_environment, '/landing/', pipeline().parameters.Files_MbrEnrFile)",
              "type": "Expression"
            },
            "EnvProjectPath": {
              "value": "",
              "type": "Expression"
            },
            "FilePath": {
              "value": "",
              "type": "Expression"
            },
            "FileName": {
              "value": "",
              "type": "Expression"
            }
          }
        },
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        }
      },
      {
        "name": "Set_IndvBeCchgRows",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "UnixFileRecCnt_IndvBeCchgRows",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "IndvBeCchgRows",
          "value": {
            "value": "@string(activity('UnixFileRecCnt_IndvBeCchgRows').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "FileAtach",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "IfCondition_SingleCatErrors",
            "dependencyConditions": [
              "Succeeded"
            ]
          },
          {
            "activity": "IfCondition_MultiCatErrors",
            "dependencyConditions": [
              "Succeeded"
            ]
          },
          {
            "activity": "IfCondition_ClmLnCchgErrors",
            "dependencyConditions": [
              "Succeeded"
            ]
          },
          {
            "activity": "IfCondition_IndvBeCchgErrors",
            "dependencyConditions": [
              "Succeeded"
            ]
          },
          {
            "activity": "Set_SingleCatRows",
            "dependencyConditions": [
              "Succeeded"
            ]
          },
          {
            "activity": "Set_MultiCatRows",
            "dependencyConditions": [
              "Succeeded"
            ]
          },
          {
            "activity": "Set_ClmLnCchgRows",
            "dependencyConditions": [
              "Succeeded"
            ]
          },
          {
            "activity": "Set_IndvBeCchgRows",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "notebookPath": "@concat(pipeline().globalParameters.gbl_param_scripts, '/Generic_ADLS_File_Operations')",
          "baseParameters": {
            "src_file_with_path": {
              "value": "/external/Cchg_Load_Info.csv",
              "type": "Expression"
            },
            "command": "touch",
            "project": "integrate"
          }
        },
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        }
      },
      {
        "name": "EmailBusiness",
        "type": "ExecutePipeline",
        "dependsOn": [
          {
            "activity": "FileAtach",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "pipeline": {
            "referenceName": "Email_Notification",
            "type": "PipelineReference"
          },
          "waitOnCompletion": true,
          "parameters": {
            "recipients": {
              "value": "@pipeline().parameters.EmailNotifyInternal",
              "type": "Expression"
            },
            "subject": {
              "value": "@concat(pipeline().parameters.LoopVars_PrcsYrMo, ' CCHG file processed  ')",
              "type": "Expression"
            },
            "body": "CCHG files are processed and data is available in IDS. Attached file contains number of rows processed. EDW tables will be available in an hour. ",
            "blobFilenames": {
              "value": "@concat(pipeline().globalParameters.gbl_param_environment, '/external/Cchg_Load_Info.csv')",
              "type": "Expression"
            },
            "fromemail": {
              "value": "@pipeline().globalParameters.gbl_param_fromemail",
              "type": "Expression"
            },
            "containerName": {
              "value": "@pipeline().globalParameters.gbl_param_container_published",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "FkeyTempFileCreation",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "EmailBusiness",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "notebookPath": "@concat(pipeline().globalParameters.gbl_param_scripts, '/Generic_ADLS_File_Operations')",
          "baseParameters": {
            "src_file_with_path": {
              "value": "/.*.dat",
              "type": "Expression"
            },
            "trgt_file_with_path": {
              "value": "/.dat",
              "type": "Expression"
            },
            "command": "cat",
            "project": "integrate"
          }
        },
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        }
      },
      {
        "name": "FkeyReadyFileCreation",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "FkeyTempFileCreation",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "notebookPath": "@concat(pipeline().globalParameters.gbl_param_scripts, '/Generic_ADLS_File_Operations')",
          "baseParameters": {
            "src_file_with_path": {
              "value": "/.dat",
              "type": "Expression"
            },
            "trgt_file_with_path": {
              "value": "/.dat",
              "type": "Expression"
            },
            "command": "move",
            "project": "integrate"
          }
        },
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        }
      },
      {
        "name": "CloseRunCycle",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "FkeyReadyFileCreation",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "notebookPath": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/CloseRunCycle')",
          "baseParameters": {
            "DBOwner": {
              "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
              "type": "Expression"
            },
            "secret_name": {
              "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
              "type": "Expression"
            },
            "SrcSystem": {
              "value": "@pipeline().parameters.Initial_SrcSys",
              "type": "Expression"
            },
            "TrgtSystem": {
              "value": "@pipeline().parameters.Initial_Target",
              "type": "Expression"
            },
            "SubjCode": {
              "value": "@pipeline().parameters.Initial_Subject",
              "type": "Expression"
            },
            "FreqCode": {
              "value": "@pipeline().parameters.Initial_Frequency",
              "type": "Expression"
            },
            "RunCycle": {
              "value": "@pipeline().parameters.LoopVars_RunCycle",
              "type": "Expression"
            },
            "GlobalEnvironment": {
              "value": "@pipeline().globalParameters.gbl_param_environment",
              "type": "Expression"
            }
          }
        },
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        }
      },
      {
        "name": "BackupInputFile",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "CloseRunCycle",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "notebookPath": "@concat(pipeline().globalParameters.gbl_param_scripts, '/Generic_ADLS_File_Operations')",
          "baseParameters": {
            "src_file_with_path": {
              "value": "/landing/processed/<source_filename>.dat",
              "type": "Expression"
            },
            "trgt_file_with_path": {
              "value": "/landing/processed/<target_filename>.dat",
              "type": "Expression"
            },
            "command": "copy",
            "project": "integrate"
          }
        },
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        }
      },
      {
        "name": "MoveErrorFile",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "BackupInputFile",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "notebookPath": "@concat(pipeline().globalParameters.gbl_param_scripts, '/Generic_ADLS_File_Operations')",
          "baseParameters": {
            "src_file_with_path": {
              "value": "/external/processed/<source_filename>.dat",
              "type": "Expression"
            },
            "trgt_file_with_path": {
              "value": "/external/processed/<target_filename>.dat",
              "type": "Expression"
            },
            "command": "move",
            "project": "integrate"
          }
        },
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        }
      }
    ]
  }
}