npw-projects-np-projects-bluekc-translated-66e9366f6cca/Sprint_3_4_5/SequenceJobs/Integrate/CblTalnCchgCntl_1.json
{
  "name": "CblTalnCchgCntl_1",
  "type": "Microsoft.DataFactory/factories/pipelines",
  "properties": {
    "folder": {
      "name": "Integrate/Jobs/DataWarehouse/MemberRisk"
    },
    "parameters": {
      "Environment": {
        "type": "String",
        "defaultValue": ""
      },
      "EmailNotify": {
        "type": "String",
        "defaultValue": ""
      },
      "EmailNotifyInternal": {
        "type": "String",
        "defaultValue": ""
      },
      "Vendor": {
        "type": "String",
        "defaultValue": ""
      },
      "PopHealthEmail": {
        "type": "String",
        "defaultValue": ""
      },
      "VersionId": {
        "type": "String",
        "defaultValue": ""
      },
      "SrcSys": {
        "type": "String",
        "defaultValue": ""
      },
      "Initial_Source": {
        "type": "String",
        "defaultValue": ""
      },
      "Initial_Subject": {
        "type": "String",
        "defaultValue": ""
      },
      "Initial_Frequency": {
        "type": "String",
        "defaultValue": ""
      },
      "Files_SnglCatGrpFile": {
        "type": "String",
        "defaultValue": ""
      },
      "Files_MultCatGrpFile": {
        "type": "String",
        "defaultValue": ""
      },
      "Files_ClmLnFile": {
        "type": "String",
        "defaultValue": ""
      },
      "Files_MbrEnrFile": {
        "type": "String",
        "defaultValue": ""
      },
      "LoopVars_RunID": {
        "type": "String",
        "defaultValue": ""
      },
      "Variables_SnglCatGrpFilesCount": {
        "type": "String",
        "defaultValue": ""
      },
      "Initial_JobName": {
        "type": "String",
        "defaultValue": ""
      },
      "Initial_SrcSys": {
        "type": "String",
        "defaultValue": ""
      },
      "Initial_Target": {
        "type": "String",
        "defaultValue": ""
      },
      "Variables_ExclusionList": {
        "type": "String",
        "defaultValue": ""
      },
      "ListFiles_MbrEnrFileName": {
        "type": "String",
        "defaultValue": ""
      },
      "ListFiles_ClmLnFileName": {
        "type": "String",
        "defaultValue": ""
      },
      "ListFiles_MultCatGrpFileName": {
        "type": "String",
        "defaultValue": ""
      },
      "ListFiles_SnglCatGrpFileName": {
        "type": "String",
        "defaultValue": ""
      },
      "Variables_SrcSysCdSk": {
        "type": "String",
        "defaultValue": ""
      },
      "Variables_Logging": {
        "type": "String",
        "defaultValue": ""
      }
    },
    "variables": {
      "SnglCatGrpFile": {
        "type": "String",
        "defaultValue": ""
      },
      "MultCatGrpFile": {
        "type": "String",
        "defaultValue": ""
      },
      "ClmLnFile": {
        "type": "String",
        "defaultValue": ""
      },
      "MbrEnrFile": {
        "type": "String",
        "defaultValue": ""
      },
      "RunCycle": {
        "type": "String",
        "defaultValue": ""
      },
      "RunID": {
        "type": "String",
        "defaultValue": ""
      },
      "CurrDateTimestamp": {
        "type": "String",
        "defaultValue": ""
      },
      "CurrDate": {
        "type": "String",
        "defaultValue": ""
      },
      "PrcsYrMo": {
        "type": "String",
        "defaultValue": ""
      },
      "PrefixFKeyFailedFileName": {
        "type": "String",
        "defaultValue": ""
      },
      "LinkCount": {
        "type": "String",
        "defaultValue": ""
      }
    },
    "activities": [
      {
        "name": "If_1A",
        "type": "IfCondition",
        "dependsOn": [
          {
            "activity": "LogCycle",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "expression": {
            "value": "@not(contains(split(pipeline().parameters.Variables_ExclusionList, ';'), 'CblTalnCchgExtrSeq'))",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "name": "CblTalnCchgExtrSeq",
              "type": "ExecutePipeline",
              "dependsOn": [],
              "policy": {
                "secureInput": false
              },
              "typeProperties": {
                "waitOnCompletion": true,
                "pipeline": {
                  "referenceName": "CblTalnCchgExtrSeq",
                  "type": "PipelineReference"
                },
                "parameters": {
                  "EmailSupport": {
                    "value": "@pipeline().globalParameters.gbl_param_EmailSupport",
                    "type": "Expression"
                  },
                  "RunID": {
                    "value": "@variables('RunID')",
                    "type": "Expression"
                  },
                  "RunCycle": {
                    "value": "@variables('RunCycle')",
                    "type": "Expression"
                  },
                  "ExclusionList": {
                    "value": "@pipeline().parameters.Variables_ExclusionList",
                    "type": "Expression"
                  },
                  "CurrDate": {
                    "value": "@variables('CurrDate')",
                    "type": "Expression"
                  },
                  "SrcSysCd": {
                    "value": "@pipeline().parameters.Initial_SrcSys",
                    "type": "Expression"
                  },
                  "SrcSysCdSk": {
                    "value": "@pipeline().parameters.Variables_SrcSysCdSk",
                    "type": "Expression"
                  },
                  "IDSOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "ids_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                    "type": "Expression"
                  },
                  "RunIDTimeStamp": {
                    "value": "@variables('CurrDateTimestamp')",
                    "type": "Expression"
                  },
                  "YearMo": {
                    "value": "@variables('PrcsYrMo')",
                    "type": "Expression"
                  },
                  "Environment": {
                    "value": "@pipeline().parameters.Environment",
                    "type": "Expression"
                  },
                  "EmailNotify": {
                    "value": "@pipeline().parameters.EmailNotify",
                    "type": "Expression"
                  },
                  "SnglCatGrpFileName": {
                    "value": "@variables('SnglCatGrpFile')",
                    "type": "Expression"
                  },
                  "MultCatGrpFileName": {
                    "value": "@variables('MultCatGrpFile')",
                    "type": "Expression"
                  },
                  "ClmLnFileName": {
                    "value": "@variables('ClmLnFile')",
                    "type": "Expression"
                  },
                  "MbrEnrFileName": {
                    "value": "@variables('MbrEnrFile')",
                    "type": "Expression"
                  },
                  "Vendor": {
                    "value": "@pipeline().parameters.Vendor",
                    "type": "Expression"
                  }
                }
              }
            }
          ],
          "ifFalseActivities": []
        }
      },
      {
        "name": "If_1B",
        "type": "IfCondition",
        "dependsOn": [
          {
            "activity": "CblTalnCchgExtrSeq",
            "dependencyConditions": [
              "Succeeded"
            ]
          },
          {
            "activity": "If_1A_falseWait",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "expression": {
            "value": "@not(contains(split(pipeline().parameters.Variables_ExclusionList, ';'), 'CblTalnCchgLoadSeq'))",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "name": "CblTalnCchgLoadSeq",
              "type": "ExecutePipeline",
              "dependsOn": [],
              "policy": {
                "secureInput": false
              },
              "typeProperties": {
                "waitOnCompletion": true,
                "pipeline": {
                  "referenceName": "CblTalnCchgLoadSeq",
                  "type": "PipelineReference"
                },
                "parameters": {
                  "Logging": {
                    "value": "@pipeline().parameters.Variables_Logging",
                    "type": "Expression"
                  },
                  "RunID": {
                    "value": "@variables('RunID')",
                    "type": "Expression"
                  },
                  "SrcSysCdSk": {
                    "value": "@pipeline().parameters.Variables_SrcSysCdSk",
                    "type": "Expression"
                  },
                  "SrcSysCd": {
                    "value": "@pipeline().parameters.Initial_SrcSys",
                    "type": "Expression"
                  },
                  "ExclusionList": {
                    "value": "@pipeline().parameters.Variables_ExclusionList",
                    "type": "Expression"
                  },
                  "IDSOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "ids_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                    "type": "Expression"
                  },
                  "PrefixFkeyFailedFileName": {
                    "value": "@variables('PrefixFKeyFailedFileName')",
                    "type": "Expression"
                  },
                  "RunCycle": {
                    "value": "@variables('RunCycle')",
                    "type": "Expression"
                  },
                  "CurrDate": {
                    "value": "@variables('CurrDate')",
                    "type": "Expression"
                  },
                  "VersionId": {
                    "value": "@pipeline().parameters.VersionId",
                    "type": "Expression"
                  }
                }
              }
            }
          ],
          "ifFalseActivities": []
        }
      },
      {
        "name": "If_3B",
        "type": "IfCondition",
        "dependsOn": [
          {
            "activity": "CblTalnCchgLoadSeq",
            "dependencyConditions": [
              "Succeeded"
            ]
          },
          {
            "activity": "If_1B_falseWait",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "expression": {
            "value": "@not(contains(split(pipeline().parameters.Variables_ExclusionList, ';'), 'ClearPreReqdsFiles'))",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "name": "DeleteExtrDataSets",
              "type": "DatabricksNotebook",
              "dependsOn": [],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_scripts,'/DataSet_Clear')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "Arg1": "CCHG_SNGL_CAT_GRP.@pipeline().parameters.Initial_Source.extr.@pipeline().parameters.LoopVars_RunID.ds",
                  "Arg2": "CCHG_MULT_CAT_GRP.@pipeline().parameters.Initial_Source.extr.@pipeline().parameters.LoopVars_RunID.ds",
                  "Arg3": "CLM_LN_CCHG.@pipeline().parameters.Initial_Source.extr.@pipeline().parameters.LoopVars_RunID.ds",
                  "Arg4": "INDV_BE_CCHG.@pipeline().parameters.Initial_Source.extr.@pipeline().parameters.LoopVars_RunID.ds",
                  "GlobalEnvironment": {
                    "value": "@pipeline().globalParameters.gbl_param_environment",
                    "type": "Expression"
                  }
                }
              }
            }
          ],
          "ifFalseActivities": []
        }
      },
      {
        "name": "If_4B",
        "type": "IfCondition",
        "dependsOn": [
          {
            "activity": "Any7",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "expression": {
            "value": "@not(contains(split(pipeline().parameters.Variables_ExclusionList, ';'), 'ClearPreReqdsFiles'))",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "name": "DeleteXfrmDataSets",
              "type": "DatabricksNotebook",
              "dependsOn": [],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_scripts,'/DataSet_Clear')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "Arg1": "CCHG_SNGL_CAT_GRP.@pipeline().parameters.Initial_Source.xfrm.@pipeline().parameters.LoopVars_RunID.ds",
                  "Arg2": "CCHG_MULT_CAT_GRP.@pipeline().parameters.Initial_Source.xfrm.@pipeline().parameters.LoopVars_RunID.ds",
                  "Arg3": "CLM_LN_CCHG.@pipeline().parameters.Initial_Source.xfrm.@pipeline().parameters.LoopVars_RunID.ds",
                  "Arg4": "INDV_BE_CCHG.@pipeline().parameters.Initial_Source.xfrm.@pipeline().parameters.LoopVars_RunID.ds",
                  "GlobalEnvironment": {
                    "value": "@pipeline().globalParameters.gbl_param_environment",
                    "type": "Expression"
                  }
                }
              }
            }
          ],
          "ifFalseActivities": []
        }
      },
      {
        "name": "CblTalnCchgCntl_2",
        "type": "ExecutePipeline",
        "dependsOn": [
          {
            "activity": "DeleteXfrmDataSets",
            "dependencyConditions": [
              "Succeeded"
            ]
          },
          {
            "activity": "If_4B_falseWait",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureInput": false
        },
        "typeProperties": {
          "waitOnCompletion": true,
          "pipeline": {
            "referenceName": "CblTalnCchgCntl_2",
            "type": "PipelineReference"
          },
          "parameters": {
            "IDSOwner": {
              "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
              "type": "Expression"
            },
            "ids_secret_name": {
              "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
              "type": "Expression"
            },
            "EmailSupport": {
              "value": "@pipeline().globalParameters.gbl_param_EmailSupport",
              "type": "Expression"
            },
            "Environment": {
              "value": "@pipeline().parameters.Environment",
              "type": "Expression"
            },
            "EmailNotify": {
              "value": "@pipeline().parameters.EmailNotify",
              "type": "Expression"
            },
            "EmailNotifyInternal": {
              "value": "@pipeline().parameters.EmailNotifyInternal",
              "type": "Expression"
            },
            "Vendor": {
              "value": "@pipeline().parameters.Vendor",
              "type": "Expression"
            },
            "PopHealthEmail": {
              "value": "@pipeline().parameters.PopHealthEmail",
              "type": "Expression"
            },
            "VersionId": {
              "value": "@pipeline().parameters.VersionId",
              "type": "Expression"
            },
            "SrcSys": {
              "value": "@pipeline().parameters.SrcSys",
              "type": "Expression"
            },
            "Initial_SrcSys": {
              "value": "@pipeline().parameters.Initial_SrcSys",
              "type": "Expression"
            },
            "Initial_Target": {
              "value": "@pipeline().parameters.Initial_Target",
              "type": "Expression"
            },
            "Initial_Subject": {
              "value": "@pipeline().parameters.Initial_Subject",
              "type": "Expression"
            },
            "Initial_Frequency": {
              "value": "@pipeline().parameters.Initial_Frequency",
              "type": "Expression"
            },
            "LoopVars_RunCycle": {
              "value": "@variables('RunCycle')",
              "type": "Expression"
            },
            "FkeyFailFilePrefix_PrefixFKeyFailedFileName": {
              "value": "@variables('PrefixFKeyFailedFileName')",
              "type": "Expression"
            },
            "Files_SnglCatGrpFile": {
              "value": "@pipeline().parameters.Files_SnglCatGrpFile",
              "type": "Expression"
            },
            "Files_MultCatGrpFile": {
              "value": "@pipeline().parameters.Files_MultCatGrpFile",
              "type": "Expression"
            },
            "Files_ClmLnFile": {
              "value": "@pipeline().parameters.Files_ClmLnFile",
              "type": "Expression"
            },
            "Files_MbrEnrFile": {
              "value": "@pipeline().parameters.Files_MbrEnrFile",
              "type": "Expression"
            },
            "LoopVars_RunID": {
              "value": "@pipeline().parameters.LoopVars_RunID",
              "type": "Expression"
            },
            "LoopVars_PrcsYrMo": {
              "value": "@variables('PrcsYrMo')",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "StartLoop",
        "type": "ForEach",
        "dependsOn": [],
        "userProperties": [],
        "typeProperties": {
          "items": [],
          "activities": []
        }
      },
      {
        "name": "RmFiles",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "CblTalnCchgCntl_2",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_scripts,'/Generic_ADLS_File_Operations')",
            "type": "Expression"
          },
          "baseParameters": {
            "src_file_with_path": {
              "value": "/landing",
              "type": "Expression"
            },
            "command": "delete",
            "project": "integrate"
          }
        }
      },
      {
        "name": "WriteRunID",
        "type": "DatabricksNotebook",
        "dependsOn": [],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/WriteRunID')",
            "type": "Expression"
          },
          "baseParameters": {
            "entry_name": {
              "value": "@concat(pipeline().parameters.Initial_JobName,'RunID')",
              "type": "Expression"
            },
            "GlobalEnvironment": {
              "value": "@pipeline().globalParameters.gbl_param_environment",
              "type": "Expression"
            },
            "secret_name": {
              "value": "",
              "type": "Expression"
            },
            "IDSOwner": {
              "value": "",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "LoopVars",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "WriteRunID",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/OpenRunCycle')",
            "type": "Expression"
          },
          "baseParameters": {
            "RunCycle_a1": {
              "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
              "type": "Expression"
            },
            "DBOwner": {
              "value": "@pipeline().parameters.Initial_SrcSys",
              "type": "Expression"
            },
            "RunCycle_a3": {
              "value": "@pipeline().parameters.Initial_Target",
              "type": "Expression"
            },
            "RunCycle_a4": {
              "value": "@pipeline().parameters.Initial_Subject",
              "type": "Expression"
            },
            "RunCycle_a5": {
              "value": "@pipeline().parameters.Initial_Frequency",
              "type": "Expression"
            },
            "GetRunInfo_a1": {
              "value": "@concat(pipeline().parameters.Initial_JobName,'RunID')",
              "type": "Expression"
            },
            "FORMAT.DATE_a1": {
              "value": "@dateTimeutcNow()",
              "type": "Expression"
            },
            "FORMAT.DATE_a2": "DATE",
            "FORMAT.DATE_a3": "CURRENT",
            "FORMAT.DATE_a4": "DB2TIMESTAMP",
            "FORMAT.DATE_a5": {
              "value": "@dateTimeutcNow()",
              "type": "Expression"
            },
            "FORMAT2.DATE_a2": "DATE",
            "FORMAT2.DATE_a3": "CURRENT",
            "FORMAT2.DATE_a4": "CCYY-MM-DD",
            "PrcsYrMoExpression": {
              "value": "@if(equals(pipeline().parameters.Vendor,'MEDINSIGHT'),substring(variables('SnglCatGrpFile'),30,6),substring(variables('SnglCatGrpFile'),28,6))",
              "type": "Expression"
            },
            "GlobalEnvironment": {
              "value": "@pipeline().globalParameters.gbl_param_environment",
              "type": "Expression"
            },
            "secret_name": {
              "value": "",
              "type": "Expression"
            },
            "Source": {
              "value": "",
              "type": "Expression"
            },
            "Target": {
              "value": "",
              "type": "Expression"
            },
            "Subject": {
              "value": "",
              "type": "Expression"
            },
            "Frequency": {
              "value": "",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "SetVar_RunCycle",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "LoopVars",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "RunCycle",
          "value": {
            "value": "@string(activity('LoopVars').output.runOutput.RunCycle)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "SetVar_RunID",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "SetVar_RunCycle",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "RunID",
          "value": {
            "value": "@string(activity('LoopVars').output.runOutput.RunID)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "SetVar_CurrDateTimestamp",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "SetVar_RunID",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "CurrDateTimestamp",
          "value": {
            "value": "@string(activity('LoopVars').output.runOutput.CurrDateTimestamp)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "SetVar_CurrDate",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "SetVar_CurrDateTimestamp",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "CurrDate",
          "value": {
            "value": "@string(activity('LoopVars').output.runOutput.CurrDate)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "SetVar_PrcsYrMo",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "SetVar_CurrDate",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "PrcsYrMo",
          "value": {
            "value": "@string(activity('LoopVars').output.runOutput.PrcsYrMo)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "SetVar_PrefixFKeyFailedFileName",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "SetVar_PrcsYrMo",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "PrefixFKeyFailedFileName",
          "value": {
            "value": "@string(activity('FkeyFailFilePrefix').output.runOutput)",
            "type": "Expression"
          }
        }
      }
    ]
  }
}