npw-projects-np-projects-bluekc-translated-66e9366f6cca/Sprint_3_4_5/SequenceJobs/Integrate/CblTalnClmLnHlthCstGrpCntl_2.json
{
  "name": "CblTalnClmLnHlthCstGrpCntl_2",
  "type": "Microsoft.DataFactory/factories/pipelines",
  "properties": {
    "folder": {
      "name": "Integrate/Jobs/DataWarehouse/MemberRisk"
    },
    "parameters": {
      "Environment": {
        "type": "String",
        "defaultValue": ""
      },
      "EmailNotify": {
        "type": "String",
        "defaultValue": ""
      },
      "EmailNotifyInternal": {
        "type": "String",
        "defaultValue": ""
      },
      "TempOwner": {
        "type": "String",
        "defaultValue": ""
      },
      "DbUserList": {
        "type": "String",
        "defaultValue": ""
      },
      "Vendor": {
        "type": "String",
        "defaultValue": ""
      },
      "PopHealthEmail": {
        "type": "String",
        "defaultValue": ""
      },
      "VersionId": {
        "type": "String",
        "defaultValue": ""
      },
      "Vars1_RunID": {
        "type": "String",
        "defaultValue": ""
      },
      "Variables_ExclusionList": {
        "type": "String",
        "defaultValue": ""
      },
      "Vars1_RunCycle": {
        "type": "String",
        "defaultValue": ""
      },
      "Variables_SrcSysCd": {
        "type": "String",
        "defaultValue": ""
      },
      "Variables_SrcSysCdSk": {
        "type": "String",
        "defaultValue": ""
      },
      "StartLoop_Counter": {
        "type": "String",
        "defaultValue": ""
      },
      "Vars_MonthYear": {
        "type": "String",
        "defaultValue": ""
      },
      "Vars_FileSuffixID": {
        "type": "String",
        "defaultValue": ""
      },
      "FileNames_MrLineFile": {
        "type": "String",
        "defaultValue": ""
      },
      "Variables_Logging": {
        "type": "String",
        "defaultValue": ""
      },
      "Initial_JobName": {
        "type": "String",
        "defaultValue": ""
      }
    },
    "variables": {
      "CurrDateTimestamp": {
        "type": "String",
        "defaultValue": ""
      },
      "CurrDate": {
        "type": "String",
        "defaultValue": ""
      },
      "PrefixFKeyFailedFileName": {
        "type": "String",
        "defaultValue": ""
      },
      "LinkCount": {
        "type": "String",
        "defaultValue": ""
      }
    },
    "activities": [
      {
        "name": "Email_POP_HLTH",
        "type": "ExecutePipeline",
        "dependsOn": [],
        "policy": {
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "pipeline": {
            "referenceName": "Email_Notification",
            "type": "PipelineReference"
          },
          "waitOnCompletion": true,
          "parameters": {
            "recipients": {
              "value": "@pipeline().parameters.PopHealthEmail",
              "type": "Expression"
            },
            "subject": "MR LINE FILE NOT RECEIVED FOR MILLIMAN HCG",
            "body": "The IDS - CblTalnClmLnHlthCstGrpCntl has begun running for the month as the files have arrived but, had a soft abend as one of the below files has not been received or is in the wrong naming convention.\n\nZENA JOB : MBRRISK_IDS_HCG_MNTHLY_WRHS_000\n\nFILE NAME : MILLIMAN.MRLINE.*.TXT",
            "blobFilenames": " ",
            "fromemail": {
              "value": "@pipeline().globalParameters.gbl_param_fromemail",
              "type": "Expression"
            },
            "containerName": " "
          }
        }
      },
      {
        "name": "WriteRunID",
        "type": "DatabricksNotebook",
        "dependsOn": [],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "userProperties": [],
        "typeProperties": {
          "notebookPath": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/WriteRunID')",
          "baseParameters": {
            "entry_name": {
              "value": "@concat(pipeline().parameters.Initial_JobName, ':RunID')",
              "type": "Expression"
            },
            "secret_name": {
              "value": "",
              "type": "Expression"
            },
            "IDSOwner": {
              "value": "",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "FORMAT_DATE_CurrDateTimestamp",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "WriteRunID",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "userProperties": [],
        "typeProperties": {
          "notebookPath": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/FORMAT.DATE')",
          "baseParameters": {
            "pInDate": "string('@DATE')",
            "pSource": "DATE",
            "pSourceFormat": "CURRENT",
            "pOutFormat": "DB2TIMESTAMP"
          }
        }
      },
      {
        "name": "Set_CurrDateTimestamp",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "FORMAT_DATE_CurrDateTimestamp",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "CurrDateTimestamp",
          "value": {
            "value": "@string(activity('FORMAT_DATE_CurrDateTimestamp').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "FORMAT_DATE_CurrDate",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "Set_CurrDateTimestamp",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "userProperties": [],
        "typeProperties": {
          "notebookPath": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/FORMAT.DATE')",
          "baseParameters": {
            "pInDate": "string('@DATE')",
            "pSource": "DATE",
            "pSourceFormat": "CURRENT",
            "pOutFormat": "CCYY-MM-DD"
          }
        }
      },
      {
        "name": "Set_CurrDate",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "FORMAT_DATE_CurrDate",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "CurrDate",
          "value": {
            "value": "@string(activity('FORMAT_DATE_CurrDate').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "Set_PrefixFKeyFailedFileName",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "Set_CurrDate",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "PrefixFKeyFailedFileName",
          "value": {
            "value": "@concat('FKeysFailure.', pipeline().Pipeline, '.', pipeline().parameters.Vars1_RunID)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "If_1A",
        "type": "IfCondition",
        "dependsOn": [
          {
            "activity": "Set_PrefixFKeyFailedFileName",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "expression": {
            "value": "@equals(contains(split(string(pipeline().parameters.Variables_ExclusionList), ';'), 'CblTalnClmLnHlthCstGrpExtrSeq'), false)",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "name": "CblTalnClmLnHlthCstGrpExtrSeq",
              "type": "ExecutePipeline",
              "dependsOn": [],
              "policy": {
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "pipeline": {
                  "referenceName": "CblTalnClmLnHlthCstGrpExtrSeq",
                  "type": "PipelineReference"
                },
                "waitOnCompletion": true,
                "parameters": {
                  "EmailSupport": {
                    "value": "@pipeline().globalParameters.gbl_param_EmailSupport",
                    "type": "Expression"
                  },
                  "RunID": {
                    "value": "@pipeline().parameters.Vars1_RunID",
                    "type": "Expression"
                  },
                  "RunCycle": {
                    "value": "@pipeline().parameters.Vars1_RunCycle",
                    "type": "Expression"
                  },
                  "ExclusionList": {
                    "value": "@pipeline().parameters.Variables_ExclusionList",
                    "type": "Expression"
                  },
                  "CurrDate": {
                    "value": "@variables('CurrDate')",
                    "type": "Expression"
                  },
                  "SrcSysCd": {
                    "value": "@pipeline().parameters.Variables_SrcSysCd",
                    "type": "Expression"
                  },
                  "SrcSysCdSk": {
                    "value": "@pipeline().parameters.Variables_SrcSysCdSk",
                    "type": "Expression"
                  },
                  "IDSOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "ids_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                    "type": "Expression"
                  },
                  "RunIDTimeStamp": {
                    "value": "@variables('CurrDateTimestamp')",
                    "type": "Expression"
                  },
                  "ClmLnFileName": {
                    "value": "@pipeline().parameters.StartLoop_Counter",
                    "type": "Expression"
                  },
                  "MrLnFileName": {
                    "value": "@pipeline().parameters.FileNames_MrLineFile",
                    "type": "Expression"
                  },
                  "Environment": {
                    "value": "@pipeline().parameters.Environment",
                    "type": "Expression"
                  },
                  "EmailNotify": {
                    "value": "@pipeline().parameters.EmailNotify",
                    "type": "Expression"
                  },
                  "YearMo": {
                    "value": "@pipeline().parameters.Vars_MonthYear",
                    "type": "Expression"
                  },
                  "TempOwner": {
                    "value": "@pipeline().parameters.TempOwner",
                    "type": "Expression"
                  },
                  "DbUserList": {
                    "value": "@pipeline().parameters.DbUserList",
                    "type": "Expression"
                  },
                  "Vendor": {
                    "value": "@pipeline().parameters.Vendor",
                    "type": "Expression"
                  },
                  "FileSuffixID": {
                    "value": "@pipeline().parameters.Vars_FileSuffixID",
                    "type": "Expression"
                  }
                }
              }
            }
          ],
          "ifFalseActivities": []
        }
      },
      {
        "name": "If_1B",
        "type": "IfCondition",
        "dependsOn": [
          {
            "activity": "If_1A",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "expression": {
            "value": "@equals(contains(split(string(pipeline().parameters.Variables_ExclusionList), ';'), 'CblTalnClmLnHlthCstGrpLoadSeq'), false)",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "name": "CblTalnClmLnHlthCstGrpLoadSeq",
              "type": "ExecutePipeline",
              "dependsOn": [],
              "policy": {
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "pipeline": {
                  "referenceName": "CblTalnClmLnHlthCstGrpLoadSeq",
                  "type": "PipelineReference"
                },
                "waitOnCompletion": true,
                "parameters": {
                  "Logging": {
                    "value": "@pipeline().parameters.Variables_Logging",
                    "type": "Expression"
                  },
                  "RunID": {
                    "value": "@pipeline().parameters.Vars1_RunID",
                    "type": "Expression"
                  },
                  "SrcSysCdSk": {
                    "value": "@pipeline().parameters.Variables_SrcSysCdSk",
                    "type": "Expression"
                  },
                  "SrcSysCd": {
                    "value": "@pipeline().parameters.Variables_SrcSysCd",
                    "type": "Expression"
                  },
                  "ExclusionList": {
                    "value": "@pipeline().parameters.Variables_ExclusionList",
                    "type": "Expression"
                  },
                  "IDSOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "ids_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                    "type": "Expression"
                  },
                  "PrefixFkeyFailedFileName": {
                    "value": "@variables('PrefixFKeyFailedFileName')",
                    "type": "Expression"
                  },
                  "RunCycle": {
                    "value": "@pipeline().parameters.Vars1_RunCycle",
                    "type": "Expression"
                  },
                  "CurrDate": {
                    "value": "@variables('CurrDate')",
                    "type": "Expression"
                  },
                  "TempOwner": {
                    "value": "@pipeline().parameters.TempOwner",
                    "type": "Expression"
                  },
                  "VersionId": {
                    "value": "@pipeline().parameters.VersionId",
                    "type": "Expression"
                  }
                }
              }
            }
          ],
          "ifFalseActivities": []
        }
      },
      {
        "name": "If_3B",
        "type": "IfCondition",
        "dependsOn": [
          {
            "activity": "If_1B",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "expression": {
            "value": "@equals(contains(split(string(pipeline().parameters.Variables_ExclusionList), ';'), 'DeleteExtrDataSets'), false)",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "name": "DeleteExtrDataSets",
              "type": "DatabricksNotebook",
              "dependsOn": [],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "userProperties": [],
              "typeProperties": {
                "notebookPath": "@concat(pipeline().globalParameters.gbl_param_scripts, 'DataSet_Clear')",
                "baseParameters": {
                  "dataSet1": {
                    "value": "@concat('CLM_LN_HLTH_CST_GRP.', pipeline().parameters.Variables_SrcSysCd, '.extr.', pipeline().parameters.Vars1_RunID, '.ds')",
                    "type": "Expression"
                  },
                  "dataSet2": {
                    "value": "@concat('MR_LN_SVC_CAT.', pipeline().parameters.Variables_SrcSysCd, '.extr.', pipeline().parameters.Vars1_RunID, '.ds')",
                    "type": "Expression"
                  },
                  "GlobalEnvironment": {
                    "value": "@pipeline().globalParameters.gbl_param_environment",
                    "type": "Expression"
                  }
                }
              }
            }
          ],
          "ifFalseActivities": []
        }
      },
      {
        "name": "If_4B",
        "type": "IfCondition",
        "dependsOn": [
          {
            "activity": "If_3B",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "expression": {
            "value": "@equals(contains(split(string(pipeline().parameters.Variables_ExclusionList), ';'), 'DeleteXfrmDataSets'), false)",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "name": "DeleteXfrmDataSets",
              "type": "DatabricksNotebook",
              "dependsOn": [],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "userProperties": [],
              "typeProperties": {
                "notebookPath": "@concat(pipeline().globalParameters.gbl_param_scripts, 'DataSet_Clear')",
                "baseParameters": {
                  "dataSet1": {
                    "value": "@concat('CLM_LN_HLTH_CST_GRP.', pipeline().parameters.Variables_SrcSysCd, '.xfrm.', pipeline().parameters.Vars1_RunID, '.ds')",
                    "type": "Expression"
                  },
                  "dataSet2": {
                    "value": "@concat('MR_LN_SVC_CAT.', pipeline().parameters.Variables_SrcSysCd, '.xfrm.', pipeline().parameters.Vars1_RunID, '.ds')",
                    "type": "Expression"
                  },
                  "GlobalEnvironment": {
                    "value": "@pipeline().globalParameters.gbl_param_environment",
                    "type": "Expression"
                  }
                }
              }
            }
          ],
          "ifFalseActivities": []
        }
      }
    ]
  }
}