npw-projects-np-projects-bluekc-translated-66e9366f6cca/Sprint_3_4_5/SequenceJobs/Integrate/CblTalnCchgRplcCntl_1.json
{
  "name": "CblTalnCchgRplcCntl_1",
  "type": "Microsoft.DataFactory/factories/pipelines",
  "properties": {
    "folder": {
      "name": "Integrate/Jobs/DataWarehouse/MemberRisk"
    },
    "parameters": {
      "Environment": {
        "type": "String"
      },
      "EmailNotify": {
        "type": "String"
      },
      "EmailNotifyInternal": {
        "type": "String"
      },
      "Vendor": {
        "type": "String"
      },
      "PopHealthEmail": {
        "type": "String"
      },
      "VersionId": {
        "type": "String"
      },
      "SrcSys": {
        "type": "String"
      },
      "Initial_SrcSys": {
        "type": "String"
      },
      "Initial_Target": {
        "type": "String"
      },
      "Initial_Subject": {
        "type": "String"
      },
      "Initial_Frequency": {
        "type": "String"
      },
      "Initial_JobName": {
        "type": "String"
      },
      "Variables_ExclusionList": {
        "type": "String"
      },
      "Variables_SrcSysCdSk": {
        "type": "String"
      },
      "Variables_Logging": {
        "type": "String"
      },
      "Initial_Source": {
        "type": "String"
      },
      "Process_Variables_PrcsYrMo": {
        "type": "String"
      },
      "ListFiles_ClmLnFileName": {
        "type": "String"
      },
      "ListFiles_MbrEnrFileName": {
        "type": "String"
      },
      "ListFiles_MultCatGrpFileName": {
        "type": "String"
      },
      "ListFiles_SnglCatGrpFileName": {
        "type": "String"
      },
      "Variables_SnglCatGrpFilesCount": {
        "type": "String"
      }
    },
    "variables": {
      "SnglCatGrpFile": {
        "type": "String",
        "defaultValue": ""
      },
      "MultCatGrpFile": {
        "type": "String",
        "defaultValue": ""
      },
      "ClmLnFile": {
        "type": "String",
        "defaultValue": ""
      },
      "MbrEnrFile": {
        "type": "String",
        "defaultValue": ""
      },
      "RunCycle": {
        "type": "String",
        "defaultValue": ""
      },
      "RunID": {
        "type": "String",
        "defaultValue": ""
      },
      "CurrDateTimestamp": {
        "type": "String",
        "defaultValue": ""
      },
      "CurrDate": {
        "type": "String",
        "defaultValue": ""
      },
      "PrcsYrMo": {
        "type": "String",
        "defaultValue": ""
      },
      "PrefixFKeyFailedFileName": {
        "type": "String",
        "defaultValue": ""
      },
      "LinkCount": {
        "type": "String",
        "defaultValue": ""
      }
    },
    "activities": [
      {
        "name": "If_1A",
        "type": "IfCondition",
        "dependsOn": [
          {
            "activity": "LogCycle",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "expression": {
            "value": "@equals(0, 0)",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "name": "CblTalnCchgExtrSeq",
              "type": "ExecutePipeline",
              "dependsOn": [],
              "policy": {
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "pipeline": {
                  "referenceName": "CblTalnCchgExtrSeq",
                  "type": "PipelineReference"
                },
                "parameters": {
                  "EmailSupport": {
                    "value": "@pipeline().globalParameters.gbl_param_EmailSupport",
                    "type": "Expression"
                  },
                  "RunID": {
                    "value": "@variables('RunID')",
                    "type": "Expression"
                  },
                  "RunCycle": {
                    "value": "@variables('RunCycle')",
                    "type": "Expression"
                  },
                  "ExclusionList": {
                    "value": "@pipeline().parameters.Variables_ExclusionList",
                    "type": "Expression"
                  },
                  "CurrDate": {
                    "value": "@variables('CurrDate')",
                    "type": "Expression"
                  },
                  "SrcSysCd": {
                    "value": "@pipeline().parameters.Initial_SrcSys",
                    "type": "Expression"
                  },
                  "SrcSysCdSk": {
                    "value": "@pipeline().parameters.Variables_SrcSysCdSk",
                    "type": "Expression"
                  },
                  "IDSOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "ids_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                    "type": "Expression"
                  },
                  "RunIDTimeStamp": {
                    "value": "@variables('CurrDateTimestamp')",
                    "type": "Expression"
                  },
                  "YearMo": {
                    "value": "@variables('PrcsYrMo')",
                    "type": "Expression"
                  },
                  "Environment": {
                    "value": "@pipeline().parameters.Environment",
                    "type": "Expression"
                  },
                  "EmailNotify": {
                    "value": "@pipeline().parameters.EmailNotify",
                    "type": "Expression"
                  },
                  "SnglCatGrpFileName": {
                    "value": "@variables('SnglCatGrpFile')",
                    "type": "Expression"
                  },
                  "MultCatGrpFileName": {
                    "value": "@variables('MultCatGrpFile')",
                    "type": "Expression"
                  },
                  "ClmLnFileName": {
                    "value": "@variables('ClmLnFile')",
                    "type": "Expression"
                  },
                  "MbrEnrFileName": {
                    "value": "@variables('MbrEnrFile')",
                    "type": "Expression"
                  },
                  "Vendor": {
                    "value": "@pipeline().parameters.Vendor",
                    "type": "Expression"
                  }
                },
                "waitOnCompletion": true
              }
            }
          ],
          "ifFalseActivities": []
        }
      },
      {
        "name": "If_1B",
        "type": "IfCondition",
        "dependsOn": [
          {
            "activity": "CblTalnCchgExtrSeq",
            "dependencyConditions": [
              "Succeeded"
            ]
          },
          {
            "activity": "If_1A",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "expression": {
            "value": "@equals(0, 0)",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "name": "CblTalnCchgRplcLoadSeq",
              "type": "ExecutePipeline",
              "dependsOn": [],
              "policy": {
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "pipeline": {
                  "referenceName": "CblTalnCchgRplcLoadSeq",
                  "type": "PipelineReference"
                },
                "parameters": {
                  "Logging": {
                    "value": "@pipeline().parameters.Variables_Logging",
                    "type": "Expression"
                  },
                  "RunID": {
                    "value": "@variables('RunID')",
                    "type": "Expression"
                  },
                  "SrcSysCdSk": {
                    "value": "@pipeline().parameters.Variables_SrcSysCdSk",
                    "type": "Expression"
                  },
                  "SrcSysCd": {
                    "value": "@pipeline().parameters.Initial_SrcSys",
                    "type": "Expression"
                  },
                  "ExclusionList": {
                    "value": "@pipeline().parameters.Variables_ExclusionList",
                    "type": "Expression"
                  },
                  "IDSOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "ids_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                    "type": "Expression"
                  },
                  "PrefixFkeyFailedFileName": {
                    "value": "@variables('PrefixFKeyFailedFileName')",
                    "type": "Expression"
                  },
                  "RunCycle": {
                    "value": "@variables('RunCycle')",
                    "type": "Expression"
                  },
                  "CurrDate": {
                    "value": "@variables('CurrDate')",
                    "type": "Expression"
                  },
                  "VersionId": {
                    "value": "@pipeline().parameters.VersionId",
                    "type": "Expression"
                  }
                },
                "waitOnCompletion": true
              }
            }
          ],
          "ifFalseActivities": []
        }
      },
      {
        "name": "If_3B",
        "type": "IfCondition",
        "dependsOn": [
          {
            "activity": "If_1B",
            "dependencyConditions": [
              "Succeeded"
            ]
          },
          {
            "activity": "CblTalnCchgRplcLoadSeq",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "expression": {
            "value": "@equals(0, 0)",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "name": "DeleteExtrDataSets",
              "type": "DatabricksNotebook",
              "dependsOn": [],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_scripts,'DataSet_Clear')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "arg1": "CCHG_SNGL_CAT_GRP.@pipeline().parameters.Initial_Source.extr.@variables('RunID').ds",
                  "arg2": "CCHG_MULT_CAT_GRP.@pipeline().parameters.Initial_Source.extr.@variables('RunID').ds",
                  "arg3": "CLM_LN_CCHG.@pipeline().parameters.Initial_Source.extr.@variables('RunID').ds",
                  "arg4": "INDV_BE_CCHG.@pipeline().parameters.Initial_Source.extr.@variables('RunID').ds",
                  "GlobalEnvironment": {
                    "value": "@pipeline().globalParameters.gbl_param_environment",
                    "type": "Expression"
                  }
                }
              }
            }
          ],
          "ifFalseActivities": []
        }
      },
      {
        "name": "If_4B",
        "type": "IfCondition",
        "dependsOn": [
          {
            "activity": "Any7",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "expression": {
            "value": "@equals(0, 0)",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "name": "DeleteXfrmDataSets",
              "type": "DatabricksNotebook",
              "dependsOn": [],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_scripts,'DataSet_Clear')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "arg1": "CCHG_SNGL_CAT_GRP.@pipeline().parameters.Initial_Source.extr.@variables('RunID').ds",
                  "arg2": "CCHG_MULT_CAT_GRP.@pipeline().parameters.Initial_Source.extr.@variables('RunID').ds",
                  "arg3": "CLM_LN_CCHG.@pipeline().parameters.Initial_Source.extr.@variables('RunID').ds",
                  "arg4": "INDV_BE_CCHG.@pipeline().parameters.Initial_Source.extr.@variables('RunID').ds",
                  "GlobalEnvironment": {
                    "value": "@pipeline().globalParameters.gbl_param_environment",
                    "type": "Expression"
                  }
                }
              }
            }
          ],
          "ifFalseActivities": []
        }
      },
      {
        "name": "CblTalnCchgRplcCntl_2",
        "type": "ExecutePipeline",
        "dependsOn": [
          {
            "activity": "If_4B",
            "dependencyConditions": [
              "Succeeded"
            ]
          },
          {
            "activity": "DeleteXfrmDataSets",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "pipeline": {
            "referenceName": "CblTalnCchgRplcCntl_2",
            "type": "PipelineReference"
          },
          "parameters": {
            "IDSOwner": {
              "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
              "type": "Expression"
            },
            "ids_secret_name": {
              "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
              "type": "Expression"
            },
            "EmailSupport": {
              "value": "@pipeline().globalParameters.gbl_param_EmailSupport",
              "type": "Expression"
            },
            "Environment": {
              "value": "@pipeline().parameters.Environment",
              "type": "Expression"
            },
            "EmailNotify": {
              "value": "@pipeline().parameters.EmailNotify",
              "type": "Expression"
            },
            "EmailNotifyInternal": {
              "value": "@pipeline().parameters.EmailNotifyInternal",
              "type": "Expression"
            },
            "Vendor": {
              "value": "@pipeline().parameters.Vendor",
              "type": "Expression"
            },
            "PopHealthEmail": {
              "value": "@pipeline().parameters.PopHealthEmail",
              "type": "Expression"
            },
            "VersionId": {
              "value": "@pipeline().parameters.VersionId",
              "type": "Expression"
            },
            "SrcSys": {
              "value": "@pipeline().parameters.SrcSys",
              "type": "Expression"
            },
            "Files_SnglCatGrpFile": " ",
            "Files_MultCatGrpFile": " ",
            "Files_ClmLnFile": " ",
            "Files_MbrEnrFile": " ",
            "Initial_SrcSys": " ",
            "Initial_Target": " ",
            "Initial_Subject": " ",
            "Initial_Frequency": " ",
            "Initial_JobName": " ",
            "Initial_Source": " ",
            "LoopVars_PrcsYrMo": " ",
            "LoopVars_RunCycle": " ",
            "LoopVars_RunID": " ",
            "FkeyFailFilePrefix_PrefixFKeyFailedFileName": " "
          },
          "waitOnCompletion": true
        }
      },
      {
        "name": "StartLoop",
        "type": "ForEach",
        "dependsOn": [],
        "typeProperties": {
          "items": {
            "value": "@range(1,1)",
            "type": "Expression"
          },
          "activities": [
            {
              "name": "FilesSetter",
              "type": "DatabricksNotebook",
              "dependsOn": [],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/Field')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "ItemIndex": {
                    "value": "@item()",
                    "type": "Expression"
                  },
                  "ListFiles_SnglCatGrpFileName": {
                    "value": "@pipeline().parameters.ListFiles_SnglCatGrpFileName",
                    "type": "Expression"
                  },
                  "ListFiles_MultCatGrpFileName": {
                    "value": "@pipeline().parameters.ListFiles_MultCatGrpFileName",
                    "type": "Expression"
                  },
                  "ListFiles_ClmLnFileName": {
                    "value": "@pipeline().parameters.ListFiles_ClmLnFileName",
                    "type": "Expression"
                  },
                  "ListFiles_MbrEnrFileName": {
                    "value": "@pipeline().parameters.ListFiles_MbrEnrFileName",
                    "type": "Expression"
                  },
                  "GlobalEnvironment": {
                    "value": "@pipeline().globalParameters.gbl_param_environment",
                    "type": "Expression"
                  }
                }
              }
            },
            {
              "name": "SnglCatGrpFile",
              "type": "SetVariable",
              "dependsOn": [
                {
                  "activity": "FilesSetter",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "SnglCatGrpFile",
                "value": {
                  "value": "@string(activity('FilesSetter').output.runOutput.SnglCatGrpFile)",
                  "type": "Expression"
                }
              }
            },
            {
              "name": "MultCatGrpFile",
              "type": "SetVariable",
              "dependsOn": [
                {
                  "activity": "SnglCatGrpFile",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "MultCatGrpFile",
                "value": {
                  "value": "@string(activity('FilesSetter').output.runOutput.MultCatGrpFile)",
                  "type": "Expression"
                }
              }
            },
            {
              "name": "ClmLnFile",
              "type": "SetVariable",
              "dependsOn": [
                {
                  "activity": "MultCatGrpFile",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "ClmLnFile",
                "value": {
                  "value": "@string(activity('FilesSetter').output.runOutput.ClmLnFile)",
                  "type": "Expression"
                }
              }
            },
            {
              "name": "MbrEnrFile",
              "type": "SetVariable",
              "dependsOn": [
                {
                  "activity": "ClmLnFile",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "MbrEnrFile",
                "value": {
                  "value": "@string(activity('FilesSetter').output.runOutput.MbrEnrFile)",
                  "type": "Expression"
                }
              }
            },
            {
              "name": "WriteRunID",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "MbrEnrFile",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/WriteRunID')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "entry_name": {
                    "value": "@concat(pipeline().parameters.Initial_JobName, ':\"RunID\"')",
                    "type": "Expression"
                  },
                  "GlobalEnvironment": {
                    "value": "@pipeline().globalParameters.gbl_param_environment",
                    "type": "Expression"
                  },
                  "secret_name": {
                    "value": "",
                    "type": "Expression"
                  },
                  "IDSOwner": {
                    "value": "",
                    "type": "Expression"
                  }
                }
              }
            },
            {
              "name": "WriteRunID_Notebook",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "MbrEnrFile",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/WriteRunID')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "entry_name": {
                    "value": "@concat(pipeline().parameters.Initial_JobName, ':\"RunID\"')",
                    "type": "Expression"
                  },
                  "GlobalEnvironment": {
                    "value": "@pipeline().globalParameters.gbl_param_environment",
                    "type": "Expression"
                  },
                  "secret_name": {
                    "value": "",
                    "type": "Expression"
                  },
                  "IDSOwner": {
                    "value": "",
                    "type": "Expression"
                  }
                }
              }
            },
            {
              "name": "WriteRunID",
              "type": "SetVariable",
              "dependsOn": [
                {
                  "activity": "WriteRunID",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "RunID",
                "value": {
                  "value": "@string(activity('WriteRunID_Notebook').output.runOutput)",
                  "type": "Expression"
                }
              }
            },
            {
              "name": "RunCycle_Notebook",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "WriteRunID",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/OpenRunCycle')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "DBOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "Source": {
                    "value": "@pipeline().parameters.Initial_SrcSys",
                    "type": "Expression"
                  },
                  "Target": {
                    "value": "@pipeline().parameters.Initial_Target",
                    "type": "Expression"
                  },
                  "Subject": {
                    "value": "@pipeline().parameters.Initial_Subject",
                    "type": "Expression"
                  },
                  "Frequency": {
                    "value": "@pipeline().parameters.Initial_Frequency",
                    "type": "Expression"
                  },
                  "GlobalEnvironment": {
                    "value": "@pipeline().globalParameters.gbl_param_environment",
                    "type": "Expression"
                  },
                  "secret_name": {
                    "value": "",
                    "type": "Expression"
                  }
                }
              }
            },
            {
              "name": "RunCycle",
              "type": "SetVariable",
              "dependsOn": [
                {
                  "activity": "RunCycle_Notebook",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "RunCycle",
                "value": {
                  "value": "@string(activity('RunCycle_Notebook').output.runOutput)",
                  "type": "Expression"
                }
              }
            },
            {
              "name": "CurrDateTs_Notebook",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "RunCycle",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/FORMAT.DATE')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "pInDate": "string('@DATE')",
                  "pSource": "DATE",
                  "pSourceFormat": "CURRENT",
                  "pOutFormat": "CCYY-MM-DD",
                  "GlobalEnvironment": {
                    "value": "@pipeline().globalParameters.gbl_param_environment",
                    "type": "Expression"
                  }
                }
              }
            },
            {
              "name": "CurrDateTimestamp",
              "type": "SetVariable",
              "dependsOn": [
                {
                  "activity": "CurrDateTs_Notebook",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "CurrDateTimestamp",
                "value": {
                  "value": "@string(activity('CurrDateTs_Notebook').output.runOutput)",
                  "type": "Expression"
                }
              }
            },
            {
              "name": "CurrDate_Notebook",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "CurrDateTimestamp",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/FORMAT.DATE')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "pInDate": "string('@DATE')",
                  "pSource": "DATE",
                  "pSourceFormat": "CURRENT",
                  "pOutFormat": "CCYY-MM-DD",
                  "GlobalEnvironment": {
                    "value": "@pipeline().globalParameters.gbl_param_environment",
                    "type": "Expression"
                  }
                }
              }
            },
            {
              "name": "CurrDate",
              "type": "SetVariable",
              "dependsOn": [
                {
                  "activity": "CurrDate_Notebook",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "CurrDate",
                "value": {
                  "value": "@string(activity('CurrDate_Notebook').output.runOutput)",
                  "type": "Expression"
                }
              }
            },
            {
              "name": "PrcsYrMo_Notebook",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "CurrDate",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/DerivedPrcsYrMo')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "Vendor": {
                    "value": "@pipeline().parameters.Vendor",
                    "type": "Expression"
                  },
                  "SnglCatGrpFile": {
                    "value": "@variables('SnglCatGrpFile')",
                    "type": "Expression"
                  },
                  "GlobalEnvironment": {
                    "value": "@pipeline().globalParameters.gbl_param_environment",
                    "type": "Expression"
                  }
                }
              }
            },
            {
              "name": "PrcsYrMo",
              "type": "SetVariable",
              "dependsOn": [
                {
                  "activity": "PrcsYrMo_Notebook",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "PrcsYrMo",
                "value": {
                  "value": "@string(activity('PrcsYrMo_Notebook').output.runOutput)",
                  "type": "Expression"
                }
              }
            },
            {
              "name": "FkeyFailFilePrefix_Notebook",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "PrcsYrMo",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/DSJobNameAppender')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "PrefixFKeyFailedFileName": {
                    "value": "@concat('FKeysFailure.', pipeline().parameters.Initial_JobName, '.', variables('RunID'))",
                    "type": "Expression"
                  },
                  "GlobalEnvironment": {
                    "value": "@pipeline().globalParameters.gbl_param_environment",
                    "type": "Expression"
                  }
                }
              }
            },
            {
              "name": "PrefixFKeyFailedFileName",
              "type": "SetVariable",
              "dependsOn": [
                {
                  "activity": "FkeyFailFilePrefix_Notebook",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "PrefixFKeyFailedFileName",
                "value": {
                  "value": "@string(activity('FkeyFailFilePrefix_Notebook').output.runOutput)",
                  "type": "Expression"
                }
              }
            }
          ]
        }
      },
      {
        "name": "EndLoop",
        "type": "ForEach",
        "dependsOn": [
          {
            "activity": "CblTalnCchgRplcCntl_2",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "typeProperties": {
          "items": {
            "value": "@range(1,1)",
            "type": "Expression"
          },
          "activities": [
            {
              "name": "RmFiles",
              "type": "DatabricksNotebook",
              "dependsOn": [],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_scripts, '/Generic_ADLS_File_Operations')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "src_file_with_path": {
                    "value": "/.CCHG_SNGL_CAT_GRP.*",
                    "type": "Expression"
                  },
                  "command": "delete",
                  "project": "integrate"
                }
              }
            }
          ]
        }
      }
    ]
  }
}