npw-projects-np-projects-bluekc-translated-66e9366f6cca/Sprint_3_4_5/SequenceJobs/Integrate/CblTalnIndvBeMaraClnclCntl_3.json
{
  "name": "CblTalnIndvBeMaraClnclCntl_3",
  "type": "Microsoft.DataFactory/factories/pipelines",
  "properties": {
    "folder": {
      "name": "Integrate/Jobs/DataWarehouse/MemberRisk"
    },
    "parameters": {
      "Environment": {
        "type": "String",
        "defaultValue": ""
      },
      "EmailNotify": {
        "type": "String",
        "defaultValue": ""
      },
      "EmailNotifyInternal": {
        "type": "String",
        "defaultValue": ""
      },
      "Vendor": {
        "type": "String",
        "defaultValue": ""
      },
      "VRSN_ID": {
        "type": "String",
        "defaultValue": ""
      },
      "SrcSys": {
        "type": "String",
        "defaultValue": ""
      },
      "RPLC_TABLE_IND": {
        "type": "String",
        "defaultValue": ""
      },
      "Initial_SrcSys": {
        "type": "String",
        "defaultValue": ""
      },
      "Initial_Target": {
        "type": "String",
        "defaultValue": ""
      },
      "Initial_Subject": {
        "type": "String",
        "defaultValue": ""
      },
      "Initial_Frequency": {
        "type": "String",
        "defaultValue": ""
      },
      "Initial_JobName": {
        "type": "String",
        "defaultValue": ""
      },
      "Variables_ExclusionList": {
        "type": "String",
        "defaultValue": ""
      },
      "Variables_SrcSysCdSk": {
        "type": "String",
        "defaultValue": ""
      },
      "Initial_Source": {
        "type": "String",
        "defaultValue": ""
      },
      "LoopVars_RunID": {
        "type": "String",
        "defaultValue": ""
      },
      "FileNames_ClnclCLsFile": {
        "type": "String",
        "defaultValue": ""
      },
      "FileNames_CondFile": {
        "type": "String",
        "defaultValue": ""
      },
      "StartLoop_Counter": {
        "type": "String",
        "defaultValue": ""
      },
      "FkeyFailFilePrefix_PrefixFKeyFailedFileName": {
        "type": "String",
        "defaultValue": ""
      },
      "Variables_NextBeginDate": {
        "type": "String",
        "defaultValue": ""
      },
      "Variables_LastRunDate": {
        "type": "String",
        "defaultValue": ""
      },
      "Vars_SrcSysCd": {
        "type": "String",
        "defaultValue": ""
      },
      "LoopVars_RunCycle": {
        "type": "String",
        "defaultValue": ""
      },
      "Vars_MonthYear": {
        "type": "String",
        "defaultValue": ""
      }
    },
    "variables": {
      "ModelErrors": {
        "type": "String"
      },
      "ClnclClsErrors": {
        "type": "String"
      },
      "RefFileErrors": {
        "type": "String"
      },
      "ModelRows": {
        "type": "String"
      },
      "ClnclClsRows": {
        "type": "String"
      },
      "RefFileRows": {
        "type": "String"
      },
      "LinkCount": {
        "type": "String",
        "defaultValue": ""
      }
    },
    "activities": [
      {
        "name": "UnixFileRecCnt_ModelErrors",
        "type": "DatabricksNotebook",
        "dependsOn": [],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/UnixFileRecCnt')",
            "type": "Expression"
          },
          "baseParameters": {
            "UnixFileRecCnt_a1": "/external",
            "UnixFileRecCnt_a2": "_MODELOUTPUT_ERRORS.dat",
            "GlobalEnvironment": {
              "value": "@pipeline().globalParameters.gbl_param_environment",
              "type": "Expression"
            },
            "EnvProjectPath": {
              "value": "",
              "type": "Expression"
            },
            "FilePath": {
              "value": "",
              "type": "Expression"
            },
            "FileName": {
              "value": "",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "Set_ModelErrors",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "UnixFileRecCnt_ModelErrors",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "ModelErrors",
          "value": {
            "value": "@string(add(int(activity('UnixFileRecCnt_ModelErrors').output.runOutput),-1))",
            "type": "Expression"
          }
        }
      },
      {
        "name": "UnixFileRecCnt_ClnclClsErrors",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "Set_ModelErrors",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/UnixFileRecCnt')",
            "type": "Expression"
          },
          "baseParameters": {
            "UnixFileRecCnt_a1": "/external",
            "UnixFileRecCnt_a2": "_CLNCLCLS_ERRORS.dat",
            "GlobalEnvironment": {
              "value": "@pipeline().globalParameters.gbl_param_environment",
              "type": "Expression"
            },
            "EnvProjectPath": {
              "value": "",
              "type": "Expression"
            },
            "FilePath": {
              "value": "",
              "type": "Expression"
            },
            "FileName": {
              "value": "",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "Set_ClnclClsErrors",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "UnixFileRecCnt_ClnclClsErrors",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "ClnclClsErrors",
          "value": {
            "value": "@string(add(int(activity('UnixFileRecCnt_ClnclClsErrors').output.runOutput),-1))",
            "type": "Expression"
          }
        }
      },
      {
        "name": "UnixFileRecCnt_RefFileErrors",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "Set_ClnclClsErrors",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/UnixFileRecCnt')",
            "type": "Expression"
          },
          "baseParameters": {
            "UnixFileRecCnt_a1": "/external",
            "UnixFileRecCnt_a2": "_REFCOND_ERRORS.dat",
            "GlobalEnvironment": {
              "value": "@pipeline().globalParameters.gbl_param_environment",
              "type": "Expression"
            },
            "EnvProjectPath": {
              "value": "",
              "type": "Expression"
            },
            "FilePath": {
              "value": "",
              "type": "Expression"
            },
            "FileName": {
              "value": "",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "Set_RefFileErrors",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "UnixFileRecCnt_RefFileErrors",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "RefFileErrors",
          "value": {
            "value": "@string(add(int(activity('UnixFileRecCnt_RefFileErrors').output.runOutput),-1))",
            "type": "Expression"
          }
        }
      },
      {
        "name": "UnixFileRecCnt_ModelRows",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "Set_RefFileErrors",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/UnixFileRecCnt')",
            "type": "Expression"
          },
          "baseParameters": {
            "UnixFileRecCnt_a1": "/landing",
            "UnixFileRecCnt_a2": {
              "value": "@pipeline().parameters.StartLoop_Counter",
              "type": "Expression"
            },
            "GlobalEnvironment": {
              "value": "@pipeline().globalParameters.gbl_param_environment",
              "type": "Expression"
            },
            "EnvProjectPath": {
              "value": "",
              "type": "Expression"
            },
            "FilePath": {
              "value": "",
              "type": "Expression"
            },
            "FileName": {
              "value": "",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "Set_ModelRows",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "UnixFileRecCnt_ModelRows",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "ModelRows",
          "value": {
            "value": "@string(activity('UnixFileRecCnt_ModelRows').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "UnixFileRecCnt_ClnclClsRows",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "Set_ModelRows",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/UnixFileRecCnt')",
            "type": "Expression"
          },
          "baseParameters": {
            "UnixFileRecCnt_a1": "/landing",
            "UnixFileRecCnt_a2": {
              "value": "@pipeline().parameters.FileNames_ClnclCLsFile",
              "type": "Expression"
            },
            "GlobalEnvironment": {
              "value": "@pipeline().globalParameters.gbl_param_environment",
              "type": "Expression"
            },
            "EnvProjectPath": {
              "value": "",
              "type": "Expression"
            },
            "FilePath": {
              "value": "",
              "type": "Expression"
            },
            "FileName": {
              "value": "",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "Set_ClnclClsRows",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "UnixFileRecCnt_ClnclClsRows",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "ClnclClsRows",
          "value": {
            "value": "@string(activity('UnixFileRecCnt_ClnclClsRows').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "UnixFileRecCnt_RefFileRows",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "Set_ClnclClsRows",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/UnixFileRecCnt')",
            "type": "Expression"
          },
          "baseParameters": {
            "UnixFileRecCnt_a1": "/landing",
            "UnixFileRecCnt_a2": {
              "value": "@pipeline().parameters.FileNames_CondFile",
              "type": "Expression"
            },
            "GlobalEnvironment": {
              "value": "@pipeline().globalParameters.gbl_param_environment",
              "type": "Expression"
            },
            "EnvProjectPath": {
              "value": "",
              "type": "Expression"
            },
            "FilePath": {
              "value": "",
              "type": "Expression"
            },
            "FileName": {
              "value": "",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "Set_RefFileRows",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "UnixFileRecCnt_RefFileRows",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "RefFileRows",
          "value": {
            "value": "@string(activity('UnixFileRecCnt_RefFileRows').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "FileAtach",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "Set_RefFileRows",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_scripts,'/Generic_ADLS_File_Operations')",
            "type": "Expression"
          },
          "baseParameters": {
            "src_file_with_path": {
              "value": "/external/Mara_Load_Info.csv",
              "type": "Expression"
            },
            "command": "touch",
            "project": "integrate"
          }
        }
      },
      {
        "name": "EmailBusiness",
        "type": "ExecutePipeline",
        "dependsOn": [
          {
            "activity": "FileAtach",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "pipeline": {
            "referenceName": "Email_Notification",
            "type": "PipelineReference"
          },
          "waitOnCompletion": true,
          "parameters": {
            "recipients": {
              "value": "@pipeline().parameters.EmailNotifyInternal",
              "type": "Expression"
            },
            "subject": {
              "value": "@concat(pipeline().parameters.Vars_MonthYear,' MARA file processed  ')",
              "type": "Expression"
            },
            "body": "MARA files are processed and data is available in IDS. Attached file contains number of rows processed. EDW tables will be available in an hour. ",
            "blobFilenames": {
              "value": "@concat(pipeline().globalParameters.gbl_param_environment,'/external/Mara_Load_Info.csv')",
              "type": "Expression"
            },
            "fromemail": {
              "value": "@pipeline().globalParameters.gbl_param_EmailSupport",
              "type": "Expression"
            },
            "containerName": {
              "value": "@pipeline().globalParameters.gbl_param_container_published",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "FkeyTempFileCreation",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "EmailBusiness",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_scripts,'/Generic_ADLS_File_Operations')",
            "type": "Expression"
          },
          "baseParameters": {
            "src_file_with_path": {
              "value": "/*.dat",
              "type": "Expression"
            },
            "trgt_file_with_path": {
              "value": "/.dat",
              "type": "Expression"
            },
            "command": "cat",
            "cut_column_index": "1",
            "project": "integrate"
          }
        }
      },
      {
        "name": "FkeyReadyFileCreation",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "FkeyTempFileCreation",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_scripts,'/Generic_ADLS_File_Operations')",
            "type": "Expression"
          },
          "baseParameters": {
            "src_file_with_path": {
              "value": "/.dat",
              "type": "Expression"
            },
            "trgt_file_with_path": {
              "value": "/.dat",
              "type": "Expression"
            },
            "command": "move",
            "project": "integrate"
          }
        }
      },
      {
        "name": "WriteLastRunDate",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "FkeyReadyFileCreation",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/WriteRunInfo')",
            "type": "Expression"
          },
          "baseParameters": {
            "arg1": "LastRunDate",
            "arg2": {
              "value": "@pipeline().parameters.Variables_NextBeginDate",
              "type": "Expression"
            },
            "arg3": {
              "value": "@pipeline().parameters.Variables_LastRunDate",
              "type": "Expression"
            },
            "GlobalEnvironment": {
              "value": "@pipeline().globalParameters.gbl_param_environment",
              "type": "Expression"
            },
            "secret_name": {
              "value": "",
              "type": "Expression"
            },
            "IDSOwner": {
              "value": "",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "CloseRunCycle",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "WriteLastRunDate",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/CloseRunCycle')",
            "type": "Expression"
          },
          "baseParameters": {
            "DBOwner": {
              "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
              "type": "Expression"
            },
            "secret_name": {
              "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
              "type": "Expression"
            },
            "SrcSystem": {
              "value": "@pipeline().parameters.Vars_SrcSysCd",
              "type": "Expression"
            },
            "TrgtSystem": {
              "value": "@pipeline().parameters.Initial_Target",
              "type": "Expression"
            },
            "SubjCode": {
              "value": "@pipeline().parameters.Initial_Subject",
              "type": "Expression"
            },
            "FreqCode": {
              "value": "@pipeline().parameters.Initial_Frequency",
              "type": "Expression"
            },
            "RunCycle": {
              "value": "@pipeline().parameters.LoopVars_RunCycle",
              "type": "Expression"
            },
            "GlobalEnvironment": {
              "value": "@pipeline().globalParameters.gbl_param_environment",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "BackupInputFile",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "CloseRunCycle",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_scripts,'/Generic_ADLS_File_Operations')",
            "type": "Expression"
          },
          "baseParameters": {
            "command": "move",
            "project": "integrate"
          }
        }
      },
      {
        "name": "MoveErrorFile",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "BackupInputFile",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_scripts,'/Generic_ADLS_File_Operations')",
            "type": "Expression"
          },
          "baseParameters": {
            "command": "move",
            "project": "integrate"
          }
        }
      }
    ]
  }
}