npw-projects-np-projects-bluekc-translated-66e9366f6cca/Sprint_3_4_5/SequenceJobs/Integrate/DominionClmInvoiceReconCntl.json
{
  "name": "DominionClmInvoiceReconCntl",
  "type": "Microsoft.DataFactory/factories/pipelines",
  "properties": {
    "folder": {
      "name": "Integrate/Jobs/claim"
    },
    "parameters": {
      "ExclusionList": {
        "type": "String",
        "defaultValue": ""
      },
      "Environment": {
        "type": "String",
        "defaultValue": ""
      },
      "EmailId": {
        "type": "String",
        "defaultValue": ""
      },
      "YearMonth": {
        "type": "String",
        "defaultValue": ""
      }
    },
    "variables": {
      "JobName": {
        "defaultValue": "",
        "type": "String"
      },
      "Source": {
        "defaultValue": "DOMINION",
        "type": "String"
      },
      "Target": {
        "defaultValue": "EDW",
        "type": "String"
      },
      "Subject": {
        "defaultValue": "CLAIM_RECON",
        "type": "String"
      },
      "Frequency": {
        "defaultValue": "MONTHLY",
        "type": "String"
      },
      "RunDate": {
        "defaultValue": "",
        "type": "String"
      },
      "LinkCount": {
        "defaultValue": "",
        "type": "String"
      },
      "EDWRunCycle": {
        "defaultValue": "",
        "type": "String"
      },
      "ExclusionList": {
        "defaultValue": "",
        "type": "String"
      },
      "InvFileNm": {
        "defaultValue": "",
        "type": "String"
      },
      "RunID": {
        "defaultValue": "",
        "type": "String"
      },
      "YrMonth": {
        "defaultValue": "",
        "type": "String"
      },
      "var_CountChk_branch": {
        "defaultValue": "",
        "type": "String"
      },
      "var_If_1A_branch": {
        "defaultValue": "",
        "type": "String"
      }
    },
    "activities": [
      {
        "name": "Set_JobName",
        "type": "SetVariable",
        "dependsOn": [],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "JobName",
          "value": {
            "value": "@pipeline().Pipeline",
            "type": "Expression"
          }
        }
      },
      {
        "name": "Set_Source",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "Set_JobName",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "Source",
          "value": {
            "value": "DOMINION",
            "type": "Expression"
          }
        }
      },
      {
        "name": "Set_Target",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "Set_Source",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "Target",
          "value": {
            "value": "EDW",
            "type": "Expression"
          }
        }
      },
      {
        "name": "Set_Subject",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "Set_Target",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "Subject",
          "value": {
            "value": "CLAIM_RECON",
            "type": "Expression"
          }
        }
      },
      {
        "name": "Set_Frequency",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "Set_Subject",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "Frequency",
          "value": {
            "value": "MONTHLY",
            "type": "Expression"
          }
        }
      },
      {
        "name": "Notebook_RunDate",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "Set_Frequency",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/FORMAT.DATE')",
          "baseParameters": {
            "pInDate": "string('@DATE')",
            "pSource": "DATE",
            "pSourceFormat": "CURRENT",
            "pOutFormat": "CCYY-MM-DD"
          }
        }
      },
      {
        "name": "Set_RunDate",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "Notebook_RunDate",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "RunDate",
          "value": {
            "value": "@string(activity('Notebook_RunDate').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "ProcessCheckExtr_EE",
        "type": "Lookup",
        "dependsOn": [
          {
            "activity": "Set_RunDate",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "source": {
            "type": "AzureSqlSource",
            "sqlReaderQuery": {
              "value": "WITH db2_data AS (\n    select SUBJ_CD, TRGT_SYS_CD, SRC_SYS_CD\n    from @{pipeline().globalParameters.gbl_param_IDSOwner}.P_RUN_CYC\n    where CYC_STTUS_CD = 'RUNNING'\n       and SUBJ_CD = '@{variables('Subject')}'\n       and TRGT_SYS_CD = '@{variables('Target')}'\n    UNION\n    select SUBJ_CD, TRGT_SYS_CD, SRC_SYS_CD\n    from @{pipeline().globalParameters.gbl_param_IDSOwner}.P_RUN_CYC\n    where CYC_STTUS_CD = 'RUNNING'\n       and SUBJ_CD = '@{variables('Subject')}'\n       and SRC_SYS_CD <> '@{variables('Source')}'\n       and TRGT_SYS_CD = '@{variables('Target')}'\n    UNION\n    select SUBJ_CD, TRGT_SYS_CD, SRC_SYS_CD\n    from @{pipeline().globalParameters.gbl_param_IDSOwner}.P_RUN_CYC\n    where CYC_STTUS_CD = 'RUNNING'\n       and SUBJ_CD = '@{variables('Subject')}'\n       and SRC_SYS_CD = '@{variables('Source')}'\n),\ntransformed_data AS (\n    SELECT SUBJ_CD, SRC_SYS_CD, TRGT_SYS_CD\n    FROM db2_data\n)\nSELECT COUNT(*) as link_count FROM transformed_data",
              "type": "Expression"
            },
            "queryTimeout": "02:00:00",
            "partitionOption": "None"
          },
          "dataset": {
            "referenceName": "ds_ids",
            "type": "DatasetReference",
            "parameters": {
              "param_schema": "@pipeline().globalParameters.gbl_param_IDSOwner",
              "param_table": "P_RUN_CYC"
            }
          }
        }
      },
      {
        "name": "LinkCount_SetVar",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "ProcessCheckExtr_EE",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "LinkCount",
          "value": {
            "value": "@string(activity('ProcessCheckExtr_EE').output.firstRow.link_count)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "CountChk",
        "type": "Switch",
        "dependsOn": [
          {
            "activity": "LinkCount_SetVar",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "on": {
            "type": "Expression",
            "value": "@if(not(equals(variables('LinkCount'),'0')),'1','0')"
          },
          "cases": [
            {
              "value": "1",
              "activities": [
                {
                  "name": "var_CountChk_branch_True",
                  "type": "SetVariable",
                  "dependsOn": [],
                  "policy": {
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "variableName": "var_CountChk_branch",
                    "value": {
                      "value": "1",
                      "type": "Expression"
                    }
                  }
                },
                {
                  "name": "Email_DAT",
                  "type": "ExecutePipeline",
                  "dependsOn": [
                    {
                      "activity": "var_CountChk_branch_True",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "pipeline": {
                      "referenceName": "Email_Notification",
                      "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                      "recipients": {
                        "value": "@pipeline().globalParameters.gbl_param_EmailSupport",
                        "type": "Expression"
                      },
                      "subject": "Dominion Claim Recon Failure due to Open Run Cycle",
                      "body": "The Dominion Claim Recon process can not run while there is another process listed on the P_RUN_CYC as running.\n\nSource = DOMINION\nTarget =  EDW\nSubj = CLAIM_RECON\nFrequency = Monthly",
                      "blobFilenames": "",
                      "fromemail": {
                        "value": "@pipeline().globalParameters.gbl_param_fromemail",
                        "type": "Expression"
                      },
                      "containerName": " "
                    }
                  }
                }
              ]
            }
          ],
          "defaultActivities": [
            {
              "name": "var_CountChk_branch_False",
              "type": "SetVariable",
              "dependsOn": [],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "var_CountChk_branch",
                "value": {
                  "value": "0",
                  "type": "Expression"
                }
              }
            },
            {
              "name": "NBK_OpenRunCycle",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "var_CountChk_branch_False",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/OpenRunCycle')",
                "baseParameters": {
                  "DBOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                    "type": "Expression"
                  },
                  "Source": {
                    "value": "@variables('Source')",
                    "type": "Expression"
                  },
                  "Target": {
                    "value": "@variables('Target')",
                    "type": "Expression"
                  },
                  "Subject": {
                    "value": "@variables('Subject')",
                    "type": "Expression"
                  },
                  "Frequency": {
                    "value": "@variables('Frequency')",
                    "type": "Expression"
                  }
                }
              }
            },
            {
              "name": "Set_EDWRunCycle",
              "type": "SetVariable",
              "dependsOn": [
                {
                  "activity": "NBK_OpenRunCycle",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "EDWRunCycle",
                "value": {
                  "value": "@string(activity('NBK_OpenRunCycle').output.runOutput)",
                  "type": "Expression"
                }
              }
            },
            {
              "name": "ExclusionListExtr_EE",
              "type": "ExecutePipeline",
              "dependsOn": [
                {
                  "activity": "Set_EDWRunCycle",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "pipeline": {
                  "referenceName": "ExclusionListExtr_EE",
                  "type": "PipelineReference"
                },
                "waitOnCompletion": true,
                "parameters": {
                  "IDSOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "ids_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                    "type": "Expression"
                  },
                  "Subject": {
                    "value": "@variables('JobName')",
                    "type": "Expression"
                  }
                }
              }
            },
            {
              "name": "NBK_ReadExclusionListFile",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "ExclusionListExtr_EE",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": "@concat(pipeline().globalParameters.gbl_param_scripts, '/Generic_ADLS_File_Operations')",
                "baseParameters": {
                  "src_file_with_path": {
                    "value": "/_TASK_EXCL.dat",
                    "type": "Expression"
                  },
                  "command": "cat",
                  "cut_column_index": "2",
                  "project": "integrate"
                }
              }
            },
            {
              "name": "Set_ExclusionList",
              "type": "SetVariable",
              "dependsOn": [
                {
                  "activity": "NBK_ReadExclusionListFile",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "ExclusionList",
                "value": {
                  "value": "@string(activity('NBK_ReadExclusionListFile').output.runOutput)",
                  "type": "Expression"
                }
              }
            },
            {
              "name": "NBK_LIST_FILES",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "Set_ExclusionList",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/LIST.FILES')",
                "baseParameters": {
                  "file_path": {
                    "value": "@concat(pipeline().globalParameters.gbl_param_FilePath, '/landing')",
                    "type": "Expression"
                  },
                  "file_pattern": "*Inbound_Dominion_MA_Claims_Invoice_Detail_*.txt",
                  "gbl_param_environment": {
                    "value": "",
                    "type": "Expression"
                  }
                }
              }
            },
            {
              "name": "Set_InvFileNm",
              "type": "SetVariable",
              "dependsOn": [
                {
                  "activity": "NBK_LIST_FILES",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "InvFileNm",
                "value": {
                  "value": "@string(activity('NBK_LIST_FILES').output.runOutput)",
                  "type": "Expression"
                }
              }
            },
            {
              "name": "WriteRunID",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "Set_InvFileNm",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/WriteRunID')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "entry_name": {
                    "value": "@concat(variables('JobName'), ':RunID')",
                    "type": "Expression"
                  },
                  "secret_name": {
                    "value": "",
                    "type": "Expression"
                  },
                  "IDSOwner": {
                    "value": "",
                    "type": "Expression"
                  }
                }
              }
            },
            {
              "name": "NBK_GetRunInfo",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "WriteRunID",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/GetRunInfo')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "job_name": {
                    "value": "@concat(variables('JobName'), ':RunID')",
                    "type": "Expression"
                  },
                  "secret_name": {
                    "value": "",
                    "type": "Expression"
                  },
                  "IDSOwner": {
                    "value": "",
                    "type": "Expression"
                  }
                }
              }
            },
            {
              "name": "NBK_GetRunInfo",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "NBK_GetRunInfo",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/GetRunInfo')",
                "baseParameters": {
                  "job_name": {
                    "value": "@concat(variables('JobName'), 'RunID')",
                    "type": "Expression"
                  },
                  "secret_name": {
                    "value": "",
                    "type": "Expression"
                  },
                  "IDSOwner": {
                    "value": "",
                    "type": "Expression"
                  }
                }
              }
            },
            {
              "name": "Set_RunID",
              "type": "SetVariable",
              "dependsOn": [
                {
                  "activity": "NBK_GetRunInfo",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "RunID",
                "value": {
                  "value": "@string(activity('NBK_GetRunInfo').output.runOutput)",
                  "type": "Expression"
                }
              }
            },
            {
              "name": "ExclusionListDelete_EE",
              "type": "ExecutePipeline",
              "dependsOn": [
                {
                  "activity": "Set_RunID",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "pipeline": {
                  "referenceName": "ExclusionListDelete_EE",
                  "type": "PipelineReference"
                },
                "waitOnCompletion": true,
                "parameters": {
                  "IDSOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "ids_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                    "type": "Expression"
                  },
                  "Subject": {
                    "value": "@variables('JobName')",
                    "type": "Expression"
                  }
                }
              }
            }
          ]
        }
      },
      {
        "name": "If_1A",
        "type": "Switch",
        "dependsOn": [
          {
            "activity": "CountChk",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "on": {
            "type": "Expression",
            "value": "@if(and(equals(variables('var_CountChk_branch'),'0'), not(contains(variables('ExclusionList'),'DominionClmInvoiceReconExtr'))),'1','0')"
          },
          "cases": [
            {
              "value": "1",
              "activities": [
                {
                  "name": "var_If_1A_branch_True",
                  "type": "SetVariable",
                  "dependsOn": [],
                  "policy": {
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "variableName": "var_If_1A_branch",
                    "value": {
                      "value": "1",
                      "type": "Expression"
                    }
                  }
                },
                {
                  "name": "DominionClmInvoiceReconExtr",
                  "type": "DatabricksNotebook",
                  "dependsOn": [
                    {
                      "activity": "var_If_1A_branch_True",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "timeout": "12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "linkedServiceName": {
                    "referenceName": "shareddatabricks",
                    "type": "LinkedServiceReference"
                  },
                  "typeProperties": {
                    "notebookPath": {
                      "value": "@concat(pipeline().globalParameters.gbl_param_notebook_path, '/claim/Invoice/MA/', 'DominionClmInvoiceReconExtr')",
                      "type": "Expression"
                    },
                    "baseParameters": {
                      "EDWOwner": {
                        "value": "@pipeline().globalParameters.gbl_param_EDWOwner",
                        "type": "Expression"
                      },
                      "edw_secret_name": {
                        "value": "@pipeline().globalParameters.gbl_param_EDWSecret",
                        "type": "Expression"
                      },
                      "PaidMonthYr": {
                        "value": "@variables('YrMonth')",
                        "type": "Expression"
                      },
                      "InvFileNm": {
                        "value": "@variables('InvFileNm')",
                        "type": "Expression"
                      }
                    }
                  }
                }
              ]
            }
          ],
          "defaultActivities": [
            {
              "name": "var_If_1A_branch_False",
              "type": "SetVariable",
              "dependsOn": [],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "var_If_1A_branch",
                "value": {
                  "value": "0",
                  "type": "Expression"
                }
              }
            }
          ]
        }
      },
      {
        "name": "If_1A_Continuation",
        "type": "Switch",
        "dependsOn": [
          {
            "activity": "If_1A",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "on": {
            "type": "Expression",
            "value": "@if(and(equals(variables('var_CountChk_branch'),'0'), equals(variables('var_If_1A_branch'),'1')),'1','0')"
          },
          "cases": [
            {
              "value": "1",
              "activities": [
                {
                  "name": "var_If_1A_Continuation_branch_True",
                  "type": "SetVariable",
                  "dependsOn": [],
                  "policy": {
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "variableName": "var_If_1A_branch",
                    "value": {
                      "value": "1",
                      "type": "Expression"
                    }
                  }
                },
                {
                  "name": "Email_LnkCount",
                  "type": "ExecutePipeline",
                  "dependsOn": [
                    {
                      "activity": "var_If_1A_Continuation_branch_True",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "pipeline": {
                      "referenceName": "Email_Notification",
                      "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                      "recipients": {
                        "value": "@pipeline().parameters.EmailId",
                        "type": "Expression"
                      },
                      "subject": "Dominion Monthly Invoice Recon - #Variables.YrMonth#",
                      "body": "Hello - Please find Dominion Monthly Invoice Recon reports attached. \n\nThis is generated by DominionClmInvoiceReconCntl (DOMINION_RECON_INVOICE_MONTHLY_000)",
                      "blobFilenames": "@concat(pipeline().globalParameters.gbl_param_environment,'/external/DOMINION_', variables('YrMonth'), '_EDW_CLM_LOB_TOTALS.csv, ', pipeline().globalParameters.gbl_param_environment,'/external/DOMINION_', variables('YrMonth'), '_MISMATCH_REPORT.csv')",
                      "fromemail": {
                        "value": "@pipeline().globalParameters.gbl_param_fromemail",
                        "type": "Expression"
                      },
                      "containerName": {
                        "value": "@pipeline().globalParameters.gbl_param_container_published",
                        "type": "Expression"
                      }
                    }
                  }
                },
                {
                  "name": "MvLanding",
                  "type": "DatabricksNotebook",
                  "dependsOn": [
                    {
                      "activity": "Email_LnkCount",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "timeout": "12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "linkedServiceName": {
                    "referenceName": "shareddatabricks",
                    "type": "LinkedServiceReference"
                  },
                  "typeProperties": {
                    "notebookPath": "@concat(pipeline().globalParameters.gbl_param_scripts, '/Generic_ADLS_File_Operations')",
                    "baseParameters": {
                      "src_file_with_path": {
                        "value": "/InvFileNm",
                        "type": "Expression"
                      },
                      "trgt_file_with_path": {
                        "value": "/InvFileNm",
                        "type": "Expression"
                      },
                      "command": "move",
                      "project": "integrate"
                    }
                  }
                },
                {
                  "name": "emailmv",
                  "type": "DatabricksNotebook",
                  "dependsOn": [
                    {
                      "activity": "MvLanding",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "timeout": "12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "linkedServiceName": {
                    "referenceName": "shareddatabricks",
                    "type": "LinkedServiceReference"
                  },
                  "typeProperties": {
                    "notebookPath": "@concat(pipeline().globalParameters.gbl_param_scripts, '/Generic_ADLS_File_Operations')",
                    "baseParameters": {
                      "src_file_with_path": {
                        "value": "/_*.csv",
                        "type": "Expression"
                      },
                      "trgt_file_with_path": {
                        "value": "/external/processed",
                        "type": "Expression"
                      },
                      "command": "move",
                      "project": "integrate"
                    }
                  }
                },
                {
                  "name": "NBK_CloseRunCycle",
                  "type": "DatabricksNotebook",
                  "dependsOn": [
                    {
                      "activity": "emailmv",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "timeout": "12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "linkedServiceName": {
                    "referenceName": "shareddatabricks",
                    "type": "LinkedServiceReference"
                  },
                  "typeProperties": {
                    "notebookPath": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/CloseRunCycle')",
                    "baseParameters": {
                      "DBOwner": {
                        "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                        "type": "Expression"
                      },
                      "secret_name": {
                        "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                        "type": "Expression"
                      },
                      "SrcSystem": {
                        "value": "@variables('Source')",
                        "type": "Expression"
                      },
                      "TrgtSystem": {
                        "value": "@variables('Target')",
                        "type": "Expression"
                      },
                      "SubjCode": {
                        "value": "@variables('Subject')",
                        "type": "Expression"
                      },
                      "FreqCode": {
                        "value": "@variables('Frequency')",
                        "type": "Expression"
                      },
                      "RunCycle": {
                        "value": "@variables('EDWRunCycle')",
                        "type": "Expression"
                      }
                    }
                  }
                }
              ]
            }
          ],
          "defaultActivities": []
        }
      }
    ]
  }
}