npw-projects-np-projects-bluekc-translated-66e9366f6cca/Sprint_3_4_5/SequenceJobs/Integrate/EcommMbrCntl.json
{
  "name": "EcommMbrCntl",
  "type": "Microsoft.DataFactory/factories/pipelines",
  "properties": {
    "folder": {
      "name": "Integrate/Jobs/member"
    },
    "parameters": {
      "Logging": {
        "type": "String",
        "defaultValue": "Y"
      }
    },
    "variables": {
      "JobName": {
        "type": "String",
        "defaultValue": ""
      },
      "Source": {
        "type": "String",
        "defaultValue": "ECOM"
      },
      "Target": {
        "type": "String",
        "defaultValue": "IDS"
      },
      "Subject": {
        "type": "String",
        "defaultValue": "MBR ECOM"
      },
      "Frequency": {
        "type": "String",
        "defaultValue": "DAILY"
      },
      "Load": {
        "type": "String",
        "defaultValue": "ROW_CT"
      },
      "RunID": {
        "type": "String",
        "defaultValue": ""
      },
      "ExclusionList": {
        "type": "String",
        "defaultValue": ""
      },
      "SourceSK": {
        "type": "String",
        "defaultValue": ""
      },
      "CurrDate": {
        "type": "String",
        "defaultValue": ""
      },
      "RunCycle": {
        "type": "String",
        "defaultValue": ""
      },
      "SourceSysCd": {
        "type": "String",
        "defaultValue": "ECOM"
      },
      "LinkCount": {
        "type": "String",
        "defaultValue": ""
      }
    },
    "activities": [
      {
        "name": "Set_JobName",
        "type": "SetVariable",
        "dependsOn": [],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "JobName",
          "value": {
            "value": "@pipeline().Pipeline",
            "type": "Expression"
          }
        }
      },
      {
        "name": "WriteRunID",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "Set_JobName",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/WriteRunID')",
            "type": "Expression"
          },
          "baseParameters": {
            "entry_name": {
              "value": "@variables('JobName')",
              "type": "Expression"
            },
            "secret_name": {
              "value": "",
              "type": "Expression"
            },
            "IDSOwner": {
              "value": "",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "Set_RunID_1",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "WriteRunID",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "RunID",
          "value": {
            "value": "@string(activity('WriteRunID').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "ProcessCheckExtr",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "Set_RunID_1",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_notebook_path, '/JobSequencer/CommonComponents/ProcessCheckExtr')",
            "type": "Expression"
          },
          "baseParameters": {
            "IDSOwner": {
              "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
              "type": "Expression"
            },
            "ids_secret_name": {
              "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
              "type": "Expression"
            },
            "Subject": {
              "value": "@variables('Subject')",
              "type": "Expression"
            },
            "TargetSys": {
              "value": "@variables('Target')",
              "type": "Expression"
            },
            "SourceSys": {
              "value": "@variables('Source')",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "ExclusionListExtr",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "ProcessCheckExtr",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_notebook_path,'/JobSequencer/CommonComponents/ExclusionListExtr')",
            "type": "Expression"
          },
          "baseParameters": {
            "ids_owner_schema": {
              "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
              "type": "Expression"
            },
            "ids_secret_name": {
              "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
              "type": "Expression"
            },
            "Subject": {
              "value": "@variables('JobName')",
              "type": "Expression"
            },
            "ids_staging_schema": {
              "value": "@pipeline().globalParameters.gbl_param_ids_staging",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "GetExclusionList",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "ExclusionListExtr",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/GetExclusionList')",
            "type": "Expression"
          },
          "baseParameters": {
            "Subject": {
              "value": "@variables('JobName')",
              "type": "Expression"
            },
            "secret_name": {
              "value": "",
              "type": "Expression"
            },
            "DBOwner": {
              "value": "",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "Set_ExclusionList",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "GetExclusionList",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "ExclusionList",
          "value": {
            "value": "@string(activity('GetExclusionList').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "GetRunInfo",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "Set_ExclusionList",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/GetRunInfo')",
            "type": "Expression"
          },
          "baseParameters": {
            "job_name": {
              "value": "@variables('JobName')",
              "type": "Expression"
            },
            "secret_name": "RunID",
            "IDSOwner": {
              "value": "",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "Set_RunID_2",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "GetRunInfo",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "RunID",
          "value": {
            "value": "@string(activity('GetRunInfo').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "GetFkeyCodes",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "Set_RunID_2",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/GetFkeyCodes')",
            "type": "Expression"
          },
          "baseParameters": {
            "src_system_cd": "IDS",
            "record_key": "ECOM",
            "cd_mpg_id": "SOURCE SYSTEM",
            "cd_value": "ECOM",
            "logging": "X",
            "GetFkeyCodes_owner": {
              "value": "",
              "type": "Expression"
            },
            "GetFkeyCodes_secret": {
              "value": "",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "Set_SourceSK",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "GetFkeyCodes",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "SourceSK",
          "value": {
            "value": "@string(activity('GetFkeyCodes').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "FORMAT_DATE",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "Set_SourceSK",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/FORMAT.DATE')",
            "type": "Expression"
          },
          "baseParameters": {
            "pInDate": "string('@DATE')",
            "pSource": "DATE",
            "pSourceFormat": "CURRENT",
            "pOutFormat": "CCYY-MM-DD"
          }
        }
      },
      {
        "name": "Set_CurrDate",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "FORMAT_DATE",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "CurrDate",
          "value": {
            "value": "@string(activity('FORMAT_DATE').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "OpenRunCycle",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "Set_CurrDate",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/OpenRunCycle')",
            "type": "Expression"
          },
          "baseParameters": {
            "DBOwner": {
              "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
              "type": "Expression"
            },
            "secret_name": {
              "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
              "type": "Expression"
            },
            "GlobalEnvironment": {
              "value": "@pipeline().globalParameters.gbl_param_environment",
              "type": "Expression"
            },
            "Source": {
              "value": "@variables('Source')",
              "type": "Expression"
            },
            "Target": {
              "value": "@variables('Target')",
              "type": "Expression"
            },
            "Subject": {
              "value": "@variables('Subject')",
              "type": "Expression"
            },
            "Frequency": {
              "value": "@variables('Frequency')",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "Set_RunCycle",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "OpenRunCycle",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "RunCycle",
          "value": {
            "value": "@string(activity('OpenRunCycle').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "ExclusionListDelete",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "Set_RunCycle",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_notebook_path,'/JobSequencer/CommonComponents/ExclusionListDelete')",
            "type": "Expression"
          },
          "baseParameters": {
            "ids_owner_schema": {
              "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
              "type": "Expression"
            },
            "ids_secret_name": {
              "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
              "type": "Expression"
            },
            "subject": {
              "value": "@variables('JobName')",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "If_1A",
        "type": "IfCondition",
        "dependsOn": [
          {
            "activity": "ExclusionListDelete",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "expression": {
            "value": "@equals(contains(split(variables('ExclusionList'), ';'), 'ECommerceExtrSeq'), false)",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "name": "ECommerceExtrSeq",
              "type": "ExecutePipeline",
              "dependsOn": [],
              "policy": {
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "pipeline": "ECommerceExtrSeq",
                "parameters": {
                  "RunCycle": {
                    "value": "@variables('RunCycle')",
                    "type": "Expression"
                  },
                  "RunDate": {
                    "value": "@variables('CurrDate')",
                    "type": "Expression"
                  },
                  "ExclusionList": {
                    "value": "@variables('ExclusionList')",
                    "type": "Expression"
                  },
                  "IDSOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "RunID": {
                    "value": "@variables('RunID')",
                    "type": "Expression"
                  },
                  "SrcSysCdSk": {
                    "value": "@variables('SourceSK')",
                    "type": "Expression"
                  },
                  "SrcSysCd": {
                    "value": "@variables('SourceSysCd')",
                    "type": "Expression"
                  },
                  "EBbcbsOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_EBbcbsOwner",
                    "type": "Expression"
                  }
                },
                "waitOnCompletion": true
              }
            }
          ],
          "ifFalseActivities": []
        }
      },
      {
        "name": "If_1B",
        "type": "IfCondition",
        "dependsOn": [
          {
            "activity": "If_1A",
            "dependencyConditions": [
              "Succeeded"
            ]
          },
          {
            "activity": "ECommerceExtrSeq",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "expression": {
            "value": "@equals(contains(split(variables('ExclusionList'), ';'), 'IdsECommerceLoadSeq'), false)",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "name": "IdsECommerceLoadSeq",
              "type": "ExecutePipeline",
              "dependsOn": [],
              "policy": {
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "pipeline": "IdsECommerceLoadSeq",
                "parameters": {
                  "Logging": "@pipeline().parameters.Logging",
                  "RunCycle": {
                    "value": "@variables('RunCycle')",
                    "type": "Expression"
                  },
                  "RunID": {
                    "value": "@variables('RunID')",
                    "type": "Expression"
                  },
                  "ExclusionList": {
                    "value": "@variables('ExclusionList')",
                    "type": "Expression"
                  },
                  "IDSOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "SourceSK": {
                    "value": "@variables('SourceSK')",
                    "type": "Expression"
                  }
                },
                "waitOnCompletion": true
              }
            }
          ],
          "ifFalseActivities": []
        }
      },
      {
        "name": "CloseRunCycle",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "If_1B",
            "dependencyConditions": [
              "Succeeded"
            ]
          },
          {
            "activity": "IdsECommerceLoadSeq",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/CloseRunCycle')",
            "type": "Expression"
          },
          "baseParameters": {
            "DBOwner": {
              "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
              "type": "Expression"
            },
            "secret_name": {
              "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
              "type": "Expression"
            },
            "SrcSystem": {
              "value": "@variables('Source')",
              "type": "Expression"
            },
            "TrgtSystem": {
              "value": "@variables('Target')",
              "type": "Expression"
            },
            "SubjCode": {
              "value": "@variables('Subject')",
              "type": "Expression"
            },
            "FreqCode": {
              "value": "@variables('Frequency')",
              "type": "Expression"
            },
            "RunCycle": {
              "value": "@variables('RunCycle')",
              "type": "Expression"
            },
            "GlobalEnvironment": {
              "value": "@pipeline().globalParameters.gbl_param_environment",
              "type": "Expression"
            }
          }
        }
      }
    ]
  }
}