npw-projects-np-projects-bluekc-translated-66e9366f6cca/Sprint_3_4_5/SequenceJobs/Integrate/EcomAhyEligBalCntl.json
{
  "name": "EcomAhyEligBalCntl",
  "type": "Microsoft.DataFactory/factories/pipelines",
  "properties": {
    "folder": {
      "name": "Integrate/Jobs/member"
    },
    "parameters": {
      "EmailNotify": {
        "type": "String",
        "defaultValue": ""
      }
    },
    "variables": {
      "JobName": {
        "type": "String",
        "defaultValue": ""
      },
      "GroupName": {
        "type": "String",
        "defaultValue": "AHY_ELIG"
      },
      "Source": {
        "type": "String",
        "defaultValue": "ECOM"
      },
      "Target": {
        "type": "String",
        "defaultValue": "IDS"
      },
      "Subject": {
        "type": "String",
        "defaultValue": "MBR ECOM"
      },
      "Frequency": {
        "type": "String",
        "defaultValue": "DAILY"
      },
      "Load": {
        "type": "String",
        "defaultValue": "ROW_CT"
      },
      "ExclusionList": {
        "type": "String",
        "defaultValue": ""
      },
      "RunID": {
        "type": "String",
        "defaultValue": ""
      },
      "CurrDate": {
        "type": "String",
        "defaultValue": ""
      },
      "ExtrRunCycle": {
        "type": "String",
        "defaultValue": ""
      },
      "ErrorMessageCount": {
        "type": "String",
        "defaultValue": ""
      },
      "LinkCount": {
        "type": "String",
        "defaultValue": ""
      }
    },
    "activities": [
      {
        "name": "SetJobName",
        "type": "SetVariable",
        "dependsOn": [],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "JobName",
          "value": {
            "value": "@pipeline().Pipeline",
            "type": "Expression"
          }
        }
      },
      {
        "name": "ExclusionListExtr",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "SetJobName",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_notebook_path,'/JobSequencer/CommonComponents/ExclusionListExtr')",
            "type": "Expression"
          },
          "baseParameters": {
            "ids_owner_schema": {
              "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
              "type": "Expression"
            },
            "ids_secret_name": {
              "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
              "type": "Expression"
            },
            "Subject": {
              "value": "@variables('JobName')",
              "type": "Expression"
            },
            "ids_staging_schema": {
              "value": "@pipeline().globalParameters.gbl_param_ids_staging",
              "type": "Expression"
            }
          }
        },
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        }
      },
      {
        "name": "WriteRunID",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "ExclusionListExtr",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/WriteRunID')",
            "type": "Expression"
          },
          "baseParameters": {
            "entry_name": {
              "value": "@concat(variables('JobName'), ':RunID')",
              "type": "Expression"
            },
            "GlobalEnvironment": {
              "value": "@pipeline().globalParameters.gbl_param_environment",
              "type": "Expression"
            },
            "secret_name": {
              "value": "",
              "type": "Expression"
            },
            "IDSOwner": {
              "value": "",
              "type": "Expression"
            }
          }
        },
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        }
      },
      {
        "name": "GetExclusionList",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "WriteRunID",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/GetExclusionList')",
            "type": "Expression"
          },
          "baseParameters": {
            "Subject": {
              "value": "@variables('JobName')",
              "type": "Expression"
            },
            "GlobalEnvironment": {
              "value": "@pipeline().globalParameters.gbl_param_environment",
              "type": "Expression"
            },
            "secret_name": {
              "value": "",
              "type": "Expression"
            },
            "DBOwner": {
              "value": "",
              "type": "Expression"
            }
          }
        },
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        }
      },
      {
        "name": "SetExclusionList",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "GetExclusionList",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "ExclusionList",
          "value": {
            "value": "@string(activity('GetExclusionList').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "GetRunInfo",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "SetExclusionList",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/GetRunInfo')",
            "type": "Expression"
          },
          "baseParameters": {
            "job_name": {
              "value": "@variables('JobName')",
              "type": "Expression"
            },
            "secret_name": "RunID",
            "GlobalEnvironment": {
              "value": "@pipeline().globalParameters.gbl_param_environment",
              "type": "Expression"
            },
            "IDSOwner": {
              "value": "",
              "type": "Expression"
            }
          }
        },
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        }
      },
      {
        "name": "SetRunID",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "GetRunInfo",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "RunID",
          "value": {
            "value": "@string(activity('GetRunInfo').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "FORMAT_DATE",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "SetRunID",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/FORMAT.DATE')",
            "type": "Expression"
          },
          "baseParameters": {
            "pInDate": "string('@DATE')",
            "pSource": "DATE",
            "pSourceFormat": "CURRENT",
            "pOutFormat": "CCYY-MM-DD"
          }
        },
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        }
      },
      {
        "name": "SetCurrDate",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "FORMAT_DATE",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "CurrDate",
          "value": {
            "value": "@string(activity('FORMAT_DATE').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "GetExtractRunCycle",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "SetCurrDate",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/GetExtractRunCycle')",
            "type": "Expression"
          },
          "baseParameters": {
            "GetExtractRunCycle_a1": {
              "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
              "type": "Expression"
            },
            "GetExtractRunCycle_a2": {
              "value": "@variables('Subject')",
              "type": "Expression"
            },
            "GetExtractRunCycle_a3": {
              "value": "@variables('Source')",
              "type": "Expression"
            },
            "load": {
              "value": "@variables('Load')",
              "type": "Expression"
            },
            "owner_schema": {
              "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
              "type": "Expression"
            },
            "secret_name": {
              "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
              "type": "Expression"
            },
            "GlobalEnvironment": {
              "value": "@pipeline().globalParameters.gbl_param_environment",
              "type": "Expression"
            },
            "subject": {
              "value": "",
              "type": "Expression"
            },
            "source": {
              "value": "",
              "type": "Expression"
            },
            "target": {
              "value": "",
              "type": "Expression"
            }
          }
        },
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        }
      },
      {
        "name": "SetExtrRunCycle",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "GetExtractRunCycle",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "ExtrRunCycle",
          "value": {
            "value": "@string(activity('GetExtractRunCycle').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "ExclusionListDelete",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "SetExtrRunCycle",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_notebook_path,'/JobSequencer/CommonComponents/ExclusionListDelete')",
            "type": "Expression"
          },
          "baseParameters": {
            "ids_owner_schema": {
              "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
              "type": "Expression"
            },
            "ids_secret_name": {
              "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
              "type": "Expression"
            },
            "subject": {
              "value": "@variables('JobName')",
              "type": "Expression"
            }
          }
        },
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        }
      },
      {
        "name": "If_1A",
        "type": "IfCondition",
        "dependsOn": [
          {
            "activity": "ExclusionListDelete",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "expression": {
            "value": "@equals(contains(variables('ExclusionList'), 'AhyEligBalancingLoadSeq'), false)",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "name": "AhyEligBalancingLoadSeq",
              "type": "ExecutePipeline",
              "userProperties": [],
              "typeProperties": {
                "pipeline": {
                  "referenceName": "AhyEligBalancingLoadSeq",
                  "type": "PipelineReference"
                },
                "waitOnCompletion": true,
                "parameters": {
                  "RunCycle": {
                    "value": "@variables('ExtrRunCycle')",
                    "type": "Expression"
                  },
                  "ExclusionList": {
                    "value": "@variables('ExclusionList')",
                    "type": "Expression"
                  },
                  "IDSOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "ids_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                    "type": "Expression"
                  },
                  "Source": {
                    "value": "@variables('Source')",
                    "type": "Expression"
                  },
                  "RunID": {
                    "value": "@variables('RunID')",
                    "type": "Expression"
                  },
                  "EDWFilePath": {
                    "value": "@pipeline().globalParameters.gbl_param_EDWFilePath",
                    "type": "Expression"
                  }
                }
              },
              "policy": {
                "secureInput": false
              }
            }
          ],
          "ifFalseActivities": []
        }
      },
      {
        "name": "If_1B",
        "type": "IfCondition",
        "dependsOn": [
          {
            "activity": "If_1A",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "expression": {
            "value": "@equals(contains(variables('ExclusionList'), 'AhyEligRowCntSeq'), false)",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "name": "AhyEligRowCntSeq",
              "type": "ExecutePipeline",
              "userProperties": [],
              "typeProperties": {
                "pipeline": {
                  "referenceName": "AhyEligRowCntSeq",
                  "type": "PipelineReference"
                },
                "waitOnCompletion": true,
                "parameters": {
                  "RunCycle": {
                    "value": "@variables('ExtrRunCycle')",
                    "type": "Expression"
                  },
                  "RunID": {
                    "value": "@variables('RunID')",
                    "type": "Expression"
                  },
                  "ExclusionList": {
                    "value": "@variables('ExclusionList')",
                    "type": "Expression"
                  },
                  "IDSOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "ids_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                    "type": "Expression"
                  },
                  "UWSOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_UWSOwner",
                    "type": "Expression"
                  },
                  "uws_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_UWSSecret",
                    "type": "Expression"
                  },
                  "CurrentDate": {
                    "value": "@variables('CurrDate')",
                    "type": "Expression"
                  }
                }
              },
              "policy": {
                "secureInput": false
              }
            }
          ],
          "ifFalseActivities": []
        }
      },
      {
        "name": "UnixFileRecCnt",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "If_1B",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/UnixFileRecCnt')",
            "type": "Expression"
          },
          "baseParameters": {
            "UnixFileRecCnt_a1": {
              "value": "@concat(pipeline().globalParameters.gbl_param_FilePath, '/balancing/notify')",
              "type": "Expression"
            },
            "UnixFileRecCnt_a2": "ClaimsBalancingNotification.dat",
            "GlobalEnvironment": {
              "value": "@pipeline().globalParameters.gbl_param_environment",
              "type": "Expression"
            },
            "EnvProjectPath": {
              "value": "",
              "type": "Expression"
            },
            "FilePath": {
              "value": "",
              "type": "Expression"
            },
            "FileName": {
              "value": "",
              "type": "Expression"
            }
          }
        },
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        }
      },
      {
        "name": "SetErrorMessageCount",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "UnixFileRecCnt",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "ErrorMessageCount",
          "value": {
            "value": "@string(activity('UnixFileRecCnt').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "If_4A",
        "type": "IfCondition",
        "dependsOn": [
          {
            "activity": "SetErrorMessageCount",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "expression": {
            "value": "@equals(contains(variables('ExclusionList'), 'UwsSubjAreaBalSumLoad'), false)",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "name": "UwsSubjAreaBalSumLoad",
              "type": "DatabricksNotebook",
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_notebook_path, '/Balancing/UwsSubjAreaBalSumLoad')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "UWSOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_UWSOwner",
                    "type": "Expression"
                  },
                  "uws_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_UWSSecret",
                    "type": "Expression"
                  },
                  "Target": "IDS",
                  "Subject": "MBR ECOM",
                  "CurrDate": {
                    "value": "@variables('CurrDate')",
                    "type": "Expression"
                  },
                  "ExtrRunCycle": {
                    "value": "@variables('ExtrRunCycle')",
                    "type": "Expression"
                  },
                  "GlobalEnvironment": {
                    "value": "@pipeline().globalParameters.gbl_param_environment",
                    "type": "Expression"
                  }
                }
              },
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              }
            }
          ],
          "ifFalseActivities": []
        }
      },
      {
        "name": "If_4B",
        "type": "IfCondition",
        "dependsOn": [
          {
            "activity": "If_4A",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "expression": {
            "value": "@not(equals(variables('ErrorMessageCount'), '0'))",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "name": "MvFile",
              "type": "DatabricksNotebook",
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_scripts, '/Generic_ADLS_File_Operations')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "src_file_with_path": {
                    "value": "/balancing/notify/AhyEligBalancingNotification.dat",
                    "type": "Expression"
                  },
                  "trgt_file_with_path": {
                    "value": "/balancing/notify/processed/AhyEligBalancingNotification.txt",
                    "type": "Expression"
                  },
                  "command": "move",
                  "project": "integrate"
                }
              },
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              }
            },
            {
              "name": "Email",
              "type": "ExecutePipeline",
              "dependsOn": [
                {
                  "activity": "MvFile",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "pipeline": {
                  "referenceName": "Email_Notification",
                  "type": "PipelineReference"
                },
                "waitOnCompletion": true,
                "parameters": {
                  "recipients": {
                    "value": "@pipeline().globalParameters.gbl_param_EmailSupport",
                    "type": "Expression"
                  },
                  "subject": "#$IDSDB#   Warehouse Balancing Ahy Elig Discrepancy",
                  "body": "See Attached file for Balancing Errors",
                  "blobFilenames": {
                    "value": "@concat(pipeline().globalParameters.gbl_param_environment, '/balancing/notify/processed/AhyEligBalancingNotification.txt')",
                    "type": "Expression"
                  },
                  "fromemail": {
                    "value": "@pipeline().globalParameters.gbl_param_fromemail",
                    "type": "Expression"
                  },
                  "containerName": {
                    "value": "@pipeline().globalParameters.gbl_param_container_integrate",
                    "type": "Expression"
                  }
                }
              }
            }
          ],
          "ifFalseActivities": []
        }
      },
      {
        "name": "If_4C",
        "type": "IfCondition",
        "dependsOn": [
          {
            "activity": "If_4B",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "expression": {
            "value": "@equals(contains(variables('ExclusionList'), 'BalAhyEligRunCycUpd'), false)",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "name": "BalAhyEligRunCycUpd",
              "type": "DatabricksNotebook",
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_notebook_path, '/member/Balancing/BalAhyEligRunCycUpd')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "IDSOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "ids_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                    "type": "Expression"
                  },
                  "BeginCycle": {
                    "value": "@variables('ExtrRunCycle')",
                    "type": "Expression"
                  },
                  "SrcSys": {
                    "value": "@variables('Source')",
                    "type": "Expression"
                  },
                  "TrgtSys": {
                    "value": "@variables('Target')",
                    "type": "Expression"
                  },
                  "SubjCd": {
                    "value": "@variables('Subject')",
                    "type": "Expression"
                  },
                  "GlobalEnvironment": {
                    "value": "@pipeline().globalParameters.gbl_param_environment",
                    "type": "Expression"
                  }
                }
              },
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              }
            }
          ],
          "ifFalseActivities": []
        }
      }
    ]
  }
}