npw-projects-np-projects-bluekc-translated-66e9366f6cca/Sprint_3_4_5/SequenceJobs/Integrate/ESIBalancingClmRowCntSeq.json
{
  "name": "ESIBalancingClmRowCntSeq",
  "type": "Microsoft.DataFactory/factories/pipelines",
  "properties": {
    "folder": {
      "name": "Integrate/Jobs/claim/SeqBalancing"
    },
    "parameters": {
      "RunCycle": {
        "type": "String",
        "defaultValue": ""
      },
      "RunID": {
        "type": "String",
        "defaultValue": "1234"
      },
      "ExclusionList": {
        "type": "String",
        "defaultValue": ""
      },
      "CurrentDate": {
        "type": "String",
        "defaultValue": "2007-09-18"
      }
    },
    "variables": {
      "toleranceCd_CLM": {
        "type": "String",
        "defaultValue": ""
      },
      "toleranceCd_CLM_PROV": {
        "type": "String",
        "defaultValue": ""
      },
      "toleranceCd_DRUG_CLM": {
        "type": "String",
        "defaultValue": ""
      },
      "toleranceCd_CLM_LN": {
        "type": "String",
        "defaultValue": ""
      },
      "toleranceCd_CLM_REMIT_HIST": {
        "type": "String",
        "defaultValue": ""
      },
      "LinkCount": {
        "type": "String",
        "defaultValue": ""
      }
    },
    "activities": [
      {
        "name": "If_1A",
        "type": "IfCondition",
        "dependsOn": [],
        "userProperties": [],
        "typeProperties": {
          "expression": {
            "value": "@equals(contains(split(string(pipeline().parameters.ExclusionList), ';'), 'ClmRowBalance'), false)",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "name": "GetRowCtTlrnc_CLM",
              "type": "DatabricksNotebook",
              "dependsOn": [],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/GetRowCtTlrnc')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "owner_schema": {
                    "value": "@pipeline().globalParameters.gbl_param_UWSOwner",
                    "type": "Expression"
                  },
                  "secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_UWSSecret",
                    "type": "Expression"
                  },
                  "GlobalEnvironment": {
                    "value": "@pipeline().globalParameters.gbl_param_environment",
                    "type": "Expression"
                  },
                  "GetRowCtTlrnc_a2": "CLM",
                  "GetRowCtTlrnc_a3": "Claims",
                  "TargetTable": {
                    "value": "",
                    "type": "Expression"
                  },
                  "SubjectArea": {
                    "value": "",
                    "type": "Expression"
                  }
                }
              }
            },
            {
              "name": "Set_tolerance_CLM",
              "type": "SetVariable",
              "dependsOn": [
                {
                  "activity": "GetRowCtTlrnc_CLM",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "toleranceCd_CLM",
                "value": {
                  "value": "@string(activity('GetRowCtTlrnc_CLM').output.runOutput)",
                  "type": "Expression"
                }
              }
            },
            {
              "name": "ClmRowBalance",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "Set_tolerance_CLM",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_notebook_path, '/claim/Balancing/ClmRowCntBal')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "RunID": {
                    "value": "@pipeline().parameters.RunID",
                    "type": "Expression"
                  },
                  "ToleranceCd": {
                    "value": "@variables('toleranceCd_CLM')",
                    "type": "Expression"
                  },
                  "IDSOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "ids_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                    "type": "Expression"
                  },
                  "ExtrRunCycle": {
                    "value": "@pipeline().parameters.RunCycle",
                    "type": "Expression"
                  },
                  "TrgtTable": "CLM",
                  "SrcTable": "B_CLM",
                  "NotifyMessage": "ROW COUNT BALANCING ESI - IDS CLAIM OUT OF TOLERANCE",
                  "UWSOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_UWSOwner",
                    "type": "Expression"
                  },
                  "uws_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_UWSSecret",
                    "type": "Expression"
                  },
                  "SubjectArea": "Claims",
                  "CurrentDate": {
                    "value": "@pipeline().parameters.CurrentDate",
                    "type": "Expression"
                  }
                }
              }
            }
          ],
          "ifFalseActivities": []
        }
      },
      {
        "name": "If_6A",
        "type": "IfCondition",
        "dependsOn": [],
        "userProperties": [],
        "typeProperties": {
          "expression": {
            "value": "@equals(contains(split(string(pipeline().parameters.ExclusionList), ';'), 'ClmProvRowBalance'), false)",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "name": "GetRowCtTlrnc_CLM_PROV",
              "type": "DatabricksNotebook",
              "dependsOn": [],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/GetRowCtTlrnc')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "owner_schema": {
                    "value": "@pipeline().globalParameters.gbl_param_UWSOwner",
                    "type": "Expression"
                  },
                  "secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_UWSSecret",
                    "type": "Expression"
                  },
                  "GlobalEnvironment": {
                    "value": "@pipeline().globalParameters.gbl_param_environment",
                    "type": "Expression"
                  },
                  "GetRowCtTlrnc_a2": "CLM_PROV",
                  "GetRowCtTlrnc_a3": "Claims",
                  "TargetTable": {
                    "value": "",
                    "type": "Expression"
                  },
                  "SubjectArea": {
                    "value": "",
                    "type": "Expression"
                  }
                }
              }
            },
            {
              "name": "Set_tolerance_CLM_PROV",
              "type": "SetVariable",
              "dependsOn": [
                {
                  "activity": "GetRowCtTlrnc_CLM_PROV",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "toleranceCd_CLM_PROV",
                "value": {
                  "value": "@string(activity('GetRowCtTlrnc_CLM_PROV').output.runOutput)",
                  "type": "Expression"
                }
              }
            },
            {
              "name": "ClmProvRowBalance",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "Set_tolerance_CLM_PROV",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_notebook_path, '/claim/Balancing/ClmExtraColumnRowCntBal')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "RunID": {
                    "value": "@pipeline().parameters.RunID",
                    "type": "Expression"
                  },
                  "ToleranceCd": {
                    "value": "@variables('toleranceCd_CLM_PROV')",
                    "type": "Expression"
                  },
                  "IDSOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "ids_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                    "type": "Expression"
                  },
                  "ExtrRunCycle": {
                    "value": "@pipeline().parameters.RunCycle",
                    "type": "Expression"
                  },
                  "TrgtTable": "CLM_PROV",
                  "SrcTable": "B_CLM_PROV",
                  "NotifyMessage": "ROW COUNT BALANCING PCS - IDS CLAIM PROVIDER OUT OF TOLERANCE",
                  "UWSOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_UWSOwner",
                    "type": "Expression"
                  },
                  "uws_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_UWSSecret",
                    "type": "Expression"
                  },
                  "SubjectArea": "Claims",
                  "CurrentDate": {
                    "value": "@pipeline().parameters.CurrentDate",
                    "type": "Expression"
                  },
                  "ExtraColumn": "CLM_PROV_ROLE_TYP_CD_SK"
                }
              }
            }
          ],
          "ifFalseActivities": []
        }
      },
      {
        "name": "If_7A",
        "type": "IfCondition",
        "dependsOn": [],
        "userProperties": [],
        "typeProperties": {
          "expression": {
            "value": "@equals(contains(split(string(pipeline().parameters.ExclusionList), ';'), 'ClmLnRowBalance'), false)",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "name": "GetRowCtTlrnc_CLM_LN",
              "type": "DatabricksNotebook",
              "dependsOn": [],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/GetRowCtTlrnc')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "owner_schema": {
                    "value": "@pipeline().globalParameters.gbl_param_UWSOwner",
                    "type": "Expression"
                  },
                  "secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_UWSSecret",
                    "type": "Expression"
                  },
                  "GlobalEnvironment": {
                    "value": "@pipeline().globalParameters.gbl_param_environment",
                    "type": "Expression"
                  },
                  "GetRowCtTlrnc_a2": "CLM_LN",
                  "GetRowCtTlrnc_a3": "Claims",
                  "TargetTable": {
                    "value": "",
                    "type": "Expression"
                  },
                  "SubjectArea": {
                    "value": "",
                    "type": "Expression"
                  }
                }
              }
            },
            {
              "name": "Set_tolerance_CLM_LN",
              "type": "SetVariable",
              "dependsOn": [
                {
                  "activity": "GetRowCtTlrnc_CLM_LN",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "toleranceCd_CLM_LN",
                "value": {
                  "value": "@string(activity('GetRowCtTlrnc_CLM_LN').output.runOutput)",
                  "type": "Expression"
                }
              }
            },
            {
              "name": "ClmLnRowBalance",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "Set_tolerance_CLM_LN",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_notebook_path, '/claim/Balancing/ClmLnRowCntBal')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "RunID": {
                    "value": "@pipeline().parameters.RunID",
                    "type": "Expression"
                  },
                  "ToleranceCd": {
                    "value": "@variables('toleranceCd_CLM_LN')",
                    "type": "Expression"
                  },
                  "IDSOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "ids_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                    "type": "Expression"
                  },
                  "ExtrRunCycle": {
                    "value": "@pipeline().parameters.RunCycle",
                    "type": "Expression"
                  },
                  "TrgtTable": "CLM_LN",
                  "SrcTable": "B_CLM_LN",
                  "NotifyMessage": "ROW COUNT BALANCING PCS - IDS CLAIM LINE OUT OF TOLERANCE",
                  "UWSOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_UWSOwner",
                    "type": "Expression"
                  },
                  "uws_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_UWSSecret",
                    "type": "Expression"
                  },
                  "SubjectArea": "Claims",
                  "CurrentDate": {
                    "value": "@pipeline().parameters.CurrentDate",
                    "type": "Expression"
                  }
                }
              }
            }
          ],
          "ifFalseActivities": []
        }
      },
      {
        "name": "If_6B",
        "type": "IfCondition",
        "dependsOn": [
          {
            "activity": "ClmProvRowBalance",
            "dependencyConditions": [
              "Succeeded"
            ]
          },
          {
            "activity": "If_6A",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "expression": {
            "value": "@equals(contains(split(string(pipeline().parameters.ExclusionList), ';'), 'DrugClmRowBalance'), false)",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "name": "GetRowCtTlrnc_DRUG_CLM",
              "type": "DatabricksNotebook",
              "dependsOn": [],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/GetRowCtTlrnc')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "owner_schema": {
                    "value": "@pipeline().globalParameters.gbl_param_UWSOwner",
                    "type": "Expression"
                  },
                  "secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_UWSSecret",
                    "type": "Expression"
                  },
                  "GlobalEnvironment": {
                    "value": "@pipeline().globalParameters.gbl_param_environment",
                    "type": "Expression"
                  },
                  "GetRowCtTlrnc_a2": "DRUG_CLM",
                  "GetRowCtTlrnc_a3": "Claims",
                  "TargetTable": {
                    "value": "",
                    "type": "Expression"
                  },
                  "SubjectArea": {
                    "value": "",
                    "type": "Expression"
                  }
                }
              }
            },
            {
              "name": "Set_tolerance_DRUG_CLM",
              "type": "SetVariable",
              "dependsOn": [
                {
                  "activity": "GetRowCtTlrnc_DRUG_CLM",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "toleranceCd_DRUG_CLM",
                "value": {
                  "value": "@string(activity('GetRowCtTlrnc_DRUG_CLM').output.runOutput)",
                  "type": "Expression"
                }
              }
            },
            {
              "name": "DrugClmRowBalance",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "Set_tolerance_DRUG_CLM",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_notebook_path, '/claim/Balancing/ClmRowCntBal')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "RunID": {
                    "value": "@pipeline().parameters.RunID",
                    "type": "Expression"
                  },
                  "ToleranceCd": {
                    "value": "@variables('toleranceCd_DRUG_CLM')",
                    "type": "Expression"
                  },
                  "IDSOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "ids_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                    "type": "Expression"
                  },
                  "ExtrRunCycle": {
                    "value": "@pipeline().parameters.RunCycle",
                    "type": "Expression"
                  },
                  "TrgtTable": "DRUG_CLM",
                  "SrcTable": "B_DRUG_CLM",
                  "NotifyMessage": "ROW COUNT BALANCING PCS - IDS DRUG_CLAIM OUT OF TOLERANCE",
                  "UWSOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_UWSOwner",
                    "type": "Expression"
                  },
                  "uws_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_UWSSecret",
                    "type": "Expression"
                  },
                  "SubjectArea": "Claims",
                  "CurrentDate": {
                    "value": "@pipeline().parameters.CurrentDate",
                    "type": "Expression"
                  }
                }
              }
            }
          ],
          "ifFalseActivities": []
        }
      },
      {
        "name": "If_9B",
        "type": "IfCondition",
        "dependsOn": [
          {
            "activity": "ClmLnRowBalance",
            "dependencyConditions": [
              "Succeeded"
            ]
          },
          {
            "activity": "If_7A",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "expression": {
            "value": "@equals(contains(split(string(pipeline().parameters.ExclusionList), ';'), 'ClmRemitHistRowBalance'), false)",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "name": "GetRowCtTlrnc_CLM_REMIT_HIST",
              "type": "DatabricksNotebook",
              "dependsOn": [],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/GetRowCtTlrnc')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "owner_schema": {
                    "value": "@pipeline().globalParameters.gbl_param_UWSOwner",
                    "type": "Expression"
                  },
                  "secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_UWSSecret",
                    "type": "Expression"
                  },
                  "GlobalEnvironment": {
                    "value": "@pipeline().globalParameters.gbl_param_environment",
                    "type": "Expression"
                  },
                  "GetRowCtTlrnc_a2": "CLM_REMIT_HIST",
                  "GetRowCtTlrnc_a3": "Claims",
                  "TargetTable": {
                    "value": "",
                    "type": "Expression"
                  },
                  "SubjectArea": {
                    "value": "",
                    "type": "Expression"
                  }
                }
              }
            },
            {
              "name": "Set_tolerance_CLM_REMIT_HIST",
              "type": "SetVariable",
              "dependsOn": [
                {
                  "activity": "GetRowCtTlrnc_CLM_REMIT_HIST",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "toleranceCd_CLM_REMIT_HIST",
                "value": {
                  "value": "@string(activity('GetRowCtTlrnc_CLM_REMIT_HIST').output.runOutput)",
                  "type": "Expression"
                }
              }
            },
            {
              "name": "ClmRemitHistRowBalance",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "Set_tolerance_CLM_REMIT_HIST",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_notebook_path, '/claim/Balancing/ClmRowCntBal')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "RunID": {
                    "value": "@pipeline().parameters.RunID",
                    "type": "Expression"
                  },
                  "ToleranceCd": {
                    "value": "@variables('toleranceCd_CLM_REMIT_HIST')",
                    "type": "Expression"
                  },
                  "IDSOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "ids_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                    "type": "Expression"
                  },
                  "ExtrRunCycle": {
                    "value": "@pipeline().parameters.RunCycle",
                    "type": "Expression"
                  },
                  "TrgtTable": "CLM_REMIT_HIST",
                  "SrcTable": "B_CLM_REMIT_HIST",
                  "NotifyMessage": "ROW COUNT BALANCING PCS - IDS REMIT HISTORY OUT OF TOLERANCE",
                  "UWSOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_UWSOwner",
                    "type": "Expression"
                  },
                  "uws_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_UWSSecret",
                    "type": "Expression"
                  },
                  "SubjectArea": "Claims",
                  "CurrentDate": {
                    "value": "@pipeline().parameters.CurrentDate",
                    "type": "Expression"
                  }
                }
              }
            }
          ],
          "ifFalseActivities": []
        }
      }
    ]
  }
}