npw-projects-np-projects-bluekc-translated-66e9366f6cca/Sprint_3_4_5/SequenceJobs/Integrate/ESIClmBalCntl.json
{
  "name": "ESIClmBalCntl",
  "type": "Microsoft.DataFactory/factories/pipelines",
  "properties": {
    "folder": {
      "name": "Integrate/Jobs/claim"
    },
    "parameters": {
      "Logging": {
        "type": "String",
        "defaultValue": "Y"
      },
      "DaysToPull": {
        "type": "String",
        "defaultValue": "0"
      },
      "RecDelete": {
        "type": "String",
        "defaultValue": "Y"
      },
      "EmailNotify": {
        "type": "String",
        "defaultValue": "$PROJDEF"
      }
    },
    "variables": {
      "JobName": {
        "type": "String",
        "defaultValue": " "
      },
      "GroupName": {
        "type": "String",
        "defaultValue": "IDS_CLAIM"
      },
      "Source": {
        "type": "String",
        "defaultValue": "ESI"
      },
      "Target": {
        "type": "String",
        "defaultValue": "IDS"
      },
      "Subject": {
        "type": "String",
        "defaultValue": "CLAIM"
      },
      "Frequency": {
        "type": "String",
        "defaultValue": "DAILY"
      },
      "Load": {
        "type": "String",
        "defaultValue": "ROW_CT"
      },
      "ExclusionList": {
        "type": "String",
        "defaultValue": " "
      },
      "RunID": {
        "type": "String",
        "defaultValue": " "
      },
      "CurrDate": {
        "type": "String",
        "defaultValue": " "
      },
      "ExtrRunCycle": {
        "type": "String",
        "defaultValue": " "
      },
      "ErrorMessageCount": {
        "type": "String",
        "defaultValue": " "
      },
      "LinkCount": {
        "type": "String",
        "defaultValue": ""
      }
    },
    "activities": [
      {
        "name": "Set_JobName",
        "type": "SetVariable",
        "dependsOn": [],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "JobName",
          "value": {
            "value": "@pipeline().Pipeline",
            "type": "Expression"
          }
        }
      },
      {
        "name": "ExclusionListExtr",
        "type": "DatabricksNotebook",
        "dependsOn": [],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_notebook_path,'/JobSequencer/CommonComponents/ExclusionListExtr')",
            "type": "Expression"
          },
          "baseParameters": {
            "ids_owner_schema": {
              "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
              "type": "Expression"
            },
            "ids_secret_name": {
              "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
              "type": "Expression"
            },
            "Subject": {
              "value": "@variables('JobName')",
              "type": "Expression"
            },
            "ids_staging_schema": {
              "value": "@pipeline().globalParameters.gbl_param_ids_staging",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "WriteRunID",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "ExclusionListExtr",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/WriteRunID')",
            "type": "Expression"
          },
          "baseParameters": {
            "entry_name": {
              "value": "@concat(variables('JobName'),':RunID')",
              "type": "Expression"
            },
            "secret_name": {
              "value": "",
              "type": "Expression"
            },
            "IDSOwner": {
              "value": "",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "GetExclusionList_Activity",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "WriteRunID",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/GetExclusionList')",
            "type": "Expression"
          },
          "baseParameters": {
            "Subject": {
              "value": "@variables('JobName')",
              "type": "Expression"
            },
            "secret_name": {
              "value": "",
              "type": "Expression"
            },
            "DBOwner": {
              "value": "",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "Set_ExclusionList",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "GetExclusionList_Activity",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "ExclusionList",
          "value": {
            "value": "@string(activity('GetExclusionList_Activity').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "GetRunInfo_Activity",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "Set_ExclusionList",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/GetRunInfo')",
            "type": "Expression"
          },
          "baseParameters": {
            "job_name": {
              "value": "@concat(variables('JobName'),':RunID')",
              "type": "Expression"
            },
            "secret_name": {
              "value": "",
              "type": "Expression"
            },
            "IDSOwner": {
              "value": "",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "Set_RunID",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "GetRunInfo_Activity",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "RunID",
          "value": {
            "value": "@string(activity('GetRunInfo_Activity').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "FORMAT_DATE_Activity",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "Set_RunID",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/FORMAT.DATE')",
            "type": "Expression"
          },
          "baseParameters": {
            "pInDate": "string('@DATE')",
            "pSource": "DATE",
            "pSourceFormat": "CURRENT",
            "pOutFormat": "CCYY-MM-DD"
          }
        }
      },
      {
        "name": "Set_CurrDate",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "FORMAT_DATE_Activity",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "CurrDate",
          "value": {
            "value": "@string(activity('FORMAT_DATE_Activity').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "GetExtractRunCycle_Activity",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "Set_CurrDate",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/GetExtractRunCycle')",
            "type": "Expression"
          },
          "baseParameters": {
            "GetExtractRunCycle_a1": {
              "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
              "type": "Expression"
            },
            "secret_name": {
              "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
              "type": "Expression"
            },
            "GetExtractRunCycle_a2": {
              "value": "@variables('Subject')",
              "type": "Expression"
            },
            "GetExtractRunCycle_a3": {
              "value": "@variables('Source')",
              "type": "Expression"
            },
            "load": {
              "value": "@variables('Load')",
              "type": "Expression"
            },
            "owner_schema": {
              "value": "",
              "type": "Expression"
            },
            "subject": {
              "value": "",
              "type": "Expression"
            },
            "source": {
              "value": "",
              "type": "Expression"
            },
            "target": {
              "value": "",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "Set_ExtrRunCycle",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "GetExtractRunCycle_Activity",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "ExtrRunCycle",
          "value": {
            "value": "@string(activity('GetExtractRunCycle_Activity').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "ExclusionListDelete",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "Set_ExtrRunCycle",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_notebook_path,'/JobSequencer/CommonComponents/ExclusionListDelete')",
            "type": "Expression"
          },
          "baseParameters": {
            "ids_owner_schema": {
              "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
              "type": "Expression"
            },
            "ids_secret_name": {
              "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
              "type": "Expression"
            },
            "subject": {
              "value": "@variables('JobName')",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "If_1A",
        "type": "IfCondition",
        "dependsOn": [
          {
            "activity": "ExclusionListDelete",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "expression": {
            "value": "@equals(contains(variables('ExclusionList'),'ESIBalancingClmLoadSeq'), false)",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "name": "ESIBalancingClmLoadSeq",
              "type": "ExecutePipeline",
              "dependsOn": [],
              "policy": {
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "waitOnCompletion": true,
                "pipeline": {
                  "referenceName": "ESIBalancingClmLoadSeq",
                  "type": "PipelineReference"
                },
                "parameters": {
                  "RunCycle": {
                    "value": "@variables('ExtrRunCycle')",
                    "type": "Expression"
                  },
                  "ExclusionList": {
                    "value": "@variables('ExclusionList')",
                    "type": "Expression"
                  },
                  "IDSOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "ids_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                    "type": "Expression"
                  },
                  "Source": {
                    "value": "@variables('Source')",
                    "type": "Expression"
                  },
                  "RunID": {
                    "value": "@variables('RunID')",
                    "type": "Expression"
                  },
                  "EDWFilePath": {
                    "value": "@pipeline().globalParameters.gbl_param_EDWFilePath",
                    "type": "Expression"
                  }
                }
              }
            }
          ],
          "ifFalseActivities": []
        }
      },
      {
        "name": "If_1B",
        "type": "IfCondition",
        "dependsOn": [
          {
            "activity": "If_1A",
            "dependencyConditions": [
              "Succeeded"
            ]
          },
          {
            "activity": "ESIBalancingClmLoadSeq",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "expression": {
            "value": "@equals(contains(variables('ExclusionList'),'ESIBalancingClmRowCntSeq'), false)",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "name": "ESIBalancingClmRowCntSeq",
              "type": "ExecutePipeline",
              "dependsOn": [],
              "policy": {
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "waitOnCompletion": true,
                "pipeline": {
                  "referenceName": "ESIBalancingClmRowCntSeq",
                  "type": "PipelineReference"
                },
                "parameters": {
                  "RunCycle": {
                    "value": "@variables('ExtrRunCycle')",
                    "type": "Expression"
                  },
                  "RunID": {
                    "value": "@variables('RunID')",
                    "type": "Expression"
                  },
                  "ExclusionList": {
                    "value": "@variables('ExclusionList')",
                    "type": "Expression"
                  },
                  "IDSOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "ids_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                    "type": "Expression"
                  },
                  "UWSOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_UWSOwner",
                    "type": "Expression"
                  },
                  "uws_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_UWSSecret",
                    "type": "Expression"
                  },
                  "CurrentDate": {
                    "value": "@variables('CurrDate')",
                    "type": "Expression"
                  }
                }
              }
            }
          ],
          "ifFalseActivities": []
        }
      },
      {
        "name": "If_2A",
        "type": "IfCondition",
        "dependsOn": [
          {
            "activity": "If_1B",
            "dependencyConditions": [
              "Succeeded"
            ]
          },
          {
            "activity": "ESIBalancingClmRowCntSeq",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "expression": {
            "value": "@equals(contains(variables('ExclusionList'),'ClmRIClmDrugClmBalSeq'), false)",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "name": "ClmRIClmDrugClmBalSeq",
              "type": "ExecutePipeline",
              "dependsOn": [],
              "policy": {
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "waitOnCompletion": true,
                "pipeline": {
                  "referenceName": "ClmRIClmDrugClmBalSeq",
                  "type": "PipelineReference"
                },
                "parameters": {
                  "RunID": {
                    "value": "@variables('RunID')",
                    "type": "Expression"
                  },
                  "ExtrRunCycle": {
                    "value": "@variables('ExtrRunCycle')",
                    "type": "Expression"
                  },
                  "CurrentDate": {
                    "value": "@variables('CurrDate')",
                    "type": "Expression"
                  },
                  "UWSOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_UWSOwner",
                    "type": "Expression"
                  },
                  "uws_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_UWSSecret",
                    "type": "Expression"
                  },
                  "IDSOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "ids_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                    "type": "Expression"
                  },
                  "Target": {
                    "value": "@variables('Target')",
                    "type": "Expression"
                  },
                  "Subject": "Claims",
                  "Frequency": {
                    "value": "@variables('Frequency')",
                    "type": "Expression"
                  },
                  "Source": {
                    "value": "@variables('Source')",
                    "type": "Expression"
                  },
                  "PriTbl": "CLM (RI)",
                  "SecTbl": "DRUG_CLM (RI)"
                }
              }
            }
          ],
          "ifFalseActivities": []
        }
      },
      {
        "name": "If_2B",
        "type": "IfCondition",
        "dependsOn": [
          {
            "activity": "If_2A",
            "dependencyConditions": [
              "Succeeded"
            ]
          },
          {
            "activity": "ClmRIClmDrugClmBalSeq",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "expression": {
            "value": "@equals(contains(variables('ExclusionList'),'ClmRIClmClmProvBalSeq'), false)",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "name": "ClmRIClmClmProvBalSeq",
              "type": "ExecutePipeline",
              "dependsOn": [],
              "policy": {
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "waitOnCompletion": true,
                "pipeline": {
                  "referenceName": "ClmRIClmClmProvBalSeq",
                  "type": "PipelineReference"
                },
                "parameters": {
                  "RunID": {
                    "value": "@variables('RunID')",
                    "type": "Expression"
                  },
                  "ExtrRunCycle": {
                    "value": "@variables('ExtrRunCycle')",
                    "type": "Expression"
                  },
                  "CurrentDate": {
                    "value": "@variables('CurrDate')",
                    "type": "Expression"
                  },
                  "UWSOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_UWSOwner",
                    "type": "Expression"
                  },
                  "uws_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_UWSSecret",
                    "type": "Expression"
                  },
                  "IDSOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "ids_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                    "type": "Expression"
                  },
                  "Target": {
                    "value": "@variables('Target')",
                    "type": "Expression"
                  },
                  "Subject": "Claims",
                  "Frequency": {
                    "value": "@variables('Frequency')",
                    "type": "Expression"
                  },
                  "Source": {
                    "value": "@variables('Source')",
                    "type": "Expression"
                  },
                  "PriTbl": "CLM (RI)",
                  "SecTbl": "CLM_PROV (RI)"
                }
              }
            }
          ],
          "ifFalseActivities": []
        }
      },
      {
        "name": "If_2C",
        "type": "IfCondition",
        "dependsOn": [
          {
            "activity": "If_2B",
            "dependencyConditions": [
              "Succeeded"
            ]
          },
          {
            "activity": "ClmRIClmClmProvBalSeq",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "expression": {
            "value": "@equals(contains(variables('ExclusionList'),'ClmRIClmHmoClmProvBalSeq'), false)",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "name": "ClmRIClmHmoClmProvBalSeq",
              "type": "ExecutePipeline",
              "dependsOn": [],
              "policy": {
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "waitOnCompletion": true,
                "pipeline": {
                  "referenceName": "ClmRIClmHmoClmProvBalSeq",
                  "type": "PipelineReference"
                },
                "parameters": {
                  "RunID": {
                    "value": "@variables('RunID')",
                    "type": "Expression"
                  },
                  "ExtrRunCycle": {
                    "value": "@variables('ExtrRunCycle')",
                    "type": "Expression"
                  },
                  "CurrentDate": {
                    "value": "@variables('CurrDate')",
                    "type": "Expression"
                  },
                  "UWSOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_UWSOwner",
                    "type": "Expression"
                  },
                  "uws_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_UWSSecret",
                    "type": "Expression"
                  },
                  "IDSOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "ids_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                    "type": "Expression"
                  },
                  "Target": {
                    "value": "@variables('Target')",
                    "type": "Expression"
                  },
                  "Subject": "Claims",
                  "Frequency": {
                    "value": "@variables('Frequency')",
                    "type": "Expression"
                  },
                  "Source": {
                    "value": "@variables('Source')",
                    "type": "Expression"
                  },
                  "PriTbl": "CLM (RI)",
                  "SecTbl": "CLM_PROV -HMO(RI)"
                }
              }
            }
          ],
          "ifFalseActivities": []
        }
      },
      {
        "name": "If_3A",
        "type": "IfCondition",
        "dependsOn": [
          {
            "activity": "If_2C",
            "dependencyConditions": [
              "Succeeded"
            ]
          },
          {
            "activity": "ClmRIClmHmoClmProvBalSeq",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "expression": {
            "value": "@equals(contains(variables('ExclusionList'),'ESIBalancingClmColSumSeq'), false)",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "name": "ESIBalancingClmColSumSeq",
              "type": "ExecutePipeline",
              "dependsOn": [],
              "policy": {
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "waitOnCompletion": true,
                "pipeline": {
                  "referenceName": "ESIBalancingClmColSumSeq",
                  "type": "PipelineReference"
                },
                "parameters": {
                  "RunCycle": {
                    "value": "@variables('ExtrRunCycle')",
                    "type": "Expression"
                  },
                  "RunID": {
                    "value": "@variables('RunID')",
                    "type": "Expression"
                  },
                  "ExclusionList": {
                    "value": "@variables('ExclusionList')",
                    "type": "Expression"
                  },
                  "IDSOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "ids_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                    "type": "Expression"
                  },
                  "UWSOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_UWSOwner",
                    "type": "Expression"
                  },
                  "uws_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_UWSSecret",
                    "type": "Expression"
                  },
                  "CurrentDate": {
                    "value": "@variables('CurrDate')",
                    "type": "Expression"
                  },
                  "Source": {
                    "value": "@variables('Source')",
                    "type": "Expression"
                  }
                }
              }
            }
          ],
          "ifFalseActivities": []
        }
      },
      {
        "name": "Count_Variables",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "If_3A",
            "dependencyConditions": [
              "Succeeded"
            ]
          },
          {
            "activity": "ESIBalancingClmColSumSeq",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/UnixFileRecCnt')",
            "type": "Expression"
          },
          "baseParameters": {
            "UnixFileRecCnt_a1": {
              "value": "@concat(pipeline().globalParameters.gbl_param_FilePath,'/balancing/notify')",
              "type": "Expression"
            },
            "UnixFileRecCnt_a2": "ClaimsBalancingNotification.dat",
            "EnvProjectPath": {
              "value": "",
              "type": "Expression"
            },
            "FilePath": {
              "value": "",
              "type": "Expression"
            },
            "FileName": {
              "value": "",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "Set_ErrorMessageCount",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "Count_Variables",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "ErrorMessageCount",
          "value": {
            "value": "@string(activity('Count_Variables').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "If_4A",
        "type": "IfCondition",
        "dependsOn": [
          {
            "activity": "Set_ErrorMessageCount",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "expression": {
            "value": "@equals(contains(variables('ExclusionList'),'UwsSubjAreaBalSumLoad'), false)",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "name": "UwsSubjAreaBalSumLoad",
              "type": "DatabricksNotebook",
              "dependsOn": [],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_notebook_path,'/Balancing/UwsSubjAreaBalSumLoad')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "UWSOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_UWSOwner",
                    "type": "Expression"
                  },
                  "uws_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_UWSSecret",
                    "type": "Expression"
                  },
                  "Target": "IDS",
                  "Subject": "Claims",
                  "CurrDate": {
                    "value": "@variables('CurrDate')",
                    "type": "Expression"
                  },
                  "ExtrRunCycle": {
                    "value": "@variables('ExtrRunCycle')",
                    "type": "Expression"
                  }
                }
              }
            }
          ],
          "ifFalseActivities": []
        }
      },
      {
        "name": "If_4B",
        "type": "IfCondition",
        "dependsOn": [
          {
            "activity": "If_4A",
            "dependencyConditions": [
              "Succeeded"
            ]
          },
          {
            "activity": "UwsSubjAreaBalSumLoad",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "expression": {
            "value": "@not(equals(int(variables('ErrorMessageCount')),0))",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "name": "MvFile",
              "type": "DatabricksNotebook",
              "dependsOn": [],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": "@concat(pipeline().globalParameters.gbl_param_scripts,'/Generic_ADLS_File_Operations')",
                "baseParameters": {
                  "src_file_with_path": {
                    "value": "/balancing/notify/ClaimsBalancingNotification.dat",
                    "type": "Expression"
                  },
                  "trgt_file_with_path": {
                    "value": "/balancing/notify/processed/ClaimsBalancingNotification.txt",
                    "type": "Expression"
                  },
                  "command": "move",
                  "project": "integrate"
                }
              }
            },
            {
              "name": "Email",
              "type": "ExecutePipeline",
              "dependsOn": [
                {
                  "activity": "MvFile",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "pipeline": {
                  "referenceName": "Email_Notification",
                  "type": "PipelineReference"
                },
                "waitOnCompletion": true,
                "parameters": {
                  "recipients": {
                    "value": "@pipeline().globalParameters.gbl_param_EmailSupport",
                    "type": "Expression"
                  },
                  "subject": "#$IDSDB#   Warehouse Balancing ESI Claims Discrepancy",
                  "body": "See Attached file for Balancing Errors",
                  "blobFilenames": "@concat(pipeline().globalParameters.gbl_param_environment,'/balancing/notify/processed/ClaimsBalancingNotification.txt')",
                  "fromemail": {
                    "value": "@pipeline().globalParameters.gbl_param_fromemail",
                    "type": "Expression"
                  },
                  "containerName": {
                    "value": "@pipeline().globalParameters.gbl_param_container_integrate",
                    "type": "Expression"
                  }
                }
              }
            }
          ],
          "ifFalseActivities": []
        }
      },
      {
        "name": "If_4C",
        "type": "IfCondition",
        "dependsOn": [
          {
            "activity": "If_4B",
            "dependencyConditions": [
              "Succeeded"
            ]
          },
          {
            "activity": "Email",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "expression": {
            "value": "@equals(contains(variables('ExclusionList'),'BalClmRunCycUpd'), false)",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "name": "BalClmRunCycUpd",
              "type": "DatabricksNotebook",
              "dependsOn": [],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_notebook_path,'/claim/Balancing/BalClmRunCycUpd')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "IDSOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "ids_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                    "type": "Expression"
                  },
                  "BeginCycle": {
                    "value": "@variables('ExtrRunCycle')",
                    "type": "Expression"
                  },
                  "SrcSys": {
                    "value": "@variables('Source')",
                    "type": "Expression"
                  },
                  "TrgtSys": {
                    "value": "@variables('Target')",
                    "type": "Expression"
                  },
                  "SubjCd": {
                    "value": "@variables('Subject')",
                    "type": "Expression"
                  }
                }
              }
            }
          ],
          "ifFalseActivities": []
        }
      }
    ]
  }
}