npw-projects-np-projects-bluekc-translated-66e9366f6cca/Sprint_3_4_5/SequenceJobs/Integrate/ESIDrugLandSeq.json
{
  "name": "ESIDrugLandSeq",
  "type": "Microsoft.DataFactory/factories/pipelines",
  "properties": {
    "folder": {
      "name": "Integrate/claim/SeqESI"
    },
    "parameters": {
      "CurrentDate": {
        "type": "String",
        "defaultValue": "2007-09-10"
      },
      "RunCycle": {
        "type": "String",
        "defaultValue": ""
      },
      "ExclusionList": {
        "type": "String",
        "defaultValue": "\"\""
      },
      "RunID": {
        "type": "String",
        "defaultValue": ""
      },
      "SourceSys": {
        "type": "String",
        "defaultValue": "ESI"
      },
      "SourceSysCdSK": {
        "type": "String",
        "defaultValue": ""
      },
      "ProvRunCycle": {
        "type": "String",
        "defaultValue": ""
      }
    },
    "variables": {
      "LinkCount": {
        "type": "String",
        "defaultValue": ""
      },
      "JobLinkCount_a1": {
        "type": "String",
        "defaultValue": "ESIDrugClmDailyLand"
      },
      "JobLinkCount_a2": {
        "type": "String",
        "defaultValue": "unpunch_amt_fields"
      },
      "JobLinkCount_a3": {
        "type": "String",
        "defaultValue": "Rec4"
      },
      "var_CountChk_branch": {
        "type": "String",
        "defaultValue": ""
      },
      "var_If_9z_branch": {
        "type": "String",
        "defaultValue": ""
      },
      "var_If_9z_Continuation_branch": {
        "type": "String",
        "defaultValue": ""
      },
      "var_If_2B_branch": {
        "type": "String",
        "defaultValue": ""
      },
      "var_If_2C_branch": {
        "type": "String",
        "defaultValue": ""
      },
      "var_If_2C_Continuation_branch": {
        "type": "String",
        "defaultValue": ""
      },
      "var_If_1B_branch": {
        "type": "String",
        "defaultValue": ""
      },
      "var_If_2A_branch": {
        "type": "String",
        "defaultValue": ""
      }
    },
    "activities": [
      {
        "name": "If_1A",
        "type": "IfCondition",
        "dependsOn": [],
        "userProperties": [],
        "typeProperties": {
          "expression": {
            "value": "@not(contains(pipeline().parameters.ExclusionList,'ESIDrugClmDailyLand'))",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "name": "ESIDrugClmDailyLand",
              "type": "DatabricksNotebook",
              "dependsOn": [],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_notebook_path,'/claim/claim/ESI/ESIDrugClmDailyLand')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "RunID": {
                    "value": "@pipeline().parameters.RunID",
                    "type": "Expression"
                  },
                  "CurrentDate": {
                    "value": "@pipeline().parameters.CurrentDate",
                    "type": "Expression"
                  },
                  "IDSOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  }
                }
              }
            },
            {
              "name": "LinkCount_Routine",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "ESIDrugClmDailyLand",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/JobLinkCount')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "JobLinkCount_a1": {
                    "value": "@variables('JobLinkCount_a1')",
                    "type": "Expression"
                  },
                  "JobLinkCount_a2": {
                    "value": "@variables('JobLinkCount_a2')",
                    "type": "Expression"
                  },
                  "JobLinkCount_a3": {
                    "value": "@variables('JobLinkCount_a3')",
                    "type": "Expression"
                  },
                  "GlobalEnvironment": {
                    "value": "@pipeline().globalParameters.gbl_param_environment",
                    "type": "Expression"
                  },
                  "schema": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                    "type": "Expression"
                  },
                  "file_path": {
                    "value": "",
                    "type": "Expression"
                  },
                  "EnvProjectPath": {
                    "value": "",
                    "type": "Expression"
                  },
                  "delimiter": {
                    "value": "",
                    "type": "Expression"
                  },
                  "quote": {
                    "value": "",
                    "type": "Expression"
                  },
                  "header": {
                    "value": "",
                    "type": "Expression"
                  },
                  "nullValue": {
                    "value": "",
                    "type": "Expression"
                  },
                  "table_nm": {
                    "value": "",
                    "type": "Expression"
                  }
                }
              }
            },
            {
              "name": "LinkCount_SetVar",
              "type": "SetVariable",
              "dependsOn": [
                {
                  "activity": "LinkCount_Routine",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "LinkCount",
                "value": {
                  "value": "@string(activity('LinkCount_Routine').output.runOutput)",
                  "type": "Expression"
                }
              }
            }
          ],
          "ifFalseActivities": [
            {
              "name": "LinkCount_Routine_else",
              "type": "DatabricksNotebook",
              "dependsOn": [],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/JobLinkCount')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "JobLinkCount_a1": {
                    "value": "@variables('JobLinkCount_a1')",
                    "type": "Expression"
                  },
                  "JobLinkCount_a2": {
                    "value": "@variables('JobLinkCount_a2')",
                    "type": "Expression"
                  },
                  "JobLinkCount_a3": {
                    "value": "@variables('JobLinkCount_a3')",
                    "type": "Expression"
                  },
                  "GlobalEnvironment": {
                    "value": "@pipeline().globalParameters.gbl_param_environment",
                    "type": "Expression"
                  },
                  "schema": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                    "type": "Expression"
                  },
                  "file_path": {
                    "value": "",
                    "type": "Expression"
                  },
                  "EnvProjectPath": {
                    "value": "",
                    "type": "Expression"
                  },
                  "delimiter": {
                    "value": "",
                    "type": "Expression"
                  },
                  "quote": {
                    "value": "",
                    "type": "Expression"
                  },
                  "header": {
                    "value": "",
                    "type": "Expression"
                  },
                  "nullValue": {
                    "value": "",
                    "type": "Expression"
                  },
                  "table_nm": {
                    "value": "",
                    "type": "Expression"
                  }
                }
              }
            },
            {
              "name": "LinkCount_SetVar_else",
              "type": "SetVariable",
              "dependsOn": [
                {
                  "activity": "LinkCount_Routine_else",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "LinkCount",
                "value": {
                  "value": "@string(activity('LinkCount_Routine_else').output.runOutput)",
                  "type": "Expression"
                }
              }
            }
          ]
        }
      },
      {
        "name": "CountChk",
        "type": "Switch",
        "dependsOn": [
          {
            "activity": "LogCounts_WRITE_LOG",
            "dependencyConditions": [
              "Succeeded"
            ]
          },
          {
            "activity": "LogCounts_WRITE_LOG_else",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "on": {
            "value": "@if(less(int(variables('LinkCount')),1),'1','0')",
            "type": "Expression"
          },
          "cases": [
            {
              "value": "1",
              "activities": [
                {
                  "name": "SetVar_CountChk_True",
                  "type": "SetVariable",
                  "dependsOn": [],
                  "policy": {
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "variableName": "var_CountChk_branch",
                    "value": {
                      "value": "1",
                      "type": "Expression"
                    }
                  }
                },
                {
                  "name": "Email_DAT",
                  "type": "ExecutePipeline",
                  "dependsOn": [
                    {
                      "activity": "SetVar_CountChk_True",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "waitOnCompletion": true,
                    "pipeline": {
                      "referenceName": "Email_Notification",
                      "type": "PipelineReference"
                    },
                    "parameters": {
                      "recipients": {
                        "value": "@pipeline().globalParameters.gbl_param_EmailSupport",
                        "type": "Expression"
                      },
                      "subject": "ESI Drug Claim Record Count Invalid",
                      "body": "There are issues with the ESI Drug Claim Daily file.\n\n_EIS_ERROR@bcbskc.com",
                      "blobFilenames": " ",
                      "fromemail": {
                        "value": "@pipeline().globalParameters.gbl_param_fromemail",
                        "type": "Expression"
                      },
                      "containerName": " "
                    }
                  }
                }
              ]
            }
          ],
          "defaultActivities": [
            {
              "name": "SetVar_CountChk_False",
              "type": "SetVariable",
              "dependsOn": [],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "var_CountChk_branch",
                "value": {
                  "value": "0",
                  "type": "Expression"
                }
              }
            }
          ]
        }
      },
      {
        "name": "If_9z",
        "type": "Switch",
        "dependsOn": [
          {
            "activity": "CountChk",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "on": {
            "value": "@if(and(equals(variables('var_CountChk_branch'),'0'),true),'1','0')",
            "type": "Expression"
          },
          "cases": [
            {
              "value": "1",
              "activities": [
                {
                  "name": "SetVar_If_9z_True",
                  "type": "SetVariable",
                  "dependsOn": [],
                  "policy": {
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "variableName": "var_If_9z_branch",
                    "value": {
                      "value": "1",
                      "type": "Expression"
                    }
                  }
                },
                {
                  "name": "rmESI_DrugClmDailyRec",
                  "type": "DatabricksNotebook",
                  "dependsOn": [
                    {
                      "activity": "SetVar_If_9z_True",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "timeout": "12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "linkedServiceName": {
                    "referenceName": "shareddatabricks",
                    "type": "LinkedServiceReference"
                  },
                  "typeProperties": {
                    "notebookPath": "@concat(pipeline().globalParameters.gbl_param_scripts,'/Generic_ADLS_File_Operations')",
                    "baseParameters": {
                      "command": "delete",
                      "project": "integrate"
                    }
                  }
                }
              ]
            }
          ],
          "defaultActivities": [
            {
              "name": "SetVar_If_9z_False",
              "type": "SetVariable",
              "dependsOn": [],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "var_If_9z_branch",
                "value": {
                  "value": "0",
                  "type": "Expression"
                }
              }
            }
          ]
        }
      },
      {
        "name": "If_9z_Continuation",
        "type": "Switch",
        "dependsOn": [
          {
            "activity": "If_9z",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "on": {
            "value": "@if(and(equals(variables('var_CountChk_branch'),'0'),equals(variables('var_If_9z_branch'),'1')),'1','0')",
            "type": "Expression"
          },
          "cases": [
            {
              "value": "1",
              "activities": [
                {
                  "name": "SetVar_If_9z_Continuation_True",
                  "type": "SetVariable",
                  "dependsOn": [],
                  "policy": {
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "variableName": "var_If_9z_Continuation_branch",
                    "value": {
                      "value": "1",
                      "type": "Expression"
                    }
                  }
                }
              ]
            }
          ],
          "defaultActivities": [
            {
              "name": "SetVar_If_9z_Continuation_False",
              "type": "SetVariable",
              "dependsOn": [],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "var_If_9z_Continuation_branch",
                "value": {
                  "value": "0",
                  "type": "Expression"
                }
              }
            }
          ]
        }
      },
      {
        "name": "If_2B",
        "type": "Switch",
        "dependsOn": [
          {
            "activity": "If_9z_Continuation",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "on": {
            "value": "@if(and(equals(variables('var_CountChk_branch'),'0'),true),'1','0')",
            "type": "Expression"
          },
          "cases": [
            {
              "value": "1",
              "activities": [
                {
                  "name": "SetVar_If_2B_True",
                  "type": "SetVariable",
                  "dependsOn": [],
                  "policy": {
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "variableName": "var_If_2B_branch",
                    "value": {
                      "value": "1",
                      "type": "Expression"
                    }
                  }
                },
                {
                  "name": "ESIClmPKExtr",
                  "type": "DatabricksNotebook",
                  "dependsOn": [
                    {
                      "activity": "SetVar_If_2B_True",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "timeout": "12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "linkedServiceName": {
                    "referenceName": "shareddatabricks",
                    "type": "LinkedServiceReference"
                  },
                  "typeProperties": {
                    "notebookPath": {
                      "value": "@concat(pipeline().globalParameters.gbl_param_notebook_path,'/claim/claim/ESI/ESIClmPKExtr')",
                      "type": "Expression"
                    },
                    "baseParameters": {
                      "SrcSysCd": {
                        "value": "@pipeline().parameters.SourceSys",
                        "type": "Expression"
                      },
                      "SrcSysCdSK": {
                        "value": "@pipeline().parameters.SourceSysCdSK",
                        "type": "Expression"
                      },
                      "CurrRunCycle": {
                        "value": "@pipeline().parameters.RunCycle",
                        "type": "Expression"
                      },
                      "RunID": {
                        "value": "@pipeline().parameters.RunID",
                        "type": "Expression"
                      },
                      "IDSOwner": {
                        "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                        "type": "Expression"
                      },
                      "ids_secret_name": {
                        "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                        "type": "Expression"
                      },
                      "GlobalEnvironment": {
                        "value": "@pipeline().globalParameters.gbl_param_environment",
                        "type": "Expression"
                      }
                    }
                  }
                }
              ]
            }
          ],
          "defaultActivities": [
            {
              "name": "SetVar_If_2B_False",
              "type": "SetVariable",
              "dependsOn": [],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "var_If_2B_branch",
                "value": {
                  "value": "0",
                  "type": "Expression"
                }
              }
            }
          ]
        }
      },
      {
        "name": "If_2C",
        "type": "Switch",
        "dependsOn": [
          {
            "activity": "If_2B",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "on": {
            "value": "@if(and(equals(variables('var_CountChk_branch'),'0'),true),'1','0')",
            "type": "Expression"
          },
          "cases": [
            {
              "value": "1",
              "activities": [
                {
                  "name": "SetVar_If_2C_True",
                  "type": "SetVariable",
                  "dependsOn": [],
                  "policy": {
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "variableName": "var_If_2C_branch",
                    "value": {
                      "value": "1",
                      "type": "Expression"
                    }
                  }
                },
                {
                  "name": "ESIClmLnPKExtr",
                  "type": "DatabricksNotebook",
                  "dependsOn": [
                    {
                      "activity": "SetVar_If_2C_True",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "timeout": "12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "linkedServiceName": {
                    "referenceName": "shareddatabricks",
                    "type": "LinkedServiceReference"
                  },
                  "typeProperties": {
                    "notebookPath": {
                      "value": "@concat(pipeline().globalParameters.gbl_param_notebook_path,'/claim/ClaimLine/ClmLn/ESI/ESIClmLnPKExtr')",
                      "type": "Expression"
                    },
                    "baseParameters": {
                      "SrcSysCd": {
                        "value": "@pipeline().parameters.SourceSys",
                        "type": "Expression"
                      },
                      "SrcSysCdSK": {
                        "value": "@pipeline().parameters.SourceSysCdSK",
                        "type": "Expression"
                      },
                      "CurrRunCycle": {
                        "value": "@pipeline().parameters.RunCycle",
                        "type": "Expression"
                      },
                      "RunID": {
                        "value": "@pipeline().parameters.RunID",
                        "type": "Expression"
                      },
                      "IDSOwner": {
                        "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                        "type": "Expression"
                      },
                      "ids_secret_name": {
                        "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                        "type": "Expression"
                      },
                      "GlobalEnvironment": {
                        "value": "@pipeline().globalParameters.gbl_param_environment",
                        "type": "Expression"
                      }
                    }
                  }
                }
              ]
            }
          ],
          "defaultActivities": [
            {
              "name": "SetVar_If_2C_False",
              "type": "SetVariable",
              "dependsOn": [],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "var_If_2C_branch",
                "value": {
                  "value": "0",
                  "type": "Expression"
                }
              }
            }
          ]
        }
      },
      {
        "name": "If_2C_Continuation",
        "type": "Switch",
        "dependsOn": [
          {
            "activity": "If_2C",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "on": {
            "value": "@if(and(equals(variables('var_CountChk_branch'),'0'),equals(variables('var_If_2C_branch'),'1')),'1','0')",
            "type": "Expression"
          },
          "cases": [
            {
              "value": "1",
              "activities": [
                {
                  "name": "SetVar_If_2C_Continuation_True",
                  "type": "SetVariable",
                  "dependsOn": [],
                  "policy": {
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "variableName": "var_If_2C_Continuation_branch",
                    "value": {
                      "value": "1",
                      "type": "Expression"
                    }
                  }
                }
              ]
            }
          ],
          "defaultActivities": [
            {
              "name": "SetVar_If_2C_Continuation_False",
              "type": "SetVariable",
              "dependsOn": [],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "var_If_2C_Continuation_branch",
                "value": {
                  "value": "0",
                  "type": "Expression"
                }
              }
            }
          ]
        }
      },
      {
        "name": "If_1B",
        "type": "Switch",
        "dependsOn": [
          {
            "activity": "If_2C_Continuation",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "on": {
            "value": "@if(and(equals(variables('var_CountChk_branch'),'0'),true),'1','0')",
            "type": "Expression"
          },
          "cases": [
            {
              "value": "1",
              "activities": [
                {
                  "name": "SetVar_If_1B_True",
                  "type": "SetVariable",
                  "dependsOn": [],
                  "policy": {
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "variableName": "var_If_1B_branch",
                    "value": {
                      "value": "1",
                      "type": "Expression"
                    }
                  }
                },
                {
                  "name": "ESIDrugExtrSeq",
                  "type": "ExecutePipeline",
                  "dependsOn": [
                    {
                      "activity": "SetVar_If_1B_True",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "pipeline": {
                      "referenceName": "ESIDrugExtrSeq",
                      "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                      "ExclusionList": {
                        "value": "@pipeline().parameters.ExclusionList",
                        "type": "Expression"
                      },
                      "CurrentDate": {
                        "value": "@pipeline().parameters.CurrentDate",
                        "type": "Expression"
                      },
                      "RunCycle": {
                        "value": "@pipeline().parameters.RunCycle",
                        "type": "Expression"
                      },
                      "RunID": {
                        "value": "@pipeline().parameters.RunID",
                        "type": "Expression"
                      },
                      "SourceSys": {
                        "value": "@pipeline().parameters.SourceSys",
                        "type": "Expression"
                      },
                      "SourceSystemCdSK": {
                        "value": "@pipeline().parameters.SourceSysCdSK",
                        "type": "Expression"
                      },
                      "IDSOwner": {
                        "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                        "type": "Expression"
                      },
                      "ids_secret_name": {
                        "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                        "type": "Expression"
                      },
                      "CactusOwner": {
                        "value": "@pipeline().globalParameters.gbl_param_CactusOwner",
                        "type": "Expression"
                      },
                      "cactus_secret_name": {
                        "value": "@pipeline().globalParameters.gbl_param_CactusSecret",
                        "type": "Expression"
                      },
                      "ProvRunCycle": {
                        "value": "@pipeline().parameters.ProvRunCycle",
                        "type": "Expression"
                      }
                    }
                  }
                }
              ]
            }
          ],
          "defaultActivities": [
            {
              "name": "SetVar_If_1B_False",
              "type": "SetVariable",
              "dependsOn": [],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "var_If_1B_branch",
                "value": {
                  "value": "0",
                  "type": "Expression"
                }
              }
            }
          ]
        }
      },
      {
        "name": "If_2A",
        "type": "Switch",
        "dependsOn": [
          {
            "activity": "If_1B",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "on": {
            "value": "@if(and(equals(variables('var_CountChk_branch'),'0'),true),'1','0')",
            "type": "Expression"
          },
          "cases": [
            {
              "value": "1",
              "activities": [
                {
                  "name": "SetVar_If_2A_True",
                  "type": "SetVariable",
                  "dependsOn": [],
                  "policy": {
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "variableName": "var_If_2A_branch",
                    "value": {
                      "value": "1",
                      "type": "Expression"
                    }
                  }
                },
                {
                  "name": "MvESIfile",
                  "type": "DatabricksNotebook",
                  "dependsOn": [
                    {
                      "activity": "SetVar_If_2A_True",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "timeout": "12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "linkedServiceName": {
                    "referenceName": "shareddatabricks",
                    "type": "LinkedServiceReference"
                  },
                  "typeProperties": {
                    "notebookPath": "@concat(pipeline().globalParameters.gbl_param_scripts,'/Generic_ADLS_File_Operations')",
                    "baseParameters": {
                      "src_file_with_path": {
                        "value": "/landing/ESI_DrugClmDaily.dat",
                        "type": "Expression"
                      },
                      "trgt_file_with_path": {
                        "value": "/landing/processed/ESI_DrugClmDaily.dat.",
                        "type": "Expression"
                      },
                      "command": "move",
                      "project": "integrate"
                    }
                  }
                },
                {
                  "name": "MvClmLandExtr",
                  "type": "DatabricksNotebook",
                  "dependsOn": [
                    {
                      "activity": "MvESIfile",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "timeout": "12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "linkedServiceName": {
                    "referenceName": "shareddatabricks",
                    "type": "LinkedServiceReference"
                  },
                  "typeProperties": {
                    "notebookPath": "@concat(pipeline().globalParameters.gbl_param_scripts,'/Generic_ADLS_File_Operations')",
                    "baseParameters": {
                      "src_file_with_path": {
                        "value": "/verified/ESIDrugClmDaily_Land.dat.",
                        "type": "Expression"
                      },
                      "trgt_file_with_path": {
                        "value": "/verified/processed/ESIDrugClmDaily_Land.dat.",
                        "type": "Expression"
                      },
                      "command": "move",
                      "project": "integrate"
                    }
                  }
                }
              ]
            }
          ],
          "defaultActivities": [
            {
              "name": "SetVar_If_2A_False",
              "type": "SetVariable",
              "dependsOn": [],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "var_If_2A_branch",
                "value": {
                  "value": "0",
                  "type": "Expression"
                }
              }
            }
          ]
        }
      }
    ]
  }
}