npw-projects-np-projects-bluekc-translated-66e9366f6cca/Sprint_3_4_5/SequenceJobs/Integrate/FctsCustSvcCntl.json
{
  "name": "FctsCustSvcCntl",
  "type": "Microsoft.DataFactory/factories/pipelines",
  "properties": {
    "folder": {
      "name": "Integrate/Jobs/CustServ"
    },
    "parameters": {
      "Logging": {
        "type": "String",
        "defaultValue": "N"
      }
    },
    "variables": {
      "JobName": {
        "type": "String",
        "defaultValue": ""
      },
      "GroupName": {
        "type": "String",
        "defaultValue": "IDS_CustSvc"
      },
      "Source": {
        "type": "String",
        "defaultValue": "FACETS"
      },
      "Target": {
        "type": "String",
        "defaultValue": "IDS"
      },
      "Subject": {
        "type": "String",
        "defaultValue": "CUSTSVC"
      },
      "Frequency": {
        "type": "String",
        "defaultValue": "DAILY"
      },
      "BeginDate": {
        "type": "String",
        "defaultValue": ""
      },
      "LinkCount": {
        "type": "String",
        "defaultValue": ""
      },
      "RunCycle": {
        "type": "String",
        "defaultValue": ""
      },
      "RunID": {
        "type": "String",
        "defaultValue": ""
      },
      "ExclusionList": {
        "type": "String",
        "defaultValue": ""
      },
      "CurrDate": {
        "type": "String",
        "defaultValue": ""
      },
      "SrcSysCdSk": {
        "type": "String",
        "defaultValue": ""
      },
      "var_CountChk_branch_True": {
        "type": "String",
        "defaultValue": ""
      },
      "var_CountChk_branch_False": {
        "type": "String",
        "defaultValue": ""
      },
      "var_If_1A_branch_True": {
        "type": "String",
        "defaultValue": ""
      },
      "var_If_1A_branch_False": {
        "type": "String",
        "defaultValue": ""
      },
      "var_If_1B_branch_True": {
        "type": "String",
        "defaultValue": ""
      },
      "var_If_1B_branch_False": {
        "type": "String",
        "defaultValue": ""
      },
      "var_If_1C_branch_True": {
        "type": "String",
        "defaultValue": ""
      },
      "var_If_1C_branch_False": {
        "type": "String",
        "defaultValue": ""
      },
      "var_If_1C_Continuation_branch_True": {
        "type": "String",
        "defaultValue": ""
      },
      "var_If_1C_Continuation_branch_False": {
        "type": "String",
        "defaultValue": ""
      },
      "var_If_2A_branch_True": {
        "type": "String",
        "defaultValue": ""
      },
      "var_If_2A_branch_False": {
        "type": "String",
        "defaultValue": ""
      },
      "var_If_2A_Continuation_branch_True": {
        "type": "String",
        "defaultValue": ""
      },
      "var_If_2A_Continuation_branch_False": {
        "type": "String",
        "defaultValue": ""
      },
      "var_If_2B_branch_True": {
        "type": "String",
        "defaultValue": ""
      },
      "var_If_2B_branch_False": {
        "type": "String",
        "defaultValue": ""
      },
      "var_If_2B_Continuation_branch_True": {
        "type": "String",
        "defaultValue": ""
      },
      "var_If_2B_Continuation_branch_False": {
        "type": "String",
        "defaultValue": ""
      }
    },
    "activities": [
      {
        "name": "var_JobName_set",
        "type": "SetVariable",
        "dependsOn": [],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "JobName",
          "value": {
            "value": "@pipeline().Pipeline",
            "type": "Expression"
          }
        }
      },
      {
        "name": "GetRunInfo_BeginDate",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "var_JobName_set",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/GetRunInfo')",
            "type": "Expression"
          },
          "baseParameters": {
            "job_name": {
              "value": "@variables('JobName')",
              "type": "Expression"
            },
            "secret_name": "BeginDate",
            "GlobalEnvironment": {
              "value": "@pipeline().globalParameters.gbl_param_environment",
              "type": "Expression"
            },
            "IDSOwner": {
              "value": "",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "BeginDate",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "GetRunInfo_BeginDate",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "BeginDate",
          "value": {
            "value": "@string(activity('GetRunInfo_BeginDate').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "ProcessCheckExtr",
        "type": "Lookup",
        "dependsOn": [
          {
            "activity": "BeginDate",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "source": {
            "type": "AzureSqlSource",
            "sqlReaderQuery": {
              "value": "WITH db2_data AS (\n    select SUBJ_CD, TRGT_SYS_CD, SRC_SYS_CD\n    from @{pipeline().globalParameters.gbl_param_IDSOwner}.P_RUN_CYC\n    where CYC_STTUS_CD = 'RUNNING'\n       and SUBJ_CD = '@{variables('Subject')}'\n       and TRGT_SYS_CD = '@{variables('Target')}'\n    UNION\n    select SUBJ_CD, TRGT_SYS_CD, SRC_SYS_CD\n    from @{pipeline().globalParameters.gbl_param_IDSOwner}.P_RUN_CYC\n    where CYC_STTUS_CD = 'RUNNING'\n       and SUBJ_CD = '@{variables('Subject')}'\n       and SRC_SYS_CD <> '@{variables('Source')}'\n       and TRGT_SYS_CD = '@{variables('Target')}'\n    UNION\n    select SUBJ_CD, TRGT_SYS_CD, SRC_SYS_CD\n    from @{pipeline().globalParameters.gbl_param_IDSOwner}.P_RUN_CYC\n    where CYC_STTUS_CD = 'RUNNING'\n       and SUBJ_CD = '@{variables('Subject')}'\n       and SRC_SYS_CD = '@{variables('Source')}'\n),\ntransformed_data AS (\n    SELECT SUBJ_CD, SRC_SYS_CD, TRGT_SYS_CD\n    FROM db2_data\n)\nSELECT COUNT(*) as link_count FROM transformed_data",
              "type": "Expression"
            },
            "queryTimeout": "02:00:00",
            "partitionOption": "None"
          },
          "dataset": {
            "referenceName": "ds_ids",
            "type": "DatasetReference",
            "parameters": {
              "param_schema": "@pipeline().globalParameters.gbl_param_IDSOwner",
              "param_table": "P_RUN_CYC"
            }
          }
        }
      },
      {
        "name": "LinkCount_SetVar",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "ProcessCheckExtr",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "LinkCount",
          "value": {
            "value": "@string(activity('ProcessCheckExtr').output.firstRow.link_count)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "CountChk",
        "type": "Switch",
        "dependsOn": [
          {
            "activity": "LinkCount_SetVar",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "on": {
            "value": "@if(not(equals(variables('LinkCount'),'0')),'1','0')",
            "type": "Expression"
          },
          "cases": [
            {
              "value": "1",
              "activities": [
                {
                  "name": "var_CountChk_branch_True",
                  "type": "SetVariable",
                  "dependsOn": [],
                  "policy": {
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "variableName": "var_CountChk_branch_True",
                    "value": {
                      "value": "1",
                      "type": "Expression"
                    }
                  }
                },
                {
                  "name": "Email_DAT",
                  "type": "ExecutePipeline",
                  "dependsOn": [
                    {
                      "activity": "var_CountChk_branch_True",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "pipeline": {
                      "referenceName": "Email_Notification",
                      "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                      "recipients": {
                        "value": "@pipeline().globalParameters.gbl_param_EmailSupport",
                        "type": "Expression"
                      },
                      "subject": "IDS Facets Customer Service Abort",
                      "body": "The IDS Facets Customer Service  processing can not run while IDS customer service is being updated or extracted from.",
                      "blobFilenames": null,
                      "fromemail": {
                        "value": "@pipeline().globalParameters.gbl_param_fromemail",
                        "type": "Expression"
                      },
                      "containerName": {
                        "value": "",
                        "type": "Expression"
                      }
                    }
                  }
                }
              ]
            }
          ],
          "defaultActivities": [
            {
              "name": "var_CountChk_branch_False",
              "type": "SetVariable",
              "dependsOn": [],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "var_CountChk_branch_False",
                "value": {
                  "value": "1",
                  "type": "Expression"
                }
              }
            },
            {
              "name": "Time_SetRunCycle",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "var_CountChk_branch_False",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/OpenRunCycle')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "DBOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "Source": {
                    "value": "@variables('Source')",
                    "type": "Expression"
                  },
                  "Target": {
                    "value": "@variables('Target')",
                    "type": "Expression"
                  },
                  "Subject": {
                    "value": "@variables('Subject')",
                    "type": "Expression"
                  },
                  "Frequency": {
                    "value": "@variables('Frequency')",
                    "type": "Expression"
                  },
                  "GlobalEnvironment": {
                    "value": "@pipeline().globalParameters.gbl_param_environment",
                    "type": "Expression"
                  },
                  "secret_name": {
                    "value": "",
                    "type": "Expression"
                  }
                }
              }
            },
            {
              "name": "Time_RunCycle",
              "type": "SetVariable",
              "dependsOn": [
                {
                  "activity": "Time_SetRunCycle",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "RunCycle",
                "value": {
                  "value": "@string(activity('Time_SetRunCycle').output.runOutput)",
                  "type": "Expression"
                }
              }
            },
            {
              "name": "Time_CheckBeginDate",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "Time_RunCycle",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/FORMAT.DATE')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "pInDate": "string('@DATE')",
                  "pSource": "DATE",
                  "pSourceFormat": "CURRENT",
                  "pOutFormat": "SYBTIMESTAMP"
                }
              }
            },
            {
              "name": "Time_SetBeginDateIF",
              "type": "SetVariable",
              "dependsOn": [
                {
                  "activity": "Time_CheckBeginDate",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "BeginDate",
                "value": {
                  "value": "@if(equals(variables('BeginDate'),''),string(activity('Time_CheckBeginDate').output.runOutput),variables('BeginDate'))",
                  "type": "Expression"
                }
              }
            },
            {
              "name": "ExclusionListExtr",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "Time_SetBeginDateIF",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_notebook_path,'/JobSequencer/CommonComponents/ExclusionListExtr')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "ids_owner_schema": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "ids_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                    "type": "Expression"
                  },
                  "Subject": {
                    "value": "@variables('JobName')",
                    "type": "Expression"
                  },
                  "ids_staging_schema": {
                    "value": "@pipeline().globalParameters.gbl_param_ids_staging",
                    "type": "Expression"
                  }
                }
              }
            },
            {
              "name": "WriteRunID_Notebook",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "ExclusionListExtr",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/Routines/ProcessControl/WriteRunID')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "entry_name": {
                    "value": "@variables('JobName')",
                    "type": "Expression"
                  },
                  "WriteRunID_a2": "RunID",
                  "GlobalEnvironment": {
                    "value": "@pipeline().globalParameters.gbl_param_environment",
                    "type": "Expression"
                  },
                  "secret_name": {
                    "value": "",
                    "type": "Expression"
                  },
                  "IDSOwner": {
                    "value": "",
                    "type": "Expression"
                  }
                }
              }
            },
            {
              "name": "WriteRunID_Set",
              "type": "SetVariable",
              "dependsOn": [
                {
                  "activity": "WriteRunID_Notebook",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "RunID",
                "value": {
                  "value": "@string(activity('WriteRunID_Notebook').output.runOutput)",
                  "type": "Expression"
                }
              }
            },
            {
              "name": "Variables_GetExclusionList",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "WriteRunID_Set",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/GetExclusionList')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "Subject": {
                    "value": "@variables('JobName')",
                    "type": "Expression"
                  },
                  "GetExclusionList_a2": "RunID",
                  "GlobalEnvironment": {
                    "value": "@pipeline().globalParameters.gbl_param_environment",
                    "type": "Expression"
                  },
                  "secret_name": {
                    "value": "",
                    "type": "Expression"
                  },
                  "DBOwner": {
                    "value": "",
                    "type": "Expression"
                  }
                }
              }
            },
            {
              "name": "Variables_SetExclusionList",
              "type": "SetVariable",
              "dependsOn": [
                {
                  "activity": "Variables_GetExclusionList",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "ExclusionList",
                "value": {
                  "value": "@string(activity('Variables_GetExclusionList').output.runOutput)",
                  "type": "Expression"
                }
              }
            },
            {
              "name": "Variables_FORMAT_DATE",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "Variables_SetExclusionList",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/FORMAT.DATE')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "pInDate": "string('@DATE')",
                  "pSource": "DATE",
                  "pSourceFormat": "CURRENT",
                  "pOutFormat": "CCYY-MM-DD"
                }
              }
            },
            {
              "name": "Variables_SetCurrDate",
              "type": "SetVariable",
              "dependsOn": [
                {
                  "activity": "Variables_FORMAT_DATE",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "CurrDate",
                "value": {
                  "value": "@string(activity('Variables_FORMAT_DATE').output.runOutput)",
                  "type": "Expression"
                }
              }
            },
            {
              "name": "GetFkeyCodes_SrcSysCdSk",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "Variables_SetCurrDate",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/GetFkeyCodes')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "src_system_cd": "IDS",
                  "record_key": "FACETS",
                  "cd_mpg_id": "SOURCE SYSTEM",
                  "cd_value": "FACETS",
                  "logging": "X",
                  "GlobalEnvironment": {
                    "value": "@pipeline().globalParameters.gbl_param_environment",
                    "type": "Expression"
                  },
                  "GetFkeyCodes_owner": {
                    "value": "",
                    "type": "Expression"
                  },
                  "GetFkeyCodes_secret": {
                    "value": "",
                    "type": "Expression"
                  }
                }
              }
            },
            {
              "name": "Variables_SetSrcSysCdSk",
              "type": "SetVariable",
              "dependsOn": [
                {
                  "activity": "GetFkeyCodes_SrcSysCdSk",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "SrcSysCdSk",
                "value": {
                  "value": "@string(activity('GetFkeyCodes_SrcSysCdSk').output.runOutput)",
                  "type": "Expression"
                }
              }
            },
            {
              "name": "ExclusionListDelete",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "Variables_SetSrcSysCdSk",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_notebook_path,'/JobSequencer/CommonComponents/ExclusionListDelete')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "ids_owner_schema": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "ids_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                    "type": "Expression"
                  },
                  "subject": {
                    "value": "@variables('JobName')",
                    "type": "Expression"
                  }
                }
              }
            }
          ]
        }
      },
      {
        "name": "If_1A",
        "type": "Switch",
        "dependsOn": [
          {
            "activity": "CountChk",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "on": {
            "value": "@if(and(equals(variables('var_CountChk_branch_False'),'1'),not(contains(variables('ExclusionList'),'FctsCustSvcPrerecSeq'))),'1','0')",
            "type": "Expression"
          },
          "cases": [
            {
              "value": "1",
              "activities": [
                {
                  "name": "var_If_1A_branch_True",
                  "type": "SetVariable",
                  "dependsOn": [],
                  "policy": {
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "variableName": "var_If_1A_branch_True",
                    "value": {
                      "value": "1",
                      "type": "Expression"
                    }
                  }
                },
                {
                  "name": "FctsCustSvcPrerecSeq",
                  "type": "ExecutePipeline",
                  "dependsOn": [
                    {
                      "activity": "var_If_1A_branch_True",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "pipeline": {
                      "referenceName": "FctsCustSvcPrerecSeq",
                      "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                      "ExclusionList": {
                        "value": "@variables('ExclusionList')",
                        "type": "Expression"
                      },
                      "RunID": {
                        "value": "@variables('RunID')",
                        "type": "Expression"
                      },
                      "BeginDate": {
                        "value": "@variables('BeginDate')",
                        "type": "Expression"
                      },
                      "CntlJobName": {
                        "value": "@variables('JobName')",
                        "type": "Expression"
                      },
                      "FacetsOwner": {
                        "value": "@pipeline().globalParameters.gbl_param_FacetsOwner",
                        "type": "Expression"
                      },
                      "facets_secret_name": {
                        "value": "@pipeline().globalParameters.gbl_param_FacetsSecret",
                        "type": "Expression"
                      }
                    }
                  }
                }
              ]
            }
          ],
          "defaultActivities": [
            {
              "name": "var_If_1A_branch_False",
              "type": "SetVariable",
              "dependsOn": [],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "var_If_1A_branch_False",
                "value": {
                  "value": "1",
                  "type": "Expression"
                }
              }
            }
          ]
        }
      },
      {
        "name": "If_1B",
        "type": "Switch",
        "dependsOn": [
          {
            "activity": "If_1A",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "on": {
            "value": "@if(and(equals(variables('var_CountChk_branch_False'),'1'),not(contains(variables('ExclusionList'),'FctsCustSvcExtrSeq'))),'1','0')",
            "type": "Expression"
          },
          "cases": [
            {
              "value": "1",
              "activities": [
                {
                  "name": "var_If_1B_branch_True",
                  "type": "SetVariable",
                  "dependsOn": [],
                  "policy": {
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "variableName": "var_If_1B_branch_True",
                    "value": {
                      "value": "1",
                      "type": "Expression"
                    }
                  }
                },
                {
                  "name": "FctsCustSvcExtrSeq",
                  "type": "ExecutePipeline",
                  "dependsOn": [
                    {
                      "activity": "var_If_1B_branch_True",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "pipeline": {
                      "referenceName": "FctsCustSvcExtrSeq",
                      "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                      "RunID": {
                        "value": "@variables('RunID')",
                        "type": "Expression"
                      },
                      "RunCycle": {
                        "value": "@variables('RunCycle')",
                        "type": "Expression"
                      },
                      "RunDate": {
                        "value": "@variables('BeginDate')",
                        "type": "Expression"
                      },
                      "ExclusionList": {
                        "value": "@variables('ExclusionList')",
                        "type": "Expression"
                      },
                      "CurrDate": {
                        "value": "@variables('CurrDate')",
                        "type": "Expression"
                      },
                      "SrcSysCdSk": {
                        "value": "@variables('SrcSysCdSk')",
                        "type": "Expression"
                      },
                      "FacetsOwner": {
                        "value": "@pipeline().globalParameters.gbl_param_FacetsOwner",
                        "type": "Expression"
                      },
                      "facets_secret_name": {
                        "value": "@pipeline().globalParameters.gbl_param_FacetsSecret",
                        "type": "Expression"
                      },
                      "IDSOwner": {
                        "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                        "type": "Expression"
                      },
                      "ids_secret_name": {
                        "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                        "type": "Expression"
                      }
                    }
                  }
                }
              ]
            }
          ],
          "defaultActivities": [
            {
              "name": "var_If_1B_branch_False",
              "type": "SetVariable",
              "dependsOn": [],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "var_If_1B_branch_False",
                "value": {
                  "value": "1",
                  "type": "Expression"
                }
              }
            }
          ]
        }
      },
      {
        "name": "If_1C",
        "type": "Switch",
        "dependsOn": [
          {
            "activity": "If_1B",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "on": {
            "value": "@if(and(equals(variables('var_CountChk_branch_False'),'1'),not(contains(variables('ExclusionList'),'FctsCustSvcLoadSeq'))),'1','0')",
            "type": "Expression"
          },
          "cases": [
            {
              "value": "1",
              "activities": [
                {
                  "name": "var_If_1C_branch_True",
                  "type": "SetVariable",
                  "dependsOn": [],
                  "policy": {
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "variableName": "var_If_1C_branch_True",
                    "value": {
                      "value": "1",
                      "type": "Expression"
                    }
                  }
                },
                {
                  "name": "FctsCustSvcLoadSeq",
                  "type": "ExecutePipeline",
                  "dependsOn": [
                    {
                      "activity": "var_If_1C_branch_True",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "pipeline": {
                      "referenceName": "FctsCustSvcLoadSeq",
                      "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                      "Logging": {
                        "value": "@pipeline().parameters.Logging",
                        "type": "Expression"
                      },
                      "RunCycle": {
                        "value": "@variables('RunCycle')",
                        "type": "Expression"
                      },
                      "RunID": {
                        "value": "@variables('RunID')",
                        "type": "Expression"
                      },
                      "ExclusionList": {
                        "value": "@variables('ExclusionList')",
                        "type": "Expression"
                      },
                      "SrcSysCdSk": {
                        "value": "@variables('SrcSysCdSk')",
                        "type": "Expression"
                      },
                      "SrcSysCd": "FACETS",
                      "IDSOwner": {
                        "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                        "type": "Expression"
                      },
                      "ids_secret_name": {
                        "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                        "type": "Expression"
                      }
                    }
                  }
                }
              ]
            }
          ],
          "defaultActivities": [
            {
              "name": "var_If_1C_branch_False",
              "type": "SetVariable",
              "dependsOn": [],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "var_If_1C_branch_False",
                "value": {
                  "value": "1",
                  "type": "Expression"
                }
              }
            }
          ]
        }
      },
      {
        "name": "If_1C_Continuation",
        "type": "Switch",
        "dependsOn": [
          {
            "activity": "If_1C",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "on": {
            "value": "@if(and(equals(variables('var_CountChk_branch_False'),'1'),equals(variables('var_If_1C_branch_True'),'1') or equals(variables('var_If_1C_branch_False'),'1')),'1','0')",
            "type": "Expression"
          },
          "cases": [
            {
              "value": "1",
              "activities": [
                {
                  "name": "var_If_1C_Continuation_branch_True",
                  "type": "SetVariable",
                  "dependsOn": [],
                  "policy": {
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "variableName": "var_If_1C_Continuation_branch_True",
                    "value": {
                      "value": "1",
                      "type": "Expression"
                    }
                  }
                }
              ]
            }
          ],
          "defaultActivities": [
            {
              "name": "var_If_1C_Continuation_branch_False",
              "type": "SetVariable",
              "dependsOn": [],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "var_If_1C_Continuation_branch_False",
                "value": {
                  "value": "1",
                  "type": "Expression"
                }
              }
            }
          ]
        }
      },
      {
        "name": "If_2A",
        "type": "Switch",
        "dependsOn": [
          {
            "activity": "If_1C_Continuation",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "on": {
            "value": "@if(and(equals(variables('var_CountChk_branch_False'),'1'),not(contains(variables('ExclusionList'),'FctsCustSvcCleanupSeq'))),'1','0')",
            "type": "Expression"
          },
          "cases": [
            {
              "value": "1",
              "activities": [
                {
                  "name": "var_If_2A_branch_True",
                  "type": "SetVariable",
                  "dependsOn": [],
                  "policy": {
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "variableName": "var_If_2A_branch_True",
                    "value": {
                      "value": "1",
                      "type": "Expression"
                    }
                  }
                },
                {
                  "name": "FctsCustSvcCleanupSeq",
                  "type": "ExecutePipeline",
                  "dependsOn": [
                    {
                      "activity": "var_If_2A_branch_True",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "pipeline": {
                      "referenceName": "FctsCustSvcCleanupSeq",
                      "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                      "EmailSupport": {
                        "value": "@pipeline().globalParameters.gbl_param_EmailSupport",
                        "type": "Expression"
                      },
                      "BeginDate": {
                        "value": "@variables('BeginDate')",
                        "type": "Expression"
                      },
                      "ExclusionList": {
                        "value": "@variables('ExclusionList')",
                        "type": "Expression"
                      },
                      "CntlJobName": {
                        "value": "@variables('JobName')",
                        "type": "Expression"
                      },
                      "IDSOwner": {
                        "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                        "type": "Expression"
                      },
                      "ids_secret_name": {
                        "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                        "type": "Expression"
                      },
                      "FacetsOwner": {
                        "value": "@pipeline().globalParameters.gbl_param_FacetsOwner",
                        "type": "Expression"
                      },
                      "facets_secret_name": {
                        "value": "@pipeline().globalParameters.gbl_param_FacetsSecret",
                        "type": "Expression"
                      }
                    }
                  }
                }
              ]
            }
          ],
          "defaultActivities": [
            {
              "name": "var_If_2A_branch_False",
              "type": "SetVariable",
              "dependsOn": [],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "var_If_2A_branch_False",
                "value": {
                  "value": "1",
                  "type": "Expression"
                }
              }
            }
          ]
        }
      },
      {
        "name": "If_2A_Continuation",
        "type": "Switch",
        "dependsOn": [
          {
            "activity": "If_2A",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "on": {
            "value": "@if(and(equals(variables('var_CountChk_branch_False'),'1'), or(equals(variables('var_If_2A_branch_True'),'1'), equals(variables('var_If_2A_branch_False'),'1'))),'1','0')",
            "type": "Expression"
          },
          "cases": [
            {
              "value": "1",
              "activities": [
                {
                  "name": "var_If_2A_Continuation_branch_True",
                  "type": "SetVariable",
                  "dependsOn": [],
                  "policy": {
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "variableName": "var_If_2A_Continuation_branch_True",
                    "value": {
                      "value": "1",
                      "type": "Expression"
                    }
                  }
                },
                {
                  "name": "CloseRunCycle",
                  "type": "DatabricksNotebook",
                  "dependsOn": [
                    {
                      "activity": "var_If_2A_Continuation_branch_True",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "timeout": "12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "linkedServiceName": {
                    "referenceName": "shareddatabricks",
                    "type": "LinkedServiceReference"
                  },
                  "typeProperties": {
                    "notebookPath": {
                      "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/Routines/Cycle/CloseRunCycle')",
                      "type": "Expression"
                    },
                    "baseParameters": {
                      "CloseRunCycle_a1": {
                        "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                        "type": "Expression"
                      },
                      "CloseRunCycle_a2": {
                        "value": "@variables('Source')",
                        "type": "Expression"
                      },
                      "CloseRunCycle_a3": {
                        "value": "@variables('Target')",
                        "type": "Expression"
                      },
                      "CloseRunCycle_a4": {
                        "value": "@variables('Subject')",
                        "type": "Expression"
                      },
                      "CloseRunCycle_a5": {
                        "value": "@variables('Frequency')",
                        "type": "Expression"
                      },
                      "CloseRunCycle_a6": {
                        "value": "@variables('RunCycle')",
                        "type": "Expression"
                      },
                      "GlobalEnvironment": {
                        "value": "@pipeline().globalParameters.gbl_param_environment",
                        "type": "Expression"
                      },
                      "DBOwner": {
                        "value": "",
                        "type": "Expression"
                      },
                      "SrcSystem": {
                        "value": "",
                        "type": "Expression"
                      },
                      "TrgtSystem": {
                        "value": "",
                        "type": "Expression"
                      },
                      "SubjCode": {
                        "value": "",
                        "type": "Expression"
                      },
                      "FreqCode": {
                        "value": "",
                        "type": "Expression"
                      },
                      "RunCycle": {
                        "value": "",
                        "type": "Expression"
                      },
                      "secret_name": {
                        "value": "",
                        "type": "Expression"
                      }
                    }
                  }
                },
                {
                  "name": "RptLinkCnt",
                  "type": "DatabricksNotebook",
                  "dependsOn": [
                    {
                      "activity": "CloseRunCycle",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "timeout": "12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "linkedServiceName": {
                    "referenceName": "shareddatabricks",
                    "type": "LinkedServiceReference"
                  },
                  "typeProperties": {
                    "notebookPath": {
                      "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/JobLinkCount')",
                      "type": "Expression"
                    },
                    "baseParameters": {
                      "JobLinkCount_a1": "FctsCustSvcExtr",
                      "JobLinkCount_a2": "CustSvcPK.Merge",
                      "JobLinkCount_a3": "Key",
                      "GlobalEnvironment": {
                        "value": "@pipeline().globalParameters.gbl_param_environment",
                        "type": "Expression"
                      },
                      "file_path": {
                        "value": "",
                        "type": "Expression"
                      },
                      "EnvProjectPath": {
                        "value": "",
                        "type": "Expression"
                      },
                      "delimiter": {
                        "value": "",
                        "type": "Expression"
                      },
                      "quote": {
                        "value": "",
                        "type": "Expression"
                      },
                      "header": {
                        "value": "",
                        "type": "Expression"
                      },
                      "nullValue": {
                        "value": "",
                        "type": "Expression"
                      },
                      "table_nm": {
                        "value": "",
                        "type": "Expression"
                      },
                      "schema": {
                        "value": "",
                        "type": "Expression"
                      },
                      "secret_name": {
                        "value": "",
                        "type": "Expression"
                      }
                    }
                  }
                }
              ]
            }
          ],
          "defaultActivities": [
            {
              "name": "var_If_2A_Continuation_branch_False",
              "type": "SetVariable",
              "dependsOn": [],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "var_If_2A_Continuation_branch_False",
                "value": {
                  "value": "1",
                  "type": "Expression"
                }
              }
            }
          ]
        }
      },
      {
        "name": "RptLinkCnt_Set",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "RptLinkCnt",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "LinkCount",
          "value": {
            "value": "@string(activity('RptLinkCnt').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "If_2B",
        "type": "Switch",
        "dependsOn": [
          {
            "activity": "RptLinkCnt_Set",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "on": {
            "value": "@if(and(not(equals(variables('LinkCount'),'0')), not(contains(variables('ExclusionList'),'ProcessRptExtr'))),'1','0')",
            "type": "Expression"
          },
          "cases": [
            {
              "value": "1",
              "activities": [
                {
                  "name": "var_If_2B_branch_True",
                  "type": "SetVariable",
                  "dependsOn": [],
                  "policy": {
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "variableName": "var_If_2B_branch_True",
                    "value": {
                      "value": "1",
                      "type": "Expression"
                    }
                  }
                },
                {
                  "name": "ProcessRptExtr",
                  "type": "DatabricksNotebook",
                  "dependsOn": [
                    {
                      "activity": "var_If_2B_branch_True",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "timeout": "12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "linkedServiceName": {
                    "referenceName": "shareddatabricks",
                    "type": "LinkedServiceReference"
                  },
                  "typeProperties": {
                    "notebookPath": {
                      "value": "@concat(pipeline().globalParameters.gbl_param_notebook_path,'/util/ProcessRpt/ProcessRptExtr')",
                      "type": "Expression"
                    },
                    "baseParameters": {
                      "RunCycle": {
                        "value": "@variables('RunCycle')",
                        "type": "Expression"
                      },
                      "Subject": {
                        "value": "@variables('Subject')",
                        "type": "Expression"
                      },
                      "SourceSys": {
                        "value": "@variables('Source')",
                        "type": "Expression"
                      },
                      "TargetSys": {
                        "value": "@variables('Target')",
                        "type": "Expression"
                      },
                      "RowCount": {
                        "value": "@variables('LinkCount')",
                        "type": "Expression"
                      },
                      "IDSOwner": {
                        "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                        "type": "Expression"
                      },
                      "ids_secret_name": {
                        "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                        "type": "Expression"
                      },
                      "GlobalEnvironment": {
                        "value": "@pipeline().globalParameters.gbl_param_environment",
                        "type": "Expression"
                      }
                    }
                  }
                }
              ]
            }
          ],
          "defaultActivities": [
            {
              "name": "var_If_2B_branch_False",
              "type": "SetVariable",
              "dependsOn": [],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "var_If_2B_branch_False",
                "value": {
                  "value": "1",
                  "type": "Expression"
                }
              }
            }
          ]
        }
      },
      {
        "name": "If_2B_Continuation",
        "type": "Switch",
        "dependsOn": [
          {
            "activity": "If_2B",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "on": {
            "value": "@if(or(equals(variables('var_If_2B_branch_True'),'1'),equals(variables('var_If_2B_branch_False'),'1')),'1','0')",
            "type": "Expression"
          },
          "cases": [
            {
              "value": "1",
              "activities": [
                {
                  "name": "var_If_2B_Continuation_branch_True",
                  "type": "SetVariable",
                  "dependsOn": [],
                  "policy": {
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "variableName": "var_If_2B_Continuation_branch_True",
                    "value": {
                      "value": "1",
                      "type": "Expression"
                    }
                  }
                }
              ]
            }
          ],
          "defaultActivities": [
            {
              "name": "var_If_2B_Continuation_branch_False",
              "type": "SetVariable",
              "dependsOn": [],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "var_If_2B_Continuation_branch_False",
                "value": {
                  "value": "1",
                  "type": "Expression"
                }
              }
            }
          ]
        }
      }
    ]
  }
}