npw-projects-np-projects-bluekc-translated-66e9366f6cca/Sprint_3_4_5/SequenceJobs/Integrate/FctsIdsCustSvcTaskBalSeq.json
{
  "name": "FctsIdsCustSvcTaskBalSeq",
  "type": "Microsoft.DataFactory/factories/pipelines",
  "properties": {
    "folder": {
      "name": "Integrate/Jobs/CustServ/Seq/Balancing"
    },
    "parameters": {
      "RunID": {
        "type": "String",
        "defaultValue": ""
      },
      "Target": {
        "type": "String",
        "defaultValue": ""
      },
      "Subject": {
        "type": "String",
        "defaultValue": ""
      },
      "ExtrRunCycle": {
        "type": "String",
        "defaultValue": ""
      },
      "Frequency": {
        "type": "String",
        "defaultValue": ""
      },
      "Source": {
        "type": "String",
        "defaultValue": ""
      },
      "CurrDate": {
        "type": "String",
        "defaultValue": ""
      },
      "Table": {
        "type": "String",
        "defaultValue": ""
      },
      "SnpshtTbl": {
        "type": "String",
        "defaultValue": ""
      }
    },
    "variables": {
      "Target_Count": {
        "type": "String",
        "defaultValue": ""
      },
      "Source_Count": {
        "type": "String",
        "defaultValue": ""
      },
      "Tolerance_Multiplier": {
        "type": "String",
        "defaultValue": ""
      },
      "Difference_Count": {
        "type": "String",
        "defaultValue": ""
      },
      "Tolerance_Amount": {
        "type": "String",
        "defaultValue": ""
      },
      "Balance_Status": {
        "type": "String",
        "defaultValue": ""
      },
      "LinkCount": {
        "type": "String",
        "defaultValue": ""
      }
    },
    "activities": [
      {
        "name": "GetTrgtCount",
        "type": "DatabricksNotebook",
        "dependsOn": [],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/GetTrgtCount')",
            "type": "Expression"
          },
          "baseParameters": {
            "owner_schema": {
              "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
              "type": "Expression"
            },
            "secret_name": {
              "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
              "type": "Expression"
            },
            "GlobalEnvironment": {
              "value": "@pipeline().globalParameters.gbl_param_environment",
              "type": "Expression"
            },
            "GetTrgtCount_a1": {
              "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
              "type": "Expression"
            },
            "GetTrgtCount_a2": {
              "value": "@pipeline().parameters.Table",
              "type": "Expression"
            },
            "GetTrgtCount_a3": {
              "value": "@pipeline().parameters.ExtrRunCycle",
              "type": "Expression"
            },
            "table_name": {
              "value": "",
              "type": "Expression"
            },
            "extr_run_cycle": {
              "value": "",
              "type": "Expression"
            },
            "project": {
              "value": "",
              "type": "Expression"
            }
          }
        },
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        }
      },
      {
        "name": "SetTarget_Count",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "GetTrgtCount",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "Target_Count",
          "value": {
            "value": "@string(activity('GetTrgtCount').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "GetSrcCount",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "SetTarget_Count",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/GetSrcCount')",
            "type": "Expression"
          },
          "baseParameters": {
            "owner_schema": {
              "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
              "type": "Expression"
            },
            "secret_name": {
              "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
              "type": "Expression"
            },
            "GlobalEnvironment": {
              "value": "@pipeline().globalParameters.gbl_param_environment",
              "type": "Expression"
            },
            "GetSrcCount_a1": {
              "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
              "type": "Expression"
            },
            "snpsht_tbl": {
              "value": "@pipeline().parameters.SnpshtTbl",
              "type": "Expression"
            }
          }
        },
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        }
      },
      {
        "name": "SetSource_Count",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "GetSrcCount",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "Source_Count",
          "value": {
            "value": "@string(activity('GetSrcCount').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "GetRowCtTlrnc",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "SetSource_Count",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/GetRowCtTlrnc')",
            "type": "Expression"
          },
          "baseParameters": {
            "owner_schema": {
              "value": "@pipeline().globalParameters.gbl_param_UWSOwner",
              "type": "Expression"
            },
            "secret_name": {
              "value": "@pipeline().globalParameters.gbl_param_UWSSecret",
              "type": "Expression"
            },
            "GlobalEnvironment": {
              "value": "@pipeline().globalParameters.gbl_param_environment",
              "type": "Expression"
            },
            "GetRowCtTlrnc_a1": {
              "value": "@pipeline().globalParameters.gbl_param_UWSOwner",
              "type": "Expression"
            },
            "GetRowCtTlrnc_a2": {
              "value": "@pipeline().parameters.Table",
              "type": "Expression"
            },
            "GetRowCtTlrnc_a3": {
              "value": "@pipeline().parameters.Subject",
              "type": "Expression"
            },
            "TargetTable": {
              "value": "",
              "type": "Expression"
            },
            "SubjectArea": {
              "value": "",
              "type": "Expression"
            }
          }
        },
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        }
      },
      {
        "name": "SetTolerance_Multiplier",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "GetRowCtTlrnc",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "Tolerance_Multiplier",
          "value": {
            "value": "@string(activity('GetRowCtTlrnc').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "SetDifference_Count",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "SetTolerance_Multiplier",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "Difference_Count",
          "value": {
            "value": "@string(sub(int(variables('Source_Count')), int(variables('Target_Count'))))",
            "type": "Expression"
          }
        }
      },
      {
        "name": "SetTolerance_Amount",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "SetDifference_Count",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "Tolerance_Amount",
          "value": {
            "value": "@string(mul(int(variables('Source_Count')), float(variables('Tolerance_Multiplier'))))",
            "type": "Expression"
          }
        }
      },
      {
        "name": "GetBalStatus",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "SetTolerance_Amount",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/GetBalStatus')",
            "type": "Expression"
          },
          "baseParameters": {
            "GlobalEnvironment": {
              "value": "@pipeline().globalParameters.gbl_param_environment",
              "type": "Expression"
            },
            "Difference_Count": {
              "value": "@variables('Difference_Count')",
              "type": "Expression"
            },
            "Tolerance_Amount": {
              "value": "@variables('Tolerance_Amount')",
              "type": "Expression"
            }
          }
        },
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        }
      },
      {
        "name": "SetBalance_Status",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "GetBalStatus",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "Balance_Status",
          "value": {
            "value": "@string(activity('GetBalStatus').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "If_1C",
        "type": "IfCondition",
        "dependsOn": [
          {
            "activity": "SetBalance_Status",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "expression": {
            "value": "@not(equals(int(variables('Difference_Count')), 0))",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "name": "FctsIdsCustSvcTaskBal",
              "type": "DatabricksNotebook",
              "userProperties": [],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_notebook_path, '/CustServ/CustSvcTask/Balancing/FctsIdsCustSvcTaskBal')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "IDSOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "ids_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                    "type": "Expression"
                  },
                  "GlobalEnvironment": {
                    "value": "@pipeline().globalParameters.gbl_param_environment",
                    "type": "Expression"
                  },
                  "RunID": {
                    "value": "@pipeline().parameters.RunID",
                    "type": "Expression"
                  },
                  "ToleranceCd": {
                    "value": "@variables('Balance_Status')",
                    "type": "Expression"
                  },
                  "ExtrRunCycle": {
                    "value": "@pipeline().parameters.ExtrRunCycle",
                    "type": "Expression"
                  }
                }
              },
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              }
            }
          ],
          "ifFalseActivities": []
        }
      },
      {
        "name": "WriteRowCount",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "If_1C",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/RowCtDtlLoad')",
            "type": "Expression"
          },
          "baseParameters": {
            "owner_schema": {
              "value": "@pipeline().globalParameters.gbl_param_UWSOwner",
              "type": "Expression"
            },
            "secret_name": {
              "value": "@pipeline().globalParameters.gbl_param_UWSSecret",
              "type": "Expression"
            },
            "GlobalEnvironment": {
              "value": "@pipeline().globalParameters.gbl_param_environment",
              "type": "Expression"
            },
            "SrcSystem": {
              "value": "@pipeline().parameters.Source",
              "type": "Expression"
            },
            "TrgtSystem": {
              "value": "@pipeline().parameters.Target",
              "type": "Expression"
            },
            "SubjArea": {
              "value": "@pipeline().parameters.Subject",
              "type": "Expression"
            },
            "TrgtTbl": {
              "value": "@pipeline().parameters.Table",
              "type": "Expression"
            },
            "TrgtCount": {
              "value": "@variables('Target_Count')",
              "type": "Expression"
            },
            "SrcCount": {
              "value": "@variables('Source_Count')",
              "type": "Expression"
            },
            "Diff": {
              "value": "@variables('Difference_Count')",
              "type": "Expression"
            },
            "TlrncCode": {
              "value": "@variables('Balance_Status')",
              "type": "Expression"
            },
            "TlrncAmt": {
              "value": "@variables('Tolerance_Amount')",
              "type": "Expression"
            },
            "TlrncMul": {
              "value": "@variables('Tolerance_Multiplier')",
              "type": "Expression"
            },
            "FreqCode": {
              "value": "@pipeline().parameters.Frequency",
              "type": "Expression"
            },
            "RunCycle": {
              "value": "@pipeline().parameters.ExtrRunCycle",
              "type": "Expression"
            },
            "CrctnNote": {
              "value": "",
              "type": "Expression"
            }
          }
        },
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        }
      },
      {
        "name": "WriteTableSummary",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "If_1C",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/TblBalSumLoad')",
            "type": "Expression"
          },
          "baseParameters": {
            "owner_schema": {
              "value": "@pipeline().globalParameters.gbl_param_UWSOwner",
              "type": "Expression"
            },
            "secret_name": {
              "value": "@pipeline().globalParameters.gbl_param_UWSSecret",
              "type": "Expression"
            },
            "GlobalEnvironment": {
              "value": "@pipeline().globalParameters.gbl_param_environment",
              "type": "Expression"
            },
            "TrgtSystem": {
              "value": "@pipeline().parameters.Target",
              "type": "Expression"
            },
            "SubjArea": {
              "value": "@pipeline().parameters.Subject",
              "type": "Expression"
            },
            "TrgtTbl": {
              "value": "@pipeline().parameters.Table",
              "type": "Expression"
            },
            "BalDtm": {
              "value": "@pipeline().parameters.CurrDate",
              "type": "Expression"
            },
            "RowCtTlrncCode": {
              "value": "@variables('Balance_Status')",
              "type": "Expression"
            },
            "ClmnSumTlrncCode": "NA",
            "RowTorRowTlrncCode": "NA",
            "RiTlrncCode": "NA",
            "RelshpClmnSumTlrncCode": "NA",
            "CrsFootTlrncCode": "NA",
            "HistRsnblTlrncCode": "NA",
            "RunCycle": {
              "value": "@pipeline().parameters.ExtrRunCycle",
              "type": "Expression"
            }
          }
        },
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        }
      }
    ]
  }
}