npw-projects-np-projects-bluekc-translated-66e9366f6cca/Sprint_3_4_5/SequenceJobs/Integrate/FctsMbrAccumExtrSeq.json
{
  "name": "FctsMbrAccumExtrSeq",
  "type": "Microsoft.DataFactory/factories/pipelines",
  "properties": {
    "folder": {
      "name": "Integrate/Jobs/member/Seq/Accumulators"
    },
    "parameters": {
      "BeginDate": {
        "type": "String",
        "defaultValue": ""
      },
      "EndDate": {
        "type": "String",
        "defaultValue": ""
      },
      "ExclusionList": {
        "type": "String",
        "defaultValue": "\"\""
      },
      "RunCycle": {
        "type": "String",
        "defaultValue": ""
      },
      "RunID": {
        "type": "String",
        "defaultValue": ""
      },
      "TmpTblRunID": {
        "type": "String",
        "defaultValue": ""
      },
      "CurrDate": {
        "type": "String",
        "defaultValue": ""
      },
      "SrcSysCd": {
        "type": "String",
        "defaultValue": ""
      },
      "SrcSysCdSk": {
        "type": "String",
        "defaultValue": ""
      },
      "SubPcaFullDrvr": {
        "type": "String",
        "defaultValue": "NO"
      },
      "MbrAccumFullDrvr": {
        "type": "String",
        "defaultValue": "NO"
      },
      "FmlyAccumFullDrvr": {
        "type": "String",
        "defaultValue": "NO"
      },
      "TableTimeStamp": {
        "type": "String",
        "defaultValue": ""
      },
      "LastRunDateTime": {
        "type": "String",
        "defaultValue": ""
      }
    },
    "variables": {
      "var_If_MbrAccum_branch": {
        "type": "String",
        "defaultValue": ""
      },
      "var_MA_Driver_branch": {
        "type": "String",
        "defaultValue": ""
      },
      "var_MA_Driver_Continuation_branch": {
        "type": "String",
        "defaultValue": ""
      },
      "var_If_FmlyAccum_branch": {
        "type": "String",
        "defaultValue": ""
      },
      "var_FA_Driver_branch": {
        "type": "String",
        "defaultValue": ""
      },
      "var_FA_Driver_Continuation_branch": {
        "type": "String",
        "defaultValue": ""
      },
      "var_If_Sub_PCA_branch": {
        "type": "String",
        "defaultValue": ""
      },
      "var_SP_Driver_branch": {
        "type": "String",
        "defaultValue": ""
      },
      "FctsSubPcaDrvrCnt": {
        "type": "String",
        "defaultValue": ""
      },
      "var_If_MbrDntlAccum_branch": {
        "type": "String",
        "defaultValue": ""
      },
      "LinkCount": {
        "type": "String",
        "defaultValue": ""
      }
    },
    "activities": [
      {
        "name": "If_MbrAccum",
        "type": "Switch",
        "dependsOn": [],
        "userProperties": [],
        "typeProperties": {
          "on": {
            "type": "Expression",
            "value": "@if(equals(count(split(pipeline().parameters.ExclusionList,'FctsMbrAccumDrvrTblCreate')),0),'1','0')"
          },
          "cases": [
            {
              "value": "1",
              "activities": [
                {
                  "name": "set_var_If_MbrAccum_branch_true",
                  "type": "SetVariable",
                  "dependsOn": [],
                  "policy": {
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "variableName": "var_If_MbrAccum_branch",
                    "value": {
                      "type": "Expression",
                      "value": "@string(1)"
                    }
                  }
                },
                {
                  "name": "FctsMbrAccumDrvrTblCreate",
                  "type": "ExecutePipeline",
                  "dependsOn": [
                    {
                      "activity": "set_var_If_MbrAccum_branch_true",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "userProperties": [],
                  "policy": {
                    "secureInput": false
                  },
                  "typeProperties": {
                    "pipeline": "SQLQueryCmd",
                    "waitOnCompletion": true,
                    "parameters": {
                      "FacetsOwner": {
                        "value": "@pipeline().globalParameters.gbl_param_FacetsOwner",
                        "type": "Expression"
                      },
                      "Command1": "DROP TABLE IF EXISTS tempdb..TMP_PROD_CDC_MA_DRVR",
                      "Command2": "CREATE TABLE tempdb..TMP_PROD_CDC_MA_DRVR(MEME_CK INTEGER, CONSTRAINT MBRACCUM001 PRIMARY KEY NONCLUSTERED (MEME_CK))"
                    }
                  }
                },
                {
                  "name": "FctsMbrAccumHitDrvrTblCreate",
                  "type": "ExecutePipeline",
                  "dependsOn": [
                    {
                      "activity": "FctsMbrAccumDrvrTblCreate",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "userProperties": [],
                  "policy": {
                    "secureInput": false
                  },
                  "typeProperties": {
                    "pipeline": "SQLQueryCmd",
                    "waitOnCompletion": true,
                    "parameters": {
                      "FacetsOwner": {
                        "value": "@pipeline().globalParameters.gbl_param_FacetsOwner",
                        "type": "Expression"
                      },
                      "Command1": "DROP TABLE IF EXISTS tempdb..TMP_PROD_CDC_MA_HITDRV",
                      "Command2": "CREATE TABLE tempdb..TMP_PROD_CDC_MA_HITDRV(MEME_CK INTEGER, CONSTRAINT MBRACCUM002 PRIMARY KEY NONCLUSTERED (MEME_CK))"
                    }
                  }
                }
              ]
            }
          ],
          "defaultActivities": [
            {
              "name": "set_var_If_MbrAccum_branch_false",
              "type": "SetVariable",
              "dependsOn": [],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "var_If_MbrAccum_branch",
                "value": {
                  "type": "Expression",
                  "value": "@string(0)"
                }
              }
            }
          ]
        }
      },
      {
        "name": "MA_Driver",
        "type": "Switch",
        "dependsOn": [
          {
            "activity": "If_MbrAccum",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "on": {
            "type": "Expression",
            "value": "@if(and(equals(variables('var_If_MbrAccum_branch'),'1'),equals(pipeline().parameters.MbrAccumFullDrvr,'NO')),'1','0')"
          },
          "cases": [
            {
              "value": "1",
              "activities": [
                {
                  "name": "set_var_MA_Driver_branch_true",
                  "type": "SetVariable",
                  "dependsOn": [],
                  "policy": {
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "variableName": "var_MA_Driver_branch",
                    "value": {
                      "type": "Expression",
                      "value": "@string(1)"
                    }
                  }
                },
                {
                  "name": "FctsMbrAccumDrvrAllExtr",
                  "type": "DatabricksNotebook",
                  "dependsOn": [
                    {
                      "activity": "set_var_MA_Driver_branch_true",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "timeout": "12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "linkedServiceName": {
                    "referenceName": "shareddatabricks",
                    "type": "LinkedServiceReference"
                  },
                  "typeProperties": {
                    "notebookPath": {
                      "type": "Expression",
                      "value": "@concat(pipeline().globalParameters.gbl_param_notebook_path,'/member/Accum/MbrAccumulators/FctsMbrAccumDrvrAllExtr')"
                    },
                    "baseParameters": {
                      "CurrRunCycle": {
                        "value": "@pipeline().parameters.RunCycle"
                      },
                      "RunID": {
                        "value": "@pipeline().parameters.RunID"
                      },
                      "CurrDate": {
                        "value": "@pipeline().parameters.CurrDate"
                      },
                      "SrcSysCdSk": {
                        "value": "@pipeline().parameters.SrcSysCdSk"
                      },
                      "TableTimestamp": {
                        "value": "@pipeline().parameters.TableTimeStamp"
                      },
                      "FacetsOwner": {
                        "value": "@pipeline().globalParameters.gbl_param_FacetsOwner",
                        "type": "Expression"
                      }
                    }
                  }
                }
              ]
            }
          ],
          "defaultActivities": [
            {
              "name": "set_var_MA_Driver_branch_false",
              "type": "SetVariable",
              "dependsOn": [],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "var_MA_Driver_branch",
                "value": {
                  "type": "Expression",
                  "value": "@string(0)"
                }
              }
            }
          ]
        }
      },
      {
        "name": "MA_Driver_Continuation",
        "type": "Switch",
        "dependsOn": [
          {
            "activity": "MA_Driver",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "on": {
            "type": "Expression",
            "value": "@if(and(equals(variables('var_If_MbrAccum_branch'),'1'),equals(variables('var_MA_Driver_branch'),'1')),'1','0')"
          },
          "cases": [
            {
              "value": "1",
              "activities": [
                {
                  "name": "set_var_MA_Driver_Continuation_branch_true",
                  "type": "SetVariable",
                  "dependsOn": [],
                  "policy": {
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "variableName": "var_MA_Driver_Continuation_branch",
                    "value": {
                      "type": "Expression",
                      "value": "@string(1)"
                    }
                  }
                },
                {
                  "name": "FctsMbrAccumExtr",
                  "type": "DatabricksNotebook",
                  "dependsOn": [
                    {
                      "activity": "set_var_MA_Driver_Continuation_branch_true",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "timeout": "12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "linkedServiceName": {
                    "referenceName": "shareddatabricks",
                    "type": "LinkedServiceReference"
                  },
                  "typeProperties": {
                    "notebookPath": {
                      "type": "Expression",
                      "value": "@concat(pipeline().globalParameters.gbl_param_notebook_path,'/member/Accum/MbrAccumulators/FctsMbrAccumExtr')"
                    },
                    "baseParameters": {
                      "IDSOwner": {
                        "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                        "type": "Expression"
                      },
                      "CurrRunCycle": {
                        "value": "@pipeline().parameters.RunCycle"
                      },
                      "RunID": {
                        "value": "@pipeline().parameters.RunID"
                      },
                      "TmpTblRunID": {
                        "value": "@pipeline().parameters.TmpTblRunID"
                      },
                      "FacetsOwner": {
                        "value": "@pipeline().globalParameters.gbl_param_FacetsOwner",
                        "type": "Expression"
                      },
                      "CurrDate": {
                        "value": "@pipeline().parameters.CurrDate"
                      },
                      "SrcSysCd": {
                        "value": "@pipeline().parameters.SrcSysCd"
                      },
                      "SrcSysCdSk": {
                        "value": "@pipeline().parameters.SrcSysCdSk"
                      },
                      "BCBSOwner": {
                        "value": "@pipeline().globalParameters.gbl_param_BCBSOwner",
                        "type": "Expression"
                      },
                      "LastRunDateTime": {
                        "value": "@pipeline().parameters.LastRunDateTime"
                      }
                    }
                  }
                }
              ]
            }
          ],
          "defaultActivities": [
            {
              "name": "set_var_MA_Driver_Continuation_branch_false",
              "type": "SetVariable",
              "dependsOn": [],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "var_MA_Driver_Continuation_branch",
                "value": {
                  "type": "Expression",
                  "value": "@string(0)"
                }
              }
            }
          ]
        }
      },
      {
        "name": "If_FmlyAccum",
        "type": "Switch",
        "dependsOn": [
          {
            "activity": "MA_Driver_Continuation",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "on": {
            "type": "Expression",
            "value": "@if(equals(count(split(pipeline().parameters.ExclusionList,'FctsFmlyAccumDrvrTblCreate')),0),'1','0')"
          },
          "cases": [
            {
              "value": "1",
              "activities": [
                {
                  "name": "set_var_If_FmlyAccum_branch_true",
                  "type": "SetVariable",
                  "dependsOn": [],
                  "policy": {
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "variableName": "var_If_FmlyAccum_branch",
                    "value": {
                      "type": "Expression",
                      "value": "@string(1)"
                    }
                  }
                },
                {
                  "name": "FctsFmlyAccumDrvrTblCreate",
                  "type": "ExecutePipeline",
                  "dependsOn": [
                    {
                      "activity": "set_var_If_FmlyAccum_branch_true",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "userProperties": [],
                  "policy": {
                    "secureInput": false
                  },
                  "typeProperties": {
                    "pipeline": "SQLQueryCmd",
                    "waitOnCompletion": true,
                    "parameters": {
                      "FacetsOwner": {
                        "value": "@pipeline().globalParameters.gbl_param_FacetsOwner",
                        "type": "Expression"
                      },
                      "Command1": "DROP TABLE IF EXISTS tempdb..TMP_PROD_CDC_FA_DRVR",
                      "Command2": "CREATE TABLE tempdb..TMP_PROD_CDC_FA_DRVR(SBSB_CK INTEGER, CONSTRAINT FMLYACCUM001   PRIMARY KEY NONCLUSTERED (SBSB_CK))"
                    }
                  }
                },
                {
                  "name": "FctsFmlyAccumHitDrvrTblCreate",
                  "type": "ExecutePipeline",
                  "dependsOn": [
                    {
                      "activity": "FctsFmlyAccumDrvrTblCreate",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "userProperties": [],
                  "policy": {
                    "secureInput": false
                  },
                  "typeProperties": {
                    "pipeline": "SQLQueryCmd",
                    "waitOnCompletion": true,
                    "parameters": {
                      "FacetsOwner": {
                        "value": "@pipeline().globalParameters.gbl_param_FacetsOwner",
                        "type": "Expression"
                      },
                      "Command1": "DROP TABLE IF EXISTS tempdb..TMP_PROD_CDC_FA_HITDRV",
                      "Command2": "CREATE TABLE tempdb..TMP_PROD_CDC_FA_HITDRV(MEME_CK INTEGER, CONSTRAINT FMLYACCUM002 PRIMARY KEY NONCLUSTERED (MEME_CK))"
                    }
                  }
                }
              ]
            }
          ],
          "defaultActivities": [
            {
              "name": "set_var_If_FmlyAccum_branch_false",
              "type": "SetVariable",
              "dependsOn": [],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "var_If_FmlyAccum_branch",
                "value": {
                  "type": "Expression",
                  "value": "@string(0)"
                }
              }
            }
          ]
        }
      },
      {
        "name": "FA_Driver",
        "type": "Switch",
        "dependsOn": [
          {
            "activity": "If_FmlyAccum",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "on": {
            "type": "Expression",
            "value": "@if(and(equals(variables('var_If_FmlyAccum_branch'),'1'),equals(pipeline().parameters.FmlyAccumFullDrvr,'NO')),'1','0')"
          },
          "cases": [
            {
              "value": "1",
              "activities": [
                {
                  "name": "set_var_FA_Driver_branch_true",
                  "type": "SetVariable",
                  "dependsOn": [],
                  "policy": {
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "variableName": "var_FA_Driver_branch",
                    "value": {
                      "type": "Expression",
                      "value": "@string(1)"
                    }
                  }
                },
                {
                  "name": "FctsFmlyAccumDrvrAllExtr",
                  "type": "DatabricksNotebook",
                  "dependsOn": [
                    {
                      "activity": "set_var_FA_Driver_branch_true",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "timeout": "12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "linkedServiceName": {
                    "referenceName": "shareddatabricks",
                    "type": "LinkedServiceReference"
                  },
                  "typeProperties": {
                    "notebookPath": {
                      "type": "Expression",
                      "value": "@concat(pipeline().globalParameters.gbl_param_notebook_path,'/member/Accum/FamilyAccumulators/FctsFmlyAccumDrvrAllExtr')"
                    },
                    "baseParameters": {
                      "CurrRunCycle": {
                        "value": "@pipeline().parameters.RunCycle"
                      },
                      "RunID": {
                        "value": "@pipeline().parameters.RunID"
                      },
                      "CurrDate": {
                        "value": "@pipeline().parameters.CurrDate"
                      },
                      "SrcSysCdSk": {
                        "value": "@pipeline().parameters.SrcSysCdSk"
                      },
                      "TableTimestamp": {
                        "value": "@pipeline().parameters.TmpTblRunID"
                      },
                      "FacetsOwner": {
                        "value": "@pipeline().globalParameters.gbl_param_FacetsOwner",
                        "type": "Expression"
                      }
                    }
                  }
                }
              ]
            }
          ],
          "defaultActivities": [
            {
              "name": "set_var_FA_Driver_branch_false",
              "type": "SetVariable",
              "dependsOn": [],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "var_FA_Driver_branch",
                "value": {
                  "type": "Expression",
                  "value": "@string(0)"
                }
              }
            }
          ]
        }
      },
      {
        "name": "FA_Driver_Continuation",
        "type": "Switch",
        "dependsOn": [
          {
            "activity": "FA_Driver",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "on": {
            "type": "Expression",
            "value": "@if(and(equals(variables('var_If_FmlyAccum_branch'),'1'),equals(variables('var_FA_Driver_branch'),'1')),'1','0')"
          },
          "cases": [
            {
              "value": "1",
              "activities": [
                {
                  "name": "set_var_FA_Driver_Continuation_branch_true",
                  "type": "SetVariable",
                  "dependsOn": [],
                  "policy": {
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "variableName": "var_FA_Driver_Continuation_branch",
                    "value": {
                      "type": "Expression",
                      "value": "@string(1)"
                    }
                  }
                },
                {
                  "name": "FctsFmlyAccumExtr",
                  "type": "DatabricksNotebook",
                  "dependsOn": [
                    {
                      "activity": "set_var_FA_Driver_Continuation_branch_true",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "timeout": "12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "linkedServiceName": {
                    "referenceName": "shareddatabricks",
                    "type": "LinkedServiceReference"
                  },
                  "typeProperties": {
                    "notebookPath": {
                      "type": "Expression",
                      "value": "@concat(pipeline().globalParameters.gbl_param_notebook_path,'/member/Accum/FamilyAccumulators/FctsFmlyAccumExtr')"
                    },
                    "baseParameters": {
                      "IDSOwner": {
                        "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                        "type": "Expression"
                      },
                      "CurrRunCycle": {
                        "value": "@pipeline().parameters.RunCycle"
                      },
                      "RunID": {
                        "value": "@pipeline().parameters.RunID"
                      },
                      "TmpTblRunID": {
                        "value": "@pipeline().parameters.TmpTblRunID"
                      },
                      "FacetsOwner": {
                        "value": "@pipeline().globalParameters.gbl_param_FacetsOwner",
                        "type": "Expression"
                      },
                      "CurrDate": {
                        "value": "@pipeline().parameters.CurrDate"
                      },
                      "SrcSysCd": {
                        "value": "@pipeline().parameters.SrcSysCd"
                      },
                      "SrcSysCdSk": {
                        "value": "@pipeline().parameters.SrcSysCdSk"
                      },
                      "BCBSOwner": {
                        "value": "@pipeline().globalParameters.gbl_param_BCBSOwner",
                        "type": "Expression"
                      },
                      "LastRunDateTime": {
                        "value": "@pipeline().parameters.LastRunDateTime"
                      }
                    }
                  }
                }
              ]
            }
          ],
          "defaultActivities": [
            {
              "name": "set_var_FA_Driver_Continuation_branch_false",
              "type": "SetVariable",
              "dependsOn": [],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "var_FA_Driver_Continuation_branch",
                "value": {
                  "type": "Expression",
                  "value": "@string(0)"
                }
              }
            }
          ]
        }
      },
      {
        "name": "If_Sub_PCA",
        "type": "Switch",
        "dependsOn": [
          {
            "activity": "FA_Driver_Continuation",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "on": {
            "type": "Expression",
            "value": "@if(equals(count(split(pipeline().parameters.ExclusionList,'FctsSubPcaDrvrTblCreate')),0),'1','0')"
          },
          "cases": [
            {
              "value": "1",
              "activities": [
                {
                  "name": "set_var_If_Sub_PCA_branch_true",
                  "type": "SetVariable",
                  "dependsOn": [],
                  "policy": {
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "variableName": "var_If_Sub_PCA_branch",
                    "value": {
                      "type": "Expression",
                      "value": "@string(1)"
                    }
                  }
                },
                {
                  "name": "FctsSubPcaDrvrTblCreate",
                  "type": "ExecutePipeline",
                  "dependsOn": [
                    {
                      "activity": "set_var_If_Sub_PCA_branch_true",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "userProperties": [],
                  "policy": {
                    "secureInput": false
                  },
                  "typeProperties": {
                    "pipeline": "SQLQueryCmd",
                    "waitOnCompletion": true,
                    "parameters": {
                      "FacetsOwner": {
                        "value": "@pipeline().globalParameters.gbl_param_FacetsOwner",
                        "type": "Expression"
                      },
                      "Command1": "DROP TABLE IF EXISTS tempdb..TMP_PROD_CDC_SP_DRVR",
                      "Command2": "CREATE TABLE tempdb..TMP_PROD_CDC_SP_DRVR(SBSB_CK INTEGER, HSAI_ACC_SFX CHAR(4), SBHS_PLAN_YR_DT DATETIME, SBHS_EFF_DT DATETIME, OP CHAR(1), CONSTRAINT SUBPCA001 PRIMARY KEY NONCLUSTERED (SBSB_CK, HSAI_ACC_SFX, SBHS_PLAN_YR_DT, SBHS_EFF_DT))"
                    }
                  }
                },
                {
                  "name": "FctsSubPcaHitDrvrTblCreate",
                  "type": "ExecutePipeline",
                  "dependsOn": [
                    {
                      "activity": "FctsSubPcaDrvrTblCreate",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "userProperties": [],
                  "policy": {
                    "secureInput": false
                  },
                  "typeProperties": {
                    "pipeline": "SQLQueryCmd",
                    "waitOnCompletion": true,
                    "parameters": {
                      "FacetsOwner": {
                        "value": "@pipeline().globalParameters.gbl_param_FacetsOwner",
                        "type": "Expression"
                      },
                      "Command1": "DROP TABLE IF EXISTS tempdb..TMP_PROD_CDC_SP_HITDRV",
                      "Command2": "CREATE TABLE tempdb..TMP_PROD_CDC_SP_HITDRV(MEME_CK INTEGER, CONSTRAINT SUBPCA002 PRIMARY KEY NONCLUSTERED (MEME_CK))"
                    }
                  }
                }
              ]
            }
          ],
          "defaultActivities": [
            {
              "name": "set_var_If_Sub_PCA_branch_false",
              "type": "SetVariable",
              "dependsOn": [],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "var_If_Sub_PCA_branch",
                "value": {
                  "type": "Expression",
                  "value": "@string(0)"
                }
              }
            }
          ]
        }
      },
      {
        "name": "SP_Driver",
        "type": "Switch",
        "dependsOn": [
          {
            "activity": "If_Sub_PCA",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "on": {
            "type": "Expression",
            "value": "@if(and(equals(variables('var_If_Sub_PCA_branch'),'1'),equals(pipeline().parameters.SubPcaFullDrvr,'NO')),'1','0')"
          },
          "cases": [
            {
              "value": "1",
              "activities": [
                {
                  "name": "set_var_SP_Driver_branch_true",
                  "type": "SetVariable",
                  "dependsOn": [],
                  "policy": {
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "variableName": "var_SP_Driver_branch",
                    "value": {
                      "type": "Expression",
                      "value": "@string(1)"
                    }
                  }
                },
                {
                  "name": "FctsSubPcaDrvrExtr",
                  "type": "DatabricksNotebook",
                  "dependsOn": [
                    {
                      "activity": "set_var_SP_Driver_branch_true",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "timeout": "12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "linkedServiceName": {
                    "referenceName": "shareddatabricks",
                    "type": "LinkedServiceReference"
                  },
                  "typeProperties": {
                    "notebookPath": {
                      "type": "Expression",
                      "value": "@concat(pipeline().globalParameters.gbl_param_notebook_path,'/member/SubPca/FctsSubPcaDrvrExtr')"
                    },
                    "baseParameters": {
                      "TableTimestamp": {
                        "value": "@pipeline().parameters.TableTimeStamp"
                      },
                      "RunID": {
                        "value": "@pipeline().parameters.RunID"
                      },
                      "SrcSysCd": {
                        "value": "@pipeline().parameters.SrcSysCd"
                      },
                      "SrcSycCdSk": {
                        "value": "@pipeline().parameters.SrcSysCdSk"
                      },
                      "FctsCdcID": {
                        "value": "@pipeline().globalParameters.gbl_param_FctsCdcID",
                        "type": "Expression"
                      },
                      "FctsCdcOwner": {
                        "value": "@pipeline().globalParameters.gbl_param_FctsCdcOwner",
                        "type": "Expression"
                      },
                      "FacetsOwner": {
                        "value": "@pipeline().globalParameters.gbl_param_FacetsOwner",
                        "type": "Expression"
                      },
                      "IDSOwner": {
                        "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                        "type": "Expression"
                      },
                      "CurrYear": {
                        "value": "@substring(pipeline().parameters.CurrDate,0,4)"
                      },
                      "FctsCdcOriginID": {
                        "value": "@pipeline().globalParameters.gbl_param_FctsCdcOriginID",
                        "type": "Expression"
                      }
                    }
                  }
                },
                {
                  "name": "FctsSubPcaDrvrAllExtr",
                  "type": "DatabricksNotebook",
                  "dependsOn": [
                    {
                      "activity": "FctsSubPcaDrvrExtr",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "timeout": "12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "linkedServiceName": {
                    "referenceName": "shareddatabricks",
                    "type": "LinkedServiceReference"
                  },
                  "typeProperties": {
                    "notebookPath": {
                      "type": "Expression",
                      "value": "@concat(pipeline().globalParameters.gbl_param_notebook_path,'/member/SubPca/FctsSubPcaDrvrAllExtr')"
                    },
                    "baseParameters": {
                      "CurrRunCycle": {
                        "value": "@pipeline().parameters.RunCycle"
                      },
                      "RunID": {
                        "value": "@pipeline().parameters.RunID"
                      },
                      "CurrDate": {
                        "value": "@pipeline().parameters.CurrDate"
                      },
                      "SrcSysCdSk": {
                        "value": "@pipeline().parameters.SrcSysCdSk"
                      },
                      "TableTimestamp": {
                        "value": "@pipeline().parameters.TableTimeStamp"
                      },
                      "FacetsOwner": {
                        "value": "@pipeline().globalParameters.gbl_param_FacetsOwner",
                        "type": "Expression"
                      }
                    }
                  }
                }
              ]
            }
          ],
          "defaultActivities": [
            {
              "name": "set_var_SP_Driver_branch_false",
              "type": "SetVariable",
              "dependsOn": [],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "var_SP_Driver_branch",
                "value": {
                  "type": "Expression",
                  "value": "@string(0)"
                }
              }
            }
          ]
        }
      },
      {
        "name": "If_MbrDntlAccum",
        "type": "IfCondition",
        "dependsOn": [
          {
            "activity": "SP_Driver",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "expression": {
            "type": "Expression",
            "value": "@equals(count(split(pipeline().parameters.ExclusionList,'FctsIdsMbrDntlRwrdAccumExtr')),0)"
          },
          "ifTrueActivities": [
            {
              "name": "set_var_If_MbrDntlAccum_branch_true",
              "type": "SetVariable",
              "dependsOn": [],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "var_If_MbrDntlAccum_branch",
                "value": {
                  "type": "Expression",
                  "value": "@string(1)"
                }
              }
            },
            {
              "name": "FctsIdsMbrDntlRwrdAccumExtr",
              "type": "ExecutePipeline",
              "dependsOn": [
                {
                  "activity": "set_var_If_MbrDntlAccum_branch_true",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "userProperties": [],
              "policy": {
                "secureInput": false
              },
              "typeProperties": {
                "pipeline": "FctsIdsMbrDntlRwrdAccumExtr",
                "waitOnCompletion": true,
                "parameters": {
                  "BCBSOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_BCBSOwner",
                    "type": "Expression"
                  },
                  "FacetsOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_FacetsOwner",
                    "type": "Expression"
                  },
                  "RunID": {
                    "value": "@pipeline().parameters.RunID"
                  }
                }
              }
            },
            {
              "name": "FctsIdsMbrDntlRwrdAccumXfrm",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "FctsIdsMbrDntlRwrdAccumExtr",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": {
                  "type": "Expression",
                  "value": "@concat(pipeline().globalParameters.gbl_param_notebook_path,'/DataWarehouse/Member/IDSLoads/Accum/DntlAccumulators/FctsIdsMbrDntlRwrdAccumXfrm')"
                },
                "baseParameters": {
                  "IDSOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "RunID": {
                    "value": "@pipeline().parameters.RunID"
                  },
                  "RunDate": {
                    "value": "@pipeline().parameters.CurrDate"
                  },
                  "SrcSysCd": {
                    "value": "@pipeline().parameters.SrcSysCd"
                  },
                  "SrcSysCdSk": {
                    "value": "@pipeline().parameters.SrcSysCdSk"
                  },
                  "RunIDTimeStamp": {
                    "value": "@pipeline().parameters.BeginDate"
                  }
                }
              }
            },
            {
              "name": "IdsMbrDntlRwrdAccumExtrPkey",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "FctsIdsMbrDntlRwrdAccumXfrm",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": {
                  "type": "Expression",
                  "value": "@concat(pipeline().globalParameters.gbl_param_notebook_path,'/DataWarehouse/Member/IDSLoads/Accum/DntlAccumulators/IdsMbrDntlRwrdAccumExtrPkey')"
                },
                "baseParameters": {
                  "SrcSysCd": {
                    "value": "@pipeline().parameters.SrcSysCd"
                  },
                  "IDSOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "IDSRunCycle": {
                    "value": "@pipeline().parameters.RunCycle"
                  },
                  "RunID": {
                    "value": "@pipeline().parameters.RunID"
                  }
                }
              }
            }
          ],
          "ifFalseActivities": [
            {
              "name": "set_var_If_MbrDntlAccum_branch_false",
              "type": "SetVariable",
              "dependsOn": [],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "var_If_MbrDntlAccum_branch",
                "value": {
                  "type": "Expression",
                  "value": "@string(0)"
                }
              }
            }
          ]
        }
      },
      {
        "name": "DrvrCountsSubPca_Routine",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "If_MbrDntlAccum",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "type": "Expression",
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/JobLinkCount')"
          },
          "baseParameters": {
            "GlobalEnvironment": {
              "value": "@pipeline().globalParameters.gbl_param_environment"
            },
            "file_path": {
              "value": "",
              "type": "Expression"
            },
            "EnvProjectPath": {
              "value": "",
              "type": "Expression"
            },
            "delimiter": {
              "value": "",
              "type": "Expression"
            },
            "quote": {
              "value": "",
              "type": "Expression"
            },
            "header": {
              "value": "",
              "type": "Expression"
            },
            "nullValue": {
              "value": "",
              "type": "Expression"
            },
            "table_nm": {
              "value": "",
              "type": "Expression"
            },
            "schema": {
              "value": "",
              "type": "Expression"
            },
            "secret_name": {
              "value": "",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "DrvrCountsSubPca_SetVar",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "DrvrCountsSubPca_Routine",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "FctsSubPcaDrvrCnt",
          "value": {
            "type": "Expression",
            "value": "@string(activity('DrvrCountsSubPca_Routine').output.runOutput)"
          }
        }
      },
      {
        "name": "If_SubPcaCnt",
        "type": "IfCondition",
        "dependsOn": [
          {
            "activity": "DrvrCountsSubPca_SetVar",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "expression": {
            "type": "Expression",
            "value": "@or(equals(variables('FctsSubPcaDrvrCnt'),'0'),greater(int(variables('FctsSubPcaDrvrCnt')),0))"
          },
          "ifTrueActivities": [
            {
              "name": "FctsSubPcaExtr",
              "type": "DatabricksNotebook",
              "dependsOn": [],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": {
                  "type": "Expression",
                  "value": "@concat(pipeline().globalParameters.gbl_param_notebook_path,'/member/SubPca/FctsSubPcaExtr')"
                },
                "baseParameters": {
                  "CurrRunCycle": {
                    "value": "@pipeline().parameters.RunCycle"
                  },
                  "RunID": {
                    "value": "@pipeline().parameters.RunID"
                  },
                  "TmpTblRunID": {
                    "value": "@pipeline().parameters.TmpTblRunID"
                  },
                  "IDSOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "FacetsOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_FacetsOwner",
                    "type": "Expression"
                  },
                  "SrcSysCd": {
                    "value": "@pipeline().parameters.SrcSysCd"
                  },
                  "SrcSysCdSk": {
                    "value": "@pipeline().parameters.SrcSysCdSk"
                  },
                  "CurrDate": {
                    "value": "@pipeline().parameters.CurrDate"
                  },
                  "BCBSOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_BCBSOwner",
                    "type": "Expression"
                  }
                }
              }
            }
          ],
          "ifFalseActivities": []
        }
      }
    ]
  }
}