npw-projects-np-projects-bluekc-translated-66e9366f6cca/Sprint_3_4_5/SequenceJobs/Integrate/FctsClmCntl_3.json
{
  "name": "FctsClmCntl_3",
  "type": "Microsoft.DataFactory/factories/pipelines",
  "properties": {
    "folder": {
      "name": "Integrate/Jobs/claim"
    },
    "parameters": {
      "Logging": {
        "type": "String",
        "defaultValue": "Y"
      },
      "DaysToPull": {
        "type": "String",
        "defaultValue": "0"
      },
      "RecDelete": {
        "type": "String",
        "defaultValue": "Y"
      },
      "EmailNotify": {
        "type": "String",
        "defaultValue": "judy.reynolds@BlueKC.com"
      },
      "Initial_JobName": {
        "type": "String",
        "defaultValue": ""
      },
      "Initial_BeginDate": {
        "type": "String",
        "defaultValue": ""
      },
      "Initial_Source": {
        "type": "String",
        "defaultValue": ""
      },
      "Initial_Target": {
        "type": "String",
        "defaultValue": ""
      },
      "Initial_Subject": {
        "type": "String",
        "defaultValue": ""
      },
      "Initial_Frequency": {
        "type": "String",
        "defaultValue": ""
      },
      "Tables_DriverTable": {
        "type": "String",
        "defaultValue": ""
      },
      "Tables_TableTimeStamp": {
        "type": "String",
        "defaultValue": ""
      },
      "Variables_ExclusionList": {
        "type": "String",
        "defaultValue": ""
      },
      "Variables_CurrDateTime4PymtRdtn": {
        "type": "String",
        "defaultValue": ""
      },
      "Variables_RunID": {
        "type": "String",
        "defaultValue": ""
      },
      "Variables_CurrDate": {
        "type": "String",
        "defaultValue": ""
      },
      "Variables_EndDate": {
        "type": "String",
        "defaultValue": ""
      },
      "TimeRunCycle": {
        "type": "String",
        "defaultValue": ""
      }
    },
    "variables": {
      "LinkCount": {
        "type": "String",
        "defaultValue": ""
      }
    },
    "activities": [
      {
        "name": "If_3A",
        "type": "IfCondition",
        "dependsOn": [],
        "typeProperties": {
          "expression": {
            "value": "@not(contains(split(pipeline().parameters.Variables_ExclusionList,';'),'FctsIdsBalSeq'))",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "name": "FctsIdsBalSeq",
              "type": "ExecutePipeline",
              "dependsOn": [],
              "policy": {
                "secureInput": false
              },
              "typeProperties": {
                "pipeline": {
                  "referenceName": "FctsIdsBalSeq",
                  "type": "PipelineReference"
                },
                "parameters": {
                  "RunID": {
                    "value": "@pipeline().parameters.Variables_RunID",
                    "type": "Expression"
                  },
                  "EmailNotify": {
                    "value": "@pipeline().globalParameters.gbl_param_EmailSupport",
                    "type": "Expression"
                  },
                  "ExclusionList": {
                    "value": "@pipeline().parameters.Variables_ExclusionList",
                    "type": "Expression"
                  },
                  "IDSOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "ids_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                    "type": "Expression"
                  }
                },
                "waitOnCompletion": true
              }
            }
          ],
          "ifFalseActivities": []
        }
      },
      {
        "name": "If_3B",
        "type": "IfCondition",
        "dependsOn": [
          {
            "activity": "If_3A",
            "dependencyConditions": [
              "Succeeded"
            ]
          },
          {
            "activity": "FctsIdsBalSeq",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "typeProperties": {
          "expression": {
            "value": "@not(contains(split(pipeline().parameters.Variables_ExclusionList,';'),'FctsClmCleanupSeq'))",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "name": "FctsClmCleanupSeq",
              "type": "ExecutePipeline",
              "dependsOn": [],
              "policy": {
                "secureInput": false
              },
              "typeProperties": {
                "pipeline": {
                  "referenceName": "FctsClmCleanupSeq",
                  "type": "PipelineReference"
                },
                "parameters": {
                  "EmailSupport": {
                    "value": "@pipeline().globalParameters.gbl_param_EmailSupport",
                    "type": "Expression"
                  },
                  "CntlJobName": {
                    "value": "@pipeline().parameters.Initial_JobName",
                    "type": "Expression"
                  },
                  "BeginDate": {
                    "value": "@pipeline().parameters.Initial_BeginDate",
                    "type": "Expression"
                  },
                  "EndDate": {
                    "value": "@pipeline().parameters.Variables_EndDate",
                    "type": "Expression"
                  },
                  "DriverTable": {
                    "value": "@pipeline().parameters.Tables_DriverTable",
                    "type": "Expression"
                  },
                  "TableTimeStamp": {
                    "value": "@pipeline().parameters.Tables_TableTimeStamp",
                    "type": "Expression"
                  },
                  "RunID": {
                    "value": "@pipeline().parameters.Variables_RunID",
                    "type": "Expression"
                  },
                  "ExclusionList": {
                    "value": "@pipeline().parameters.Variables_ExclusionList",
                    "type": "Expression"
                  },
                  "DBUG": {
                    "value": "@pipeline().globalParameters.gbl_param_DBUG",
                    "type": "Expression"
                  },
                  "IDSOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "ids_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                    "type": "Expression"
                  },
                  "FacetsOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_FacetsOwner",
                    "type": "Expression"
                  },
                  "facets_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_FacetsSecret",
                    "type": "Expression"
                  }
                },
                "waitOnCompletion": true
              }
            }
          ],
          "ifFalseActivities": []
        }
      },
      {
        "name": "RptLinkCount_JobLinkCount",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "If_3B",
            "dependencyConditions": [
              "Succeeded"
            ]
          },
          {
            "activity": "FctsClmCleanupSeq",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/JobLinkCount')",
            "type": "Expression"
          },
          "baseParameters": {
            "schema": {
              "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
              "type": "Expression"
            },
            "secret_name": {
              "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
              "type": "Expression"
            },
            "GlobalEnvironment": {
              "value": "@pipeline().globalParameters.gbl_param_environment",
              "type": "Expression"
            },
            "JobLinkCount_a1": "IdsClmFkey",
            "JobLinkCount_a2": "Trans3",
            "JobLinkCount_a3": "LoadFile",
            "file_path": {
              "value": "",
              "type": "Expression"
            },
            "EnvProjectPath": {
              "value": "",
              "type": "Expression"
            },
            "delimiter": {
              "value": "",
              "type": "Expression"
            },
            "quote": {
              "value": "",
              "type": "Expression"
            },
            "header": {
              "value": "",
              "type": "Expression"
            },
            "nullValue": {
              "value": "",
              "type": "Expression"
            },
            "table_nm": {
              "value": "",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "Set_LinkCount",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "RptLinkCount_JobLinkCount",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "LinkCount",
          "value": {
            "value": "@string(activity('RptLinkCount_JobLinkCount').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "If_5A",
        "type": "IfCondition",
        "dependsOn": [
          {
            "activity": "Set_LinkCount",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "typeProperties": {
          "expression": {
            "value": "@not(contains(split(pipeline().parameters.Variables_ExclusionList,';'),'ProcessRptExtr'))",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "name": "ProcessRptExtr",
              "type": "DatabricksNotebook",
              "dependsOn": [],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_notebook_path,'/util/ProcessRpt/ProcessRptExtr')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "IDSOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "ids_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                    "type": "Expression"
                  },
                  "GlobalEnvironment": {
                    "value": "@pipeline().globalParameters.gbl_param_environment",
                    "type": "Expression"
                  },
                  "RunCycle": {
                    "value": "@pipeline().parameters.TimeRunCycle",
                    "type": "Expression"
                  },
                  "Subject": {
                    "value": "@pipeline().parameters.Initial_Subject",
                    "type": "Expression"
                  },
                  "SourceSys": {
                    "value": "@pipeline().parameters.Initial_Source",
                    "type": "Expression"
                  },
                  "TargetSys": {
                    "value": "@pipeline().parameters.Initial_Target",
                    "type": "Expression"
                  },
                  "RowCount": {
                    "value": "@variables('LinkCount')",
                    "type": "Expression"
                  }
                }
              }
            }
          ],
          "ifFalseActivities": []
        }
      },
      {
        "name": "WriteCurrRunDateTime_WriteRunInfo",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "If_5A",
            "dependencyConditions": [
              "Succeeded"
            ]
          },
          {
            "activity": "ProcessRptExtr",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/WriteRunInfo')",
            "type": "Expression"
          },
          "baseParameters": {
            "IDSOwner": {
              "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
              "type": "Expression"
            },
            "secret_name": {
              "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
              "type": "Expression"
            },
            "GlobalEnvironment": {
              "value": "@pipeline().globalParameters.gbl_param_environment",
              "type": "Expression"
            },
            "arg1": {
              "value": "@concat(pipeline().parameters.Initial_JobName,':PaymtRdtnLastRunDt')",
              "type": "Expression"
            },
            "arg2": {
              "value": "@pipeline().parameters.Variables_CurrDateTime4PymtRdtn",
              "type": "Expression"
            },
            "arg3": {
              "value": "@pipeline().parameters.Variables_CurrDate",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "CloseRunCycle_CloseRunCycle",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "WriteCurrRunDateTime_WriteRunInfo",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/CloseRunCycle')",
            "type": "Expression"
          },
          "baseParameters": {
            "DBOwner": {
              "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
              "type": "Expression"
            },
            "secret_name": {
              "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
              "type": "Expression"
            },
            "GlobalEnvironment": {
              "value": "@pipeline().globalParameters.gbl_param_environment",
              "type": "Expression"
            },
            "SrcSystem": {
              "value": "@pipeline().parameters.Initial_Source",
              "type": "Expression"
            },
            "TrgtSystem": {
              "value": "@pipeline().parameters.Initial_Target",
              "type": "Expression"
            },
            "SubjCode": {
              "value": "@pipeline().parameters.Initial_Subject",
              "type": "Expression"
            },
            "FreqCode": {
              "value": "@pipeline().parameters.Initial_Frequency",
              "type": "Expression"
            },
            "RunCycle": {
              "value": "@pipeline().parameters.TimeRunCycle",
              "type": "Expression"
            }
          }
        }
      }
    ]
  }
}