npw-projects-np-projects-bluekc-translated-66e9366f6cca/Sprint_3_4_5/SequenceJobs/Integrate/FctsClmFirstPassCntl.json
{
  "name": "FctsClmFirstPassCntl",
  "type": "Microsoft.DataFactory/factories/pipelines",
  "properties": {
    "folder": {
      "name": "Integrate/Jobs/claim"
    },
    "parameters": {
      "Logging": {
        "type": "String",
        "defaultValue": "Y"
      },
      "DaysToPull": {
        "type": "String",
        "defaultValue": "0"
      }
    },
    "variables": {
      "JobName": {
        "type": "String",
        "defaultValue": ""
      },
      "GroupName": {
        "type": "String",
        "defaultValue": "FCTS_FIRSTPASS"
      },
      "Source": {
        "type": "String",
        "defaultValue": "FACETS"
      },
      "Target": {
        "type": "String",
        "defaultValue": "IDS"
      },
      "Subject": {
        "type": "String",
        "defaultValue": "FIRSTPASS"
      },
      "Frequency": {
        "type": "String",
        "defaultValue": "DAILY"
      },
      "BeginDate": {
        "type": "String",
        "defaultValue": ""
      },
      "RunDate": {
        "type": "String",
        "defaultValue": ""
      },
      "LinkCount": {
        "type": "String",
        "defaultValue": ""
      },
      "RunCycle": {
        "type": "String",
        "defaultValue": ""
      },
      "EndDate": {
        "type": "String",
        "defaultValue": ""
      },
      "ExclusionList": {
        "type": "String",
        "defaultValue": ""
      },
      "RunID": {
        "type": "String",
        "defaultValue": ""
      },
      "SourceSK": {
        "type": "String",
        "defaultValue": ""
      },
      "CurrDate": {
        "type": "String",
        "defaultValue": ""
      },
      "CurrDateTime": {
        "type": "String",
        "defaultValue": ""
      },
      "var_CountChk_branch": {
        "type": "String",
        "defaultValue": "0"
      },
      "var_If_1A_branch": {
        "type": "String",
        "defaultValue": "0"
      },
      "var_If_1A_Continuation_branch": {
        "type": "String",
        "defaultValue": "0"
      }
    },
    "activities": [
      {
        "name": "set_JobName",
        "type": "SetVariable",
        "dependsOn": [],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "JobName",
          "value": {
            "type": "Expression",
            "value": "@pipeline().Pipeline"
          }
        }
      },
      {
        "name": "nb_GetRunInfo_BeginDate",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "set_JobName",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "type": "Expression",
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/GetRunInfo')"
          },
          "baseParameters": {
            "job_name": {
              "type": "Expression",
              "value": "@concat(variables('JobName'), ':BeginDate')"
            },
            "GlobalEnvironment": {
              "type": "Expression",
              "value": "@pipeline().globalParameters.gbl_param_environment"
            },
            "secret_name": {
              "value": "",
              "type": "Expression"
            },
            "IDSOwner": {
              "value": "",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "set_BeginDate",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "nb_GetRunInfo_BeginDate",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "BeginDate",
          "value": {
            "type": "Expression",
            "value": "@string(activity('nb_GetRunInfo_BeginDate').output.runOutput)"
          }
        }
      },
      {
        "name": "nb_GetRunInfo_RunDate",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "set_BeginDate",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "type": "Expression",
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/GetRunInfo')"
          },
          "baseParameters": {
            "job_name": {
              "type": "Expression",
              "value": "@concat(variables('JobName'), ':RunDate')"
            },
            "GlobalEnvironment": {
              "type": "Expression",
              "value": "@pipeline().globalParameters.gbl_param_environment"
            },
            "secret_name": {
              "value": "",
              "type": "Expression"
            },
            "IDSOwner": {
              "value": "",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "set_RunDate",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "nb_GetRunInfo_RunDate",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "RunDate",
          "value": {
            "type": "Expression",
            "value": "@string(activity('nb_GetRunInfo_RunDate').output.runOutput)"
          }
        }
      },
      {
        "name": "ProcessCheckExtr",
        "type": "Lookup",
        "dependsOn": [
          {
            "activity": "set_RunDate",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "source": {
            "type": "AzureSqlSource",
            "sqlReaderQuery": {
              "value": "WITH db2_data AS (\n    select SUBJ_CD, TRGT_SYS_CD, SRC_SYS_CD\n    from @{pipeline().globalParameters.gbl_param_IDSOwner}.P_RUN_CYC\n    where CYC_STTUS_CD = 'RUNNING'\n       and SUBJ_CD = '@{variables('Subject')}'\n       and TRGT_SYS_CD = '@{variables('Target')}'\n    UNION\n    select SUBJ_CD, TRGT_SYS_CD, SRC_SYS_CD\n    from @{pipeline().globalParameters.gbl_param_IDSOwner}.P_RUN_CYC\n    where CYC_STTUS_CD = 'RUNNING'\n       and SUBJ_CD = '@{variables('Subject')}'\n       and SRC_SYS_CD <> '@{variables('Source')}'\n       and TRGT_SYS_CD = '@{variables('Target')}'\n    UNION\n    select SUBJ_CD, TRGT_SYS_CD, SRC_SYS_CD\n    from @{pipeline().globalParameters.gbl_param_IDSOwner}.P_RUN_CYC\n    where CYC_STTUS_CD = 'RUNNING'\n       and SUBJ_CD = '@{variables('Subject')}'\n       and SRC_SYS_CD = '@{variables('Source')}'\n),\ntransformed_data AS (\n    SELECT SUBJ_CD, SRC_SYS_CD, TRGT_SYS_CD\n    FROM db2_data\n)\nSELECT COUNT(*) as link_count FROM transformed_data",
              "type": "Expression"
            },
            "queryTimeout": "02:00:00",
            "partitionOption": "None"
          },
          "dataset": {
            "referenceName": "ds_ids",
            "type": "DatasetReference",
            "parameters": {
              "param_schema": "@pipeline().globalParameters.gbl_param_IDSOwner",
              "param_table": "P_RUN_CYC"
            }
          }
        }
      },
      {
        "name": "LinkCount_SetVar",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "ProcessCheckExtr",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "LinkCount",
          "value": {
            "value": "@string(activity('ProcessCheckExtr').output.firstRow.link_count)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "Switch_CountChk",
        "type": "Switch",
        "dependsOn": [
          {
            "activity": "LinkCount_SetVar",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "on": {
            "type": "Expression",
            "value": "@if(not(equals(variables('LinkCount'), '0')),'1','0')"
          },
          "cases": [
            {
              "value": "1",
              "activities": [
                {
                  "name": "set_var_CountChk_branch_true",
                  "type": "SetVariable",
                  "dependsOn": [],
                  "policy": {
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "variableName": "var_CountChk_branch",
                    "value": "1"
                  }
                },
                {
                  "name": "Email_DAT",
                  "type": "ExecutePipeline",
                  "dependsOn": [
                    {
                      "activity": "set_var_CountChk_branch_true",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "pipeline": {
                      "referenceName": "Email_Notification",
                      "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                      "recipients": {
                        "type": "Expression",
                        "value": "@pipeline().globalParameters.gbl_param_EmailSupport"
                      },
                      "subject": "IDS Facets First Pass Abort",
                      "body": "The IDS Facets First Pass processing cannot take place.  First Pass is already running.",
                      "blobFilenames": "",
                      "fromemail": {
                        "type": "Expression",
                        "value": "@pipeline().globalParameters.gbl_param_fromemail"
                      },
                      "containerName": ""
                    }
                  }
                }
              ]
            }
          ],
          "defaultActivities": [
            {
              "name": "set_var_CountChk_branch_false",
              "type": "SetVariable",
              "dependsOn": [],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "var_CountChk_branch",
                "value": "0"
              }
            },
            {
              "name": "nb_OpenRunCycle",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "set_var_CountChk_branch_false",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": {
                  "type": "Expression",
                  "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/OpenRunCycle')"
                },
                "baseParameters": {
                  "DBOwner": {
                    "type": "Expression",
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner"
                  },
                  "secret_name": {
                    "type": "Expression",
                    "value": "@pipeline().globalParameters.gbl_param_IDSSecret"
                  },
                  "Source": {
                    "type": "Expression",
                    "value": "@variables('Source')"
                  },
                  "Target": {
                    "type": "Expression",
                    "value": "@variables('Target')"
                  },
                  "Subject": {
                    "type": "Expression",
                    "value": "@variables('Subject')"
                  },
                  "Frequency": {
                    "type": "Expression",
                    "value": "@variables('Frequency')"
                  },
                  "GlobalEnvironment": {
                    "type": "Expression",
                    "value": "@pipeline().globalParameters.gbl_param_environment"
                  }
                }
              }
            },
            {
              "name": "set_RunCycle",
              "type": "SetVariable",
              "dependsOn": [
                {
                  "activity": "nb_OpenRunCycle",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "RunCycle",
                "value": {
                  "type": "Expression",
                  "value": "@string(activity('nb_OpenRunCycle').output.runOutput)"
                }
              }
            },
            {
              "name": "nb_CalcEndDate",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "set_RunCycle",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": {
                  "type": "Expression",
                  "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/FORMAT.DATE')"
                },
                "baseParameters": {
                  "pInDate": "string('@DATE')",
                  "pSource": "DATE",
                  "pSourceFormat": "CURRENT",
                  "pOutFormat": "CCYY-MM-DD"
                }
              }
            },
            {
              "name": "set_EndDate",
              "type": "SetVariable",
              "dependsOn": [
                {
                  "activity": "nb_CalcEndDate",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "EndDate",
                "value": {
                  "type": "Expression",
                  "value": "@string(activity('nb_CalcEndDate').output.runOutput)"
                }
              }
            },
            {
              "name": "nb_ExclusionListExtr",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "set_EndDate",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_notebook_path,'/JobSequencer/CommonComponents/ExclusionListExtr')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "ids_owner_schema": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "ids_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                    "type": "Expression"
                  },
                  "Subject": {
                    "value": "@variables('JobName')",
                    "type": "Expression"
                  },
                  "ids_staging_schema": {
                    "value": "@pipeline().globalParameters.gbl_param_ids_staging",
                    "type": "Expression"
                  }
                }
              }
            },
            {
              "name": "nb_WriteRunID",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "nb_ExclusionListExtr",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": {
                  "type": "Expression",
                  "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/WriteRunID')"
                },
                "baseParameters": {
                  "entry_name": {
                    "type": "Expression",
                    "value": "@concat(variables('JobName'), ':RunID')"
                  },
                  "GlobalEnvironment": {
                    "type": "Expression",
                    "value": "@pipeline().globalParameters.gbl_param_environment"
                  },
                  "secret_name": {
                    "value": "",
                    "type": "Expression"
                  },
                  "IDSOwner": {
                    "value": "",
                    "type": "Expression"
                  }
                }
              }
            },
            {
              "name": "nb_WriteEndDate",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "nb_WriteRunID",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": {
                  "type": "Expression",
                  "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/WriteRunInfo')"
                },
                "baseParameters": {
                  "arg1": {
                    "type": "Expression",
                    "value": "@concat(variables('JobName'), ':EndDate')"
                  },
                  "arg2": {
                    "type": "Expression",
                    "value": "@variables('EndDate')"
                  },
                  "arg3": {
                    "type": "Expression",
                    "value": "@variables('EndDate')"
                  },
                  "GlobalEnvironment": {
                    "type": "Expression",
                    "value": "@pipeline().globalParameters.gbl_param_environment"
                  },
                  "secret_name": {
                    "value": "",
                    "type": "Expression"
                  },
                  "IDSOwner": {
                    "value": "",
                    "type": "Expression"
                  }
                }
              }
            },
            {
              "name": "nb_GetExclusionList",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "nb_WriteEndDate",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": {
                  "type": "Expression",
                  "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/GetExclusionList')"
                },
                "baseParameters": {
                  "Subject": {
                    "type": "Expression",
                    "value": "@variables('JobName')"
                  },
                  "GlobalEnvironment": {
                    "type": "Expression",
                    "value": "@pipeline().globalParameters.gbl_param_environment"
                  },
                  "secret_name": {
                    "value": "",
                    "type": "Expression"
                  },
                  "DBOwner": {
                    "value": "",
                    "type": "Expression"
                  }
                }
              }
            },
            {
              "name": "set_ExclusionList",
              "type": "SetVariable",
              "dependsOn": [
                {
                  "activity": "nb_GetExclusionList",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "ExclusionList",
                "value": {
                  "type": "Expression",
                  "value": "@string(activity('nb_GetExclusionList').output.runOutput)"
                }
              }
            },
            {
              "name": "nb_GetFkeyCodes_SourceSK",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "set_ExclusionList",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": {
                  "type": "Expression",
                  "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/GetFkeyCodes')"
                },
                "baseParameters": {
                  "src_system_cd": "IDS",
                  "record_key": "FACETS",
                  "cd_mpg_id": "SOURCE SYSTEM",
                  "cd_value": "FACETS",
                  "logging": "X",
                  "GlobalEnvironment": {
                    "type": "Expression",
                    "value": "@pipeline().globalParameters.gbl_param_environment"
                  },
                  "GetFkeyCodes_owner": {
                    "value": "",
                    "type": "Expression"
                  },
                  "GetFkeyCodes_secret": {
                    "value": "",
                    "type": "Expression"
                  }
                }
              }
            },
            {
              "name": "set_SourceSK",
              "type": "SetVariable",
              "dependsOn": [
                {
                  "activity": "nb_GetFkeyCodes_SourceSK",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "typeProperties": {
                "variableName": "SourceSK",
                "value": {
                  "type": "Expression",
                  "value": "@string(activity('nb_GetFkeyCodes_SourceSK').output.runOutput)"
                }
              }
            },
            {
              "name": "nb_FORMAT_DATE_CurrDate",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "set_SourceSK",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": {
                  "type": "Expression",
                  "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/FORMAT.DATE')"
                },
                "baseParameters": {
                  "pInDate": "string('@DATE')",
                  "pSource": "DATE",
                  "pSourceFormat": "CURRENT",
                  "pOutFormat": "CCYY-MM-DD"
                }
              }
            },
            {
              "name": "set_CurrDate",
              "type": "SetVariable",
              "dependsOn": [
                {
                  "activity": "nb_FORMAT_DATE_CurrDate",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "typeProperties": {
                "variableName": "CurrDate",
                "value": {
                  "type": "Expression",
                  "value": "@string(activity('nb_FORMAT_DATE_CurrDate').output.runOutput)"
                }
              }
            },
            {
              "name": "nb_FORMAT_DATE_CurrDateTime",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "set_CurrDate",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": {
                  "type": "Expression",
                  "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/FORMAT.DATE')"
                },
                "baseParameters": {
                  "pInDate": "string('@DATE')",
                  "pSource": "DATE",
                  "pSourceFormat": "CURRENT",
                  "pOutFormat": "DB2TIMESTAMP"
                }
              }
            },
            {
              "name": "set_CurrDateTime",
              "type": "SetVariable",
              "dependsOn": [
                {
                  "activity": "nb_FORMAT_DATE_CurrDateTime",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "typeProperties": {
                "variableName": "CurrDateTime",
                "value": {
                  "type": "Expression",
                  "value": "@string(activity('nb_FORMAT_DATE_CurrDateTime').output.runOutput)"
                }
              }
            },
            {
              "name": "nb_GetRunID",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "set_CurrDateTime",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": {
                  "type": "Expression",
                  "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/GetRunInfo')"
                },
                "baseParameters": {
                  "job_name": {
                    "type": "Expression",
                    "value": "@concat(variables('JobName'), ':RunID')"
                  },
                  "GlobalEnvironment": {
                    "type": "Expression",
                    "value": "@pipeline().globalParameters.gbl_param_environment"
                  },
                  "secret_name": {
                    "value": "",
                    "type": "Expression"
                  },
                  "IDSOwner": {
                    "value": "",
                    "type": "Expression"
                  }
                }
              }
            },
            {
              "name": "set_RunID",
              "type": "SetVariable",
              "dependsOn": [
                {
                  "activity": "nb_GetRunID",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "RunID",
                "value": {
                  "type": "Expression",
                  "value": "@string(activity('nb_GetRunID').output.runOutput)"
                }
              }
            },
            {
              "name": "nb_ExclusionListDelete",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "set_RunID",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_notebook_path,'/JobSequencer/CommonComponents/ExclusionListDelete')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "ids_owner_schema": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "ids_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                    "type": "Expression"
                  },
                  "subject": {
                    "value": "@variables('JobName')",
                    "type": "Expression"
                  }
                }
              }
            }
          ]
        }
      },
      {
        "name": "Switch_If_1A",
        "type": "Switch",
        "dependsOn": [
          {
            "activity": "Switch_CountChk",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "on": {
            "type": "Expression",
            "value": "@if(and(equals(variables('var_CountChk_branch'), '0'), not(contains(variables('ExclusionList'), 'FctsClmFirstPassSeq'))),'1','0')"
          },
          "cases": [
            {
              "value": "1",
              "activities": [
                {
                  "name": "set_var_If_1A_branch_true",
                  "type": "SetVariable",
                  "dependsOn": [],
                  "policy": {
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "variableName": "var_If_1A_branch",
                    "value": "1"
                  }
                },
                {
                  "name": "FctsClmFirstPassSeq",
                  "type": "ExecutePipeline",
                  "dependsOn": [
                    {
                      "activity": "set_var_If_1A_branch_true",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "pipeline": {
                      "referenceName": "FctsClmFirstPassSeq",
                      "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                      "BCBSPRDOwner": {
                        "type": "Expression",
                        "value": "@pipeline().globalParameters.gbl_param_BCBSPRDOwner"
                      },
                      "bcbsprd_secret_name": {
                        "type": "Expression",
                        "value": "@pipeline().globalParameters.gbl_param_BCBSPRDSecret"
                      },
                      "RunCycle": {
                        "type": "Expression",
                        "value": "@variables('RunCycle')"
                      },
                      "RunID": {
                        "type": "Expression",
                        "value": "@variables('RunID')"
                      },
                      "ExclusionList": {
                        "type": "Expression",
                        "value": "@variables('ExclusionList')"
                      },
                      "BeginDate": {
                        "type": "Expression",
                        "value": "@variables('BeginDate')"
                      },
                      "EndDate": {
                        "type": "Expression",
                        "value": "@variables('EndDate')"
                      }
                    }
                  }
                }
              ]
            }
          ],
          "defaultActivities": [
            {
              "name": "set_var_If_1A_branch_false",
              "type": "SetVariable",
              "dependsOn": [],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "var_If_1A_branch",
                "value": "0"
              }
            }
          ]
        }
      },
      {
        "name": "Switch_If_1A_Continuation",
        "type": "Switch",
        "dependsOn": [
          {
            "activity": "Switch_If_1A",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "on": {
            "type": "Expression",
            "value": "@if(equals(variables('var_CountChk_branch'), '0'),'1','0')"
          },
          "cases": [
            {
              "value": "1",
              "activities": [
                {
                  "name": "set_var_If_1A_Continuation_branch_true",
                  "type": "SetVariable",
                  "dependsOn": [],
                  "policy": {
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "variableName": "var_If_1A_Continuation_branch",
                    "value": "1"
                  }
                },
                {
                  "name": "nb_WriteBeginDate",
                  "type": "DatabricksNotebook",
                  "dependsOn": [
                    {
                      "activity": "nb_FIND_DATE_BeginDate",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "timeout": "12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "linkedServiceName": {
                    "referenceName": "shareddatabricks",
                    "type": "LinkedServiceReference"
                  },
                  "typeProperties": {
                    "notebookPath": {
                      "type": "Expression",
                      "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/WriteRunInfo')"
                    },
                    "baseParameters": {
                      "arg1": {
                        "type": "Expression",
                        "value": "@concat(variables('JobName'), ':BeginDate')"
                      },
                      "arg2": {
                        "type": "Expression",
                        "value": "@string(activity('nb_FIND_DATE_BeginDate').output.runOutput)"
                      },
                      "arg3": {
                        "type": "Expression",
                        "value": "@variables('BeginDate')"
                      },
                      "GlobalEnvironment": {
                        "type": "Expression",
                        "value": "@pipeline().globalParameters.gbl_param_environment"
                      },
                      "secret_name": {
                        "value": "",
                        "type": "Expression"
                      },
                      "IDSOwner": {
                        "value": "",
                        "type": "Expression"
                      }
                    }
                  }
                },
                {
                  "name": "nb_WriteRunDate",
                  "type": "DatabricksNotebook",
                  "dependsOn": [
                    {
                      "activity": "nb_WriteBeginDate",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "timeout": "12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "linkedServiceName": {
                    "referenceName": "shareddatabricks",
                    "type": "LinkedServiceReference"
                  },
                  "typeProperties": {
                    "notebookPath": {
                      "type": "Expression",
                      "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/WriteRunInfo')"
                    },
                    "baseParameters": {
                      "arg1": {
                        "type": "Expression",
                        "value": "@concat(variables('JobName'), ':RunDate')"
                      },
                      "arg2": "9999-12-31",
                      "arg3": {
                        "type": "Expression",
                        "value": "@variables('EndDate')"
                      },
                      "GlobalEnvironment": {
                        "type": "Expression",
                        "value": "@pipeline().globalParameters.gbl_param_environment"
                      },
                      "secret_name": {
                        "value": "",
                        "type": "Expression"
                      },
                      "IDSOwner": {
                        "value": "",
                        "type": "Expression"
                      }
                    }
                  }
                },
                {
                  "name": "nb_CloseRunCycle",
                  "type": "DatabricksNotebook",
                  "dependsOn": [
                    {
                      "activity": "nb_WriteRunDate",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "timeout": "12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "linkedServiceName": {
                    "referenceName": "shareddatabricks",
                    "type": "LinkedServiceReference"
                  },
                  "typeProperties": {
                    "notebookPath": {
                      "type": "Expression",
                      "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/CloseRunCycle')"
                    },
                    "baseParameters": {
                      "DBOwner": {
                        "type": "Expression",
                        "value": "@pipeline().globalParameters.gbl_param_IDSOwner"
                      },
                      "secret_name": {
                        "type": "Expression",
                        "value": "@pipeline().globalParameters.gbl_param_IDSSecret"
                      },
                      "SrcSystem": {
                        "type": "Expression",
                        "value": "@variables('Source')"
                      },
                      "TrgtSystem": {
                        "type": "Expression",
                        "value": "@variables('Target')"
                      },
                      "SubjCode": {
                        "type": "Expression",
                        "value": "@variables('Subject')"
                      },
                      "FreqCode": {
                        "type": "Expression",
                        "value": "@variables('Frequency')"
                      },
                      "RunCycle": {
                        "type": "Expression",
                        "value": "@variables('RunCycle')"
                      },
                      "GlobalEnvironment": {
                        "type": "Expression",
                        "value": "@pipeline().globalParameters.gbl_param_environment"
                      }
                    }
                  }
                }
              ]
            }
          ],
          "defaultActivities": [
            {
              "name": "set_var_If_1A_Continuation_branch_false",
              "type": "SetVariable",
              "dependsOn": [],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "var_If_1A_Continuation_branch",
                "value": "0"
              }
            }
          ]
        }
      }
    ]
  }
}