npw-projects-np-projects-bluekc-translated-66e9366f6cca/Sprint_3_4_5/SequenceJobs/Integrate/FctsCommissionMonthlyMnlPymtCntl.json
{
  "name": "FctsCommissionMonthlyMnlPymtCntl",
  "type": "Microsoft.DataFactory/factories/pipelines",
  "properties": {
    "folder": {
      "name": "Integrate/Jobs/Commission"
    },
    "parameters": {
      "FTPCheck": {
        "type": "String",
        "defaultValue": ""
      },
      "Environment": {
        "type": "String",
        "defaultValue": ""
      }
    },
    "variables": {
      "JobName": {
        "type": "String",
        "defaultValue": ""
      },
      "LinkCount_LinkCount": {
        "type": "String",
        "defaultValue": ""
      },
      "var_CountChk_branch": {
        "type": "String",
        "defaultValue": ""
      },
      "var_If_1C_branch": {
        "type": "String",
        "defaultValue": ""
      },
      "var_If_1C_Continuation_branch": {
        "type": "String",
        "defaultValue": ""
      },
      "var_If_1A_branch": {
        "type": "String",
        "defaultValue": ""
      },
      "var_If_1B_branch": {
        "type": "String",
        "defaultValue": ""
      },
      "var_If_1B_Continuation_branch": {
        "type": "String",
        "defaultValue": ""
      },
      "Time_RunCycle": {
        "type": "String"
      },
      "ListFile_CommMnlPymtFile": {
        "type": "String"
      },
      "ExclusionList": {
        "type": "String"
      },
      "LinkCount": {
        "type": "String",
        "defaultValue": ""
      },
      "CurrentDate": {
        "type": "String"
      },
      "PrefixFKeyFailedFileName": {
        "type": "String"
      },
      "Subject": {
        "type": "String"
      },
      "RunID": {
        "type": "String"
      },
      "TransYrMo": {
        "type": "String"
      },
      "RunIDTimeStamp": {
        "type": "String"
      },
      "Source": {
        "type": "String"
      },
      "Target": {
        "type": "String"
      },
      "SourceSK": {
        "type": "String"
      },
      "RunCycleDate": {
        "type": "String"
      }
    },
    "activities": [
      {
        "name": "Set_JobName_var",
        "type": "SetVariable",
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "JobName",
          "value": {
            "value": "@pipeline().Pipeline",
            "type": "Expression"
          }
        }
      },
      {
        "name": "ProcessCheckExtr",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "Set_JobName_var",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_notebook_path,'/JobSequencer/CommonComponents/ProcessCheckExtr')",
            "type": "Expression"
          },
          "baseParameters": {
            "IDSOwner": {
              "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
              "type": "Expression"
            },
            "ids_secret_name": {
              "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
              "type": "Expression"
            },
            "Subject": {
              "value": "@variables('Subject')",
              "type": "Expression"
            },
            "TargetSys": {
              "value": "@variables('Target')",
              "type": "Expression"
            },
            "SourceSys": {
              "value": "@variables('Source')",
              "type": "Expression"
            }
          }
        },
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        }
      },
      {
        "name": "Set_LinkCount",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "LinkCount_JobLinkCount",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "LinkCount_LinkCount",
          "value": {
            "value": "@string(activity('LinkCount_JobLinkCount').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "Switch_CountChk",
        "type": "Switch",
        "dependsOn": [
          {
            "activity": "Set_LinkCount",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "on": {
            "value": "@if(not(equals(variables('LinkCount_LinkCount'), 0)),'1','0')",
            "type": "Expression"
          },
          "cases": [
            {
              "value": "1",
              "activities": [
                {
                  "name": "Set_CountChk_branch_true",
                  "type": "SetVariable",
                  "policy": {
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "variableName": "var_CountChk_branch",
                    "value": {
                      "value": "'1'",
                      "type": "Expression"
                    }
                  }
                },
                {
                  "name": "Email_DAT",
                  "type": "ExecutePipeline",
                  "dependsOn": [
                    {
                      "activity": "Set_CountChk_branch_true",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "pipeline": {
                      "referenceName": "Email_Notification",
                      "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                      "recipients": {
                        "value": "@pipeline().globalParameters.gbl_param_EmailSupport",
                        "type": "Expression"
                      },
                      "subject": "IDS Facets Commission Abort",
                      "body": "The IDS Facets monthly commission manual payment processing can not run while IDS commission is being updated or extracted from.",
                      "blobFilenames": "",
                      "fromemail": {
                        "value": "@pipeline().globalParameters.gbl_param_fromemail",
                        "type": "Expression"
                      },
                      "containerName": ""
                    }
                  }
                }
              ]
            }
          ],
          "defaultActivities": [
            {
              "name": "Set_CountChk_branch_false",
              "type": "SetVariable",
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "var_CountChk_branch",
                "value": {
                  "value": "'0'",
                  "type": "Expression"
                }
              }
            },
            {
              "name": "Set_Time_RunCycle",
              "type": "SetVariable",
              "dependsOn": [
                {
                  "activity": "Time_OpenRunCycle",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "Time_RunCycle",
                "value": {
                  "value": "@string(activity('Time_OpenRunCycle').output.runOutput)",
                  "type": "Expression"
                }
              }
            },
            {
              "name": "ExclusionListExtr",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "Set_Time_RunCycle",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_notebook_path,'/JobSequencer/CommonComponents/ExclusionListExtr')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "ids_owner_schema": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "ids_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                    "type": "Expression"
                  },
                  "Subject": {
                    "value": "@variables('JobName')",
                    "type": "Expression"
                  },
                  "ids_staging_schema": {
                    "value": "@pipeline().globalParameters.gbl_param_ids_staging",
                    "type": "Expression"
                  }
                }
              },
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              }
            },
            {
              "name": "WriteRunID",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "ExclusionListExtr",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/WriteRunID')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "entry_name": {
                    "value": "@concat(variables('JobName'),'RunID')",
                    "type": "Expression"
                  },
                  "secret_name": {
                    "value": "",
                    "type": "Expression"
                  },
                  "IDSOwner": {
                    "value": "",
                    "type": "Expression"
                  }
                }
              },
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              }
            },
            {
              "name": "Variables_GetExclusionList",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "WriteRunID",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "typeProperties": {
                "notebookPath": "/Shared/GetExclusionList",
                "baseParameters": {
                  "Subject": {
                    "value": "@variables('JobName')",
                    "type": "Expression"
                  },
                  "secret_name": {
                    "value": "",
                    "type": "Expression"
                  },
                  "DBOwner": {
                    "value": "",
                    "type": "Expression"
                  }
                }
              }
            },
            {
              "name": "Set_ExclusionList",
              "type": "SetVariable",
              "dependsOn": [
                {
                  "activity": "Variables_GetExclusionList",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "typeProperties": {
                "variableName": "ExclusionList",
                "value": {
                  "value": "@activity('Variables_GetExclusionList').output",
                  "type": "Expression"
                }
              }
            },
            {
              "name": "Variables_GetRunInfo",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "Set_ExclusionList",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "typeProperties": {
                "notebookPath": "/Shared/GetRunInfo",
                "baseParameters": {
                  "job_name": {
                    "value": "@concat(variables('JobName'),'RunID')",
                    "type": "Expression"
                  },
                  "secret_name": {
                    "value": "",
                    "type": "Expression"
                  },
                  "IDSOwner": {
                    "value": "",
                    "type": "Expression"
                  }
                }
              }
            },
            {
              "name": "Set_RunID",
              "type": "SetVariable",
              "dependsOn": [
                {
                  "activity": "Variables_GetRunInfo",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "typeProperties": {
                "variableName": "RunID",
                "value": {
                  "value": "@activity('Variables_GetRunInfo').output",
                  "type": "Expression"
                }
              }
            },
            {
              "name": "Variables_GetFkeyCodes",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "Set_RunID",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "typeProperties": {
                "notebookPath": "/Shared/GetFkeyCodes",
                "baseParameters": {
                  "src_system_cd": "IDS",
                  "record_key": "CALLIDUS",
                  "cd_mpg_id": "SOURCE SYSTEM",
                  "cd_value": "CALLIDUS",
                  "logging": "X",
                  "GetFkeyCodes_owner": {
                    "value": "",
                    "type": "Expression"
                  },
                  "GetFkeyCodes_secret": {
                    "value": "",
                    "type": "Expression"
                  }
                }
              }
            },
            {
              "name": "Set_SourceSK",
              "type": "SetVariable",
              "dependsOn": [
                {
                  "activity": "Variables_GetFkeyCodes",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "typeProperties": {
                "variableName": "SourceSK",
                "value": {
                  "value": "@activity('Variables_GetFkeyCodes').output",
                  "type": "Expression"
                }
              }
            },
            {
              "name": "Variables_FORMAT_DATE_CurrentDate",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "Set_SourceSK",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "typeProperties": {
                "notebookPath": "/Shared/FORMAT_DATE",
                "baseParameters": {
                  "pInDate": "string('@DATE')",
                  "pSource": "DATE",
                  "pSourceFormat": "CURRENT",
                  "pOutFormat": "CCYY-MM-DD"
                }
              }
            },
            {
              "name": "Set_CurrentDate",
              "type": "SetVariable",
              "dependsOn": [
                {
                  "activity": "Variables_FORMAT_DATE_CurrentDate",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "typeProperties": {
                "variableName": "CurrentDate",
                "value": {
                  "value": "@activity('Variables_FORMAT_DATE_CurrentDate').output",
                  "type": "Expression"
                }
              }
            },
            {
              "name": "Variables_GetRunCycleDate",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "Set_CurrentDate",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "typeProperties": {
                "notebookPath": "/Shared/GetRunCycleDate",
                "baseParameters": {
                  "arg1": "$IDSOwner",
                  "DBOwner": "Initial.Subject",
                  "arg3": "Initial.Source",
                  "arg4": "Initial.Target",
                  "arg5": "Time.RunCycle",
                  "secret_name": {
                    "value": "",
                    "type": "Expression"
                  },
                  "Subject": {
                    "value": "",
                    "type": "Expression"
                  },
                  "SourceSystem": {
                    "value": "",
                    "type": "Expression"
                  },
                  "TargetSystem": {
                    "value": "",
                    "type": "Expression"
                  },
                  "RunCycle": {
                    "value": "",
                    "type": "Expression"
                  }
                }
              }
            },
            {
              "name": "Set_RunCycleDate",
              "type": "SetVariable",
              "dependsOn": [
                {
                  "activity": "Variables_GetRunCycleDate",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "typeProperties": {
                "variableName": "RunCycleDate",
                "value": {
                  "value": "@activity('Variables_GetRunCycleDate').output",
                  "type": "Expression"
                }
              }
            },
            {
              "name": "Variables_FORMAT_DATE_RunIDTimeStamp",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "Set_RunCycleDate",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "typeProperties": {
                "notebookPath": "/Shared/FORMAT_DATE",
                "baseParameters": {
                  "pInDate": {
                    "value": "@variables('RunID')",
                    "type": "Expression"
                  },
                  "pSource": "RUNID",
                  "pSourceFormat": "TIMESTAMP",
                  "pOutFormat": "DB2TIMESTAMP"
                }
              }
            },
            {
              "name": "Set_RunIDTimeStamp",
              "type": "SetVariable",
              "dependsOn": [
                {
                  "activity": "Variables_FORMAT_DATE_RunIDTimeStamp",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "typeProperties": {
                "variableName": "RunIDTimeStamp",
                "value": {
                  "value": "@activity('Variables_FORMAT_DATE_RunIDTimeStamp').output",
                  "type": "Expression"
                }
              }
            },
            {
              "name": "Variables_PrefixFKeyFailedFileName",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "Set_RunIDTimeStamp",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "typeProperties": {
                "notebookPath": "/Shared/BuildPrefixFKeyFailedFileName",
                "baseParameters": {
                  "arg1": "FKeysFailure",
                  "arg2": {
                    "value": "@pipeline().Pipeline",
                    "type": "Expression"
                  },
                  "arg3": {
                    "value": "@variables('RunID')",
                    "type": "Expression"
                  }
                }
              }
            },
            {
              "name": "Set_PrefixFKeyFailedFileName",
              "type": "SetVariable",
              "dependsOn": [
                {
                  "activity": "Variables_PrefixFKeyFailedFileName",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "typeProperties": {
                "variableName": "PrefixFKeyFailedFileName",
                "value": {
                  "value": "@activity('Variables_PrefixFKeyFailedFileName').output",
                  "type": "Expression"
                }
              }
            },
            {
              "name": "ExclusionListDelete",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "Set_PrefixFKeyFailedFileName",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_notebook_path,'/JobSequencer/CommonComponents/ExclusionListDelete')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "ids_owner_schema": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "ids_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                    "type": "Expression"
                  },
                  "subject": {
                    "value": "@variables('JobName')",
                    "type": "Expression"
                  }
                }
              },
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              }
            }
          ]
        }
      },
      {
        "name": "Switch_If_1C",
        "type": "Switch",
        "dependsOn": [
          {
            "activity": "Switch_CountChk",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "on": {
            "value": "@if(and(equals(variables('var_CountChk_branch'), '0'), equals(parameters('FTPCheck'), 'Y')),'1','0')",
            "type": "Expression"
          },
          "cases": [
            {
              "value": "1",
              "activities": [
                {
                  "name": "Set_If_1C_branch_true",
                  "type": "SetVariable",
                  "policy": {
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "variableName": "var_If_1C_branch",
                    "value": {
                      "value": "'1'",
                      "type": "Expression"
                    }
                  }
                },
                {
                  "name": "LAN_Comm_Mnl_Pymt",
                  "type": "DatabricksNotebook",
                  "dependsOn": [
                    {
                      "activity": "Set_If_1C_branch_true",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "timeout": "12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "notebookPath": {
                      "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/FTP')",
                      "type": "Expression"
                    },
                    "baseParameters": {
                      "MACHINE": "o_lib",
                      "FTPCMD": "get",
                      "LOCALPATH": "library/library/IS/Non-PHI/Shared/Commission_Income_F_MnlPymt/Process",
                      "LOCALFILENAME": {
                        "value": "@concat(pipeline().parameters.Environment,'_ComsnIncmMnlPymt_Process.csv')",
                        "type": "Expression"
                      },
                      "REMOTEPATH": {
                        "value": "@concat(pipeline().globalParameters.gbl_param_FilePath,'/landing')",
                        "type": "Expression"
                      },
                      "REMOTEFILENAME": "ComsnIncmMnlPymt.csv"
                    }
                  },
                  "linkedServiceName": {
                    "referenceName": "shareddatabricks",
                    "type": "LinkedServiceReference"
                  }
                }
              ]
            }
          ],
          "defaultActivities": [
            {
              "name": "Set_If_1C_branch_false",
              "type": "SetVariable",
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "var_If_1C_branch",
                "value": {
                  "value": "'0'",
                  "type": "Expression"
                }
              }
            }
          ]
        }
      },
      {
        "name": "Switch_If_1C_Continuation",
        "type": "Switch",
        "dependsOn": [
          {
            "activity": "Switch_If_1C",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "on": {
            "value": "@if(equals(variables('var_CountChk_branch'),'0'),'1','0')",
            "type": "Expression"
          },
          "cases": [
            {
              "value": "1",
              "activities": [
                {
                  "name": "Set_If_1C_Continuation_branch_true",
                  "type": "SetVariable",
                  "policy": {
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "variableName": "var_If_1C_Continuation_branch",
                    "value": {
                      "value": "'1'",
                      "type": "Expression"
                    }
                  }
                },
                {
                  "name": "ListFile",
                  "type": "SetVariable",
                  "dependsOn": [
                    {
                      "activity": "ListFile_LIST_FILES",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "variableName": "ListFile_CommMnlPymtFile",
                    "value": {
                      "value": "@string(activity('ListFile_LIST_FILES').output.runOutput)",
                      "type": "Expression"
                    }
                  }
                }
              ]
            }
          ],
          "defaultActivities": [
            {
              "name": "Set_If_1C_Continuation_branch_false",
              "type": "SetVariable",
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "var_If_1C_Continuation_branch",
                "value": {
                  "value": "'0'",
                  "type": "Expression"
                }
              }
            }
          ]
        }
      },
      {
        "name": "Switch_If_1A",
        "type": "Switch",
        "dependsOn": [
          {
            "activity": "Switch_If_1C_Continuation",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "on": {
            "value": "@if(and(equals(variables('var_CountChk_branch'),'0'), equals(variables('var_If_1C_Continuation_branch'),'1'), equals(indexOf(concat(';', variables('ExclusionList'), ';'), ';FctsCommissionMonthlyExtrSeq;'), -1)),'1','0')",
            "type": "Expression"
          },
          "cases": [
            {
              "value": "1",
              "activities": [
                {
                  "name": "Set_If_1A_branch_true",
                  "type": "SetVariable",
                  "policy": {
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "variableName": "var_If_1A_branch",
                    "value": {
                      "value": "'1'",
                      "type": "Expression"
                    }
                  }
                },
                {
                  "name": "FctsCommissionMonthlyExtrSeq",
                  "type": "ExecutePipeline",
                  "dependsOn": [
                    {
                      "activity": "Set_If_1A_branch_true",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "pipeline": {
                      "referenceName": "FctsCommissionMonthlyExtrSeq",
                      "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                      "RunID": {
                        "value": "@variables('RunID')",
                        "type": "Expression"
                      },
                      "ExclusionList": {
                        "value": "@variables('ExclusionList')",
                        "type": "Expression"
                      },
                      "RunCycle": {
                        "value": "@variables('Time_RunCycle')",
                        "type": "Expression"
                      },
                      "RunCycleDate": {
                        "value": "@variables('RunCycleDate')",
                        "type": "Expression"
                      },
                      "SrcSysCd": {
                        "value": "@variables('Source')",
                        "type": "Expression"
                      },
                      "SrcSysCdSk": {
                        "value": "@variables('SourceSK')",
                        "type": "Expression"
                      },
                      "BCBSOwner": {
                        "value": "@pipeline().globalParameters.gbl_param_BCBSOwner",
                        "type": "Expression"
                      },
                      "IDSOwner": {
                        "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                        "type": "Expression"
                      },
                      "ids_secret_name": {
                        "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                        "type": "Expression"
                      },
                      "FacetsOwner": {
                        "value": "@pipeline().globalParameters.gbl_param_FacetsOwner",
                        "type": "Expression"
                      },
                      "TransYrMo": {
                        "value": "@variables('TransYrMo')",
                        "type": "Expression"
                      },
                      "SubjCd": {
                        "value": "@variables('Subject')",
                        "type": "Expression"
                      },
                      "CommMnlPymtFile": {
                        "value": "@variables('ListFile_CommMnlPymtFile')",
                        "type": "Expression"
                      }
                    }
                  }
                }
              ]
            }
          ],
          "defaultActivities": [
            {
              "name": "Set_If_1A_branch_false",
              "type": "SetVariable",
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "var_If_1A_branch",
                "value": {
                  "value": "'0'",
                  "type": "Expression"
                }
              }
            }
          ]
        }
      },
      {
        "name": "Switch_If_1B",
        "type": "Switch",
        "dependsOn": [
          {
            "activity": "Switch_If_1A",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "on": {
            "value": "@if(and(equals(variables('var_CountChk_branch'),'0'), equals(variables('var_If_1C_Continuation_branch'),'1'), equals(variables('var_If_1A_branch'),'1'), equals(indexOf(concat(';', variables('ExclusionList'), ';'), ';FctsCommissionMonthlyLoadSeq;'), -1)),'1','0')",
            "type": "Expression"
          },
          "cases": [
            {
              "value": "1",
              "activities": [
                {
                  "name": "Set_If_1B_branch_true",
                  "type": "SetVariable",
                  "policy": {
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "variableName": "var_If_1B_branch",
                    "value": {
                      "value": "'1'",
                      "type": "Expression"
                    }
                  }
                },
                {
                  "name": "FctsCommissionMonthlyLoadSeq",
                  "type": "ExecutePipeline",
                  "dependsOn": [
                    {
                      "activity": "Set_If_1B_branch_true",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "pipeline": {
                      "referenceName": "FctsCommissionMonthlyLoadSeq",
                      "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                      "Logging": "Y",
                      "RunCycle": {
                        "value": "@variables('Time_RunCycle')",
                        "type": "Expression"
                      },
                      "RunID": {
                        "value": "@variables('RunID')",
                        "type": "Expression"
                      },
                      "ExclusionList": {
                        "value": "@variables('ExclusionList')",
                        "type": "Expression"
                      },
                      "SrcSysCdSk": {
                        "value": "@variables('SourceSK')",
                        "type": "Expression"
                      },
                      "IDSOwner": {
                        "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                        "type": "Expression"
                      },
                      "ids_secret_name": {
                        "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                        "type": "Expression"
                      }
                    }
                  }
                }
              ]
            }
          ],
          "defaultActivities": [
            {
              "name": "Set_If_1B_branch_false",
              "type": "SetVariable",
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "var_If_1B_branch",
                "value": {
                  "value": "'0'",
                  "type": "Expression"
                }
              }
            }
          ]
        }
      },
      {
        "name": "Switch_If_1B_Continuation",
        "type": "Switch",
        "dependsOn": [
          {
            "activity": "Switch_If_1B",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "on": {
            "value": "@if(and(equals(variables('var_CountChk_branch'),'0'),equals(variables('var_If_1C_Continuation_branch'),'1')),'1','0')",
            "type": "Expression"
          },
          "cases": [
            {
              "value": "1",
              "activities": [
                {
                  "name": "Set_If_1B_Continuation_branch_true",
                  "type": "SetVariable",
                  "policy": {
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "variableName": "var_If_1B_Continuation_branch",
                    "value": {
                      "value": "'1'",
                      "type": "Expression"
                    }
                  }
                },
                {
                  "name": "MvProcessed",
                  "type": "DatabricksNotebook",
                  "dependsOn": [
                    {
                      "activity": "Set_If_1B_Continuation_branch_true",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "timeout": "12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "notebookPath": {
                      "value": "@concat(pipeline().globalParameters.gbl_param_scripts,'/Generic_ADLS_File_Operations')",
                      "type": "Expression"
                    },
                    "baseParameters": {
                      "src_file_with_path": {
                        "value": "/ListFile_CommMnlPymtFile",
                        "type": "Expression"
                      },
                      "trgt_file_with_path": {
                        "value": "/ListFile_CommMnlPymtFile",
                        "type": "Expression"
                      },
                      "command": "move",
                      "project": "integrate"
                    }
                  },
                  "linkedServiceName": {
                    "referenceName": "shareddatabricks",
                    "type": "LinkedServiceReference"
                  }
                },
                {
                  "name": "CloseRunCycle",
                  "type": "DatabricksNotebook",
                  "dependsOn": [
                    {
                      "activity": "MvProcessed",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "timeout": "12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "notebookPath": {
                      "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/CloseRunCycle')",
                      "type": "Expression"
                    },
                    "baseParameters": {
                      "DBOwner": {
                        "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                        "type": "Expression"
                      },
                      "SrcSystem": {
                        "value": "@variables('Source')",
                        "type": "Expression"
                      },
                      "TrgtSystem": {
                        "value": "@variables('Target')",
                        "type": "Expression"
                      },
                      "SubjCode": {
                        "value": "@variables('Subject')",
                        "type": "Expression"
                      },
                      "FreqCode": "MONTHLY",
                      "RunCycle": {
                        "value": "@variables('Time_RunCycle')",
                        "type": "Expression"
                      },
                      "secret_name": {
                        "value": "",
                        "type": "Expression"
                      }
                    }
                  },
                  "linkedServiceName": {
                    "referenceName": "shareddatabricks",
                    "type": "LinkedServiceReference"
                  }
                }
              ]
            }
          ],
          "defaultActivities": [
            {
              "name": "Set_If_1B_Continuation_branch_false",
              "type": "SetVariable",
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "var_If_1B_Continuation_branch",
                "value": {
                  "value": "'0'",
                  "type": "Expression"
                }
              }
            }
          ]
        }
      }
    ]
  }
}