npw-projects-np-projects-bluekc-translated-66e9366f6cca/Sprint_3_4_5/SequenceJobs/Integrate/FctsAuditCntl.json
{
  "name": "FctsAuditCntl",
  "type": "Microsoft.DataFactory/factories/pipelines",
  "properties": {
    "folder": {
      "name": "Integrate/Jobs/Audit"
    },
    "parameters": {
      "Logging": {
        "type": "String",
        "defaultValue": "Y"
      }
    },
    "variables": {
      "JobName": {
        "type": "String",
        "defaultValue": ""
      },
      "GroupName": {
        "type": "String",
        "defaultValue": "MBR_AUDIT"
      },
      "Source": {
        "type": "String",
        "defaultValue": "FACETS"
      },
      "Target": {
        "type": "String",
        "defaultValue": "IDS"
      },
      "Subject": {
        "type": "String",
        "defaultValue": "MEMBER_AUDIT"
      },
      "Frequency": {
        "type": "String",
        "defaultValue": "DAILY"
      },
      "BeginDate": {
        "type": "String",
        "defaultValue": ""
      },
      "RunCycle": {
        "type": "String",
        "defaultValue": ""
      },
      "EndDate": {
        "type": "String",
        "defaultValue": ""
      },
      "ExclusionList": {
        "type": "String",
        "defaultValue": ""
      },
      "RunID": {
        "type": "String",
        "defaultValue": ""
      },
      "LinkCount": {
        "type": "String",
        "defaultValue": ""
      }
    },
    "activities": [
      {
        "name": "Set_JobName",
        "type": "SetVariable",
        "dependsOn": [],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "JobName",
          "value": {
            "value": "@pipeline().Pipeline",
            "type": "Expression"
          }
        }
      },
      {
        "name": "GetRunInfo_BeginDate",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "Set_JobName",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/GetRunInfo')",
            "type": "Expression"
          },
          "baseParameters": {
            "job_name": {
              "value": "@concat(variables('JobName'),'BeginDate')",
              "type": "Expression"
            },
            "GlobalEnvironment": {
              "value": "@pipeline().globalParameters.gbl_param_environment",
              "type": "Expression"
            },
            "secret_name": {
              "value": "",
              "type": "Expression"
            },
            "IDSOwner": {
              "value": "",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "Set_BeginDate",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "GetRunInfo_BeginDate",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "BeginDate",
          "value": {
            "value": "@string(activity('GetRunInfo_BeginDate').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "OpenRunCycle_RunCycle",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "Set_BeginDate",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/OpenRunCycle')",
            "type": "Expression"
          },
          "baseParameters": {
            "DBOwner": {
              "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
              "type": "Expression"
            },
            "Source": {
              "value": "@variables('Source')",
              "type": "Expression"
            },
            "Target": {
              "value": "@variables('Target')",
              "type": "Expression"
            },
            "Subject": {
              "value": "@variables('Subject')",
              "type": "Expression"
            },
            "Frequency": {
              "value": "@variables('Frequency')",
              "type": "Expression"
            },
            "GlobalEnvironment": {
              "value": "@pipeline().globalParameters.gbl_param_environment",
              "type": "Expression"
            },
            "secret_name": {
              "value": "",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "Set_RunCycle",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "OpenRunCycle_RunCycle",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "RunCycle",
          "value": {
            "value": "@string(activity('OpenRunCycle_RunCycle').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "FORMATDATE_EndDate",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "Set_RunCycle",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/FORMAT.DATE')",
            "type": "Expression"
          },
          "baseParameters": {
            "pInDate": "string('@DATE')",
            "pSource": "DATE",
            "pSourceFormat": "CURRENT",
            "pOutFormat": "CCYY-MM-DD"
          }
        }
      },
      {
        "name": "Set_EndDate",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "FORMATDATE_EndDate",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "EndDate",
          "value": {
            "value": "@string(activity('FORMATDATE_EndDate').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "ExclusionListExtr",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "Set_EndDate",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_notebook_path,'/JobSequencer/CommonComponents/ExclusionListExtr')",
            "type": "Expression"
          },
          "baseParameters": {
            "ids_owner_schema": {
              "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
              "type": "Expression"
            },
            "ids_secret_name": {
              "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
              "type": "Expression"
            },
            "Subject": {
              "value": "@variables('JobName')",
              "type": "Expression"
            },
            "ids_staging_schema": {
              "value": "@pipeline().globalParameters.gbl_param_ids_staging",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "WriteRunID",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "ExclusionListExtr",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_notebook_path,'/Routines/ProcessControl/WriteRunID')",
            "type": "Expression"
          },
          "baseParameters": {
            "entry_name": {
              "value": "@concat(variables('JobName'),'RunID')",
              "type": "Expression"
            },
            "GlobalEnvironment": {
              "value": "@pipeline().globalParameters.gbl_param_environment",
              "type": "Expression"
            },
            "secret_name": {
              "value": "",
              "type": "Expression"
            },
            "IDSOwner": {
              "value": "",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "WriteEndDate",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "WriteRunID",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_notebook_path,'/Routines/ProcessControl/WriteRunInfo')",
            "type": "Expression"
          },
          "baseParameters": {
            "arg1": {
              "value": "@concat(variables('JobName'),'EndDate')",
              "type": "Expression"
            },
            "arg2": {
              "value": "@variables('EndDate')",
              "type": "Expression"
            },
            "arg3": {
              "value": "@variables('EndDate')",
              "type": "Expression"
            },
            "GlobalEnvironment": {
              "value": "@pipeline().globalParameters.gbl_param_environment",
              "type": "Expression"
            },
            "secret_name": {
              "value": "",
              "type": "Expression"
            },
            "IDSOwner": {
              "value": "",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "GetExclusionList_ExclusionList",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "WriteEndDate",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/GetExclusionList')",
            "type": "Expression"
          },
          "baseParameters": {
            "Subject": {
              "value": "@variables('JobName')",
              "type": "Expression"
            },
            "GlobalEnvironment": {
              "value": "@pipeline().globalParameters.gbl_param_environment",
              "type": "Expression"
            },
            "secret_name": {
              "value": "",
              "type": "Expression"
            },
            "DBOwner": {
              "value": "",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "Set_ExclusionList",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "GetExclusionList_ExclusionList",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "ExclusionList",
          "value": {
            "value": "@string(activity('GetExclusionList_ExclusionList').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "GetRunInfo_RunID",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "Set_ExclusionList",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/GetRunInfo')",
            "type": "Expression"
          },
          "baseParameters": {
            "job_name": {
              "value": "@concat(variables('JobName'),'RunID')",
              "type": "Expression"
            },
            "GlobalEnvironment": {
              "value": "@pipeline().globalParameters.gbl_param_environment",
              "type": "Expression"
            },
            "secret_name": {
              "value": "",
              "type": "Expression"
            },
            "IDSOwner": {
              "value": "",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "Set_RunID",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "GetRunInfo_RunID",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "RunID",
          "value": {
            "value": "@string(activity('GetRunInfo_RunID').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "GetRunInfo_EndDate",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "Set_RunID",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/GetRunInfo')",
            "type": "Expression"
          },
          "baseParameters": {
            "job_name": {
              "value": "@concat(variables('JobName'),'EndDate')",
              "type": "Expression"
            },
            "GlobalEnvironment": {
              "value": "@pipeline().globalParameters.gbl_param_environment",
              "type": "Expression"
            },
            "secret_name": {
              "value": "",
              "type": "Expression"
            },
            "IDSOwner": {
              "value": "",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "Set_EndDate2",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "GetRunInfo_EndDate",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "EndDate",
          "value": {
            "value": "@string(activity('GetRunInfo_EndDate').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "ExclusionListDelete",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "Set_EndDate2",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_notebook_path,'/JobSequencer/CommonComponents/ExclusionListDelete')",
            "type": "Expression"
          },
          "baseParameters": {
            "ids_owner_schema": {
              "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
              "type": "Expression"
            },
            "ids_secret_name": {
              "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
              "type": "Expression"
            },
            "subject": {
              "value": "@variables('JobName')",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "If_1A",
        "type": "IfCondition",
        "dependsOn": [
          {
            "activity": "ExclusionListDelete",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "expression": {
            "value": "@equals(count(split(variables('ExclusionList'), ';'), 'FctsAuditExtrSeq'), 0)",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "name": "FctsAuditExtrSeq",
              "type": "ExecutePipeline",
              "dependsOn": [],
              "policy": {
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "waitOnCompletion": true,
                "parameters": {
                  "RunCycle": {
                    "value": "@variables('RunCycle')",
                    "type": "Expression"
                  },
                  "RunID": {
                    "value": "@variables('RunID')",
                    "type": "Expression"
                  },
                  "BeginDate": {
                    "value": "@variables('BeginDate')",
                    "type": "Expression"
                  },
                  "EndDate": {
                    "value": "@variables('EndDate')",
                    "type": "Expression"
                  },
                  "TableID": {
                    "value": "@variables('RunID')",
                    "type": "Expression"
                  },
                  "ExclusionList": {
                    "value": "@variables('ExclusionList')",
                    "type": "Expression"
                  },
                  "IDSOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "FacetsAuditOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_FacetsAuditOwner",
                    "type": "Expression"
                  },
                  "FacetsOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_FacetsOwner",
                    "type": "Expression"
                  },
                  "BCBSOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_BCBSOwner",
                    "type": "Expression"
                  }
                }
              }
            }
          ],
          "ifFalseActivities": []
        }
      },
      {
        "name": "If_1B",
        "type": "IfCondition",
        "dependsOn": [
          {
            "activity": "If_1A",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "expression": {
            "value": "@equals(count(split(variables('ExclusionList'), ';'), 'IdsFctsAuditLoadSeq'), 0)",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "name": "IdsFctsAuditLoadSeq",
              "type": "ExecutePipeline",
              "dependsOn": [],
              "policy": {
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "waitOnCompletion": true,
                "parameters": {
                  "Logging": {
                    "value": "@pipeline().parameters.Logging",
                    "type": "Expression"
                  },
                  "RunCycle": {
                    "value": "@variables('RunCycle')",
                    "type": "Expression"
                  },
                  "RunID": {
                    "value": "@variables('RunID')",
                    "type": "Expression"
                  },
                  "ExclusionList": {
                    "value": "@variables('ExclusionList')",
                    "type": "Expression"
                  },
                  "IDSOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  }
                }
              }
            }
          ],
          "ifFalseActivities": []
        }
      },
      {
        "name": "If_3C",
        "type": "IfCondition",
        "dependsOn": [
          {
            "activity": "If_1B",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "expression": {
            "value": "@equals(count(split(variables('ExclusionList'), ';'), 'IdsAuditFixZeroSeq'), 0)",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "name": "IdsAuditFixZeroSeq",
              "type": "ExecutePipeline",
              "dependsOn": [],
              "policy": {
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "waitOnCompletion": true,
                "parameters": {
                  "IDSOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "ExclusionList": {
                    "value": "@variables('ExclusionList')",
                    "type": "Expression"
                  },
                  "RunCycle": {
                    "value": "@variables('RunCycle')",
                    "type": "Expression"
                  },
                  "RunID": {
                    "value": "@variables('RunID')",
                    "type": "Expression"
                  }
                }
              }
            }
          ],
          "ifFalseActivities": []
        }
      },
      {
        "name": "If_4C",
        "type": "IfCondition",
        "dependsOn": [
          {
            "activity": "If_3C",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "expression": {
            "value": "@equals(count(split(variables('ExclusionList'), ';'), 'UpdateBeginDate'), 0)",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "name": "UpdateBeginDate",
              "type": "DatabricksNotebook",
              "dependsOn": [],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_notebook_path,'/Routines/ProcessControl/WriteRunInfo')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "arg1": {
                    "value": "@concat(variables('JobName'),'BeginDate')",
                    "type": "Expression"
                  },
                  "arg2": {
                    "value": "@variables('EndDate')",
                    "type": "Expression"
                  },
                  "arg3": {
                    "value": "@variables('BeginDate')",
                    "type": "Expression"
                  },
                  "GlobalEnvironment": {
                    "value": "@pipeline().globalParameters.gbl_param_environment",
                    "type": "Expression"
                  },
                  "secret_name": {
                    "value": "",
                    "type": "Expression"
                  },
                  "IDSOwner": {
                    "value": "",
                    "type": "Expression"
                  }
                }
              }
            }
          ],
          "ifFalseActivities": []
        }
      },
      {
        "name": "CloseRunCycle",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "If_4C",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_notebook_path,'/Routines/Cycle/CloseRunCycle')",
            "type": "Expression"
          },
          "baseParameters": {
            "DBOwner": {
              "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
              "type": "Expression"
            },
            "SrcSystem": {
              "value": "@variables('Source')",
              "type": "Expression"
            },
            "TrgtSystem": {
              "value": "@variables('Target')",
              "type": "Expression"
            },
            "SubjCode": {
              "value": "@variables('Subject')",
              "type": "Expression"
            },
            "FreqCode": {
              "value": "@variables('Frequency')",
              "type": "Expression"
            },
            "RunCycle": {
              "value": "@variables('RunCycle')",
              "type": "Expression"
            },
            "GlobalEnvironment": {
              "value": "@pipeline().globalParameters.gbl_param_environment",
              "type": "Expression"
            },
            "secret_name": {
              "value": "",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "SaveRunCycle",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "CloseRunCycle",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_notebook_path,'/Routines/ProcessControl/WriteRunInfo')",
            "type": "Expression"
          },
          "baseParameters": {
            "arg1": "FctsAuditCntlRunCyc",
            "arg2": {
              "value": "@variables('RunCycle')",
              "type": "Expression"
            },
            "arg3": {
              "value": "@variables('RunCycle')",
              "type": "Expression"
            },
            "GlobalEnvironment": {
              "value": "@pipeline().globalParameters.gbl_param_environment",
              "type": "Expression"
            },
            "secret_name": {
              "value": "",
              "type": "Expression"
            },
            "IDSOwner": {
              "value": "",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "JobLinkCount_LinkCount",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "SaveRunCycle",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/JobLinkCount')",
            "type": "Expression"
          },
          "baseParameters": {
            "JobLinkCount_a1": "FctsMbrAuditExtr",
            "JobLinkCount_a2": "PrimaryKey",
            "JobLinkCount_a3": "Key",
            "GlobalEnvironment": {
              "value": "@pipeline().globalParameters.gbl_param_environment",
              "type": "Expression"
            },
            "file_path": {
              "value": "",
              "type": "Expression"
            },
            "EnvProjectPath": {
              "value": "",
              "type": "Expression"
            },
            "delimiter": {
              "value": "",
              "type": "Expression"
            },
            "quote": {
              "value": "",
              "type": "Expression"
            },
            "header": {
              "value": "",
              "type": "Expression"
            },
            "nullValue": {
              "value": "",
              "type": "Expression"
            },
            "table_nm": {
              "value": "",
              "type": "Expression"
            },
            "schema": {
              "value": "",
              "type": "Expression"
            },
            "secret_name": {
              "value": "",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "Set_LinkCount",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "JobLinkCount_LinkCount",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "LinkCount",
          "value": {
            "value": "@string(activity('JobLinkCount_LinkCount').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "If_4A",
        "type": "IfCondition",
        "dependsOn": [
          {
            "activity": "Set_LinkCount",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "expression": {
            "value": "@equals(count(split(variables('ExclusionList'), ';'), 'ProcessRptExtr'), 0)",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "name": "ProcessRptExtr",
              "type": "DatabricksNotebook",
              "dependsOn": [],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_notebook_path,'/util/ProcessRpt/ProcessRptExtr')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "RunCycle": {
                    "value": "@variables('RunCycle')",
                    "type": "Expression"
                  },
                  "Subject": {
                    "value": "@variables('Subject')",
                    "type": "Expression"
                  },
                  "SourceSys": {
                    "value": "@variables('Source')",
                    "type": "Expression"
                  },
                  "TargetSys": {
                    "value": "@variables('Target')",
                    "type": "Expression"
                  },
                  "RowCount": {
                    "value": "@variables('LinkCount')",
                    "type": "Expression"
                  },
                  "IDSOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "GlobalEnvironment": {
                    "value": "@pipeline().globalParameters.gbl_param_environment",
                    "type": "Expression"
                  }
                }
              }
            }
          ],
          "ifFalseActivities": []
        }
      }
    ]
  }
}