npw-projects-np-projects-bluekc-translated-66e9366f6cca/Sprint_3_4_5/SequenceJobs/Integrate/GLJeIdsWrkdyTotalsCntl.json
{
  "name": "GLJeIdsWrkdyTotalsCntl",
  "type": "Microsoft.DataFactory/factories/pipelines",
  "properties": {
    "folder": {
      "name": "Integrate/Jobs/PeopleSoft"
    },
    "parameters": {
      "TransJob": {
        "type": "String",
        "defaultValue": ""
      },
      "Environment": {
        "type": "String",
        "defaultValue": ""
      },
      "SysRunDate": {
        "type": "String",
        "defaultValue": ""
      }
    },
    "variables": {
      "JobName": {
        "type": "String",
        "defaultValue": ""
      },
      "GroupName": {
        "type": "String",
        "defaultValue": "IDS_FINANCE"
      },
      "Source": {
        "type": "String",
        "defaultValue": "PSI"
      },
      "Target": {
        "type": "String",
        "defaultValue": "IDS"
      },
      "Subject": {
        "type": "String",
        "defaultValue": "FINANCE"
      },
      "Frequency": {
        "type": "String",
        "defaultValue": "MONTHLY"
      },
      "RunDate": {
        "type": "String",
        "defaultValue": ""
      },
      "LinkCount": {
        "type": "String",
        "defaultValue": ""
      },
      "RunID": {
        "type": "String",
        "defaultValue": ""
      },
      "ExclusionList": {
        "type": "String",
        "defaultValue": ""
      },
      "Trans_JeNme": {
        "type": "String",
        "defaultValue": ""
      },
      "ExtDate": {
        "type": "String",
        "defaultValue": ""
      },
      "CurrDate": {
        "type": "String",
        "defaultValue": ""
      },
      "RunCycle": {
        "type": "String",
        "defaultValue": ""
      },
      "var_CountChk_branch": {
        "type": "String",
        "defaultValue": ""
      },
      "var_If_1A_branch": {
        "type": "String",
        "defaultValue": ""
      },
      "var_If_1A_Continuation_branch": {
        "type": "String",
        "defaultValue": ""
      }
    },
    "activities": [
      {
        "name": "Set_JobName",
        "type": "SetVariable",
        "dependsOn": [],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "JobName",
          "value": {
            "value": "@pipeline().Pipeline",
            "type": "Expression"
          }
        }
      },
      {
        "name": "FORMAT_DATE_RunDate",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "Set_JobName",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/FORMAT.DATE')",
            "type": "Expression"
          },
          "baseParameters": {
            "pInDate": "string('@DATE')",
            "pSource": "DATE",
            "pSourceFormat": "CURRENT",
            "pOutFormat": "CCYY-MM-DD"
          }
        },
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        }
      },
      {
        "name": "Set_RunDate",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "FORMAT_DATE_RunDate",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "RunDate",
          "value": {
            "value": "@string(activity('FORMAT_DATE_RunDate').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "ProcessCheckExtr",
        "type": "Lookup",
        "dependsOn": [
          {
            "activity": "Set_RunDate",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "source": {
            "type": "AzureSqlSource",
            "sqlReaderQuery": {
              "value": "WITH db2_data AS (\n    select SUBJ_CD, TRGT_SYS_CD, SRC_SYS_CD\n    from @{pipeline().globalParameters.gbl_param_IDSOwner}.P_RUN_CYC\n    where CYC_STTUS_CD = 'RUNNING'\n       and SUBJ_CD = '@{variables('Subject')}'\n       and TRGT_SYS_CD = '@{variables('Target')}'\n    UNION\n    select SUBJ_CD, TRGT_SYS_CD, SRC_SYS_CD\n    from @{pipeline().globalParameters.gbl_param_IDSOwner}.P_RUN_CYC\n    where CYC_STTUS_CD = 'RUNNING'\n       and SUBJ_CD = '@{variables('Subject')}'\n       and SRC_SYS_CD <> '@{variables('Source')}'\n       and TRGT_SYS_CD = '@{variables('Target')}'\n    UNION\n    select SUBJ_CD, TRGT_SYS_CD, SRC_SYS_CD\n    from @{pipeline().globalParameters.gbl_param_IDSOwner}.P_RUN_CYC\n    where CYC_STTUS_CD = 'RUNNING'\n       and SUBJ_CD = '@{variables('Subject')}'\n       and SRC_SYS_CD = '@{variables('Source')}'\n),\ntransformed_data AS (\n    SELECT SUBJ_CD, SRC_SYS_CD, TRGT_SYS_CD\n    FROM db2_data\n)\nSELECT COUNT(*) as link_count FROM transformed_data",
              "type": "Expression"
            },
            "queryTimeout": "02:00:00",
            "partitionOption": "None"
          },
          "dataset": {
            "referenceName": "ds_ids",
            "type": "DatasetReference",
            "parameters": {
              "param_schema": "@pipeline().globalParameters.gbl_param_IDSOwner",
              "param_table": "P_RUN_CYC"
            }
          }
        }
      },
      {
        "name": "LinkCount_SetVar",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "ProcessCheckExtr",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "LinkCount",
          "value": {
            "value": "@string(activity('ProcessCheckExtr').output.firstRow.link_count)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "Switch_CountChk",
        "type": "Switch",
        "dependsOn": [
          {
            "activity": "LinkCount_SetVar",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "on": {
            "value": "@if(not(equals(variables('LinkCount'),'0')),'1','0')",
            "type": "Expression"
          },
          "cases": [
            {
              "value": "1",
              "activities": [
                {
                  "name": "SetFlag_CountChk_True",
                  "type": "SetVariable",
                  "dependsOn": [],
                  "policy": {
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "variableName": "var_CountChk_branch",
                    "value": "1"
                  }
                },
                {
                  "name": "Email_DAT",
                  "type": "ExecutePipeline",
                  "dependsOn": [
                    {
                      "activity": "SetFlag_CountChk_True",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "pipeline": {
                      "referenceName": "Email_Notification",
                      "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                      "recipients": {
                        "value": "_IS_FINANCE@BlueKC.com",
                        "type": "Expression"
                      },
                      "subject": "GL IDS Workday JE totals process Abort - GLJeIdsWrkdyTotalsCntl",
                      "body": "The GL IDS Workday JE totals process can not run while another instance of the job in the P_RUN_CYCLE is open as running\n\nPSJrnlEntryCntl used the following values when doing the ProcessCheckExtr:\nSubject: FINANCE\nSource: PSI\nTarget: IDS",
                      "blobFilenames": "",
                      "fromemail": {
                        "value": "@pipeline().globalParameters.gbl_param_fromemail",
                        "type": "Expression"
                      },
                      "containerName": ""
                    }
                  }
                }
              ]
            }
          ],
          "defaultActivities": [
            {
              "name": "SetFlag_CountChk_False",
              "type": "SetVariable",
              "dependsOn": [],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "var_CountChk_branch",
                "value": "0"
              }
            },
            {
              "name": "ExclusionListExtr",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "SetFlag_CountChk_False",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_notebook_path,'/JobSequencer/CommonComponents/ExclusionListExtr')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "ids_owner_schema": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "ids_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                    "type": "Expression"
                  },
                  "Subject": {
                    "value": "@variables('JobName')",
                    "type": "Expression"
                  },
                  "ids_staging_schema": {
                    "value": "@pipeline().globalParameters.gbl_param_ids_staging",
                    "type": "Expression"
                  }
                }
              },
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              }
            },
            {
              "name": "WriteRunID",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "ExclusionListExtr",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/WriteRunID')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "entry_name": {
                    "value": "@concat(variables('JobName'),'RunID')",
                    "type": "Expression"
                  },
                  "secret_name": {
                    "value": "",
                    "type": "Expression"
                  },
                  "IDSOwner": {
                    "value": "",
                    "type": "Expression"
                  }
                }
              },
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              }
            },
            {
              "name": "GetRunInfo",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "WriteRunID",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/GetRunInfo')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "job_name": {
                    "value": "@concat(variables('JobName'),'RunID')",
                    "type": "Expression"
                  },
                  "secret_name": {
                    "value": "",
                    "type": "Expression"
                  },
                  "IDSOwner": {
                    "value": "",
                    "type": "Expression"
                  }
                }
              },
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              }
            },
            {
              "name": "Set_RunID",
              "type": "SetVariable",
              "dependsOn": [
                {
                  "activity": "GetRunInfo",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "RunID",
                "value": {
                  "value": "@string(activity('GetRunInfo').output.runOutput)",
                  "type": "Expression"
                }
              }
            },
            {
              "name": "GetExclusionList",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "Set_RunID",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/GetExclusionList')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "Subject": {
                    "value": "@variables('JobName')",
                    "type": "Expression"
                  },
                  "secret_name": {
                    "value": "",
                    "type": "Expression"
                  },
                  "DBOwner": {
                    "value": "",
                    "type": "Expression"
                  }
                }
              },
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              }
            },
            {
              "name": "Set_ExclusionList",
              "type": "SetVariable",
              "dependsOn": [
                {
                  "activity": "GetExclusionList",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "ExclusionList",
                "value": {
                  "value": "@string(activity('GetExclusionList').output.runOutput)",
                  "type": "Expression"
                }
              }
            },
            {
              "name": "FIND_DATE_ExtDate",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "Set_ExclusionList",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/FIND.DATE')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "Start": {
                    "value": "@variables('RunDate')",
                    "type": "Expression"
                  },
                  "Num": "-1",
                  "Unit": "M",
                  "DayOf": "L",
                  "Output": "CCYY-MM-DD"
                }
              },
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              }
            },
            {
              "name": "Set_ExtDate",
              "type": "SetVariable",
              "dependsOn": [
                {
                  "activity": "FIND_DATE_ExtDate",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "ExtDate",
                "value": {
                  "value": "@string(activity('FIND_DATE_ExtDate').output.runOutput)",
                  "type": "Expression"
                }
              }
            },
            {
              "name": "FORMAT_DATE_CurrDate",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "Set_ExtDate",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/FORMAT.DATE')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "pInDate": "string('@DATE')",
                  "pSource": "DATE",
                  "pSourceFormat": "CURRENT",
                  "pOutFormat": "CCYY-MM-DD"
                }
              },
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              }
            },
            {
              "name": "Set_CurrDate",
              "type": "SetVariable",
              "dependsOn": [
                {
                  "activity": "FORMAT_DATE_CurrDate",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "CurrDate",
                "value": {
                  "value": "@string(activity('FORMAT_DATE_CurrDate').output.runOutput)",
                  "type": "Expression"
                }
              }
            },
            {
              "name": "OpenRunCycle",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "Set_CurrDate",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/OpenRunCycle')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "DBOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                    "type": "Expression"
                  },
                  "Source": {
                    "value": "@variables('Source')",
                    "type": "Expression"
                  },
                  "Target": {
                    "value": "@variables('Target')",
                    "type": "Expression"
                  },
                  "Subject": {
                    "value": "@variables('Subject')",
                    "type": "Expression"
                  },
                  "Frequency": {
                    "value": "@variables('Frequency')",
                    "type": "Expression"
                  }
                }
              },
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              }
            },
            {
              "name": "Set_RunCycle",
              "type": "SetVariable",
              "dependsOn": [
                {
                  "activity": "OpenRunCycle",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "RunCycle",
                "value": {
                  "value": "@string(activity('OpenRunCycle').output.runOutput)",
                  "type": "Expression"
                }
              }
            },
            {
              "name": "Set_Trans_JeNme",
              "type": "SetVariable",
              "dependsOn": [
                {
                  "activity": "Set_RunCycle",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "Trans_JeNme",
                "value": {
                  "value": "@if(equals(pipeline().parameters.TransJob,'Cap'),'CAP',if(equals(pipeline().parameters.TransJob,'Clm'),'CLAIM',if(equals(pipeline().parameters.TransJob,'NDBH'),'NDB',if(equals(pipeline().parameters.TransJob,'Comsn'),'COM',if(equals(pipeline().parameters.TransJob,'Incm'),'INCOME',if(equals(pipeline().parameters.TransJob,'820'),'820',if(equals(pipeline().parameters.TransJob,'MVP'),'MVP','DRUG')))))))",
                  "type": "Expression"
                }
              }
            },
            {
              "name": "ExclusionListDelete",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "Set_Trans_JeNme",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_notebook_path,'/JobSequencer/CommonComponents/ExclusionListDelete')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "ids_owner_schema": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "ids_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                    "type": "Expression"
                  },
                  "subject": {
                    "value": "@variables('JobName')",
                    "type": "Expression"
                  }
                }
              },
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              }
            }
          ]
        }
      },
      {
        "name": "Switch_If_1A",
        "type": "Switch",
        "dependsOn": [
          {
            "activity": "Switch_CountChk",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "on": {
            "value": "@if(and(equals(variables('var_CountChk_branch'),'0'),equals(indexOf(variables('ExclusionList'),'GLJeIdsWrkdyTotalsExtrSeq'),-1)),'1','0')",
            "type": "Expression"
          },
          "cases": [
            {
              "value": "1",
              "activities": [
                {
                  "name": "SetFlag_If_1A_True",
                  "type": "SetVariable",
                  "dependsOn": [],
                  "policy": {
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "variableName": "var_If_1A_branch",
                    "value": "1"
                  }
                },
                {
                  "name": "GLJeIdsWrkdyTotalsExtrSeq",
                  "type": "ExecutePipeline",
                  "dependsOn": [
                    {
                      "activity": "SetFlag_If_1A_True",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "pipeline": {
                      "referenceName": "GLJeIdsWrkdyTotalsExtrSeq",
                      "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                      "IDSOwner": {
                        "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                        "type": "Expression"
                      },
                      "ids_secret_name": {
                        "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                        "type": "Expression"
                      },
                      "BCBSFINOwner": {
                        "value": "@pipeline().globalParameters.gbl_param_BCBSFINOwner",
                        "type": "Expression"
                      },
                      "bcbsfin_secret_name": {
                        "value": "@pipeline().globalParameters.gbl_param_BCBSFINSecret",
                        "type": "Expression"
                      },
                      "RunID": {
                        "value": "@variables('RunID')",
                        "type": "Expression"
                      },
                      "RunCycle": {
                        "value": "@variables('RunCycle')",
                        "type": "Expression"
                      },
                      "ExclusionList": {
                        "value": "@variables('ExclusionList')",
                        "type": "Expression"
                      },
                      "TransJob": {
                        "value": "@pipeline().parameters.TransJob",
                        "type": "Expression"
                      },
                      "CurrDate": {
                        "value": "@variables('CurrDate')",
                        "type": "Expression"
                      },
                      "EndDt": {
                        "value": "@variables('ExtDate')",
                        "type": "Expression"
                      },
                      "Trans_JeNme": {
                        "value": "@variables('Trans_JeNme')",
                        "type": "Expression"
                      },
                      "Environment": {
                        "value": "@pipeline().parameters.Environment",
                        "type": "Expression"
                      }
                    }
                  }
                }
              ]
            }
          ],
          "defaultActivities": [
            {
              "name": "SetFlag_If_1A_False",
              "type": "SetVariable",
              "dependsOn": [],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "var_If_1A_branch",
                "value": "0"
              }
            }
          ]
        }
      },
      {
        "name": "Switch_If_1A_Continuation",
        "type": "Switch",
        "dependsOn": [
          {
            "activity": "Switch_If_1A",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "on": {
            "value": "@if(equals(variables('var_CountChk_branch'),'0'),'1','0')",
            "type": "Expression"
          },
          "cases": [
            {
              "value": "1",
              "activities": [
                {
                  "name": "SetFlag_If_1A_Continuation_True",
                  "type": "SetVariable",
                  "dependsOn": [],
                  "policy": {
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "variableName": "var_If_1A_Continuation_branch",
                    "value": "1"
                  }
                },
                {
                  "name": "FTPJeTotalstoLAN",
                  "type": "DatabricksNotebook",
                  "dependsOn": [
                    {
                      "activity": "SetFlag_If_1A_Continuation_True",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "timeout": "12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "notebookPath": {
                      "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/FTP')",
                      "type": "Expression"
                    },
                    "baseParameters": {
                      "MACHINE": "o_lib",
                      "FTPCMD": "put",
                      "LOCALPATH": {
                        "value": "@concat(pipeline().globalParameters.gbl_param_FilePath,'/external')",
                        "type": "Expression"
                      },
                      "LOCALFILENAME": {
                        "value": "@concat(pipeline().parameters.Environment,'_JRNL_ENTRY_',variables('Trans_JeNme'),'_TOTALS.txt')",
                        "type": "Expression"
                      },
                      "REMOTEPATH": "/library/library/IS/PHI11/Dedicated/ERP/Integrations/Finance/GL",
                      "REMOTEFILENAME": {
                        "value": "@concat(pipeline().parameters.Environment,'_JRNL_ENTRY_',variables('Trans_JeNme'),'_TOTALS.txt')",
                        "type": "Expression"
                      },
                      "GlobalEnvironment": {
                        "value": "@pipeline().globalParameters.gbl_param_environment",
                        "type": "Expression"
                      }
                    }
                  },
                  "linkedServiceName": {
                    "referenceName": "shareddatabricks",
                    "type": "LinkedServiceReference"
                  }
                },
                {
                  "name": "MvProcessed",
                  "type": "DatabricksNotebook",
                  "dependsOn": [
                    {
                      "activity": "FTPJeTotalstoLAN",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "timeout": "12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "notebookPath": {
                      "value": "@concat(pipeline().globalParameters.gbl_param_scripts, '/Generic_ADLS_File_Operations')",
                      "type": "Expression"
                    },
                    "baseParameters": {
                      "command": "move",
                      "project": "integrate"
                    }
                  },
                  "linkedServiceName": {
                    "referenceName": "shareddatabricks",
                    "type": "LinkedServiceReference"
                  }
                },
                {
                  "name": "CloseRunCycle",
                  "type": "DatabricksNotebook",
                  "dependsOn": [
                    {
                      "activity": "MvProcessed",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "timeout": "12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "notebookPath": {
                      "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/CloseRunCycle')",
                      "type": "Expression"
                    },
                    "baseParameters": {
                      "DBOwner": {
                        "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                        "type": "Expression"
                      },
                      "SrcSystem": {
                        "value": "@variables('Source')",
                        "type": "Expression"
                      },
                      "TrgtSystem": {
                        "value": "@variables('Target')",
                        "type": "Expression"
                      },
                      "SubjCode": {
                        "value": "@variables('Subject')",
                        "type": "Expression"
                      },
                      "FreqCode": {
                        "value": "@variables('Frequency')",
                        "type": "Expression"
                      },
                      "RunCycle": {
                        "value": "@variables('RunCycle')",
                        "type": "Expression"
                      },
                      "GlobalEnvironment": {
                        "value": "@pipeline().globalParameters.gbl_param_environment",
                        "type": "Expression"
                      },
                      "secret_name": {
                        "value": "",
                        "type": "Expression"
                      }
                    }
                  },
                  "linkedServiceName": {
                    "referenceName": "shareddatabricks",
                    "type": "LinkedServiceReference"
                  }
                }
              ]
            }
          ],
          "defaultActivities": [
            {
              "name": "SetFlag_If_1A_Continuation_False",
              "type": "SetVariable",
              "dependsOn": [],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "var_If_1A_Continuation_branch",
                "value": "0"
              }
            }
          ]
        }
      }
    ]
  }
}