npw-projects-np-projects-bluekc-translated-66e9366f6cca/Sprint_3_4_5/SequenceJobs/Integrate/HlthMineHRAACAMbrSrvyRspnExtrSeq.json
{
  "name": "HlthMineHRAACAMbrSrvyRspnExtrSeq",
  "type": "Microsoft.DataFactory/factories/pipelines",
  "properties": {
    "folder": {
      "name": "Integrate/Jobs/MedMgt/MemberSurvey/Seq/HEALTHMINE"
    },
    "parameters": {
      "ExclusionList": {
        "type": "String",
        "defaultValue": ""
      },
      "SrcSysCd": {
        "type": "String",
        "defaultValue": ""
      },
      "SrcSysCdSk": {
        "type": "String",
        "defaultValue": ""
      },
      "CurrDate": {
        "type": "String",
        "defaultValue": ""
      },
      "Logging": {
        "type": "String",
        "defaultValue": ""
      },
      "RunCycle": {
        "type": "String",
        "defaultValue": ""
      },
      "RunID": {
        "type": "String",
        "defaultValue": ""
      },
      "CurrDateTS": {
        "type": "String",
        "defaultValue": ""
      },
      "DataContent": {
        "type": "String",
        "defaultValue": ""
      },
      "InFile": {
        "type": "String",
        "defaultValue": ""
      },
      "FTPFiles": {
        "type": "String",
        "defaultValue": ""
      },
      "EmailNotify": {
        "type": "String",
        "defaultValue": ""
      },
      "Environment": {
        "type": "String",
        "defaultValue": ""
      },
      "FileRecCount": {
        "type": "String",
        "defaultValue": ""
      },
      "RecCountTrailer": {
        "type": "String",
        "defaultValue": ""
      },
      "SrvyFile": {
        "type": "String",
        "defaultValue": ""
      }
    },
    "variables": {
      "ErrorCount": {
        "type": "String",
        "defaultValue": ""
      },
      "JobLinkCount_a1": {
        "type": "String",
        "defaultValue": "HealthMineHRAMbrSrvyRspnFileValidnExtr"
      },
      "JobLinkCount_a2": {
        "type": "String",
        "defaultValue": "Trans5"
      },
      "JobLinkCount_a3": {
        "type": "String",
        "defaultValue": "Error"
      },
      "LinkCount": {
        "type": "String",
        "defaultValue": ""
      }
    },
    "activities": [
      {
        "name": "Check_Srvy_FIle",
        "type": "DatabricksNotebook",
        "dependsOn": [],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_scripts, '/Generic_ADLS_File_Operations')",
            "type": "Expression"
          },
          "baseParameters": {
            "src_file_with_path": {
              "value": "/landing/*HEALTHMINEACA_BCBSKC_SRVY*",
              "type": "Expression"
            },
            "command": "ls",
            "project": "integrate",
            "GlobalEnvironment": {
              "value": "@pipeline().globalParameters.gbl_param_environment",
              "type": "Expression"
            }
          }
        },
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        }
      },
      {
        "name": "If_1A",
        "type": "IfCondition",
        "dependsOn": [
          {
            "activity": "Check_Srvy_FIle",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "expression": {
            "value": "@equals(string(activity('Check_Srvy_FIle').output.runOutput),'1')",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "name": "IdsMbrSrvy",
              "type": "DatabricksNotebook",
              "dependsOn": [],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_notebook_path, '/MedMgt/MemberSurvey/MbrSrvy/IdsMbrSrvyExtr')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "SrcSysCd": {
                    "value": "@pipeline().parameters.SrcSysCd",
                    "type": "Expression"
                  },
                  "SrcSysCdSk": {
                    "value": "@pipeline().parameters.SrcSysCdSk",
                    "type": "Expression"
                  },
                  "CurrRunCycle": {
                    "value": "@pipeline().parameters.RunCycle",
                    "type": "Expression"
                  },
                  "CurrDate": {
                    "value": "@pipeline().parameters.CurrDate",
                    "type": "Expression"
                  },
                  "InFile": {
                    "value": "@pipeline().parameters.SrvyFile",
                    "type": "Expression"
                  },
                  "OutFile": {
                    "value": "@concat('MBR_SRVY_FKEY.', pipeline().parameters.SrcSysCd, '.dat')",
                    "type": "Expression"
                  },
                  "GlobalEnvironment": {
                    "value": "@pipeline().globalParameters.gbl_param_environment",
                    "type": "Expression"
                  }
                }
              },
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              }
            },
            {
              "name": "IdsMbrSrvyFkey",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "IdsMbrSrvy",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_notebook_path, '/MedMgt/MemberSurvey/MbrSrvy/IdsMbrSrvyFkey')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "InFile": {
                    "value": "@concat('MBR_SRVY_FKEY.', pipeline().parameters.SrcSysCd, '.dat')",
                    "type": "Expression"
                  },
                  "Logging": {
                    "value": "@pipeline().parameters.Logging",
                    "type": "Expression"
                  },
                  "SrcSysCd": {
                    "value": "@pipeline().parameters.SrcSysCd",
                    "type": "Expression"
                  },
                  "GlobalEnvironment": {
                    "value": "@pipeline().globalParameters.gbl_param_environment",
                    "type": "Expression"
                  }
                }
              },
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              }
            },
            {
              "name": "LoadMbrSrvy",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "IdsMbrSrvyFkey",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/DB.LOAD')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "table": "MBR_SRVY",
                  "action": "UPDATE",
                  "file_name": "MBR_SRVY_FKEY.dat",
                  "run_stat": "N",
                  "owner": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                    "type": "Expression"
                  },
                  "GlobalEnvironment": {
                    "value": "@pipeline().globalParameters.gbl_param_environment",
                    "type": "Expression"
                  },
                  "EnvProjectPath": {
                    "value": "",
                    "type": "Expression"
                  },
                  "file_path": {
                    "value": "",
                    "type": "Expression"
                  }
                }
              },
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              }
            }
          ],
          "ifFalseActivities": []
        }
      },
      {
        "name": "If_1B",
        "type": "IfCondition",
        "dependsOn": [
          {
            "activity": "If_1A",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "expression": {
            "value": "@equals(contains(split(string(pipeline().parameters.ExclusionList), ';'), 'HealthMineHRAACAMbrSrvyRspnFileValidnExtr'), false)",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "name": "HealthMineHRAACAMbrSrvyRspnFileValidnExtr",
              "type": "DatabricksNotebook",
              "dependsOn": [],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_notebook_path, '/MedMgt/MemberSurvey/HRA/FileValidation/HealthMineHRAACAMbrSrvyRspnFileValidnExtr')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "EDWOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_EDWOwner",
                    "type": "Expression"
                  },
                  "edw_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_EDWSecret",
                    "type": "Expression"
                  },
                  "IDSOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "ids_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                    "type": "Expression"
                  },
                  "ColumnCount": "24",
                  "CurrentTS": {
                    "value": "@pipeline().parameters.CurrDateTS",
                    "type": "Expression"
                  },
                  "SrcSysCdSk": {
                    "value": "@pipeline().parameters.SrcSysCdSk",
                    "type": "Expression"
                  },
                  "DataContent": {
                    "value": "@pipeline().parameters.DataContent",
                    "type": "Expression"
                  },
                  "CurrRunCycle": {
                    "value": "@pipeline().parameters.RunCycle",
                    "type": "Expression"
                  },
                  "CurrDate": {
                    "value": "@pipeline().parameters.CurrDate",
                    "type": "Expression"
                  },
                  "RunID": {
                    "value": "@pipeline().parameters.RunID",
                    "type": "Expression"
                  },
                  "InFile": {
                    "value": "@pipeline().parameters.InFile",
                    "type": "Expression"
                  },
                  "FileRecCount": {
                    "value": "@pipeline().parameters.FileRecCount",
                    "type": "Expression"
                  },
                  "RecCountTrailer": {
                    "value": "@pipeline().parameters.RecCountTrailer",
                    "type": "Expression"
                  },
                  "GlobalEnvironment": {
                    "value": "@pipeline().globalParameters.gbl_param_environment",
                    "type": "Expression"
                  }
                }
              },
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              }
            }
          ],
          "ifFalseActivities": []
        }
      },
      {
        "name": "If_1C",
        "type": "IfCondition",
        "dependsOn": [
          {
            "activity": "If_1B",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "expression": {
            "value": "@equals(contains(split(string(pipeline().parameters.ExclusionList), ';'), 'LoadW_MBR_RSPN'), false)",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "name": "LoadW_MBR_RSPN",
              "type": "DatabricksNotebook",
              "dependsOn": [],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/DB.LOAD')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "table": "W_MBR_RSPN",
                  "action": "REPLACE",
                  "file_name": "W_MBR_RSPN.dat",
                  "run_stat": "N",
                  "owner": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                    "type": "Expression"
                  },
                  "GlobalEnvironment": {
                    "value": "@pipeline().globalParameters.gbl_param_environment",
                    "type": "Expression"
                  },
                  "EnvProjectPath": {
                    "value": "",
                    "type": "Expression"
                  },
                  "file_path": {
                    "value": "",
                    "type": "Expression"
                  }
                }
              },
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              }
            }
          ],
          "ifFalseActivities": []
        }
      },
      {
        "name": "If_2A",
        "type": "IfCondition",
        "dependsOn": [
          {
            "activity": "If_1C",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "expression": {
            "value": "@equals(contains(split(string(pipeline().parameters.ExclusionList), ';'), 'IdsHraMbrSrvyRspnExtr'), false)",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "name": "IdsHraMbrSrvyRspnExtr",
              "type": "DatabricksNotebook",
              "dependsOn": [],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_notebook_path, '/MedMgt/MemberSurvey/MbrSrvyRspn/IdsHraMbrSrvyRspnExtr')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "EDWFilePath": {
                    "value": "@pipeline().globalParameters.gbl_param_EDWFilePath",
                    "type": "Expression"
                  },
                  "IDSOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "ids_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                    "type": "Expression"
                  },
                  "CurrRunCycleDate": {
                    "value": "@pipeline().parameters.CurrDate",
                    "type": "Expression"
                  },
                  "CurrRunCycle": {
                    "value": "@pipeline().parameters.RunCycle",
                    "type": "Expression"
                  },
                  "RunID": {
                    "value": "@pipeline().parameters.RunID",
                    "type": "Expression"
                  },
                  "SrcSysCd": {
                    "value": "@pipeline().parameters.SrcSysCd",
                    "type": "Expression"
                  },
                  "SrcSysCdSk": {
                    "value": "@pipeline().parameters.SrcSysCdSk",
                    "type": "Expression"
                  },
                  "DataContent": {
                    "value": "@pipeline().parameters.DataContent",
                    "type": "Expression"
                  },
                  "GlobalEnvironment": {
                    "value": "@pipeline().globalParameters.gbl_param_environment",
                    "type": "Expression"
                  }
                }
              },
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              }
            }
          ],
          "ifFalseActivities": []
        }
      },
      {
        "name": "If_3B",
        "type": "IfCondition",
        "dependsOn": [
          {
            "activity": "If_2A",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "expression": {
            "value": "@equals(contains(split(string(pipeline().parameters.ExclusionList), ';'), 'IdsFileMetricLoad'), false)",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "name": "IdsFileMetricLoad",
              "type": "DatabricksNotebook",
              "dependsOn": [],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_notebook_path, '/DataQuality/FileMetrics/IdsFileMetricLoad')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "EDWOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_EDWOwner",
                    "type": "Expression"
                  },
                  "edw_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_EDWSecret",
                    "type": "Expression"
                  },
                  "IDSOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "ids_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                    "type": "Expression"
                  },
                  "CurrDate": {
                    "value": "@pipeline().parameters.CurrDate",
                    "type": "Expression"
                  },
                  "CurrentTS": {
                    "value": "@pipeline().parameters.CurrDateTS",
                    "type": "Expression"
                  },
                  "SrcSysCd": {
                    "value": "@pipeline().parameters.SrcSysCd",
                    "type": "Expression"
                  },
                  "SrcSysCdSk": {
                    "value": "@pipeline().parameters.SrcSysCdSk",
                    "type": "Expression"
                  },
                  "CurrRunCycle": {
                    "value": "@pipeline().parameters.RunCycle",
                    "type": "Expression"
                  },
                  "ErrorFile": " ",
                  "MetricFile": " ",
                  "SourceDomainName": "FILE CATEGORY TYPE",
                  "GlobalEnvironment": {
                    "value": "@pipeline().globalParameters.gbl_param_environment",
                    "type": "Expression"
                  }
                }
              },
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              }
            }
          ],
          "ifFalseActivities": []
        }
      },
      {
        "name": "JobLinkCount",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "If_3B",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/JobLinkCount')",
            "type": "Expression"
          },
          "baseParameters": {
            "JobLinkCount_a1": {
              "value": "@variables('JobLinkCount_a1')",
              "type": "Expression"
            },
            "JobLinkCount_a2": {
              "value": "@variables('JobLinkCount_a2')",
              "type": "Expression"
            },
            "JobLinkCount_a3": {
              "value": "@variables('JobLinkCount_a3')",
              "type": "Expression"
            },
            "GlobalEnvironment": {
              "value": "@pipeline().globalParameters.gbl_param_environment",
              "type": "Expression"
            },
            "file_path": {
              "value": "",
              "type": "Expression"
            },
            "EnvProjectPath": {
              "value": "",
              "type": "Expression"
            },
            "delimiter": {
              "value": "",
              "type": "Expression"
            },
            "quote": {
              "value": "",
              "type": "Expression"
            },
            "header": {
              "value": "",
              "type": "Expression"
            },
            "nullValue": {
              "value": "",
              "type": "Expression"
            },
            "table_nm": {
              "value": "",
              "type": "Expression"
            },
            "schema": {
              "value": "",
              "type": "Expression"
            },
            "secret_name": {
              "value": "",
              "type": "Expression"
            }
          }
        },
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        }
      },
      {
        "name": "Set_ErrorCount",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "JobLinkCount",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "ErrorCount",
          "value": {
            "value": "@string(activity('JobLinkCount').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "If_3C",
        "type": "IfCondition",
        "dependsOn": [
          {
            "activity": "Set_ErrorCount",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "expression": {
            "value": "@and(greater(int(variables('ErrorCount')),1),equals(string(pipeline().parameters.FTPFiles),'Y'))",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "name": "FTPErrorRecords",
              "type": "DatabricksNotebook",
              "dependsOn": [],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/FTP')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "FTPCMD": "put",
                  "LOCALPATH": {
                    "value": "@concat(pipeline().globalParameters.gbl_param_container_published,'/',pipeline().globalParameters.gbl_param_environment)",
                    "type": "Expression"
                  },
                  "LOCALFILENAME": {
                    "value": "@concat('HLTHMINE_MbrSrvyRspn_Errors.dat.', pipeline().parameters.RunID)",
                    "type": "Expression"
                  },
                  "REMOTEPATH": "/",
                  "REMOTEFILENAME": {
                    "value": "@concat(pipeline().parameters.Environment,'1.HEALTHMINEACA.BCBSKC.HRAERR.TXT')",
                    "type": "Expression"
                  },
                  "GlobalEnvironment": {
                    "value": "@pipeline().globalParameters.gbl_param_environment",
                    "type": "Expression"
                  }
                }
              },
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              }
            }
          ],
          "ifFalseActivities": []
        }
      },
      {
        "name": "Email",
        "type": "ExecutePipeline",
        "dependsOn": [
          {
            "activity": "FTPErrorRecords",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "pipeline": {
            "referenceName": "Email_Notification",
            "type": "PipelineReference"
          },
          "waitOnCompletion": true,
          "parameters": {
            "recipients": {
              "value": "@pipeline().parameters.EmailNotify",
              "type": "Expression"
            },
            "subject": "Error Records on the Health Mine HRA file",
            "body": "There are Records rejected from the Health Mine HRA file. The Error file is sent via FTP.",
            "blobFilenames": " ",
            "fromemail": {
              "value": "@pipeline().globalParameters.gbl_param_fromemail",
              "type": "Expression"
            },
            "containerName": " "
          }
        }
      },
      {
        "name": "MvFiles",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "If_3C",
            "dependencyConditions": [
              "Succeeded"
            ]
          },
          {
            "activity": "Email",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_scripts, '/Generic_ADLS_File_Operations')",
            "type": "Expression"
          },
          "baseParameters": {
            "command": {
              "value": "@concat('sh -c \"mv -f ../HRA_MbrSrvyRspn_ErrorDtl.dat.', pipeline().parameters.RunID, ' .; compress -f HRA_MbrSrvyRspn_ErrorDtl.dat.', pipeline().parameters.RunID, '; mv -f ../HRA_MbrSrvyRspn_Metric.dat.', pipeline().parameters.RunID, ' .; compress -f HRA_MbrSrvyRspn_Metric.dat.', pipeline().parameters.RunID, '; rm -f ../../landing/HlthMineHRAFileValdn_TempFile.dat*; rm -f ../../external/HLTHMINE_MbrSrvyRspn_Errors.dat.', pipeline().parameters.RunID, '\"')",
              "type": "Expression"
            },
            "project": "integrate",
            "GlobalEnvironment": {
              "value": "@pipeline().globalParameters.gbl_param_environment",
              "type": "Expression"
            }
          }
        },
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        }
      }
    ]
  }
}