npw-projects-np-projects-bluekc-translated-66e9366f6cca/Sprint_3_4_5/SequenceJobs/Integrate/IdsClmLnHlthCstGrpBalCntl.json
{
  "name": "IdsClmLnHlthCstGrpBalCntl",
  "type": "Microsoft.DataFactory/factories/pipelines",
  "properties": {
    "folder": {
      "name": "Integrate/Jobs/DataWarehouse/MemberRisk"
    },
    "parameters": {},
    "variables": {
      "JobName": {
        "type": "String",
        "defaultValue": ""
      },
      "Source": {
        "type": "String",
        "defaultValue": "COBALTTALON"
      },
      "Target": {
        "type": "String",
        "defaultValue": "IDS"
      },
      "Subject": {
        "type": "String",
        "defaultValue": "CLM_LN_HLTH_CST"
      },
      "Frequency": {
        "type": "String",
        "defaultValue": "MONTHLY"
      },
      "Load": {
        "type": "String",
        "defaultValue": "ROW_CT"
      },
      "LinkCount": {
        "type": "String",
        "defaultValue": ""
      },
      "ExclusionList": {
        "type": "String",
        "defaultValue": ""
      },
      "RunID": {
        "type": "String",
        "defaultValue": ""
      },
      "SrcSysCdSK": {
        "type": "String",
        "defaultValue": ""
      },
      "CurrDate": {
        "type": "String",
        "defaultValue": ""
      },
      "ExtrRunCycle": {
        "type": "String",
        "defaultValue": ""
      },
      "SrcSysCd": {
        "type": "String",
        "defaultValue": ""
      },
      "var_CountChk_branch": {
        "type": "String",
        "defaultValue": ""
      },
      "var_If_1A_branch": {
        "type": "String",
        "defaultValue": ""
      },
      "var_If_2A_branch": {
        "type": "String",
        "defaultValue": ""
      },
      "var_If_2A_Continuation_branch": {
        "type": "String",
        "defaultValue": ""
      },
      "var_If_3A_branch": {
        "type": "String",
        "defaultValue": ""
      },
      "var_If_4A_branch": {
        "type": "String",
        "defaultValue": ""
      },
      "var_If_4A_Continuation_branch": {
        "type": "String",
        "defaultValue": ""
      },
      "ErrorMessageCount": {
        "type": "String"
      }
    },
    "activities": [
      {
        "name": "Set_JobName",
        "type": "SetVariable",
        "dependsOn": [],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "JobName",
          "value": {
            "value": "@pipeline().Pipeline",
            "type": "Expression"
          }
        }
      },
      {
        "name": "ProcessCheckExtr_EE",
        "type": "Lookup",
        "dependsOn": [
          {
            "activity": "Set_JobName",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "source": {
            "type": "AzureSqlSource",
            "sqlReaderQuery": {
              "value": "WITH db2_data AS (\n    select SUBJ_CD, TRGT_SYS_CD, SRC_SYS_CD\n    from @{pipeline().globalParameters.gbl_param_IDSOwner}.P_RUN_CYC\n    where CYC_STTUS_CD = 'RUNNING'\n       and SUBJ_CD = '@{variables('Subject')}'\n       and TRGT_SYS_CD = '@{variables('Target')}'\n    UNION\n    select SUBJ_CD, TRGT_SYS_CD, SRC_SYS_CD\n    from @{pipeline().globalParameters.gbl_param_IDSOwner}.P_RUN_CYC\n    where CYC_STTUS_CD = 'RUNNING'\n       and SUBJ_CD = '@{variables('Subject')}'\n       and SRC_SYS_CD <> '@{variables('Source')}'\n       and TRGT_SYS_CD = '@{variables('Target')}'\n    UNION\n    select SUBJ_CD, TRGT_SYS_CD, SRC_SYS_CD\n    from @{pipeline().globalParameters.gbl_param_IDSOwner}.P_RUN_CYC\n    where CYC_STTUS_CD = 'RUNNING'\n       and SUBJ_CD = '@{variables('Subject')}'\n       and SRC_SYS_CD = '@{variables('Source')}'\n),\ntransformed_data AS (\n    SELECT SUBJ_CD, SRC_SYS_CD, TRGT_SYS_CD\n    FROM db2_data\n)\nSELECT COUNT(*) as link_count FROM transformed_data",
              "type": "Expression"
            },
            "queryTimeout": "02:00:00",
            "partitionOption": "None"
          },
          "dataset": {
            "referenceName": "ds_ids",
            "type": "DatasetReference",
            "parameters": {
              "param_schema": "@pipeline().globalParameters.gbl_param_IDSOwner",
              "param_table": "P_RUN_CYC"
            }
          }
        }
      },
      {
        "name": "LinkCount_SetVar",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "ProcessCheckExtr_EE",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "LinkCount",
          "value": {
            "value": "@string(activity('ProcessCheckExtr_EE').output.firstRow.link_count)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "CountChk",
        "type": "Switch",
        "dependsOn": [
          {
            "activity": "LinkCount_SetVar",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "on": {
            "value": "@if(not(equals(variables('LinkCount'),'0')),'1','0')",
            "type": "Expression"
          },
          "cases": [
            {
              "value": "1",
              "activities": [
                {
                  "name": "var_CountChk_branch_True",
                  "type": "SetVariable",
                  "dependsOn": [],
                  "policy": {
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "variableName": "var_CountChk_branch",
                    "value": {
                      "value": "1",
                      "type": "Expression"
                    }
                  }
                },
                {
                  "name": "Email_DAT",
                  "type": "ExecutePipeline",
                  "dependsOn": [
                    {
                      "activity": "var_CountChk_branch_True",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "pipeline": {
                      "referenceName": "Email_Notification",
                      "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                      "recipients": {
                        "value": "@pipeline().globalParameters.gbl_param_EmailSupport",
                        "type": "Expression"
                      },
                      "subject": "IDS HCG Balalncing Abort",
                      "body": "The IDS Clm Ln Hlth Cntl cannot run while there is another process listed on the P_RUN_CYC as running.   This job is being halted.\n\nSOURCE:           COBALTTALON\nSUBJECT:          CLM_LN_HLTH_CST\nTARGET:           IDS\nFREQUENCY:    MONTHLY",
                      "blobFilenames": "",
                      "fromemail": {
                        "value": "@pipeline().globalParameters.gbl_param_fromemail",
                        "type": "Expression"
                      },
                      "containerName": ""
                    }
                  }
                }
              ]
            }
          ],
          "defaultActivities": [
            {
              "name": "var_CountChk_branch_False",
              "type": "SetVariable",
              "dependsOn": [],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "var_CountChk_branch",
                "value": {
                  "value": "0",
                  "type": "Expression"
                }
              }
            },
            {
              "name": "ExclusionListExtr_EE",
              "type": "ExecutePipeline",
              "dependsOn": [
                {
                  "activity": "var_CountChk_branch_False",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "pipeline": {
                  "referenceName": "ExclusionListExtr_EE",
                  "type": "PipelineReference"
                },
                "waitOnCompletion": true,
                "parameters": {
                  "IDSOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "ids_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                    "type": "Expression"
                  },
                  "Subject": {
                    "value": "@variables('JobName')",
                    "type": "Expression"
                  }
                }
              }
            },
            {
              "name": "ReadExclusionListFile",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "ExclusionListExtr_EE",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_scripts, '/Generic_ADLS_File_Operations')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "src_file_with_path": {
                    "value": "/_TASK_EXCL.dat",
                    "type": "Expression"
                  },
                  "command": "cat",
                  "cut_column_index": "2",
                  "project": "integrate"
                }
              }
            },
            {
              "name": "WriteRunID",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "ReadExclusionListFile",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/WriteRunID')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "entry_name": {
                    "value": "@concat(variables('JobName'), ':RunID')",
                    "type": "Expression"
                  },
                  "GlobalEnvironment": {
                    "value": "@pipeline().globalParameters.gbl_param_environment",
                    "type": "Expression"
                  },
                  "secret_name": {
                    "value": "",
                    "type": "Expression"
                  },
                  "IDSOwner": {
                    "value": "",
                    "type": "Expression"
                  }
                }
              }
            },
            {
              "name": "NB_Variables_ExclusionList",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "WriteRunID",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/GetExclusionList')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "Subject": {
                    "value": "@variables('JobName')",
                    "type": "Expression"
                  },
                  "GlobalEnvironment": {
                    "value": "@pipeline().globalParameters.gbl_param_environment",
                    "type": "Expression"
                  },
                  "secret_name": {
                    "value": "",
                    "type": "Expression"
                  },
                  "DBOwner": {
                    "value": "",
                    "type": "Expression"
                  }
                }
              }
            },
            {
              "name": "SV_ExclusionList",
              "type": "SetVariable",
              "dependsOn": [
                {
                  "activity": "NB_Variables_ExclusionList",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "ExclusionList",
                "value": {
                  "value": "@string(activity('NB_Variables_ExclusionList').output.runOutput)",
                  "type": "Expression"
                }
              }
            },
            {
              "name": "NB_Variables_RunID",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "SV_ExclusionList",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/GetRunInfo')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "job_name": {
                    "value": "@concat(variables('JobName'), ':RunID')",
                    "type": "Expression"
                  },
                  "GlobalEnvironment": {
                    "value": "@pipeline().globalParameters.gbl_param_environment",
                    "type": "Expression"
                  },
                  "secret_name": {
                    "value": "",
                    "type": "Expression"
                  },
                  "IDSOwner": {
                    "value": "",
                    "type": "Expression"
                  }
                }
              }
            },
            {
              "name": "SV_RunID",
              "type": "SetVariable",
              "dependsOn": [
                {
                  "activity": "NB_Variables_RunID",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "RunID",
                "value": {
                  "value": "@string(activity('NB_Variables_RunID').output.runOutput)",
                  "type": "Expression"
                }
              }
            },
            {
              "name": "NB_Variables_SrcSysCdSK",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "SV_RunID",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/GetSrcSysCdSk')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "DBOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "DBSecret": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                    "type": "Expression"
                  },
                  "SrcClctnCd": "IDS",
                  "SrcCdValue": {
                    "value": "@variables('Source')",
                    "type": "Expression"
                  },
                  "GlobalEnvironment": {
                    "value": "@pipeline().globalParameters.gbl_param_environment",
                    "type": "Expression"
                  }
                }
              }
            },
            {
              "name": "SV_SrcSysCdSK",
              "type": "SetVariable",
              "dependsOn": [
                {
                  "activity": "NB_Variables_SrcSysCdSK",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "SrcSysCdSK",
                "value": {
                  "value": "@string(activity('NB_Variables_SrcSysCdSK').output.runOutput)",
                  "type": "Expression"
                }
              }
            },
            {
              "name": "NB_Variables_CurrDate",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "SV_SrcSysCdSK",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/FORMAT.DATE')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "pInDate": "string('@DATE')",
                  "pSource": "DATE",
                  "pSourceFormat": "CURRENT",
                  "pOutFormat": "CCYY-MM-DD"
                }
              }
            },
            {
              "name": "SV_CurrDate",
              "type": "SetVariable",
              "dependsOn": [
                {
                  "activity": "NB_Variables_CurrDate",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "CurrDate",
                "value": {
                  "value": "@string(activity('NB_Variables_CurrDate').output.runOutput)",
                  "type": "Expression"
                }
              }
            },
            {
              "name": "NB_Variables_ExtrRunCycle",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "SV_CurrDate",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/GetExtractRunCycle')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "GetExtractRunCycle_a1": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                    "type": "Expression"
                  },
                  "GetExtractRunCycle_a2": {
                    "value": "@variables('Subject')",
                    "type": "Expression"
                  },
                  "GetExtractRunCycle_a3": {
                    "value": "@variables('Source')",
                    "type": "Expression"
                  },
                  "load": {
                    "value": "@variables('Load')",
                    "type": "Expression"
                  },
                  "GlobalEnvironment": {
                    "value": "@pipeline().globalParameters.gbl_param_environment",
                    "type": "Expression"
                  },
                  "owner_schema": {
                    "value": "",
                    "type": "Expression"
                  },
                  "subject": {
                    "value": "",
                    "type": "Expression"
                  },
                  "source": {
                    "value": "",
                    "type": "Expression"
                  },
                  "target": {
                    "value": "",
                    "type": "Expression"
                  }
                }
              }
            },
            {
              "name": "SV_ExtrRunCycle",
              "type": "SetVariable",
              "dependsOn": [
                {
                  "activity": "NB_Variables_ExtrRunCycle",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "ExtrRunCycle",
                "value": {
                  "value": "@string(activity('NB_Variables_ExtrRunCycle').output.runOutput)",
                  "type": "Expression"
                }
              }
            },
            {
              "name": "SV_SrcSysCd",
              "type": "SetVariable",
              "dependsOn": [
                {
                  "activity": "SV_ExtrRunCycle",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "SrcSysCd",
                "value": {
                  "value": "@variables('Source')",
                  "type": "Expression"
                }
              }
            },
            {
              "name": "ExclusionListDelete_EE",
              "type": "ExecutePipeline",
              "dependsOn": [
                {
                  "activity": "SV_SrcSysCd",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "pipeline": {
                  "referenceName": "ExclusionListDelete_EE",
                  "type": "PipelineReference"
                },
                "waitOnCompletion": true,
                "parameters": {
                  "IDSOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "ids_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                    "type": "Expression"
                  },
                  "Subject": {
                    "value": "@variables('JobName')",
                    "type": "Expression"
                  }
                }
              }
            }
          ]
        }
      },
      {
        "name": "If_1A",
        "type": "Switch",
        "dependsOn": [
          {
            "activity": "CountChk",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "on": {
            "value": "@if(and(equals(variables('var_CountChk_branch'),'0'), not(contains(variables('ExclusionList'),'IdsClmLnHlthBalSeq'))),'1','0')",
            "type": "Expression"
          },
          "cases": [
            {
              "value": "1",
              "activities": [
                {
                  "name": "var_If_1A_branch_True",
                  "type": "SetVariable",
                  "dependsOn": [],
                  "policy": {
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "variableName": "var_If_1A_branch",
                    "value": {
                      "value": "1",
                      "type": "Expression"
                    }
                  }
                },
                {
                  "name": "IdsClmLnHlthBalSeq",
                  "type": "ExecutePipeline",
                  "dependsOn": [
                    {
                      "activity": "var_If_1A_branch_True",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "pipeline": {
                      "referenceName": "IdsClmLnHlthBalSeq",
                      "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                      "EDWFilePath": {
                        "value": "@pipeline().globalParameters.gbl_param_EDWFilePath",
                        "type": "Expression"
                      },
                      "EmailSupport": {
                        "value": "@pipeline().globalParameters.gbl_param_EmailSupport",
                        "type": "Expression"
                      },
                      "CurrDate": {
                        "value": "@variables('CurrDate')",
                        "type": "Expression"
                      },
                      "RunID": {
                        "value": "@variables('RunID')",
                        "type": "Expression"
                      },
                      "ExtrRunCycle": {
                        "value": "@variables('ExtrRunCycle')",
                        "type": "Expression"
                      },
                      "ExclusionList": {
                        "value": "@variables('ExclusionList')",
                        "type": "Expression"
                      },
                      "Subject": {
                        "value": "@variables('Subject')",
                        "type": "Expression"
                      },
                      "Source": {
                        "value": "@variables('Source')",
                        "type": "Expression"
                      },
                      "Target": {
                        "value": "@variables('Target')",
                        "type": "Expression"
                      },
                      "Frequency": {
                        "value": "@variables('Frequency')",
                        "type": "Expression"
                      },
                      "IDSOwner": {
                        "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                        "type": "Expression"
                      },
                      "ids_secret_name": {
                        "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                        "type": "Expression"
                      },
                      "UWSOwner": {
                        "value": "@pipeline().globalParameters.gbl_param_UWSOwner",
                        "type": "Expression"
                      },
                      "uws_secret_name": {
                        "value": "@pipeline().globalParameters.gbl_param_UWSSecret",
                        "type": "Expression"
                      }
                    }
                  }
                }
              ]
            }
          ],
          "defaultActivities": [
            {
              "name": "var_If_1A_branch_False",
              "type": "SetVariable",
              "dependsOn": [],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "var_If_1A_branch",
                "value": {
                  "value": "0",
                  "type": "Expression"
                }
              }
            }
          ]
        }
      },
      {
        "name": "If_2A",
        "type": "Switch",
        "dependsOn": [
          {
            "activity": "If_1A",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "on": {
            "value": "@if(and(equals(variables('var_CountChk_branch'),'0'), not(contains(variables('ExclusionList'),'UwsSubjAreaBalSumLoad_EE'))),'1','0')",
            "type": "Expression"
          },
          "cases": [
            {
              "value": "1",
              "activities": [
                {
                  "name": "var_If_2A_branch_True",
                  "type": "SetVariable",
                  "dependsOn": [],
                  "policy": {
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "variableName": "var_If_2A_branch",
                    "value": {
                      "value": "1",
                      "type": "Expression"
                    }
                  }
                },
                {
                  "name": "UwsSubjAreaBalSumLoad_EE",
                  "type": "ExecutePipeline",
                  "dependsOn": [
                    {
                      "activity": "var_If_2A_branch_True",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "pipeline": {
                      "referenceName": "UwsSubjAreaBalSumLoad_EE",
                      "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                      "UWSOwner": {
                        "value": "@pipeline().globalParameters.gbl_param_UWSOwner",
                        "type": "Expression"
                      },
                      "uws_secret_name": {
                        "value": "@pipeline().globalParameters.gbl_param_UWSSecret",
                        "type": "Expression"
                      },
                      "Target": {
                        "value": "@variables('Target')",
                        "type": "Expression"
                      },
                      "Subject": {
                        "value": "@variables('Subject')",
                        "type": "Expression"
                      },
                      "CurrDate": {
                        "value": "@variables('CurrDate')",
                        "type": "Expression"
                      },
                      "ExtrRunCycle": {
                        "value": "@variables('ExtrRunCycle')",
                        "type": "Expression"
                      }
                    }
                  }
                }
              ]
            }
          ],
          "defaultActivities": [
            {
              "name": "var_If_2A_branch_False",
              "type": "SetVariable",
              "dependsOn": [],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "var_If_2A_branch",
                "value": {
                  "value": "0",
                  "type": "Expression"
                }
              }
            }
          ]
        }
      },
      {
        "name": "If_2A_Continuation",
        "type": "Switch",
        "dependsOn": [
          {
            "activity": "If_2A",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "on": {
            "value": "@if(and(equals(variables('var_CountChk_branch'),'0'), equals(variables('var_If_2A_branch'),'1')),'1','0')",
            "type": "Expression"
          },
          "cases": [
            {
              "value": "1",
              "activities": [
                {
                  "name": "var_If_2A_Continuation_branch_True",
                  "type": "SetVariable",
                  "dependsOn": [],
                  "policy": {
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "variableName": "var_If_2A_Continuation_branch",
                    "value": {
                      "value": "1",
                      "type": "Expression"
                    }
                  }
                },
                {
                  "name": "Count",
                  "type": "DatabricksNotebook",
                  "dependsOn": [
                    {
                      "activity": "var_If_2A_Continuation_branch_True",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "timeout": "12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "linkedServiceName": {
                    "referenceName": "shareddatabricks",
                    "type": "LinkedServiceReference"
                  },
                  "typeProperties": {
                    "notebookPath": {
                      "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/UnixFileRecCnt')",
                      "type": "Expression"
                    },
                    "baseParameters": {
                      "UnixFileRecCnt_a1": {
                        "value": "@concat(pipeline().globalParameters.gbl_param_FilePath, '\"/balancing/notify\"')",
                        "type": "Expression"
                      },
                      "UnixFileRecCnt_a2": "ClmLnHlthBalancingNotification.dat",
                      "GlobalEnvironment": {
                        "value": "@pipeline().globalParameters.gbl_param_environment",
                        "type": "Expression"
                      },
                      "EnvProjectPath": {
                        "value": "",
                        "type": "Expression"
                      },
                      "FilePath": {
                        "value": "",
                        "type": "Expression"
                      },
                      "FileName": {
                        "value": "",
                        "type": "Expression"
                      }
                    }
                  }
                },
                {
                  "name": "SV_ErrorMessageCount",
                  "type": "SetVariable",
                  "dependsOn": [
                    {
                      "activity": "Count",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "variableName": "ErrorMessageCount",
                    "value": {
                      "value": "@string(activity('Count').output.runOutput)",
                      "type": "Expression"
                    }
                  }
                }
              ]
            }
          ],
          "defaultActivities": [
            {
              "name": "var_If_2A_Continuation_branch_False",
              "type": "SetVariable",
              "dependsOn": [],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "var_If_2A_Continuation_branch",
                "value": {
                  "value": "0",
                  "type": "Expression"
                }
              }
            }
          ]
        }
      },
      {
        "name": "If_3A",
        "type": "Switch",
        "dependsOn": [
          {
            "activity": "If_2A_Continuation",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "on": {
            "value": "@if(and(equals(variables('var_CountChk_branch'),'0'), and(equals(variables('var_If_2A_Continuation_branch'),'1'), not(equals(variables('ErrorMessageCount'),'0')))),'1','0')",
            "type": "Expression"
          },
          "cases": [
            {
              "value": "1",
              "activities": [
                {
                  "name": "var_If_3A_branch_True",
                  "type": "SetVariable",
                  "dependsOn": [],
                  "policy": {
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "variableName": "var_If_3A_branch",
                    "value": {
                      "value": "1",
                      "type": "Expression"
                    }
                  }
                },
                {
                  "name": "MvFile",
                  "type": "DatabricksNotebook",
                  "dependsOn": [
                    {
                      "activity": "var_If_3A_branch_True",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "timeout": "12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "linkedServiceName": {
                    "referenceName": "shareddatabricks",
                    "type": "LinkedServiceReference"
                  },
                  "typeProperties": {
                    "notebookPath": {
                      "value": "@concat(pipeline().globalParameters.gbl_param_scripts, '/Generic_ADLS_File_Operations')",
                      "type": "Expression"
                    },
                    "baseParameters": {
                      "src_file_with_path": {
                        "value": "/balancing/notify/ClmLnHlthBalancingNotification.dat",
                        "type": "Expression"
                      },
                      "trgt_file_with_path": {
                        "value": "/balancing/notify/processed/ClmLnHlthBalancingNotification.txt",
                        "type": "Expression"
                      },
                      "command": "move",
                      "project": "integrate"
                    }
                  }
                },
                {
                  "name": "Email",
                  "type": "ExecutePipeline",
                  "dependsOn": [
                    {
                      "activity": "MvFile",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "pipeline": {
                      "referenceName": "Email_Notification",
                      "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                      "recipients": {
                        "value": "@pipeline().globalParameters.gbl_param_EmailSupport",
                        "type": "Expression"
                      },
                      "subject": "@concat(pipeline().globalParameters.gbl_param_IDSDB,'  Warehouse Balancing Clm Ln Hlth Cst Discrepancy')",
                      "body": "See Attached file for Balancing Errors",
                      "blobFilenames": {
                        "value": "@concat(pipeline().globalParameters.gbl_param_environment,'/balancing/notify/processed/ClmLnHlthBalancingNotification.txt')",
                        "type": "Expression"
                      },
                      "fromemail": {
                        "value": "@pipeline().globalParameters.gbl_param_fromemail",
                        "type": "Expression"
                      },
                      "containerName": {
                        "value": "@pipeline().globalParameters.gbl_param_container_integrate",
                        "type": "Expression"
                      }
                    }
                  }
                }
              ]
            }
          ],
          "defaultActivities": [
            {
              "name": "var_If_3A_branch_False",
              "type": "SetVariable",
              "dependsOn": [],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "var_If_3A_branch",
                "value": {
                  "value": "0",
                  "type": "Expression"
                }
              }
            }
          ]
        }
      },
      {
        "name": "If_4A",
        "type": "Switch",
        "dependsOn": [
          {
            "activity": "If_3A",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "on": {
            "value": "@if(and(equals(variables('var_CountChk_branch'),'0'), not(contains(variables('ExclusionList'),'RowCtRunCycUpd_EE'))),'1','0')",
            "type": "Expression"
          },
          "cases": [
            {
              "value": "1",
              "activities": [
                {
                  "name": "var_If_4A_branch_True",
                  "type": "SetVariable",
                  "dependsOn": [],
                  "policy": {
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "variableName": "var_If_4A_branch",
                    "value": {
                      "value": "1",
                      "type": "Expression"
                    }
                  }
                },
                {
                  "name": "RowCtRunCycUpd_EE",
                  "type": "ExecutePipeline",
                  "dependsOn": [
                    {
                      "activity": "var_If_4A_branch_True",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "pipeline": {
                      "referenceName": "RowCtRunCycUpd_EE",
                      "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                      "IDSOwner": {
                        "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                        "type": "Expression"
                      },
                      "ids_secret_name": {
                        "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                        "type": "Expression"
                      },
                      "BeginCycle": {
                        "value": "@variables('ExtrRunCycle')",
                        "type": "Expression"
                      },
                      "SrcSys": {
                        "value": "@variables('Source')",
                        "type": "Expression"
                      },
                      "TrgtSys": {
                        "value": "@variables('Target')",
                        "type": "Expression"
                      },
                      "SubjCd": {
                        "value": "@variables('Subject')",
                        "type": "Expression"
                      }
                    }
                  }
                }
              ]
            }
          ],
          "defaultActivities": [
            {
              "name": "var_If_4A_branch_False",
              "type": "SetVariable",
              "dependsOn": [],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "var_If_4A_branch",
                "value": {
                  "value": "0",
                  "type": "Expression"
                }
              }
            }
          ]
        }
      },
      {
        "name": "If_4A_Continuation",
        "type": "Switch",
        "dependsOn": [
          {
            "activity": "If_4A",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "on": {
            "value": "@if(and(equals(variables('var_CountChk_branch'),'0'), equals(variables('var_If_4A_branch'),'1')),'1','0')",
            "type": "Expression"
          },
          "cases": [
            {
              "value": "1",
              "activities": [
                {
                  "name": "var_If_4A_Continuation_branch_True",
                  "type": "SetVariable",
                  "dependsOn": [],
                  "policy": {
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "variableName": "var_If_4A_Continuation_branch",
                    "value": {
                      "value": "1",
                      "type": "Expression"
                    }
                  }
                }
              ]
            }
          ],
          "defaultActivities": [
            {
              "name": "var_If_4A_Continuation_branch_False",
              "type": "SetVariable",
              "dependsOn": [],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "var_If_4A_Continuation_branch",
                "value": {
                  "value": "0",
                  "type": "Expression"
                }
              }
            }
          ]
        }
      }
    ]
  }
}