npw-projects-np-projects-bluekc-translated-66e9366f6cca/Sprint_3_4_5/SequenceJobs/Integrate/IdsDmMbrFmlyDrugSumCntl.json
{
  "name": "IdsDmMbrFmlyDrugSumCntl",
  "type": "Microsoft.DataFactory/factories/pipelines",
  "properties": {
    "folder": {
      "name": "Integrate/Jobs/WebDataMart/Member"
    },
    "parameters": {},
    "variables": {
      "JobName": {
        "type": "String",
        "defaultValue": ""
      },
      "Source": {
        "type": "String",
        "defaultValue": "IDS"
      },
      "Target": {
        "type": "String",
        "defaultValue": "WEBDM"
      },
      "Subject": {
        "type": "String",
        "defaultValue": "MBR_FMLY_DRG_SUM"
      },
      "Frequency": {
        "type": "String",
        "defaultValue": "MONTHLY"
      },
      "CurrDate": {
        "type": "String",
        "defaultValue": ""
      },
      "RunCycle": {
        "type": "String",
        "defaultValue": ""
      },
      "ExclusionList": {
        "type": "String",
        "defaultValue": ""
      },
      "RunID": {
        "type": "String",
        "defaultValue": ""
      },
      "RunCycDt": {
        "type": "String",
        "defaultValue": ""
      },
      "BeginDate": {
        "type": "String",
        "defaultValue": ""
      },
      "EndDate": {
        "type": "String",
        "defaultValue": ""
      },
      "LinkCount": {
        "type": "String",
        "defaultValue": ""
      }
    },
    "activities": [
      {
        "name": "SetJobName",
        "type": "SetVariable",
        "dependsOn": [],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "JobName",
          "value": {
            "value": "@pipeline().Pipeline",
            "type": "Expression"
          }
        }
      },
      {
        "name": "FORMAT_DATE_CurrDate",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "SetJobName",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/FORMAT.DATE')",
            "type": "Expression"
          },
          "baseParameters": {
            "pInDate": "string('@DATE')",
            "pSource": "DATE",
            "pSourceFormat": "CURRENT",
            "pOutFormat": "CCYY-MM-DD"
          }
        }
      },
      {
        "name": "SetCurrDate",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "FORMAT_DATE_CurrDate",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "CurrDate",
          "value": {
            "value": "@string(activity('FORMAT_DATE_CurrDate').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "OpenRunCycle",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "SetCurrDate",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/OpenRunCycle')",
            "type": "Expression"
          },
          "baseParameters": {
            "DBOwner": {
              "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
              "type": "Expression"
            },
            "secret_name": {
              "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
              "type": "Expression"
            },
            "GlobalEnvironment": {
              "value": "@pipeline().globalParameters.gbl_param_environment",
              "type": "Expression"
            },
            "Source": {
              "value": "@variables('Source')",
              "type": "Expression"
            },
            "Target": {
              "value": "@variables('Target')",
              "type": "Expression"
            },
            "Subject": {
              "value": "@variables('Subject')",
              "type": "Expression"
            },
            "Frequency": {
              "value": "@variables('Frequency')",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "SetRunCycle",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "OpenRunCycle",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "RunCycle",
          "value": {
            "value": "@string(activity('OpenRunCycle').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "FIND_DATE_BeginDate",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "SetCurrDate",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/FIND.DATE')",
            "type": "Expression"
          },
          "baseParameters": {
            "Start": {
              "value": "@variables('CurrDate')",
              "type": "Expression"
            },
            "Num": "-1",
            "Unit": "Y",
            "DayOf": "F",
            "Output": "CCYY-MM-DD",
            "GlobalEnvironment": {
              "value": "@pipeline().globalParameters.gbl_param_environment",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "SetBeginDate",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "FIND_DATE_BeginDate",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "BeginDate",
          "value": {
            "value": "@string(activity('FIND_DATE_BeginDate').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "FIND_DATE_EndDate",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "SetCurrDate",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/FIND.DATE')",
            "type": "Expression"
          },
          "baseParameters": {
            "Start": {
              "value": "@variables('CurrDate')",
              "type": "Expression"
            },
            "Num": "-1",
            "Unit": "M",
            "DayOf": "L",
            "Output": "CCYY-MM-DD",
            "GlobalEnvironment": {
              "value": "@pipeline().globalParameters.gbl_param_environment",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "SetEndDate",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "FIND_DATE_EndDate",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "EndDate",
          "value": {
            "value": "@string(activity('FIND_DATE_EndDate').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "ExclusionListExtr",
        "type": "ExecutePipeline",
        "dependsOn": [
          {
            "activity": "SetRunCycle",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "pipeline": {
            "referenceName": "ExclusionListExtr_EE",
            "type": "PipelineReference"
          },
          "parameters": {
            "IDSOwner": {
              "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
              "type": "Expression"
            },
            "ids_secret_name": {
              "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
              "type": "Expression"
            },
            "Subject": {
              "value": "@variables('JobName')",
              "type": "Expression"
            }
          },
          "waitOnCompletion": true
        }
      },
      {
        "name": "ReadExclusionListFile",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "ExclusionListExtr",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_scripts, '/Generic_ADLS_File_Operations')",
            "type": "Expression"
          },
          "baseParameters": {
            "src_file_with_path": {
              "value": "/_TASK_EXCL.dat",
              "type": "Expression"
            },
            "command": "cat",
            "cut_column_index": "2",
            "project": "integrate"
          }
        }
      },
      {
        "name": "SetExclusionList",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "ReadExclusionListFile",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "ExclusionList",
          "value": {
            "value": "@string(activity('ReadExclusionListFile').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "WriteRunID",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "ReadExclusionListFile",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/WriteRunID')",
            "type": "Expression"
          },
          "baseParameters": {
            "entry_name": {
              "value": "@concat(variables('JobName'), ':RunID')",
              "type": "Expression"
            },
            "IDSOwner": {
              "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
              "type": "Expression"
            },
            "secret_name": {
              "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
              "type": "Expression"
            },
            "GlobalEnvironment": {
              "value": "@pipeline().globalParameters.gbl_param_environment",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "SetRunID",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "WriteRunID",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "RunID",
          "value": {
            "value": "@string(activity('WriteRunID').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "WriteRunInfo",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "SetRunID",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/WriteRunInfo')",
            "type": "Expression"
          },
          "baseParameters": {
            "arg1": {
              "value": "@concat(variables('JobName'), ':RunDate')",
              "type": "Expression"
            },
            "arg2": {
              "value": "@variables('CurrDate')",
              "type": "Expression"
            },
            "arg3": {
              "value": "@variables('CurrDate')",
              "type": "Expression"
            },
            "IDSOwner": {
              "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
              "type": "Expression"
            },
            "secret_name": {
              "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
              "type": "Expression"
            },
            "GlobalEnvironment": {
              "value": "@pipeline().globalParameters.gbl_param_environment",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "GetRunInfo_RunCycDt",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "WriteRunInfo",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/GetRunInfo')",
            "type": "Expression"
          },
          "baseParameters": {
            "job_name": "RunDate",
            "IDSOwner": {
              "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
              "type": "Expression"
            },
            "secret_name": {
              "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
              "type": "Expression"
            },
            "GlobalEnvironment": {
              "value": "@pipeline().globalParameters.gbl_param_environment",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "SetRunCycDt",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "GetRunInfo_RunCycDt",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "RunCycDt",
          "value": {
            "value": "@string(activity('GetRunInfo_RunCycDt').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "ExclusionListDelete",
        "type": "ExecutePipeline",
        "dependsOn": [
          {
            "activity": "SetExclusionList",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "pipeline": {
            "referenceName": "ExclusionListDelete_EE",
            "type": "PipelineReference"
          },
          "waitOnCompletion": true,
          "parameters": {
            "IDSOwner": {
              "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
              "type": "Expression"
            },
            "ids_secret_name": {
              "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
              "type": "Expression"
            },
            "Subject": {
              "value": "@variables('JobName')",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "If_1A",
        "type": "IfCondition",
        "dependsOn": [
          {
            "activity": "ExclusionListDelete",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "expression": {
            "value": "@equals(contains(variables('ExclusionList'), 'IdsDmMbrFmlyDrugSumSeq'), false)",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "name": "IdsDmMbrFmlyDrugSumSeq",
              "type": "ExecutePipeline",
              "userProperties": [],
              "policy": {
                "secureInput": false
              },
              "typeProperties": {
                "pipeline": {
                  "referenceName": "IdsDmMbrFmlyDrugSumSeq",
                  "type": "PipelineReference"
                },
                "parameters": {
                  "ExclusionList": {
                    "value": "@variables('ExclusionList')",
                    "type": "Expression"
                  },
                  "CurrRunCycle": {
                    "value": "@variables('RunCycle')",
                    "type": "Expression"
                  },
                  "BeginDate": {
                    "value": "@variables('BeginDate')",
                    "type": "Expression"
                  },
                  "EndDate": {
                    "value": "@variables('EndDate')",
                    "type": "Expression"
                  },
                  "CurrDate": {
                    "value": "@variables('RunCycDt')",
                    "type": "Expression"
                  },
                  "IDSOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "ids_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                    "type": "Expression"
                  },
                  "ClmMartOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_ClmMartOwner",
                    "type": "Expression"
                  },
                  "clmmart_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_ClmMartSecret",
                    "type": "Expression"
                  },
                  "ClmMartArraySize": {
                    "value": "@pipeline().globalParameters.gbl_param_ClmMartArraySize",
                    "type": "Expression"
                  },
                  "ClmMartRecordCount": {
                    "value": "@pipeline().globalParameters.gbl_param_ClmMartRecordCount",
                    "type": "Expression"
                  }
                },
                "waitOnCompletion": true
              }
            }
          ],
          "ifFalseActivities": []
        }
      },
      {
        "name": "If_1B",
        "type": "IfCondition",
        "dependsOn": [
          {
            "activity": "If_1A",
            "dependencyConditions": [
              "Succeeded"
            ]
          },
          {
            "activity": "IdsDmMbrFmlyDrugSumSeq",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "expression": {
            "value": "@equals(contains(variables('ExclusionList'), 'WebDMLastUpd'), false)",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "name": "WebDMLastUpd",
              "type": "ExecutePipeline",
              "userProperties": [],
              "policy": {
                "secureInput": false
              },
              "typeProperties": {
                "pipeline": {
                  "referenceName": "WebDmLastUpd_EE",
                  "type": "PipelineReference"
                },
                "parameters": {
                  "ClmMartOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_ClmMartOwner",
                    "type": "Expression"
                  },
                  "clmmart_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_ClmMartSecret",
                    "type": "Expression"
                  },
                  "SubjectName": "MEMBERSHIP",
                  "UpdateDate": {
                    "value": "@variables('CurrDate')",
                    "type": "Expression"
                  },
                  "ClmMartRecordCount": {
                    "value": "@pipeline().globalParameters.gbl_param_ClmMartRecordCount",
                    "type": "Expression"
                  },
                  "ClmMartArraySize": {
                    "value": "@pipeline().globalParameters.gbl_param_ClmMartArraySize",
                    "type": "Expression"
                  }
                },
                "waitOnCompletion": true
              }
            }
          ],
          "ifFalseActivities": []
        }
      },
      {
        "name": "CloseRunCycle",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "If_1B",
            "dependencyConditions": [
              "Succeeded"
            ]
          },
          {
            "activity": "WebDMLastUpd",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/CloseRunCycle')",
            "type": "Expression"
          },
          "baseParameters": {
            "DBOwner": {
              "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
              "type": "Expression"
            },
            "secret_name": {
              "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
              "type": "Expression"
            },
            "GlobalEnvironment": {
              "value": "@pipeline().globalParameters.gbl_param_environment",
              "type": "Expression"
            },
            "SrcSystem": {
              "value": "@variables('Source')",
              "type": "Expression"
            },
            "TrgtSystem": {
              "value": "@variables('Target')",
              "type": "Expression"
            },
            "SubjCode": {
              "value": "@variables('Subject')",
              "type": "Expression"
            },
            "FreqCode": {
              "value": "@variables('Frequency')",
              "type": "Expression"
            },
            "RunCycle": {
              "value": "@variables('RunCycle')",
              "type": "Expression"
            }
          }
        }
      }
    ]
  }
}