npw-projects-np-projects-bluekc-translated-66e9366f6cca/Sprint_3_4_5/SequenceJobs/Integrate/IdsExtrnlUserCntl.json
{
  "name": "IdsExtrnlUserCntl",
  "type": "Microsoft.DataFactory/factories/pipelines",
  "properties": {
    "folder": {
      "name": "Integrate/Jobs/Reference"
    },
    "parameters": {},
    "variables": {
      "JobName": {
        "type": "String",
        "defaultValue": ""
      },
      "GroupName": {
        "type": "String",
        "defaultValue": "Reference"
      },
      "Source": {
        "type": "String",
        "defaultValue": "FACETS"
      },
      "Target": {
        "type": "String",
        "defaultValue": "IDS"
      },
      "Subject": {
        "type": "String",
        "defaultValue": "EXTRNL_USER"
      },
      "Frequency": {
        "type": "String",
        "defaultValue": "DAILY"
      },
      "BeginDt": {
        "type": "String",
        "defaultValue": ""
      },
      "RunCyc": {
        "type": "String",
        "defaultValue": ""
      },
      "RunID": {
        "type": "String",
        "defaultValue": ""
      },
      "ExclusionList": {
        "type": "String",
        "defaultValue": ""
      },
      "CurrentDate": {
        "type": "String",
        "defaultValue": ""
      },
      "BeginDate": {
        "type": "String",
        "defaultValue": ""
      },
      "RunCycle": {
        "type": "String",
        "defaultValue": ""
      },
      "SrcSysCdSk": {
        "type": "String",
        "defaultValue": ""
      },
      "Logging": {
        "type": "String",
        "defaultValue": ""
      },
      "LinkCount": {
        "type": "String",
        "defaultValue": ""
      }
    },
    "activities": [
      {
        "name": "Set_JobName",
        "type": "SetVariable",
        "dependsOn": [],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "JobName",
          "value": {
            "value": "@pipeline().Pipeline",
            "type": "Expression"
          }
        }
      },
      {
        "name": "GetRunInfo_BeginDt_NB",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "Set_JobName",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/GetRunInfo')",
            "type": "Expression"
          },
          "baseParameters": {
            "job_name": {
              "value": "@variables('JobName')",
              "type": "Expression"
            },
            "secret_name": "BeginDate",
            "IDSOwner": {
              "value": "",
              "type": "Expression"
            }
          }
        },
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        }
      },
      {
        "name": "Set_BeginDt",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "GetRunInfo_BeginDt_NB",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "BeginDt",
          "value": {
            "value": "@string(activity('GetRunInfo_BeginDt_NB').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "OpenRunCycle_NB",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "Set_BeginDt",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/OpenRunCycle')",
            "type": "Expression"
          },
          "baseParameters": {
            "DBOwner": {
              "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
              "type": "Expression"
            },
            "secret_name": {
              "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
              "type": "Expression"
            },
            "Source": {
              "value": "@variables('Source')",
              "type": "Expression"
            },
            "Target": {
              "value": "@variables('Target')",
              "type": "Expression"
            },
            "Subject": {
              "value": "@variables('Subject')",
              "type": "Expression"
            },
            "Frequency": {
              "value": "@variables('Frequency')",
              "type": "Expression"
            },
            "GlobalEnvironment": {
              "value": "@pipeline().globalParameters.gbl_param_environment",
              "type": "Expression"
            }
          }
        },
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        }
      },
      {
        "name": "Set_RunCyc",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "OpenRunCycle_NB",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "RunCyc",
          "value": {
            "value": "@string(activity('OpenRunCycle_NB').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "ExclusionListExtr_NB",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "Set_RunCyc",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_notebook_path,'/JobSequencer/CommonComponents/ExclusionListExtr')",
            "type": "Expression"
          },
          "baseParameters": {
            "ids_owner_schema": {
              "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
              "type": "Expression"
            },
            "ids_secret_name": {
              "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
              "type": "Expression"
            },
            "Subject": {
              "value": "@variables('JobName')",
              "type": "Expression"
            },
            "ids_staging_schema": {
              "value": "@pipeline().globalParameters.gbl_param_ids_staging",
              "type": "Expression"
            }
          }
        },
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        }
      },
      {
        "name": "WriteRunID_NB",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "ExclusionListExtr_NB",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/WriteRunID')",
            "type": "Expression"
          },
          "baseParameters": {
            "entry_name": {
              "value": "@concat(variables('JobName'), 'RunID')",
              "type": "Expression"
            },
            "secret_name": {
              "value": "",
              "type": "Expression"
            },
            "IDSOwner": {
              "value": "",
              "type": "Expression"
            }
          }
        },
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        }
      },
      {
        "name": "GetRunInfo_RunID_NB",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "WriteRunID_NB",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/GetRunInfo')",
            "type": "Expression"
          },
          "baseParameters": {
            "job_name": {
              "value": "@variables('JobName')",
              "type": "Expression"
            },
            "secret_name": "RunID",
            "IDSOwner": {
              "value": "",
              "type": "Expression"
            }
          }
        },
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        }
      },
      {
        "name": "Set_RunID",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "GetRunInfo_RunID_NB",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "RunID",
          "value": {
            "value": "@string(activity('GetRunInfo_RunID_NB').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "GetExclusionList_NB",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "Set_RunID",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/GetExclusionList')",
            "type": "Expression"
          },
          "baseParameters": {
            "Subject": {
              "value": "@variables('JobName')",
              "type": "Expression"
            },
            "GetExclusionList_a2": "RunID",
            "secret_name": {
              "value": "",
              "type": "Expression"
            },
            "DBOwner": {
              "value": "",
              "type": "Expression"
            }
          }
        },
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        }
      },
      {
        "name": "Set_ExclusionList",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "GetExclusionList_NB",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "ExclusionList",
          "value": {
            "value": "@string(activity('GetExclusionList_NB').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "FormatDate_CurrentDate_NB",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "Set_ExclusionList",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/FORMAT.DATE')",
            "type": "Expression"
          },
          "baseParameters": {
            "pInDate": "string('@DATE')",
            "pSource": "DATE",
            "pSourceFormat": "CURRENT",
            "pOutFormat": "CCYY-MM-DD"
          }
        },
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        }
      },
      {
        "name": "Set_CurrentDate",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "FormatDate_CurrentDate_NB",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "CurrentDate",
          "value": {
            "value": "@string(activity('FormatDate_CurrentDate_NB').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "Set_BeginDate",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "Set_CurrentDate",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "BeginDate",
          "value": {
            "value": "@variables('BeginDt')",
            "type": "Expression"
          }
        }
      },
      {
        "name": "Set_RunCycle",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "Set_BeginDate",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "RunCycle",
          "value": {
            "value": "@variables('RunCyc')",
            "type": "Expression"
          }
        }
      },
      {
        "name": "GetFkeyCodes_NB",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "Set_RunCycle",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/GetFkeyCodes')",
            "type": "Expression"
          },
          "baseParameters": {
            "src_system_cd": "IDS",
            "record_key": "FACETS",
            "cd_mpg_id": "SOURCE SYSTEM",
            "cd_value": "FACETS",
            "logging": "X",
            "GetFkeyCodes_owner": {
              "value": "",
              "type": "Expression"
            },
            "GetFkeyCodes_secret": {
              "value": "",
              "type": "Expression"
            }
          }
        },
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        }
      },
      {
        "name": "Set_SrcSysCdSk",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "GetFkeyCodes_NB",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "SrcSysCdSk",
          "value": {
            "value": "@string(activity('GetFkeyCodes_NB').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "GetRunInfo_Logging_NB",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "Set_SrcSysCdSk",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/GetRunInfo')",
            "type": "Expression"
          },
          "baseParameters": {
            "job_name": {
              "value": "@variables('JobName')",
              "type": "Expression"
            },
            "secret_name": "Logging",
            "IDSOwner": {
              "value": "",
              "type": "Expression"
            }
          }
        },
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        }
      },
      {
        "name": "Set_Logging",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "GetRunInfo_Logging_NB",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "Logging",
          "value": {
            "value": "@string(activity('GetRunInfo_Logging_NB').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "ExclusionListDelete_NB",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "Set_Logging",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_notebook_path,'/JobSequencer/CommonComponents/ExclusionListDelete')",
            "type": "Expression"
          },
          "baseParameters": {
            "ids_owner_schema": {
              "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
              "type": "Expression"
            },
            "ids_secret_name": {
              "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
              "type": "Expression"
            },
            "subject": {
              "value": "@variables('JobName')",
              "type": "Expression"
            }
          }
        },
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        }
      },
      {
        "name": "If_1A",
        "type": "IfCondition",
        "dependsOn": [
          {
            "activity": "ExclusionListDelete_NB",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "expression": {
            "value": "@equals(contains(split(variables('ExclusionList'), ';'), 'IdsExtrnlUserExtrSeq'), false)",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "name": "IdsExtrnlUserExtrSeq_EP",
              "type": "ExecutePipeline",
              "policy": {
                "secureInput": false
              },
              "typeProperties": {
                "pipeline": {
                  "referenceName": "IdsExtrnlUserExtrSeq",
                  "type": "PipelineReference"
                },
                "parameters": {
                  "FacetsOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_FacetsOwner",
                    "type": "Expression"
                  },
                  "facets_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_FacetsSecret",
                    "type": "Expression"
                  },
                  "CurrRunCycle": {
                    "value": "@variables('RunCycle')",
                    "type": "Expression"
                  },
                  "CurrentDate": {
                    "value": "@variables('CurrentDate')",
                    "type": "Expression"
                  },
                  "ExclusionList": {
                    "value": "@variables('ExclusionList')",
                    "type": "Expression"
                  },
                  "BCBSOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_BCBSOwner",
                    "type": "Expression"
                  },
                  "bcbs_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_BCBSSecret",
                    "type": "Expression"
                  }
                },
                "waitOnCompletion": true
              }
            }
          ],
          "ifFalseActivities": []
        }
      },
      {
        "name": "If_1B",
        "type": "IfCondition",
        "dependsOn": [
          {
            "activity": "If_1A",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "expression": {
            "value": "@equals(contains(split(variables('ExclusionList'), ';'), 'IdsExtrnlUserLoadSeq'), false)",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "name": "IdsExtrnlUserLoadSeq_EP",
              "type": "ExecutePipeline",
              "policy": {
                "secureInput": false
              },
              "typeProperties": {
                "pipeline": {
                  "referenceName": "IdsExtrnlUserLoadSeq",
                  "type": "PipelineReference"
                },
                "parameters": {
                  "IDSOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "ids_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                    "type": "Expression"
                  },
                  "CurrRunCycle": {
                    "value": "@variables('RunCycle')",
                    "type": "Expression"
                  },
                  "ExclusionList": {
                    "value": "@variables('ExclusionList')",
                    "type": "Expression"
                  },
                  "Logging": {
                    "value": "@variables('Logging')",
                    "type": "Expression"
                  },
                  "SrcSysCdSk": {
                    "value": "@variables('SrcSysCdSk')",
                    "type": "Expression"
                  },
                  "ClmMartOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_ClmMartOwner",
                    "type": "Expression"
                  },
                  "clmmart_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_ClmMartSecret",
                    "type": "Expression"
                  }
                },
                "waitOnCompletion": true
              }
            }
          ],
          "ifFalseActivities": []
        }
      },
      {
        "name": "CloseRunCycle_NB",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "If_1B",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/CloseRunCycle')",
            "type": "Expression"
          },
          "baseParameters": {
            "DBOwner": {
              "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
              "type": "Expression"
            },
            "secret_name": {
              "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
              "type": "Expression"
            },
            "SrcSystem": {
              "value": "@variables('Source')",
              "type": "Expression"
            },
            "TrgtSystem": {
              "value": "@variables('Target')",
              "type": "Expression"
            },
            "SubjCode": {
              "value": "@variables('Subject')",
              "type": "Expression"
            },
            "FreqCode": {
              "value": "@variables('Frequency')",
              "type": "Expression"
            },
            "RunCycle": {
              "value": "@variables('RunCycle')",
              "type": "Expression"
            },
            "GlobalEnvironment": {
              "value": "@pipeline().globalParameters.gbl_param_environment",
              "type": "Expression"
            }
          }
        },
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        }
      }
    ]
  }
}