npw-projects-np-projects-bluekc-translated-66e9366f6cca/Sprint_3_4_5/SequenceJobs/Integrate/IdsLabCorpLabRsltCntl.json
{
  "name": "IdsLabCorpLabRsltCntl",
  "type": "Microsoft.DataFactory/factories/pipelines",
  "properties": {
    "folder": {
      "name": "Integrate/Jobs/Lab"
    },
    "parameters": {
      "InFileName": {
        "type": "String",
        "defaultValue": "LabCorpLabResults.txt"
      },
      "EmailNotification": {
        "type": "String",
        "defaultValue": "QUEST_LAB_RSLT_ERR_NOTIFICATION@bluekc.com"
      }
    },
    "variables": {
      "JobName": {
        "type": "String",
        "defaultValue": ""
      },
      "GroupName": {
        "type": "String",
        "defaultValue": "LAB_RSLT"
      },
      "Source": {
        "type": "String",
        "defaultValue": "LABCORP"
      },
      "Target": {
        "type": "String",
        "defaultValue": "IDS"
      },
      "Subject": {
        "type": "String",
        "defaultValue": "LABRSLT"
      },
      "Frequency": {
        "type": "String",
        "defaultValue": "MONTHLY"
      },
      "BeginDt": {
        "type": "String",
        "defaultValue": ""
      },
      "LinkCount": {
        "type": "String",
        "defaultValue": ""
      },
      "RunCyc": {
        "type": "String",
        "defaultValue": ""
      },
      "RunID": {
        "type": "String",
        "defaultValue": ""
      },
      "ExclusionList": {
        "type": "String",
        "defaultValue": ""
      },
      "BeginYrMo": {
        "type": "String",
        "defaultValue": ""
      },
      "CurrentDate": {
        "type": "String",
        "defaultValue": ""
      },
      "BeginDate": {
        "type": "String",
        "defaultValue": ""
      },
      "RunCycle": {
        "type": "String",
        "defaultValue": ""
      },
      "SrcSysCdSk": {
        "type": "String",
        "defaultValue": ""
      },
      "FacetsSrcSysCdSk": {
        "type": "String",
        "defaultValue": ""
      },
      "BCASrcSysCdSk": {
        "type": "String",
        "defaultValue": ""
      },
      "var_CountChk_branch": {
        "type": "String",
        "defaultValue": ""
      },
      "var_If_1A_branch": {
        "type": "String",
        "defaultValue": ""
      },
      "var_If_2A_branch": {
        "type": "String",
        "defaultValue": ""
      },
      "var_If_2A_Continuation_branch": {
        "type": "String",
        "defaultValue": ""
      },
      "GetRunInfo_a1": {
        "type": "String",
        "defaultValue": ""
      },
      "GetRunInfo_a2": {
        "type": "String",
        "defaultValue": ""
      },
      "JobLinkCount_a1": {
        "type": "String",
        "defaultValue": ""
      },
      "JobLinkCount_a2": {
        "type": "String",
        "defaultValue": ""
      },
      "JobLinkCount_a3": {
        "type": "String",
        "defaultValue": ""
      },
      "OpenRunCycle_a1": {
        "type": "String",
        "defaultValue": ""
      },
      "OpenRunCycle_a2": {
        "type": "String",
        "defaultValue": ""
      },
      "OpenRunCycle_a3": {
        "type": "String",
        "defaultValue": ""
      },
      "OpenRunCycle_a4": {
        "type": "String",
        "defaultValue": ""
      },
      "OpenRunCycle_a5": {
        "type": "String",
        "defaultValue": ""
      },
      "FIND.DATE_a1": {
        "type": "String",
        "defaultValue": ""
      },
      "FIND.DATE_a2": {
        "type": "String",
        "defaultValue": ""
      },
      "FIND.DATE_a3": {
        "type": "String",
        "defaultValue": ""
      },
      "FIND.DATE_a4": {
        "type": "String",
        "defaultValue": ""
      },
      "FIND.DATE_a5": {
        "type": "String",
        "defaultValue": ""
      },
      "GetExclusionList_a1": {
        "type": "String",
        "defaultValue": ""
      },
      "GetFkeyCodes_a1": {
        "type": "String",
        "defaultValue": ""
      },
      "GetFkeyCodes_a2": {
        "type": "String",
        "defaultValue": ""
      },
      "GetFkeyCodes_a3": {
        "type": "String",
        "defaultValue": ""
      },
      "GetFkeyCodes_a4": {
        "type": "String",
        "defaultValue": ""
      },
      "GetFkeyCodes_a5": {
        "type": "String",
        "defaultValue": ""
      },
      "FORMAT.DATE_a1": {
        "type": "String",
        "defaultValue": ""
      },
      "FORMAT.DATE_a2": {
        "type": "String",
        "defaultValue": ""
      },
      "FORMAT.DATE_a3": {
        "type": "String",
        "defaultValue": ""
      },
      "FORMAT.DATE_a4": {
        "type": "String",
        "defaultValue": ""
      }
    },
    "activities": [
      {
        "name": "Set_JobName",
        "type": "SetVariable",
        "dependsOn": [],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "JobName",
          "value": {
            "value": "@pipeline().Pipeline",
            "type": "Expression"
          }
        }
      },
      {
        "name": "NB_GetRunInfo",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "Set_JobName",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/GetRunInfo')",
            "type": "Expression"
          },
          "baseParameters": {
            "job_name": {
              "value": "@variables('JobName')",
              "type": "Expression"
            },
            "secret_name": {
              "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
              "type": "Expression"
            },
            "IDSOwner": {
              "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
              "type": "Expression"
            },
            "GlobalEnvironment": {
              "value": "@pipeline().globalParameters.gbl_param_environment",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "SV_BeginDt",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "NB_GetRunInfo",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "typeProperties": {
          "variableName": "BeginDt",
          "value": {
            "value": "@string(activity('NB_GetRunInfo').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "ProcessCheckExtr",
        "type": "Lookup",
        "dependsOn": [
          {
            "activity": "SV_BeginDt",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "source": {
            "type": "AzureSqlSource",
            "sqlReaderQuery": {
              "value": "WITH db2_data AS (\n    select SUBJ_CD, TRGT_SYS_CD, SRC_SYS_CD\n    from @{pipeline().globalParameters.gbl_param_IDSOwner}.P_RUN_CYC\n    where CYC_STTUS_CD = 'RUNNING'\n       and SUBJ_CD = '@{variables('Subject')}'\n       and TRGT_SYS_CD = '@{variables('Target')}'\n    UNION\n    select SUBJ_CD, TRGT_SYS_CD, SRC_SYS_CD\n    from @{pipeline().globalParameters.gbl_param_IDSOwner}.P_RUN_CYC\n    where CYC_STTUS_CD = 'RUNNING'\n       and SUBJ_CD = '@{variables('Subject')}'\n       and SRC_SYS_CD <> '@{variables('Source')}'\n       and TRGT_SYS_CD = '@{variables('Target')}'\n    UNION\n    select SUBJ_CD, TRGT_SYS_CD, SRC_SYS_CD\n    from @{pipeline().globalParameters.gbl_param_IDSOwner}.P_RUN_CYC\n    where CYC_STTUS_CD = 'RUNNING'\n       and SUBJ_CD = '@{variables('Subject')}'\n       and SRC_SYS_CD = '@{variables('Source')}'\n),\ntransformed_data AS (\n    SELECT SUBJ_CD, SRC_SYS_CD, TRGT_SYS_CD\n    FROM db2_data\n)\nSELECT COUNT(*) as link_count FROM transformed_data",
              "type": "Expression"
            },
            "queryTimeout": "02:00:00",
            "partitionOption": "None"
          },
          "dataset": {
            "referenceName": "ds_ids",
            "type": "DatasetReference",
            "parameters": {
              "param_schema": "@pipeline().globalParameters.gbl_param_IDSOwner",
              "param_table": "P_RUN_CYC"
            }
          }
        }
      },
      {
        "name": "LinkCount_SetVar",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "ProcessCheckExtr",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "LinkCount",
          "value": {
            "value": "@string(activity('ProcessCheckExtr').output.firstRow.link_count)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "Switch_CountChk",
        "type": "Switch",
        "dependsOn": [
          {
            "activity": "LinkCount_SetVar",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "on": {
            "value": "@if(not(equals(variables('LinkCount'),'0')),'1','0')",
            "type": "Expression"
          },
          "cases": [
            {
              "value": "1",
              "activities": [
                {
                  "name": "SV_CountChk_True",
                  "type": "SetVariable",
                  "dependsOn": [],
                  "policy": {
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "variableName": "var_CountChk_branch",
                    "value": "1"
                  }
                },
                {
                  "name": "Email_DAT",
                  "type": "ExecutePipeline",
                  "dependsOn": [],
                  "policy": {
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "pipeline": {
                      "referenceName": "Email_Notification",
                      "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                      "recipients": {
                        "value": "@pipeline().globalParameters.gbl_param_EmailSupport",
                        "type": "Expression"
                      },
                      "subject": "IDS Quest Lab Result Abort",
                      "body": "The IDS Quest Lab Result processing can not run while other lab result data is being updated or extracted from.",
                      "blobFilenames": "",
                      "fromemail": {
                        "value": "@pipeline().globalParameters.gbl_param_fromemail",
                        "type": "Expression"
                      },
                      "containerName": ""
                    }
                  }
                }
              ]
            }
          ],
          "defaultActivities": [
            {
              "name": "SV_CountChk_False",
              "type": "SetVariable",
              "dependsOn": [],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "var_CountChk_branch",
                "value": "0"
              }
            },
            {
              "name": "NB_OpenRunCycle",
              "type": "DatabricksNotebook",
              "dependsOn": [],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "notebookPath": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/OpenRunCycle')",
                "baseParameters": {
                  "DBOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "Source": {
                    "value": "@variables('Source')",
                    "type": "Expression"
                  },
                  "Target": {
                    "value": "@variables('Target')",
                    "type": "Expression"
                  },
                  "Subject": {
                    "value": "@variables('Subject')",
                    "type": "Expression"
                  },
                  "Frequency": {
                    "value": "@variables('Frequency')",
                    "type": "Expression"
                  },
                  "secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                    "type": "Expression"
                  },
                  "GlobalEnvironment": {
                    "value": "@pipeline().globalParameters.gbl_param_environment",
                    "type": "Expression"
                  }
                }
              },
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              }
            },
            {
              "name": "SV_RunCyc",
              "type": "SetVariable",
              "dependsOn": [
                {
                  "activity": "NB_OpenRunCycle",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "RunCyc",
                "value": {
                  "value": "@string(activity('NB_OpenRunCycle').output.runOutput)",
                  "type": "Expression"
                }
              }
            },
            {
              "name": "ExclusionListExtr",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "SV_RunCyc",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_notebook_path,'/JobSequencer/CommonComponents/ExclusionListExtr')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "ids_owner_schema": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "ids_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                    "type": "Expression"
                  },
                  "Subject": {
                    "value": "@variables('JobName')",
                    "type": "Expression"
                  },
                  "ids_staging_schema": {
                    "value": "@pipeline().globalParameters.gbl_param_ids_staging",
                    "type": "Expression"
                  }
                }
              },
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              }
            },
            {
              "name": "WriteRunID",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "ExclusionListExtr",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "notebookPath": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/WriteRunID')",
                "baseParameters": {
                  "entry_name": {
                    "value": "@concat(variables('JobName'),'RunID')",
                    "type": "Expression"
                  },
                  "IDSOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                    "type": "Expression"
                  },
                  "GlobalEnvironment": {
                    "value": "@pipeline().globalParameters.gbl_param_environment",
                    "type": "Expression"
                  }
                }
              },
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              }
            },
            {
              "name": "SV_RunID",
              "type": "SetVariable",
              "dependsOn": [
                {
                  "activity": "WriteRunID",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "RunID",
                "value": {
                  "value": "@string(activity('WriteRunID').output.runOutput)",
                  "type": "Expression"
                }
              }
            },
            {
              "name": "NB_GetRunInfo_Variables",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "SV_RunID",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/GetRunInfo')",
                "baseParameters": {
                  "job_name": {
                    "value": "@variables('JobName')",
                    "type": "Expression"
                  },
                  "secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                    "type": "Expression"
                  },
                  "IDSOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "GlobalEnvironment": {
                    "value": "@pipeline().globalParameters.gbl_param_environment",
                    "type": "Expression"
                  }
                }
              }
            },
            {
              "name": "SV_RunID_From_GetRunInfo",
              "type": "SetVariable",
              "dependsOn": [
                {
                  "activity": "NB_GetRunInfo_Variables",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "typeProperties": {
                "variableName": "RunID",
                "value": {
                  "value": "@string(activity('NB_GetRunInfo_Variables').output.runOutput)",
                  "type": "Expression"
                }
              }
            },
            {
              "name": "NB_GetExclusionList",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "SV_RunID_From_GetRunInfo",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/GetExclusionList')",
                "baseParameters": {
                  "Subject": {
                    "value": "@variables('JobName')",
                    "type": "Expression"
                  },
                  "DBOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                    "type": "Expression"
                  },
                  "GlobalEnvironment": {
                    "value": "@pipeline().globalParameters.gbl_param_environment",
                    "type": "Expression"
                  }
                }
              }
            },
            {
              "name": "SV_ExclusionList",
              "type": "SetVariable",
              "dependsOn": [
                {
                  "activity": "NB_GetExclusionList",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "typeProperties": {
                "variableName": "ExclusionList",
                "value": {
                  "value": "@string(activity('NB_GetExclusionList').output.runOutput)",
                  "type": "Expression"
                }
              }
            },
            {
              "name": "NB_FIND_DATE",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "SV_ExclusionList",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/FIND.DATE')",
                "baseParameters": {
                  "Start": {
                    "value": "@variables('BeginDt')",
                    "type": "Expression"
                  },
                  "Num": "0",
                  "Unit": "M",
                  "DayOf": "X",
                  "Output": "CCYYMM",
                  "IDSOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "ids_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                    "type": "Expression"
                  },
                  "GlobalEnvironment": {
                    "value": "@pipeline().globalParameters.gbl_param_environment",
                    "type": "Expression"
                  }
                }
              }
            },
            {
              "name": "SV_BeginYrMo",
              "type": "SetVariable",
              "dependsOn": [
                {
                  "activity": "NB_FIND_DATE",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "typeProperties": {
                "variableName": "BeginYrMo",
                "value": {
                  "value": "@string(activity('NB_FIND_DATE').output.runOutput)",
                  "type": "Expression"
                }
              }
            },
            {
              "name": "NB_FORMAT_DATE",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "SV_BeginYrMo",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/FORMAT.DATE')",
                "baseParameters": {
                  "pInDate": "string('@DATE')",
                  "pSource": "DATE",
                  "pSourceFormat": "CURRENT",
                  "pOutFormat": "CCYY-MM-DD",
                  "IDSOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "ids_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                    "type": "Expression"
                  },
                  "GlobalEnvironment": {
                    "value": "@pipeline().globalParameters.gbl_param_environment",
                    "type": "Expression"
                  }
                }
              }
            },
            {
              "name": "SV_CurrentDate",
              "type": "SetVariable",
              "dependsOn": [
                {
                  "activity": "NB_FORMAT_DATE",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "typeProperties": {
                "variableName": "CurrentDate",
                "value": {
                  "value": "@string(activity('NB_FORMAT_DATE').output.runOutput)",
                  "type": "Expression"
                }
              }
            },
            {
              "name": "NB_GetFkeyCodes_SrcSysCdSk",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "SV_CurrentDate",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/GetFkeyCodes')",
                "baseParameters": {
                  "src_system_cd": "IDS",
                  "record_key": "1",
                  "cd_mpg_id": "SOURCE SYSTEM",
                  "cd_value": "LABCORP",
                  "logging": "X",
                  "GetFkeyCodes_owner": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "GetFkeyCodes_secret": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                    "type": "Expression"
                  },
                  "GlobalEnvironment": {
                    "value": "@pipeline().globalParameters.gbl_param_environment",
                    "type": "Expression"
                  }
                }
              }
            },
            {
              "name": "SV_SrcSysCdSk",
              "type": "SetVariable",
              "dependsOn": [
                {
                  "activity": "NB_GetFkeyCodes_SrcSysCdSk",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "typeProperties": {
                "variableName": "SrcSysCdSk",
                "value": {
                  "value": "@string(activity('NB_GetFkeyCodes_SrcSysCdSk').output.runOutput)",
                  "type": "Expression"
                }
              }
            },
            {
              "name": "NB_GetFkeyCodes_Facets",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "SV_SrcSysCdSk",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/GetFkeyCodes')",
                "baseParameters": {
                  "src_system_cd": "IDS",
                  "record_key": "1",
                  "cd_mpg_id": "SOURCE SYSTEM",
                  "cd_value": "FACETS",
                  "logging": "X",
                  "GetFkeyCodes_owner": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "GetFkeyCodes_secret": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                    "type": "Expression"
                  },
                  "GlobalEnvironment": {
                    "value": "@pipeline().globalParameters.gbl_param_environment",
                    "type": "Expression"
                  }
                }
              }
            },
            {
              "name": "SV_FacetsSrcSysCdSk",
              "type": "SetVariable",
              "dependsOn": [
                {
                  "activity": "NB_GetFkeyCodes_Facets",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "typeProperties": {
                "variableName": "FacetsSrcSysCdSk",
                "value": {
                  "value": "@string(activity('NB_GetFkeyCodes_Facets').output.runOutput)",
                  "type": "Expression"
                }
              }
            },
            {
              "name": "NB_GetFkeyCodes_BCA",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "SV_FacetsSrcSysCdSk",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/GetFkeyCodes')",
                "baseParameters": {
                  "src_system_cd": "IDS",
                  "record_key": "1",
                  "cd_mpg_id": "SOURCE SYSTEM",
                  "cd_value": "BCA",
                  "logging": "X",
                  "GetFkeyCodes_owner": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "GetFkeyCodes_secret": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                    "type": "Expression"
                  },
                  "GlobalEnvironment": {
                    "value": "@pipeline().globalParameters.gbl_param_environment",
                    "type": "Expression"
                  }
                }
              }
            },
            {
              "name": "SV_BCASrcSysCdSk",
              "type": "SetVariable",
              "dependsOn": [
                {
                  "activity": "NB_GetFkeyCodes_BCA",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "typeProperties": {
                "variableName": "BCASrcSysCdSk",
                "value": {
                  "value": "@string(activity('NB_GetFkeyCodes_BCA').output.runOutput)",
                  "type": "Expression"
                }
              }
            },
            {
              "name": "ExclusionListDelete",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "SV_BCASrcSysCdSk",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_notebook_path,'/JobSequencer/CommonComponents/ExclusionListDelete')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "ids_owner_schema": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "ids_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                    "type": "Expression"
                  },
                  "subject": {
                    "value": "@variables('JobName')",
                    "type": "Expression"
                  }
                }
              },
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              }
            }
          ]
        }
      },
      {
        "name": "Switch_If_1A",
        "type": "Switch",
        "dependsOn": [
          {
            "activity": "Switch_CountChk",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "on": {
            "value": "@if(and(equals(variables('var_CountChk_branch'),'0'),true),'1','0')",
            "type": "Expression"
          },
          "cases": [
            {
              "value": "1",
              "activities": [
                {
                  "name": "SV_If_1A_True",
                  "type": "SetVariable",
                  "dependsOn": [],
                  "policy": {
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "variableName": "var_If_1A_branch",
                    "value": "1"
                  }
                },
                {
                  "name": "LabCorpRsltExtrSeq",
                  "type": "ExecutePipeline",
                  "dependsOn": [],
                  "policy": {
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "pipeline": {
                      "referenceName": "LabCorpRsltExtrSeq",
                      "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                      "IDSOwner": {
                        "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                        "type": "Expression"
                      },
                      "ids_secret_name": {
                        "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                        "type": "Expression"
                      },
                      "ExclusionList": {
                        "value": "@variables('ExclusionList')",
                        "type": "Expression"
                      },
                      "RowPassThru": "Y",
                      "CurrRunDt": {
                        "value": "@variables('CurrentDate')",
                        "type": "Expression"
                      },
                      "CurrRunCycle": {
                        "value": "@variables('RunCycle')",
                        "type": "Expression"
                      },
                      "RunId": {
                        "value": "@variables('RunID')",
                        "type": "Expression"
                      },
                      "InputFile": {
                        "value": "@pipeline().parameters.InFileName",
                        "type": "Expression"
                      },
                      "EmailAddr": {
                        "value": "@pipeline().globalParameters.gbl_param_EmailSupport",
                        "type": "Expression"
                      },
                      "EmailNotification": {
                        "value": "@pipeline().parameters.EmailNotification",
                        "type": "Expression"
                      },
                      "SrcSysCdSk": {
                        "value": "@variables('SrcSysCdSk')",
                        "type": "Expression"
                      },
                      "SrcSysCd": {
                        "value": "@variables('Source')",
                        "type": "Expression"
                      },
                      "BCBSOwner": {
                        "value": "@pipeline().globalParameters.gbl_param_BCBSOwner",
                        "type": "Expression"
                      },
                      "bcbs_secret_name": {
                        "value": "@pipeline().globalParameters.gbl_param_BCBSSecret",
                        "type": "Expression"
                      },
                      "FacetsSrcSysCdSk": {
                        "value": "@variables('FacetsSrcSysCdSk')",
                        "type": "Expression"
                      },
                      "BCASrcSysCdSk": {
                        "value": "@variables('BCASrcSysCdSk')",
                        "type": "Expression"
                      }
                    }
                  }
                }
              ]
            }
          ],
          "defaultActivities": [
            {
              "name": "SV_If_1A_False",
              "type": "SetVariable",
              "dependsOn": [],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "var_If_1A_branch",
                "value": "0"
              }
            }
          ]
        }
      },
      {
        "name": "Switch_If_2A",
        "type": "Switch",
        "dependsOn": [
          {
            "activity": "Switch_If_1A",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "on": {
            "value": "@if(and(equals(variables('var_CountChk_branch'),'0'),true),'1','0')",
            "type": "Expression"
          },
          "cases": [
            {
              "value": "1",
              "activities": [
                {
                  "name": "SV_If_2A_True",
                  "type": "SetVariable",
                  "dependsOn": [],
                  "policy": {
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "variableName": "var_If_2A_branch",
                    "value": "1"
                  }
                },
                {
                  "name": "LabRsltLoadSeq",
                  "type": "ExecutePipeline",
                  "dependsOn": [],
                  "policy": {
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "pipeline": {
                      "referenceName": "LabRsltLoadSeq",
                      "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                      "IDSOwner": {
                        "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                        "type": "Expression"
                      },
                      "ids_secret_name": {
                        "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                        "type": "Expression"
                      },
                      "Logging": "Y",
                      "CurrRunCycle": {
                        "value": "@variables('RunCycle')",
                        "type": "Expression"
                      },
                      "RunId": {
                        "value": "@variables('RunID')",
                        "type": "Expression"
                      },
                      "ExclusionList": {
                        "value": "@variables('ExclusionList')",
                        "type": "Expression"
                      },
                      "RowPassThru": "Y",
                      "SrcSysCdSk": {
                        "value": "@variables('SrcSysCdSk')",
                        "type": "Expression"
                      }
                    }
                  }
                }
              ]
            }
          ],
          "defaultActivities": [
            {
              "name": "SV_If_2A_False",
              "type": "SetVariable",
              "dependsOn": [],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "var_If_2A_branch",
                "value": "0"
              }
            }
          ]
        }
      },
      {
        "name": "Switch_If_2A_Continuation",
        "type": "Switch",
        "dependsOn": [
          {
            "activity": "Switch_If_2A",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "on": {
            "value": "@if(equals(variables('var_CountChk_branch'),'0'),'1','0')",
            "type": "Expression"
          },
          "cases": [
            {
              "value": "1",
              "activities": [
                {
                  "name": "SV_If_2A_Cont_True",
                  "type": "SetVariable",
                  "dependsOn": [],
                  "policy": {
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "variableName": "var_If_2A_Continuation_branch",
                    "value": "1"
                  }
                },
                {
                  "name": "Remove_Processing_Files",
                  "type": "DatabricksNotebook",
                  "dependsOn": [],
                  "policy": {
                    "timeout": "12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "notebookPath": "@concat(pipeline().globalParameters.gbl_param_scripts, '/Generic_ADLS_File_Operations')",
                    "baseParameters": {
                      "src_file_with_path": {
                        "value": "/verified/LabCorp*.dat",
                        "type": "Expression"
                      },
                      "command": "delete",
                      "project": "integrate"
                    }
                  },
                  "linkedServiceName": {
                    "referenceName": "shareddatabricks",
                    "type": "LinkedServiceReference"
                  }
                },
                {
                  "name": "CloseRunCycle",
                  "type": "DatabricksNotebook",
                  "dependsOn": [
                    {
                      "activity": "Remove_Processing_Files",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "timeout": "12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "notebookPath": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/CloseRunCycle')",
                    "baseParameters": {
                      "DBOwner": {
                        "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                        "type": "Expression"
                      },
                      "secret_name": {
                        "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                        "type": "Expression"
                      },
                      "SrcSystem": {
                        "value": "@variables('Source')",
                        "type": "Expression"
                      },
                      "TrgtSystem": {
                        "value": "@variables('Target')",
                        "type": "Expression"
                      },
                      "SubjCode": {
                        "value": "@variables('Subject')",
                        "type": "Expression"
                      },
                      "FreqCode": {
                        "value": "@variables('Frequency')",
                        "type": "Expression"
                      },
                      "RunCycle": {
                        "value": "@variables('RunCycle')",
                        "type": "Expression"
                      },
                      "GlobalEnvironment": {
                        "value": "@pipeline().globalParameters.gbl_param_environment",
                        "type": "Expression"
                      }
                    }
                  },
                  "linkedServiceName": {
                    "referenceName": "shareddatabricks",
                    "type": "LinkedServiceReference"
                  }
                }
              ]
            }
          ],
          "defaultActivities": [
            {
              "name": "SV_If_2A_Cont_False",
              "type": "SetVariable",
              "dependsOn": [],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "var_If_2A_Continuation_branch",
                "value": "0"
              }
            }
          ]
        }
      }
    ]
  }
}