npw-projects-np-projects-bluekc-translated-66e9366f6cca/Sprint_3_4_5/SequenceJobs/Integrate/IdsMbrHedisMesrGapCntl.json
{
  "name": "IdsMbrHedisMesrGapCntl",
  "type": "Microsoft.DataFactory/factories/pipelines",
  "properties": {
    "folder": {
      "name": "Integrate/Jobs/DataWarehouse/Membership"
    },
    "parameters": {
      "SourceFileName": {
        "type": "String",
        "defaultValue": ""
      }
    },
    "variables": {
      "JobName": {
        "type": "String",
        "defaultValue": ""
      },
      "Source": {
        "type": "String",
        "defaultValue": "HEDIS"
      },
      "Target": {
        "type": "String",
        "defaultValue": "IDS"
      },
      "Subject": {
        "type": "String",
        "defaultValue": "MEDMGT"
      },
      "Frequency": {
        "type": "String",
        "defaultValue": "MONTHLY"
      },
      "LinkCount": {
        "type": "String",
        "defaultValue": ""
      },
      "RunCycle": {
        "type": "String",
        "defaultValue": ""
      },
      "ExclusionList": {
        "type": "String",
        "defaultValue": ""
      },
      "RunID": {
        "type": "String",
        "defaultValue": ""
      },
      "LastRunDate": {
        "type": "String",
        "defaultValue": ""
      },
      "Logging": {
        "type": "String",
        "defaultValue": "Y"
      },
      "CurrDate": {
        "type": "String",
        "defaultValue": ""
      },
      "SrcSysCdSk": {
        "type": "String",
        "defaultValue": ""
      },
      "NextBeginDate": {
        "type": "String",
        "defaultValue": ""
      },
      "RunIDTimeStamp": {
        "type": "String",
        "defaultValue": ""
      },
      "IdsMbrRunCycle": {
        "type": "String",
        "defaultValue": ""
      },
      "PrefixFKeyFailedFileName": {
        "type": "String",
        "defaultValue": ""
      },
      "var_CountChk_branch": {
        "type": "String",
        "defaultValue": ""
      },
      "var_If_1A_branch": {
        "type": "String",
        "defaultValue": ""
      },
      "var_If_1A_Continuation_branch": {
        "type": "String",
        "defaultValue": ""
      },
      "var_If_3B_branch": {
        "type": "String",
        "defaultValue": ""
      },
      "var_If_4B_branch": {
        "type": "String",
        "defaultValue": ""
      },
      "var_If_4B_Continuation_branch": {
        "type": "String",
        "defaultValue": ""
      }
    },
    "activities": [
      {
        "name": "Set_JobName",
        "type": "SetVariable",
        "dependsOn": [],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "JobName",
          "value": {
            "value": "@pipeline().Pipeline",
            "type": "Expression"
          }
        }
      },
      {
        "name": "ProcessCheckExtr_EE",
        "type": "Lookup",
        "dependsOn": [
          {
            "activity": "Set_JobName",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "source": {
            "type": "AzureSqlSource",
            "sqlReaderQuery": {
              "value": "WITH db2_data AS (\n    select SUBJ_CD, TRGT_SYS_CD, SRC_SYS_CD\n    from @{pipeline().globalParameters.gbl_param_IDSOwner}.P_RUN_CYC\n    where CYC_STTUS_CD = 'RUNNING'\n       and SUBJ_CD = '@{variables('Subject')}'\n       and TRGT_SYS_CD = '@{variables('Target')}'\n    UNION\n    select SUBJ_CD, TRGT_SYS_CD, SRC_SYS_CD\n    from @{pipeline().globalParameters.gbl_param_IDSOwner}.P_RUN_CYC\n    where CYC_STTUS_CD = 'RUNNING'\n       and SUBJ_CD = '@{variables('Subject')}'\n       and SRC_SYS_CD <> '@{variables('Source')}'\n       and TRGT_SYS_CD = '@{variables('Target')}'\n    UNION\n    select SUBJ_CD, TRGT_SYS_CD, SRC_SYS_CD\n    from @{pipeline().globalParameters.gbl_param_IDSOwner}.P_RUN_CYC\n    where CYC_STTUS_CD = 'RUNNING'\n       and SUBJ_CD = '@{variables('Subject')}'\n       and SRC_SYS_CD = '@{variables('Source')}'\n),\ntransformed_data AS (\n    SELECT SUBJ_CD, SRC_SYS_CD, TRGT_SYS_CD\n    FROM db2_data\n)\nSELECT COUNT(*) as link_count FROM transformed_data",
              "type": "Expression"
            },
            "queryTimeout": "02:00:00",
            "partitionOption": "None"
          },
          "dataset": {
            "referenceName": "ds_ids",
            "type": "DatasetReference",
            "parameters": {
              "param_schema": "@pipeline().globalParameters.gbl_param_IDSOwner",
              "param_table": "P_RUN_CYC"
            }
          }
        }
      },
      {
        "name": "LinkCount_SetVar",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "ProcessCheckExtr_EE",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "LinkCount",
          "value": {
            "value": "@string(activity('ProcessCheckExtr_EE').output.firstRow.link_count)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "Switch_CountChk",
        "type": "Switch",
        "dependsOn": [
          {
            "activity": "LinkCount_SetVar",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "on": {
            "value": "@if(not(equals(variables('LinkCount'), '0')),'1','0')",
            "type": "Expression"
          },
          "cases": [
            {
              "value": "1",
              "activities": [
                {
                  "name": "Set_var_CountChk_branch_True",
                  "type": "SetVariable",
                  "dependsOn": [],
                  "policy": {
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "variableName": "var_CountChk_branch",
                    "value": {
                      "value": "1",
                      "type": "Expression"
                    }
                  }
                },
                {
                  "name": "Email_DAT",
                  "type": "ExecutePipeline",
                  "dependsOn": [
                    {
                      "activity": "Set_var_CountChk_branch_True",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "pipeline": {
                      "referenceName": "Email_Notification",
                      "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                      "recipients": {
                        "value": "@pipeline().globalParameters.gbl_param_EmailSupport",
                        "type": "Expression"
                      },
                      "subject": "HEDIS_MESR_GAP and DPLY Abort",
                      "body": "The IDS Facets HEDIS_MESR_GAP Cntl cannot run while there is another process listed on the P_RUN_CYC as running.   This job is being halted.\n\nSOURCE:           HEDIS\nSUBJECT:          MEDMGT\nTARGET:           IDS\nFREQUENCY:    ON-REQUEST",
                      "blobFilenames": " ",
                      "fromemail": {
                        "value": "@pipeline().globalParameters.gbl_param_fromemail",
                        "type": "Expression"
                      },
                      "containerName": {
                        "value": " ",
                        "type": "Expression"
                      }
                    }
                  }
                },
                {
                  "name": "Failed",
                  "type": "DatabricksNotebook",
                  "dependsOn": [
                    {
                      "activity": "Email_DAT",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "timeout": "12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "linkedServiceName": {
                    "referenceName": "shareddatabricks",
                    "type": "LinkedServiceReference"
                  },
                  "typeProperties": {
                    "notebookPath": "@concat(pipeline().globalParameters.gbl_param_scripts, '/Generic_ADLS_File_Operations')",
                    "baseParameters": {
                      "command": "cat",
                      "project": "integrate"
                    }
                  }
                }
              ]
            }
          ],
          "defaultActivities": [
            {
              "name": "Set_var_CountChk_branch_False",
              "type": "SetVariable",
              "dependsOn": [],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "var_CountChk_branch",
                "value": {
                  "value": "0",
                  "type": "Expression"
                }
              }
            }
          ]
        }
      },
      {
        "name": "Switch_Continuation_CountChk_False",
        "type": "Switch",
        "dependsOn": [
          {
            "activity": "Switch_CountChk",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "on": {
            "value": "@if(equals(variables('var_CountChk_branch'),'0'),'1','0')",
            "type": "Expression"
          },
          "cases": [
            {
              "value": "1",
              "activities": [
                {
                  "name": "Notebook_RunCycle",
                  "type": "DatabricksNotebook",
                  "dependsOn": [],
                  "policy": {
                    "timeout": "12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "linkedServiceName": {
                    "referenceName": "shareddatabricks",
                    "type": "LinkedServiceReference"
                  },
                  "typeProperties": {
                    "notebookPath": {
                      "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/OpenRunCycle')",
                      "type": "Expression"
                    },
                    "baseParameters": {
                      "DBOwner": {
                        "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                        "type": "Expression"
                      },
                      "Source": {
                        "value": "@variables('Source')",
                        "type": "Expression"
                      },
                      "Target": {
                        "value": "@variables('Target')",
                        "type": "Expression"
                      },
                      "Subject": {
                        "value": "@variables('Subject')",
                        "type": "Expression"
                      },
                      "Frequency": {
                        "value": "@variables('Frequency')",
                        "type": "Expression"
                      },
                      "GlobalEnvironment": {
                        "value": "@pipeline().globalParameters.gbl_param_environment",
                        "type": "Expression"
                      },
                      "secret_name": {
                        "value": "",
                        "type": "Expression"
                      }
                    }
                  }
                },
                {
                  "name": "Set_RunCycle",
                  "type": "SetVariable",
                  "dependsOn": [
                    {
                      "activity": "Notebook_RunCycle",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "variableName": "RunCycle",
                    "value": {
                      "value": "@string(activity('Notebook_RunCycle').output.runOutput)",
                      "type": "Expression"
                    }
                  }
                },
                {
                  "name": "ExclusionListExtr_EE",
                  "type": "ExecutePipeline",
                  "dependsOn": [
                    {
                      "activity": "Set_RunCycle",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "waitOnCompletion": true,
                    "pipeline": {
                      "referenceName": "ExclusionListExtr_EE",
                      "type": "PipelineReference"
                    },
                    "parameters": {
                      "IDSOwner": {
                        "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                        "type": "Expression"
                      },
                      "Subject": {
                        "value": "@variables('JobName')",
                        "type": "Expression"
                      }
                    }
                  }
                },
                {
                  "name": "Notebook_ReadExclusionListFile",
                  "type": "DatabricksNotebook",
                  "dependsOn": [
                    {
                      "activity": "ExclusionListExtr_EE",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "timeout": "12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "linkedServiceName": {
                    "referenceName": "shareddatabricks",
                    "type": "LinkedServiceReference"
                  },
                  "typeProperties": {
                    "notebookPath": "@concat(pipeline().globalParameters.gbl_param_scripts, '/Generic_ADLS_File_Operations')",
                    "baseParameters": {
                      "src_file_with_path": {
                        "value": "/_TASK_EXCL.dat",
                        "type": "Expression"
                      },
                      "command": "cat",
                      "cut_column_index": "2",
                      "project": "integrate"
                    }
                  }
                },
                {
                  "name": "Set_RunID_FromCat",
                  "type": "SetVariable",
                  "dependsOn": [
                    {
                      "activity": "Notebook_ReadExclusionListFile",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "variableName": "RunID",
                    "value": {
                      "value": "@string(activity('Notebook_ReadExclusionListFile').output.runOutput)",
                      "type": "Expression"
                    }
                  }
                },
                {
                  "name": "Notebook_WriteRunID",
                  "type": "DatabricksNotebook",
                  "dependsOn": [
                    {
                      "activity": "Set_RunID_FromCat",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "timeout": "12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "linkedServiceName": {
                    "referenceName": "shareddatabricks",
                    "type": "LinkedServiceReference"
                  },
                  "typeProperties": {
                    "notebookPath": {
                      "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/WriteRunID')",
                      "type": "Expression"
                    },
                    "baseParameters": {
                      "entry_name": {
                        "value": "@concat(variables('JobName'), ':\"RunID\"')",
                        "type": "Expression"
                      },
                      "GlobalEnvironment": {
                        "value": "@pipeline().globalParameters.gbl_param_environment",
                        "type": "Expression"
                      },
                      "secret_name": {
                        "value": "",
                        "type": "Expression"
                      },
                      "IDSOwner": {
                        "value": "",
                        "type": "Expression"
                      }
                    }
                  }
                },
                {
                  "name": "Variables_RoutinesChain",
                  "type": "DatabricksNotebook",
                  "dependsOn": [
                    {
                      "activity": "Notebook_WriteRunID",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "timeout": "12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "linkedServiceName": {
                    "referenceName": "shareddatabricks",
                    "type": "LinkedServiceReference"
                  },
                  "typeProperties": {
                    "notebookPath": {
                      "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/Variables_RoutinesChain')",
                      "type": "Expression"
                    },
                    "baseParameters": {
                      "GetExclusionList_a1": {
                        "value": "@variables('JobName')",
                        "type": "Expression"
                      },
                      "GetRunInfo_a1": {
                        "value": "@concat(variables('JobName'), ':\"RunID\"')",
                        "type": "Expression"
                      },
                      "GetRunInfo_a2": {
                        "value": "@concat(variables('JobName'), ':\"LastRunDate\"')",
                        "type": "Expression"
                      },
                      "FORMAT_DATE_a1": "@DATE",
                      "FORMAT_DATE_a2": "DATE",
                      "FORMAT_DATE_a3": "CURRENT",
                      "FORMAT_DATE_a4": "CCYY-MM-DD",
                      "GetFkeyCodes_a1": "IDS",
                      "GetFkeyCodes_a2": "1",
                      "GetFkeyCodes_a3": "SOURCE SYSTEM",
                      "GetFkeyCodes_a4": {
                        "value": "@variables('Source')",
                        "type": "Expression"
                      },
                      "GetFkeyCodes_a5": "X",
                      "FORMAT_DATE_SYBTIMESTAMP_a1": "@DATE",
                      "FORMAT_DATE_SYBTIMESTAMP_a2": "DATE",
                      "FORMAT_DATE_SYBTIMESTAMP_a3": "CURRENT",
                      "FORMAT_DATE_SYBTIMESTAMP_a4": "SYBTIMESTAMP",
                      "GetExtractRunCycle_a1": {
                        "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                        "type": "Expression"
                      },
                      "GetExtractRunCycle_a2": "MEMBERSHIP",
                      "GetExtractRunCycle_a3": "FACETS",
                      "GetExtractRunCycle_a4": "IDS",
                      "GetExtractRunCycle_a5": "EDW",
                      "Logging": "Y",
                      "Substrings_Aggregate_for_RunIDTimeStamp": {
                        "value": "@concat('ApplySubstrLogic(', variables('JobName'), ')')",
                        "type": "Expression"
                      },
                      "GlobalEnvironment": {
                        "value": "@pipeline().globalParameters.gbl_param_environment",
                        "type": "Expression"
                      }
                    }
                  }
                },
                {
                  "name": "Set_ExclusionList",
                  "type": "SetVariable",
                  "dependsOn": [
                    {
                      "activity": "Variables_RoutinesChain",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "variableName": "ExclusionList",
                    "value": {
                      "value": "@string(activity('Variables_RoutinesChain').output.runOutput.GetExclusionList)",
                      "type": "Expression"
                    }
                  }
                },
                {
                  "name": "Set_RunID_afterVars",
                  "type": "SetVariable",
                  "dependsOn": [
                    {
                      "activity": "Set_ExclusionList",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "variableName": "RunID",
                    "value": {
                      "value": "@string(activity('Variables_RoutinesChain').output.runOutput.RunID)",
                      "type": "Expression"
                    }
                  }
                },
                {
                  "name": "Set_LastRunDate",
                  "type": "SetVariable",
                  "dependsOn": [
                    {
                      "activity": "Set_RunID_afterVars",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "variableName": "LastRunDate",
                    "value": {
                      "value": "@string(activity('Variables_RoutinesChain').output.runOutput.LastRunDate)",
                      "type": "Expression"
                    }
                  }
                },
                {
                  "name": "Set_CurrDate",
                  "type": "SetVariable",
                  "dependsOn": [
                    {
                      "activity": "Set_LastRunDate",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "variableName": "CurrDate",
                    "value": {
                      "value": "@string(activity('Variables_RoutinesChain').output.runOutput.CurrDate)",
                      "type": "Expression"
                    }
                  }
                },
                {
                  "name": "Set_SrcSysCdSk",
                  "type": "SetVariable",
                  "dependsOn": [
                    {
                      "activity": "Set_CurrDate",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "variableName": "SrcSysCdSk",
                    "value": {
                      "value": "@string(activity('Variables_RoutinesChain').output.runOutput.SrcSysCdSk)",
                      "type": "Expression"
                    }
                  }
                },
                {
                  "name": "Set_NextBeginDate",
                  "type": "SetVariable",
                  "dependsOn": [
                    {
                      "activity": "Set_SrcSysCdSk",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "variableName": "NextBeginDate",
                    "value": {
                      "value": "@string(activity('Variables_RoutinesChain').output.runOutput.NextBeginDate)",
                      "type": "Expression"
                    }
                  }
                },
                {
                  "name": "Set_RunIDTimeStamp",
                  "type": "SetVariable",
                  "dependsOn": [
                    {
                      "activity": "Set_NextBeginDate",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "variableName": "RunIDTimeStamp",
                    "value": {
                      "value": "@string(activity('Variables_RoutinesChain').output.runOutput.RunIDTimeStamp)",
                      "type": "Expression"
                    }
                  }
                },
                {
                  "name": "Set_IdsMbrRunCycle",
                  "type": "SetVariable",
                  "dependsOn": [
                    {
                      "activity": "Set_RunIDTimeStamp",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "variableName": "IdsMbrRunCycle",
                    "value": {
                      "value": "@string(activity('Variables_RoutinesChain').output.runOutput.IdsMbrRunCycle)",
                      "type": "Expression"
                    }
                  }
                },
                {
                  "name": "Notebook_FkeyFailFilePrefix",
                  "type": "DatabricksNotebook",
                  "dependsOn": [
                    {
                      "activity": "Set_IdsMbrRunCycle",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "timeout": "12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "linkedServiceName": {
                    "referenceName": "shareddatabricks",
                    "type": "LinkedServiceReference"
                  },
                  "typeProperties": {
                    "notebookPath": {
                      "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/PrefixFKeyFailedFileName')",
                      "type": "Expression"
                    },
                    "baseParameters": {
                      "PrefixFKeyFailedFileName_a1": {
                        "value": "@concat('FKeysFailure.', pipeline().Pipeline, '.', variables('RunID'))",
                        "type": "Expression"
                      },
                      "GlobalEnvironment": {
                        "value": "@pipeline().globalParameters.gbl_param_environment",
                        "type": "Expression"
                      }
                    }
                  }
                },
                {
                  "name": "Set_PrefixFKeyFailedFileName",
                  "type": "SetVariable",
                  "dependsOn": [
                    {
                      "activity": "Notebook_FkeyFailFilePrefix",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "variableName": "PrefixFKeyFailedFileName",
                    "value": {
                      "value": "@string(activity('Notebook_FkeyFailFilePrefix').output.runOutput)",
                      "type": "Expression"
                    }
                  }
                },
                {
                  "name": "ExclusionListDelete_EE",
                  "type": "ExecutePipeline",
                  "dependsOn": [
                    {
                      "activity": "Set_PrefixFKeyFailedFileName",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "pipeline": {
                      "referenceName": "ExclusionListDelete_EE",
                      "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                      "IDSOwner": {
                        "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                        "type": "Expression"
                      },
                      "ids_secret_name": {
                        "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                        "type": "Expression"
                      },
                      "Subject": {
                        "value": "@variables('JobName')",
                        "type": "Expression"
                      }
                    }
                  }
                }
              ]
            }
          ],
          "defaultActivities": []
        }
      },
      {
        "name": "Switch_If_1A",
        "type": "Switch",
        "dependsOn": [
          {
            "activity": "Switch_Continuation_CountChk_False",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "on": {
            "value": "@if(and(equals(variables('var_CountChk_branch'),'0'),equals(contains(variables('ExclusionList'),'IdsIdsMbrEnrQhpExtr'),false)),'1','0')",
            "type": "Expression"
          },
          "cases": [
            {
              "value": "1",
              "activities": [
                {
                  "name": "Set_var_If_1A_branch_True",
                  "type": "SetVariable",
                  "dependsOn": [],
                  "policy": {
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "variableName": "var_If_1A_branch",
                    "value": {
                      "value": "1",
                      "type": "Expression"
                    }
                  }
                },
                {
                  "name": "IdsIdsMbrEnrQhpExtr",
                  "type": "ExecutePipeline",
                  "dependsOn": [
                    {
                      "activity": "Set_var_If_1A_branch_True",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "waitOnCompletion": true,
                    "pipeline": {
                      "referenceName": "IdsMbrHedisMesrGapSeq",
                      "type": "PipelineReference"
                    },
                    "parameters": {
                      "RunID": {
                        "value": "@variables('RunID')",
                        "type": "Expression"
                      },
                      "RunCycle": {
                        "value": "@variables('IdsMbrRunCycle')",
                        "type": "Expression"
                      },
                      "ExclusionList": {
                        "value": "@concat('ExclusionListDelete_EE.', pipeline().Pipeline)",
                        "type": "Expression"
                      },
                      "CurrDate": {
                        "value": "@variables('CurrDate')",
                        "type": "Expression"
                      },
                      "IDSOwner": {
                        "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                        "type": "Expression"
                      },
                      "RunIDTimeStamp": {
                        "value": "@variables('RunIDTimeStamp')",
                        "type": "Expression"
                      },
                      "SrcSysCd": {
                        "value": "@variables('Source')",
                        "type": "Expression"
                      },
                      "SourceFileName": {
                        "value": "@pipeline().parameters.SourceFileName",
                        "type": "Expression"
                      }
                    }
                  }
                }
              ]
            }
          ],
          "defaultActivities": [
            {
              "name": "Set_var_If_1A_branch_False",
              "type": "SetVariable",
              "dependsOn": [],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "var_If_1A_branch",
                "value": {
                  "value": "0",
                  "type": "Expression"
                }
              }
            }
          ]
        }
      },
      {
        "name": "Switch_If_1A_Continuation",
        "type": "Switch",
        "dependsOn": [
          {
            "activity": "Switch_If_1A",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "on": {
            "value": "@if(and(equals(variables('var_CountChk_branch'),'0'),equals(variables('var_If_1A_branch'),'1')),'1','0')",
            "type": "Expression"
          },
          "cases": [
            {
              "value": "1",
              "activities": [
                {
                  "name": "Set_var_If_1A_Continuation_branch_True",
                  "type": "SetVariable",
                  "dependsOn": [],
                  "policy": {
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "variableName": "var_If_1A_Continuation_branch",
                    "value": {
                      "value": "1",
                      "type": "Expression"
                    }
                  }
                }
              ]
            }
          ],
          "defaultActivities": [
            {
              "name": "Set_var_If_1A_Continuation_branch_False",
              "type": "SetVariable",
              "dependsOn": [],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "var_If_1A_Continuation_branch",
                "value": {
                  "value": "0",
                  "type": "Expression"
                }
              }
            }
          ]
        }
      },
      {
        "name": "Switch_If_3B",
        "type": "Switch",
        "dependsOn": [
          {
            "activity": "Switch_If_1A_Continuation",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "on": {
            "value": "@if(and(equals(variables('var_CountChk_branch'),'0'),equals(contains(variables('ExclusionList'),'DeleteExtrDataSets'),false)),'1','0')",
            "type": "Expression"
          },
          "cases": [
            {
              "value": "1",
              "activities": [
                {
                  "name": "Set_var_If_3B_branch_True",
                  "type": "SetVariable",
                  "dependsOn": [],
                  "policy": {
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "variableName": "var_If_3B_branch",
                    "value": {
                      "value": "1",
                      "type": "Expression"
                    }
                  }
                },
                {
                  "name": "Notebook_RemoveLandingandKeyFiles",
                  "type": "DatabricksNotebook",
                  "dependsOn": [
                    {
                      "activity": "Set_var_If_3B_branch_True",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "timeout": "12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "linkedServiceName": {
                    "referenceName": "shareddatabricks",
                    "type": "LinkedServiceReference"
                  },
                  "typeProperties": {
                    "notebookPath": "@concat(pipeline().globalParameters.gbl_param_scripts, '/Generic_ADLS_File_Operations')",
                    "baseParameters": {
                      "command": "delete",
                      "project": "integrate"
                    }
                  }
                }
              ]
            }
          ],
          "defaultActivities": [
            {
              "name": "Set_var_If_3B_branch_False",
              "type": "SetVariable",
              "dependsOn": [],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "var_If_3B_branch",
                "value": {
                  "value": "0",
                  "type": "Expression"
                }
              }
            }
          ]
        }
      },
      {
        "name": "Switch_If_4B",
        "type": "Switch",
        "dependsOn": [
          {
            "activity": "Switch_If_3B",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "on": {
            "value": "@if(and(equals(variables('var_CountChk_branch'),'0'),equals(contains(variables('ExclusionList'),'DeleteXfrmDataSets'),false)),'1','0')",
            "type": "Expression"
          },
          "cases": [
            {
              "value": "1",
              "activities": [
                {
                  "name": "Set_var_If_4B_branch_True",
                  "type": "SetVariable",
                  "dependsOn": [],
                  "policy": {
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "variableName": "var_If_4B_branch",
                    "value": {
                      "value": "1",
                      "type": "Expression"
                    }
                  }
                },
                {
                  "name": "Notebook_MvSrcandLoadFiletoProcesses",
                  "type": "DatabricksNotebook",
                  "dependsOn": [
                    {
                      "activity": "Set_var_If_4B_branch_True",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "timeout": "12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "linkedServiceName": {
                    "referenceName": "shareddatabricks",
                    "type": "LinkedServiceReference"
                  },
                  "typeProperties": {
                    "notebookPath": "@concat(pipeline().globalParameters.gbl_param_scripts, '/Generic_ADLS_File_Operations')",
                    "baseParameters": {
                      "command": "move",
                      "project": "integrate"
                    }
                  }
                }
              ]
            }
          ],
          "defaultActivities": [
            {
              "name": "Set_var_If_4B_branch_False",
              "type": "SetVariable",
              "dependsOn": [],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "var_If_4B_branch",
                "value": {
                  "value": "0",
                  "type": "Expression"
                }
              }
            }
          ]
        }
      },
      {
        "name": "Switch_If_4B_Continuation",
        "type": "Switch",
        "dependsOn": [
          {
            "activity": "Switch_If_4B",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "on": {
            "value": "@if(and(equals(variables('var_CountChk_branch'),'0'),or(equals(variables('var_If_3B_branch'),'0'),equals(variables('var_If_3B_branch'),'1')),or(equals(variables('var_If_4B_branch'),'0'),equals(variables('var_If_4B_branch'),'1'))),'1','0')",
            "type": "Expression"
          },
          "cases": [
            {
              "value": "1",
              "activities": [
                {
                  "name": "Set_var_If_4B_Continuation_branch_True",
                  "type": "SetVariable",
                  "dependsOn": [],
                  "policy": {
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "variableName": "var_If_4B_Continuation_branch",
                    "value": {
                      "value": "1",
                      "type": "Expression"
                    }
                  }
                },
                {
                  "name": "Notebook_WriteLastRunDate",
                  "type": "DatabricksNotebook",
                  "dependsOn": [
                    {
                      "activity": "Set_var_If_4B_Continuation_branch_True",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "timeout": "12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "linkedServiceName": {
                    "referenceName": "shareddatabricks",
                    "type": "LinkedServiceReference"
                  },
                  "typeProperties": {
                    "notebookPath": {
                      "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/WriteRunInfo')",
                      "type": "Expression"
                    },
                    "baseParameters": {
                      "arg1": {
                        "value": "@concat(variables('JobName'), ':\"LastRunDate\"')",
                        "type": "Expression"
                      },
                      "arg2": {
                        "value": "@variables('CurrDate')",
                        "type": "Expression"
                      },
                      "arg3": {
                        "value": "@variables('LastRunDate')",
                        "type": "Expression"
                      },
                      "GlobalEnvironment": {
                        "value": "@pipeline().globalParameters.gbl_param_environment",
                        "type": "Expression"
                      },
                      "secret_name": {
                        "value": "",
                        "type": "Expression"
                      },
                      "IDSOwner": {
                        "value": "",
                        "type": "Expression"
                      }
                    }
                  }
                },
                {
                  "name": "Notebook_CloseRunCycle",
                  "type": "DatabricksNotebook",
                  "dependsOn": [
                    {
                      "activity": "Notebook_WriteLastRunDate",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "timeout": "12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "linkedServiceName": {
                    "referenceName": "shareddatabricks",
                    "type": "LinkedServiceReference"
                  },
                  "typeProperties": {
                    "notebookPath": {
                      "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/CloseRunCycle')",
                      "type": "Expression"
                    },
                    "baseParameters": {
                      "CloseRunCycle_a1": {
                        "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                        "type": "Expression"
                      },
                      "CloseRunCycle_a2": {
                        "value": "@variables('Source')",
                        "type": "Expression"
                      },
                      "CloseRunCycle_a3": {
                        "value": "@variables('Target')",
                        "type": "Expression"
                      },
                      "CloseRunCycle_a4": {
                        "value": "@variables('Subject')",
                        "type": "Expression"
                      },
                      "CloseRunCycle_a5": {
                        "value": "@variables('Frequency')",
                        "type": "Expression"
                      },
                      "CloseRunCycle_a6": {
                        "value": "@variables('RunCycle')",
                        "type": "Expression"
                      },
                      "GlobalEnvironment": {
                        "value": "@pipeline().globalParameters.gbl_param_environment",
                        "type": "Expression"
                      },
                      "DBOwner": {
                        "value": "",
                        "type": "Expression"
                      },
                      "SrcSystem": {
                        "value": "",
                        "type": "Expression"
                      },
                      "TrgtSystem": {
                        "value": "",
                        "type": "Expression"
                      },
                      "SubjCode": {
                        "value": "",
                        "type": "Expression"
                      },
                      "FreqCode": {
                        "value": "",
                        "type": "Expression"
                      },
                      "RunCycle": {
                        "value": "",
                        "type": "Expression"
                      },
                      "secret_name": {
                        "value": "",
                        "type": "Expression"
                      }
                    }
                  }
                },
                {
                  "name": "Success",
                  "type": "DatabricksNotebook",
                  "dependsOn": [
                    {
                      "activity": "Notebook_CloseRunCycle",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "timeout": "12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "linkedServiceName": {
                    "referenceName": "shareddatabricks",
                    "type": "LinkedServiceReference"
                  },
                  "typeProperties": {
                    "notebookPath": "@concat(pipeline().globalParameters.gbl_param_scripts, '/Generic_ADLS_File_Operations')",
                    "baseParameters": {
                      "command": "cat",
                      "project": "integrate"
                    }
                  }
                }
              ]
            }
          ],
          "defaultActivities": [
            {
              "name": "Set_var_If_4B_Continuation_branch_False",
              "type": "SetVariable",
              "dependsOn": [],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "var_If_4B_Continuation_branch",
                "value": {
                  "value": "0",
                  "type": "Expression"
                }
              }
            }
          ]
        }
      }
    ]
  }
}