npw-projects-np-projects-bluekc-translated-66e9366f6cca/Sprint_3_4_5/SequenceJobs/Integrate/IdsWebdmClmnSumClmBalSeq.json
{
  "name": "IdsWebdmClmnSumClmBalSeq",
  "type": "Microsoft.DataFactory/factories/pipelines",
  "properties": {
    "folder": {
      "name": "Integrate/Jobs/WebDataMart/Claim/Seq/Balancing"
    },
    "parameters": {
      "RunID": {
        "type": "String",
        "defaultValue": ""
      },
      "Target": {
        "type": "String",
        "defaultValue": ""
      },
      "Subject": {
        "type": "String",
        "defaultValue": ""
      },
      "ExtrRunCycle": {
        "type": "String",
        "defaultValue": ""
      },
      "Frequency": {
        "type": "String",
        "defaultValue": ""
      },
      "Source": {
        "type": "String",
        "defaultValue": ""
      },
      "CurrDate": {
        "type": "String",
        "defaultValue": ""
      },
      "ExclusionList": {
        "type": "String",
        "defaultValue": ""
      },
      "TrgtTbl": {
        "type": "String",
        "defaultValue": ""
      },
      "SnpshtTbl": {
        "type": "String",
        "defaultValue": ""
      },
      "ColumnNm1": {
        "type": "String",
        "defaultValue": ""
      },
      "ColumnNm2": {
        "type": "String",
        "defaultValue": ""
      }
    },
    "variables": {
      "Src_Amt1": {
        "type": "String",
        "defaultValue": ""
      },
      "Trgt_Amt1": {
        "type": "String",
        "defaultValue": ""
      },
      "Tolerance_Multiplier1": {
        "type": "String",
        "defaultValue": ""
      },
      "Src_Amt2": {
        "type": "String",
        "defaultValue": ""
      },
      "Trgt_Amt2": {
        "type": "String",
        "defaultValue": ""
      },
      "Tolerance_Multiplier2": {
        "type": "String",
        "defaultValue": ""
      },
      "Tolerance_Amount1": {
        "type": "String",
        "defaultValue": ""
      },
      "Diff_Amt1": {
        "type": "String",
        "defaultValue": ""
      },
      "Tolerance_Amount2": {
        "type": "String",
        "defaultValue": ""
      },
      "Diff_Amt2": {
        "type": "String",
        "defaultValue": ""
      },
      "Balance_Status1": {
        "type": "String",
        "defaultValue": ""
      },
      "Balance_Status2": {
        "type": "String",
        "defaultValue": ""
      },
      "GetSrcClmnSum_a1": {
        "type": "String",
        "defaultValue": ""
      },
      "GetSrcClmnSum_a2": {
        "type": "String",
        "defaultValue": ""
      },
      "GetSrcClmnSum_a3": {
        "type": "String",
        "defaultValue": ""
      },
      "GetWebDmTrgtClmnSum_a1": {
        "type": "String",
        "defaultValue": ""
      },
      "GetWebDmTrgtClmnSum_a2": {
        "type": "String",
        "defaultValue": ""
      },
      "GetWebDmTrgtClmnSum_a3": {
        "type": "String",
        "defaultValue": ""
      },
      "GetWebDmTrgtClmnSum_a4": {
        "type": "String",
        "defaultValue": ""
      },
      "GetClmnSumTlrnc_a1": {
        "type": "String",
        "defaultValue": ""
      },
      "GetClmnSumTlrnc_a2": {
        "type": "String",
        "defaultValue": ""
      },
      "GetClmnSumTlrnc_a3": {
        "type": "String",
        "defaultValue": ""
      },
      "GetClmnSumTlrnc_a4": {
        "type": "String",
        "defaultValue": ""
      },
      "GetBalStatus_a1": {
        "type": "String",
        "defaultValue": ""
      },
      "GetBalStatus_a2": {
        "type": "String",
        "defaultValue": ""
      },
      "LinkCount": {
        "type": "String",
        "defaultValue": ""
      }
    },
    "activities": [
      {
        "name": "NB_GetSrcClmnSum_1",
        "type": "DatabricksNotebook",
        "dependsOn": [],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/GetSrcClmnSum')",
            "type": "Expression"
          },
          "baseParameters": {
            "GetSrcClmnSum_a1": {
              "value": "@pipeline().globalParameters.gbl_param_ClmMartOwner",
              "type": "Expression"
            },
            "secret_name": {
              "value": "@pipeline().globalParameters.gbl_param_ClmMartSecret",
              "type": "Expression"
            },
            "GetSrcClmnSum_a2": {
              "value": "@pipeline().parameters.ColumnNm1",
              "type": "Expression"
            },
            "GetSrcClmnSum_a3": {
              "value": "@pipeline().parameters.SnpshtTbl",
              "type": "Expression"
            },
            "GlobalEnvironment": {
              "value": "@pipeline().globalParameters.gbl_param_environment",
              "type": "Expression"
            },
            "owner_schema": {
              "value": "",
              "type": "Expression"
            },
            "ClmnNm": {
              "value": "",
              "type": "Expression"
            },
            "SnpshtTblNm": {
              "value": "",
              "type": "Expression"
            }
          }
        },
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        }
      },
      {
        "name": "Set_Src_Amt1",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "NB_GetSrcClmnSum_1",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "Src_Amt1",
          "value": {
            "value": "@string(activity('NB_GetSrcClmnSum_1').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "NB_GetWebDmTrgtClmnSum_1",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "Set_Src_Amt1",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/GetWebDmTrgtClmnSum')",
            "type": "Expression"
          },
          "baseParameters": {
            "GetWebDmTrgtClmnSum_a1": {
              "value": "@pipeline().globalParameters.gbl_param_ClmMartOwner",
              "type": "Expression"
            },
            "secret_name": {
              "value": "@pipeline().globalParameters.gbl_param_ClmMartSecret",
              "type": "Expression"
            },
            "GetWebDmTrgtClmnSum_a2": "CLM_CHRG_AMT",
            "GetWebDmTrgtClmnSum_a3": {
              "value": "@pipeline().parameters.TrgtTbl",
              "type": "Expression"
            },
            "GetWebDmTrgtClmnSum_a4": {
              "value": "@pipeline().parameters.ExtrRunCycle",
              "type": "Expression"
            },
            "GlobalEnvironment": {
              "value": "@pipeline().globalParameters.gbl_param_environment",
              "type": "Expression"
            },
            "owner_schema": {
              "value": "",
              "type": "Expression"
            },
            "ClmnNm": {
              "value": "",
              "type": "Expression"
            },
            "TrgtTblNm": {
              "value": "",
              "type": "Expression"
            },
            "RunCycle": {
              "value": "",
              "type": "Expression"
            }
          }
        },
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        }
      },
      {
        "name": "Set_Trgt_Amt1",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "NB_GetWebDmTrgtClmnSum_1",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "Trgt_Amt1",
          "value": {
            "value": "@string(activity('NB_GetWebDmTrgtClmnSum_1').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "NB_GetClmnSumTlrnc_1",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "Set_Trgt_Amt1",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/GetClmnSumTlrnc')",
            "type": "Expression"
          },
          "baseParameters": {
            "GetClmnSumTlrnc_a1": {
              "value": "@pipeline().globalParameters.gbl_param_UWSOwner",
              "type": "Expression"
            },
            "secret_name": {
              "value": "@pipeline().globalParameters.gbl_param_UWSSecret",
              "type": "Expression"
            },
            "GetClmnSumTlrnc_a2": {
              "value": "@pipeline().parameters.TrgtTbl",
              "type": "Expression"
            },
            "GetClmnSumTlrnc_a3": {
              "value": "@pipeline().parameters.ColumnNm1",
              "type": "Expression"
            },
            "GetClmnSumTlrnc_a4": {
              "value": "@pipeline().parameters.Subject",
              "type": "Expression"
            },
            "GlobalEnvironment": {
              "value": "@pipeline().globalParameters.gbl_param_environment",
              "type": "Expression"
            },
            "owner_schema": {
              "value": "",
              "type": "Expression"
            },
            "TargetTable": {
              "value": "",
              "type": "Expression"
            },
            "TargetColumn": {
              "value": "",
              "type": "Expression"
            },
            "SubjectArea": {
              "value": "",
              "type": "Expression"
            }
          }
        },
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        }
      },
      {
        "name": "Set_Tolerance_Multiplier1",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "NB_GetClmnSumTlrnc_1",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "Tolerance_Multiplier1",
          "value": {
            "value": "@string(activity('NB_GetClmnSumTlrnc_1').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "NB_GetSrcClmnSum_2",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "Set_Tolerance_Multiplier1",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/GetSrcClmnSum')",
            "type": "Expression"
          },
          "baseParameters": {
            "GetSrcClmnSum_a1": {
              "value": "@pipeline().globalParameters.gbl_param_ClmMartOwner",
              "type": "Expression"
            },
            "secret_name": {
              "value": "@pipeline().globalParameters.gbl_param_ClmMartSecret",
              "type": "Expression"
            },
            "GetSrcClmnSum_a2": {
              "value": "@pipeline().parameters.ColumnNm2",
              "type": "Expression"
            },
            "GetSrcClmnSum_a3": {
              "value": "@pipeline().parameters.SnpshtTbl",
              "type": "Expression"
            },
            "GlobalEnvironment": {
              "value": "@pipeline().globalParameters.gbl_param_environment",
              "type": "Expression"
            },
            "owner_schema": {
              "value": "",
              "type": "Expression"
            },
            "ClmnNm": {
              "value": "",
              "type": "Expression"
            },
            "SnpshtTblNm": {
              "value": "",
              "type": "Expression"
            }
          }
        },
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        }
      },
      {
        "name": "Set_Src_Amt2",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "NB_GetSrcClmnSum_2",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "Src_Amt2",
          "value": {
            "value": "@string(activity('NB_GetSrcClmnSum_2').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "NB_GetWebDmTrgtClmnSum_2",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "Set_Src_Amt2",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/GetWebDmTrgtClmnSum')",
            "type": "Expression"
          },
          "baseParameters": {
            "GetWebDmTrgtClmnSum_a1": {
              "value": "@pipeline().globalParameters.gbl_param_ClmMartOwner",
              "type": "Expression"
            },
            "secret_name": {
              "value": "@pipeline().globalParameters.gbl_param_ClmMartSecret",
              "type": "Expression"
            },
            "GetWebDmTrgtClmnSum_a2": {
              "value": "@pipeline().parameters.ColumnNm2",
              "type": "Expression"
            },
            "GetWebDmTrgtClmnSum_a3": {
              "value": "@pipeline().parameters.TrgtTbl",
              "type": "Expression"
            },
            "GetWebDmTrgtClmnSum_a4": {
              "value": "@pipeline().parameters.ExtrRunCycle",
              "type": "Expression"
            },
            "GlobalEnvironment": {
              "value": "@pipeline().globalParameters.gbl_param_environment",
              "type": "Expression"
            },
            "owner_schema": {
              "value": "",
              "type": "Expression"
            },
            "ClmnNm": {
              "value": "",
              "type": "Expression"
            },
            "TrgtTblNm": {
              "value": "",
              "type": "Expression"
            },
            "RunCycle": {
              "value": "",
              "type": "Expression"
            }
          }
        },
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        }
      },
      {
        "name": "Set_Trgt_Amt2",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "NB_GetWebDmTrgtClmnSum_2",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "Trgt_Amt2",
          "value": {
            "value": "@string(activity('NB_GetWebDmTrgtClmnSum_2').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "NB_GetClmnSumTlrnc_2",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "Set_Trgt_Amt2",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/GetClmnSumTlrnc')",
            "type": "Expression"
          },
          "baseParameters": {
            "GetClmnSumTlrnc_a1": {
              "value": "@pipeline().globalParameters.gbl_param_UWSOwner",
              "type": "Expression"
            },
            "secret_name": {
              "value": "@pipeline().globalParameters.gbl_param_UWSSecret",
              "type": "Expression"
            },
            "GetClmnSumTlrnc_a2": {
              "value": "@pipeline().parameters.TrgtTbl",
              "type": "Expression"
            },
            "GetClmnSumTlrnc_a3": {
              "value": "@pipeline().parameters.ColumnNm2",
              "type": "Expression"
            },
            "GetClmnSumTlrnc_a4": {
              "value": "@pipeline().parameters.Subject",
              "type": "Expression"
            },
            "GlobalEnvironment": {
              "value": "@pipeline().globalParameters.gbl_param_environment",
              "type": "Expression"
            },
            "owner_schema": {
              "value": "",
              "type": "Expression"
            },
            "TargetTable": {
              "value": "",
              "type": "Expression"
            },
            "TargetColumn": {
              "value": "",
              "type": "Expression"
            },
            "SubjectArea": {
              "value": "",
              "type": "Expression"
            }
          }
        },
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        }
      },
      {
        "name": "Set_Tolerance_Multiplier2",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "NB_GetClmnSumTlrnc_2",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "Tolerance_Multiplier2",
          "value": {
            "value": "@string(activity('NB_GetClmnSumTlrnc_2').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "Set_Tolerance_Amount1",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "Set_Tolerance_Multiplier2",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "Tolerance_Amount1",
          "value": {
            "value": "@multiply(float(variables('Src_Amt1')), float(variables('Tolerance_Multiplier1')))",
            "type": "Expression"
          }
        }
      },
      {
        "name": "Set_Diff_Amt1",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "Set_Tolerance_Amount1",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "Diff_Amt1",
          "value": {
            "value": "@sub(float(variables('Src_Amt1')), float(variables('Trgt_Amt1')))",
            "type": "Expression"
          }
        }
      },
      {
        "name": "Set_Tolerance_Amount2",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "Set_Diff_Amt1",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "Tolerance_Amount2",
          "value": {
            "value": "@multiply(float(variables('Src_Amt2')), float(variables('Tolerance_Multiplier2')))",
            "type": "Expression"
          }
        }
      },
      {
        "name": "Set_Diff_Amt2",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "Set_Tolerance_Amount2",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "Diff_Amt2",
          "value": {
            "value": "@sub(float(variables('Src_Amt2')), float(variables('Trgt_Amt2')))",
            "type": "Expression"
          }
        }
      },
      {
        "name": "NB_GetBalStatus_1",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "Set_Diff_Amt2",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/GetBalStatus')",
            "type": "Expression"
          },
          "baseParameters": {
            "Difference_Count": {
              "value": "@variables('Diff_Amt1')",
              "type": "Expression"
            },
            "Tolerance_Amount": {
              "value": "@variables('Tolerance_Amount1')",
              "type": "Expression"
            },
            "GlobalEnvironment": {
              "value": "@pipeline().globalParameters.gbl_param_environment",
              "type": "Expression"
            }
          }
        },
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        }
      },
      {
        "name": "Set_Balance_Status1",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "NB_GetBalStatus_1",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "Balance_Status1",
          "value": {
            "value": "@string(activity('NB_GetBalStatus_1').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "NB_GetBalStatus_2",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "Set_Balance_Status1",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/GetBalStatus')",
            "type": "Expression"
          },
          "baseParameters": {
            "Difference_Count": {
              "value": "@variables('Diff_Amt2')",
              "type": "Expression"
            },
            "Tolerance_Amount": {
              "value": "@variables('Tolerance_Amount2')",
              "type": "Expression"
            },
            "GlobalEnvironment": {
              "value": "@pipeline().globalParameters.gbl_param_environment",
              "type": "Expression"
            }
          }
        },
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        }
      },
      {
        "name": "Set_Balance_Status2",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "NB_GetBalStatus_2",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "Balance_Status2",
          "value": {
            "value": "@string(activity('NB_GetBalStatus_2').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "If_1C",
        "type": "IfCondition",
        "dependsOn": [
          {
            "activity": "Set_Balance_Status2",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "expression": {
            "value": "@or(not(equals(string(variables('Diff_Amt1')), '0')), not(equals(string(variables('Diff_Amt2')), '0')))",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "name": "NB_IdsWebdmClmnSumClmBal",
              "type": "DatabricksNotebook",
              "dependsOn": [],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_notebook_path, '/WebDataMart/Claim/Claim/Balancing/IdsWebdmClmnSumClmBal')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "ClmMartOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_ClmMartOwner",
                    "type": "Expression"
                  },
                  "clmmart_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_ClmMartSecret",
                    "type": "Expression"
                  },
                  "ExtrRunCycle": {
                    "value": "@pipeline().parameters.ExtrRunCycle",
                    "type": "Expression"
                  },
                  "GlobalEnvironment": {
                    "value": "@pipeline().globalParameters.gbl_param_environment",
                    "type": "Expression"
                  }
                }
              },
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              }
            }
          ]
        }
      },
      {
        "name": "NB_TblBalSumLoad_1",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "If_1C",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/TblBalSumLoad')",
            "type": "Expression"
          },
          "baseParameters": {
            "owner_schema": {
              "value": "@pipeline().globalParameters.gbl_param_UWSOwner",
              "type": "Expression"
            },
            "secret_name": {
              "value": "@pipeline().globalParameters.gbl_param_UWSSecret",
              "type": "Expression"
            },
            "TrgtSystem": {
              "value": "@pipeline().parameters.Target",
              "type": "Expression"
            },
            "SubjArea": {
              "value": "@pipeline().parameters.Subject",
              "type": "Expression"
            },
            "TrgtTbl": {
              "value": "@pipeline().parameters.TrgtTbl",
              "type": "Expression"
            },
            "BalDtm": {
              "value": "@pipeline().parameters.CurrDate",
              "type": "Expression"
            },
            "RowCtTlrncCode": "NA",
            "ClmnSumTlrncCode": {
              "value": "@variables('Balance_Status1')",
              "type": "Expression"
            },
            "RowTorRowTlrncCode": "NA",
            "RiTlrncCode": "NA",
            "RelshpClmnSumTlrncCode": "NA",
            "CrsFootTlrncCode": "NA",
            "HistRsnblTlrncCode": "NA",
            "RunCycle": {
              "value": "@pipeline().parameters.ExtrRunCycle",
              "type": "Expression"
            },
            "GlobalEnvironment": {
              "value": "@pipeline().globalParameters.gbl_param_environment",
              "type": "Expression"
            }
          }
        },
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        }
      },
      {
        "name": "NB_TblBalSumLoad_2",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "NB_TblBalSumLoad_1",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/TblBalSumLoad')",
            "type": "Expression"
          },
          "baseParameters": {
            "owner_schema": {
              "value": "@pipeline().globalParameters.gbl_param_UWSOwner",
              "type": "Expression"
            },
            "secret_name": {
              "value": "@pipeline().globalParameters.gbl_param_UWSSecret",
              "type": "Expression"
            },
            "TrgtSystem": {
              "value": "@pipeline().parameters.Target",
              "type": "Expression"
            },
            "SubjArea": {
              "value": "@pipeline().parameters.Subject",
              "type": "Expression"
            },
            "TrgtTbl": {
              "value": "@pipeline().parameters.TrgtTbl",
              "type": "Expression"
            },
            "BalDtm": {
              "value": "@pipeline().parameters.CurrDate",
              "type": "Expression"
            },
            "RowCtTlrncCode": "NA",
            "ClmnSumTlrncCode": {
              "value": "@variables('Balance_Status2')",
              "type": "Expression"
            },
            "RowTorRowTlrncCode": "NA",
            "RiTlrncCode": "NA",
            "RelshpClmnSumTlrncCode": "NA",
            "CrsFootTlrncCode": "NA",
            "HistRsnblTlrncCode": "NA",
            "RunCycle": {
              "value": "@pipeline().parameters.ExtrRunCycle",
              "type": "Expression"
            },
            "GlobalEnvironment": {
              "value": "@pipeline().globalParameters.gbl_param_environment",
              "type": "Expression"
            }
          }
        },
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        }
      },
      {
        "name": "NB_ClmnSumDtlLoad_1",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "If_1C",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/ClmnSumDtlLoad')",
            "type": "Expression"
          },
          "baseParameters": {
            "owner_schema": {
              "value": "@pipeline().globalParameters.gbl_param_UWSOwner",
              "type": "Expression"
            },
            "secret_name": {
              "value": "@pipeline().globalParameters.gbl_param_UWSSecret",
              "type": "Expression"
            },
            "SrcSystem": {
              "value": "@pipeline().parameters.Source",
              "type": "Expression"
            },
            "TrgtSystem": {
              "value": "@pipeline().parameters.Target",
              "type": "Expression"
            },
            "SubjArea": {
              "value": "@pipeline().parameters.Subject",
              "type": "Expression"
            },
            "TrgtTbl": {
              "value": "@pipeline().parameters.TrgtTbl",
              "type": "Expression"
            },
            "ClmnNm": {
              "value": "@pipeline().parameters.ColumnNm1",
              "type": "Expression"
            },
            "TrgtAmt": {
              "value": "@variables('Trgt_Amt1')",
              "type": "Expression"
            },
            "SrcAmt": {
              "value": "@variables('Src_Amt1')",
              "type": "Expression"
            },
            "DiffAmt": {
              "value": "@variables('Diff_Amt1')",
              "type": "Expression"
            },
            "TlrncCode": {
              "value": "@variables('Balance_Status1')",
              "type": "Expression"
            },
            "TlrncAmt": {
              "value": "@variables('Tolerance_Amount1')",
              "type": "Expression"
            },
            "TlrncMul": {
              "value": "@variables('Tolerance_Multiplier1')",
              "type": "Expression"
            },
            "FreqCode": {
              "value": "@pipeline().parameters.Frequency",
              "type": "Expression"
            },
            "RunCycle": {
              "value": "@pipeline().parameters.ExtrRunCycle",
              "type": "Expression"
            },
            "CrctnNote": {
              "value": "",
              "type": "Expression"
            },
            "UserID": {
              "value": "",
              "type": "Expression"
            }
          }
        },
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        }
      },
      {
        "name": "NB_ClmnSumDtlLoad_2",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "NB_ClmnSumDtlLoad_1",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/ClmnSumDtlLoad')",
            "type": "Expression"
          },
          "baseParameters": {
            "owner_schema": {
              "value": "@pipeline().globalParameters.gbl_param_UWSOwner",
              "type": "Expression"
            },
            "secret_name": {
              "value": "@pipeline().globalParameters.gbl_param_UWSSecret",
              "type": "Expression"
            },
            "SrcSystem": {
              "value": "@pipeline().parameters.Source",
              "type": "Expression"
            },
            "TrgtSystem": {
              "value": "@pipeline().parameters.Target",
              "type": "Expression"
            },
            "SubjArea": {
              "value": "@pipeline().parameters.Subject",
              "type": "Expression"
            },
            "TrgtTbl": {
              "value": "@pipeline().parameters.TrgtTbl",
              "type": "Expression"
            },
            "ClmnNm": {
              "value": "@pipeline().parameters.ColumnNm2",
              "type": "Expression"
            },
            "TrgtAmt": {
              "value": "@variables('Trgt_Amt2')",
              "type": "Expression"
            },
            "SrcAmt": {
              "value": "@variables('Src_Amt2')",
              "type": "Expression"
            },
            "DiffAmt": {
              "value": "@variables('Diff_Amt2')",
              "type": "Expression"
            },
            "TlrncCode": {
              "value": "@variables('Balance_Status2')",
              "type": "Expression"
            },
            "TlrncAmt": {
              "value": "@variables('Tolerance_Amount2')",
              "type": "Expression"
            },
            "TlrncMul": {
              "value": "@variables('Tolerance_Multiplier2')",
              "type": "Expression"
            },
            "FreqCode": {
              "value": "@pipeline().parameters.Frequency",
              "type": "Expression"
            },
            "RunCycle": {
              "value": "@pipeline().parameters.ExtrRunCycle",
              "type": "Expression"
            },
            "CrctnNote": {
              "value": "",
              "type": "Expression"
            },
            "UserID": {
              "value": "",
              "type": "Expression"
            }
          }
        },
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        }
      }
    ]
  }
}