npw-projects-np-projects-bluekc-translated-66e9366f6cca/Sprint_3_4_5/SequenceJobs/Integrate/LhoFctsClmPrereqSeq1.json
{
  "name": "LhoFctsClmPrereqSeq1",
  "type": "Microsoft.DataFactory/factories/pipelines",
  "properties": {
    "folder": {
      "name": "Integrate/Jobs/claim/SeqLho"
    },
    "parameters": {
      "FacetsOwner": {
        "type": "String",
        "defaultValue": ""
      },
      "EmailSupport": {
        "type": "String",
        "defaultValue": ""
      },
      "IDSOwner": {
        "type": "String",
        "defaultValue": ""
      },
      "BCBSOwner": {
        "type": "String",
        "defaultValue": ""
      },
      "RunCycle": {
        "type": "String",
        "defaultValue": "100"
      },
      "RunID": {
        "type": "String",
        "defaultValue": "20201008225740"
      },
      "ExclusionList": {
        "type": "String",
        "defaultValue": "ExclusionListExtr.LhoFctsClmCntl"
      },
      "BeginDate": {
        "type": "String",
        "defaultValue": "2020-09-25 22:57:37.000"
      },
      "EndDate": {
        "type": "String",
        "defaultValue": "2020-10-07 22:57:37.000"
      },
      "DriverTable": {
        "type": "String",
        "defaultValue": "TMP_IDS_CLAIM08225740"
      },
      "AdjFromTable": {
        "type": "String",
        "defaultValue": "TMP_ADJ_FROM08225740"
      },
      "GrouperTable": {
        "type": "String",
        "defaultValue": "TMP_GROUPER_VER08225740"
      },
      "RecycleDay": {
        "type": "String",
        "defaultValue": "MONDAY"
      },
      "RecycleFreq": {
        "type": "String",
        "defaultValue": "W"
      },
      "CntlJobName": {
        "type": "String",
        "defaultValue": "LhoFctsClmCntl"
      },
      "SrcSysCd": {
        "type": "String",
        "defaultValue": "LUMERIS"
      },
      "SrcSysCdSK": {
        "type": "String",
        "defaultValue": "-1951780915"
      },
      "TableID": {
        "type": "String",
        "defaultValue": "08225740"
      },
      "CurrentDate": {
        "type": "String",
        "defaultValue": "2020-10-08"
      },
      "LhoFacetsStgAcct": {
        "type": "String",
        "defaultValue": ""
      },
      "LhoFacetsStgDSN": {
        "type": "String",
        "defaultValue": ""
      },
      "LhoFacetsStgOwner": {
        "type": "String",
        "defaultValue": ""
      },
      "LhoFacetsStgPW": {
        "type": "String",
        "defaultValue": ""
      }
    },
    "variables": {
      "ErrorMessageCount": {
        "type": "String",
        "defaultValue": ""
      },
      "LinkCount": {
        "type": "String",
        "defaultValue": ""
      }
    },
    "activities": [
      {
        "name": "If_2A",
        "type": "IfCondition",
        "dependsOn": [],
        "userProperties": [],
        "typeProperties": {
          "expression": {
            "value": "@equals(contains(split(string(pipeline().parameters.ExclusionList), ';'), 'LhoFctsClmDriverBuild'), false)",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "name": "LhoFctsClmDriverBuild",
              "type": "DatabricksNotebook",
              "dependsOn": [],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_notebook_path,'/claim/driver/LhoFctsClmDriverBuild')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "SrcSysCdSK": {
                    "value": "@pipeline().parameters.SrcSysCdSK",
                    "type": "Expression"
                  },
                  "DriverTable": {
                    "value": "@pipeline().parameters.DriverTable",
                    "type": "Expression"
                  },
                  "AdjFromTable": {
                    "value": "@pipeline().parameters.AdjFromTable",
                    "type": "Expression"
                  },
                  "GrouperTable": {
                    "value": "@pipeline().parameters.GrouperTable",
                    "type": "Expression"
                  },
                  "LhoFacetsStgOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_LhoFacetsStgOwner",
                    "type": "Expression"
                  },
                  "lhofacetsstg_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_LhoFacetsSecret",
                    "type": "Expression"
                  },
                  "LhoFacetsStgAcct": {
                    "value": "@pipeline().globalParameters.gbl_param_LhoFacetsStgAcct",
                    "type": "Expression"
                  },
                  "LhoFacetsStgPW": {
                    "value": "@pipeline().globalParameters.gbl_param_LhoFacetsStgPW",
                    "type": "Expression"
                  },
                  "LhoFacetsStgDSN": {
                    "value": "@pipeline().globalParameters.gbl_param_LhoFacetsStgDSN",
                    "type": "Expression"
                  }
                }
              }
            }
          ],
          "ifFalseActivities": []
        }
      },
      {
        "name": "If_3A",
        "type": "IfCondition",
        "dependsOn": [
          {
            "activity": "If_2A",
            "dependencyConditions": [
              "Succeeded"
            ]
          },
          {
            "activity": "LhoFctsClmDriverBuild",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "expression": {
            "value": "@equals(contains(split(string(pipeline().parameters.ExclusionList), ';'), 'LhoFctsClmPKExtrSeq'), false)",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "name": "LhoFctsClmPKExtrSeq",
              "type": "ExecutePipeline",
              "dependsOn": [],
              "policy": {
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "pipeline": {
                  "referenceName": "LhoFctsClmPKExtrSeq",
                  "type": "PipelineReference"
                },
                "waitOnCompletion": true,
                "parameters": {
                  "DriverTable": {
                    "value": "@pipeline().parameters.DriverTable",
                    "type": "Expression"
                  },
                  "AdjFromTable": {
                    "value": "@pipeline().parameters.AdjFromTable",
                    "type": "Expression"
                  },
                  "CurrRunCycle": {
                    "value": "@pipeline().parameters.RunCycle",
                    "type": "Expression"
                  },
                  "SrcSysCd": {
                    "value": "@pipeline().parameters.SrcSysCd",
                    "type": "Expression"
                  },
                  "SrcSysCdSk": {
                    "value": "@pipeline().parameters.SrcSysCdSK",
                    "type": "Expression"
                  },
                  "ExclusionList": {
                    "value": "@pipeline().parameters.ExclusionList",
                    "type": "Expression"
                  },
                  "IDSOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "ids_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                    "type": "Expression"
                  },
                  "LhoFacetsStgAcct": {
                    "value": "@pipeline().globalParameters.gbl_param_LhoFacetsStgAcct",
                    "type": "Expression"
                  },
                  "LhoFacetsStgDB": {
                    "value": "@pipeline().globalParameters.gbl_param_LhoFacetsStgDB",
                    "type": "Expression"
                  },
                  "LhoFacetsStgDSN": {
                    "value": "@pipeline().globalParameters.gbl_param_LhoFacetsStgDSN",
                    "type": "Expression"
                  },
                  "LhoFacetsStgOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_LhoFacetsStgOwner",
                    "type": "Expression"
                  },
                  "lhofacetsstg_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_LhoFacetsSecret",
                    "type": "Expression"
                  },
                  "LhoFacetsStgPW": {
                    "value": "@pipeline().globalParameters.gbl_param_LhoFacetsStgPW",
                    "type": "Expression"
                  },
                  "LhoFacetsStgServer": {
                    "value": "@pipeline().globalParameters.gbl_param_LhoFacetsStgServer",
                    "type": "Expression"
                  }
                }
              }
            }
          ],
          "ifFalseActivities": []
        }
      },
      {
        "name": "LhoFctsClmPrereqSeq2",
        "type": "ExecutePipeline",
        "dependsOn": [
          {
            "activity": "If_3A",
            "dependencyConditions": [
              "Succeeded"
            ]
          },
          {
            "activity": "LhoFctsClmPKExtrSeq",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "pipeline": {
            "referenceName": "LhoFctsClmPrereqSeq2",
            "type": "PipelineReference"
          },
          "waitOnCompletion": true,
          "parameters": {
            "FacetsOwner": {
              "value": "@pipeline().globalParameters.gbl_param_FacetsOwner",
              "type": "Expression"
            },
            "facets_secret_name": {
              "value": "@pipeline().globalParameters.gbl_param_FacetsSecret",
              "type": "Expression"
            },
            "EmailSupport": {
              "value": "@pipeline().globalParameters.gbl_param_EmailSupport",
              "type": "Expression"
            },
            "IDSOwner": {
              "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
              "type": "Expression"
            },
            "ids_secret_name": {
              "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
              "type": "Expression"
            },
            "BCBSOwner": {
              "value": "@pipeline().globalParameters.gbl_param_BCBSOwner",
              "type": "Expression"
            },
            "bcbs_secret_name": {
              "value": "@pipeline().globalParameters.gbl_param_BCBSSecret",
              "type": "Expression"
            },
            "RunCycle": {
              "value": "@pipeline().parameters.RunCycle",
              "type": "Expression"
            },
            "RunID": {
              "value": "@pipeline().parameters.RunID",
              "type": "Expression"
            },
            "ExclusionList": {
              "value": "@pipeline().parameters.ExclusionList",
              "type": "Expression"
            },
            "BeginDate": {
              "value": "@pipeline().parameters.BeginDate",
              "type": "Expression"
            },
            "EndDate": {
              "value": "@pipeline().parameters.EndDate",
              "type": "Expression"
            },
            "DriverTable": {
              "value": "@pipeline().parameters.DriverTable",
              "type": "Expression"
            },
            "AdjFromTable": {
              "value": "@pipeline().parameters.AdjFromTable",
              "type": "Expression"
            },
            "GrouperTable": {
              "value": "@pipeline().parameters.GrouperTable",
              "type": "Expression"
            },
            "RecycleDay": {
              "value": "@pipeline().parameters.RecycleDay",
              "type": "Expression"
            },
            "RecycleFreq": {
              "value": "@pipeline().parameters.RecycleFreq",
              "type": "Expression"
            },
            "CntlJobName": {
              "value": "@pipeline().parameters.CntlJobName",
              "type": "Expression"
            },
            "SrcSysCd": {
              "value": "@pipeline().parameters.SrcSysCd",
              "type": "Expression"
            },
            "SrcSysCdSK": {
              "value": "@pipeline().parameters.SrcSysCdSK",
              "type": "Expression"
            },
            "TableID": {
              "value": "@pipeline().parameters.TableID",
              "type": "Expression"
            },
            "CurrentDate": {
              "value": "@pipeline().parameters.CurrentDate",
              "type": "Expression"
            },
            "LhoFacetsStgAcct": {
              "value": "@pipeline().globalParameters.gbl_param_LhoFacetsStgAcct",
              "type": "Expression"
            },
            "LhoFacetsStgDSN": {
              "value": "@pipeline().globalParameters.gbl_param_LhoFacetsStgDSN",
              "type": "Expression"
            },
            "LhoFacetsStgOwner": {
              "value": "@pipeline().globalParameters.gbl_param_LhoFacetsStgOwner",
              "type": "Expression"
            },
            "lhofacetsstg_secret_name": {
              "value": "@pipeline().globalParameters.gbl_param_LhoFacetsSecret",
              "type": "Expression"
            },
            "LhoFacetsStgPW": {
              "value": "@pipeline().globalParameters.gbl_param_LhoFacetsStgPW",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "If_4A",
        "type": "IfCondition",
        "dependsOn": [
          {
            "activity": "If_3A",
            "dependencyConditions": [
              "Succeeded"
            ]
          },
          {
            "activity": "LhoFctsClmPKExtrSeq",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "expression": {
            "value": "@equals(contains(split(string(pipeline().parameters.ExclusionList), ';'), 'BCBSClmRemitHistExtr'), false)",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "name": "BCBSClmRemitHistExtr",
              "type": "DatabricksNotebook",
              "dependsOn": [],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_notebook_path,'/claim/RemitHist/BCBSClmRemitHistExtr')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "DriverTable": {
                    "value": "@pipeline().parameters.DriverTable",
                    "type": "Expression"
                  },
                  "CurrRunCycle": {
                    "value": "@pipeline().parameters.RunCycle",
                    "type": "Expression"
                  },
                  "RunID": {
                    "value": "@pipeline().parameters.RunID",
                    "type": "Expression"
                  },
                  "CurrentDate": {
                    "value": "@pipeline().parameters.CurrentDate",
                    "type": "Expression"
                  },
                  "BCBSOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_BCBSOwner",
                    "type": "Expression"
                  },
                  "bcbs_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_BCBSSecret",
                    "type": "Expression"
                  },
                  "FacetsOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_LhoFacetsStgOwner",
                    "type": "Expression"
                  },
                  "facets_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_FacetsSecret",
                    "type": "Expression"
                  },
                  "IDSOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "ids_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                    "type": "Expression"
                  },
                  "SrcSysCdSk": {
                    "value": "@pipeline().parameters.SrcSysCdSK",
                    "type": "Expression"
                  }
                }
              }
            }
          ],
          "ifFalseActivities": []
        }
      },
      {
        "name": "If_4B",
        "type": "IfCondition",
        "dependsOn": [
          {
            "activity": "If_4A",
            "dependencyConditions": [
              "Succeeded"
            ]
          },
          {
            "activity": "BCBSClmRemitHistExtr",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "expression": {
            "value": "@equals(contains(split(string(pipeline().parameters.ExclusionList), ';'), 'LhoFctsDMClmBal'), false)",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "name": "LhoFctsDMClmBal",
              "type": "DatabricksNotebook",
              "dependsOn": [],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_notebook_path,'/claim/Balancing/LhoFctsDMClmBal')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "DriverTable": {
                    "value": "@pipeline().parameters.DriverTable",
                    "type": "Expression"
                  },
                  "FacetsOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_LhoFacetsStgOwner",
                    "type": "Expression"
                  },
                  "facets_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_FacetsSecret",
                    "type": "Expression"
                  },
                  "RunID": {
                    "value": "@pipeline().parameters.RunID",
                    "type": "Expression"
                  }
                }
              }
            }
          ],
          "ifFalseActivities": []
        }
      },
      {
        "name": "If_4C",
        "type": "IfCondition",
        "dependsOn": [
          {
            "activity": "If_4B",
            "dependencyConditions": [
              "Succeeded"
            ]
          },
          {
            "activity": "LhoFctsDMClmBal",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "expression": {
            "value": "@equals(contains(split(string(pipeline().parameters.ExclusionList), ';'), 'LoadW_CLM_BAL'), false)",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "name": "LoadW_CLM_BAL",
              "type": "DatabricksNotebook",
              "dependsOn": [],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/DB.LOAD')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "table": "W_CLM_BAL",
                  "action": "UPDATE",
                  "file_name": {
                    "value": "@concat('W_CLM_BAL.dat.', pipeline().parameters.RunID)",
                    "type": "Expression"
                  },
                  "run_stat": "N",
                  "owner": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                    "type": "Expression"
                  },
                  "EnvProjectPath": {
                    "value": "",
                    "type": "Expression"
                  },
                  "file_path": {
                    "value": "",
                    "type": "Expression"
                  }
                }
              }
            }
          ],
          "ifFalseActivities": []
        }
      },
      {
        "name": "If_3B",
        "type": "IfCondition",
        "dependsOn": [
          {
            "activity": "If_3A",
            "dependencyConditions": [
              "Succeeded"
            ]
          },
          {
            "activity": "LhoFctsClmPKExtrSeq",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "expression": {
            "value": "@equals(contains(split(string(pipeline().parameters.ExclusionList), ';'), 'LhoFctsClmLnOvrdExtr'), false)",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "name": "LhoFctsClmLnOvrdExtr",
              "type": "DatabricksNotebook",
              "dependsOn": [],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_notebook_path,'/claim/ClaimLine/OverRide/LhoFctsClmLnOvrdExtr')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "LhoFacetsStgServer": {
                    "value": "@pipeline().globalParameters.gbl_param_LhoFacetsStgServer",
                    "type": "Expression"
                  },
                  "LhoFacetsStgPW": {
                    "value": "@pipeline().globalParameters.gbl_param_LhoFacetsStgPW",
                    "type": "Expression"
                  },
                  "LhoFacetsStgOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_LhoFacetsStgOwner",
                    "type": "Expression"
                  },
                  "lhofacetsstg_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_LhoFacetsSecret",
                    "type": "Expression"
                  },
                  "LhoFacetsStgDSN": {
                    "value": "@pipeline().globalParameters.gbl_param_LhoFacetsStgDSN",
                    "type": "Expression"
                  },
                  "LhoFacetsStgDB": {
                    "value": "@pipeline().globalParameters.gbl_param_LhoFacetsStgDB",
                    "type": "Expression"
                  },
                  "LhoFacetsStgAcct": {
                    "value": "@pipeline().globalParameters.gbl_param_LhoFacetsStgAcct",
                    "type": "Expression"
                  },
                  "IDSOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "ids_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                    "type": "Expression"
                  },
                  "DriverTable": {
                    "value": "@pipeline().parameters.DriverTable",
                    "type": "Expression"
                  },
                  "RunCycle": {
                    "value": "@pipeline().parameters.RunCycle",
                    "type": "Expression"
                  },
                  "RunID": {
                    "value": "@pipeline().parameters.RunID",
                    "type": "Expression"
                  },
                  "CurrentDate": {
                    "value": "@pipeline().parameters.CurrentDate",
                    "type": "Expression"
                  },
                  "SrcSysCd": {
                    "value": "@pipeline().parameters.SrcSysCd",
                    "type": "Expression"
                  },
                  "SrcSysCdSk": {
                    "value": "@pipeline().parameters.SrcSysCdSK",
                    "type": "Expression"
                  }
                }
              }
            }
          ],
          "ifFalseActivities": []
        }
      },
      {
        "name": "If_3C",
        "type": "IfCondition",
        "dependsOn": [
          {
            "activity": "If_3B",
            "dependencyConditions": [
              "Succeeded"
            ]
          },
          {
            "activity": "LhoFctsClmLnOvrdExtr",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "expression": {
            "value": "@equals(contains(split(string(pipeline().parameters.ExclusionList), ';'), 'ConcatExCd'), false)",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "name": "ConcatExCd",
              "type": "DatabricksNotebook",
              "dependsOn": [],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": "@concat(pipeline().globalParameters.gbl_param_scripts,'/Generic_ADLS_File_Operations')",
                "baseParameters": {
                  "src_file_with_path": {
                    "value": "/key/FacetsClmExcdCode.dat",
                    "type": "Expression"
                  },
                  "trgt_file_with_path": {
                    "value": "/key/IdsExCdExtr.ExCd",
                    "type": "Expression"
                  },
                  "command": "copy",
                  "project": "integrate"
                }
              }
            }
          ],
          "ifFalseActivities": []
        }
      },
      {
        "name": "If_3D",
        "type": "IfCondition",
        "dependsOn": [
          {
            "activity": "If_3C",
            "dependencyConditions": [
              "Succeeded"
            ]
          },
          {
            "activity": "ConcatExCd",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "expression": {
            "value": "@equals(contains(split(string(pipeline().parameters.ExclusionList), ';'), 'IdsExCdFkey'), false)",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "name": "IdsExCdFkey",
              "type": "DatabricksNotebook",
              "dependsOn": [],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_notebook_path,'/codes/explanation/IdsExCdFkey')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "OutFile": "EXCD.dat",
                  "InFile": "IdsExCdExtr.ExCd.uniq",
                  "Logging": "X"
                }
              }
            }
          ],
          "ifFalseActivities": []
        }
      },
      {
        "name": "If_3E",
        "type": "IfCondition",
        "dependsOn": [
          {
            "activity": "If_3D",
            "dependencyConditions": [
              "Succeeded"
            ]
          },
          {
            "activity": "IdsExCdFkey",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "expression": {
            "value": "@equals(contains(split(string(pipeline().parameters.ExclusionList), ';'), 'RmExCd'), false)",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "name": "RmExCd",
              "type": "DatabricksNotebook",
              "dependsOn": [],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": "@concat(pipeline().globalParameters.gbl_param_scripts,'/Generic_ADLS_File_Operations')",
                "baseParameters": {
                  "src_file_with_path": {
                    "value": "/key/IdsExCdExtr.ExCd.uniq",
                    "type": "Expression"
                  },
                  "command": "delete",
                  "project": "integrate"
                }
              }
            }
          ],
          "ifFalseActivities": []
        }
      },
      {
        "name": "If_3F",
        "type": "IfCondition",
        "dependsOn": [
          {
            "activity": "If_3E",
            "dependencyConditions": [
              "Succeeded"
            ]
          },
          {
            "activity": "RmExCd",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "expression": {
            "value": "@equals(contains(split(string(pipeline().parameters.ExclusionList), ';'), 'LoadExCd'), false)",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "name": "LoadExCd",
              "type": "DatabricksNotebook",
              "dependsOn": [],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/DB.LOAD')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "table": "EXCD",
                  "action": "UPDATE",
                  "file_name": "EXCD.dat",
                  "run_stat": "Y",
                  "owner": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                    "type": "Expression"
                  },
                  "EnvProjectPath": {
                    "value": "",
                    "type": "Expression"
                  },
                  "file_path": {
                    "value": "",
                    "type": "Expression"
                  }
                }
              }
            }
          ],
          "ifFalseActivities": []
        }
      },
      {
        "name": "Count_UnixFileRecCnt",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "If_3F",
            "dependencyConditions": [
              "Succeeded"
            ]
          },
          {
            "activity": "LoadExCd",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/UnixFileRecCnt')",
            "type": "Expression"
          },
          "baseParameters": {
            "UnixFileRecCnt_a1": {
              "value": "@concat(pipeline().globalParameters.gbl_param_FilePath,'/landing')",
              "type": "Expression"
            },
            "UnixFileRecCnt_a2": "NewExcdList.dat",
            "EnvProjectPath": {
              "value": "",
              "type": "Expression"
            },
            "FilePath": {
              "value": "",
              "type": "Expression"
            },
            "FileName": {
              "value": "",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "SetVar_ErrorMessageCount",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "Count_UnixFileRecCnt",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "ErrorMessageCount",
          "value": {
            "value": "@string(activity('Count_UnixFileRecCnt').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "If_3G",
        "type": "IfCondition",
        "dependsOn": [
          {
            "activity": "SetVar_ErrorMessageCount",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "expression": {
            "value": "@not(equals(variables('ErrorMessageCount'),'0'))",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "name": "MvFile",
              "type": "DatabricksNotebook",
              "dependsOn": [],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": "@concat(pipeline().globalParameters.gbl_param_scripts,'/Generic_ADLS_File_Operations')",
                "baseParameters": {
                  "src_file_with_path": {
                    "value": "/landing/NewExcdList.dat",
                    "type": "Expression"
                  },
                  "trgt_file_with_path": {
                    "value": "/landing/processed/NewExcdList.txt.",
                    "type": "Expression"
                  },
                  "command": "move",
                  "project": "integrate"
                }
              }
            },
            {
              "name": "Email",
              "type": "ExecutePipeline",
              "dependsOn": [
                {
                  "activity": "MvFile",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "pipeline": {
                  "referenceName": "Email_Notification",
                  "type": "PipelineReference"
                },
                "waitOnCompletion": true,
                "parameters": {
                  "recipients": {
                    "value": "@pipeline().globalParameters.gbl_param_EmailSupport",
                    "type": "Expression"
                  },
                  "subject": " #$IDSDB#   New EXCD Codes Found",
                  "body": "See Attached file for new EXCD code list.   \nemail sent from the IDS Facets Claim / FclmClmPrereqSeq job",
                  "blobFilenames": {
                    "value": "@concat(pipeline().globalParameters.gbl_param_environment,'/landing/processed/NewExcdList.txt.',pipeline().parameters.RunID)",
                    "type": "Expression"
                  },
                  "fromemail": {
                    "value": "@pipeline().globalParameters.gbl_param_fromemail",
                    "type": "Expression"
                  },
                  "containerName": {
                    "value": "@pipeline().globalParameters.gbl_param_container_raw",
                    "type": "Expression"
                  }
                }
              }
            }
          ],
          "ifFalseActivities": []
        }
      },
      {
        "name": "If_3H",
        "type": "IfCondition",
        "dependsOn": [
          {
            "activity": "If_3G",
            "dependencyConditions": [
              "Succeeded"
            ]
          },
          {
            "activity": "Email",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "expression": {
            "value": "@equals(contains(split(string(pipeline().parameters.ExclusionList), ';'), 'ConcatDsalwExcd'), false)",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "name": "ConcatDsalwExcd",
              "type": "DatabricksNotebook",
              "dependsOn": [],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": "@concat(pipeline().globalParameters.gbl_param_scripts,'/Generic_ADLS_File_Operations')",
                "baseParameters": {
                  "src_file_with_path": {
                    "value": "/key/*.DsalwExcd",
                    "type": "Expression"
                  },
                  "trgt_file_with_path": {
                    "value": "/key/FctsDsalwExcdExtr.DsalwExcd",
                    "type": "Expression"
                  },
                  "command": "copy",
                  "project": "integrate"
                }
              }
            }
          ],
          "ifFalseActivities": []
        }
      },
      {
        "name": "If_3I",
        "type": "IfCondition",
        "dependsOn": [
          {
            "activity": "If_3H",
            "dependencyConditions": [
              "Succeeded"
            ]
          },
          {
            "activity": "ConcatDsalwExcd",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "expression": {
            "value": "@equals(contains(split(string(pipeline().parameters.ExclusionList), ';'), 'IdsDsalwExcdFkey'), false)",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "name": "IdsDsalwExcdFkey",
              "type": "DatabricksNotebook",
              "dependsOn": [],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_notebook_path,'/codes/DsalwExcd/IdsDsalwExcdFkey')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "Logging": "X"
                }
              }
            }
          ],
          "ifFalseActivities": []
        }
      },
      {
        "name": "If_3J",
        "type": "IfCondition",
        "dependsOn": [
          {
            "activity": "If_3I",
            "dependencyConditions": [
              "Succeeded"
            ]
          },
          {
            "activity": "IdsDsalwExcdFkey",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "expression": {
            "value": "@equals(contains(split(string(pipeline().parameters.ExclusionList), ';'), 'RmDsalwExcd'), false)",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "name": "RmDsalwExcd",
              "type": "DatabricksNotebook",
              "dependsOn": [],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": "@concat(pipeline().globalParameters.gbl_param_scripts,'/Generic_ADLS_File_Operations')",
                "baseParameters": {
                  "src_file_with_path": {
                    "value": "/key/FctsDsalwExcdExtr.DsalwExcd.uniq",
                    "type": "Expression"
                  },
                  "command": "delete",
                  "project": "integrate"
                }
              }
            }
          ],
          "ifFalseActivities": []
        }
      },
      {
        "name": "If_3K",
        "type": "IfCondition",
        "dependsOn": [
          {
            "activity": "If_3J",
            "dependencyConditions": [
              "Succeeded"
            ]
          },
          {
            "activity": "RmDsalwExcd",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "expression": {
            "value": "@equals(contains(split(string(pipeline().parameters.ExclusionList), ';'), 'LoadDsalwExcd'), false)",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "name": "LoadDsalwExcd",
              "type": "DatabricksNotebook",
              "dependsOn": [],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/DB.LOAD')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "table": "DSALW_EXCD",
                  "action": "UPDATE",
                  "file_name": "DSALW_EXCD.dat",
                  "run_stat": "Y",
                  "owner": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                    "type": "Expression"
                  },
                  "EnvProjectPath": {
                    "value": "",
                    "type": "Expression"
                  },
                  "file_path": {
                    "value": "",
                    "type": "Expression"
                  }
                }
              }
            }
          ],
          "ifFalseActivities": []
        }
      }
    ]
  }
}