npw-projects-np-projects-bluekc-translated-66e9366f6cca/Sprint_3_4_5/SequenceJobs/Integrate/LhoFctsClmCntl.json
{
  "name": "LhoFctsClmCntl",
  "type": "Microsoft.DataFactory/factories/pipelines",
  "properties": {
    "folder": {
      "name": "Integrate/Jobs/claim"
    },
    "parameters": {
      "Logging": {
        "type": "String",
        "defaultValue": "Y"
      },
      "DaysToPull": {
        "type": "String",
        "defaultValue": "0"
      },
      "RecDelete": {
        "type": "String",
        "defaultValue": "Y"
      },
      "EmailNotify": {
        "type": "String",
        "defaultValue": "judy.reynolds@BlueKC.com"
      }
    },
    "variables": {
      "JobName": {
        "type": "String",
        "defaultValue": ""
      },
      "GroupName": {
        "type": "String",
        "defaultValue": "LHOFCTS_CLAIM"
      },
      "Source": {
        "type": "String",
        "defaultValue": "LUMERIS"
      },
      "Target": {
        "type": "String",
        "defaultValue": "IDS"
      },
      "Subject": {
        "type": "String",
        "defaultValue": "CLAIM"
      },
      "Frequency": {
        "type": "String",
        "defaultValue": "DAILY"
      },
      "BeginDate": {
        "type": "String",
        "defaultValue": ""
      },
      "LinkCount": {
        "type": "String",
        "defaultValue": ""
      },
      "RunCycle": {
        "type": "String",
        "defaultValue": ""
      },
      "EndDate": {
        "type": "String",
        "defaultValue": ""
      },
      "ExclusionList": {
        "type": "String",
        "defaultValue": ""
      },
      "RunID": {
        "type": "String",
        "defaultValue": ""
      },
      "SourceSK": {
        "type": "String",
        "defaultValue": ""
      },
      "CurrDate": {
        "type": "String",
        "defaultValue": ""
      },
      "CurrDateTime": {
        "type": "String",
        "defaultValue": ""
      },
      "SrcSysCd": {
        "type": "String",
        "defaultValue": "LUMERIS"
      },
      "CurrDateTime4PymtRdtn": {
        "type": "String",
        "defaultValue": ""
      },
      "LastRunDateTime4PymtRdtn": {
        "type": "String",
        "defaultValue": ""
      },
      "DriverTable": {
        "type": "String",
        "defaultValue": "TMP_IDS_CLAIM"
      },
      "AdjFromTable": {
        "type": "String",
        "defaultValue": "TMP_ADJ_FROM"
      },
      "GrouperTable": {
        "type": "String",
        "defaultValue": "TMP_GROUPER_VER"
      },
      "TableTimeStamp": {
        "type": "String",
        "defaultValue": ""
      }
    },
    "activities": [
      {
        "name": "SetVar_JobName",
        "type": "SetVariable",
        "dependsOn": [],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "JobName",
          "value": {
            "value": "@pipeline().Pipeline",
            "type": "Expression"
          }
        }
      },
      {
        "name": "Notebook_GetRunInfo_BeginDate",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "SetVar_JobName",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "notebookPath": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/GetRunInfo')",
          "baseParameters": {
            "job_name": {
              "value": "@variables('JobName')",
              "type": "Expression"
            },
            "IDSOwner": {
              "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
              "type": "Expression"
            },
            "secret_name": {
              "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
              "type": "Expression"
            },
            "GlobalEnvironment": {
              "value": "@pipeline().globalParameters.gbl_param_environment",
              "type": "Expression"
            }
          }
        },
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        }
      },
      {
        "name": "SetVar_BeginDate",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "Notebook_GetRunInfo_BeginDate",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "BeginDate",
          "value": {
            "value": "@string(activity('Notebook_GetRunInfo_BeginDate').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "ProcessCheckExtr",
        "type": "Lookup",
        "dependsOn": [
          {
            "activity": "SetVar_BeginDate",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "source": {
            "type": "AzureSqlSource",
            "sqlReaderQuery": {
              "value": "WITH db2_data AS (\n    select SUBJ_CD, TRGT_SYS_CD, SRC_SYS_CD\n    from @{pipeline().globalParameters.gbl_param_IDSOwner}.P_RUN_CYC\n    where CYC_STTUS_CD = 'RUNNING'\n       and SUBJ_CD = '@{variables('Subject')}'\n       and TRGT_SYS_CD = '@{variables('Target')}'\n    UNION\n    select SUBJ_CD, TRGT_SYS_CD, SRC_SYS_CD\n    from @{pipeline().globalParameters.gbl_param_IDSOwner}.P_RUN_CYC\n    where CYC_STTUS_CD = 'RUNNING'\n       and SUBJ_CD = '@{variables('Subject')}'\n       and SRC_SYS_CD <> '@{variables('Source')}'\n       and TRGT_SYS_CD = '@{variables('Target')}'\n    UNION\n    select SUBJ_CD, TRGT_SYS_CD, SRC_SYS_CD\n    from @{pipeline().globalParameters.gbl_param_IDSOwner}.P_RUN_CYC\n    where CYC_STTUS_CD = 'RUNNING'\n       and SUBJ_CD = '@{variables('Subject')}'\n       and SRC_SYS_CD = '@{variables('Source')}'\n),\ntransformed_data AS (\n    SELECT SUBJ_CD, SRC_SYS_CD, TRGT_SYS_CD\n    FROM db2_data\n)\nSELECT COUNT(*) as link_count FROM transformed_data",
              "type": "Expression"
            },
            "queryTimeout": "02:00:00",
            "partitionOption": "None"
          },
          "dataset": {
            "referenceName": "ds_ids",
            "type": "DatasetReference",
            "parameters": {
              "param_schema": "@pipeline().globalParameters.gbl_param_IDSOwner",
              "param_table": "P_RUN_CYC"
            }
          }
        }
      },
      {
        "name": "LinkCount_SetVar",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "ProcessCheckExtr",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "LinkCount",
          "value": {
            "value": "@string(activity('ProcessCheckExtr').output.firstRow.link_count)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "CountChk",
        "type": "IfCondition",
        "dependsOn": [
          {
            "activity": "LinkCount_SetVar",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "expression": {
            "value": "@not(equals(int(variables('LinkCount')),0))",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "name": "Email_DAT",
              "type": "ExecutePipeline",
              "dependsOn": [],
              "policy": {
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "pipeline": {
                  "referenceName": "Email_Notification",
                  "type": "PipelineReference"
                },
                "waitOnCompletion": true,
                "parameters": {
                  "recipients": {
                    "value": "@pipeline().globalParameters.gbl_param_EmailSupport",
                    "type": "Expression"
                  },
                  "subject": "IDS LUMERIS Claim Abort",
                  "body": "The IDS LUMERIS Stage Claim processing can not run while IDS claim is being updated or extracted from.",
                  "blobFilenames": " ",
                  "fromemail": {
                    "value": "@pipeline().globalParameters.gbl_param_fromemail",
                    "type": "Expression"
                  },
                  "containerName": " "
                }
              }
            }
          ],
          "ifFalseActivities": [
            {
              "name": "Notebook_OpenRunCycle_RunCycle",
              "type": "DatabricksNotebook",
              "dependsOn": [],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "notebookPath": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/OpenRunCycle')",
                "baseParameters": {
                  "DBOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                    "type": "Expression"
                  },
                  "Source": {
                    "value": "@variables('Source')",
                    "type": "Expression"
                  },
                  "Target": {
                    "value": "@variables('Target')",
                    "type": "Expression"
                  },
                  "Subject": {
                    "value": "@variables('Subject')",
                    "type": "Expression"
                  },
                  "Frequency": {
                    "value": "@variables('Frequency')",
                    "type": "Expression"
                  },
                  "GlobalEnvironment": {
                    "value": "@pipeline().globalParameters.gbl_param_environment",
                    "type": "Expression"
                  }
                }
              },
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              }
            },
            {
              "name": "SetVar_RunCycle",
              "type": "SetVariable",
              "dependsOn": [
                {
                  "activity": "Notebook_OpenRunCycle_RunCycle",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "RunCycle",
                "value": {
                  "value": "@string(activity('Notebook_OpenRunCycle_RunCycle').output.runOutput)",
                  "type": "Expression"
                }
              }
            },
            {
              "name": "IfDaysToPullZero",
              "type": "IfCondition",
              "dependsOn": [
                {
                  "activity": "SetVar_RunCycle",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "userProperties": [],
              "typeProperties": {
                "expression": {
                  "value": "@equals(pipeline().parameters.DaysToPull,'0')",
                  "type": "Expression"
                },
                "ifTrueActivities": [
                  {
                    "name": "Notebook_FormatDate_EndDate0",
                    "type": "DatabricksNotebook",
                    "dependsOn": [],
                    "policy": {
                      "timeout": "12:00:00",
                      "retry": 0,
                      "retryIntervalInSeconds": 30,
                      "secureOutput": false,
                      "secureInput": false
                    },
                    "userProperties": [],
                    "typeProperties": {
                      "notebookPath": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/FORMAT.DATE')",
                      "baseParameters": {
                        "pInDate": "string('@DATE')",
                        "pSource": "DATE",
                        "pSourceFormat": "CURRENT",
                        "pOutFormat": "SYBTIMESTAMP"
                      }
                    },
                    "linkedServiceName": {
                      "referenceName": "shareddatabricks",
                      "type": "LinkedServiceReference"
                    }
                  },
                  {
                    "name": "SetVar_EndDate0",
                    "type": "SetVariable",
                    "dependsOn": [
                      {
                        "activity": "Notebook_FormatDate_EndDate0",
                        "dependencyConditions": [
                          "Succeeded"
                        ]
                      }
                    ],
                    "policy": {
                      "secureOutput": false,
                      "secureInput": false
                    },
                    "userProperties": [],
                    "typeProperties": {
                      "variableName": "EndDate",
                      "value": {
                        "value": "@string(activity('Notebook_FormatDate_EndDate0').output.runOutput)",
                        "type": "Expression"
                      }
                    }
                  }
                ],
                "ifFalseActivities": [
                  {
                    "name": "Notebook_Compute_EndDate_Else",
                    "type": "DatabricksNotebook",
                    "dependsOn": [],
                    "policy": {
                      "timeout": "12:00:00",
                      "retry": 0,
                      "retryIntervalInSeconds": 30,
                      "secureOutput": false,
                      "secureInput": false
                    },
                    "userProperties": [],
                    "typeProperties": {
                      "notebookPath": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/ComputeEndDate')",
                      "baseParameters": {
                        "ComputeEndDate_a1": {
                          "value": "@variables('BeginDate')",
                          "type": "Expression"
                        },
                        "ComputeEndDate_a2": {
                          "value": "@pipeline().parameters.DaysToPull",
                          "type": "Expression"
                        },
                        "GlobalEnvironment": {
                          "value": "@pipeline().globalParameters.gbl_param_environment",
                          "type": "Expression"
                        }
                      }
                    },
                    "linkedServiceName": {
                      "referenceName": "shareddatabricks",
                      "type": "LinkedServiceReference"
                    }
                  },
                  {
                    "name": "SetVar_EndDate_Else",
                    "type": "SetVariable",
                    "dependsOn": [
                      {
                        "activity": "Notebook_Compute_EndDate_Else",
                        "dependencyConditions": [
                          "Succeeded"
                        ]
                      }
                    ],
                    "policy": {
                      "secureOutput": false,
                      "secureInput": false
                    },
                    "userProperties": [],
                    "typeProperties": {
                      "variableName": "EndDate",
                      "value": {
                        "value": "@string(activity('Notebook_Compute_EndDate_Else').output.runOutput)",
                        "type": "Expression"
                      }
                    }
                  }
                ]
              }
            },
            {
              "name": "Notebook_ExclusionListExtr",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "SetVar_EndDate0",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                },
                {
                  "activity": "SetVar_EndDate_Else",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_notebook_path,'/JobSequencer/CommonComponents/ExclusionListExtr')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "ids_owner_schema": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "ids_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                    "type": "Expression"
                  },
                  "Subject": {
                    "value": "@variables('JobName')",
                    "type": "Expression"
                  },
                  "ids_staging_schema": {
                    "value": "@pipeline().globalParameters.gbl_param_ids_staging",
                    "type": "Expression"
                  }
                }
              },
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              }
            },
            {
              "name": "Notebook_WriteRunID",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "Notebook_ExclusionListExtr",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "notebookPath": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/WriteRunID')",
                "baseParameters": {
                  "entry_name": {
                    "value": "@concat(variables('JobName'),'RunID')",
                    "type": "Expression"
                  },
                  "GlobalEnvironment": {
                    "value": "@pipeline().globalParameters.gbl_param_environment",
                    "type": "Expression"
                  },
                  "secret_name": {
                    "value": "",
                    "type": "Expression"
                  },
                  "IDSOwner": {
                    "value": "",
                    "type": "Expression"
                  }
                }
              },
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              }
            },
            {
              "name": "Notebook_WriteEndDate",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "Notebook_WriteRunID",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "notebookPath": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/WriteRunInfo')",
                "baseParameters": {
                  "arg1": {
                    "value": "@concat(variables('JobName'),'EndDate')",
                    "type": "Expression"
                  },
                  "arg2": {
                    "value": "@variables('EndDate')",
                    "type": "Expression"
                  },
                  "arg3": {
                    "value": "@variables('EndDate')",
                    "type": "Expression"
                  },
                  "GlobalEnvironment": {
                    "value": "@pipeline().globalParameters.gbl_param_environment",
                    "type": "Expression"
                  },
                  "secret_name": {
                    "value": "",
                    "type": "Expression"
                  },
                  "IDSOwner": {
                    "value": "",
                    "type": "Expression"
                  }
                }
              },
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              }
            },
            {
              "name": "Notebook_GetExclusionList_ExclusionList",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "Notebook_WriteEndDate",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "notebookPath": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/GetExclusionList')",
                "baseParameters": {
                  "Subject": {
                    "value": "@variables('JobName')",
                    "type": "Expression"
                  },
                  "GlobalEnvironment": {
                    "value": "@pipeline().globalParameters.gbl_param_environment",
                    "type": "Expression"
                  },
                  "secret_name": {
                    "value": "",
                    "type": "Expression"
                  },
                  "DBOwner": {
                    "value": "",
                    "type": "Expression"
                  }
                }
              },
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              }
            },
            {
              "name": "SetVar_ExclusionList",
              "type": "SetVariable",
              "dependsOn": [
                {
                  "activity": "Notebook_GetExclusionList_ExclusionList",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "ExclusionList",
                "value": {
                  "value": "@string(activity('Notebook_GetExclusionList_ExclusionList').output.runOutput)",
                  "type": "Expression"
                }
              }
            },
            {
              "name": "Notebook_GetRunInfo_RunID",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "SetVar_ExclusionList",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "notebookPath": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/GetRunInfo')",
                "baseParameters": {
                  "job_name": {
                    "value": "@concat(variables('JobName'),'RunID')",
                    "type": "Expression"
                  },
                  "GlobalEnvironment": {
                    "value": "@pipeline().globalParameters.gbl_param_environment",
                    "type": "Expression"
                  },
                  "secret_name": {
                    "value": "",
                    "type": "Expression"
                  },
                  "IDSOwner": {
                    "value": "",
                    "type": "Expression"
                  }
                }
              },
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              }
            },
            {
              "name": "SetVar_RunID",
              "type": "SetVariable",
              "dependsOn": [
                {
                  "activity": "Notebook_GetRunInfo_RunID",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "RunID",
                "value": {
                  "value": "@string(activity('Notebook_GetRunInfo_RunID').output.runOutput)",
                  "type": "Expression"
                }
              }
            },
            {
              "name": "Notebook_GetRunInfo_EndDate",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "SetVar_RunID",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "notebookPath": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/GetRunInfo')",
                "baseParameters": {
                  "job_name": {
                    "value": "@concat(variables('JobName'),'EndDate')",
                    "type": "Expression"
                  },
                  "GlobalEnvironment": {
                    "value": "@pipeline().globalParameters.gbl_param_environment",
                    "type": "Expression"
                  },
                  "secret_name": {
                    "value": "",
                    "type": "Expression"
                  },
                  "IDSOwner": {
                    "value": "",
                    "type": "Expression"
                  }
                }
              },
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              }
            },
            {
              "name": "SetVar_EndDate2",
              "type": "SetVariable",
              "dependsOn": [
                {
                  "activity": "Notebook_GetRunInfo_EndDate",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "EndDate",
                "value": {
                  "value": "@string(activity('Notebook_GetRunInfo_EndDate').output.runOutput)",
                  "type": "Expression"
                }
              }
            },
            {
              "name": "Notebook_GetFkeyCodes_SourceSK",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "SetVar_EndDate2",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "notebookPath": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/GetFkeyCodes')",
                "baseParameters": {
                  "src_system_cd": "IDS",
                  "record_key": "1",
                  "cd_mpg_id": "SOURCE SYSTEM",
                  "cd_value": "LUMERIS",
                  "logging": "X",
                  "GlobalEnvironment": {
                    "value": "@pipeline().globalParameters.gbl_param_environment",
                    "type": "Expression"
                  },
                  "GetFkeyCodes_owner": {
                    "value": "",
                    "type": "Expression"
                  },
                  "GetFkeyCodes_secret": {
                    "value": "",
                    "type": "Expression"
                  }
                }
              },
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              }
            },
            {
              "name": "SetVar_SourceSK",
              "type": "SetVariable",
              "dependsOn": [
                {
                  "activity": "Notebook_GetFkeyCodes_SourceSK",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "SourceSK",
                "value": {
                  "value": "@string(activity('Notebook_GetFkeyCodes_SourceSK').output.runOutput)",
                  "type": "Expression"
                }
              }
            },
            {
              "name": "Notebook_FormatDate_CurrDate",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "SetVar_SourceSK",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "notebookPath": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/FORMAT.DATE')",
                "baseParameters": {
                  "pInDate": "string('@DATE')",
                  "pSource": "DATE",
                  "pSourceFormat": "CURRENT",
                  "pOutFormat": "CCYY-MM-DD"
                }
              },
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              }
            },
            {
              "name": "SetVar_CurrDate",
              "type": "SetVariable",
              "dependsOn": [
                {
                  "activity": "Notebook_FormatDate_CurrDate",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "CurrDate",
                "value": {
                  "value": "@string(activity('Notebook_FormatDate_CurrDate').output.runOutput)",
                  "type": "Expression"
                }
              }
            },
            {
              "name": "Notebook_FormatDate_CurrDateTime",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "SetVar_CurrDate",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "notebookPath": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/FORMAT.DATE')",
                "baseParameters": {
                  "pInDate": "string('@DATE')",
                  "pSource": "DATE",
                  "pSourceFormat": "CURRENT",
                  "pOutFormat": "DB2TIMESTAMP"
                }
              },
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              }
            },
            {
              "name": "SetVar_CurrDateTime",
              "type": "SetVariable",
              "dependsOn": [
                {
                  "activity": "Notebook_FormatDate_CurrDateTime",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "CurrDateTime",
                "value": {
                  "value": "@string(activity('Notebook_FormatDate_CurrDateTime').output.runOutput)",
                  "type": "Expression"
                }
              }
            },
            {
              "name": "Notebook_FormatDate_CurrDateTime4PymtRdtn",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "SetVar_CurrDateTime",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "notebookPath": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/FORMAT.DATE')",
                "baseParameters": {
                  "pInDate": "string('@DATE')",
                  "pSource": "DATE",
                  "pSourceFormat": "CURRENT",
                  "pOutFormat": "SYBTIMESTAMP"
                }
              },
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              }
            },
            {
              "name": "SetVar_CurrDateTime4PymtRdtn",
              "type": "SetVariable",
              "dependsOn": [
                {
                  "activity": "Notebook_FormatDate_CurrDateTime4PymtRdtn",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "CurrDateTime4PymtRdtn",
                "value": {
                  "value": "@string(activity('Notebook_FormatDate_CurrDateTime4PymtRdtn').output.runOutput)",
                  "type": "Expression"
                }
              }
            },
            {
              "name": "Notebook_GetRunInfo_LastRunDateTime4PymtRdtn",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "SetVar_CurrDateTime4PymtRdtn",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "notebookPath": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/GetRunInfo')",
                "baseParameters": {
                  "job_name": {
                    "value": "@concat(variables('JobName'),'PaymtRdtnLastRunDt')",
                    "type": "Expression"
                  },
                  "GlobalEnvironment": {
                    "value": "@pipeline().globalParameters.gbl_param_environment",
                    "type": "Expression"
                  },
                  "secret_name": {
                    "value": "",
                    "type": "Expression"
                  },
                  "IDSOwner": {
                    "value": "",
                    "type": "Expression"
                  }
                }
              },
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              }
            },
            {
              "name": "SetVar_LastRunDateTime4PymtRdtn",
              "type": "SetVariable",
              "dependsOn": [
                {
                  "activity": "Notebook_GetRunInfo_LastRunDateTime4PymtRdtn",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "LastRunDateTime4PymtRdtn",
                "value": {
                  "value": "@string(activity('Notebook_GetRunInfo_LastRunDateTime4PymtRdtn').output.runOutput)",
                  "type": "Expression"
                }
              }
            },
            {
              "name": "Notebook_Compute_TableTimeStamp",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "SetVar_LastRunDateTime4PymtRdtn",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "notebookPath": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/TableTimeStamp')",
                "baseParameters": {
                  "RunID": {
                    "value": "@variables('RunID')",
                    "type": "Expression"
                  },
                  "GlobalEnvironment": {
                    "value": "@pipeline().globalParameters.gbl_param_environment",
                    "type": "Expression"
                  }
                }
              },
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              }
            },
            {
              "name": "SetVar_TableTimeStamp",
              "type": "SetVariable",
              "dependsOn": [
                {
                  "activity": "Notebook_Compute_TableTimeStamp",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "TableTimeStamp",
                "value": {
                  "value": "@string(activity('Notebook_Compute_TableTimeStamp').output.runOutput)",
                  "type": "Expression"
                }
              }
            },
            {
              "name": "Notebook_ExclusionListDelete",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "SetVar_TableTimeStamp",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_notebook_path,'/JobSequencer/CommonComponents/ExclusionListDelete')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "ids_owner_schema": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "ids_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                    "type": "Expression"
                  },
                  "subject": {
                    "value": "@variables('JobName')",
                    "type": "Expression"
                  }
                }
              },
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              }
            },
            {
              "name": "ExecutePipeline_LhoFctsClmCntl1",
              "type": "ExecutePipeline",
              "dependsOn": [
                {
                  "activity": "Notebook_ExclusionListDelete",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "pipeline": {
                  "referenceName": "LhoFctsClmCntl1",
                  "type": "PipelineReference"
                },
                "waitOnCompletion": true,
                "parameters": {
                  "LhoFacetsStgPW": {
                    "value": "@pipeline().globalParameters.gbl_param_LhoFacetsStgPW",
                    "type": "Expression"
                  },
                  "LhoFacetsStgOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_LhoFacetsStgOwner",
                    "type": "Expression"
                  },
                  "lhofacetsstg_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_LhoFacetsStgSecret",
                    "type": "Expression"
                  },
                  "LhoFacetsStgAcct": {
                    "value": "@pipeline().globalParameters.gbl_param_LhoFacetsStgAcct",
                    "type": "Expression"
                  },
                  "Logging": {
                    "value": "@pipeline().parameters.Logging",
                    "type": "Expression"
                  },
                  "DaysToPull": {
                    "value": "@pipeline().parameters.DaysToPull",
                    "type": "Expression"
                  },
                  "RecDelete": {
                    "value": "@pipeline().parameters.RecDelete",
                    "type": "Expression"
                  },
                  "EmailNotify": {
                    "value": "@pipeline().parameters.EmailNotify",
                    "type": "Expression"
                  },
                  "EmailSupport": {
                    "value": "@pipeline().globalParameters.gbl_param_EmailSupport",
                    "type": "Expression"
                  },
                  "DBUG": {
                    "value": "@pipeline().globalParameters.gbl_param_DBUG",
                    "type": "Expression"
                  },
                  "IngenixDRGFilePath": {
                    "value": "@pipeline().globalParameters.gbl_param_IngenixDRGFilePath",
                    "type": "Expression"
                  },
                  "IngenixDRGFilePathOut": {
                    "value": "@pipeline().globalParameters.gbl_param_IngenixDRGFilePathOut",
                    "type": "Expression"
                  },
                  "IDSOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "ids_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                    "type": "Expression"
                  },
                  "BCBSOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_BCBSOwner",
                    "type": "Expression"
                  },
                  "bcbs_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_BCBSSecret",
                    "type": "Expression"
                  },
                  "FacetsOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_FacetsOwner",
                    "type": "Expression"
                  },
                  "facets_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_FacetsSecret",
                    "type": "Expression"
                  },
                  "UWSOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_UWSOwner",
                    "type": "Expression"
                  },
                  "uws_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_UWSSecret",
                    "type": "Expression"
                  },
                  "LhoFacetsStgDSN": {
                    "value": "@pipeline().globalParameters.gbl_param_LhoFacetsStgDSN",
                    "type": "Expression"
                  },
                  "Time_RunCycle": {
                    "value": "@variables('RunCycle')",
                    "type": "Expression"
                  },
                  "Variables_RunID": {
                    "value": "@variables('RunID')",
                    "type": "Expression"
                  },
                  "ExclusionListExtr_JobName": {
                    "value": "@variables('JobName')",
                    "type": "Expression"
                  },
                  "Initial_BeginDate": {
                    "value": "@variables('BeginDate')",
                    "type": "Expression"
                  },
                  "Variables_EndDate": {
                    "value": "@variables('EndDate')",
                    "type": "Expression"
                  },
                  "Initial_JobName": {
                    "value": "@variables('JobName')",
                    "type": "Expression"
                  },
                  "Tables_DriverTable": {
                    "value": "@variables('DriverTable')",
                    "type": "Expression"
                  },
                  "Tables_AdjFromTable": {
                    "value": "@variables('AdjFromTable')",
                    "type": "Expression"
                  },
                  "Tables_GrouperTable": {
                    "value": "@variables('GrouperTable')",
                    "type": "Expression"
                  },
                  "Variables_SrcSysCd": {
                    "value": "@variables('SrcSysCd')",
                    "type": "Expression"
                  },
                  "Variables_SourceSK": {
                    "value": "@variables('SourceSK')",
                    "type": "Expression"
                  },
                  "Tables_TableTimeStamp": {
                    "value": "@variables('TableTimeStamp')",
                    "type": "Expression"
                  },
                  "Variables_CurrDate": {
                    "value": "@variables('CurrDate')",
                    "type": "Expression"
                  },
                  "Variables_CurrDateTime": {
                    "value": "@variables('CurrDateTime')",
                    "type": "Expression"
                  },
                  "Variables_LastRunDateTime4PymtRdtn": {
                    "value": "@variables('LastRunDateTime4PymtRdtn')",
                    "type": "Expression"
                  },
                  "Variables_ExclusionList": {
                    "value": "@variables('ExclusionList')",
                    "type": "Expression"
                  },
                  "Initial_Source": {
                    "value": "@variables('Source')",
                    "type": "Expression"
                  },
                  "Time_EndDate": {
                    "value": "@variables('EndDate')",
                    "type": "Expression"
                  },
                  "Variables_CurrDateTime4PymtRdtn": {
                    "value": "@variables('CurrDateTime4PymtRdtn')",
                    "type": "Expression"
                  },
                  "Initial_Target": {
                    "value": "@variables('Target')",
                    "type": "Expression"
                  },
                  "Initial_Subject": {
                    "value": "@variables('Subject')",
                    "type": "Expression"
                  },
                  "Initial_Frequency": {
                    "value": "@variables('Frequency')",
                    "type": "Expression"
                  }
                }
              }
            }
          ]
        }
      }
    ]
  }
}