npw-projects-np-projects-bluekc-translated-66e9366f6cca/Sprint_3_4_5/SequenceJobs/Integrate/LhoFctsClmExtr1Seq4.json
{
  "name": "LhoFctsClmExtr1Seq4",
  "type": "Microsoft.DataFactory/factories/pipelines",
  "properties": {
    "folder": {
      "name": "Integrate/Jobs/claim/SeqLho"
    },
    "parameters": {
      "RunCycle": {
        "type": "String",
        "defaultValue": ""
      },
      "RunID": {
        "type": "String",
        "defaultValue": ""
      },
      "ExclusionList": {
        "type": "String",
        "defaultValue": ""
      },
      "CurrDate": {
        "type": "String",
        "defaultValue": ""
      },
      "CurrDateTime": {
        "type": "String",
        "defaultValue": ""
      },
      "BeginDate": {
        "type": "String",
        "defaultValue": ""
      },
      "EndDate": {
        "type": "String",
        "defaultValue": ""
      },
      "DriverTable": {
        "type": "String",
        "defaultValue": ""
      },
      "AdjFromTable": {
        "type": "String",
        "defaultValue": ""
      },
      "TableID": {
        "type": "String",
        "defaultValue": ""
      },
      "SrcSysCd": {
        "type": "String",
        "defaultValue": ""
      },
      "SourceSK": {
        "type": "String",
        "defaultValue": ""
      },
      "LastRunDateTime": {
        "type": "String",
        "defaultValue": ""
      }
    },
    "variables": {
      "var_Grouper_Generated_poa_FileCnt": {
        "defaultValue": ""
      },
      "var_LhoFctsFcltyClmDRGGen_result": {
        "defaultValue": ""
      },
      "var_LhoFctsFcltyClmDRGNorm_result": {
        "defaultValue": ""
      },
      "var_If_2H_branch": {
        "defaultValue": ""
      },
      "var_If_2x_branch": {
        "defaultValue": ""
      },
      "var_If_2x_Continuation_branch": {
        "defaultValue": ""
      },
      "LinkCount": {
        "type": "String",
        "defaultValue": ""
      }
    },
    "activities": [
      {
        "name": "Databricks_JobLinkCount_GrouperGenerated",
        "type": "DatabricksNotebook",
        "dependsOn": [],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/JobLinkCount')",
            "type": "Expression"
          },
          "baseParameters": {
            "JobLinkCount_a1": {
              "value": "LhoFctsClmFcltyExtr",
              "type": "Expression"
            },
            "JobLinkCount_a2": {
              "value": "transform",
              "type": "Expression"
            },
            "JobLinkCount_a3": {
              "value": "grouper_generated_poa",
              "type": "Expression"
            },
            "schema": {
              "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
              "type": "Expression"
            },
            "secret_name": {
              "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
              "type": "Expression"
            },
            "GlobalEnvironment": {
              "value": "@pipeline().globalParameters.gbl_param_environment",
              "type": "Expression"
            },
            "file_path": {
              "value": "",
              "type": "Expression"
            },
            "EnvProjectPath": {
              "value": "",
              "type": "Expression"
            },
            "delimiter": {
              "value": "",
              "type": "Expression"
            },
            "quote": {
              "value": "",
              "type": "Expression"
            },
            "header": {
              "value": "",
              "type": "Expression"
            },
            "nullValue": {
              "value": "",
              "type": "Expression"
            },
            "table_nm": {
              "value": "",
              "type": "Expression"
            }
          }
        },
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        }
      },
      {
        "name": "SetVariable_Grouper_Generated_poa_FileCnt",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "Databricks_JobLinkCount_GrouperGenerated",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "var_Grouper_Generated_poa_FileCnt",
          "value": {
            "type": "Expression",
            "value": "@string(activity('Databricks_JobLinkCount_GrouperGenerated').output.runOutput)"
          }
        }
      },
      {
        "name": "SetVariable_LhoFctsFcltyClmDRGGen_result",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "SetVariable_Grouper_Generated_poa_FileCnt",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "var_LhoFctsFcltyClmDRGGen_result",
          "value": {
            "type": "Expression",
            "value": "@concat('LhoFctsFcltyClmDRGGen_', pipeline().parameters.RunID, '_results.dat')"
          }
        }
      },
      {
        "name": "SetVariable_LhoFctsFcltyClmDRGNorm_result",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "SetVariable_LhoFctsFcltyClmDRGGen_result",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "var_LhoFctsFcltyClmDRGNorm_result",
          "value": {
            "type": "Expression",
            "value": "@concat('LhoFctsFcltyClmDRGNorm_', pipeline().parameters.RunID, '_results.dat')"
          }
        }
      },
      {
        "name": "Switch_If_2H",
        "type": "Switch",
        "dependsOn": [
          {
            "activity": "SetVariable_LhoFctsFcltyClmDRGNorm_result",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "on": {
            "type": "Expression",
            "value": "@if(equals(variables('var_Grouper_Generated_poa_FileCnt'),'0'),'1','0')"
          },
          "cases": [
            {
              "value": "1",
              "activities": [
                {
                  "name": "SetVariable_If_2H_branch_True",
                  "type": "SetVariable",
                  "dependsOn": [],
                  "policy": {
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "variableName": "var_If_2H_branch",
                    "value": {
                      "type": "Expression",
                      "value": "1"
                    }
                  }
                },
                {
                  "name": "TouchDrugGen_dat",
                  "type": "DatabricksNotebook",
                  "dependsOn": [
                    {
                      "activity": "SetVariable_If_2H_branch_True",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "timeout": "12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "notebookPath": {
                      "value": "@concat(pipeline().globalParameters.gbl_param_scripts,'touch')",
                      "type": "Expression"
                    },
                    "baseParameters": {
                      "Arg1": {
                        "value": {
                          "type": "Expression",
                          "value": "@concat(pipeline().globalParameters.gbl_param_container_integrate,'/',pipeline().globalParameters.gbl_param_environment,'/verified')"
                        }
                      },
                      "Arg2": {
                        "value": {
                          "type": "Expression",
                          "value": "@variables('var_LhoFctsFcltyClmDRGGen_result)"
                        }
                      }
                    }
                  },
                  "linkedServiceName": {
                    "referenceName": "shareddatabricks",
                    "type": "LinkedServiceReference"
                  }
                },
                {
                  "name": "TouchDrugNormative_dat",
                  "type": "DatabricksNotebook",
                  "dependsOn": [
                    {
                      "activity": "TouchDrugGen_dat",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "timeout": "12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "notebookPath": {
                      "value": "@concat(pipeline().globalParameters.gbl_param_scripts,'touch')",
                      "type": "Expression"
                    },
                    "baseParameters": {
                      "Arg1": {
                        "value": {
                          "type": "Expression",
                          "value": "@concat(pipeline().globalParameters.gbl_param_container_integrate,'/',pipeline().globalParameters.gbl_param_environment,'/verified')"
                        }
                      },
                      "Arg2": {
                        "value": {
                          "type": "Expression",
                          "value": "@variables('var_LhoFctsFcltyClmDRGNorm_result)"
                        }
                      }
                    }
                  },
                  "linkedServiceName": {
                    "referenceName": "shareddatabricks",
                    "type": "LinkedServiceReference"
                  }
                },
                {
                  "name": "ConcatNormativePOA1",
                  "type": "DatabricksNotebook",
                  "dependsOn": [
                    {
                      "activity": "TouchDrugNormative_dat",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "timeout": "12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "notebookPath": {
                      "value": "@concat(pipeline().globalParameters.gbl_param_scripts,'prepare_files')",
                      "type": "Expression"
                    },
                    "baseParameters": {
                      "Arg1": {
                        "value": {
                          "type": "Expression",
                          "value": "@concat(pipeline().globalParameters.gbl_param_container_integrate,'/',pipeline().globalParameters.gbl_param_environment,'/verified')"
                        }
                      },
                      "Arg2": {
                        "value": "*.LhoFctsNormPOA"
                      },
                      "Arg3": {
                        "value": {
                          "type": "Expression",
                          "value": "@concat('LhoFctsFcltyClmDRGNorm_', pipeline().parameters.RunID)"
                        }
                      },
                      "Arg4": {
                        "value": "-r"
                      },
                      "Arg5": {
                        "value": "'-k1,1'"
                      },
                      "Arg6": {
                        "value": "'-k1,1'"
                      }
                    }
                  },
                  "linkedServiceName": {
                    "referenceName": "shareddatabricks",
                    "type": "LinkedServiceReference"
                  }
                },
                {
                  "name": "ConcatDRGGenPOA1",
                  "type": "DatabricksNotebook",
                  "dependsOn": [
                    {
                      "activity": "ConcatNormativePOA1",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "timeout": "12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "notebookPath": {
                      "value": "@concat(pipeline().globalParameters.gbl_param_scripts,'prepare_files')",
                      "type": "Expression"
                    },
                    "baseParameters": {
                      "Arg1": {
                        "value": {
                          "type": "Expression",
                          "value": "@concat(pipeline().globalParameters.gbl_param_container_integrate,'/',pipeline().globalParameters.gbl_param_environment,'/verified')"
                        }
                      },
                      "Arg2": {
                        "value": "*.LhoFctsGenPOA"
                      },
                      "Arg3": {
                        "value": {
                          "type": "Expression",
                          "value": "@concat('LhoFctsFcltyClmDRGGen_', pipeline().parameters.RunID)"
                        }
                      },
                      "Arg4": {
                        "value": "-r"
                      },
                      "Arg5": {
                        "value": "'-k1,1'"
                      },
                      "Arg6": {
                        "value": "'-k1,1'"
                      }
                    }
                  },
                  "linkedServiceName": {
                    "referenceName": "shareddatabricks",
                    "type": "LinkedServiceReference"
                  }
                }
              ]
            }
          ],
          "defaultActivities": [
            {
              "name": "SetVariable_If_2H_branch_False",
              "type": "SetVariable",
              "dependsOn": [],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "var_If_2H_branch",
                "value": {
                  "type": "Expression",
                  "value": "0"
                }
              }
            }
          ]
        }
      },
      {
        "name": "Switch_If_2x",
        "type": "Switch",
        "dependsOn": [
          {
            "activity": "Switch_If_2H",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "on": {
            "type": "Expression",
            "value": "@if(and(equals(variables('var_If_2H_branch'),'0'),equals(indexOf(split(pipeline().parameters.ExclusionList,';'),'ConcatNormativePOA'),-1)),'1','0')"
          },
          "cases": [
            {
              "value": "1",
              "activities": [
                {
                  "name": "SetVariable_If_2x_branch_True",
                  "type": "SetVariable",
                  "dependsOn": [],
                  "policy": {
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "variableName": "var_If_2x_branch",
                    "value": {
                      "type": "Expression",
                      "value": "1"
                    }
                  }
                },
                {
                  "name": "ConcatNormativePOA",
                  "type": "DatabricksNotebook",
                  "dependsOn": [
                    {
                      "activity": "SetVariable_If_2x_branch_True",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "timeout": "12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "notebookPath": {
                      "value": "@concat(pipeline().globalParameters.gbl_param_scripts,'prepare_files')",
                      "type": "Expression"
                    },
                    "baseParameters": {
                      "Arg1": {
                        "value": {
                          "type": "Expression",
                          "value": "@concat(pipeline().globalParameters.gbl_param_container_integrate,'/',pipeline().globalParameters.gbl_param_environment,'/verified')"
                        }
                      },
                      "Arg2": {
                        "value": "*.LhoFctsNormPOA"
                      },
                      "Arg3": {
                        "value": {
                          "type": "Expression",
                          "value": "@concat('LhoFctsFcltyClmDRGNorm_', pipeline().parameters.RunID)"
                        }
                      },
                      "Arg4": {
                        "value": "-r"
                      },
                      "Arg5": {
                        "value": "'-k1,1'"
                      },
                      "Arg6": {
                        "value": "'-k1,1'"
                      }
                    }
                  },
                  "linkedServiceName": {
                    "referenceName": "shareddatabricks",
                    "type": "LinkedServiceReference"
                  }
                },
                {
                  "name": "TouchNormativePOA_trg",
                  "type": "DatabricksNotebook",
                  "dependsOn": [
                    {
                      "activity": "ConcatNormativePOA",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "timeout": "12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "notebookPath": {
                      "value": "@concat(pipeline().globalParameters.gbl_param_scripts,'touch')",
                      "type": "Expression"
                    },
                    "baseParameters": {
                      "Arg1": {
                        "value": {
                          "type": "Expression",
                          "value": "@concat(pipeline().globalParameters.gbl_param_container_integrate,'/',pipeline().globalParameters.gbl_param_environment,'/verified')"
                        }
                      },
                      "Arg2": {
                        "value": {
                          "type": "Expression",
                          "value": "@concat('LhoFctsFcltyClmDRGNorm_', pipeline().parameters.RunID, '.trg')"
                        }
                      }
                    }
                  },
                  "linkedServiceName": {
                    "referenceName": "shareddatabricks",
                    "type": "LinkedServiceReference"
                  }
                },
                {
                  "name": "FTPNormativePOA_dat",
                  "type": "DatabricksNotebook",
                  "dependsOn": [
                    {
                      "activity": "TouchNormativePOA_trg",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "timeout": "12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "notebookPath": {
                      "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/FTP')",
                      "type": "Expression"
                    },
                    "baseParameters": {
                      "FTPCMD": "put",
                      "LOCALPATH": {
                        "value": "@concat(pipeline().globalParameters.gbl_param_FilePath,'/verified')",
                        "type": "Expression"
                      },
                      "LOCALFILENAME": {
                        "value": "@concat('LhoFctsFcltyClmDRGNorm_', pipeline().parameters.RunID, '.uniq')",
                        "type": "Expression"
                      },
                      "REMOTEPATH": {
                        "value": "@concat(\"'\", pipeline().globalParameters.gbl_param_IngenixDRGFilePath, \"'\")",
                        "type": "Expression"
                      },
                      "REMOTEFILENAME": {
                        "value": "@concat('LhoFctsFcltyClmDRGNorm_', pipeline().parameters.RunID, '.dat')",
                        "type": "Expression"
                      },
                      "IDSOwner": {
                        "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                        "type": "Expression"
                      },
                      "ids_secret_name": {
                        "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                        "type": "Expression"
                      },
                      "GlobalEnvironment": {
                        "value": "@pipeline().globalParameters.gbl_param_environment",
                        "type": "Expression"
                      }
                    }
                  },
                  "linkedServiceName": {
                    "referenceName": "shareddatabricks",
                    "type": "LinkedServiceReference"
                  }
                },
                {
                  "name": "FTPNormativePOA_trg",
                  "type": "DatabricksNotebook",
                  "dependsOn": [
                    {
                      "activity": "FTPNormativePOA_dat",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "timeout": "12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "notebookPath": {
                      "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/FTP')",
                      "type": "Expression"
                    },
                    "baseParameters": {
                      "FTPCMD": "put",
                      "LOCALPATH": {
                        "value": "@concat(pipeline().globalParameters.gbl_param_FilePath,'/verified')",
                        "type": "Expression"
                      },
                      "LOCALFILENAME": {
                        "value": "@concat('LhoFctsFcltyClmDRGNorm_', pipeline().parameters.RunID, '.trg')",
                        "type": "Expression"
                      },
                      "REMOTEPATH": {
                        "value": "@concat(\"'\", pipeline().globalParameters.gbl_param_IngenixDRGFilePath, \"'\")",
                        "type": "Expression"
                      },
                      "REMOTEFILENAME": {
                        "value": "@concat('LhoFctsFcltyClmDRGNorm_', pipeline().parameters.RunID, '.trg')",
                        "type": "Expression"
                      },
                      "IDSOwner": {
                        "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                        "type": "Expression"
                      },
                      "ids_secret_name": {
                        "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                        "type": "Expression"
                      },
                      "GlobalEnvironment": {
                        "value": "@pipeline().globalParameters.gbl_param_environment",
                        "type": "Expression"
                      }
                    }
                  },
                  "linkedServiceName": {
                    "referenceName": "shareddatabricks",
                    "type": "LinkedServiceReference"
                  }
                }
              ]
            }
          ],
          "defaultActivities": [
            {
              "name": "SetVariable_If_2x_branch_False",
              "type": "SetVariable",
              "dependsOn": [],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "var_If_2x_branch",
                "value": {
                  "type": "Expression",
                  "value": "0"
                }
              }
            }
          ]
        }
      },
      {
        "name": "Switch_If_2x_Continuation",
        "type": "Switch",
        "dependsOn": [
          {
            "activity": "Switch_If_2x",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "on": {
            "type": "Expression",
            "value": "@if(equals(variables('var_If_2x_branch'),'1'),'1','0')"
          },
          "cases": [
            {
              "value": "1",
              "activities": [
                {
                  "name": "SetVariable_If_2x_Continuation_branch_True",
                  "type": "SetVariable",
                  "dependsOn": [],
                  "policy": {
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "variableName": "var_If_2x_Continuation_branch",
                    "value": {
                      "type": "Expression",
                      "value": "1"
                    }
                  }
                },
                {
                  "name": "ForEach_StartNormativeDRG",
                  "type": "ForEach",
                  "dependsOn": [
                    {
                      "activity": "SetVariable_If_2x_Continuation_branch_True",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "typeProperties": {
                    "items": {
                      "value": [],
                      "type": "Expression"
                    },
                    "activities": [
                      {
                        "name": "Test_NormPOA_IngenixFile",
                        "type": "GetMetadata",
                        "dependsOn": [],
                        "policy": {
                          "timeout": "12:00:00",
                          "retry": 0,
                          "retryIntervalInSeconds": 30,
                          "secureOutput": false,
                          "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                          "dataset": {
                            "referenceName": "ds_file_no_header",
                            "type": "DatasetReference"
                          }
                        },
                        "linkedServiceName": {
                          "referenceName": "shareddatabricks",
                          "type": "LinkedServiceReference"
                        }
                      }
                    ]
                  }
                }
              ]
            }
          ],
          "defaultActivities": [
            {
              "name": "SetVariable_If_2x_Continuation_branch_False",
              "type": "SetVariable",
              "dependsOn": [],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "var_If_2x_Continuation_branch",
                "value": {
                  "type": "Expression",
                  "value": "0"
                }
              }
            }
          ]
        }
      },
      {
        "name": "FTPGenrtdPOAtoWindows",
        "type": "DatabricksNotebook",
        "dependsOn": [],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/FTP')",
            "type": "Expression"
          },
          "baseParameters": {
            "FTPCMD": "put",
            "LOCALPATH": {
              "value": "@concat(pipeline().globalParameters.gbl_param_FilePath,'/verified')",
              "type": "Expression"
            },
            "LOCALFILENAME": {
              "value": "@concat('LhoFctsFcltyClmDRGGen_', pipeline().parameters.RunID, '.uniq')",
              "type": "Expression"
            },
            "REMOTEPATH": {
              "value": "@concat(\"'\", pipeline().globalParameters.gbl_param_IngenixDRGFilePath, \"'\")",
              "type": "Expression"
            },
            "REMOTEFILENAME": {
              "value": "@concat('LhoFctsFcltyClmDRGGen_', pipeline().parameters.RunID, '.dat')",
              "type": "Expression"
            },
            "IDSOwner": {
              "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
              "type": "Expression"
            },
            "ids_secret_name": {
              "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
              "type": "Expression"
            },
            "GlobalEnvironment": {
              "value": "@pipeline().globalParameters.gbl_param_environment",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "FTPGenertdPOATrigToWindows",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "FTPGenrtdPOAtoWindows",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/FTP')",
            "type": "Expression"
          },
          "baseParameters": {
            "FTPCMD": "put",
            "LOCALPATH": {
              "value": "@concat(pipeline().globalParameters.gbl_param_FilePath,'/verified')",
              "type": "Expression"
            },
            "LOCALFILENAME": {
              "value": "@concat('LhoFctsFcltyClmDRGGen_', pipeline().parameters.RunID, '.trg')",
              "type": "Expression"
            },
            "REMOTEPATH": {
              "value": "@concat(\"'\", pipeline().globalParameters.gbl_param_IngenixDRGFilePath, \"'\")",
              "type": "Expression"
            },
            "REMOTEFILENAME": {
              "value": "@concat('LhoFctsFcltyClmDRGGen_', pipeline().parameters.RunID, '.trg')",
              "type": "Expression"
            },
            "IDSOwner": {
              "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
              "type": "Expression"
            },
            "ids_secret_name": {
              "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
              "type": "Expression"
            },
            "GlobalEnvironment": {
              "value": "@pipeline().globalParameters.gbl_param_environment",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "FTPGetNormPOADRG_ready",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "FTPGenertdPOATrigToWindows",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/FTP')",
            "type": "Expression"
          },
          "baseParameters": {
            "FTPCMD": "get",
            "LOCALPATH": {
              "value": "@concat(\"'\", pipeline().globalParameters.gbl_param_IngenixDRGFilePath, \"'\")",
              "type": "Expression"
            },
            "LOCALFILENAME": {
              "value": "@concat('/Out/LhoFctsFcltyClmDRGNorm_', pipeline().parameters.RunID, '.ready')",
              "type": "Expression"
            },
            "REMOTEPATH": {
              "value": "@concat(pipeline().globalParameters.gbl_param_FilePath,'/verified')",
              "type": "Expression"
            },
            "REMOTEFILENAME": {
              "value": "@concat('LhoFctsFcltyClmDRGNorm_', pipeline().parameters.RunID, '.ready')",
              "type": "Expression"
            },
            "IDSOwner": {
              "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
              "type": "Expression"
            },
            "ids_secret_name": {
              "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
              "type": "Expression"
            },
            "GlobalEnvironment": {
              "value": "@pipeline().globalParameters.gbl_param_environment",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "FTPGetNormPOADRG",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "FTPGetNormPOADRG_ready",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/FTP')",
            "type": "Expression"
          },
          "baseParameters": {
            "FTPCMD": "get",
            "LOCALPATH": {
              "value": "@concat(\"'\", pipeline().globalParameters.gbl_param_IngenixDRGFilePath, \"'\")",
              "type": "Expression"
            },
            "LOCALFILENAME": {
              "value": "@concat('/Out/LhoFctsFcltyClmDRGNorm_', pipeline().parameters.RunID, '.dat')",
              "type": "Expression"
            },
            "REMOTEPATH": {
              "value": "@concat(pipeline().globalParameters.gbl_param_FilePath,'/verified')",
              "type": "Expression"
            },
            "REMOTEFILENAME": {
              "value": "@concat('LhoFctsFcltyClmDRGNorm_', pipeline().parameters.RunID, '_results.dat')",
              "type": "Expression"
            },
            "IDSOwner": {
              "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
              "type": "Expression"
            },
            "ids_secret_name": {
              "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
              "type": "Expression"
            },
            "GlobalEnvironment": {
              "value": "@pipeline().globalParameters.gbl_param_environment",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "FTPGetGenPOADRG_ready",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "FTPGetNormPOADRG",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/FTP')",
            "type": "Expression"
          },
          "baseParameters": {
            "FTPCMD": "get",
            "LOCALPATH": {
              "value": "@concat(\"'\", pipeline().globalParameters.gbl_param_IngenixDRGFilePath, \"'\")",
              "type": "Expression"
            },
            "LOCALFILENAME": {
              "value": "@concat('/Out/LhoFctsFcltyClmDRGGen_', pipeline().parameters.RunID, '.ready')",
              "type": "Expression"
            },
            "REMOTEPATH": {
              "value": "@concat(pipeline().globalParameters.gbl_param_FilePath,'/verified')",
              "type": "Expression"
            },
            "REMOTEFILENAME": {
              "value": "@concat('LhoFctsFcltyClmDRGGen_', pipeline().parameters.RunID, '.ready')",
              "type": "Expression"
            },
            "IDSOwner": {
              "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
              "type": "Expression"
            },
            "ids_secret_name": {
              "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
              "type": "Expression"
            },
            "GlobalEnvironment": {
              "value": "@pipeline().globalParameters.gbl_param_environment",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "FTPGetGenPOADRG",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "FTPGetGenPOADRG_ready",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/FTP')",
            "type": "Expression"
          },
          "baseParameters": {
            "FTPCMD": "get",
            "LOCALPATH": {
              "value": "@concat(\"'\", pipeline().globalParameters.gbl_param_IngenixDRGFilePath, \"'\")",
              "type": "Expression"
            },
            "LOCALFILENAME": {
              "value": "@concat('/Out/LhoFctsFcltyClmDRGGen_', pipeline().parameters.RunID, '.dat')",
              "type": "Expression"
            },
            "REMOTEPATH": {
              "value": "@concat(pipeline().globalParameters.gbl_param_FilePath,'/verified')",
              "type": "Expression"
            },
            "REMOTEFILENAME": {
              "value": "@concat('LhoFctsFcltyClmDRGGen_', pipeline().parameters.RunID, '_results.dat')",
              "type": "Expression"
            },
            "IDSOwner": {
              "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
              "type": "Expression"
            },
            "ids_secret_name": {
              "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
              "type": "Expression"
            },
            "GlobalEnvironment": {
              "value": "@pipeline().globalParameters.gbl_param_environment",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "Execute_LhoFctsClmExtr1Seq5",
        "type": "ExecutePipeline",
        "dependsOn": [
          {
            "activity": "FTPGetGenPOADRG",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureInput": false
        },
        "typeProperties": {
          "waitOnCompletion": true,
          "pipeline": {
            "referenceName": "LhoFctsClmExtr1Seq5",
            "type": "PipelineReference"
          },
          "parameters": {
            "RunCycle": {
              "value": "@pipeline().parameters.RunCycle",
              "type": "Expression"
            },
            "RunID": {
              "value": "@pipeline().parameters.RunID",
              "type": "Expression"
            },
            "ExclusionList": {
              "value": "@pipeline().parameters.ExclusionList",
              "type": "Expression"
            },
            "CurrDate": {
              "value": "@pipeline().parameters.CurrDate",
              "type": "Expression"
            },
            "CurrDateTime": {
              "value": "@pipeline().parameters.CurrDateTime",
              "type": "Expression"
            },
            "BeginDate": {
              "value": "@pipeline().parameters.BeginDate",
              "type": "Expression"
            },
            "EndDate": {
              "value": "@pipeline().parameters.EndDate",
              "type": "Expression"
            },
            "DriverTable": {
              "value": "@pipeline().parameters.DriverTable",
              "type": "Expression"
            },
            "AdjFromTable": {
              "value": "@pipeline().parameters.AdjFromTable",
              "type": "Expression"
            },
            "TableID": {
              "value": "@pipeline().parameters.TableID",
              "type": "Expression"
            },
            "SrcSysCd": {
              "value": "@pipeline().parameters.SrcSysCd",
              "type": "Expression"
            },
            "SourceSK": {
              "value": "@pipeline().parameters.SourceSK",
              "type": "Expression"
            },
            "IDSOwner": {
              "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
              "type": "Expression"
            },
            "ids_secret_name": {
              "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
              "type": "Expression"
            },
            "BCBSOwner": {
              "value": "@pipeline().globalParameters.gbl_param_BCBSOwner",
              "type": "Expression"
            },
            "bcbs_secret_name": {
              "value": "@pipeline().globalParameters.gbl_param_BCBSSecret",
              "type": "Expression"
            },
            "UWSOwner": {
              "value": "@pipeline().globalParameters.gbl_param_UWSOwner",
              "type": "Expression"
            },
            "uws_secret_name": {
              "value": "@pipeline().globalParameters.gbl_param_UWSSecret",
              "type": "Expression"
            },
            "IngenixDRGFilePath": {
              "value": "@pipeline().globalParameters.gbl_param_IngenixDRGFilePath",
              "type": "Expression"
            },
            "LastRunDateTime": {
              "value": "@pipeline().parameters.LastRunDateTime",
              "type": "Expression"
            },
            "LhoFacetsStgAcct": {
              "value": "@pipeline().globalParameters.gbl_param_LhoFacetsStgAcct",
              "type": "Expression"
            },
            "LhoFacetsStgOwner": {
              "value": "@pipeline().globalParameters.gbl_param_LhoFacetsStgOwner",
              "type": "Expression"
            },
            "lhofacetsstg_secret_name": {
              "value": "@pipeline().globalParameters.gbl_param_LhoFacetsStgSecret",
              "type": "Expression"
            },
            "LhoFacetsStgPW": {
              "value": "@pipeline().globalParameters.gbl_param_LhoFacetsStgPW",
              "type": "Expression"
            },
            "LhoFacetsStgDSN": {
              "value": "@pipeline().globalParameters.gbl_param_LhoFacetsStgDSN",
              "type": "Expression"
            },
            "FctsClmFcltyExtr_Count_Grouper_Generated_poa_FileCnt": {
              "value": "@variables('var_Grouper_Generated_poa_FileCnt')",
              "type": "Expression"
            }
          }
        }
      }
    ]
  }
}