npw-projects-np-projects-bluekc-translated-66e9366f6cca/Sprint_3_4_5/SequenceJobs/Integrate/LhoFctsClmPrereqSeq.json
{
  "name": "LhoFctsClmPrereqSeq",
  "type": "Microsoft.DataFactory/factories/pipelines",
  "properties": {
    "folder": {
      "name": "Integrate/Jobs/claim/SeqLho"
    },
    "parameters": {
      "RunCycle": {
        "type": "String",
        "defaultValue": "100"
      },
      "RunID": {
        "type": "String",
        "defaultValue": "20201008225740"
      },
      "ExclusionList": {
        "type": "String",
        "defaultValue": "ExclusionListExtr.LhoFctsClmCntl"
      },
      "BeginDate": {
        "type": "String",
        "defaultValue": "2020-09-25 22:57:37.000"
      },
      "EndDate": {
        "type": "String",
        "defaultValue": "2020-10-07 22:57:37.000"
      },
      "DriverTable": {
        "type": "String",
        "defaultValue": "TMP_IDS_CLAIM08225740"
      },
      "AdjFromTable": {
        "type": "String",
        "defaultValue": "TMP_ADJ_FROM08225740"
      },
      "GrouperTable": {
        "type": "String",
        "defaultValue": "TMP_GROUPER_VER08225740"
      },
      "RecycleDay": {
        "type": "String",
        "defaultValue": "MONDAY"
      },
      "RecycleFreq": {
        "type": "String",
        "defaultValue": "W"
      },
      "CntlJobName": {
        "type": "String",
        "defaultValue": "LhoFctsClmCntl"
      },
      "SrcSysCd": {
        "type": "String",
        "defaultValue": "LUMERIS"
      },
      "SrcSysCdSK": {
        "type": "String",
        "defaultValue": "-1951780915"
      },
      "TableID": {
        "type": "String",
        "defaultValue": "08225740"
      },
      "CurrentDate": {
        "type": "String",
        "defaultValue": "2020-10-08"
      }
    },
    "variables": {
      "HitListLinkCount": {
        "type": "String"
      },
      "var_If_1B_branch": {
        "type": "String"
      },
      "var_HitListCountChk_branch": {
        "type": "String"
      },
      "var_If_1C_branch": {
        "type": "String"
      },
      "var_If_1C_Continuation_branch": {
        "type": "String"
      },
      "LinkCount": {
        "type": "String",
        "defaultValue": ""
      }
    },
    "activities": [
      {
        "name": "If_1A",
        "type": "IfCondition",
        "dependsOn": [],
        "userProperties": [],
        "typeProperties": {
          "expression": {
            "value": "@equals(contains(split(string(pipeline().parameters.ExclusionList), ';'), 'tmp_claim'), false)",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "name": "CRT_tmp_claim1",
              "type": "ExecutePipeline",
              "dependsOn": [],
              "policy": {
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "pipeline": {
                  "referenceName": "SQLQueryCmd",
                  "type": "PipelineReference"
                },
                "waitOnCompletion": true,
                "parameters": {
                  "FacetsOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_FacetsOwner",
                    "type": "Expression"
                  },
                  "facets_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_FacetsSecret",
                    "type": "Expression"
                  },
                  "Command1": "DROP TABLE IF EXISTS tempdb..TMP_IDS_CLAIM",
                  "Command2": "CREATE TABLE tempdb..TMP_IDS_CLAIM(CLM_ID CHAR(12), CLM_STS CHAR(2), CLCL_PAID_DT DATETIME, CLCL_ID_ADJ_TO CHAR(12), CLCL_ID_ADJ_FROM  CHAR(12), CLCL_LAST_ACT_DTM DATETIME, CONSTRAINT LHOIDSCLM01 PRIMARY KEY NONCLUSTERED (CLM_ID))"
                }
              }
            },
            {
              "name": "CRT_tmp_claim2",
              "type": "ExecutePipeline",
              "dependsOn": [
                {
                  "activity": "CRT_tmp_claim1",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "pipeline": {
                  "referenceName": "SQLQueryCmd",
                  "type": "PipelineReference"
                },
                "waitOnCompletion": true,
                "parameters": {
                  "FacetsOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_FacetsOwner",
                    "type": "Expression"
                  },
                  "facets_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_FacetsSecret",
                    "type": "Expression"
                  },
                  "Command1": "DROP TABLE IF EXISTS tempdb..TMP_ADJ_FROM",
                  "Command2": "CREATE TABLE tempdb..TMP_ADJ_FROM(CLM_ID CHAR(12), CONSTRAINT LHOADJCLM01 PRIMARY KEY NONCLUSTERED (CLM_ID))"
                }
              }
            },
            {
              "name": "CRT_tmp_claim3",
              "type": "ExecutePipeline",
              "dependsOn": [
                {
                  "activity": "CRT_tmp_claim2",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "pipeline": {
                  "referenceName": "SQLQueryCmd",
                  "type": "PipelineReference"
                },
                "waitOnCompletion": true,
                "parameters": {
                  "FacetsOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_FacetsOwner",
                    "type": "Expression"
                  },
                  "facets_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_FacetsSecret",
                    "type": "Expression"
                  },
                  "Command1": "DROP TABLE IF EXISTS tempdb..TMP_DRG_CLAIMS",
                  "Command2": "CREATE TABLE tempdb..TMP_DRG_CLAIMS(HE_CLCL_ID CHAR(12), AGE DECIMAL (3), SEX DECIMAL (1), DISP CHAR (2), SERVICE_DT  DATETIME, DISCHARGE_DT DATETIME, BIRTH_DT DATETIME, CONSTRAINT LHOHEDRGC01   PRIMARY KEY NONCLUSTERED (HE_CLCL_ID))"
                }
              }
            },
            {
              "name": "CRT_tmp_claim4",
              "type": "ExecutePipeline",
              "dependsOn": [
                {
                  "activity": "CRT_tmp_claim3",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "pipeline": {
                  "referenceName": "SQLQueryCmd",
                  "type": "PipelineReference"
                },
                "waitOnCompletion": true,
                "parameters": {
                  "FacetsOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_FacetsOwner",
                    "type": "Expression"
                  },
                  "facets_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_FacetsSecret",
                    "type": "Expression"
                  },
                  "Command1": "DROP TABLE IF EXISTS tempdb..TMP_GROUPER_VER",
                  "Command2": "CREATE TABLE tempdb..TMP_GROUPER_VER(VER_START_DT DATETIME, VER_END_DT DATETIME, GRP_VER CHAR (2), GRP_TYP CHAR (2), CD_CLS CHAR (2), CONSTRAINT LHOHEGRPV01 PRIMARY KEY NONCLUSTERED (VER_START_DT, VER_END_DT, GRP_VER))"
                }
              }
            },
            {
              "name": "MvClmUsrHitList",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "CRT_tmp_claim4",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": "@concat(pipeline().globalParameters.gbl_param_scripts,'/Generic_ADLS_File_Operations')",
                "baseParameters": {
                  "src_file_with_path": {
                    "value": "/update/LhoFctsClmUserHitList.dat",
                    "type": "Expression"
                  },
                  "trgt_file_with_path": {
                    "value": "/landing/LhoFctsClmUserHitList.dat",
                    "type": "Expression"
                  },
                  "command": "move",
                  "project": "integrate"
                }
              }
            },
            {
              "name": "CrtUserHitlIist",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "CRT_tmp_claim4",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": "@concat(pipeline().globalParameters.gbl_param_scripts,'/Generic_ADLS_File_Operations')",
                "baseParameters": {
                  "src_file_with_path": {
                    "value": "/landing/LhoFctsClmUserHitList.dat",
                    "type": "Expression"
                  },
                  "command": "touch",
                  "project": "integrate"
                }
              }
            },
            {
              "name": "MvClmUsrHitList1",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "CRT_tmp_claim4",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": "@concat(pipeline().globalParameters.gbl_param_scripts,'/Generic_ADLS_File_Operations')",
                "baseParameters": {
                  "src_file_with_path": {
                    "value": "/update/LhoFctsClmUserHitList.dat",
                    "type": "Expression"
                  },
                  "trgt_file_with_path": {
                    "value": "/landing/LhoFctsClmUserHitList.dat",
                    "type": "Expression"
                  },
                  "command": "move",
                  "project": "integrate"
                }
              }
            },
            {
              "name": "ConcatHitlist",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "CrtUserHitlIist",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                },
                {
                  "activity": "MvClmUsrHitList",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                },
                {
                  "activity": "MvClmUsrHitList1",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": "@concat(pipeline().globalParameters.gbl_param_scripts,'/Generic_ADLS_File_Operations')",
                "baseParameters": {
                  "src_file_with_path": {
                    "value": "/landing/LhoFctsClmUserHitList.dat",
                    "type": "Expression"
                  },
                  "trgt_file_with_path": {
                    "value": "/landing/LhoFctsClmHitList.dat",
                    "type": "Expression"
                  },
                  "command": "cat",
                  "project": "integrate"
                }
              }
            }
          ],
          "ifFalseActivities": []
        }
      },
      {
        "name": "Switch_If_1B",
        "type": "Switch",
        "dependsOn": [
          {
            "activity": "ConcatHitlist",
            "dependencyConditions": [
              "Succeeded"
            ],
            "allowInactiveDependencies": false
          },
          {
            "activity": "If_1A",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "on": {
            "type": "Expression",
            "value": "@if(equals(contains(split(string(pipeline().parameters.ExclusionList), ';'), 'LhoFctsClmDriverHitList'), false),'1','0')"
          },
          "cases": [
            {
              "value": "1",
              "activities": [
                {
                  "name": "var_If_1B_branch_true",
                  "type": "SetVariable",
                  "policy": {
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "variableName": "var_If_1B_branch",
                    "value": {
                      "value": "1",
                      "type": "Expression"
                    }
                  }
                },
                {
                  "name": "LhoFctsClmDriverHitList",
                  "type": "DatabricksNotebook",
                  "dependsOn": [
                    {
                      "activity": "var_If_1B_branch_true",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "timeout": "12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "linkedServiceName": {
                    "referenceName": "shareddatabricks",
                    "type": "LinkedServiceReference"
                  },
                  "typeProperties": {
                    "notebookPath": {
                      "value": "@concat(pipeline().globalParameters.gbl_param_notebook_path,'/claim/driver/LhoFctsClmDriverHitList')",
                      "type": "Expression"
                    },
                    "baseParameters": {
                      "DriverTable": {
                        "value": "@pipeline().parameters.DriverTable",
                        "type": "Expression"
                      },
                      "MonthsInMart": "24",
                      "LhoFacetsStgServer": {
                        "value": "@pipeline().globalParameters.gbl_param_LhoFacetsStgServer",
                        "type": "Expression"
                      },
                      "LhoFacetsStgOwner": {
                        "value": "@pipeline().globalParameters.gbl_param_LhoFacetsStgOwner",
                        "type": "Expression"
                      },
                      "lhofacetsstg_secret_name": {
                        "value": "@pipeline().globalParameters.gbl_param_LhoFacetsStgSecret",
                        "type": "Expression"
                      },
                      "LhoFacetsStgDB": {
                        "value": "@pipeline().globalParameters.gbl_param_LhoFacetsStgDB",
                        "type": "Expression"
                      },
                      "LhoFacetsStgAcct": {
                        "value": "@pipeline().globalParameters.gbl_param_LhoFacetsStgAcct",
                        "type": "Expression"
                      },
                      "LhoFacetsStgPW": {
                        "value": "@pipeline().globalParameters.gbl_param_LhoFacetsStgPW",
                        "type": "Expression"
                      },
                      "SrcSysCdSk": {
                        "value": "@pipeline().parameters.SrcSysCdSk",
                        "type": "Expression"
                      }
                    }
                  }
                },
                {
                  "name": "LhoFctsClmDriverHitList",
                  "type": "ExecutePipeline",
                  "dependsOn": [
                    {
                      "activity": "var_If_1B_branch_true",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "pipeline": {
                      "referenceName": "LhoFctsClmDriverHitList",
                      "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                      "DriverTable": "value",
                      "MonthsInMart": "24",
                      "LhoFacetsStgServer": {
                        "value": "@pipeline().globalParameters.gbl_param_LhoFacetsStgServer",
                        "type": "Expression"
                      },
                      "LhoFacetsStgOwner": {
                        "value": "@pipeline().globalParameters.gbl_param_LhoFacetsStgOwner",
                        "type": "Expression"
                      },
                      "LhoFacetsStgDB": {
                        "value": "@pipeline().globalParameters.gbl_param_LhoFacetsStgDB",
                        "type": "Expression"
                      },
                      "LhoFacetsStgAcct": {
                        "value": "@pipeline().globalParameters.gbl_param_LhoFacetsStgAcct",
                        "type": "Expression"
                      },
                      "LhoFacetsStgPW": {
                        "value": "@pipeline().globalParameters.gbl_param_LhoFacetsStgPW",
                        "type": "Expression"
                      },
                      "SrcSysCdSk": "SrcSysCdSK"
                    }
                  }
                },
                {
                  "name": "HitListLinkCount_JobLinkCount",
                  "type": "DatabricksNotebook",
                  "dependsOn": [
                    {
                      "activity": "LhoFctsClmDriverHitList",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "timeout": "12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "linkedServiceName": {
                    "referenceName": "shareddatabricks",
                    "type": "LinkedServiceReference"
                  },
                  "typeProperties": {
                    "notebookPath": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/JobLinkCount')",
                    "baseParameters": {
                      "JobLinkCount_a1": "LhoFctsClmDriverHitList",
                      "JobLinkCount_a2": "TrnsSK",
                      "JobLinkCount_a3": "NoClaimHit",
                      "file_path": {
                        "value": "",
                        "type": "Expression"
                      },
                      "EnvProjectPath": {
                        "value": "",
                        "type": "Expression"
                      },
                      "delimiter": {
                        "value": "",
                        "type": "Expression"
                      },
                      "quote": {
                        "value": "",
                        "type": "Expression"
                      },
                      "header": {
                        "value": "",
                        "type": "Expression"
                      },
                      "nullValue": {
                        "value": "",
                        "type": "Expression"
                      },
                      "table_nm": {
                        "value": "",
                        "type": "Expression"
                      },
                      "schema": {
                        "value": "",
                        "type": "Expression"
                      },
                      "secret_name": {
                        "value": "",
                        "type": "Expression"
                      }
                    }
                  }
                },
                {
                  "name": "HitListLinkCount_SetVar",
                  "type": "SetVariable",
                  "dependsOn": [
                    {
                      "activity": "HitListLinkCount_JobLinkCount",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "variableName": "HitListLinkCount",
                    "value": {
                      "value": "@string(activity('HitListLinkCount_JobLinkCount').output.runOutput)",
                      "type": "Expression"
                    }
                  }
                }
              ]
            }
          ],
          "defaultActivities": [
            {
              "name": "var_If_1B_branch_false",
              "type": "SetVariable",
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "var_If_1B_branch",
                "value": {
                  "value": "0",
                  "type": "Expression"
                }
              }
            }
          ]
        }
      },
      {
        "name": "Switch_HitListCountChk",
        "type": "Switch",
        "dependsOn": [
          {
            "activity": "Switch_If_1B",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "on": {
            "type": "Expression",
            "value": "@if(and(equals(variables('var_If_1B_branch'),'1'),greater(int(variables('HitListLinkCount')),0)),'1','0')"
          },
          "cases": [
            {
              "value": "1",
              "activities": [
                {
                  "name": "var_HitListCountChk_branch_true",
                  "type": "SetVariable",
                  "policy": {
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "variableName": "var_HitListCountChk_branch",
                    "value": {
                      "value": "1",
                      "type": "Expression"
                    }
                  }
                },
                {
                  "name": "Email_HitList_Cnt",
                  "type": "ExecutePipeline",
                  "dependsOn": [
                    {
                      "activity": "var_HitListCountChk_branch_true",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "pipeline": {
                      "referenceName": "Email_Notification",
                      "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                      "recipients": {
                        "value": "@pipeline().globalParameters.gbl_param_EmailSupport",
                        "type": "Expression"
                      },
                      "subject": "LHO Facets Hit List ClaimID's exist that are not found in LHO Facets stage database",
                      "body": "There are CLM_ID values in the LhoFctsClmHitList.dat that are not in CMC_CLCL_CLAIM table in LHO Facets stage database.  Please check the attachment.",
                      "blobFilenames": "@concat(pipeline().globalParameters.gbl_param_environment,'/landing/LhoFctsClaimHitListNullLkp.dat')",
                      "fromemail": {
                        "value": "@pipeline().globalParameters.gbl_param_fromemail",
                        "type": "Expression"
                      },
                      "containerName": {
                        "value": "@pipeline().globalParameters.gbl_param_container_raw",
                        "type": "Expression"
                      }
                    }
                  }
                }
              ]
            }
          ],
          "defaultActivities": [
            {
              "name": "var_HitListCountChk_branch_false",
              "type": "SetVariable",
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "var_HitListCountChk_branch",
                "value": {
                  "value": "0",
                  "type": "Expression"
                }
              }
            }
          ]
        }
      },
      {
        "name": "Switch_If_1C",
        "type": "Switch",
        "dependsOn": [
          {
            "activity": "Switch_HitListCountChk",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "on": {
            "type": "Expression",
            "value": "@if(and(equals(variables('var_If_1B_branch'),'1'),equals(variables('var_HitListCountChk_branch'),'0'),equals(contains(split(string(pipeline().parameters.ExclusionList), ';'), 'MvClmHitList'), false)),'1','0')"
          },
          "cases": [
            {
              "value": "1",
              "activities": [
                {
                  "name": "var_If_1C_branch_true",
                  "type": "SetVariable",
                  "policy": {
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "variableName": "var_If_1C_branch",
                    "value": {
                      "value": "1",
                      "type": "Expression"
                    }
                  }
                },
                {
                  "name": "MvClmHitList",
                  "type": "DatabricksNotebook",
                  "dependsOn": [
                    {
                      "activity": "var_If_1C_branch_true",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "timeout": "12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "linkedServiceName": {
                    "referenceName": "shareddatabricks",
                    "type": "LinkedServiceReference"
                  },
                  "typeProperties": {
                    "notebookPath": "@concat(pipeline().globalParameters.gbl_param_scripts,'/Generic_ADLS_File_Operations')",
                    "baseParameters": {
                      "src_file_with_path": {
                        "value": "/landing/LhoFctsClmHitList.dat",
                        "type": "Expression"
                      },
                      "trgt_file_with_path": {
                        "value": "/landing/processed/LhoFctsClmHitList.dat:",
                        "type": "Expression"
                      },
                      "command": "move",
                      "project": "integrate"
                    }
                  }
                },
                {
                  "name": "MvClmHitListNullLkp",
                  "type": "DatabricksNotebook",
                  "dependsOn": [
                    {
                      "activity": "MvClmHitList",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "timeout": "12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "linkedServiceName": {
                    "referenceName": "shareddatabricks",
                    "type": "LinkedServiceReference"
                  },
                  "typeProperties": {
                    "notebookPath": "@concat(pipeline().globalParameters.gbl_param_scripts,'/Generic_ADLS_File_Operations')",
                    "baseParameters": {
                      "src_file_with_path": {
                        "value": "/landing/LhoFctsClaimHitListNullLkp.dat",
                        "type": "Expression"
                      },
                      "trgt_file_with_path": {
                        "value": "/landing/processed/LhoFctsClaimHitListNullLkp.dat:",
                        "type": "Expression"
                      },
                      "command": "move",
                      "project": "integrate"
                    }
                  }
                },
                {
                  "name": "MvUsrHitList",
                  "type": "DatabricksNotebook",
                  "dependsOn": [
                    {
                      "activity": "MvClmHitListNullLkp",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "timeout": "12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "linkedServiceName": {
                    "referenceName": "shareddatabricks",
                    "type": "LinkedServiceReference"
                  },
                  "typeProperties": {
                    "notebookPath": "@concat(pipeline().globalParameters.gbl_param_scripts,'/Generic_ADLS_File_Operations')",
                    "baseParameters": {
                      "src_file_with_path": {
                        "value": "/landing/LhoFctsClmUserHitList.dat",
                        "type": "Expression"
                      },
                      "trgt_file_with_path": {
                        "value": "/landing/processed/LhoFctsClmUserHitList.dat:",
                        "type": "Expression"
                      },
                      "command": "move",
                      "project": "integrate"
                    }
                  }
                }
              ]
            }
          ],
          "defaultActivities": [
            {
              "name": "var_If_1C_branch_false",
              "type": "SetVariable",
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "var_If_1C_branch",
                "value": {
                  "value": "0",
                  "type": "Expression"
                }
              }
            }
          ]
        }
      },
      {
        "name": "Switch_If_1C_Continuation",
        "type": "Switch",
        "dependsOn": [
          {
            "activity": "Switch_If_1C",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "on": {
            "type": "Expression",
            "value": "@if(and(equals(variables('var_If_1B_branch'),'1'),equals(variables('var_HitListCountChk_branch'),'0'),equals(variables('var_If_1C_branch'),'1')),'1','0')"
          },
          "cases": [
            {
              "value": "1",
              "activities": [
                {
                  "name": "var_If_1C_Continuation_branch_true",
                  "type": "SetVariable",
                  "policy": {
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "variableName": "var_If_1C_Continuation_branch",
                    "value": {
                      "value": "1",
                      "type": "Expression"
                    }
                  }
                },
                {
                  "name": "LhoFctsClmPrereqSeq1",
                  "type": "ExecutePipeline",
                  "dependsOn": [
                    {
                      "activity": "var_If_1C_Continuation_branch_true",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    },
                    {
                      "activity": "ManualFctsClmHitList1",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "pipeline": {
                      "referenceName": "LhoFctsClmPrereqSeq1",
                      "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                      "FacetsOwner": {
                        "value": "@pipeline().globalParameters.gbl_param_FacetsOwner",
                        "type": "Expression"
                      },
                      "facets_secret_name": {
                        "value": "@pipeline().globalParameters.gbl_param_FacetsSecret",
                        "type": "Expression"
                      },
                      "IDSOwner": {
                        "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                        "type": "Expression"
                      },
                      "ids_secret_name": {
                        "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                        "type": "Expression"
                      },
                      "BCBSOwner": {
                        "value": "@pipeline().globalParameters.gbl_param_BCBSOwner",
                        "type": "Expression"
                      },
                      "bcbs_secret_name": {
                        "value": "@pipeline().globalParameters.gbl_param_BCBSSecret",
                        "type": "Expression"
                      },
                      "EmailSupport": {
                        "value": "@pipeline().globalParameters.gbl_param_EmailSupport",
                        "type": "Expression"
                      },
                      "RunCycle": {
                        "value": "@pipeline().parameters.RunCycle",
                        "type": "Expression"
                      },
                      "RunID": {
                        "value": "@pipeline().parameters.RunID",
                        "type": "Expression"
                      },
                      "ExclusionList": {
                        "value": "@pipeline().parameters.ExclusionList",
                        "type": "Expression"
                      },
                      "BeginDate": {
                        "value": "@pipeline().parameters.BeginDate",
                        "type": "Expression"
                      },
                      "EndDate": {
                        "value": "@pipeline().parameters.EndDate",
                        "type": "Expression"
                      },
                      "DriverTable": {
                        "value": "@pipeline().parameters.DriverTable",
                        "type": "Expression"
                      },
                      "AdjFromTable": {
                        "value": "@pipeline().parameters.AdjFromTable",
                        "type": "Expression"
                      },
                      "GrouperTable": {
                        "value": "@pipeline().parameters.GrouperTable",
                        "type": "Expression"
                      },
                      "RecycleDay": {
                        "value": "@pipeline().parameters.RecycleDay",
                        "type": "Expression"
                      },
                      "RecycleFreq": {
                        "value": "@pipeline().parameters.RecycleFreq",
                        "type": "Expression"
                      },
                      "CntlJobName": {
                        "value": "@pipeline().parameters.CntlJobName",
                        "type": "Expression"
                      },
                      "SrcSysCd": {
                        "value": "@pipeline().parameters.SrcSysCd",
                        "type": "Expression"
                      },
                      "SrcSysCdSK": {
                        "value": "@pipeline().parameters.SrcSysCdSK",
                        "type": "Expression"
                      },
                      "TableID": {
                        "value": "@pipeline().parameters.TableID",
                        "type": "Expression"
                      },
                      "CurrentDate": {
                        "value": "@pipeline().parameters.CurrentDate",
                        "type": "Expression"
                      },
                      "LhoFacetsStgAcct": {
                        "value": "@pipeline().globalParameters.gbl_param_LhoFacetsStgAcct",
                        "type": "Expression"
                      },
                      "LhoFacetsStgDSN": {
                        "value": "@pipeline().globalParameters.gbl_param_LhoFacetsStgDSN",
                        "type": "Expression"
                      },
                      "LhoFacetsStgOwner": {
                        "value": "@pipeline().globalParameters.gbl_param_LhoFacetsStgOwner",
                        "type": "Expression"
                      },
                      "lhofacetsstg_secret_name": {
                        "value": "@pipeline().globalParameters.gbl_param_LhoFacetsStgSecret",
                        "type": "Expression"
                      },
                      "LhoFacetsStgPW": {
                        "value": "@pipeline().globalParameters.gbl_param_LhoFacetsStgPW",
                        "type": "Expression"
                      }
                    }
                  }
                }
              ]
            }
          ],
          "defaultActivities": [
            {
              "name": "var_If_1C_Continuation_branch_false",
              "type": "SetVariable",
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "var_If_1C_Continuation_branch",
                "value": {
                  "value": "0",
                  "type": "Expression"
                }
              }
            }
          ]
        }
      }
    ]
  }
}