npw-projects-np-projects-bluekc-translated-66e9366f6cca/Sprint_3_4_5/SequenceJobs/Integrate/LivongoEncClmCntl1.json
{
  "name": "LivongoEncClmCntl1",
  "type": "Microsoft.DataFactory/factories/pipelines",
  "properties": {
    "folder": {
      "name": "Integrate/Jobs/claim"
    },
    "parameters": {
      "$EmailSupport": {
        "type": "String",
        "defaultValue": ""
      },
      "$IDSOwner": {
        "type": "String",
        "defaultValue": ""
      },
      "EmailNotify": {
        "type": "String",
        "defaultValue": ""
      },
      "Environment": {
        "type": "String",
        "defaultValue": ""
      },
      "FILE_NAME_IN": {
        "type": "String",
        "defaultValue": ""
      },
      "FileNtRcvdEmailGrp": {
        "type": "String",
        "defaultValue": ""
      },
      "AckEmailGrp": {
        "type": "String",
        "defaultValue": ""
      },
      "Initial_JobName": {
        "type": "String",
        "defaultValue": ""
      },
      "Initial_Source": {
        "type": "String",
        "defaultValue": ""
      },
      "Initial_Target": {
        "type": "String",
        "defaultValue": ""
      },
      "Initial_Subject": {
        "type": "String",
        "defaultValue": ""
      },
      "Initial_Frequency": {
        "type": "String",
        "defaultValue": ""
      },
      "ListFiles_FileList": {
        "type": "String",
        "defaultValue": ""
      },
      "Variables_CurrentDate": {
        "type": "String",
        "defaultValue": ""
      },
      "Variables_ExclusionList": {
        "type": "String",
        "defaultValue": ""
      },
      "Variables_Env": {
        "type": "String",
        "defaultValue": ""
      }
    },
    "variables": {
      "RunCycle": {
        "defaultValue": "",
        "type": "String"
      },
      "FileEnvUpper": {
        "defaultValue": "",
        "type": "String"
      },
      "FileTimestamp": {
        "defaultValue": "",
        "type": "String"
      },
      "RunID": {
        "defaultValue": "",
        "type": "String"
      },
      "RunCycleDate": {
        "defaultValue": "",
        "type": "String"
      },
      "Logging": {
        "defaultValue": "",
        "type": "String"
      },
      "CurrRunCycle": {
        "defaultValue": "",
        "type": "String"
      },
      "SrcSysCdSK": {
        "defaultValue": "",
        "type": "String"
      },
      "SrcSysCd": {
        "defaultValue": "",
        "type": "String"
      },
      "SummFileName": {
        "defaultValue": "",
        "type": "String"
      },
      "ErrorFileName": {
        "defaultValue": "",
        "type": "String"
      },
      "FileName": {
        "defaultValue": "",
        "type": "String"
      },
      "RunDate": {
        "defaultValue": "",
        "type": "String"
      },
      "SuccessFileName": {
        "defaultValue": "",
        "type": "String"
      },
      "FileCnt": {
        "defaultValue": "",
        "type": "String"
      },
      "ErrorCnt": {
        "defaultValue": "",
        "type": "String"
      },
      "LoadCnt": {
        "defaultValue": "",
        "type": "String"
      },
      "FileRcvdDate": {
        "defaultValue": "",
        "type": "String"
      },
      "FileRcvdTm": {
        "defaultValue": "",
        "type": "String"
      },
      "FileRcvdDtm": {
        "defaultValue": "",
        "type": "String"
      },
      "LinkCount": {
        "type": "String",
        "defaultValue": ""
      }
    },
    "activities": [
      {
        "name": "ForEach_StartLoop",
        "type": "ForEach",
        "dependsOn": [],
        "policy": {
          "timeout": "7.00:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "typeProperties": {
          "items": {
            "value": "@split(pipeline().parameters.ListFiles_FileList, ',')",
            "type": "Expression"
          },
          "activities": [
            {
              "name": "Set_FileEnvUpper",
              "type": "SetVariable",
              "dependsOn": [],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "FileEnvUpper",
                "value": {
                  "value": "@if(equals(pipeline().parameters.Environment,'P'),'PROD','TEST')",
                  "type": "Expression"
                }
              }
            },
            {
              "name": "Set_FileTimestamp",
              "type": "SetVariable",
              "dependsOn": [
                {
                  "activity": "Set_FileEnvUpper",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "FileTimestamp",
                "value": {
                  "value": "@concat(substring(pipeline().parameters.Variables_CurrentDate,0,4), substring(pipeline().parameters.Variables_CurrentDate,5,2), substring(pipeline().parameters.Variables_CurrentDate,8,2), '_', replace(substring(pipeline().parameters.Variables_CurrentDate,11,8),':',''))",
                  "type": "Expression"
                }
              }
            },
            {
              "name": "OpenRunCycle_Notebook",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "Set_FileTimestamp",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/OpenRunCycle')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "DBOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "Source": {
                    "value": "@pipeline().parameters.Initial_Source",
                    "type": "Expression"
                  },
                  "Target": {
                    "value": "@pipeline().parameters.Initial_Target",
                    "type": "Expression"
                  },
                  "Subject": {
                    "value": "@pipeline().parameters.Initial_Subject",
                    "type": "Expression"
                  },
                  "Frequency": {
                    "value": "@pipeline().parameters.Initial_Frequency",
                    "type": "Expression"
                  },
                  "GlobalEnvironment": {
                    "value": "@pipeline().globalParameters.gbl_param_environment",
                    "type": "Expression"
                  },
                  "secret_name": {
                    "value": "",
                    "type": "Expression"
                  }
                }
              }
            },
            {
              "name": "Set_RunCycle",
              "type": "SetVariable",
              "dependsOn": [
                {
                  "activity": "OpenRunCycle_Notebook",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "RunCycle",
                "value": {
                  "value": "@string(activity('OpenRunCycle_Notebook').output.runOutput)",
                  "type": "Expression"
                }
              }
            },
            {
              "name": "WriteRunID_Notebook",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "Set_RunCycle",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/WriteRunID')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "entry_name": {
                    "value": "@concat(pipeline().parameters.Initial_JobName, ': ', pipeline().parameters.Initial_Source, ' :\"RunID\"')",
                    "type": "Expression"
                  },
                  "GlobalEnvironment": {
                    "value": "@pipeline().globalParameters.gbl_param_environment",
                    "type": "Expression"
                  },
                  "secret_name": {
                    "value": "",
                    "type": "Expression"
                  },
                  "IDSOwner": {
                    "value": "",
                    "type": "Expression"
                  }
                }
              }
            },
            {
              "name": "Set_RunID",
              "type": "SetVariable",
              "dependsOn": [
                {
                  "activity": "WriteRunID_Notebook",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "RunID",
                "value": {
                  "value": "@string(activity('WriteRunID_Notebook').output.runOutput)",
                  "type": "Expression"
                }
              }
            },
            {
              "name": "GetRunCycleDate_Notebook",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "Set_RunID",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/GetRunCycleDate')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "DBOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "Subject": {
                    "value": "@pipeline().parameters.Initial_Subject",
                    "type": "Expression"
                  },
                  "SourceSystem": {
                    "value": "@pipeline().parameters.Initial_Source",
                    "type": "Expression"
                  },
                  "TargetSystem": {
                    "value": "@pipeline().parameters.Initial_Target",
                    "type": "Expression"
                  },
                  "RunCycle": {
                    "value": "@variables('RunCycle')",
                    "type": "Expression"
                  },
                  "GlobalEnvironment": {
                    "value": "@pipeline().globalParameters.gbl_param_environment",
                    "type": "Expression"
                  },
                  "secret_name": {
                    "value": "",
                    "type": "Expression"
                  }
                }
              }
            },
            {
              "name": "Set_RunCycleDate",
              "type": "SetVariable",
              "dependsOn": [
                {
                  "activity": "GetRunCycleDate_Notebook",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "RunCycleDate",
                "value": {
                  "value": "@string(activity('GetRunCycleDate_Notebook').output.runOutput)",
                  "type": "Expression"
                }
              }
            },
            {
              "name": "Set_Logging",
              "type": "SetVariable",
              "dependsOn": [
                {
                  "activity": "Set_RunCycleDate",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "Logging",
                "value": {
                  "value": "N",
                  "type": "Expression"
                }
              }
            },
            {
              "name": "GetFkeyCodes_SrcSysCdSK_Notebook",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "Set_Logging",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/GetFkeyCodes')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "src_system_cd": {
                    "value": "IDS",
                    "type": "Expression"
                  },
                  "record_key": {
                    "value": "1",
                    "type": "Expression"
                  },
                  "cd_mpg_id": {
                    "value": "\"SOURCE SYSTEM\"",
                    "type": "Expression"
                  },
                  "cd_value": {
                    "value": "\"LVNGHLTH\"",
                    "type": "Expression"
                  },
                  "logging": {
                    "value": "\"X\"",
                    "type": "Expression"
                  },
                  "GlobalEnvironment": {
                    "value": "@pipeline().globalParameters.gbl_param_environment",
                    "type": "Expression"
                  },
                  "GetFkeyCodes_owner": {
                    "value": "",
                    "type": "Expression"
                  },
                  "GetFkeyCodes_secret": {
                    "value": "",
                    "type": "Expression"
                  }
                }
              }
            },
            {
              "name": "Set_SrcSysCdSK",
              "type": "SetVariable",
              "dependsOn": [
                {
                  "activity": "GetFkeyCodes_SrcSysCdSK_Notebook",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "SrcSysCdSK",
                "value": {
                  "value": "@string(activity('GetFkeyCodes_SrcSysCdSK_Notebook').output.runOutput)",
                  "type": "Expression"
                }
              }
            },
            {
              "name": "Set_SrcSysCd",
              "type": "SetVariable",
              "dependsOn": [
                {
                  "activity": "Set_SrcSysCdSK",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "SrcSysCd",
                "value": {
                  "value": "LVNGHLTH",
                  "type": "Expression"
                }
              }
            },
            {
              "name": "Set_SummFileName",
              "type": "SetVariable",
              "dependsOn": [
                {
                  "activity": "Set_SrcSysCd",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "SummFileName",
                "value": {
                  "value": "@concat(variables('FileEnvUpper'), '.', pipeline().parameters.Initial_Source, '_Inbound_', 'Encounter', '_Summary_', variables('FileTimestamp'), '.txt')",
                  "type": "Expression"
                }
              }
            },
            {
              "name": "Set_ErrorFileName",
              "type": "SetVariable",
              "dependsOn": [
                {
                  "activity": "Set_SummFileName",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "ErrorFileName",
                "value": {
                  "value": "@concat(variables('FileEnvUpper'), '.', pipeline().parameters.Initial_Source, '_Inbound_', 'Encounter', '_Error_Details_', variables('FileTimestamp'), '.txt')",
                  "type": "Expression"
                }
              }
            },
            {
              "name": "Set_FileName",
              "type": "SetVariable",
              "dependsOn": [
                {
                  "activity": "Set_ErrorFileName",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "FileName",
                "value": {
                  "value": "@if(equals(toUpper(split(item(), '_')[2]), 'FIX'), 'FIX', if(equals(toUpper(split(item(), '.')[2]), 'ADHOC'), 'ADHOC', 'BAU'))",
                  "type": "Expression"
                }
              }
            },
            {
              "name": "Set_RunDate",
              "type": "SetVariable",
              "dependsOn": [
                {
                  "activity": "Set_FileName",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "RunDate",
                "value": {
                  "value": "@concat(substring(pipeline().parameters.Variables_CurrentDate,0,4),'-',substring(pipeline().parameters.Variables_CurrentDate,5,2),'-',substring(pipeline().parameters.Variables_CurrentDate,8,2),' ',substring(pipeline().parameters.Variables_CurrentDate,11,8))",
                  "type": "Expression"
                }
              }
            },
            {
              "name": "Set_SuccessFileName",
              "type": "SetVariable",
              "dependsOn": [
                {
                  "activity": "Set_RunDate",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "SuccessFileName",
                "value": {
                  "value": "@concat(variables('FileEnvUpper'), '.', pipeline().parameters.Initial_Source, '_Inbound_', 'Encounter', '_Success_Load_', variables('FileTimestamp'), '.txt')",
                  "type": "Expression"
                }
              }
            },
            {
              "name": "LivongoEncClmExtrFormatData_Notebook",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "Set_SuccessFileName",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_notebook_path, '/claim/claim/Livongo/LivongoEncClmExtrFormatData')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "InFile": {
                    "value": "@item()",
                    "type": "Expression"
                  },
                  "InFile_F": {
                    "value": "@concat('Format_', item())",
                    "type": "Expression"
                  },
                  "IDSOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "ids_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                    "type": "Expression"
                  },
                  "GlobalEnvironment": {
                    "value": "@pipeline().globalParameters.gbl_param_environment",
                    "type": "Expression"
                  }
                }
              }
            },
            {
              "name": "If_2A",
              "type": "IfCondition",
              "dependsOn": [
                {
                  "activity": "LivongoEncClmExtrFormatData_Notebook",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "userProperties": [],
              "typeProperties": {
                "expression": {
                  "value": "@equals(\n  count(\n    pipeline().parameters.Variables_ExclusionList,\n    'LivongoEncClmLandSeq'\n  ), 0)",
                  "type": "Expression"
                },
                "ifTrueActivities": [
                  {
                    "name": "LivongoEncClmLandSeq_Pipeline",
                    "type": "ExecutePipeline",
                    "dependsOn": [],
                    "policy": {
                      "secureInput": false
                    },
                    "userProperties": [],
                    "typeProperties": {
                      "waitOnCompletion": true,
                      "pipeline": {
                        "referenceName": "LivongoEncClmLandSeq",
                        "type": "PipelineReference"
                      },
                      "parameters": {
                        "CurrentDate": {
                          "value": "@variables('RunCycleDate')",
                          "type": "Expression"
                        },
                        "RunCycle": {
                          "value": "@variables('RunCycle')",
                          "type": "Expression"
                        },
                        "ExclusionList": {
                          "value": "@pipeline().parameters.Variables_ExclusionList",
                          "type": "Expression"
                        },
                        "RunID": {
                          "value": "@variables('RunID')",
                          "type": "Expression"
                        },
                        "SrcSysCd": {
                          "value": "@variables('SrcSysCd')",
                          "type": "Expression"
                        },
                        "SrcSysCdSK": {
                          "value": "@variables('SrcSysCdSK')",
                          "type": "Expression"
                        },
                        "IDSOwner": {
                          "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                          "type": "Expression"
                        },
                        "ids_secret_name": {
                          "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                          "type": "Expression"
                        },
                        "Logging": {
                          "value": "@variables('Logging')",
                          "type": "Expression"
                        },
                        "EmailNotify": {
                          "value": "@pipeline().parameters.EmailNotify",
                          "type": "Expression"
                        },
                        "Email_Business": {
                          "value": "@pipeline().parameters.EmailNotify",
                          "type": "Expression"
                        },
                        "Environment": {
                          "value": "@pipeline().parameters.Environment",
                          "type": "Expression"
                        },
                        "InFile_F": {
                          "value": "@concat('Format_', item())",
                          "type": "Expression"
                        }
                      }
                    }
                  }
                ],
                "ifFalseActivities": []
              }
            },
            {
              "name": "If_2B",
              "type": "IfCondition",
              "dependsOn": [
                {
                  "activity": "If_2A",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "userProperties": [],
              "typeProperties": {
                "expression": {
                  "value": "@equals(\n  count(\n    pipeline().parameters.Variables_ExclusionList,\n    'IdsDentaQuestClmLoadAllSeq'\n  ), 0)",
                  "type": "Expression"
                },
                "ifTrueActivities": [
                  {
                    "name": "IdsLivongoEncClmLoadAllSeq_Pipeline",
                    "type": "ExecutePipeline",
                    "dependsOn": [],
                    "policy": {
                      "secureInput": false
                    },
                    "userProperties": [],
                    "typeProperties": {
                      "waitOnCompletion": true,
                      "pipeline": {
                        "referenceName": "IdsLivongoEncClmLoadAllSeq",
                        "type": "PipelineReference"
                      },
                      "parameters": {
                        "CurrRunCycle": {
                          "value": "@variables('RunCycle')",
                          "type": "Expression"
                        },
                        "RunID": {
                          "value": "@variables('RunID')",
                          "type": "Expression"
                        },
                        "ExclusionList": {
                          "value": "@pipeline().parameters.Variables_ExclusionList",
                          "type": "Expression"
                        },
                        "Logging": {
                          "value": "@variables('Logging')",
                          "type": "Expression"
                        },
                        "SrcSysCd": {
                          "value": "@variables('SrcSysCd')",
                          "type": "Expression"
                        },
                        "SrcSysCdSk": {
                          "value": "@variables('SrcSysCdSK')",
                          "type": "Expression"
                        },
                        "IDSOwner": {
                          "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                          "type": "Expression"
                        },
                        "ids_secret_name": {
                          "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                          "type": "Expression"
                        }
                      }
                    }
                  }
                ],
                "ifFalseActivities": []
              }
            },
            {
              "name": "uvLoadCounts_GetVariableDatabricks",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "If_2B",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/JobLinkCount')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "JobLinkCount_a1": {
                    "value": "LivongoEncClmExtrFormatData",
                    "type": "Expression"
                  },
                  "JobLinkCount_a2": {
                    "value": "xfrm_Format_File",
                    "type": "Expression"
                  },
                  "JobLinkCount_a3": {
                    "value": "Lnk_Trans",
                    "type": "Expression"
                  },
                  "GlobalEnvironment": {
                    "value": "@pipeline().globalParameters.gbl_param_environment",
                    "type": "Expression"
                  },
                  "file_path": {
                    "value": "",
                    "type": "Expression"
                  },
                  "EnvProjectPath": {
                    "value": "",
                    "type": "Expression"
                  },
                  "delimiter": {
                    "value": "",
                    "type": "Expression"
                  },
                  "quote": {
                    "value": "",
                    "type": "Expression"
                  },
                  "header": {
                    "value": "",
                    "type": "Expression"
                  },
                  "nullValue": {
                    "value": "",
                    "type": "Expression"
                  },
                  "table_nm": {
                    "value": "",
                    "type": "Expression"
                  },
                  "schema": {
                    "value": "",
                    "type": "Expression"
                  },
                  "secret_name": {
                    "value": "",
                    "type": "Expression"
                  }
                }
              }
            },
            {
              "name": "Set_FileCnt",
              "type": "SetVariable",
              "dependsOn": [
                {
                  "activity": "uvLoadCounts_GetVariableDatabricks",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "FileCnt",
                "value": {
                  "value": "@string(activity('uvLoadCounts_GetVariableDatabricks').output.runOutput)",
                  "type": "Expression"
                }
              }
            },
            {
              "name": "uvLoadCounts_ErrorCntDatabricks",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "Set_FileCnt",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/JobLinkCount')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "JobLinkCount_a1": {
                    "value": "LivongoEncClmExtrFormatData",
                    "type": "Expression"
                  },
                  "JobLinkCount_a2": {
                    "value": "xfm_NullChck1",
                    "type": "Expression"
                  },
                  "JobLinkCount_a3": {
                    "value": "Lnk_Error",
                    "type": "Expression"
                  },
                  "GlobalEnvironment": {
                    "value": "@pipeline().globalParameters.gbl_param_environment",
                    "type": "Expression"
                  },
                  "file_path": {
                    "value": "",
                    "type": "Expression"
                  },
                  "EnvProjectPath": {
                    "value": "",
                    "type": "Expression"
                  },
                  "delimiter": {
                    "value": "",
                    "type": "Expression"
                  },
                  "quote": {
                    "value": "",
                    "type": "Expression"
                  },
                  "header": {
                    "value": "",
                    "type": "Expression"
                  },
                  "nullValue": {
                    "value": "",
                    "type": "Expression"
                  },
                  "table_nm": {
                    "value": "",
                    "type": "Expression"
                  },
                  "schema": {
                    "value": "",
                    "type": "Expression"
                  },
                  "secret_name": {
                    "value": "",
                    "type": "Expression"
                  }
                }
              }
            },
            {
              "name": "Set_ErrorCnt",
              "type": "SetVariable",
              "dependsOn": [
                {
                  "activity": "uvLoadCounts_ErrorCntDatabricks",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "ErrorCnt",
                "value": {
                  "value": "@string(activity('uvLoadCounts_ErrorCntDatabricks').output.runOutput)",
                  "type": "Expression"
                }
              }
            },
            {
              "name": "Set_LoadCnt",
              "type": "SetVariable",
              "dependsOn": [
                {
                  "activity": "Set_ErrorCnt",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "LoadCnt",
                "value": {
                  "value": "@concat('Logic_Emulating_If JobLinkCount(...) ')",
                  "type": "Expression"
                }
              }
            },
            {
              "name": "Exec_ErrorFileEmptyCheck_Notebook",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "Set_LoadCnt",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_scripts, '/Generic_ADLS_File_Operations')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "src_file_with_path": {
                    "value": "/verified/ERROR_",
                    "type": "Expression"
                  },
                  "command": "cat",
                  "project": "integrate"
                }
              }
            },
            {
              "name": "IfEmptyError",
              "type": "IfCondition",
              "dependsOn": [
                {
                  "activity": "Exec_ErrorFileEmptyCheck_Notebook",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "userProperties": [],
              "typeProperties": {
                "expression": {
                  "value": "@greater(activity('Exec_ErrorFileEmptyCheck_Notebook').output.runOutput, 1)",
                  "type": "Expression"
                },
                "ifTrueActivities": [
                  {
                    "name": "FTPUnknownMbr_Notebook",
                    "type": "DatabricksNotebook",
                    "dependsOn": [],
                    "policy": {
                      "timeout": "12:00:00",
                      "retry": 0,
                      "retryIntervalInSeconds": 30,
                      "secureOutput": false,
                      "secureInput": false
                    },
                    "userProperties": [],
                    "linkedServiceName": {
                      "referenceName": "shareddatabricks",
                      "type": "LinkedServiceReference"
                    },
                    "typeProperties": {
                      "notebookPath": {
                        "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/FTP')",
                        "type": "Expression"
                      },
                      "baseParameters": {
                        "FTP_a1": {
                          "value": "\"o_lib\"",
                          "type": "Expression"
                        },
                        "FTP_a2": {
                          "value": "\"put\"",
                          "type": "Expression"
                        },
                        "FTP_a3": {
                          "value": "@concat(pipeline().globalParameters.gbl_param_FilePath,'/verified')",
                          "type": "Expression"
                        },
                        "FTP_a4": {
                          "value": "@concat('ERROR_',item())",
                          "type": "Expression"
                        },
                        "FTP_a5": {
                          "value": "\"/library/library/Government/PHI11/Shared/MEDICARE_ADVANTAGE/Supplemental_Benefit_Vendors/Livongo\"",
                          "type": "Expression"
                        },
                        "FTP_a6": {
                          "value": "@concat(pipeline().parameters.Variables_Env,' : \"ERROR_',item(),'\"')",
                          "type": "Expression"
                        },
                        "GlobalEnvironment": {
                          "value": "@pipeline().globalParameters.gbl_param_environment",
                          "type": "Expression"
                        }
                      }
                    }
                  }
                ],
                "ifFalseActivities": []
              }
            },
            {
              "name": "If_2C",
              "type": "IfCondition",
              "dependsOn": [
                {
                  "activity": "IfEmptyError",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "userProperties": [],
              "typeProperties": {
                "expression": {
                  "value": "@equals(\n  count(\n    pipeline().parameters.Variables_ExclusionList,\n    'DentaQuestClmExtrSummaryFile'\n  ), 0)",
                  "type": "Expression"
                },
                "ifTrueActivities": [
                  {
                    "name": "Exec_File_Rcvd_Dtm_Notebook",
                    "type": "DatabricksNotebook",
                    "dependsOn": [],
                    "policy": {
                      "timeout": "12:00:00",
                      "retry": 0,
                      "retryIntervalInSeconds": 30,
                      "secureOutput": false,
                      "secureInput": false
                    },
                    "userProperties": [],
                    "linkedServiceName": {
                      "referenceName": "shareddatabricks",
                      "type": "LinkedServiceReference"
                    },
                    "typeProperties": {
                      "notebookPath": {
                        "value": "@concat(pipeline().globalParameters.gbl_param_scripts, '/Generic_ADLS_File_Operations')",
                        "type": "Expression"
                      },
                      "baseParameters": {
                        "src_file_with_path": {
                          "value": "/landing",
                          "type": "Expression"
                        },
                        "command": "cat",
                        "project": "integrate"
                      }
                    }
                  }
                ],
                "ifFalseActivities": []
              }
            },
            {
              "name": "uv_FileCreationDate_SetVariable",
              "type": "SetVariable",
              "dependsOn": [
                {
                  "activity": "If_2C",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "FileRcvdDate",
                "value": {
                  "value": "@concat('FORMAT.DATE(Exec_File_Rcvd_Dtm.$CommandOutput)??')",
                  "type": "Expression"
                }
              }
            },
            {
              "name": "uv_FileCreationDtm_SetVar",
              "type": "SetVariable",
              "dependsOn": [
                {
                  "activity": "uv_FileCreationDate_SetVariable",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "FileRcvdDtm",
                "value": {
                  "value": "@concat('Exec_File_Rcvd_Dtm.$CommandOutput??')",
                  "type": "Expression"
                }
              }
            },
            {
              "name": "Exec_ErrorFile_Uniq_Err_Ct_Notebook",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "uv_FileCreationDtm_SetVar",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_scripts, '/Generic_ADLS_File_Operations')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "src_file_with_path": {
                    "value": "/verified/ERROR_",
                    "type": "Expression"
                  },
                  "command": "cat",
                  "project": "integrate"
                }
              }
            },
            {
              "name": "LivongoEncClmExtrSummaryFile_Pipeline",
              "type": "ExecutePipeline",
              "dependsOn": [
                {
                  "activity": "Exec_ErrorFile_Uniq_Err_Ct_Notebook",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "waitOnCompletion": true,
                "pipeline": {
                  "referenceName": "LivongoEncClmExtrSummaryFile",
                  "type": "PipelineReference"
                },
                "parameters": {
                  "Src_Sys_Cd": {
                    "value": "@pipeline().parameters.Initial_Source",
                    "type": "Expression"
                  },
                  "InFile": {
                    "value": "@item()",
                    "type": "Expression"
                  },
                  "File_Rcvd_Dtm": {
                    "value": "@variables('FileRcvdDtm')",
                    "type": "Expression"
                  },
                  "File_Prcs_Dtm": {
                    "value": "@variables('RunDate')",
                    "type": "Expression"
                  },
                  "Rcvd_Rcrd_Ct": {
                    "value": "@variables('FileCnt')",
                    "type": "Expression"
                  },
                  "Prcs_Rcrd_Ct": {
                    "value": "@variables('LoadCnt')",
                    "type": "Expression"
                  },
                  "Uniq_Err_Ct": {
                    "value": "@string(activity('Exec_ErrorFile_Uniq_Err_Ct_Notebook').output.runOutput)",
                    "type": "Expression"
                  },
                  "Tot_Err_Ct": {
                    "value": "@variables('ErrorCnt')",
                    "type": "Expression"
                  },
                  "Prcs_ID": {
                    "value": "@variables('FileName')",
                    "type": "Expression"
                  }
                }
              }
            },
            {
              "name": "FTP_SummFiles_Notebook",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "LivongoEncClmExtrSummaryFile_Pipeline",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/FTP')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "FTP_a1": {
                    "value": "\"put\"",
                    "type": "Expression"
                  },
                  "FTP_a2": {
                    "value": "@concat(pipeline().globalParameters.gbl_param_FilePath,'/verified')",
                    "type": "Expression"
                  },
                  "FTP_a3": {
                    "value": "@concat('SUMMARY_',item())",
                    "type": "Expression"
                  },
                  "FTP_a4": {
                    "value": "\"/\"",
                    "type": "Expression"
                  },
                  "FTP_a5": {
                    "value": "@concat(pipeline().parameters.Variables_Env,' : \"1.BKCADF.\" : ',variables('SummFileName'))",
                    "type": "Expression"
                  },
                  "GlobalEnvironment": {
                    "value": "@pipeline().globalParameters.gbl_param_environment",
                    "type": "Expression"
                  }
                }
              }
            },
            {
              "name": "FTP_ErrorFile_Notebook",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "FTP_SummFiles_Notebook",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/FTP')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "FTP_a1": {
                    "value": "\"put\"",
                    "type": "Expression"
                  },
                  "FTP_a2": {
                    "value": "@concat(pipeline().globalParameters.gbl_param_FilePath,'/verified')",
                    "type": "Expression"
                  },
                  "FTP_a3": {
                    "value": "@concat('ERROR_',item())",
                    "type": "Expression"
                  },
                  "FTP_a4": {
                    "value": "\"/\"",
                    "type": "Expression"
                  },
                  "FTP_a5": {
                    "value": "@concat(pipeline().parameters.Variables_Env,' : \"1.BKCADF.\" : ',variables('ErrorFileName'))",
                    "type": "Expression"
                  },
                  "GlobalEnvironment": {
                    "value": "@pipeline().globalParameters.gbl_param_environment",
                    "type": "Expression"
                  }
                }
              }
            },
            {
              "name": "FTP_SuccessFile_Notebook",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "FTP_ErrorFile_Notebook",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/FTP')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "FTP_a1": {
                    "value": "\"put\"",
                    "type": "Expression"
                  },
                  "FTP_a2": {
                    "value": "@concat(pipeline().globalParameters.gbl_param_FilePath,'/verified')",
                    "type": "Expression"
                  },
                  "FTP_a3": {
                    "value": "@concat('SUCCESS_',item())",
                    "type": "Expression"
                  },
                  "FTP_a4": {
                    "value": "\"/\"",
                    "type": "Expression"
                  },
                  "FTP_a5": {
                    "value": "@concat(pipeline().parameters.Variables_Env,' : \"1.BKCADF.\" : ',variables('SuccessFileName'))",
                    "type": "Expression"
                  },
                  "GlobalEnvironment": {
                    "value": "@pipeline().globalParameters.gbl_param_environment",
                    "type": "Expression"
                  }
                }
              }
            },
            {
              "name": "FTPInputFile_Notebook",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "FTP_SuccessFile_Notebook",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/FTP')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "FTP_a1": {
                    "value": "\"o_lib\"",
                    "type": "Expression"
                  },
                  "FTP_a2": {
                    "value": "\"put\"",
                    "type": "Expression"
                  },
                  "FTP_a3": {
                    "value": "@concat(pipeline().globalParameters.gbl_param_FilePath,'/landing')",
                    "type": "Expression"
                  },
                  "FTP_a4": {
                    "value": "@item()",
                    "type": "Expression"
                  },
                  "FTP_a5": {
                    "value": "\"//corpdata/files/AppData/MA_Repo/CUSTOM_ELIG_FILES/LIVONGO/Inbound\"",
                    "type": "Expression"
                  },
                  "FTP_a6": {
                    "value": "@concat(pipeline().parameters.Variables_Env,' : ',item())",
                    "type": "Expression"
                  },
                  "GlobalEnvironment": {
                    "value": "@pipeline().globalParameters.gbl_param_environment",
                    "type": "Expression"
                  }
                }
              }
            },
            {
              "name": "EmailAckFile",
              "type": "ExecutePipeline",
              "dependsOn": [
                {
                  "activity": "FTPInputFile_Notebook",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "waitOnCompletion": true,
                "pipeline": {
                  "referenceName": "Email_Notification",
                  "type": "PipelineReference"
                },
                "parameters": {
                  "recipients": {
                    "value": "@pipeline().parameters.AckEmailGrp",
                    "type": "Expression"
                  },
                  "subject": "Acknowledgement Summary for #Initial_Source# - #StartLoop.$Counter#",
                  "body": "Please find the attached Acknowledgement Summary Report for Livongo\n\nThe error file located in O:\\library\\Government\\PHI11\\Shared\\MEDICARE_ADVANTAGE\\Supplemental_Benefit_Vendors\\Livongo\n\nNote: Please Ignore the attachment \"ATT00001.txt\"...",
                  "blobFilenames": "@concat(pipeline().globalParameters.gbl_param_environment,'/balancing/notify/CodesBalancingNotification.dat')",
                  "fromemail": {
                    "value": "@pipeline().globalParameters.gbl_param_fromemail",
                    "type": "Expression"
                  },
                  "containerName": {
                    "value": "@pipeline().globalParameters.gbl_param_container_integrate",
                    "type": "Expression"
                  }
                }
              }
            },
            {
              "name": "cp_LivongoEnc_SrcFile_Notebook",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "EmailAckFile",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_scripts, '/Generic_ADLS_File_Operations')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "src_file_with_path": {
                    "value": "/landing/processed",
                    "type": "Expression"
                  },
                  "command": "touch",
                  "project": "integrate"
                }
              }
            },
            {
              "name": "CloseRunCycle_Notebook",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "cp_LivongoEnc_SrcFile_Notebook",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/CloseRunCycle')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "CloseRunCycle_a1": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                    "type": "Expression"
                  },
                  "CloseRunCycle_a2": {
                    "value": "@pipeline().parameters.Initial_Source",
                    "type": "Expression"
                  },
                  "CloseRunCycle_a3": {
                    "value": "@pipeline().parameters.Initial_Target",
                    "type": "Expression"
                  },
                  "CloseRunCycle_a4": {
                    "value": "@pipeline().parameters.Initial_Subject",
                    "type": "Expression"
                  },
                  "CloseRunCycle_a5": {
                    "value": "@pipeline().parameters.Initial_Frequency",
                    "type": "Expression"
                  },
                  "CloseRunCycle_a6": {
                    "value": "@variables('RunCycle')",
                    "type": "Expression"
                  },
                  "GlobalEnvironment": {
                    "value": "@pipeline().globalParameters.gbl_param_environment",
                    "type": "Expression"
                  },
                  "DBOwner": {
                    "value": "",
                    "type": "Expression"
                  },
                  "SrcSystem": {
                    "value": "",
                    "type": "Expression"
                  },
                  "TrgtSystem": {
                    "value": "",
                    "type": "Expression"
                  },
                  "SubjCode": {
                    "value": "",
                    "type": "Expression"
                  },
                  "FreqCode": {
                    "value": "",
                    "type": "Expression"
                  },
                  "RunCycle": {
                    "value": "",
                    "type": "Expression"
                  }
                }
              }
            }
          ]
        }
      }
    ]
  }
}