npw-projects-np-projects-bluekc-translated-66e9366f6cca/Sprint_3_4_5/SequenceJobs/Integrate/OptumMedDDrugCntl2.json
{
  "name": "OptumMedDDrugCntl2",
  "type": "Microsoft.DataFactory/factories/pipelines",
  "properties": {
    "folder": {
      "name": "Integrate/Jobs/claim"
    },
    "parameters": {
      "VendorEmail": {
        "type": "String",
        "defaultValue": ""
      },
      "Env": {
        "type": "String",
        "defaultValue": ""
      },
      "MbrTermDate": {
        "type": "String",
        "defaultValue": ""
      },
      "LOB": {
        "type": "String",
        "defaultValue": ""
      },
      "Initial_JobName": {
        "type": "String",
        "defaultValue": ""
      },
      "Initial_Source": {
        "type": "String",
        "defaultValue": ""
      },
      "Initial_Target": {
        "type": "String",
        "defaultValue": ""
      },
      "Initial_Subject": {
        "type": "String",
        "defaultValue": ""
      },
      "Initial_Frequency": {
        "type": "String",
        "defaultValue": ""
      },
      "LinkCount_ExclusionList": {
        "type": "String",
        "defaultValue": ""
      },
      "Variables_RunID": {
        "type": "String",
        "defaultValue": ""
      },
      "Run_Cycle_RunCycle": {
        "type": "String",
        "defaultValue": ""
      },
      "Run_Cycle_ProvRunCycle": {
        "type": "String",
        "defaultValue": ""
      },
      "Run_Cycle_MbrDndPdxRunCycle": {
        "type": "String",
        "defaultValue": ""
      },
      "Exec_CntrlFilePick_CommandOutput": {
        "type": "String",
        "defaultValue": ""
      },
      "LoopVariables_RunID": {
        "type": "String",
        "defaultValue": ""
      },
      "StartLoop_Counter": {
        "type": "String",
        "defaultValue": ""
      },
      "Variables_SrcSysCdSk": {
        "type": "String",
        "defaultValue": ""
      }
    },
    "variables": {
      "LinkCount": {
        "type": "String",
        "defaultValue": ""
      },
      "CntlFileName": {
        "type": "String",
        "defaultValue": ""
      },
      "WebDMLastUpd_UpdateDate": {
        "type": "String",
        "defaultValue": ""
      },
      "LoadClmSrcDtl_Result": {
        "type": "String",
        "defaultValue": ""
      },
      "CloseRunCycle_Result": {
        "type": "String",
        "defaultValue": ""
      },
      "CloseProvRunCycle_Result": {
        "type": "String",
        "defaultValue": ""
      },
      "CloseDeniedRunCycle_Result": {
        "type": "String",
        "defaultValue": ""
      }
    },
    "activities": [
      {
        "name": "If_5A",
        "type": "IfCondition",
        "dependsOn": [],
        "userProperties": [],
        "typeProperties": {
          "expression": {
            "type": "Expression",
            "value": "@equals(contains(split(pipeline().parameters.LinkCount_ExclusionList,';'),'IdsWebDMDrugPrereqSeq'),false)"
          },
          "ifTrueActivities": [
            {
              "name": "IdsWebDMDrugPrereqSeq",
              "type": "ExecutePipeline",
              "dependsOn": [],
              "policy": {
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "pipeline": {
                  "referenceName": "IdsWebDMDrugPrereqSeq",
                  "type": "PipelineReference"
                },
                "parameters": {
                  "ExclusionList": {
                    "value": "@pipeline().parameters.LinkCount_ExclusionList",
                    "type": "Expression"
                  },
                  "RunID": {
                    "value": "@pipeline().parameters.LoopVariables_RunID",
                    "type": "Expression"
                  },
                  "IDSOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "ids_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                    "type": "Expression"
                  },
                  "waitOnCompletion": true
                }
              }
            }
          ],
          "ifFalseActivities": []
        }
      },
      {
        "name": "If_5B",
        "type": "IfCondition",
        "dependsOn": [
          {
            "activity": "IdsWebDMDrugPrereqSeq",
            "dependencyConditions": [
              "Succeeded"
            ]
          },
          {
            "activity": "If_5A_False_Skip",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "expression": {
            "type": "Expression",
            "value": "@equals(contains(split(pipeline().parameters.LinkCount_ExclusionList,';'),'IdsWebDMDrugLoadSeq'),false)"
          },
          "ifTrueActivities": [
            {
              "name": "IdsWebDMDrugLoadSeq",
              "type": "ExecutePipeline",
              "dependsOn": [],
              "policy": {
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "pipeline": {
                  "referenceName": "IdsWebDMDrugLoadSeq",
                  "type": "PipelineReference"
                },
                "parameters": {
                  "ExclusionList": {
                    "value": "@pipeline().parameters.LinkCount_ExclusionList",
                    "type": "Expression"
                  },
                  "RunID": {
                    "value": "@pipeline().parameters.LoopVariables_RunID",
                    "type": "Expression"
                  },
                  "RunCycle": {
                    "value": "@pipeline().parameters.Run_Cycle_RunCycle",
                    "type": "Expression"
                  },
                  "IDSOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "ids_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                    "type": "Expression"
                  },
                  "ClmMartOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_ClmMartOwner",
                    "type": "Expression"
                  },
                  "clmmart_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_ClmMartSecret",
                    "type": "Expression"
                  },
                  "waitOnCompletion": true
                }
              }
            }
          ],
          "ifFalseActivities": []
        }
      },
      {
        "name": "If_5C",
        "type": "IfCondition",
        "dependsOn": [
          {
            "activity": "IdsWebDMDrugLoadSeq",
            "dependencyConditions": [
              "Succeeded"
            ]
          },
          {
            "activity": "If_5B_False_Skip",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "expression": {
            "type": "Expression",
            "value": "@equals(contains(split(pipeline().parameters.LinkCount_ExclusionList,';'),'WebDMLastUpd'),false)"
          },
          "ifTrueActivities": [
            {
              "name": "WebDMLastUpd_FormatDate",
              "type": "DatabricksNotebook",
              "dependsOn": [],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "userProperties": [],
              "typeProperties": {
                "notebookPath": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/FORMAT.DATE')",
                "baseParameters": {
                  "pInDate": "string('@DATE')",
                  "pSource": "DATE",
                  "pSourceFormat": "CURRENT",
                  "pOutFormat": "CCYY-MM-DD"
                }
              }
            },
            {
              "name": "WebDMLastUpd_FormatDate_Set",
              "type": "SetVariable",
              "dependsOn": [
                {
                  "activity": "WebDMLastUpd_FormatDate",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "WebDMLastUpd_UpdateDate",
                "value": {
                  "type": "Expression",
                  "value": "@string(activity('WebDMLastUpd_FormatDate').output.runOutput)"
                }
              }
            },
            {
              "name": "WebDMLastUpd",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "WebDMLastUpd_FormatDate_Set",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "userProperties": [],
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_notebook_path,'/WebDataMart/Claim/CycUpdt/WebDMLastUpd')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "ClmMartOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_ClmMartOwner",
                    "type": "Expression"
                  },
                  "clmmart_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_ClmMartSecret",
                    "type": "Expression"
                  },
                  "SubjectName": "OPTUMRX CLAIM",
                  "UpdateDate": {
                    "value": "@variables('WebDMLastUpd_UpdateDate')",
                    "type": "Expression"
                  },
                  "GlobalEnvironment": {
                    "value": "@pipeline().globalParameters.gbl_param_environment",
                    "type": "Expression"
                  }
                }
              }
            }
          ],
          "ifFalseActivities": []
        }
      },
      {
        "name": "If_5D",
        "type": "IfCondition",
        "dependsOn": [
          {
            "activity": "WebDMLastUpd",
            "dependencyConditions": [
              "Succeeded"
            ]
          },
          {
            "activity": "If_5C_False_Skip",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "expression": {
            "type": "Expression",
            "value": "@equals(contains(split(pipeline().parameters.LinkCount_ExclusionList,';'),'OptumDrugClmSrcDtlExtr'),false)"
          },
          "ifTrueActivities": [
            {
              "name": "OptumDrugClmSrcDtlExtr",
              "type": "DatabricksNotebook",
              "dependsOn": [],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "userProperties": [],
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_notebook_path,'/claim/claim/Optum/OptumDrugClmSrcDtlExtr')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "IDSOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "ids_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                    "type": "Expression"
                  },
                  "SrcSysCd": {
                    "value": "@pipeline().parameters.Initial_Source",
                    "type": "Expression"
                  },
                  "RunID": {
                    "value": "@pipeline().parameters.LoopVariables_RunID",
                    "type": "Expression"
                  },
                  "IDSRunCycle": {
                    "value": "@pipeline().parameters.Run_Cycle_RunCycle",
                    "type": "Expression"
                  },
                  "SrcSysCdSK": {
                    "value": "@pipeline().parameters.Variables_SrcSysCdSk",
                    "type": "Expression"
                  },
                  "LOB": {
                    "value": "@pipeline().parameters.LOB",
                    "type": "Expression"
                  },
                  "GlobalEnvironment": {
                    "value": "@pipeline().globalParameters.gbl_param_environment",
                    "type": "Expression"
                  }
                }
              }
            }
          ],
          "ifFalseActivities": []
        }
      },
      {
        "name": "If_5E",
        "type": "IfCondition",
        "dependsOn": [
          {
            "activity": "OptumDrugClmSrcDtlExtr",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "expression": {
            "type": "Expression",
            "value": "@equals(contains(split(pipeline().parameters.LinkCount_ExclusionList,';'),'LoadClmSrcDtl'),false)"
          },
          "ifTrueActivities": [
            {
              "name": "LoadClmSrcDtl_DBLOAD",
              "type": "DatabricksNotebook",
              "dependsOn": [],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "userProperties": [],
              "typeProperties": {
                "notebookPath": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/DB.LOAD')",
                "baseParameters": {
                  "table": "CLM_SRC_DTL",
                  "action": "UPDATE",
                  "file_name": {
                    "type": "Expression",
                    "value": "@concat('CLM_SRC_DTL_', pipeline().parameters.Initial_Source, '.dat.', pipeline().parameters.LoopVariables_RunID)"
                  },
                  "run_stat": "N",
                  "owner": {
                    "type": "Expression",
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner"
                  },
                  "secret_name": {
                    "type": "Expression",
                    "value": "@pipeline().globalParameters.gbl_param_IDSSecret"
                  },
                  "GlobalEnvironment": {
                    "type": "Expression",
                    "value": "@pipeline().globalParameters.gbl_param_environment"
                  },
                  "EnvProjectPath": {
                    "value": "",
                    "type": "Expression"
                  },
                  "file_path": {
                    "value": "",
                    "type": "Expression"
                  }
                }
              }
            },
            {
              "name": "LoadClmSrcDtl_DBLOAD_Set",
              "type": "SetVariable",
              "dependsOn": [
                {
                  "activity": "LoadClmSrcDtl_DBLOAD",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "LoadClmSrcDtl_Result",
                "value": {
                  "type": "Expression",
                  "value": "@string(activity('LoadClmSrcDtl_DBLOAD').output.runOutput)"
                }
              }
            }
          ],
          "ifFalseActivities": []
        }
      },
      {
        "name": "MvClmLandExtr",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "LoadClmSrcDtl_DBLOAD_Set",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "userProperties": [],
        "typeProperties": {
          "notebookPath": "@concat(pipeline().globalParameters.gbl_param_scripts, '/Generic_ADLS_File_Operations')",
          "baseParameters": {
            "src_file_with_path": {
              "value": "/.dat.",
              "type": "Expression"
            },
            "trgt_file_with_path": {
              "value": "/.dat.",
              "type": "Expression"
            },
            "command": "move",
            "project": "integrate"
          }
        }
      },
      {
        "name": "If_6A",
        "type": "IfCondition",
        "dependsOn": [
          {
            "activity": "OptumDrugClmSrcDtlExtr",
            "dependencyConditions": [
              "Succeeded"
            ]
          },
          {
            "activity": "If_5D_False_Skip",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "expression": {
            "type": "Expression",
            "value": "@equals(contains(split(pipeline().parameters.LinkCount_ExclusionList,';'),'IDSDrugDailyCleanupSeq'),false)"
          },
          "ifTrueActivities": [
            {
              "name": "IDSDrugDailyCleanupSeq",
              "type": "ExecutePipeline",
              "dependsOn": [],
              "policy": {
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "pipeline": {
                  "referenceName": "IDSDrugDailyCleanupSeq",
                  "type": "PipelineReference"
                },
                "parameters": {
                  "ExclusionList": {
                    "value": "@pipeline().parameters.LinkCount_ExclusionList",
                    "type": "Expression"
                  },
                  "RunID": {
                    "value": "@pipeline().parameters.LoopVariables_RunID",
                    "type": "Expression"
                  },
                  "IDSOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "ids_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                    "type": "Expression"
                  },
                  "waitOnCompletion": true
                }
              }
            }
          ],
          "ifFalseActivities": []
        }
      },
      {
        "name": "CloseRunCycle_Notebook",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "IDSDrugDailyCleanupSeq",
            "dependencyConditions": [
              "Succeeded"
            ]
          },
          {
            "activity": "If_6A_False_Skip",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "userProperties": [],
        "typeProperties": {
          "notebookPath": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/CloseRunCycle')",
          "baseParameters": {
            "DBOwner": {
              "type": "Expression",
              "value": "@pipeline().globalParameters.gbl_param_IDSOwner"
            },
            "secret_name": {
              "type": "Expression",
              "value": "@pipeline().globalParameters.gbl_param_IDSSecret"
            },
            "SrcSystem": {
              "type": "Expression",
              "value": "@pipeline().parameters.Initial_Source"
            },
            "TrgtSystem": {
              "type": "Expression",
              "value": "@pipeline().parameters.Initial_Target"
            },
            "SubjCode": {
              "type": "Expression",
              "value": "@pipeline().parameters.Initial_Subject"
            },
            "FreqCode": {
              "type": "Expression",
              "value": "@pipeline().parameters.Initial_Frequency"
            },
            "RunCycle": {
              "type": "Expression",
              "value": "@pipeline().parameters.Run_Cycle_RunCycle"
            },
            "GlobalEnvironment": {
              "type": "Expression",
              "value": "@pipeline().globalParameters.gbl_param_environment"
            }
          }
        }
      },
      {
        "name": "CloseRunCycle_Set",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "CloseRunCycle_Notebook",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "CloseRunCycle_Result",
          "value": {
            "type": "Expression",
            "value": "@string(activity('CloseRunCycle_Notebook').output.runOutput)"
          }
        }
      },
      {
        "name": "CloseProvRunCycle_Notebook",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "CloseRunCycle_Set",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "userProperties": [],
        "typeProperties": {
          "notebookPath": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/CloseRunCycle')",
          "baseParameters": {
            "DBOwner": {
              "type": "Expression",
              "value": "@pipeline().globalParameters.gbl_param_IDSOwner"
            },
            "secret_name": {
              "type": "Expression",
              "value": "@pipeline().globalParameters.gbl_param_IDSSecret"
            },
            "SrcSystem": "NABP",
            "TrgtSystem": "IDS",
            "SubjCode": "PROVIDERS",
            "FreqCode": "DAILY",
            "RunCycle": {
              "type": "Expression",
              "value": "@pipeline().parameters.Run_Cycle_ProvRunCycle"
            },
            "GlobalEnvironment": {
              "type": "Expression",
              "value": "@pipeline().globalParameters.gbl_param_environment"
            }
          }
        }
      },
      {
        "name": "CloseProvRunCycle_Set",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "CloseProvRunCycle_Notebook",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "CloseProvRunCycle_Result",
          "value": {
            "type": "Expression",
            "value": "@string(activity('CloseProvRunCycle_Notebook').output.runOutput)"
          }
        }
      },
      {
        "name": "CloseDeniedRunCycle_Notebook",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "CloseProvRunCycle_Set",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "userProperties": [],
        "typeProperties": {
          "notebookPath": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/CloseRunCycle')",
          "baseParameters": {
            "DBOwner": {
              "type": "Expression",
              "value": "@pipeline().globalParameters.gbl_param_IDSOwner"
            },
            "secret_name": {
              "type": "Expression",
              "value": "@pipeline().globalParameters.gbl_param_IDSSecret"
            },
            "SrcSystem": {
              "type": "Expression",
              "value": "@pipeline().parameters.Initial_Source"
            },
            "TrgtSystem": "IDS",
            "SubjCode": "DENIED_CLAIMS",
            "FreqCode": "DAILY",
            "RunCycle": {
              "type": "Expression",
              "value": "@pipeline().parameters.Run_Cycle_MbrDndPdxRunCycle"
            },
            "GlobalEnvironment": {
              "type": "Expression",
              "value": "@pipeline().globalParameters.gbl_param_environment"
            }
          }
        }
      },
      {
        "name": "CloseDeniedRunCycle_Set",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "CloseDeniedRunCycle_Notebook",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "CloseDeniedRunCycle_Result",
          "value": {
            "type": "Expression",
            "value": "@string(activity('CloseDeniedRunCycle_Notebook').output.runOutput)"
          }
        }
      },
      {
        "name": "RptLinkCount_JobLinkCount",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "CloseDeniedRunCycle_Set",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "userProperties": [],
        "typeProperties": {
          "notebookPath": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/JobLinkCount')",
          "baseParameters": {
            "JobLinkCount_a1": "IdsClmFkey",
            "JobLinkCount_a2": "Trans3",
            "JobLinkCount_a3": "LoadFile",
            "schema": {
              "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
              "type": "Expression"
            },
            "secret_name": {
              "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
              "type": "Expression"
            },
            "GlobalEnvironment": {
              "value": "@pipeline().globalParameters.gbl_param_environment",
              "type": "Expression"
            },
            "file_path": {
              "value": "",
              "type": "Expression"
            },
            "EnvProjectPath": {
              "value": "",
              "type": "Expression"
            },
            "delimiter": {
              "value": "",
              "type": "Expression"
            },
            "quote": {
              "value": "",
              "type": "Expression"
            },
            "header": {
              "value": "",
              "type": "Expression"
            },
            "nullValue": {
              "value": "",
              "type": "Expression"
            },
            "table_nm": {
              "value": "",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "RptLinkCount_JobLinkCount_Set",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "RptLinkCount_JobLinkCount",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "LinkCount",
          "value": {
            "type": "Expression",
            "value": "@string(activity('RptLinkCount_JobLinkCount').output.runOutput)"
          }
        }
      },
      {
        "name": "RptLinkCount_Ereplace",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "RptLinkCount_JobLinkCount_Set",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "userProperties": [],
        "typeProperties": {
          "notebookPath": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/Ereplace')",
          "baseParameters": {
            "Arg1": {
              "type": "Expression",
              "value": "@pipeline().parameters.Exec_CntrlFilePick_CommandOutput"
            },
            "Arg2": "@FM",
            "Arg3": "",
            "IDSOwner": {
              "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
              "type": "Expression"
            },
            "ids_secret_name": {
              "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
              "type": "Expression"
            },
            "GlobalEnvironment": {
              "value": "@pipeline().globalParameters.gbl_param_environment",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "RptLinkCount_Ereplace_Set",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "RptLinkCount_Ereplace",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "CntlFileName",
          "value": {
            "type": "Expression",
            "value": "@string(activity('RptLinkCount_Ereplace').output.runOutput)"
          }
        }
      },
      {
        "name": "If_4A",
        "type": "IfCondition",
        "dependsOn": [
          {
            "activity": "RptLinkCount_Ereplace_Set",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "expression": {
            "type": "Expression",
            "value": "@equals(contains(split(pipeline().parameters.LinkCount_ExclusionList,';'),'ProcessRptExtr'),false)"
          },
          "ifTrueActivities": [
            {
              "name": "ProcessRptExtr",
              "type": "DatabricksNotebook",
              "dependsOn": [],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "userProperties": [],
              "typeProperties": {
                "notebookPath": {
                  "type": "Expression",
                  "value": "@concat(pipeline().globalParameters.gbl_param_notebook_path,'/util/ProcessRpt/ProcessRptExtr')"
                },
                "baseParameters": {
                  "RunCycle": {
                    "type": "Expression",
                    "value": "@pipeline().parameters.Run_Cycle_RunCycle"
                  },
                  "Subject": {
                    "type": "Expression",
                    "value": "@pipeline().parameters.Initial_Subject"
                  },
                  "SourceSys": {
                    "type": "Expression",
                    "value": "@pipeline().parameters.Initial_Source"
                  },
                  "TargetSys": {
                    "type": "Expression",
                    "value": "@pipeline().parameters.Initial_Target"
                  },
                  "RowCount": {
                    "type": "Expression",
                    "value": "@variables('LinkCount')"
                  },
                  "IDSOwner": {
                    "type": "Expression",
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner"
                  },
                  "ids_secret_name": {
                    "type": "Expression",
                    "value": "@pipeline().globalParameters.gbl_param_IDSSecret"
                  },
                  "GlobalEnvironment": {
                    "type": "Expression",
                    "value": "@pipeline().globalParameters.gbl_param_environment"
                  }
                }
              }
            }
          ],
          "ifFalseActivities": []
        }
      },
      {
        "name": "CpSrcFile",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "ProcessRptExtr",
            "dependencyConditions": [
              "Succeeded"
            ]
          },
          {
            "activity": "If_4A_False_Skip",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "userProperties": [],
        "typeProperties": {
          "notebookPath": "@concat(pipeline().globalParameters.gbl_param_scripts, '/Generic_ADLS_File_Operations')",
          "baseParameters": {
            "src_file_with_path": {
              "value": "/landing",
              "type": "Expression"
            },
            "trgt_file_with_path": {
              "value": "/.",
              "type": "Expression"
            },
            "command": "copy",
            "project": "integrate"
          }
        }
      },
      {
        "name": "MvControlFile",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "CpSrcFile",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "userProperties": [],
        "typeProperties": {
          "notebookPath": "@concat(pipeline().globalParameters.gbl_param_scripts, '/Generic_ADLS_File_Operations')",
          "baseParameters": {
            "src_file_with_path": {
              "value": "/CntlFileName",
              "type": "Expression"
            },
            "trgt_file_with_path": {
              "value": "/.",
              "type": "Expression"
            },
            "command": "move",
            "project": "integrate"
          }
        }
      }
    ]
  }
}