npw-projects-np-projects-bluekc-translated-66e9366f6cca/Sprint_3_4_5/SequenceJobs/Integrate/OptumMedDBalancingClmCobColSumSeq.json
{
  "name": "OptumMedDBalancingClmCobColSumSeq",
  "type": "Microsoft.DataFactory/factories/pipelines",
  "properties": {
    "folder": {
      "name": "Integrate/Jobs/claim/SeqOptum"
    },
    "parameters": {
      "RunCycle": {
        "type": "String",
        "defaultValue": ""
      },
      "RunID": {
        "type": "String",
        "defaultValue": ""
      },
      "ExclusionList": {
        "type": "String",
        "defaultValue": "\"\""
      },
      "CurrentDate": {
        "type": "String",
        "defaultValue": ""
      },
      "Source": {
        "type": "String",
        "defaultValue": ""
      }
    },
    "variables": {
      "ToleranceCd": {
        "type": "String",
        "defaultValue": ""
      },
      "LinkCount": {
        "type": "String",
        "defaultValue": ""
      }
    },
    "activities": [
      {
        "name": "If_2A",
        "type": "IfCondition",
        "dependsOn": [],
        "userProperties": [],
        "typeProperties": {
          "expression": {
            "value": "@equals(contains(split(string(pipeline().parameters.ExclusionList), ';'), 'ClmCobAlwAmtBalance'), false)",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "name": "GetClmnSumTlrnc_Alw",
              "type": "DatabricksNotebook",
              "dependsOn": [],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/GetClmnSumTlrnc')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "owner_schema": {
                    "value": "@pipeline().globalParameters.gbl_param_UWSOwner",
                    "type": "Expression"
                  },
                  "secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_UWSSecret",
                    "type": "Expression"
                  },
                  "GlobalEnvironment": {
                    "value": "@pipeline().globalParameters.gbl_param_environment",
                    "type": "Expression"
                  },
                  "TargetTable": "CLM_COB",
                  "TargetColumn": "ALW_AMT",
                  "SubjectArea": "Claims"
                }
              }
            },
            {
              "name": "Set_ToleranceCd_Alw",
              "type": "SetVariable",
              "dependsOn": [
                {
                  "activity": "GetClmnSumTlrnc_Alw",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "ToleranceCd",
                "value": {
                  "value": "@string(activity('GetClmnSumTlrnc_Alw').output.runOutput)",
                  "type": "Expression"
                }
              }
            },
            {
              "name": "ClmCobAlwAmtBalance",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "Set_ToleranceCd_Alw",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_notebook_path, '/claim/Balancing/ClmColumnSumJoinBal')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "RunID": {
                    "value": "@pipeline().parameters.RunID",
                    "type": "Expression"
                  },
                  "ToleranceCd": {
                    "value": "@variables('ToleranceCd')",
                    "type": "Expression"
                  },
                  "ExtrRunCycle": {
                    "value": "@pipeline().parameters.RunCycle",
                    "type": "Expression"
                  },
                  "SrcTableName": "B_CLM_COB",
                  "SrcColumnName": "ALW_AMT",
                  "TrgtTableName": "CLM_COB",
                  "TrgtColumnName": "ALW_AMT",
                  "SrcOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "ids_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                    "type": "Expression"
                  },
                  "TrgtOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "UWSOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_UWSOwner",
                    "type": "Expression"
                  },
                  "uws_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_UWSSecret",
                    "type": "Expression"
                  },
                  "CurrentDate": {
                    "value": "@pipeline().parameters.CurrentDate",
                    "type": "Expression"
                  },
                  "Source": {
                    "value": "@pipeline().parameters.Source",
                    "type": "Expression"
                  }
                }
              }
            }
          ],
          "ifFalseActivities": []
        }
      },
      {
        "name": "If_2B",
        "type": "IfCondition",
        "dependsOn": [
          {
            "activity": "If_2A",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "expression": {
            "value": "@equals(contains(split(string(pipeline().parameters.ExclusionList), ';'), 'ClmCobPdAmtBalance'), false)",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "name": "GetClmnSumTlrnc_Pd",
              "type": "DatabricksNotebook",
              "dependsOn": [],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/GetClmnSumTlrnc')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "owner_schema": {
                    "value": "@pipeline().globalParameters.gbl_param_UWSOwner",
                    "type": "Expression"
                  },
                  "secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_UWSSecret",
                    "type": "Expression"
                  },
                  "GlobalEnvironment": {
                    "value": "@pipeline().globalParameters.gbl_param_environment",
                    "type": "Expression"
                  },
                  "TargetTable": "CLM_COB",
                  "TargetColumn": "PD_AMT",
                  "SubjectArea": "Claims"
                }
              }
            },
            {
              "name": "Set_ToleranceCd_Pd",
              "type": "SetVariable",
              "dependsOn": [
                {
                  "activity": "GetClmnSumTlrnc_Pd",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "ToleranceCd",
                "value": {
                  "value": "@string(activity('GetClmnSumTlrnc_Pd').output.runOutput)",
                  "type": "Expression"
                }
              }
            },
            {
              "name": "ClmCobPdAmtBalance",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "Set_ToleranceCd_Pd",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_notebook_path, '/claim/Balancing/ClmColumnSumJoinBal')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "RunID": {
                    "value": "@pipeline().parameters.RunID",
                    "type": "Expression"
                  },
                  "ToleranceCd": {
                    "value": "@variables('ToleranceCd')",
                    "type": "Expression"
                  },
                  "ExtrRunCycle": {
                    "value": "@pipeline().parameters.RunCycle",
                    "type": "Expression"
                  },
                  "SrcTableName": "B_CLM_COB",
                  "SrcColumnName": "PD_AMT",
                  "TrgtTableName": "CLM_COB",
                  "TrgtColumnName": "PD_AMT",
                  "SrcOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "ids_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                    "type": "Expression"
                  },
                  "TrgtOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "UWSOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_UWSOwner",
                    "type": "Expression"
                  },
                  "uws_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_UWSSecret",
                    "type": "Expression"
                  },
                  "CurrentDate": {
                    "value": "@pipeline().parameters.CurrentDate",
                    "type": "Expression"
                  },
                  "Source": {
                    "value": "@pipeline().parameters.Source",
                    "type": "Expression"
                  }
                }
              }
            }
          ],
          "ifFalseActivities": []
        }
      }
    ]
  }
}