npw-projects-np-projects-bluekc-translated-66e9366f6cca/Sprint_3_4_5/SequenceJobs/Integrate/OptumBalancingDrugClmACAReprcsRsltRowCntSeq.json
{
  "name": "OptumBalancingDrugClmACAReprcsRsltRowCntSeq",
  "type": "Microsoft.DataFactory/factories/pipelines",
  "properties": {
    "folder": {
      "name": "Integrate/Jobs/claim/SeqBalancing"
    },
    "parameters": {
      "RunCycle": {
        "type": "String",
        "defaultValue": ""
      },
      "RunID": {
        "type": "String",
        "defaultValue": ""
      },
      "ExclusionList": {
        "type": "String",
        "defaultValue": ""
      },
      "CurrentDate": {
        "type": "String",
        "defaultValue": ""
      },
      "SrcSysCd": {
        "type": "String",
        "defaultValue": ""
      }
    },
    "variables": {
      "GetRowCtTlrnc_a1": {
        "type": "String",
        "defaultValue": ""
      },
      "GetRowCtTlrnc_a2": {
        "type": "String",
        "defaultValue": "DRUG_CLM_ACA_REPRCS_RSLT"
      },
      "GetRowCtTlrnc_a3": {
        "type": "String",
        "defaultValue": "Claims"
      },
      "ToleranceCd": {
        "type": "String",
        "defaultValue": ""
      },
      "LinkCount": {
        "type": "String",
        "defaultValue": ""
      }
    },
    "activities": [
      {
        "name": "Set_GetRowCtTlrnc_a1",
        "type": "SetVariable",
        "dependsOn": [],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "GetRowCtTlrnc_a1",
          "value": {
            "value": "@pipeline().globalParameters.gbl_param_UWSOwner",
            "type": "Expression"
          }
        }
      },
      {
        "name": "GetRowCtTlrnc",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "Set_GetRowCtTlrnc_a1",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/GetRowCtTlrnc')",
            "type": "Expression"
          },
          "baseParameters": {
            "owner_schema": {
              "value": "@pipeline().globalParameters.gbl_param_UWSOwner",
              "type": "Expression"
            },
            "secret_name": {
              "value": "@pipeline().globalParameters.gbl_param_UWSSecret",
              "type": "Expression"
            },
            "GlobalEnvironment": {
              "value": "@pipeline().globalParameters.gbl_param_environment",
              "type": "Expression"
            },
            "GetRowCtTlrnc_a1": {
              "value": "@variables('GetRowCtTlrnc_a1')",
              "type": "Expression"
            },
            "GetRowCtTlrnc_a2": "DRUG_CLM_ACA_REPRCS_RSLT",
            "GetRowCtTlrnc_a3": "Claims",
            "TargetTable": {
              "value": "",
              "type": "Expression"
            },
            "SubjectArea": {
              "value": "",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "Set_ToleranceCd",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "GetRowCtTlrnc",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "ToleranceCd",
          "value": {
            "value": "@string(activity('GetRowCtTlrnc').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "If_10B",
        "type": "IfCondition",
        "dependsOn": [
          {
            "activity": "Set_ToleranceCd",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "expression": {
            "value": "@equals(contains(split(string(pipeline().parameters.ExclusionList), ';'), 'ClmSuppRowCntBal'), false)",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "name": "ClmSuppRowCntBal",
              "type": "DatabricksNotebook",
              "dependsOn": [],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_notebook_path, '/claim/Balancing/ClmSuppRowCntBal')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "RunID": {
                    "value": "@pipeline().parameters.RunID",
                    "type": "Expression"
                  },
                  "ToleranceCd": {
                    "value": "@variables('ToleranceCd')",
                    "type": "Expression"
                  },
                  "IDSOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "ids_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                    "type": "Expression"
                  },
                  "ExtrRunCycle": {
                    "value": "@pipeline().parameters.RunCycle",
                    "type": "Expression"
                  },
                  "TrgtTable": "DRUG_CLM_ACA_REPRCS_RSLT",
                  "SrcTable": "B_DRUG_CLM_ACA_REPRCS_RSLT",
                  "NotifyMessage": {
                    "value": "@concat('ROW COUNT BALANCING ', pipeline().parameters.SrcSysCd, ' - IDS DRUG_CLM_ACA_REPRCS_RSLT  OUT OF TOLERANCE')",
                    "type": "Expression"
                  },
                  "UWSOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_UWSOwner",
                    "type": "Expression"
                  },
                  "uws_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_UWSSecret",
                    "type": "Expression"
                  },
                  "SubjectArea": "Claims",
                  "CurrentDate": {
                    "value": "@pipeline().parameters.CurrentDate",
                    "type": "Expression"
                  }
                }
              }
            }
          ],
          "ifFalseActivities": []
        }
      }
    ]
  }
}