npw-projects-np-projects-bluekc-translated-66e9366f6cca/Sprint_3_4_5/SequenceJobs/Integrate/SavRxDrugCntl1.json
{
  "name": "SavRxDrugCntl1",
  "type": "Microsoft.DataFactory/factories/pipelines",
  "properties": {
    "folder": {
      "name": "Integrate/Jobs/claim"
    },
    "parameters": {
      "$EDWFilePath": {
        "type": "String",
        "defaultValue": ""
      },
      "$EmailSupport": {
        "type": "String",
        "defaultValue": ""
      },
      "$IDSOwner": {
        "type": "String",
        "defaultValue": ""
      },
      "$CactusOwner": {
        "type": "String",
        "defaultValue": ""
      },
      "$UWSOwner": {
        "type": "String",
        "defaultValue": ""
      },
      "VendorEmail": {
        "type": "String",
        "defaultValue": "kaushik.kapoor@bluekc.com"
      },
      "Env": {
        "type": "String",
        "defaultValue": ""
      },
      "ListFiles_FileList": {
        "type": "String",
        "defaultValue": ""
      },
      "Initial_Source": {
        "type": "String",
        "defaultValue": ""
      },
      "Initial_Target": {
        "type": "String",
        "defaultValue": ""
      },
      "Initial_Subject": {
        "type": "String",
        "defaultValue": ""
      },
      "Initial_Frequency": {
        "type": "String",
        "defaultValue": ""
      },
      "Initial_JobName": {
        "type": "String",
        "defaultValue": ""
      },
      "LinkCount_ExclusionList": {
        "type": "String",
        "defaultValue": ""
      },
      "Variables_SrcSysCdSk": {
        "type": "String",
        "defaultValue": ""
      }
    },
    "variables": {
      "RunCycle": {
        "type": "String",
        "defaultValue": ""
      },
      "ProvRunCycle": {
        "type": "String",
        "defaultValue": ""
      },
      "RunID": {
        "type": "String",
        "defaultValue": ""
      },
      "RunCycleDate": {
        "type": "String",
        "defaultValue": ""
      },
      "Logging": {
        "type": "String",
        "defaultValue": ""
      },
      "CurrRunCycle": {
        "type": "String",
        "defaultValue": ""
      },
      "FillDtMin": {
        "type": "String",
        "defaultValue": ""
      },
      "LinkCount": {
        "type": "String",
        "defaultValue": ""
      },
      "StartLoop_Counter": {
        "type": "String"
      }
    },
    "activities": [
      {
        "name": "StartLoop",
        "type": "ForEach",
        "dependsOn": [],
        "policy": {
          "timeout": "7.00:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "typeProperties": {
          "items": {
            "value": "@pipeline().parameters.ListFiles_FileList",
            "type": "Expression"
          },
          "activities": [
            {
              "name": "Notebook_Run_Cycle",
              "type": "DatabricksNotebook",
              "dependsOn": [],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/OpenRunCycle')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "DBOwner": {
                    "value": "@pipeline().parameters.$IDSOwner",
                    "type": "Expression"
                  },
                  "Target": {
                    "value": "@pipeline().parameters.Initial_Source",
                    "type": "Expression"
                  },
                  "Subject": {
                    "value": "@pipeline().parameters.Initial_Target",
                    "type": "Expression"
                  },
                  "Frequency": {
                    "value": "@pipeline().parameters.Initial_Frequency",
                    "type": "Expression"
                  },
                  "GlobalEnvironment": {
                    "value": "@pipeline().parameters.Env",
                    "type": "Expression"
                  },
                  "secret_name": {
                    "value": "",
                    "type": "Expression"
                  },
                  "Source": {
                    "value": "",
                    "type": "Expression"
                  }
                }
              }
            },
            {
              "name": "SetVar_RunCycle",
              "type": "SetVariable",
              "dependsOn": [
                {
                  "activity": "Notebook_Run_Cycle",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "typeProperties": {
                "variableName": "RunCycle",
                "value": {
                  "value": "@string(activity('Notebook_Run_Cycle').output.runOutput)",
                  "type": "Expression"
                }
              }
            },
            {
              "name": "Notebook_ProvRunCycle",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "SetVar_RunCycle",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/OpenRunCycle')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "DBOwner": {
                    "value": "@pipeline().parameters.$IDSOwner",
                    "type": "Expression"
                  },
                  "Target": {
                    "value": "NABP",
                    "type": "String"
                  },
                  "Subject": {
                    "value": "IDS",
                    "type": "String"
                  },
                  "Frequency": {
                    "value": "DAILY",
                    "type": "String"
                  },
                  "GlobalEnvironment": {
                    "value": "@pipeline().parameters.Env",
                    "type": "Expression"
                  },
                  "secret_name": {
                    "value": "",
                    "type": "Expression"
                  },
                  "Source": {
                    "value": "",
                    "type": "Expression"
                  }
                }
              }
            },
            {
              "name": "SetVar_ProvRunCycle",
              "type": "SetVariable",
              "dependsOn": [
                {
                  "activity": "Notebook_ProvRunCycle",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "typeProperties": {
                "variableName": "ProvRunCycle",
                "value": {
                  "value": "@string(activity('Notebook_ProvRunCycle').output.runOutput)",
                  "type": "Expression"
                }
              }
            },
            {
              "name": "Notebook_WriteRunID",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "SetVar_ProvRunCycle",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/WriteRunID')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "entry_name": {
                    "value": "@concat(pipeline().parameters.Initial_JobName, ':\"RunID\"')",
                    "type": "Expression"
                  },
                  "GlobalEnvironment": {
                    "value": "@pipeline().parameters.Env",
                    "type": "Expression"
                  },
                  "secret_name": {
                    "value": "",
                    "type": "Expression"
                  },
                  "IDSOwner": {
                    "value": "",
                    "type": "Expression"
                  }
                }
              }
            },
            {
              "name": "SetVar_RunID",
              "type": "SetVariable",
              "dependsOn": [
                {
                  "activity": "Notebook_WriteRunID",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "typeProperties": {
                "variableName": "RunID",
                "value": {
                  "value": "@string(activity('Notebook_WriteRunID').output.runOutput)",
                  "type": "Expression"
                }
              }
            },
            {
              "name": "Notebook_GetRunInfo_RunID",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "SetVar_RunID",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/GetRunInfo')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "p1": {
                    "value": "@concat(pipeline().parameters.Initial_JobName, ':\"RunID\"')",
                    "type": "Expression"
                  },
                  "GlobalEnvironment": {
                    "value": "@pipeline().parameters.Env",
                    "type": "Expression"
                  },
                  "job_name": {
                    "value": "",
                    "type": "Expression"
                  },
                  "secret_name": {
                    "value": "",
                    "type": "Expression"
                  },
                  "IDSOwner": {
                    "value": "",
                    "type": "Expression"
                  }
                }
              }
            },
            {
              "name": "SetVar_RunID2",
              "type": "SetVariable",
              "dependsOn": [
                {
                  "activity": "Notebook_GetRunInfo_RunID",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "typeProperties": {
                "variableName": "RunID",
                "value": {
                  "value": "@string(activity('Notebook_GetRunInfo_RunID').output.runOutput)",
                  "type": "Expression"
                }
              }
            },
            {
              "name": "Notebook_GetRunCycleDate",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "SetVar_RunID2",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/GetRunCycleDate')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "DBOwner": {
                    "value": "@pipeline().parameters.$IDSOwner",
                    "type": "Expression"
                  },
                  "Subject": {
                    "value": "@pipeline().parameters.Initial_Subject",
                    "type": "Expression"
                  },
                  "SourceSystem": {
                    "value": "@pipeline().parameters.Initial_Source",
                    "type": "Expression"
                  },
                  "TargetSystem": {
                    "value": "@pipeline().parameters.Initial_Target",
                    "type": "Expression"
                  },
                  "RunCycle": {
                    "value": "@variables('RunCycle')",
                    "type": "Expression"
                  },
                  "GlobalEnvironment": {
                    "value": "@pipeline().parameters.Env",
                    "type": "Expression"
                  },
                  "secret_name": {
                    "value": "",
                    "type": "Expression"
                  }
                }
              }
            },
            {
              "name": "SetVar_RunCycleDate",
              "type": "SetVariable",
              "dependsOn": [
                {
                  "activity": "Notebook_GetRunCycleDate",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "typeProperties": {
                "variableName": "RunCycleDate",
                "value": {
                  "value": "@string(activity('Notebook_GetRunCycleDate').output.runOutput)",
                  "type": "Expression"
                }
              }
            },
            {
              "name": "SetVar_Logging",
              "type": "SetVariable",
              "dependsOn": [
                {
                  "activity": "SetVar_RunCycleDate",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "typeProperties": {
                "variableName": "Logging",
                "value": {
                  "value": "N",
                  "type": "String"
                }
              }
            },
            {
              "name": "SetVar_CurrRunCycle",
              "type": "SetVariable",
              "dependsOn": [
                {
                  "activity": "SetVar_Logging",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "typeProperties": {
                "variableName": "CurrRunCycle",
                "value": {
                  "value": "@variables('RunCycle')",
                  "type": "Expression"
                }
              }
            },
            {
              "name": "Notebook_GetFillDtMin",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "SetVar_CurrRunCycle",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/GetRunInfo')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "p1": {
                    "value": "\"IdsClmMartDrugCntlFillDtMin\"",
                    "type": "String"
                  },
                  "GlobalEnvironment": {
                    "value": "@pipeline().parameters.Env",
                    "type": "Expression"
                  },
                  "job_name": {
                    "value": "",
                    "type": "Expression"
                  },
                  "secret_name": {
                    "value": "",
                    "type": "Expression"
                  },
                  "IDSOwner": {
                    "value": "",
                    "type": "Expression"
                  }
                }
              }
            },
            {
              "name": "SetVar_FillDtMin",
              "type": "SetVariable",
              "dependsOn": [
                {
                  "activity": "Notebook_GetFillDtMin",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "typeProperties": {
                "variableName": "FillDtMin",
                "value": {
                  "value": "@string(activity('Notebook_GetFillDtMin').output.runOutput)",
                  "type": "Expression"
                }
              }
            },
            {
              "name": "SavRxDrugCntl2",
              "type": "ExecutePipeline",
              "dependsOn": [
                {
                  "activity": "SetVar_FillDtMin",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureInput": false
              },
              "typeProperties": {
                "pipeline": {
                  "referenceName": "SavRxDrugCntl2",
                  "type": "PipelineReference"
                },
                "parameters": {
                  "EDWFilePath": {
                    "value": "@pipeline().globalParameters.gbl_param_EDWFilePath",
                    "type": "Expression"
                  },
                  "EmailSupport": {
                    "value": "@pipeline().globalParameters.gbl_param_EmailSupport",
                    "type": "Expression"
                  },
                  "IDSOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "ids_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                    "type": "Expression"
                  },
                  "CactusOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_CactusOwner",
                    "type": "Expression"
                  },
                  "cactus_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_CactusSecret",
                    "type": "Expression"
                  },
                  "UWSOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_UWSOwner",
                    "type": "Expression"
                  },
                  "uws_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_UWSSecret",
                    "type": "Expression"
                  },
                  "VendorEmail": {
                    "value": "@pipeline().parameters.VendorEmail",
                    "type": "Expression"
                  },
                  "Env": {
                    "value": "@pipeline().parameters.Env",
                    "type": "Expression"
                  },
                  "ListFiles_FileList": {
                    "value": "@pipeline().parameters.ListFiles_FileList",
                    "type": "Expression"
                  },
                  "Initial_Source": {
                    "value": "@pipeline().parameters.Initial_Source",
                    "type": "Expression"
                  },
                  "Initial_Target": {
                    "value": "@pipeline().parameters.Initial_Target",
                    "type": "Expression"
                  },
                  "Initial_Subject": {
                    "value": "@pipeline().parameters.Initial_Subject",
                    "type": "Expression"
                  },
                  "Initial_Frequency": {
                    "value": "@pipeline().parameters.Initial_Frequency",
                    "type": "Expression"
                  },
                  "Initial_JobName": {
                    "value": "@pipeline().parameters.Initial_JobName",
                    "type": "Expression"
                  },
                  "LinkCount_ExclusionList": {
                    "value": "@pipeline().parameters.LinkCount_ExclusionList",
                    "type": "Expression"
                  },
                  "Variables_SrcSysCdSk": {
                    "value": "@pipeline().parameters.Variables_SrcSysCdSk",
                    "type": "Expression"
                  },
                  "Run_Cycle_RunCycle": {
                    "value": "@variables('RunCycle')",
                    "type": "Expression"
                  },
                  "StartLoop_Counter": {
                    "value": "@variables('StartLoop_Counter')",
                    "type": "Expression"
                  },
                  "Run_Cycle_ProvRunCycle": {
                    "value": "@variables('ProvRunCycle')",
                    "type": "Expression"
                  },
                  "LoopVariables_RunID": {
                    "value": "@variables('RunID')",
                    "type": "Expression"
                  },
                  "LoopVariables_RunCycleDate": {
                    "value": "@variables('RunCycleDate')",
                    "type": "Expression"
                  },
                  "LoopVariables_Logging": {
                    "value": "@variables('Logging')",
                    "type": "Expression"
                  }
                },
                "waitOnCompletion": true
              }
            },
            {
              "name": "If_3A",
              "type": "IfCondition",
              "dependsOn": [
                {
                  "activity": "SavRxDrugCntl2",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "7.00:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "typeProperties": {
                "expression": {
                  "value": "@equals(contains(pipeline().parameters.LinkCount_ExclusionList,'IDSDrugDailyCleanupSeq'),false)",
                  "type": "Expression"
                },
                "ifTrueActivities": [
                  {
                    "name": "IDSDrugDailyCleanupSeq",
                    "type": "ExecutePipeline",
                    "dependsOn": [],
                    "policy": {
                      "secureInput": false
                    },
                    "typeProperties": {
                      "pipeline": {
                        "referenceName": "IDSDrugDailyCleanupSeq",
                        "type": "PipelineReference"
                      },
                      "parameters": {
                        "ExclusionList": {
                          "value": "@pipeline().parameters.LinkCount_ExclusionList",
                          "type": "Expression"
                        },
                        "RunID": {
                          "value": "@variables('RunID')",
                          "type": "Expression"
                        },
                        "IDSOwner": {
                          "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                          "type": "Expression"
                        },
                        "ids_secret_name": {
                          "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                          "type": "Expression"
                        }
                      },
                      "waitOnCompletion": true
                    }
                  }
                ],
                "ifFalseActivities": []
              }
            },
            {
              "name": "Notebook_CloseRunCycle",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "If_3A",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                },
                {
                  "activity": "IDSDrugDailyCleanupSeq",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/CloseRunCycle')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "DBOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                    "type": "Expression"
                  },
                  "SrcSystem": {
                    "value": "@pipeline().parameters.Initial_Source",
                    "type": "Expression"
                  },
                  "TrgtSystem": {
                    "value": "@pipeline().parameters.Initial_Target",
                    "type": "Expression"
                  },
                  "SubjCode": {
                    "value": "@pipeline().parameters.Initial_Subject",
                    "type": "Expression"
                  },
                  "FreqCode": {
                    "value": "@pipeline().parameters.Initial_Frequency",
                    "type": "Expression"
                  },
                  "RunCycle": {
                    "value": "@variables('RunCycle')",
                    "type": "Expression"
                  },
                  "GlobalEnvironment": {
                    "value": "@pipeline().parameters.Env",
                    "type": "Expression"
                  }
                }
              }
            },
            {
              "name": "Notebook_CloseProvRunCycle",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "Notebook_CloseRunCycle",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/CloseRunCycle')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "DBOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                    "type": "Expression"
                  },
                  "SrcSystem": {
                    "value": "NABP",
                    "type": "String"
                  },
                  "TrgtSystem": {
                    "value": "IDS",
                    "type": "String"
                  },
                  "SubjCode": {
                    "value": "PROVIDERS",
                    "type": "String"
                  },
                  "FreqCode": {
                    "value": "DAILY",
                    "type": "String"
                  },
                  "RunCycle": {
                    "value": "@variables('ProvRunCycle')",
                    "type": "Expression"
                  },
                  "GlobalEnvironment": {
                    "value": "@pipeline().parameters.Env",
                    "type": "Expression"
                  }
                }
              }
            },
            {
              "name": "Notebook_RptLinkCount",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "Notebook_CloseProvRunCycle",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/JobLinkCount')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "p1": {
                    "value": "IdsClmFkey",
                    "type": "String"
                  },
                  "p2": {
                    "value": "Trans3",
                    "type": "String"
                  },
                  "p3": {
                    "value": "LoadFile",
                    "type": "String"
                  },
                  "GlobalEnvironment": {
                    "value": "@pipeline().parameters.Env",
                    "type": "Expression"
                  },
                  "file_path": {
                    "value": "",
                    "type": "Expression"
                  },
                  "EnvProjectPath": {
                    "value": "",
                    "type": "Expression"
                  },
                  "delimiter": {
                    "value": "",
                    "type": "Expression"
                  },
                  "quote": {
                    "value": "",
                    "type": "Expression"
                  },
                  "header": {
                    "value": "",
                    "type": "Expression"
                  },
                  "nullValue": {
                    "value": "",
                    "type": "Expression"
                  },
                  "table_nm": {
                    "value": "",
                    "type": "Expression"
                  },
                  "schema": {
                    "value": "",
                    "type": "Expression"
                  },
                  "secret_name": {
                    "value": "",
                    "type": "Expression"
                  }
                }
              }
            },
            {
              "name": "SetVar_LinkCount",
              "type": "SetVariable",
              "dependsOn": [
                {
                  "activity": "Notebook_RptLinkCount",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "typeProperties": {
                "variableName": "LinkCount",
                "value": {
                  "value": "@string(activity('Notebook_RptLinkCount').output.runOutput)",
                  "type": "Expression"
                }
              }
            },
            {
              "name": "If_4A",
              "type": "IfCondition",
              "dependsOn": [
                {
                  "activity": "SetVar_LinkCount",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "7.00:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "typeProperties": {
                "expression": {
                  "value": "@equals(contains(pipeline().parameters.LinkCount_ExclusionList,'ProcessRptExtr'),false)",
                  "type": "Expression"
                },
                "ifTrueActivities": [
                  {
                    "name": "ProcessRptExtr",
                    "type": "DatabricksNotebook",
                    "dependsOn": [],
                    "policy": {
                      "timeout": "12:00:00",
                      "retry": 0,
                      "retryIntervalInSeconds": 30,
                      "secureOutput": false,
                      "secureInput": false
                    },
                    "linkedServiceName": {
                      "referenceName": "shareddatabricks",
                      "type": "LinkedServiceReference"
                    },
                    "typeProperties": {
                      "notebookPath": {
                        "value": "@concat(pipeline().globalParameters.gbl_param_notebook_path, '/util/ProcessRpt/ProcessRptExtr')",
                        "type": "Expression"
                      },
                      "baseParameters": {
                        "RunCycle": {
                          "value": "@variables('RunCycle')",
                          "type": "Expression"
                        },
                        "Subject": {
                          "value": "@pipeline().parameters.Initial_Subject",
                          "type": "Expression"
                        },
                        "SourceSys": {
                          "value": "@pipeline().parameters.Initial_Source",
                          "type": "Expression"
                        },
                        "TargetSys": {
                          "value": "@pipeline().parameters.Initial_Target",
                          "type": "Expression"
                        },
                        "RowCount": {
                          "value": "@variables('LinkCount')",
                          "type": "Expression"
                        },
                        "IDSOwner": {
                          "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                          "type": "Expression"
                        },
                        "ids_secret_name": {
                          "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                          "type": "Expression"
                        }
                      }
                    }
                  }
                ],
                "ifFalseActivities": []
              }
            },
            {
              "name": "CpSrcFile",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "If_4A",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                },
                {
                  "activity": "ProcessRptExtr",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_scripts, '/Generic_ADLS_File_Operations')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "command": {
                    "value": "copy",
                    "type": "String"
                  },
                  "project": {
                    "value": "integrate",
                    "type": "String"
                  }
                }
              }
            }
          ]
        }
      },
      {
        "name": "MvSrcFile",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "StartLoop",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_scripts, '/Generic_ADLS_File_Operations')",
            "type": "Expression"
          },
          "baseParameters": {
            "command": {
              "value": "move",
              "type": "String"
            },
            "project": {
              "value": "integrate",
              "type": "String"
            }
          }
        }
      },
      {
        "name": "CheckControlFile",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "MvSrcFile",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_scripts, '/Generic_ADLS_File_Operations')",
            "type": "Expression"
          },
          "baseParameters": {
            "command": {
              "value": "touch",
              "type": "String"
            },
            "project": {
              "value": "integrate",
              "type": "String"
            }
          }
        }
      },
      {
        "name": "Switch_CheckControlFile",
        "type": "Switch",
        "dependsOn": [
          {
            "activity": "CheckControlFile",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "7.00:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "typeProperties": {
          "on": {
            "value": "@if(equals(activity('CheckControlFile').output.runStatus,'0'),1,if(equals(activity('CheckControlFile').output.runStatus,'1'),2,3))",
            "type": "Expression"
          },
          "cases": [
            {
              "value": "1",
              "activities": [
                {
                  "name": "MvControlFile",
                  "type": "DatabricksNotebook",
                  "dependsOn": [],
                  "policy": {
                    "timeout": "12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "linkedServiceName": {
                    "referenceName": "shareddatabricks",
                    "type": "LinkedServiceReference"
                  },
                  "typeProperties": {
                    "notebookPath": {
                      "value": "@concat(pipeline().globalParameters.gbl_param_scripts, '/Generic_ADLS_File_Operations')",
                      "type": "Expression"
                    },
                    "baseParameters": {
                      "command": {
                        "value": "move",
                        "type": "String"
                      },
                      "project": {
                        "value": "integrate",
                        "type": "String"
                      }
                    }
                  }
                }
              ]
            }
          ],
          "defaultActivities": []
        }
      }
    ]
  }
}