npw-projects-np-projects-bluekc-translated-66e9366f6cca/Sprint_3_4_5/SequenceJobs/Integrate/WellLifeClnclHlthScreenBalCntl.json
{
  "name": "WellLifeClnclHlthScreenBalCntl",
  "type": "Microsoft.DataFactory/factories/pipelines",
  "properties": {
    "folder": {
      "name": "Integrate/Jobs/MedMgt"
    },
    "parameters": {
      "Logging": {
        "type": "String",
        "defaultValue": "Y"
      },
      "SrcSysCd": {
        "type": "String",
        "defaultValue": ""
      }
    },
    "variables": {
      "JobName": {
        "type": "String",
        "defaultValue": ""
      },
      "GroupName": {
        "type": "String",
        "defaultValue": "IDS_MEDMGT"
      },
      "Source": {
        "type": "String",
        "defaultValue": ""
      },
      "Target": {
        "type": "String",
        "defaultValue": "IDS"
      },
      "Subject": {
        "type": "String",
        "defaultValue": "HEALTH_SCREEN"
      },
      "Frequency": {
        "type": "String",
        "defaultValue": "DAILY"
      },
      "Load": {
        "type": "String",
        "defaultValue": "ROW_CT"
      },
      "ExclusionList": {
        "type": "String",
        "defaultValue": ""
      },
      "RunID": {
        "type": "String",
        "defaultValue": ""
      },
      "CurrDate": {
        "type": "String",
        "defaultValue": ""
      },
      "ExtrRunCycle": {
        "type": "String",
        "defaultValue": ""
      },
      "var_If_1A_branch_True": {
        "type": "String",
        "defaultValue": "0"
      },
      "var_If_1A_branch_False": {
        "type": "String",
        "defaultValue": "0"
      },
      "var_If_3A_branch_True": {
        "type": "String",
        "defaultValue": "0"
      },
      "var_If_3A_branch_False": {
        "type": "String",
        "defaultValue": "0"
      },
      "var_If_3A_Continuation_branch_True": {
        "type": "String",
        "defaultValue": "0"
      },
      "var_If_3A_Continuation_branch_False": {
        "type": "String",
        "defaultValue": "0"
      },
      "var_If_2A_branch_True": {
        "type": "String",
        "defaultValue": "0"
      },
      "var_If_2A_branch_False": {
        "type": "String",
        "defaultValue": "0"
      },
      "LinkCount": {
        "type": "String",
        "defaultValue": ""
      }
    },
    "activities": [
      {
        "name": "var_Initial_JobName_Set",
        "type": "SetVariable",
        "dependsOn": [],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "JobName",
          "value": {
            "type": "Expression",
            "value": "@pipeline().Pipeline"
          }
        }
      },
      {
        "name": "var_Initial_Source_Set",
        "type": "SetVariable",
        "dependsOn": [],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "Source",
          "value": {
            "type": "Expression",
            "value": "@pipeline().parameters.SrcSysCd"
          }
        }
      },
      {
        "name": "ExclusionListExtr",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "var_Initial_JobName_Set",
            "dependencyConditions": [
              "Succeeded"
            ]
          },
          {
            "activity": "var_Initial_Source_Set",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_notebook_path,'/JobSequencer/CommonComponents/ExclusionListExtr')",
            "type": "Expression"
          },
          "baseParameters": {
            "ids_owner_schema": {
              "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
              "type": "Expression"
            },
            "ids_secret_name": {
              "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
              "type": "Expression"
            },
            "Subject": {
              "value": "@variables('JobName')",
              "type": "Expression"
            },
            "ids_staging_schema": {
              "value": "@pipeline().globalParameters.gbl_param_ids_staging",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "WriteRunID_notebook",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "ExclusionListExtr",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "type": "Expression",
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/WriteRunID')"
          },
          "baseParameters": {
            "IDSOwner": {
              "type": "Expression",
              "value": "@pipeline().globalParameters.gbl_param_IDSOwner"
            },
            "secret_name": {
              "type": "Expression",
              "value": "@pipeline().globalParameters.gbl_param_IDSSecret"
            },
            "GlobalEnvironment": {
              "type": "Expression",
              "value": "@pipeline().globalParameters.gbl_param_environment"
            },
            "entry_name": {
              "value": "@concat(variables('JobName'),'RunID')",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "Variables_GetExclusionList_notebook",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "WriteRunID_notebook",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "type": "Expression",
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/GetExclusionList')"
          },
          "baseParameters": {
            "DBOwner": {
              "type": "Expression",
              "value": "@pipeline().globalParameters.gbl_param_IDSOwner"
            },
            "secret_name": {
              "type": "Expression",
              "value": "@pipeline().globalParameters.gbl_param_IDSSecret"
            },
            "GlobalEnvironment": {
              "type": "Expression",
              "value": "@pipeline().globalParameters.gbl_param_environment"
            },
            "Subject": {
              "type": "Expression",
              "value": "@variables('JobName')"
            }
          }
        }
      },
      {
        "name": "Variables_ExclusionList_Set",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "Variables_GetExclusionList_notebook",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "ExclusionList",
          "value": {
            "type": "Expression",
            "value": "@string(activity('Variables_GetExclusionList_notebook').output.runOutput)"
          }
        }
      },
      {
        "name": "Variables_GetRunInfo_notebook",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "Variables_ExclusionList_Set",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "type": "Expression",
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/GetRunInfo')"
          },
          "baseParameters": {
            "IDSOwner": {
              "type": "Expression",
              "value": "@pipeline().globalParameters.gbl_param_IDSOwner"
            },
            "secret_name": {
              "type": "Expression",
              "value": "@pipeline().globalParameters.gbl_param_IDSSecret"
            },
            "GlobalEnvironment": {
              "type": "Expression",
              "value": "@pipeline().globalParameters.gbl_param_environment"
            },
            "job_name": {
              "type": "Expression",
              "value": "@concat(variables('JobName'),'RunID')"
            }
          }
        }
      },
      {
        "name": "Variables_RunID_Set",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "Variables_GetRunInfo_notebook",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "RunID",
          "value": {
            "type": "Expression",
            "value": "@string(activity('Variables_GetRunInfo_notebook').output.runOutput)"
          }
        }
      },
      {
        "name": "Variables_FORMAT_DATE_notebook",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "Variables_RunID_Set",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "type": "Expression",
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/FORMAT.DATE')"
          },
          "baseParameters": {
            "pInDate": "string('@DATE')",
            "pSource": "DATE",
            "pSourceFormat": "CURRENT",
            "pOutFormat": "CCYY-MM-DD"
          }
        }
      },
      {
        "name": "Variables_CurrDate_Set",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "Variables_FORMAT_DATE_notebook",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "CurrDate",
          "value": {
            "type": "Expression",
            "value": "@string(activity('Variables_FORMAT_DATE_notebook').output.runOutput)"
          }
        }
      },
      {
        "name": "Variables_GetExtractRunCycle_notebook",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "Variables_CurrDate_Set",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "type": "Expression",
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/GetExtractRunCycle')"
          },
          "baseParameters": {
            "owner_schema": {
              "type": "Expression",
              "value": "@pipeline().globalParameters.gbl_param_IDSOwner"
            },
            "secret_name": {
              "type": "Expression",
              "value": "@pipeline().globalParameters.gbl_param_IDSSecret"
            },
            "GlobalEnvironment": {
              "type": "Expression",
              "value": "@pipeline().globalParameters.gbl_param_environment"
            },
            "GetExtractRunCycle_a1": {
              "type": "Expression",
              "value": "@pipeline().globalParameters.gbl_param_IDSOwner"
            },
            "GetExtractRunCycle_a2": {
              "type": "Expression",
              "value": "@variables('Subject')"
            },
            "GetExtractRunCycle_a3": {
              "type": "Expression",
              "value": "@variables('Source')"
            },
            "load": {
              "type": "Expression",
              "value": "@variables('Load')"
            },
            "subject": {
              "value": "",
              "type": "Expression"
            },
            "source": {
              "value": "",
              "type": "Expression"
            },
            "target": {
              "value": "",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "Variables_ExtrRunCycle_Set",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "Variables_GetExtractRunCycle_notebook",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "ExtrRunCycle",
          "value": {
            "type": "Expression",
            "value": "@string(activity('Variables_GetExtractRunCycle_notebook').output.runOutput)"
          }
        }
      },
      {
        "name": "ExclusionListDelete",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "Variables_ExtrRunCycle_Set",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_notebook_path,'/JobSequencer/CommonComponents/ExclusionListDelete')",
            "type": "Expression"
          },
          "baseParameters": {
            "ids_owner_schema": {
              "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
              "type": "Expression"
            },
            "ids_secret_name": {
              "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
              "type": "Expression"
            },
            "subject": {
              "value": "@variables('JobName')",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "If_1A",
        "type": "Switch",
        "dependsOn": [
          {
            "activity": "ExclusionListDelete",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "on": {
            "type": "Expression",
            "value": "@if(equals(pipeline().parameters.SrcSysCd,'ALLINONE'),'1','0')"
          },
          "cases": [
            {
              "value": "1",
              "activities": [
                {
                  "name": "var_If_1A_branch_True_Set",
                  "type": "SetVariable",
                  "dependsOn": [],
                  "policy": {
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "variableName": "var_If_1A_branch_True",
                    "value": {
                      "type": "Expression",
                      "value": "1"
                    }
                  }
                }
              ]
            }
          ],
          "defaultActivities": [
            {
              "name": "var_If_1A_branch_False_Set",
              "type": "SetVariable",
              "dependsOn": [],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "var_If_1A_branch_False",
                "value": {
                  "type": "Expression",
                  "value": "1"
                }
              }
            }
          ]
        }
      },
      {
        "name": "StartLoop",
        "type": "ForEach",
        "dependsOn": [
          {
            "activity": "If_1A",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "items": [
            "WELLLIFE",
            "WELLLIFEKNOWNUMBERS",
            "WELLLIFESLIMMERYOU",
            "HOOPERHOLMES",
            "HPRHLMSKNWURNBRS",
            "HPRHLMSLMRU",
            "UKHOSPAUTHOCPTNLHLTH",
            "LABCORPS"
          ],
          "activities": [
            {
              "name": "RunCyc_Variables",
              "type": "SetVariable",
              "dependsOn": [
                {
                  "activity": "RunCyc_GetExtractRunCycle_notebook",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "ExtrRunCycle",
                "value": {
                  "type": "Expression",
                  "value": "@string(activity('RunCyc_GetExtractRunCycle_notebook').output.runOutput)"
                }
              }
            },
            {
              "name": "WellLifeClnclHlthScreenBalSeq1",
              "type": "ExecutePipeline",
              "dependsOn": [
                {
                  "activity": "RunCyc_Variables",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureInput": false
              },
              "typeProperties": {
                "pipeline": {
                  "referenceName": "WellLifeClnclHlthScreenBalSeq",
                  "type": "PipelineReference"
                },
                "waitOnCompletion": true,
                "parameters": {
                  "UWSOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_UWSOwner",
                    "type": "Expression"
                  },
                  "uws_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_UWSSecret",
                    "type": "Expression"
                  },
                  "IDSOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "ids_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                    "type": "Expression"
                  },
                  "SrcSysCd": {
                    "value": "@item()",
                    "type": "Expression"
                  },
                  "CurrDate": {
                    "value": "@variables('CurrDate')",
                    "type": "Expression"
                  },
                  "EmailSupport": {
                    "value": "@pipeline().globalParameters.gbl_param_EmailSupport",
                    "type": "Expression"
                  },
                  "RunID": {
                    "value": "@variables('RunID')",
                    "type": "Expression"
                  },
                  "ExtrRunCycle": {
                    "value": "@variables('ExtrRunCycle')",
                    "type": "Expression"
                  },
                  "ExclusionList": {
                    "value": "@variables('ExclusionList')",
                    "type": "Expression"
                  },
                  "Subject": {
                    "value": "@variables('Subject')",
                    "type": "Expression"
                  },
                  "Source": {
                    "value": "@item()",
                    "type": "Expression"
                  },
                  "Target": {
                    "value": "@variables('Target')",
                    "type": "Expression"
                  },
                  "Frequency": {
                    "value": "@variables('Frequency')",
                    "type": "Expression"
                  },
                  "EDWFilePath": {
                    "value": "@pipeline().globalParameters.gbl_param_EDWFilePath",
                    "type": "Expression"
                  }
                }
              }
            }
          ]
        }
      },
      {
        "name": "If_2A",
        "type": "Switch",
        "dependsOn": [
          {
            "activity": "If_1A",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "on": {
            "type": "Expression",
            "value": "@if(and(equals(variables('var_If_1A_branch_True'),'1'),equals(indexOf(variables('ExclusionList'),'WellLifeClnclHlthScreenBalSeq'),-1)),'1','0')"
          },
          "cases": [
            {
              "value": "1",
              "activities": [
                {
                  "name": "var_If_2A_branch_True_Set",
                  "type": "SetVariable",
                  "dependsOn": [],
                  "policy": {
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "variableName": "var_If_2A_branch_True",
                    "value": {
                      "type": "Expression",
                      "value": "1"
                    }
                  }
                },
                {
                  "name": "WellLifeClnclHlthScreenBalSeq",
                  "type": "ExecutePipeline",
                  "dependsOn": [
                    {
                      "activity": "var_If_2A_branch_True_Set",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "waitOnCompletion": true,
                    "pipeline": {
                      "referenceName": "WellLifeClnclHlthScreenBalSeq",
                      "type": "PipelineReference"
                    },
                    "parameters": {
                      "UWSOwner": {
                        "type": "Expression",
                        "value": "@pipeline().globalParameters.gbl_param_UWSOwner"
                      },
                      "uws_secret_name": {
                        "type": "Expression",
                        "value": "@pipeline().globalParameters.gbl_param_UWSSecret"
                      },
                      "IDSOwner": {
                        "type": "Expression",
                        "value": "@pipeline().globalParameters.gbl_param_IDSOwner"
                      },
                      "ids_secret_name": {
                        "type": "Expression",
                        "value": "@pipeline().globalParameters.gbl_param_IDSSecret"
                      },
                      "SrcSysCd": {
                        "type": "Expression",
                        "value": "@variables('Source')"
                      },
                      "CurrDate": {
                        "type": "Expression",
                        "value": "@variables('CurrDate')"
                      },
                      "EmailSupport": {
                        "type": "Expression",
                        "value": "@pipeline().globalParameters.gbl_param_EmailSupport"
                      },
                      "RunID": {
                        "type": "Expression",
                        "value": "@variables('RunID')"
                      },
                      "ExtrRunCycle": {
                        "type": "Expression",
                        "value": "@variables('ExtrRunCycle')"
                      },
                      "ExclusionList": {
                        "type": "Expression",
                        "value": "@variables('ExclusionList')"
                      },
                      "Subject": {
                        "type": "Expression",
                        "value": "@variables('Subject')"
                      },
                      "Source": {
                        "type": "Expression",
                        "value": "@variables('Source')"
                      },
                      "Target": {
                        "type": "Expression",
                        "value": "@variables('Target')"
                      },
                      "Frequency": {
                        "type": "Expression",
                        "value": "@variables('Frequency')"
                      },
                      "EDWFilePath": {
                        "type": "Expression",
                        "value": "@pipeline().globalParameters.gbl_param_EDWFilePath"
                      }
                    }
                  }
                }
              ]
            }
          ],
          "defaultActivities": [
            {
              "name": "var_If_2A_branch_False_Set",
              "type": "SetVariable",
              "dependsOn": [],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "var_If_2A_branch_False",
                "value": {
                  "type": "Expression",
                  "value": "1"
                }
              }
            }
          ]
        }
      }
    ]
  }
}