npw-projects-np-projects-bluekc-translated-66e9366f6cca/Sprint_3_4_5/SequenceJobs/Enterprise/EdwProductCntl1.json
{
  "name": "EdwProductCntl1",
  "type": "Microsoft.DataFactory/factories/pipelines",
  "properties": {
    "folder": {
      "name": "Enterprise/Jobs/DataWarehouse/Product/EdwLoads"
    },
    "parameters": {
      "VrblCmpntFullDrvr": {
        "type": "String",
        "defaultValue": "NO"
      },
      "BillCmpntFullDrvr": {
        "type": "String",
        "defaultValue": "NO"
      },
      "PdCmpntFullDrvr": {
        "type": "String",
        "defaultValue": "NO"
      },
      "BnfSumTxFullDrvr": {
        "type": "String",
        "defaultValue": "NO"
      },
      "LmtCmpntFullDrvr": {
        "type": "String",
        "defaultValue": "NO"
      },
      "TargetIds": {
        "type": "String",
        "defaultValue": "IDS"
      },
      "Initial_JobName": {
        "type": "String",
        "defaultValue": ""
      },
      "Initial_Source": {
        "type": "String",
        "defaultValue": ""
      },
      "Initial_Target": {
        "type": "String",
        "defaultValue": ""
      },
      "Initial_Subject": {
        "type": "String",
        "defaultValue": ""
      },
      "Initial_Frequency": {
        "type": "String",
        "defaultValue": ""
      },
      "OpenRunCycle_RunCycle": {
        "type": "String",
        "defaultValue": ""
      },
      "Readexclutionlistfile_CommandOutput": {
        "type": "String",
        "defaultValue": ""
      }
    },
    "variables": {
      "ExclusionList": {
        "type": "String",
        "defaultValue": ""
      },
      "RunID": {
        "type": "String",
        "defaultValue": ""
      },
      "EDWRunCycleDate": {
        "type": "String",
        "defaultValue": ""
      },
      "BillCmpntRunCycle": {
        "type": "String",
        "defaultValue": ""
      },
      "PdCmpntRunCycle": {
        "type": "String",
        "defaultValue": ""
      },
      "BnfSumTxRunCycle": {
        "type": "String",
        "defaultValue": ""
      },
      "LmtCmpntRunCycle": {
        "type": "String",
        "defaultValue": ""
      },
      "VrblCmpntRunCycle": {
        "type": "String",
        "defaultValue": ""
      },
      "IdsRunCycle": {
        "type": "String",
        "defaultValue": ""
      },
      "LinkCount": {
        "type": "String",
        "defaultValue": ""
      },
      "JobName": {
        "type": "String"
      }
    },
    "activities": [
      {
        "name": "NB_GetExclusionList",
        "type": "DatabricksNotebook",
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/GetExclusionList')",
            "type": "Expression"
          },
          "baseParameters": {
            "Readexclutionlistfile_CommandOutput": {
              "value": "@pipeline().parameters.Readexclutionlistfile_CommandOutput",
              "type": "Expression"
            },
            "GlobalEnvironment": {
              "value": "@pipeline().globalParameters.gbl_param_environment",
              "type": "Expression"
            },
            "secret_name": {
              "value": "",
              "type": "Expression"
            },
            "DBOwner": {
              "value": "",
              "type": "Expression"
            },
            "Subject": {
              "value": "",
              "type": "Expression"
            }
          }
        },
        "dependsOn": []
      },
      {
        "name": "SV_ExclusionList",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "NB_GetExclusionList",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "ExclusionList",
          "value": {
            "value": "@string(activity('NB_GetExclusionList').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "NB_GetRunID",
        "type": "DatabricksNotebook",
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "dependsOn": [
          {
            "activity": "SV_ExclusionList",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/GetRunInfo')",
            "type": "Expression"
          },
          "baseParameters": {
            "job_name": {
              "value": "@pipeline().parameters.Initial_JobName",
              "type": "Expression"
            },
            "GlobalEnvironment": {
              "value": "@pipeline().globalParameters.gbl_param_environment",
              "type": "Expression"
            },
            "secret_name": {
              "value": "",
              "type": "Expression"
            },
            "IDSOwner": {
              "value": "",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "SV_RunID",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "NB_GetRunID",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "RunID",
          "value": {
            "value": "@string(activity('NB_GetRunID').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "NB_GetEDWRunCycleDate",
        "type": "DatabricksNotebook",
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "dependsOn": [
          {
            "activity": "SV_RunID",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/GetRunCycleDate')",
            "type": "Expression"
          },
          "baseParameters": {
            "DBOwner": {
              "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
              "type": "Expression"
            },
            "secret_name": {
              "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
              "type": "Expression"
            },
            "Subject": {
              "value": "@pipeline().parameters.Initial_Subject",
              "type": "Expression"
            },
            "SourceSystem": {
              "value": "@pipeline().parameters.Initial_Source",
              "type": "Expression"
            },
            "TargetSystem": {
              "value": "@pipeline().parameters.Initial_Target",
              "type": "Expression"
            },
            "RunCycle": {
              "value": "@pipeline().parameters.OpenRunCycle_RunCycle",
              "type": "Expression"
            },
            "GlobalEnvironment": {
              "value": "@pipeline().globalParameters.gbl_param_environment",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "SV_EDWRunCycleDate",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "NB_GetEDWRunCycleDate",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "EDWRunCycleDate",
          "value": {
            "value": "@string(activity('NB_GetEDWRunCycleDate').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "If_BillCmpntFullDrvr",
        "type": "IfCondition",
        "dependsOn": [
          {
            "activity": "SV_EDWRunCycleDate",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "expression": {
            "value": "@equals(pipeline().parameters.BillCmpntFullDrvr,'NO')",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "name": "NB_GetBillCmpntRunCycle",
              "type": "DatabricksNotebook",
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/GetExtractRunCycle')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "owner_schema": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                    "type": "Expression"
                  },
                  "GlobalEnvironment": {
                    "value": "@pipeline().globalParameters.gbl_param_environment",
                    "type": "Expression"
                  },
                  "subject": {
                    "value": "",
                    "type": "Expression"
                  },
                  "source": {
                    "value": "",
                    "type": "Expression"
                  },
                  "target": {
                    "value": "",
                    "type": "Expression"
                  },
                  "load": {
                    "value": "",
                    "type": "Expression"
                  }
                }
              },
              "dependsOn": []
            },
            {
              "name": "SV_BillCmpntRunCycle",
              "type": "SetVariable",
              "dependsOn": [
                {
                  "activity": "NB_GetBillCmpntRunCycle",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "BillCmpntRunCycle",
                "value": {
                  "value": "@string(activity('NB_GetBillCmpntRunCycle').output.runOutput)",
                  "type": "Expression"
                }
              }
            }
          ],
          "ifFalseActivities": [
            {
              "name": "SV_BillCmpntRunCycle_Else",
              "type": "SetVariable",
              "dependsOn": [],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "BillCmpntRunCycle",
                "value": {
                  "value": "99",
                  "type": "Expression"
                }
              }
            }
          ]
        }
      },
      {
        "name": "If_PdCmpntFullDrvr",
        "type": "IfCondition",
        "dependsOn": [
          {
            "activity": "If_BillCmpntFullDrvr",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "expression": {
            "value": "@equals(pipeline().parameters.PdCmpntFullDrvr,'NO')",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "name": "NB_GetPdCmpntRunCycle",
              "type": "DatabricksNotebook",
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/GetExtractRunCycle')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "owner_schema": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                    "type": "Expression"
                  },
                  "GlobalEnvironment": {
                    "value": "@pipeline().globalParameters.gbl_param_environment",
                    "type": "Expression"
                  },
                  "subject": {
                    "value": "",
                    "type": "Expression"
                  },
                  "source": {
                    "value": "",
                    "type": "Expression"
                  },
                  "target": {
                    "value": "",
                    "type": "Expression"
                  },
                  "load": {
                    "value": "",
                    "type": "Expression"
                  }
                }
              },
              "dependsOn": []
            },
            {
              "name": "SV_PdCmpntRunCycle",
              "type": "SetVariable",
              "dependsOn": [
                {
                  "activity": "NB_GetPdCmpntRunCycle",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "PdCmpntRunCycle",
                "value": {
                  "value": "@string(activity('NB_GetPdCmpntRunCycle').output.runOutput)",
                  "type": "Expression"
                }
              }
            }
          ],
          "ifFalseActivities": [
            {
              "name": "SV_PdCmpntRunCycle_Else",
              "type": "SetVariable",
              "dependsOn": [],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "PdCmpntRunCycle",
                "value": {
                  "value": "99",
                  "type": "Expression"
                }
              }
            }
          ]
        }
      },
      {
        "name": "If_BnfSumTxFullDrvr",
        "type": "IfCondition",
        "dependsOn": [
          {
            "activity": "If_PdCmpntFullDrvr",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "expression": {
            "value": "@equals(pipeline().parameters.BnfSumTxFullDrvr,'NO')",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "name": "NB_GetBnfSumTxRunCycle",
              "type": "DatabricksNotebook",
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/GetExtractRunCycle')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "owner_schema": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                    "type": "Expression"
                  },
                  "GlobalEnvironment": {
                    "value": "@pipeline().globalParameters.gbl_param_environment",
                    "type": "Expression"
                  },
                  "subject": {
                    "value": "",
                    "type": "Expression"
                  },
                  "source": {
                    "value": "",
                    "type": "Expression"
                  },
                  "target": {
                    "value": "",
                    "type": "Expression"
                  },
                  "load": {
                    "value": "",
                    "type": "Expression"
                  }
                }
              },
              "dependsOn": []
            },
            {
              "name": "SV_BnfSumTxRunCycle",
              "type": "SetVariable",
              "dependsOn": [
                {
                  "activity": "NB_GetBnfSumTxRunCycle",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "BnfSumTxRunCycle",
                "value": {
                  "value": "@string(activity('NB_GetBnfSumTxRunCycle').output.runOutput)",
                  "type": "Expression"
                }
              }
            }
          ],
          "ifFalseActivities": [
            {
              "name": "SV_BnfSumTxRunCycle_Else",
              "type": "SetVariable",
              "dependsOn": [],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "BnfSumTxRunCycle",
                "value": {
                  "value": "99",
                  "type": "Expression"
                }
              }
            }
          ]
        }
      },
      {
        "name": "If_LmtCmpntFullDrvr",
        "type": "IfCondition",
        "dependsOn": [
          {
            "activity": "If_BnfSumTxFullDrvr",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "expression": {
            "value": "@equals(pipeline().parameters.LmtCmpntFullDrvr,'NO')",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "name": "NB_GetLmtCmpntRunCycle",
              "type": "DatabricksNotebook",
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/GetExtractRunCycle')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "owner_schema": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                    "type": "Expression"
                  },
                  "GlobalEnvironment": {
                    "value": "@pipeline().globalParameters.gbl_param_environment",
                    "type": "Expression"
                  },
                  "subject": {
                    "value": "",
                    "type": "Expression"
                  },
                  "source": {
                    "value": "",
                    "type": "Expression"
                  },
                  "target": {
                    "value": "",
                    "type": "Expression"
                  },
                  "load": {
                    "value": "",
                    "type": "Expression"
                  }
                }
              },
              "dependsOn": []
            },
            {
              "name": "SV_LmtCmpntRunCycle",
              "type": "SetVariable",
              "dependsOn": [
                {
                  "activity": "NB_GetLmtCmpntRunCycle",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "LmtCmpntRunCycle",
                "value": {
                  "value": "@string(activity('NB_GetLmtCmpntRunCycle').output.runOutput)",
                  "type": "Expression"
                }
              }
            }
          ],
          "ifFalseActivities": [
            {
              "name": "SV_LmtCmpntRunCycle_Else",
              "type": "SetVariable",
              "dependsOn": [],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "LmtCmpntRunCycle",
                "value": {
                  "value": "99",
                  "type": "Expression"
                }
              }
            }
          ]
        }
      },
      {
        "name": "If_VrblCmpntFullDrvr",
        "type": "IfCondition",
        "dependsOn": [
          {
            "activity": "If_LmtCmpntFullDrvr",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "expression": {
            "value": "@equals(pipeline().parameters.VrblCmpntFullDrvr,'NO')",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "name": "NB_GetVrblCmpntRunCycle",
              "type": "DatabricksNotebook",
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/GetExtractRunCycle')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "owner_schema": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                    "type": "Expression"
                  },
                  "GlobalEnvironment": {
                    "value": "@pipeline().globalParameters.gbl_param_environment",
                    "type": "Expression"
                  },
                  "subject": {
                    "value": "",
                    "type": "Expression"
                  },
                  "source": {
                    "value": "",
                    "type": "Expression"
                  },
                  "target": {
                    "value": "",
                    "type": "Expression"
                  },
                  "load": {
                    "value": "",
                    "type": "Expression"
                  }
                }
              },
              "dependsOn": []
            },
            {
              "name": "SV_VrblCmpntRunCycle",
              "type": "SetVariable",
              "dependsOn": [
                {
                  "activity": "NB_GetVrblCmpntRunCycle",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "VrblCmpntRunCycle",
                "value": {
                  "value": "@string(activity('NB_GetVrblCmpntRunCycle').output.runOutput)",
                  "type": "Expression"
                }
              }
            }
          ],
          "ifFalseActivities": [
            {
              "name": "SV_VrblCmpntRunCycle_Else",
              "type": "SetVariable",
              "dependsOn": [],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "VrblCmpntRunCycle",
                "value": {
                  "value": "99",
                  "type": "Expression"
                }
              }
            }
          ]
        }
      },
      {
        "name": "NB_GetIdsRunCycle",
        "type": "DatabricksNotebook",
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "dependsOn": [
          {
            "activity": "If_VrblCmpntFullDrvr",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/GetExtractRunCycle')",
            "type": "Expression"
          },
          "baseParameters": {
            "owner_schema": {
              "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
              "type": "Expression"
            },
            "secret_name": {
              "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
              "type": "Expression"
            },
            "GlobalEnvironment": {
              "value": "@pipeline().globalParameters.gbl_param_environment",
              "type": "Expression"
            },
            "subject": {
              "value": "",
              "type": "Expression"
            },
            "source": {
              "value": "",
              "type": "Expression"
            },
            "target": {
              "value": "",
              "type": "Expression"
            },
            "load": {
              "value": "",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "SV_IdsRunCycle",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "NB_GetIdsRunCycle",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "IdsRunCycle",
          "value": {
            "value": "@string(activity('NB_GetIdsRunCycle').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "ExclusionListDelete_EE",
        "type": "ExecutePipeline",
        "dependsOn": [
          {
            "activity": "SV_IdsRunCycle",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "pipeline": {
            "referenceName": "ExclusionListDelete_EE",
            "type": "PipelineReference"
          },
          "waitOnCompletion": true,
          "parameters": {
            "IDSOwner": {
              "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
              "type": "Expression"
            },
            "ids_secret_name": {
              "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
              "type": "Expression"
            },
            "Subject": {
              "value": "@variables('JobName')",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "If_1A",
        "type": "IfCondition",
        "dependsOn": [
          {
            "activity": "ExclusionListDelete_EE",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "expression": {
            "value": "@equals(contains(split(variables('ExclusionList'), ';'), 'IdsEdwProductDsgnSumFSeq'), false)",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "name": "IdsEdwProductDsgnSumFSeq",
              "type": "ExecutePipeline",
              "policy": {
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "waitOnCompletion": true,
                "pipeline": {
                  "referenceName": "IdsEdwProductDsgnSumFSeq",
                  "type": "PipelineReference"
                },
                "parameters": {
                  "IDSFilePath": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSFilePath",
                    "type": "Expression"
                  },
                  "IDSRunCycle": {
                    "value": "@variables('IdsRunCycle')",
                    "type": "Expression"
                  },
                  "EDWRunCycle": {
                    "value": "@pipeline().parameters.OpenRunCycle_RunCycle",
                    "type": "Expression"
                  },
                  "EDWRunCycleDate": {
                    "value": "@variables('EDWRunCycleDate')",
                    "type": "Expression"
                  },
                  "RunID": {
                    "value": "@variables('RunID')",
                    "type": "Expression"
                  },
                  "ExclusionList": {
                    "value": "@variables('ExclusionList')",
                    "type": "Expression"
                  },
                  "IDSOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "ids_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                    "type": "Expression"
                  },
                  "EDWOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_EDWOwner",
                    "type": "Expression"
                  },
                  "edw_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_EDWSecret",
                    "type": "Expression"
                  }
                }
              }
            }
          ],
          "ifFalseActivities": []
        }
      },
      {
        "name": "If_1B",
        "type": "IfCondition",
        "dependsOn": [
          {
            "activity": "If_1A",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "expression": {
            "value": "@equals(contains(split(variables('ExclusionList'), ';'), 'IdsEdwProductExtr1Seq'), false)",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "name": "IdsEdwProductExtr1Seq",
              "type": "ExecutePipeline",
              "policy": {
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "waitOnCompletion": true,
                "pipeline": {
                  "referenceName": "IdsEdwProductExtr1Seq",
                  "type": "PipelineReference"
                },
                "parameters": {
                  "IDSFilePath": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSFilePath",
                    "type": "Expression"
                  },
                  "IDSRunCycle": {
                    "value": "@variables('IdsRunCycle')",
                    "type": "Expression"
                  },
                  "EDWRunCycle": {
                    "value": "@pipeline().parameters.OpenRunCycle_RunCycle",
                    "type": "Expression"
                  },
                  "EDWRunCycleDate": {
                    "value": "@variables('EDWRunCycleDate')",
                    "type": "Expression"
                  },
                  "RunID": {
                    "value": "@variables('RunID')",
                    "type": "Expression"
                  },
                  "ExclusionList": {
                    "value": "@variables('ExclusionList')",
                    "type": "Expression"
                  },
                  "IDSOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "ids_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                    "type": "Expression"
                  },
                  "EDWOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_EDWOwner",
                    "type": "Expression"
                  },
                  "edw_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_EDWSecret",
                    "type": "Expression"
                  }
                }
              }
            }
          ],
          "ifFalseActivities": []
        }
      },
      {
        "name": "If_1C",
        "type": "IfCondition",
        "dependsOn": [
          {
            "activity": "If_1B",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "expression": {
            "value": "@equals(contains(split(variables('ExclusionList'), ';'), 'IdsEdwProductExtr2Seq'), false)",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "name": "IdsEdwProductExtr2Seq",
              "type": "ExecutePipeline",
              "policy": {
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "waitOnCompletion": true,
                "pipeline": {
                  "referenceName": "IdsEdwProductExtr2Seq",
                  "type": "PipelineReference"
                },
                "parameters": {
                  "IDSFilePath": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSFilePath",
                    "type": "Expression"
                  },
                  "IDSRunCycle": {
                    "value": "@variables('IdsRunCycle')",
                    "type": "Expression"
                  },
                  "EDWRunCycle": {
                    "value": "@pipeline().parameters.OpenRunCycle_RunCycle",
                    "type": "Expression"
                  },
                  "EDWRunCycleDate": {
                    "value": "@variables('EDWRunCycleDate')",
                    "type": "Expression"
                  },
                  "RunID": {
                    "value": "@variables('RunID')",
                    "type": "Expression"
                  },
                  "ExclusionList": {
                    "value": "@variables('ExclusionList')",
                    "type": "Expression"
                  },
                  "IDSOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "ids_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                    "type": "Expression"
                  },
                  "EDWOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_EDWOwner",
                    "type": "Expression"
                  },
                  "edw_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_EDWSecret",
                    "type": "Expression"
                  },
                  "BillCmpntRunCycle": {
                    "value": "@variables('BillCmpntRunCycle')",
                    "type": "Expression"
                  },
                  "PdCmpntRunCycle": {
                    "value": "@variables('PdCmpntRunCycle')",
                    "type": "Expression"
                  },
                  "BnfSumTxRunCycle": {
                    "value": "@variables('BnfSumTxRunCycle')",
                    "type": "Expression"
                  },
                  "LmtCmpntRunCycle": {
                    "value": "@variables('LmtCmpntRunCycle')",
                    "type": "Expression"
                  },
                  "VrblCmpntRunCycle": {
                    "value": "@variables('VrblCmpntRunCycle')",
                    "type": "Expression"
                  }
                }
              }
            }
          ],
          "ifFalseActivities": []
        }
      },
      {
        "name": "If_2A",
        "type": "IfCondition",
        "dependsOn": [
          {
            "activity": "If_1C",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "expression": {
            "value": "@equals(contains(split(variables('ExclusionList'), ';'), 'IdsEdwProductLoadSeq'), false)",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "name": "IdsEdwProductLoadSeq",
              "type": "ExecutePipeline",
              "policy": {
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "waitOnCompletion": true,
                "pipeline": {
                  "referenceName": "IdsEdwProductLoadSeq",
                  "type": "PipelineReference"
                },
                "parameters": {
                  "ExclusionList": {
                    "value": "@variables('ExclusionList')",
                    "type": "Expression"
                  },
                  "EDWOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_EDWOwner",
                    "type": "Expression"
                  },
                  "edw_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_EDWSecret",
                    "type": "Expression"
                  },
                  "BnfSumTxFullDrvr": {
                    "value": "@pipeline().parameters.BnfSumTxFullDrvr",
                    "type": "Expression"
                  },
                  "BillCmpntFullDrvr": {
                    "value": "@pipeline().parameters.BillCmpntFullDrvr",
                    "type": "Expression"
                  },
                  "PdCmpntFullDrvr": {
                    "value": "@pipeline().parameters.PdCmpntFullDrvr",
                    "type": "Expression"
                  },
                  "VrblCmpntFullDrvr": {
                    "value": "@pipeline().parameters.VrblCmpntFullDrvr",
                    "type": "Expression"
                  },
                  "LmtCmpntFullDrvr": {
                    "value": "@pipeline().parameters.LmtCmpntFullDrvr",
                    "type": "Expression"
                  }
                }
              }
            }
          ],
          "ifFalseActivities": []
        }
      },
      {
        "name": "If_2c",
        "type": "IfCondition",
        "dependsOn": [
          {
            "activity": "If_2A",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "expression": {
            "value": "@equals(contains(split(variables('ExclusionList'), ';'), 'EdwEdwProdHistDExtr'), false)",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "name": "IdsEdwProdHistDExtr",
              "type": "DatabricksNotebook",
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_notebook_path, '/DataWarehouse/Product/EdwLoads/ProdHistD/EdwEdwProdHistDExtr')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "EDWOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_EDWOwner",
                    "type": "Expression"
                  },
                  "edw_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_EDWSecret",
                    "type": "Expression"
                  },
                  "EDWRunCycle": {
                    "value": "@pipeline().parameters.OpenRunCycle_RunCycle",
                    "type": "Expression"
                  },
                  "EDWRunCycleDate": {
                    "value": "@variables('EDWRunCycleDate')",
                    "type": "Expression"
                  },
                  "GlobalEnvironment": {
                    "value": "@pipeline().globalParameters.gbl_param_environment",
                    "type": "Expression"
                  }
                }
              }
            }
          ],
          "ifFalseActivities": []
        }
      },
      {
        "name": "If_2d",
        "type": "IfCondition",
        "dependsOn": [
          {
            "activity": "If_2c",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "expression": {
            "value": "@equals(contains(split(variables('ExclusionList'), ';'), 'EdwEdwProdHistDLoad'), false)",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "name": "EdwEdwProdHistDLoad",
              "type": "ExecutePipeline",
              "policy": {
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "waitOnCompletion": true,
                "pipeline": {
                  "referenceName": "EdwEdwProdHistDLoad",
                  "type": "PipelineReference"
                },
                "parameters": {
                  "EDWOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_EDWOwner",
                    "type": "Expression"
                  },
                  "edw_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_EDWSecret",
                    "type": "Expression"
                  }
                }
              }
            }
          ],
          "ifFalseActivities": []
        }
      },
      {
        "name": "EdwProductCntl2",
        "type": "ExecutePipeline",
        "dependsOn": [
          {
            "activity": "If_2d",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "waitOnCompletion": true,
          "pipeline": {
            "referenceName": "EdwProductCntl2",
            "type": "PipelineReference"
          },
          "parameters": {
            "IDSFilePath": {
              "value": "@pipeline().globalParameters.gbl_param_IDSFilePath",
              "type": "Expression"
            },
            "EmailSupport": {
              "value": "@pipeline().globalParameters.gbl_param_EmailSupport",
              "type": "Expression"
            },
            "IDSOwner": {
              "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
              "type": "Expression"
            },
            "ids_secret_name": {
              "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
              "type": "Expression"
            },
            "EDWOwner": {
              "value": "@pipeline().globalParameters.gbl_param_EDWOwner",
              "type": "Expression"
            },
            "edw_secret_name": {
              "value": "@pipeline().globalParameters.gbl_param_EDWSecret",
              "type": "Expression"
            },
            "VrblCmpntFullDrvr": {
              "value": "@pipeline().parameters.VrblCmpntFullDrvr",
              "type": "Expression"
            },
            "BillCmpntFullDrvr": {
              "value": "@pipeline().parameters.BillCmpntFullDrvr",
              "type": "Expression"
            },
            "PdCmpntFullDrvr": {
              "value": "@pipeline().parameters.PdCmpntFullDrvr",
              "type": "Expression"
            },
            "BnfSumTxFullDrvr": {
              "value": "@pipeline().parameters.BnfSumTxFullDrvr",
              "type": "Expression"
            },
            "LmtCmpntFullDrvr": {
              "value": "@pipeline().parameters.LmtCmpntFullDrvr",
              "type": "Expression"
            },
            "TargetIds": {
              "value": "@pipeline().parameters.TargetIds",
              "type": "Expression"
            },
            "OpenRunCycle_RunCycle": {
              "value": "@pipeline().parameters.OpenRunCycle_RunCycle",
              "type": "Expression"
            },
            "Variables_ExclusionList": {
              "value": "@variables('ExclusionList')",
              "type": "Expression"
            },
            "Initial_JobName": {
              "value": "@pipeline().parameters.Initial_JobName",
              "type": "Expression"
            },
            "Initial_Source": {
              "value": "@pipeline().parameters.Initial_Source",
              "type": "Expression"
            },
            "Initial_Target": {
              "value": "@pipeline().parameters.Initial_Target",
              "type": "Expression"
            },
            "Initial_Subject": {
              "value": "@pipeline().parameters.Initial_Subject",
              "type": "Expression"
            },
            "Initial_Frequency": {
              "value": "@pipeline().parameters.Initial_Frequency",
              "type": "Expression"
            },
            "Variables_IdsRunCycle": {
              "value": "@variables('IdsRunCycle')",
              "type": "Expression"
            }
          }
        }
      }
    ]
  }
}