npw-projects-np-projects-bluekc-translated-66e9366f6cca/Sprint_3_4_5/SequenceJobs/Enterprise/EdwPrvcyCntl.json
{
  "name": "EdwPrvcyCntl",
  "type": "Microsoft.DataFactory/factories/pipelines",
  "properties": {
    "folder": {
      "name": "Enterprise/Jobs/DataWarehouse/Privacy"
    },
    "parameters": {},
    "variables": {
      "JobName": {
        "type": "String",
        "defaultValue": ""
      },
      "GroupName": {
        "type": "String",
        "defaultValue": "EDW_PRIVACY"
      },
      "Source": {
        "type": "String",
        "defaultValue": "IDS"
      },
      "Target": {
        "type": "String",
        "defaultValue": "EDW"
      },
      "Subject": {
        "type": "String",
        "defaultValue": "PRIVACY"
      },
      "Frequency": {
        "type": "String",
        "defaultValue": "DAILY"
      },
      "RunCycle": {
        "type": "String",
        "defaultValue": ""
      },
      "ExclusionList": {
        "type": "String",
        "defaultValue": ""
      },
      "RunID": {
        "type": "String",
        "defaultValue": ""
      },
      "CurrentDate": {
        "type": "String",
        "defaultValue": ""
      },
      "IdsRunCycle": {
        "type": "String",
        "defaultValue": ""
      },
      "OpenRunCycle_a1": {
        "type": "String",
        "defaultValue": ""
      },
      "OpenRunCycle_a2": {
        "type": "String",
        "defaultValue": ""
      },
      "OpenRunCycle_a3": {
        "type": "String",
        "defaultValue": ""
      },
      "OpenRunCycle_a4": {
        "type": "String",
        "defaultValue": ""
      },
      "OpenRunCycle_a5": {
        "type": "String",
        "defaultValue": ""
      },
      "GetRunInfo_a1": {
        "type": "String",
        "defaultValue": ""
      },
      "GetExtractRunCycle_a1": {
        "type": "String",
        "defaultValue": ""
      },
      "GetExtractRunCycle_a2": {
        "type": "String",
        "defaultValue": ""
      },
      "GetExtractRunCycle_a3": {
        "type": "String",
        "defaultValue": ""
      },
      "GetExtractRunCycle_a4": {
        "type": "String",
        "defaultValue": ""
      },
      "GetExtractRunCycle_a5": {
        "type": "String",
        "defaultValue": ""
      },
      "LinkCount": {
        "type": "String",
        "defaultValue": ""
      }
    },
    "activities": [
      {
        "name": "SetVariable_JobName",
        "type": "SetVariable",
        "dependsOn": [],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "JobName",
          "value": {
            "value": "@pipeline().Pipeline",
            "type": "Expression"
          }
        }
      },
      {
        "name": "ExclusionListExtr_EE",
        "type": "ExecutePipeline",
        "dependsOn": [
          {
            "activity": "SetVariable_JobName",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "pipelineReference": {
            "referenceName": "ExclusionListExtr_EE",
            "type": "PipelineReference"
          },
          "parameters": {
            "IDSOwner": {
              "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
              "type": "Expression"
            },
            "ids_secret_name": {
              "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
              "type": "Expression"
            },
            "Subject": {
              "value": "@variables('JobName')",
              "type": "Expression"
            }
          },
          "waitOnCompletion": true
        }
      },
      {
        "name": "ReadExclusionListFile",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "ExclusionListExtr_EE",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "userProperties": [],
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_scripts, '/Generic_ADLS_File_Operations')",
            "type": "Expression"
          },
          "baseParameters": {
            "src_file_with_path": {
              "value": "/_TASK_EXCL.dat",
              "type": "Expression"
            },
            "command": "cat",
            "cut_column_index": "2",
            "project": "enterprise"
          }
        }
      },
      {
        "name": "SetVariable_ExclusionList",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "ReadExclusionListFile",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "ExclusionList",
          "value": {
            "value": "@string(activity('ReadExclusionListFile').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "OpenRunCycle_NB",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "ReadExclusionListFile",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "userProperties": [],
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/OpenRunCycle')",
            "type": "Expression"
          },
          "baseParameters": {
            "DBOwner": {
              "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
              "type": "Expression"
            },
            "secret_name": {
              "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
              "type": "Expression"
            },
            "Source": {
              "value": "@variables('Source')",
              "type": "Expression"
            },
            "Target": {
              "value": "@variables('Target')",
              "type": "Expression"
            },
            "Subject": {
              "value": "@variables('Subject')",
              "type": "Expression"
            },
            "Frequency": {
              "value": "@variables('Frequency')",
              "type": "Expression"
            },
            "GlobalEnvironment": {
              "value": "@pipeline().globalParameters.gbl_param_environment",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "SetVariable_RunCycle",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "OpenRunCycle_NB",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "RunCycle",
          "value": {
            "value": "@string(activity('OpenRunCycle_NB').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "WriteRunID_NB",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "SetVariable_RunCycle",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "userProperties": [],
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/WriteRunID')",
            "type": "Expression"
          },
          "baseParameters": {
            "entry_name": {
              "value": "@concat(variables('JobName'), ':RunID')",
              "type": "Expression"
            },
            "GlobalEnvironment": {
              "value": "@pipeline().globalParameters.gbl_param_environment",
              "type": "Expression"
            },
            "secret_name": {
              "value": "",
              "type": "Expression"
            },
            "IDSOwner": {
              "value": "",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "WriteRunDate_NB",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "WriteRunID_NB",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "userProperties": [],
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/WriteRunInfo')",
            "type": "Expression"
          },
          "baseParameters": {
            "arg1": {
              "value": "@concat(variables('JobName'), ':RunDate')",
              "type": "Expression"
            },
            "arg2": {
              "value": "@formatDateTime(utcNow(),'yyyy-MM-dd')",
              "type": "Expression"
            },
            "arg3": {
              "value": "@formatDateTime(utcNow(),'yyyy-MM-dd')",
              "type": "Expression"
            },
            "GlobalEnvironment": {
              "value": "@pipeline().globalParameters.gbl_param_environment",
              "type": "Expression"
            },
            "secret_name": {
              "value": "",
              "type": "Expression"
            },
            "IDSOwner": {
              "value": "",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "GetRunInfo_RunID_NB",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "WriteRunDate_NB",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "userProperties": [],
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/GetRunInfo')",
            "type": "Expression"
          },
          "baseParameters": {
            "job_name": {
              "value": "@concat(variables('JobName'), ':RunID')",
              "type": "Expression"
            },
            "GlobalEnvironment": {
              "value": "@pipeline().globalParameters.gbl_param_environment",
              "type": "Expression"
            },
            "secret_name": {
              "value": "",
              "type": "Expression"
            },
            "IDSOwner": {
              "value": "",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "SetVariable_RunID",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "GetRunInfo_RunID_NB",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "RunID",
          "value": {
            "value": "@string(activity('GetRunInfo_RunID_NB').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "GetRunInfo_RunDate_NB",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "SetVariable_RunID",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "userProperties": [],
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/GetRunInfo')",
            "type": "Expression"
          },
          "baseParameters": {
            "job_name": {
              "value": "@concat(variables('JobName'), ':RunDate')",
              "type": "Expression"
            },
            "GlobalEnvironment": {
              "value": "@pipeline().globalParameters.gbl_param_environment",
              "type": "Expression"
            },
            "secret_name": {
              "value": "",
              "type": "Expression"
            },
            "IDSOwner": {
              "value": "",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "SetVariable_CurrentDate",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "GetRunInfo_RunDate_NB",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "CurrentDate",
          "value": {
            "value": "@string(activity('GetRunInfo_RunDate_NB').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "GetExtractRunCycle_NB",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "SetVariable_CurrentDate",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "userProperties": [],
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/GetExtractRunCycle')",
            "type": "Expression"
          },
          "baseParameters": {
            "GetExtractRunCycle_a1": {
              "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
              "type": "Expression"
            },
            "secret_name": {
              "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
              "type": "Expression"
            },
            "GetExtractRunCycle_a2": "PRIVACY",
            "GetExtractRunCycle_a3": "FACETS",
            "load": "EDW",
            "GlobalEnvironment": {
              "value": "@pipeline().globalParameters.gbl_param_environment",
              "type": "Expression"
            },
            "owner_schema": {
              "value": "",
              "type": "Expression"
            },
            "subject": {
              "value": "",
              "type": "Expression"
            },
            "source": {
              "value": "",
              "type": "Expression"
            },
            "target": {
              "value": "",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "SetVariable_IdsRunCycle",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "GetExtractRunCycle_NB",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "IdsRunCycle",
          "value": {
            "value": "@string(activity('GetExtractRunCycle_NB').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "ExclusionListDelete_EE",
        "type": "ExecutePipeline",
        "dependsOn": [
          {
            "activity": "SetVariable_IdsRunCycle",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "pipelineReference": {
            "referenceName": "ExclusionListDelete_EE",
            "type": "PipelineReference"
          },
          "parameters": {
            "IDSOwner": {
              "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
              "type": "Expression"
            },
            "ids_secret_name": {
              "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
              "type": "Expression"
            },
            "Subject": {
              "value": "@variables('JobName')",
              "type": "Expression"
            }
          },
          "waitOnCompletion": true
        }
      },
      {
        "name": "If_0A",
        "type": "IfCondition",
        "dependsOn": [
          {
            "activity": "ExclusionListDelete_EE",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "expression": {
            "value": "@equals(contains(split(string(variables('ExclusionList')), ';'), 'EdwPrvcyPrereqSeq'), false)",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "name": "EdwPrvcyPrereqSeq",
              "type": "ExecutePipeline",
              "policy": {
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "pipelineReference": {
                  "referenceName": "EdwPrvcyPrereqSeq",
                  "type": "PipelineReference"
                },
                "parameters": {
                  "EDWOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_EDWOwner",
                    "type": "Expression"
                  },
                  "edw_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_EDWSecret",
                    "type": "Expression"
                  },
                  "IDSOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "ids_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                    "type": "Expression"
                  },
                  "ExclusionList": {
                    "value": "@variables('ExclusionList')",
                    "type": "Expression"
                  },
                  "CurrRunCycleDate": {
                    "value": "@variables('CurrentDate')",
                    "type": "Expression"
                  },
                  "RunCycle": {
                    "value": "@variables('RunCycle')",
                    "type": "Expression"
                  },
                  "IdsRunCycle": {
                    "value": "@variables('IdsRunCycle')",
                    "type": "Expression"
                  }
                },
                "waitOnCompletion": true
              }
            }
          ],
          "ifFalseActivities": []
        }
      },
      {
        "name": "If_1A",
        "type": "IfCondition",
        "dependsOn": [
          {
            "activity": "If_0A",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "expression": {
            "value": "@equals(contains(split(string(variables('ExclusionList')), ';'), 'EdwPrvcyExtrSeq'), false)",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "name": "EdwPrvcyExtrSeq",
              "type": "ExecutePipeline",
              "policy": {
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "pipelineReference": {
                  "referenceName": "EdwPrvcyExtrSeq",
                  "type": "PipelineReference"
                },
                "parameters": {
                  "EDWOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_EDWOwner",
                    "type": "Expression"
                  },
                  "edw_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_EDWSecret",
                    "type": "Expression"
                  },
                  "IDSOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "ids_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                    "type": "Expression"
                  },
                  "ExclusionList": {
                    "value": "@variables('ExclusionList')",
                    "type": "Expression"
                  },
                  "CurrRunCycleDate": {
                    "value": "@variables('CurrentDate')",
                    "type": "Expression"
                  },
                  "RunCycle": {
                    "value": "@variables('RunCycle')",
                    "type": "Expression"
                  },
                  "IdsRunCycle": {
                    "value": "@variables('IdsRunCycle')",
                    "type": "Expression"
                  }
                },
                "waitOnCompletion": true
              }
            }
          ],
          "ifFalseActivities": []
        }
      },
      {
        "name": "If_2A",
        "type": "IfCondition",
        "dependsOn": [
          {
            "activity": "If_1A",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "expression": {
            "value": "@equals(contains(split(string(variables('ExclusionList')), ';'), 'EdwPrvcyLoadSeq'), false)",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "name": "EdwPrvcyLoadSeq",
              "type": "ExecutePipeline",
              "policy": {
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "pipelineReference": {
                  "referenceName": "EdwPrvcyLoadSeq",
                  "type": "PipelineReference"
                },
                "parameters": {
                  "EDWOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_EDWOwner",
                    "type": "Expression"
                  },
                  "edw_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_EDWSecret",
                    "type": "Expression"
                  },
                  "ExclusionList": {
                    "value": "@variables('ExclusionList')",
                    "type": "Expression"
                  }
                },
                "waitOnCompletion": true
              }
            }
          ],
          "ifFalseActivities": []
        }
      },
      {
        "name": "If_6A",
        "type": "IfCondition",
        "dependsOn": [
          {
            "activity": "If_2A",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "expression": {
            "value": "@equals(contains(split(string(variables('ExclusionList')), ';'), 'EdwLoadPrvcyRunCycUpd'), false)",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "name": "EdwLoadPrvcyRunCycUpd_EE",
              "type": "ExecutePipeline",
              "policy": {
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "pipelineReference": {
                  "referenceName": "EdwLoadPrvcyRunCycUpd_EE",
                  "type": "PipelineReference"
                },
                "parameters": {
                  "BeginCycle": {
                    "value": "@variables('IdsRunCycle')",
                    "type": "Expression"
                  },
                  "IDSOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "ids_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                    "type": "Expression"
                  }
                },
                "waitOnCompletion": true
              }
            }
          ],
          "ifFalseActivities": []
        }
      },
      {
        "name": "If_4A",
        "type": "IfCondition",
        "dependsOn": [
          {
            "activity": "If_6A",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "expression": {
            "value": "@equals(contains(split(string(variables('ExclusionList')), ';'), 'DeletePreReqDataSets'), false)",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "name": "DeletePreReqDataSets_NB",
              "type": "DatabricksNotebook",
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "userProperties": [],
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_scripts, 'DataSet_Clear')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "dataSetName": "PRVCY_TRK_SUM_F.ds",
                  "GlobalEnvironment": {
                    "value": "@pipeline().globalParameters.gbl_param_environment",
                    "type": "Expression"
                  }
                }
              }
            }
          ],
          "ifFalseActivities": []
        }
      },
      {
        "name": "CloseRunCycle_NB",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "If_4A",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "userProperties": [],
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/CloseRunCycle')",
            "type": "Expression"
          },
          "baseParameters": {
            "DBOwner": {
              "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
              "type": "Expression"
            },
            "SrcSystem": {
              "value": "@variables('Source')",
              "type": "Expression"
            },
            "TrgtSystem": {
              "value": "@variables('Target')",
              "type": "Expression"
            },
            "SubjCode": {
              "value": "@variables('Subject')",
              "type": "Expression"
            },
            "FreqCode": {
              "value": "@variables('Frequency')",
              "type": "Expression"
            },
            "RunCycle": {
              "value": "@variables('RunCycle')",
              "type": "Expression"
            },
            "secret_name": {
              "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
              "type": "Expression"
            },
            "GlobalEnvironment": {
              "value": "@pipeline().globalParameters.gbl_param_environment",
              "type": "Expression"
            }
          }
        }
      }
    ]
  }
}