npw-projects-np-projects-bluekc-translated-66e9366f6cca/Sprint_3_4_5/SequenceJobs/Enterprise/EdwPrmRateCntl.json
{
  "name": "EdwPrmRateCntl",
  "type": "Microsoft.DataFactory/factories/pipelines",
  "properties": {
    "folder": {
      "name": "Enterprise/Jobs/DataWarehouse/PremiumRating"
    },
    "parameters": {},
    "variables": {
      "JobName": {
        "type": "String",
        "defaultValue": ""
      },
      "GroupName": {
        "type": "String",
        "defaultValue": "EDW_PREMIUM_RATING"
      },
      "Source": {
        "type": "String",
        "defaultValue": "IDS"
      },
      "Target": {
        "type": "String",
        "defaultValue": "EDW"
      },
      "Subject": {
        "type": "String",
        "defaultValue": "PREMIUM_RATING"
      },
      "Frequency": {
        "type": "String",
        "defaultValue": "DAILY"
      },
      "LinkCount": {
        "type": "String",
        "defaultValue": ""
      },
      "EDWRunCycle": {
        "type": "String",
        "defaultValue": ""
      },
      "ExclusionList": {
        "type": "String",
        "defaultValue": ""
      },
      "RunID": {
        "type": "String",
        "defaultValue": ""
      },
      "EDWRunCycleDate": {
        "type": "String",
        "defaultValue": ""
      },
      "LastRunDate": {
        "type": "String",
        "defaultValue": ""
      },
      "IdsRunCycle": {
        "type": "String",
        "defaultValue": ""
      },
      "var_CountChk_branch": {
        "type": "String",
        "defaultValue": ""
      },
      "var_If_1A_branch": {
        "type": "String",
        "defaultValue": ""
      },
      "var_If_2A_branch": {
        "type": "String",
        "defaultValue": ""
      },
      "var_If_2A_Continuation_branch": {
        "type": "String",
        "defaultValue": ""
      },
      "var_If_6A_branch": {
        "type": "String",
        "defaultValue": ""
      },
      "var_If_6A_Continuation_branch": {
        "type": "String",
        "defaultValue": ""
      },
      "JobLinkCount_a1": {
        "type": "String",
        "defaultValue": ""
      },
      "JobLinkCount_a2": {
        "type": "String",
        "defaultValue": ""
      },
      "JobLinkCount_a3": {
        "type": "String",
        "defaultValue": ""
      },
      "GetExclusionList_a1": {
        "type": "String",
        "defaultValue": ""
      },
      "GetRunInfo_a1": {
        "type": "String",
        "defaultValue": ""
      },
      "GetRunCycleDate_a1": {
        "type": "String",
        "defaultValue": ""
      },
      "GetRunCycleDate_a2": {
        "type": "String",
        "defaultValue": ""
      },
      "GetRunCycleDate_a3": {
        "type": "String",
        "defaultValue": ""
      },
      "GetRunCycleDate_a4": {
        "type": "String",
        "defaultValue": ""
      },
      "GetRunCycleDate_a5": {
        "type": "String",
        "defaultValue": ""
      },
      "GetExtractRunCycle_a1": {
        "type": "String",
        "defaultValue": ""
      },
      "GetExtractRunCycle_a2": {
        "type": "String",
        "defaultValue": ""
      },
      "GetExtractRunCycle_a3": {
        "type": "String",
        "defaultValue": ""
      },
      "GetExtractRunCycle_a4": {
        "type": "String",
        "defaultValue": ""
      },
      "GetExtractRunCycle_a5": {
        "type": "String",
        "defaultValue": ""
      },
      "OpenRunCycle_a1": {
        "type": "String",
        "defaultValue": ""
      },
      "OpenRunCycle_a2": {
        "type": "String",
        "defaultValue": ""
      },
      "OpenRunCycle_a3": {
        "type": "String",
        "defaultValue": ""
      },
      "OpenRunCycle_a4": {
        "type": "String",
        "defaultValue": ""
      },
      "OpenRunCycle_a5": {
        "type": "String",
        "defaultValue": ""
      }
    },
    "activities": [
      {
        "name": "Set_Var_JobName",
        "type": "SetVariable",
        "userProperties": [],
        "typeProperties": {
          "variableName": "JobName",
          "value": {
            "value": "@pipeline().Pipeline",
            "type": "Expression"
          }
        },
        "policy": {
          "secureOutput": false,
          "secureInput": false
        }
      },
      {
        "name": "ProcessCheckExtr_EE",
        "type": "Lookup",
        "dependsOn": [
          {
            "activity": "Set_Var_JobName",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "source": {
            "type": "AzureSqlSource",
            "sqlReaderQuery": {
              "value": "WITH db2_data AS (\n    select SUBJ_CD, TRGT_SYS_CD, SRC_SYS_CD\n    from @{pipeline().globalParameters.gbl_param_IDSOwner}.P_RUN_CYC\n    where CYC_STTUS_CD = 'RUNNING'\n       and SUBJ_CD = '@{variables('Subject')}'\n       and TRGT_SYS_CD = '@{variables('Target')}'\n    UNION\n    select SUBJ_CD, TRGT_SYS_CD, SRC_SYS_CD\n    from @{pipeline().globalParameters.gbl_param_IDSOwner}.P_RUN_CYC\n    where CYC_STTUS_CD = 'RUNNING'\n       and SUBJ_CD = '@{variables('Subject')}'\n       and SRC_SYS_CD <> '@{variables('Source')}'\n       and TRGT_SYS_CD = '@{variables('Target')}'\n    UNION\n    select SUBJ_CD, TRGT_SYS_CD, SRC_SYS_CD\n    from @{pipeline().globalParameters.gbl_param_IDSOwner}.P_RUN_CYC\n    where CYC_STTUS_CD = 'RUNNING'\n       and SUBJ_CD = '@{variables('Subject')}'\n       and SRC_SYS_CD = '@{variables('Source')}'\n),\ntransformed_data AS (\n    SELECT SUBJ_CD, SRC_SYS_CD, TRGT_SYS_CD\n    FROM db2_data\n)\nSELECT COUNT(*) as link_count FROM transformed_data",
              "type": "Expression"
            },
            "queryTimeout": "02:00:00",
            "partitionOption": "None"
          },
          "dataset": {
            "referenceName": "ds_ids",
            "type": "DatasetReference",
            "parameters": {
              "param_schema": "@pipeline().globalParameters.gbl_param_IDSOwner",
              "param_table": "P_RUN_CYC"
            }
          }
        }
      },
      {
        "name": "LinkCount_SetVar",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "ProcessCheckExtr_EE",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "LinkCount",
          "value": {
            "value": "@string(activity('ProcessCheckExtr_EE').output.firstRow.link_count)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "CountChk_Switch",
        "type": "Switch",
        "dependsOn": [
          {
            "activity": "LinkCount_SetVar",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "on": {
            "value": "@if(not(equals(variables('LinkCount'), 0)),'1','0')",
            "type": "Expression"
          },
          "cases": [
            {
              "value": "1",
              "activities": [
                {
                  "name": "Set_var_CountChk_branch_true",
                  "type": "SetVariable",
                  "userProperties": [],
                  "policy": {
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "typeProperties": {
                    "variableName": "var_CountChk_branch",
                    "value": {
                      "value": "1",
                      "type": "Expression"
                    }
                  }
                },
                {
                  "name": "Email_DAT",
                  "type": "ExecutePipeline",
                  "dependsOn": [
                    {
                      "activity": "Set_var_CountChk_branch_true",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "userProperties": [],
                  "policy": {
                    "secureInput": false
                  },
                  "typeProperties": {
                    "pipeline": {
                      "referenceName": "Email_Notification",
                      "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                      "recipients": {
                        "value": "@pipeline().globalParameters.gbl_param_EmailSupport",
                        "type": "Expression"
                      },
                      "subject": "EDW Premium Rating Abort - DWPRD000",
                      "body": "The EDW Premium Rating processing can not run while IDS Premium Rating is being updated or EDW Premium Rating is extracted from.",
                      "blobFilenames": "",
                      "fromemail": {
                        "value": "@pipeline().globalParameters.gbl_param_fromemail",
                        "type": "Expression"
                      },
                      "containerName": ""
                    }
                  }
                }
              ]
            }
          ],
          "defaultActivities": [
            {
              "name": "Set_var_CountChk_branch_false",
              "type": "SetVariable",
              "userProperties": [],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "typeProperties": {
                "variableName": "var_CountChk_branch",
                "value": {
                  "value": "0",
                  "type": "Expression"
                }
              }
            },
            {
              "name": "OpenRunCycle_Notebook",
              "type": "DatabricksNotebook",
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "dependsOn": [
                {
                  "activity": "Set_var_CountChk_branch_false",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "userProperties": [],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/OpenRunCycle')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "DBOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "Source": {
                    "value": "@variables('Source')",
                    "type": "Expression"
                  },
                  "Target": {
                    "value": "@variables('Target')",
                    "type": "Expression"
                  },
                  "Subject": {
                    "value": "@variables('Subject')",
                    "type": "Expression"
                  },
                  "Frequency": {
                    "value": "@variables('Frequency')",
                    "type": "Expression"
                  },
                  "secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                    "type": "Expression"
                  },
                  "GlobalEnvironment": {
                    "value": "@pipeline().globalParameters.gbl_param_environment",
                    "type": "Expression"
                  }
                }
              }
            },
            {
              "name": "Set_EDWRunCycle",
              "type": "SetVariable",
              "dependsOn": [
                {
                  "activity": "OpenRunCycle_Notebook",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "userProperties": [],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "typeProperties": {
                "variableName": "EDWRunCycle",
                "value": {
                  "value": "@string(activity('OpenRunCycle_Notebook').output.runOutput)",
                  "type": "Expression"
                }
              }
            },
            {
              "name": "ExclusionListExtr_EE",
              "type": "ExecutePipeline",
              "dependsOn": [
                {
                  "activity": "Set_EDWRunCycle",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "userProperties": [],
              "policy": {
                "secureInput": false
              },
              "typeProperties": {
                "waitOnCompletion": true,
                "parameters": {
                  "IDSOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "ids_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                    "type": "Expression"
                  },
                  "Subject": {
                    "value": "@variables('JobName')",
                    "type": "Expression"
                  }
                },
                "pipeline": {
                  "referenceName": "ExclusionListExtr_EE",
                  "type": "PipelineReference"
                }
              }
            },
            {
              "name": "WriteRunID_Notebook",
              "type": "DatabricksNotebook",
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "dependsOn": [
                {
                  "activity": "ExclusionListExtr_EE",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "userProperties": [],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/WriteRunID')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "entry_name": {
                    "value": "@concat(variables('JobName'),'RunID')",
                    "type": "Expression"
                  },
                  "IDSOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                    "type": "Expression"
                  },
                  "GlobalEnvironment": {
                    "value": "@pipeline().globalParameters.gbl_param_environment",
                    "type": "Expression"
                  }
                }
              }
            },
            {
              "name": "WriteRunDate_Notebook",
              "type": "DatabricksNotebook",
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "dependsOn": [
                {
                  "activity": "WriteRunID_Notebook",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "userProperties": [],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/WriteRunInfo')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "arg1": {
                    "value": "@concat(variables('JobName'),'RunDate')",
                    "type": "Expression"
                  },
                  "arg2": {
                    "value": "@string('@DATE')",
                    "type": "Expression"
                  },
                  "arg3": {
                    "value": "@string('@DATE')",
                    "type": "Expression"
                  },
                  "IDSOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                    "type": "Expression"
                  },
                  "GlobalEnvironment": {
                    "value": "@pipeline().globalParameters.gbl_param_environment",
                    "type": "Expression"
                  }
                }
              }
            },
            {
              "name": "GetExclusionList_Notebook",
              "type": "DatabricksNotebook",
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "dependsOn": [
                {
                  "activity": "WriteRunDate_Notebook",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "userProperties": [],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/GetExclusionList')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "Subject": {
                    "value": "@variables('JobName')",
                    "type": "Expression"
                  },
                  "DBOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                    "type": "Expression"
                  },
                  "GlobalEnvironment": {
                    "value": "@pipeline().globalParameters.gbl_param_environment",
                    "type": "Expression"
                  }
                }
              }
            },
            {
              "name": "Set_ExclusionList",
              "type": "SetVariable",
              "dependsOn": [
                {
                  "activity": "GetExclusionList_Notebook",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "userProperties": [],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "typeProperties": {
                "variableName": "ExclusionList",
                "value": {
                  "value": "@string(activity('GetExclusionList_Notebook').output.runOutput)",
                  "type": "Expression"
                }
              }
            },
            {
              "name": "GetRunInfo_RunID_Notebook",
              "type": "DatabricksNotebook",
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "dependsOn": [
                {
                  "activity": "Set_ExclusionList",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "userProperties": [],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/GetRunInfo')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "job_name": {
                    "value": "@concat(variables('JobName'),'RunID')",
                    "type": "Expression"
                  },
                  "IDSOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                    "type": "Expression"
                  },
                  "GlobalEnvironment": {
                    "value": "@pipeline().globalParameters.gbl_param_environment",
                    "type": "Expression"
                  }
                }
              }
            },
            {
              "name": "Set_RunID",
              "type": "SetVariable",
              "dependsOn": [
                {
                  "activity": "GetRunInfo_RunID_Notebook",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "userProperties": [],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "typeProperties": {
                "variableName": "RunID",
                "value": {
                  "value": "@string(activity('GetRunInfo_RunID_Notebook').output.runOutput)",
                  "type": "Expression"
                }
              }
            },
            {
              "name": "GetRunCycleDate_Notebook",
              "type": "DatabricksNotebook",
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "dependsOn": [
                {
                  "activity": "Set_RunID",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "userProperties": [],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/GetRunCycleDate')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "DBOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "Subject": {
                    "value": "@variables('Subject')",
                    "type": "Expression"
                  },
                  "SourceSystem": {
                    "value": "@variables('Source')",
                    "type": "Expression"
                  },
                  "TargetSystem": {
                    "value": "@variables('Target')",
                    "type": "Expression"
                  },
                  "RunCycle": {
                    "value": "@variables('EDWRunCycle')",
                    "type": "Expression"
                  },
                  "secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                    "type": "Expression"
                  },
                  "GlobalEnvironment": {
                    "value": "@pipeline().globalParameters.gbl_param_environment",
                    "type": "Expression"
                  }
                }
              }
            },
            {
              "name": "Set_EDWRunCycleDate",
              "type": "SetVariable",
              "dependsOn": [
                {
                  "activity": "GetRunCycleDate_Notebook",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "userProperties": [],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "typeProperties": {
                "variableName": "EDWRunCycleDate",
                "value": {
                  "value": "@string(activity('GetRunCycleDate_Notebook').output.runOutput)",
                  "type": "Expression"
                }
              }
            },
            {
              "name": "GetRunInfo_LastRunDate_Notebook",
              "type": "DatabricksNotebook",
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "dependsOn": [
                {
                  "activity": "Set_EDWRunCycleDate",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "userProperties": [],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/GetRunInfo')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "job_name": {
                    "value": "@concat(variables('JobName'),'LastRunDate')",
                    "type": "Expression"
                  },
                  "IDSOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                    "type": "Expression"
                  },
                  "GlobalEnvironment": {
                    "value": "@pipeline().globalParameters.gbl_param_environment",
                    "type": "Expression"
                  }
                }
              }
            },
            {
              "name": "Set_LastRunDate",
              "type": "SetVariable",
              "dependsOn": [
                {
                  "activity": "GetRunInfo_LastRunDate_Notebook",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "userProperties": [],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "typeProperties": {
                "variableName": "LastRunDate",
                "value": {
                  "value": "@string(activity('GetRunInfo_LastRunDate_Notebook').output.runOutput)",
                  "type": "Expression"
                }
              }
            },
            {
              "name": "GetExtractRunCycle_Notebook",
              "type": "DatabricksNotebook",
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "dependsOn": [
                {
                  "activity": "Set_LastRunDate",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "userProperties": [],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/GetExtractRunCycle')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "GetExtractRunCycle_a1": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "GetExtractRunCycle_a2": "PREMIUM_RATING",
                  "GetExtractRunCycle_a3": "FACETS",
                  "load": "EDW",
                  "owner_schema": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                    "type": "Expression"
                  },
                  "GlobalEnvironment": {
                    "value": "@pipeline().globalParameters.gbl_param_environment",
                    "type": "Expression"
                  },
                  "subject": {
                    "value": "",
                    "type": "Expression"
                  },
                  "source": {
                    "value": "",
                    "type": "Expression"
                  },
                  "target": {
                    "value": "",
                    "type": "Expression"
                  }
                }
              }
            },
            {
              "name": "Set_IdsRunCycle",
              "type": "SetVariable",
              "dependsOn": [
                {
                  "activity": "GetExtractRunCycle_Notebook",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "userProperties": [],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "typeProperties": {
                "variableName": "IdsRunCycle",
                "value": {
                  "value": "@string(activity('GetExtractRunCycle_Notebook').output.runOutput)",
                  "type": "Expression"
                }
              }
            },
            {
              "name": "ExclusionListDelete_EE",
              "type": "ExecutePipeline",
              "dependsOn": [
                {
                  "activity": "Set_IdsRunCycle",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "userProperties": [],
              "policy": {
                "secureInput": false
              },
              "typeProperties": {
                "pipeline": {
                  "referenceName": "ExclusionListDelete_EE",
                  "type": "PipelineReference"
                },
                "waitOnCompletion": true,
                "parameters": {
                  "IDSOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "ids_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                    "type": "Expression"
                  },
                  "Subject": {
                    "value": "@variables('JobName')",
                    "type": "Expression"
                  }
                }
              }
            }
          ]
        }
      },
      {
        "name": "If_1A_Switch",
        "type": "Switch",
        "dependsOn": [
          {
            "activity": "CountChk_Switch",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "on": {
            "value": "@if(and(equals(variables('var_CountChk_branch'),'0'),not(contains(variables('ExclusionList'),'EdwPrmRateExtrSeq'))),'1','0')",
            "type": "Expression"
          },
          "cases": [
            {
              "value": "1",
              "activities": [
                {
                  "name": "Set_var_If_1A_branch_true",
                  "type": "SetVariable",
                  "userProperties": [],
                  "policy": {
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "typeProperties": {
                    "variableName": "var_If_1A_branch",
                    "value": {
                      "value": "1",
                      "type": "Expression"
                    }
                  }
                },
                {
                  "name": "EdwPrmRateExtrSeq",
                  "type": "ExecutePipeline",
                  "dependsOn": [
                    {
                      "activity": "Set_var_If_1A_branch_true",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "userProperties": [],
                  "policy": {
                    "secureInput": false
                  },
                  "typeProperties": {
                    "waitOnCompletion": true,
                    "parameters": {
                      "EDWRunCycle": {
                        "value": "@variables('EDWRunCycle')",
                        "type": "Expression"
                      },
                      "EDWRunCycleDate": {
                        "value": "@variables('EDWRunCycleDate')",
                        "type": "Expression"
                      },
                      "RunID": {
                        "value": "@variables('RunID')",
                        "type": "Expression"
                      },
                      "ExclusionList": {
                        "value": "@variables('ExclusionList')",
                        "type": "Expression"
                      },
                      "IDSOwner": {
                        "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                        "type": "Expression"
                      },
                      "ids_secret_name": {
                        "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                        "type": "Expression"
                      }
                    },
                    "pipeline": {
                      "referenceName": "EdwPrmRateExtrSeq",
                      "type": "PipelineReference"
                    }
                  }
                }
              ]
            }
          ],
          "defaultActivities": [
            {
              "name": "Set_var_If_1A_branch_false",
              "type": "SetVariable",
              "userProperties": [],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "typeProperties": {
                "variableName": "var_If_1A_branch",
                "value": {
                  "value": "0",
                  "type": "Expression"
                }
              }
            }
          ]
        }
      },
      {
        "name": "If_2A_Switch",
        "type": "Switch",
        "dependsOn": [
          {
            "activity": "If_1A_Switch",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "on": {
            "value": "@if(and(equals(variables('var_CountChk_branch'),'0'),not(contains(variables('ExclusionList'),'EdwPrmRateLoadSeq'))),'1','0')",
            "type": "Expression"
          },
          "cases": [
            {
              "value": "1",
              "activities": [
                {
                  "name": "Set_var_If_2A_branch_true",
                  "type": "SetVariable",
                  "userProperties": [],
                  "policy": {
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "typeProperties": {
                    "variableName": "var_If_2A_branch",
                    "value": {
                      "value": "1",
                      "type": "Expression"
                    }
                  }
                },
                {
                  "name": "EdwPrmRateLoadSeq",
                  "type": "ExecutePipeline",
                  "dependsOn": [
                    {
                      "activity": "Set_var_If_2A_branch_true",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "userProperties": [],
                  "policy": {
                    "secureInput": false
                  },
                  "typeProperties": {
                    "waitOnCompletion": true,
                    "parameters": {
                      "ExclusionList": {
                        "value": "@variables('ExclusionList')",
                        "type": "Expression"
                      },
                      "EDWOwner": {
                        "value": "@pipeline().globalParameters.gbl_param_EDWOwner",
                        "type": "Expression"
                      },
                      "edw_secret_name": {
                        "value": "@pipeline().globalParameters.gbl_param_EDWSecret",
                        "type": "Expression"
                      }
                    },
                    "pipeline": {
                      "referenceName": "EdwPrmRateLoadSeq",
                      "type": "PipelineReference"
                    }
                  }
                }
              ]
            }
          ],
          "defaultActivities": [
            {
              "name": "Set_var_If_2A_branch_false",
              "type": "SetVariable",
              "userProperties": [],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "typeProperties": {
                "variableName": "var_If_2A_branch",
                "value": {
                  "value": "0",
                  "type": "Expression"
                }
              }
            }
          ]
        }
      },
      {
        "name": "If_2A_Continuation_Switch",
        "type": "Switch",
        "dependsOn": [
          {
            "activity": "If_2A_Switch",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "on": {
            "value": "@if(equals(variables('var_CountChk_branch'),'0'),'1','0')",
            "type": "Expression"
          },
          "cases": [
            {
              "value": "1",
              "activities": [
                {
                  "name": "Set_var_If_2A_Continuation_branch_true",
                  "type": "SetVariable",
                  "userProperties": [],
                  "policy": {
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "typeProperties": {
                    "variableName": "var_If_2A_Continuation_branch",
                    "value": {
                      "value": "1",
                      "type": "Expression"
                    }
                  }
                }
              ]
            }
          ],
          "defaultActivities": [
            {
              "name": "Set_var_If_2A_Continuation_branch_false",
              "type": "SetVariable",
              "userProperties": [],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "typeProperties": {
                "variableName": "var_If_2A_Continuation_branch",
                "value": {
                  "value": "0",
                  "type": "Expression"
                }
              }
            }
          ]
        }
      },
      {
        "name": "If_6A_Switch",
        "type": "Switch",
        "dependsOn": [
          {
            "activity": "If_2A_Continuation_Switch",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "on": {
            "value": "@if(and(equals(variables('var_CountChk_branch'),'0'), and(equals(variables('var_If_2A_Continuation_branch'),'1'), not(contains(variables('ExclusionList'),'EdwLoadPrmRateRunCycUpdt_EE')))),'1','0')",
            "type": "Expression"
          },
          "cases": [
            {
              "value": "1",
              "activities": [
                {
                  "name": "Set_var_If_6A_branch_true",
                  "type": "SetVariable",
                  "userProperties": [],
                  "policy": {
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "typeProperties": {
                    "variableName": "var_If_6A_branch",
                    "value": {
                      "value": "1",
                      "type": "Expression"
                    }
                  }
                },
                {
                  "name": "EdwLoadPrmRateRunCycUpdt_EE",
                  "type": "ExecutePipeline",
                  "dependsOn": [
                    {
                      "activity": "Set_var_If_6A_branch_true",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "userProperties": [],
                  "policy": {
                    "secureInput": false
                  },
                  "typeProperties": {
                    "waitOnCompletion": true,
                    "parameters": {
                      "IDSOwner": {
                        "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                        "type": "Expression"
                      },
                      "ids_secret_name": {
                        "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                        "type": "Expression"
                      },
                      "BeginCycle": {
                        "value": "@variables('IdsRunCycle')",
                        "type": "Expression"
                      }
                    },
                    "pipeline": {
                      "referenceName": "EdwLoadPrmRateRunCycUpdt_EE",
                      "type": "PipelineReference"
                    }
                  }
                }
              ]
            }
          ],
          "defaultActivities": [
            {
              "name": "Set_var_If_6A_branch_false",
              "type": "SetVariable",
              "userProperties": [],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "typeProperties": {
                "variableName": "var_If_6A_branch",
                "value": {
                  "value": "0",
                  "type": "Expression"
                }
              }
            }
          ]
        }
      },
      {
        "name": "If_6A_Continuation_Switch",
        "type": "Switch",
        "dependsOn": [
          {
            "activity": "If_6A_Switch",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "on": {
            "value": "@if(and(equals(variables('var_CountChk_branch'),'0'),equals(variables('var_If_2A_Continuation_branch'),'1')),'1','0')",
            "type": "Expression"
          },
          "cases": [
            {
              "value": "1",
              "activities": [
                {
                  "name": "Set_var_If_6A_Continuation_branch_true",
                  "type": "SetVariable",
                  "userProperties": [],
                  "policy": {
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "typeProperties": {
                    "variableName": "var_If_6A_Continuation_branch",
                    "value": {
                      "value": "1",
                      "type": "Expression"
                    }
                  }
                },
                {
                  "name": "CloseRunCycle_Notebook",
                  "type": "DatabricksNotebook",
                  "linkedServiceName": {
                    "referenceName": "shareddatabricks",
                    "type": "LinkedServiceReference"
                  },
                  "dependsOn": [
                    {
                      "activity": "Set_var_If_6A_Continuation_branch_true",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "userProperties": [],
                  "policy": {
                    "timeout": "12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "typeProperties": {
                    "notebookPath": {
                      "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/CloseRunCycle')",
                      "type": "Expression"
                    },
                    "baseParameters": {
                      "DBOwner": {
                        "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                        "type": "Expression"
                      },
                      "secret_name": {
                        "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                        "type": "Expression"
                      },
                      "SrcSystem": {
                        "value": "@variables('Source')",
                        "type": "Expression"
                      },
                      "TrgtSystem": {
                        "value": "@variables('Target')",
                        "type": "Expression"
                      },
                      "SubjCode": {
                        "value": "@variables('Subject')",
                        "type": "Expression"
                      },
                      "FreqCode": {
                        "value": "@variables('Frequency')",
                        "type": "Expression"
                      },
                      "RunCycle": {
                        "value": "@variables('EDWRunCycle')",
                        "type": "Expression"
                      },
                      "GlobalEnvironment": {
                        "value": "@pipeline().globalParameters.gbl_param_environment",
                        "type": "Expression"
                      }
                    }
                  }
                }
              ]
            }
          ],
          "defaultActivities": [
            {
              "name": "Set_var_If_6A_Continuation_branch_false",
              "type": "SetVariable",
              "userProperties": [],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "typeProperties": {
                "variableName": "var_If_6A_Continuation_branch",
                "value": {
                  "value": "0",
                  "type": "Expression"
                }
              }
            }
          ]
        }
      }
    ]
  }
}