npw-projects-np-projects-bluekc-translated-66e9366f6cca/Sprint_3_4_5/SequenceJobs/Enterprise/EdwPrvcyPrereqSeq.json
{
  "name": "EdwPrvcyPrereqSeq",
  "type": "Microsoft.DataFactory/factories/pipelines",
  "properties": {
    "folder": {
      "name": "Enterprise/Jobs/DataWarehouse/Privacy/EdwLoads/Seq"
    },
    "parameters": {
      "ExclusionList": {
        "type": "String",
        "defaultValue": ""
      },
      "CurrRunCycleDate": {
        "type": "String",
        "defaultValue": ""
      },
      "RunCycle": {
        "type": "String",
        "defaultValue": ""
      },
      "IdsRunCycle": {
        "type": "String",
        "defaultValue": ""
      }
    },
    "variables": {
      "DeleteCntExtrnlMbr": {
        "type": "String",
        "defaultValue": ""
      },
      "UnixFileRecCnt_a1": {
        "type": "String",
        "defaultValue": ""
      },
      "UnixFileRecCnt_a2": {
        "type": "String",
        "defaultValue": ""
      },
      "var_If_20B_branch": {
        "type": "String",
        "defaultValue": ""
      },
      "var_If_20C_branch": {
        "type": "String",
        "defaultValue": ""
      },
      "LinkCount": {
        "type": "String",
        "defaultValue": ""
      }
    },
    "activities": [
      {
        "name": "If_20A",
        "type": "IfCondition",
        "userProperties": [],
        "typeProperties": {
          "expression": {
            "value": "@equals(contains(split(string(pipeline().parameters.ExclusionList), ';'), 'IdsEdwPrvcyExtrnlMbrDExtr'), false)",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "name": "IdsPrvcyExtrnlMbrDExtr",
              "type": "DatabricksNotebook",
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_notebook_path, '/DataWarehouse/Privacy/EdwLoads/PrvcyExtrnlMbrD/IdsEdwPrvcyExtrnlMbrDExtr')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "IDSRunCycle": {
                    "value": "@pipeline().parameters.IdsRunCycle",
                    "type": "Expression"
                  },
                  "EdwRunCycleDate": {
                    "value": "@pipeline().parameters.CurrRunCycleDate",
                    "type": "Expression"
                  },
                  "IDSOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "ids_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                    "type": "Expression"
                  },
                  "EDWRunCycle": {
                    "value": "@pipeline().parameters.RunCycle",
                    "type": "Expression"
                  },
                  "GlobalEnvironment": {
                    "value": "@pipeline().globalParameters.gbl_param_environment",
                    "type": "Expression"
                  }
                }
              }
            }
          ],
          "ifFalseActivities": []
        }
      },
      {
        "name": "UnixFileRecCnt_Notebook",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "If_20A",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/UnixFileRecCnt')",
            "type": "Expression"
          },
          "baseParameters": {
            "UnixFileRecCnt_a1": {
              "value": "@concat(pipeline().globalParameters.gbl_param_FilePath, '/load')",
              "type": "Expression"
            },
            "UnixFileRecCnt_a2": "*EdwPrvcyExtrnlMbrDel*",
            "IDSOwner": {
              "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
              "type": "Expression"
            },
            "ids_secret_name": {
              "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
              "type": "Expression"
            },
            "GlobalEnvironment": {
              "value": "@pipeline().globalParameters.gbl_param_environment",
              "type": "Expression"
            },
            "EnvProjectPath": {
              "value": "",
              "type": "Expression"
            },
            "FilePath": {
              "value": "",
              "type": "Expression"
            },
            "FileName": {
              "value": "",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "Set_DeleteCntExtrnlMbr",
        "type": "SetVariable",
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "dependsOn": [
          {
            "activity": "UnixFileRecCnt_Notebook",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "variableName": "DeleteCntExtrnlMbr",
          "value": {
            "value": "@string(activity('UnixFileRecCnt_Notebook').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "If_20B_Switch",
        "type": "Switch",
        "dependsOn": [
          {
            "activity": "Set_DeleteCntExtrnlMbr",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "on": {
            "value": "@if(and(not(contains(split(string(pipeline().parameters.ExclusionList), ';'), 'ConcatPrvcyExtrnlMbrDel')), greater(int(variables('DeleteCntExtrnlMbr')), 0)),'1','0')",
            "type": "Expression"
          },
          "cases": [
            {
              "value": "1",
              "activities": [
                {
                  "name": "Set_var_If_20B_branch_true",
                  "type": "SetVariable",
                  "policy": {
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "variableName": "var_If_20B_branch",
                    "value": {
                      "value": "1",
                      "type": "Expression"
                    }
                  }
                },
                {
                  "name": "ConcatPrvcyExtrnlMbrDel_Notebook",
                  "type": "DatabricksNotebook",
                  "linkedServiceName": {
                    "referenceName": "shareddatabricks",
                    "type": "LinkedServiceReference"
                  },
                  "policy": {
                    "timeout": "12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "dependsOn": [
                    {
                      "activity": "Set_var_If_20B_branch_true",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "typeProperties": {
                    "notebookPath": {
                      "value": "@concat(pipeline().globalParameters.gbl_param_scripts, 'prepare_files')",
                      "type": "Expression"
                    },
                    "baseParameters": {
                      "FILEPATH": {
                        "value": "'load'",
                        "type": "Expression"
                      },
                      "PATTERN": "*EdwPrvcyExtrnlMbrDel",
                      "MERGEFILE": "EdwPrvcyExtrnlMbrDel",
                      "SORTKEY_PK": "1,6",
                      "SORTKEY_TS": "1,6",
                      "EnvProjectPath": {
                        "value": "@pipeline().globalParameters.gbl_param_environment",
                        "type": "Expression"
                      }
                    }
                  }
                }
              ]
            }
          ],
          "defaultActivities": [
            {
              "name": "Set_var_If_20B_branch_false",
              "type": "SetVariable",
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "var_If_20B_branch",
                "value": {
                  "value": "0",
                  "type": "Expression"
                }
              }
            }
          ]
        }
      },
      {
        "name": "If_20C_Switch",
        "type": "Switch",
        "dependsOn": [
          {
            "activity": "If_20B_Switch",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "on": {
            "value": "@if(and(equals(variables('var_If_20B_branch'), '1'), not(contains(split(string(pipeline().parameters.ExclusionList), ';'), 'IdsEdwPrvcyExtrnlMbrDDel'))),'1','0')",
            "type": "Expression"
          },
          "cases": [
            {
              "value": "1",
              "activities": [
                {
                  "name": "Set_var_If_20C_branch_true",
                  "type": "SetVariable",
                  "policy": {
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "variableName": "var_If_20C_branch",
                    "value": {
                      "value": "1",
                      "type": "Expression"
                    }
                  }
                },
                {
                  "name": "IdsEdwPrvcyExtrnlMbrDDel_Execute",
                  "type": "ExecutePipeline",
                  "dependsOn": [
                    {
                      "activity": "Set_var_If_20C_branch_true",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "secureInput": false
                  },
                  "typeProperties": {
                    "pipeline": {
                      "referenceName": "IdsEdwPrvcyExtrnlMbrDDel",
                      "type": "PipelineReference"
                    },
                    "parameters": {
                      "EDWOwner": {
                        "value": "@pipeline().globalParameters.gbl_param_EDWOwner",
                        "type": "Expression"
                      },
                      "edw_secret_name": {
                        "value": "@pipeline().globalParameters.gbl_param_EDWSecret",
                        "type": "Expression"
                      }
                    },
                    "waitOnCompletion": true
                  }
                }
              ]
            }
          ],
          "defaultActivities": [
            {
              "name": "Set_var_If_20C_branch_false",
              "type": "SetVariable",
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "var_If_20C_branch",
                "value": {
                  "value": "0",
                  "type": "Expression"
                }
              }
            }
          ]
        }
      },
      {
        "name": "If_20E",
        "type": "IfCondition",
        "dependsOn": [
          {
            "activity": "If_20C_Switch",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "expression": {
            "value": "@equals(contains(split(string(pipeline().parameters.ExclusionList), ';'), 'RmPrvcyExtrnlMbr'), false)",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "name": "RmPrvcyExtrnlMbr_Notebook",
              "type": "DatabricksNotebook",
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_scripts, '/Generic_ADLS_File_Operations')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "src_file_with_path": {
                    "value": "/load/EdwPrvcyExtrnlMbrDel.*",
                    "type": "Expression"
                  },
                  "command": "delete",
                  "project": "enterprise"
                }
              }
            }
          ],
          "ifFalseActivities": []
        }
      },
      {
        "name": "Or_3B",
        "type": "IfCondition",
        "dependsOn": [
          {
            "activity": "If_20E",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "expression": {
            "value": "@equals(contains(split(string(pipeline().parameters.ExclusionList), ';'), 'IdsEdwPrvcyExtrnlMbrDLoad'), false)",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "name": "IdsEdwPrvcyExtrnlMbrDLoad_Execute",
              "type": "ExecutePipeline",
              "policy": {
                "secureInput": false
              },
              "typeProperties": {
                "pipeline": {
                  "referenceName": "IdsEdwPrvcyExtrnlMbrDLoad",
                  "type": "PipelineReference"
                },
                "parameters": {
                  "EDWOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_EDWOwner",
                    "type": "Expression"
                  },
                  "edw_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_EDWSecret",
                    "type": "Expression"
                  }
                },
                "waitOnCompletion": true
              }
            }
          ],
          "ifFalseActivities": []
        }
      }
    ]
  }
}