npw-projects-np-projects-bluekc-translated-66e9366f6cca/Sprint_3_4_5/SequenceJobs/Enterprise/IdsCustSvcPrereqSeq.json
{
  "name": "IdsCustSvcPrereqSeq",
  "type": "Microsoft.DataFactory/factories/pipelines",
  "properties": {
    "folder": {
      "name": "Enterprise/Jobs/DataWarehouse/CustSvc/EdwLoads/Seq"
    },
    "parameters": {
      "ExclusionList": {
        "type": "String",
        "defaultValue": ""
      }
    },
    "variables": {
      "FctsRunCycle": {
        "type": "String",
        "defaultValue": ""
      },
      "NascoRunCycle": {
        "type": "String",
        "defaultValue": ""
      },
      "LinkCount": {
        "type": "String",
        "defaultValue": ""
      }
    },
    "activities": [
      {
        "name": "GetExtractRunCycle_FctsRunCycle",
        "type": "DatabricksNotebook",
        "dependsOn": [],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/GetExtractRunCycle')",
            "type": "Expression"
          },
          "baseParameters": {
            "GetExtractRunCycle_a1": {
              "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
              "type": "Expression"
            },
            "secret_name": {
              "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
              "type": "Expression"
            },
            "GetExtractRunCycle_a2": "CUSTSVC",
            "GetExtractRunCycle_a3": "FACETS",
            "load": "EDW",
            "owner_schema": {
              "value": "",
              "type": "Expression"
            },
            "subject": {
              "value": "",
              "type": "Expression"
            },
            "source": {
              "value": "",
              "type": "Expression"
            },
            "target": {
              "value": "",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "Set_FctsRunCycle",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "GetExtractRunCycle_FctsRunCycle",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "FctsRunCycle",
          "value": {
            "value": "@string(activity('GetExtractRunCycle_FctsRunCycle').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "GetExtractRunCycle_NascoRunCycle",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "Set_FctsRunCycle",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/GetExtractRunCycle')",
            "type": "Expression"
          },
          "baseParameters": {
            "GetExtractRunCycle_a1": {
              "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
              "type": "Expression"
            },
            "secret_name": {
              "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
              "type": "Expression"
            },
            "GetExtractRunCycle_a2": "CUSTSVC",
            "GetExtractRunCycle_a3": "NPS",
            "load": "EDW",
            "owner_schema": {
              "value": "",
              "type": "Expression"
            },
            "subject": {
              "value": "",
              "type": "Expression"
            },
            "source": {
              "value": "",
              "type": "Expression"
            },
            "target": {
              "value": "",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "Set_NascoRunCycle",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "GetExtractRunCycle_NascoRunCycle",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "NascoRunCycle",
          "value": {
            "value": "@string(activity('GetExtractRunCycle_NascoRunCycle').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "If_1A",
        "type": "IfCondition",
        "dependsOn": [
          {
            "activity": "Set_NascoRunCycle",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "expression": {
            "value": "@equals(contains(split(string(pipeline().parameters.ExclusionList), ';'), 'IdsEdwWCustSvcDrvrExtr'), false)",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "name": "IdsEdwWCustSvcDrvrExtr",
              "type": "DatabricksNotebook",
              "dependsOn": [],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_notebook_path, '/DataWarehouse/CustSvc/EdwLoads/Driver/IdsEdwWCustSvcDrvrExtr')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "IDSFilePath": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSFilePath",
                    "type": "Expression"
                  },
                  "IDSOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "ids_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                    "type": "Expression"
                  },
                  "FctsRunCycle": {
                    "value": "@variables('FctsRunCycle')",
                    "type": "Expression"
                  },
                  "NascoRunCycle": {
                    "value": "@variables('NascoRunCycle')",
                    "type": "Expression"
                  }
                }
              }
            }
          ]
        }
      },
      {
        "name": "If_1B",
        "type": "IfCondition",
        "dependsOn": [
          {
            "activity": "If_1A",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "expression": {
            "value": "@equals(contains(split(string(pipeline().parameters.ExclusionList), ';'), 'IdsEdwWCustSvcDrvrLoad'), false)",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "name": "IdsEdwWCustSvcDrvrLoad",
              "type": "ExecutePipeline",
              "dependsOn": [],
              "policy": {
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "pipeline": {
                  "referenceName": "IdsEdwWCustSvcDrvrLoad",
                  "type": "PipelineReference"
                },
                "waitOnCompletion": true,
                "parameters": {
                  "IDSOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "ids_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                    "type": "Expression"
                  }
                }
              }
            }
          ]
        }
      }
    ]
  }
}