npw-projects-np-projects-bluekc-translated-66e9366f6cca/Sprint_3_4_5/SequenceJobs/Enterprise/IdsEdwCrsFootPcsDrgClmFPayblAmtBalSeq.json
{
  "name": "IdsEdwCrsFootPcsDrgClmFPayblAmtBalSeq",
  "type": "Microsoft.DataFactory/factories/pipelines",
  "properties": {
    "folder": {
      "name": "Enterprise/Jobs/claim/Seq/Balancing"
    },
    "parameters": {
      "RunID": {
        "type": "String",
        "defaultValue": ""
      },
      "ExtrRunCycle": {
        "type": "String",
        "defaultValue": ""
      },
      "CurrentDate": {
        "type": "String",
        "defaultValue": ""
      },
      "Target": {
        "type": "String",
        "defaultValue": ""
      },
      "Subject": {
        "type": "String",
        "defaultValue": ""
      },
      "Frequency": {
        "type": "String",
        "defaultValue": ""
      },
      "Source": {
        "type": "String",
        "defaultValue": ""
      },
      "TrgtTbl": {
        "type": "String",
        "defaultValue": ""
      }
    },
    "variables": {
      "FileRecCount": {
        "type": "String",
        "defaultValue": ""
      },
      "CalcAmt": {
        "type": "String",
        "defaultValue": ""
      },
      "OrigAmt": {
        "type": "String",
        "defaultValue": ""
      },
      "Tolerance_Multiplier": {
        "type": "String",
        "defaultValue": ""
      },
      "Tolerance_Amount": {
        "type": "String",
        "defaultValue": ""
      },
      "Diff": {
        "type": "String",
        "defaultValue": ""
      },
      "Balance_Status": {
        "type": "String",
        "defaultValue": ""
      },
      "LinkCount": {
        "type": "String",
        "defaultValue": ""
      }
    },
    "activities": [
      {
        "name": "IdsEdwCrsFootPcsDrgClmFPayblAmtBal",
        "type": "DatabricksNotebook",
        "dependsOn": [],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_notebook_path,'/claim/claim/Balancing/IdsEdwCrsFootPcsDrgClmFPayblAmtBal')",
            "type": "Expression"
          },
          "baseParameters": {
            "EDWOwner": {
              "value": "@pipeline().globalParameters.gbl_param_EDWOwner",
              "type": "Expression"
            },
            "edw_secret_name": {
              "value": "@pipeline().globalParameters.gbl_param_EDWSecret",
              "type": "Expression"
            },
            "ExtrRunCycle": {
              "value": "@pipeline().parameters.ExtrRunCycle",
              "type": "Expression"
            },
            "RunID": {
              "value": "@pipeline().parameters.RunID",
              "type": "Expression"
            },
            "GlobalEnvironment": {
              "value": "@pipeline().globalParameters.gbl_param_environment",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "UnixFileRecCnt",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "IdsEdwCrsFootPcsDrgClmFPayblAmtBal",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/UnixFileRecCnt')",
            "type": "Expression"
          },
          "baseParameters": {
            "UnixFileRecCnt_a1": {
              "value": "@concat(pipeline().globalParameters.gbl_param_container_integrate,'/',pipeline().globalParameters.gbl_param_environment,'/balancing/sync/')",
              "type": "Expression"
            },
            "UnixFileRecCnt_a2": "ClmFPcsDrugPayblAmt.dat",
            "GlobalEnvironment": {
              "value": "@pipeline().globalParameters.gbl_param_environment",
              "type": "Expression"
            },
            "EnvProjectPath": {
              "value": "",
              "type": "Expression"
            },
            "FilePath": {
              "value": "",
              "type": "Expression"
            },
            "FileName": {
              "value": "",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "SetFileRecCount",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "UnixFileRecCnt",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "FileRecCount",
          "value": {
            "value": "@string(activity('UnixFileRecCnt').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "IfCalcAmt",
        "type": "IfCondition",
        "dependsOn": [
          {
            "activity": "SetFileRecCount",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "expression": {
            "value": "@equals(variables('FileRecCount'),'0')",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "name": "SetCalcAmt0",
              "type": "SetVariable",
              "dependsOn": [],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "CalcAmt",
                "value": {
                  "value": "0",
                  "type": "Expression"
                }
              }
            }
          ],
          "ifFalseActivities": [
            {
              "name": "GetRunInfoCalcAmt",
              "type": "DatabricksNotebook",
              "dependsOn": [],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/GetRunInfo')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "job_name": "CalcPcsDrugPayblAmtSum",
                  "GlobalEnvironment": {
                    "value": "@pipeline().globalParameters.gbl_param_environment",
                    "type": "Expression"
                  },
                  "secret_name": {
                    "value": "",
                    "type": "Expression"
                  },
                  "IDSOwner": {
                    "value": "",
                    "type": "Expression"
                  }
                }
              }
            },
            {
              "name": "SetCalcAmt",
              "type": "SetVariable",
              "dependsOn": [
                {
                  "activity": "GetRunInfoCalcAmt",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "CalcAmt",
                "value": {
                  "value": "@string(activity('GetRunInfoCalcAmt').output.runOutput)",
                  "type": "Expression"
                }
              }
            }
          ]
        }
      },
      {
        "name": "IfOrigAmt",
        "type": "IfCondition",
        "dependsOn": [
          {
            "activity": "SetFileRecCount",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "expression": {
            "value": "@equals(variables('FileRecCount'),'0')",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "name": "SetOrigAmt0",
              "type": "SetVariable",
              "dependsOn": [],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "OrigAmt",
                "value": {
                  "value": "0",
                  "type": "Expression"
                }
              }
            }
          ],
          "ifFalseActivities": [
            {
              "name": "GetRunInfoOrigAmt",
              "type": "DatabricksNotebook",
              "dependsOn": [],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/GetRunInfo')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "job_name": "OrigPcsDrugPayblAmtSum",
                  "GlobalEnvironment": {
                    "value": "@pipeline().globalParameters.gbl_param_environment",
                    "type": "Expression"
                  },
                  "secret_name": {
                    "value": "",
                    "type": "Expression"
                  },
                  "IDSOwner": {
                    "value": "",
                    "type": "Expression"
                  }
                }
              }
            },
            {
              "name": "SetOrigAmt",
              "type": "SetVariable",
              "dependsOn": [
                {
                  "activity": "GetRunInfoOrigAmt",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "OrigAmt",
                "value": {
                  "value": "@string(activity('GetRunInfoOrigAmt').output.runOutput)",
                  "type": "Expression"
                }
              }
            }
          ]
        }
      },
      {
        "name": "GetCrsFootTlrncToleranceMultiplier",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "IdsEdwCrsFootPcsDrgClmFPayblAmtBal",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/GetCrsFootTlrnc')",
            "type": "Expression"
          },
          "baseParameters": {
            "owner_schema": {
              "value": "@pipeline().globalParameters.gbl_param_UWSOwner",
              "type": "Expression"
            },
            "secret_name": {
              "value": "@pipeline().globalParameters.gbl_param_UWSSecret",
              "type": "Expression"
            },
            "TargetTable": {
              "value": "@pipeline().parameters.TrgtTbl",
              "type": "Expression"
            },
            "SubjectArea": {
              "value": "@pipeline().parameters.Subject",
              "type": "Expression"
            },
            "GlobalEnvironment": {
              "value": "@pipeline().globalParameters.gbl_param_environment",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "SetToleranceMultiplier",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "GetCrsFootTlrncToleranceMultiplier",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "Tolerance_Multiplier",
          "value": {
            "value": "@string(activity('GetCrsFootTlrncToleranceMultiplier').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "ComputeToleranceAmount",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "IfOrigAmt",
            "dependencyConditions": [
              "Succeeded"
            ]
          },
          {
            "activity": "SetToleranceMultiplier",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "Tolerance_Amount",
          "value": {
            "value": "@string(mul(float(variables('OrigAmt')), float(variables('Tolerance_Multiplier'))))",
            "type": "Expression"
          }
        }
      },
      {
        "name": "ComputeDiff",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "IfOrigAmt",
            "dependencyConditions": [
              "Succeeded"
            ]
          },
          {
            "activity": "IfCalcAmt",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "Diff",
          "value": {
            "value": "@string(sub(float(variables('OrigAmt')), float(variables('CalcAmt'))))",
            "type": "Expression"
          }
        }
      },
      {
        "name": "GetBalStatus",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "ComputeToleranceAmount",
            "dependencyConditions": [
              "Succeeded"
            ]
          },
          {
            "activity": "ComputeDiff",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/GetBalStatus')",
            "type": "Expression"
          },
          "baseParameters": {
            "Difference_Count": {
              "value": "@variables('Diff')",
              "type": "Expression"
            },
            "Tolerance_Amount": {
              "value": "@variables('Tolerance_Amount')",
              "type": "Expression"
            },
            "GlobalEnvironment": {
              "value": "@pipeline().globalParameters.gbl_param_environment",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "SetBalanceStatus",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "GetBalStatus",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "Balance_Status",
          "value": {
            "value": "@string(activity('GetBalStatus').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "WriteTblBalSum",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "SetBalanceStatus",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/TblBalSumLoad')",
            "type": "Expression"
          },
          "baseParameters": {
            "owner_schema": {
              "value": "@pipeline().globalParameters.gbl_param_UWSOwner",
              "type": "Expression"
            },
            "secret_name": {
              "value": "@pipeline().globalParameters.gbl_param_UWSSecret",
              "type": "Expression"
            },
            "TrgtSystem": {
              "value": "@pipeline().parameters.Target",
              "type": "Expression"
            },
            "SubjArea": {
              "value": "@pipeline().parameters.Subject",
              "type": "Expression"
            },
            "TrgtTbl": {
              "value": "@pipeline().parameters.TrgtTbl",
              "type": "Expression"
            },
            "BalDtm": {
              "value": "@pipeline().parameters.CurrentDate",
              "type": "Expression"
            },
            "RowCtTlrncCode": "NA",
            "ClmnSumTlrncCode": "NA",
            "RowTorRowTlrncCode": "NA",
            "RiTlrncCode": "NA",
            "RelshpClmnSumTlrncCode": "NA",
            "CrsFootTlrncCode": {
              "value": "@variables('Balance_Status')",
              "type": "Expression"
            },
            "HistRsnblTlrncCode": "NA",
            "RunCycle": {
              "value": "@pipeline().parameters.ExtrRunCycle",
              "type": "Expression"
            },
            "GlobalEnvironment": {
              "value": "@pipeline().globalParameters.gbl_param_environment",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "WriteCrsFootDtl",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "SetBalanceStatus",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/CrsFootDtlLoad')",
            "type": "Expression"
          },
          "baseParameters": {
            "owner_schema": {
              "value": "@pipeline().globalParameters.gbl_param_UWSOwner",
              "type": "Expression"
            },
            "secret_name": {
              "value": "@pipeline().globalParameters.gbl_param_UWSSecret",
              "type": "Expression"
            },
            "TrgtSystem": {
              "value": "@pipeline().parameters.Target",
              "type": "Expression"
            },
            "SrcSystem": {
              "value": "@pipeline().parameters.Source",
              "type": "Expression"
            },
            "SubjArea": {
              "value": "@pipeline().parameters.Subject",
              "type": "Expression"
            },
            "TrgtTbl": {
              "value": "@pipeline().parameters.TrgtTbl",
              "type": "Expression"
            },
            "ClmnNm": "CLM_ACTL_PD_AMT",
            "TotAmt": {
              "value": "@variables('OrigAmt')",
              "type": "Expression"
            },
            "CalcAmt": {
              "value": "@variables('CalcAmt')",
              "type": "Expression"
            },
            "DscrpncyAmt": {
              "value": "@variables('Diff')",
              "type": "Expression"
            },
            "TlrncCode": {
              "value": "@variables('Balance_Status')",
              "type": "Expression"
            },
            "TlrncAmt": {
              "value": "@variables('Tolerance_Amount')",
              "type": "Expression"
            },
            "TlrncMul": {
              "value": "@variables('Tolerance_Multiplier')",
              "type": "Expression"
            },
            "FreqCode": {
              "value": "@pipeline().parameters.Frequency",
              "type": "Expression"
            },
            "RunCycle": {
              "value": "@pipeline().parameters.ExtrRunCycle",
              "type": "Expression"
            },
            "GlobalEnvironment": {
              "value": "@pipeline().globalParameters.gbl_param_environment",
              "type": "Expression"
            },
            "CrctnNote": {
              "value": "",
              "type": "Expression"
            },
            "UserID": {
              "value": "",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "RmSyncFile",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "SetBalanceStatus",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_scripts,'/Generic_ADLS_File_Operations')",
            "type": "Expression"
          },
          "baseParameters": {
            "src_file_with_path": {
              "value": "/balancing/sync/ClmFPcsDrugPayblAmt.dat",
              "type": "Expression"
            },
            "command": "delete",
            "project": "enterprise"
          }
        }
      }
    ]
  }
}