npw-projects-np-projects-bluekc-translated-66e9366f6cca/Sprint_3_4_5/SequenceJobs/Enterprise/IdsEdwClmnSumUmSvcFBalSeq.json
{
  "name": "IdsEdwClmnSumUmSvcFBalSeq",
  "type": "Microsoft.DataFactory/factories/pipelines",
  "properties": {
    "folder": {
      "name": "Enterprise/Jobs/MedMgt/Seq/Balancing"
    },
    "parameters": {
      "RunID": {
        "type": "String",
        "defaultValue": ""
      },
      "ExtrRunCycle": {
        "type": "String",
        "defaultValue": ""
      },
      "CurrentDate": {
        "type": "String",
        "defaultValue": ""
      },
      "ExclusionList": {
        "type": "String",
        "defaultValue": "\\\"\\\""
      },
      "Target": {
        "type": "String",
        "defaultValue": ""
      },
      "Subject": {
        "type": "String",
        "defaultValue": ""
      },
      "Frequency": {
        "type": "String",
        "defaultValue": ""
      },
      "Source": {
        "type": "String",
        "defaultValue": ""
      },
      "TrgtTbl": {
        "type": "String",
        "defaultValue": ""
      },
      "SnpshtTbl": {
        "type": "String",
        "defaultValue": ""
      },
      "ColumnNm1": {
        "type": "String",
        "defaultValue": ""
      },
      "ColumnNm2": {
        "type": "String",
        "defaultValue": ""
      }
    },
    "variables": {
      "Src_Amt1": {
        "type": "String",
        "defaultValue": ""
      },
      "Trgt_Amt1": {
        "type": "String",
        "defaultValue": ""
      },
      "Tolerance_Multiplier1": {
        "type": "String",
        "defaultValue": ""
      },
      "Src_Amt2": {
        "type": "String",
        "defaultValue": ""
      },
      "Trgt_Amt2": {
        "type": "String",
        "defaultValue": ""
      },
      "Tolerance_Multiplier2": {
        "type": "String",
        "defaultValue": ""
      },
      "Tolerance_Amount1": {
        "type": "String",
        "defaultValue": ""
      },
      "Diff_Amt1": {
        "type": "String",
        "defaultValue": ""
      },
      "Tolerance_Amount2": {
        "type": "String",
        "defaultValue": ""
      },
      "Diff_Amt2": {
        "type": "String",
        "defaultValue": ""
      },
      "Balance_Status1": {
        "type": "String",
        "defaultValue": ""
      },
      "Balance_Status2": {
        "type": "String",
        "defaultValue": ""
      },
      "LinkCount": {
        "type": "String",
        "defaultValue": ""
      }
    },
    "activities": [
      {
        "name": "GetValues_Src_Amt1_Notebook",
        "type": "DatabricksNotebook",
        "dependsOn": [],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/GetSrcClmnSum')",
            "type": "Expression"
          },
          "baseParameters": {
            "GetSrcClmnSum_a1": {
              "value": "@pipeline().globalParameters.gbl_param_EDWOwner",
              "type": "Expression"
            },
            "GetSrcClmnSum_a2": {
              "value": "@pipeline().parameters.ColumnNm1",
              "type": "Expression"
            },
            "GetSrcClmnSum_a3": {
              "value": "@pipeline().parameters.SnpshtTbl",
              "type": "Expression"
            },
            "owner_schema": {
              "value": "",
              "type": "Expression"
            },
            "secret_name": {
              "value": "",
              "type": "Expression"
            },
            "ClmnNm": {
              "value": "",
              "type": "Expression"
            },
            "SnpshtTblNm": {
              "value": "",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "Set_Src_Amt1",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "GetValues_Src_Amt1_Notebook",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "Src_Amt1",
          "value": {
            "value": "@string(activity('GetValues_Src_Amt1_Notebook').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "GetValues_Trgt_Amt1_Notebook",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "Set_Src_Amt1",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/GetTrgtClmnSum')",
            "type": "Expression"
          },
          "baseParameters": {
            "GetTrgtClmnSum_a1": {
              "value": "@pipeline().globalParameters.gbl_param_EDWOwner",
              "type": "Expression"
            },
            "GetTrgtClmnSum_a2": {
              "value": "@pipeline().parameters.ColumnNm1",
              "type": "Expression"
            },
            "GetTrgtClmnSum_a3": {
              "value": "@pipeline().parameters.TrgtTbl",
              "type": "Expression"
            },
            "GetTrgtClmnSum_a4": {
              "value": "@pipeline().parameters.ExtrRunCycle",
              "type": "Expression"
            },
            "owner_schema": {
              "value": "",
              "type": "Expression"
            },
            "secret_name": {
              "value": "",
              "type": "Expression"
            },
            "ClmnNm": {
              "value": "",
              "type": "Expression"
            },
            "TrgtTblNm": {
              "value": "",
              "type": "Expression"
            },
            "RunCycle": {
              "value": "",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "Set_Trgt_Amt1",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "GetValues_Trgt_Amt1_Notebook",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "Trgt_Amt1",
          "value": {
            "value": "@string(activity('GetValues_Trgt_Amt1_Notebook').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "GetValues_Tolerance_Multiplier1_Notebook",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "Set_Trgt_Amt1",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/GetClmnSumTlrnc')",
            "type": "Expression"
          },
          "baseParameters": {
            "GetClmnSumTlrnc_a1": {
              "value": "@pipeline().globalParameters.gbl_param_UWSOwner",
              "type": "Expression"
            },
            "GetClmnSumTlrnc_a2": {
              "value": "@pipeline().parameters.TrgtTbl",
              "type": "Expression"
            },
            "GetClmnSumTlrnc_a3": {
              "value": "@pipeline().parameters.ColumnNm1",
              "type": "Expression"
            },
            "GetClmnSumTlrnc_a4": {
              "value": "@pipeline().parameters.Subject",
              "type": "Expression"
            },
            "owner_schema": {
              "value": "",
              "type": "Expression"
            },
            "secret_name": {
              "value": "",
              "type": "Expression"
            },
            "TargetTable": {
              "value": "",
              "type": "Expression"
            },
            "TargetColumn": {
              "value": "",
              "type": "Expression"
            },
            "SubjectArea": {
              "value": "",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "Set_Tolerance_Multiplier1",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "GetValues_Tolerance_Multiplier1_Notebook",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "Tolerance_Multiplier1",
          "value": {
            "value": "@string(activity('GetValues_Tolerance_Multiplier1_Notebook').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "GetValues_Src_Amt2_Notebook",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "Set_Tolerance_Multiplier1",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/GetSrcClmnSum')",
            "type": "Expression"
          },
          "baseParameters": {
            "GetSrcClmnSum_a1": {
              "value": "@pipeline().globalParameters.gbl_param_EDWOwner",
              "type": "Expression"
            },
            "GetSrcClmnSum_a2": {
              "value": "@pipeline().parameters.ColumnNm2",
              "type": "Expression"
            },
            "GetSrcClmnSum_a3": {
              "value": "@pipeline().parameters.SnpshtTbl",
              "type": "Expression"
            },
            "owner_schema": {
              "value": "",
              "type": "Expression"
            },
            "secret_name": {
              "value": "",
              "type": "Expression"
            },
            "ClmnNm": {
              "value": "",
              "type": "Expression"
            },
            "SnpshtTblNm": {
              "value": "",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "Set_Src_Amt2",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "GetValues_Src_Amt2_Notebook",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "Src_Amt2",
          "value": {
            "value": "@string(activity('GetValues_Src_Amt2_Notebook').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "GetValues_Trgt_Amt2_Notebook",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "Set_Src_Amt2",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/GetTrgtClmnSum')",
            "type": "Expression"
          },
          "baseParameters": {
            "GetTrgtClmnSum_a1": {
              "value": "@pipeline().globalParameters.gbl_param_EDWOwner",
              "type": "Expression"
            },
            "GetTrgtClmnSum_a2": {
              "value": "@pipeline().parameters.ColumnNm2",
              "type": "Expression"
            },
            "GetTrgtClmnSum_a3": {
              "value": "@pipeline().parameters.TrgtTbl",
              "type": "Expression"
            },
            "GetTrgtClmnSum_a4": {
              "value": "@pipeline().parameters.ExtrRunCycle",
              "type": "Expression"
            },
            "owner_schema": {
              "value": "",
              "type": "Expression"
            },
            "secret_name": {
              "value": "",
              "type": "Expression"
            },
            "ClmnNm": {
              "value": "",
              "type": "Expression"
            },
            "TrgtTblNm": {
              "value": "",
              "type": "Expression"
            },
            "RunCycle": {
              "value": "",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "Set_Trgt_Amt2",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "GetValues_Trgt_Amt2_Notebook",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "Trgt_Amt2",
          "value": {
            "value": "@string(activity('GetValues_Trgt_Amt2_Notebook').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "PreCalc_Tolerance_Amount1_Notebook",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "Set_Trgt_Amt2",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/GENERIC_EXPRESSION')",
            "type": "Expression"
          },
          "baseParameters": {
            "expression_a1": {
              "value": "@variables('Src_Amt1')",
              "type": "Expression"
            },
            "expression_a2": {
              "value": "@variables('Tolerance_Multiplier1')",
              "type": "Expression"
            },
            "operator": "MULTIPLY"
          }
        }
      },
      {
        "name": "Set_Tolerance_Amount1",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "PreCalc_Tolerance_Amount1_Notebook",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "Tolerance_Amount1",
          "value": {
            "value": "@string(activity('PreCalc_Tolerance_Amount1_Notebook').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "PreCalc_Diff_Amt1_Notebook",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "Set_Tolerance_Amount1",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/GENERIC_EXPRESSION')",
            "type": "Expression"
          },
          "baseParameters": {
            "expression_a1": {
              "value": "@variables('Src_Amt1')",
              "type": "Expression"
            },
            "expression_a2": {
              "value": "@variables('Trgt_Amt1')",
              "type": "Expression"
            },
            "operator": "SUBTRACT"
          }
        }
      },
      {
        "name": "Set_Diff_Amt1",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "PreCalc_Diff_Amt1_Notebook",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "Diff_Amt1",
          "value": {
            "value": "@string(activity('PreCalc_Diff_Amt1_Notebook').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "PreCalc_Tolerance_Amount2_Notebook",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "Set_Diff_Amt1",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/GENERIC_EXPRESSION')",
            "type": "Expression"
          },
          "baseParameters": {
            "expression_a1": {
              "value": "@variables('Src_Amt2')",
              "type": "Expression"
            },
            "expression_a2": {
              "value": "@variables('Tolerance_Multiplier2')",
              "type": "Expression"
            },
            "operator": "MULTIPLY"
          }
        }
      },
      {
        "name": "Set_Tolerance_Amount2",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "PreCalc_Tolerance_Amount2_Notebook",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "Tolerance_Amount2",
          "value": {
            "value": "@string(activity('PreCalc_Tolerance_Amount2_Notebook').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "PreCalc_Diff_Amt2_Notebook",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "Set_Tolerance_Amount2",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/GENERIC_EXPRESSION')",
            "type": "Expression"
          },
          "baseParameters": {
            "expression_a1": {
              "value": "@variables('Src_Amt2')",
              "type": "Expression"
            },
            "expression_a2": {
              "value": "@variables('Trgt_Amt2')",
              "type": "Expression"
            },
            "operator": "SUBTRACT"
          }
        }
      },
      {
        "name": "Set_Diff_Amt2",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "PreCalc_Diff_Amt2_Notebook",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "Diff_Amt2",
          "value": {
            "value": "@string(activity('PreCalc_Diff_Amt2_Notebook').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "Balancing_Status_Balance_Status1_Notebook",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "Set_Diff_Amt2",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/GetBalStatus')",
            "type": "Expression"
          },
          "baseParameters": {
            "Difference_Count": {
              "value": "@variables('Diff_Amt1')",
              "type": "Expression"
            },
            "Tolerance_Amount": {
              "value": "@variables('Tolerance_Amount1')",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "Set_Balance_Status1",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "Balancing_Status_Balance_Status1_Notebook",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "Balance_Status1",
          "value": {
            "value": "@string(activity('Balancing_Status_Balance_Status1_Notebook').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "Balancing_Status_Balance_Status2_Notebook",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "Set_Balance_Status1",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/GetBalStatus')",
            "type": "Expression"
          },
          "baseParameters": {
            "Difference_Count": {
              "value": "@variables('Diff_Amt2')",
              "type": "Expression"
            },
            "Tolerance_Amount": {
              "value": "@variables('Tolerance_Amount2')",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "Set_Balance_Status2",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "Balancing_Status_Balance_Status2_Notebook",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "Balance_Status2",
          "value": {
            "value": "@string(activity('Balancing_Status_Balance_Status2_Notebook').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "If_1C",
        "type": "IfCondition",
        "dependsOn": [
          {
            "activity": "Set_Balance_Status2",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "expression": {
            "value": "@or(not(equals(string(variables('Diff_Amt1')),'0')),not(equals(string(variables('Diff_Amt2')),'0')))",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "name": "IdsEdwClmnSumUmSvcFBal",
              "type": "DatabricksNotebook",
              "dependsOn": [],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_notebook_path,'/MedMgt/UmSvcF/Balancing/IdsEdwClmnSumUmSvcFBal')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "EDWOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_EDWOwner",
                    "type": "Expression"
                  },
                  "ExtrRunCycle": {
                    "value": "@pipeline().parameters.ExtrRunCycle",
                    "type": "Expression"
                  },
                  "RunID": {
                    "value": "@pipeline().parameters.RunID",
                    "type": "Expression"
                  }
                }
              }
            }
          ],
          "ifFalseActivities": []
        }
      },
      {
        "name": "WriteTableSummary1",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "If_1C",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/TblBalSumLoad')",
            "type": "Expression"
          },
          "baseParameters": {
            "owner_schema": {
              "value": "@pipeline().globalParameters.gbl_param_UWSOwner",
              "type": "Expression"
            },
            "TrgtSystem": "Target",
            "SubjArea": "Subject",
            "TrgtTbl": "TrgtTbl",
            "BalDtm": "CurrentDate",
            "RowCtTlrncCode": "NA",
            "ClmnSumTlrncCode": {
              "value": "@variables('Balance_Status1')",
              "type": "Expression"
            },
            "RowTorRowTlrncCode": "NA",
            "RiTlrncCode": "NA",
            "RelshpClmnSumTlrncCode": "NA",
            "CrsFootTlrncCode": "NA",
            "HistRsnblTlrncCode": "NA",
            "RunCycle": {
              "value": "@pipeline().parameters.ExtrRunCycle",
              "type": "Expression"
            },
            "secret_name": {
              "value": "",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "WriteTableSummary2",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "WriteTableSummary1",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/TblBalSumLoad')",
            "type": "Expression"
          },
          "baseParameters": {
            "owner_schema": {
              "value": "@pipeline().globalParameters.gbl_param_UWSOwner",
              "type": "Expression"
            },
            "TrgtSystem": "Target",
            "SubjArea": "Subject",
            "TrgtTbl": "TrgtTbl",
            "BalDtm": "CurrentDate",
            "RowCtTlrncCode": "NA",
            "ClmnSumTlrncCode": {
              "value": "@variables('Balance_Status2')",
              "type": "Expression"
            },
            "RowTorRowTlrncCode": "NA",
            "RiTlrncCode": "NA",
            "RelshpClmnSumTlrncCode": "NA",
            "CrsFootTlrncCode": "NA",
            "HistRsnblTlrncCode": "NA",
            "RunCycle": {
              "value": "@pipeline().parameters.ExtrRunCycle",
              "type": "Expression"
            },
            "secret_name": {
              "value": "",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "WriteClmnSumDtl1",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "If_1C",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/ClmnSumDtlLoad')",
            "type": "Expression"
          },
          "baseParameters": {
            "owner_schema": {
              "value": "@pipeline().globalParameters.gbl_param_UWSOwner",
              "type": "Expression"
            },
            "SrcSystem": "Source",
            "TrgtSystem": "Target",
            "SubjArea": "Subject",
            "TrgtTbl": "TrgtTbl",
            "ClmnNm": "ColumnNm1",
            "TrgtAmt": {
              "value": "@variables('Trgt_Amt1')",
              "type": "Expression"
            },
            "SrcAmt": {
              "value": "@variables('Src_Amt1')",
              "type": "Expression"
            },
            "DiffAmt": {
              "value": "@variables('Diff_Amt1')",
              "type": "Expression"
            },
            "TlrncCode": {
              "value": "@variables('Balance_Status1')",
              "type": "Expression"
            },
            "TlrncAmt": {
              "value": "@variables('Tolerance_Amount1')",
              "type": "Expression"
            },
            "TlrncMul": {
              "value": "@variables('Tolerance_Multiplier1')",
              "type": "Expression"
            },
            "FreqCode": "Frequency",
            "RunCycle": {
              "value": "@pipeline().parameters.ExtrRunCycle",
              "type": "Expression"
            },
            "secret_name": {
              "value": "",
              "type": "Expression"
            },
            "CrctnNote": {
              "value": "",
              "type": "Expression"
            },
            "UserID": {
              "value": "",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "WriteClmnSumDtl2",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "WriteClmnSumDtl1",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/ClmnSumDtlLoad')",
            "type": "Expression"
          },
          "baseParameters": {
            "owner_schema": {
              "value": "@pipeline().globalParameters.gbl_param_UWSOwner",
              "type": "Expression"
            },
            "SrcSystem": "Source",
            "TrgtSystem": "Target",
            "SubjArea": "Subject",
            "TrgtTbl": "TrgtTbl",
            "ClmnNm": "ColumnNm2",
            "TrgtAmt": {
              "value": "@variables('Trgt_Amt2')",
              "type": "Expression"
            },
            "SrcAmt": {
              "value": "@variables('Src_Amt2')",
              "type": "Expression"
            },
            "DiffAmt": {
              "value": "@variables('Diff_Amt2')",
              "type": "Expression"
            },
            "TlrncCode": {
              "value": "@variables('Balance_Status2')",
              "type": "Expression"
            },
            "TlrncAmt": {
              "value": "@variables('Tolerance_Amount2')",
              "type": "Expression"
            },
            "TlrncMul": {
              "value": "@variables('Tolerance_Multiplier2')",
              "type": "Expression"
            },
            "FreqCode": "Frequency",
            "RunCycle": {
              "value": "@pipeline().parameters.ExtrRunCycle",
              "type": "Expression"
            },
            "secret_name": {
              "value": "",
              "type": "Expression"
            },
            "CrctnNote": {
              "value": "",
              "type": "Expression"
            },
            "UserID": {
              "value": "",
              "type": "Expression"
            }
          }
        }
      }
    ]
  }
}