npw-projects-np-projects-bluekc-translated-66e9366f6cca/Sprint_3_4_5/SequenceJobs/Enterprise/IdsEdwRCSClmFClmLnFBalSeq.json
{
  "name": "IdsEdwRCSClmFClmLnFBalSeq",
  "type": "Microsoft.DataFactory/factories/pipelines",
  "properties": {
    "folder": {
      "name": "Enterprise/Jobs/claim/Seq/Balancing"
    },
    "parameters": {
      "RunID": {
        "type": "String",
        "defaultValue": ""
      },
      "ExtrRunCycle": {
        "type": "String",
        "defaultValue": ""
      },
      "CurrentDate": {
        "type": "String",
        "defaultValue": ""
      },
      "Target": {
        "type": "String",
        "defaultValue": ""
      },
      "Subject": {
        "type": "String",
        "defaultValue": ""
      },
      "Frequency": {
        "type": "String",
        "defaultValue": ""
      },
      "Source": {
        "type": "String",
        "defaultValue": ""
      },
      "PriTbl": {
        "type": "String",
        "defaultValue": ""
      },
      "SecTbl": {
        "type": "String",
        "defaultValue": ""
      },
      "GetValues_Pri_Amt1": {
        "type": "String",
        "defaultValue": ""
      },
      "GetValues_Pri_Amt2": {
        "type": "String",
        "defaultValue": ""
      },
      "GetValues_Pri_Amt3": {
        "type": "String",
        "defaultValue": ""
      },
      "GetValues_Pri_Amt4": {
        "type": "String",
        "defaultValue": ""
      },
      "GetValues_Pri_Amt5": {
        "type": "String",
        "defaultValue": ""
      },
      "GetValues_Pri_Amt6": {
        "type": "String",
        "defaultValue": ""
      },
      "GetValues_Pri_Amt7": {
        "type": "String",
        "defaultValue": ""
      },
      "GetValues_Pri_Amt8": {
        "type": "String",
        "defaultValue": ""
      },
      "GetValues_Pri_Amt9": {
        "type": "String",
        "defaultValue": ""
      },
      "GetValues_Pri_Amt10": {
        "type": "String",
        "defaultValue": ""
      },
      "PreCalc_Dscrpncy_Amt1": {
        "type": "String",
        "defaultValue": ""
      },
      "PreCalc_Dscrpncy_Amt2": {
        "type": "String",
        "defaultValue": ""
      },
      "PreCalc_Dscrpncy_Amt3": {
        "type": "String",
        "defaultValue": ""
      },
      "PreCalc_Dscrpncy_Amt4": {
        "type": "String",
        "defaultValue": ""
      },
      "PreCalc_Dscrpncy_Amt5": {
        "type": "String",
        "defaultValue": ""
      },
      "PreCalc_Dscrpncy_Amt6": {
        "type": "String",
        "defaultValue": ""
      },
      "PreCalc_Dscrpncy_Amt7": {
        "type": "String",
        "defaultValue": ""
      },
      "PreCalc_Dscrpncy_Amt8": {
        "type": "String",
        "defaultValue": ""
      },
      "PreCalc_Dscrpncy_Amt9": {
        "type": "String",
        "defaultValue": ""
      },
      "PreCalc_Dscrpncy_Amt10": {
        "type": "String",
        "defaultValue": ""
      },
      "Balancing_Status_Balance_Status1": {
        "type": "String",
        "defaultValue": ""
      },
      "Balancing_Status_Balance_Status2": {
        "type": "String",
        "defaultValue": ""
      },
      "Balancing_Status_Balance_Status3": {
        "type": "String",
        "defaultValue": ""
      },
      "Balancing_Status_Balance_Status4": {
        "type": "String",
        "defaultValue": ""
      },
      "Balancing_Status_Balance_Status5": {
        "type": "String",
        "defaultValue": ""
      },
      "Balancing_Status_Balance_Status6": {
        "type": "String",
        "defaultValue": ""
      },
      "Balancing_Status_Balance_Status7": {
        "type": "String",
        "defaultValue": ""
      },
      "Balancing_Status_Balance_Status8": {
        "type": "String",
        "defaultValue": ""
      },
      "Balancing_Status_Balance_Status9": {
        "type": "String",
        "defaultValue": ""
      },
      "Balancing_Status_Balance_Status10": {
        "type": "String",
        "defaultValue": ""
      },
      "PreCalc_Tolerance_Amount1": {
        "type": "String",
        "defaultValue": ""
      },
      "PreCalc_Tolerance_Amount2": {
        "type": "String",
        "defaultValue": ""
      },
      "PreCalc_Tolerance_Amount3": {
        "type": "String",
        "defaultValue": ""
      },
      "PreCalc_Tolerance_Amount4": {
        "type": "String",
        "defaultValue": ""
      },
      "PreCalc_Tolerance_Amount5": {
        "type": "String",
        "defaultValue": ""
      },
      "PreCalc_Tolerance_Amount6": {
        "type": "String",
        "defaultValue": ""
      },
      "PreCalc_Tolerance_Amount7": {
        "type": "String",
        "defaultValue": ""
      },
      "PreCalc_Tolerance_Amount8": {
        "type": "String",
        "defaultValue": ""
      },
      "PreCalc_Tolerance_Amount9": {
        "type": "String",
        "defaultValue": ""
      },
      "PreCalc_Tolerance_Amount10": {
        "type": "String",
        "defaultValue": ""
      },
      "GetValues_Tolerance_Multiplier1": {
        "type": "String",
        "defaultValue": ""
      },
      "GetValues_Tolerance_Multiplier2": {
        "type": "String",
        "defaultValue": ""
      },
      "GetValues_Tolerance_Multiplier3": {
        "type": "String",
        "defaultValue": ""
      },
      "GetValues_Tolerance_Multiplier4": {
        "type": "String",
        "defaultValue": ""
      },
      "GetValues_Tolerance_Multiplier5": {
        "type": "String",
        "defaultValue": ""
      },
      "GetValues_Tolerance_Multiplier6": {
        "type": "String",
        "defaultValue": ""
      },
      "GetValues_Tolerance_Multiplier7": {
        "type": "String",
        "defaultValue": ""
      },
      "GetValues_Tolerance_Multiplier8": {
        "type": "String",
        "defaultValue": ""
      },
      "GetValues_Tolerance_Multiplier9": {
        "type": "String",
        "defaultValue": ""
      },
      "GetValues_Tolerance_Multiplier10": {
        "type": "String",
        "defaultValue": ""
      }
    },
    "variables": {
      "Pri_Amt1": {
        "type": "String"
      },
      "Sec_Amt1": {
        "type": "String"
      },
      "Tolerance_Multiplier1": {
        "type": "String"
      },
      "Pri_Amt2": {
        "type": "String"
      },
      "Sec_Amt2": {
        "type": "String"
      },
      "Pri_Amt3": {
        "type": "String"
      },
      "Sec_Amt3": {
        "type": "String"
      },
      "Pri_Amt4": {
        "type": "String"
      },
      "Sec_Amt4": {
        "type": "String"
      },
      "Pri_Amt5": {
        "type": "String"
      },
      "Sec_Amt5": {
        "type": "String"
      },
      "Pri_Amt6": {
        "type": "String"
      },
      "Sec_Amt6": {
        "type": "String"
      },
      "Pri_Amt7": {
        "type": "String"
      },
      "Sec_Amt7": {
        "type": "String"
      },
      "Pri_Amt8": {
        "type": "String"
      },
      "Sec_Amt8": {
        "type": "String"
      },
      "Pri_Amt9": {
        "type": "String"
      },
      "Sec_Amt9": {
        "type": "String"
      },
      "Pri_Amt10": {
        "type": "String"
      },
      "Sec_Amt10": {
        "type": "String"
      },
      "Tolerance_Multiplier2": {
        "type": "String"
      },
      "Tolerance_Multiplier3": {
        "type": "String"
      },
      "Tolerance_Multiplier4": {
        "type": "String"
      },
      "Tolerance_Multiplier5": {
        "type": "String"
      },
      "Tolerance_Multiplier6": {
        "type": "String"
      },
      "Tolerance_Multiplier7": {
        "type": "String"
      },
      "Tolerance_Multiplier8": {
        "type": "String"
      },
      "Tolerance_Multiplier9": {
        "type": "String"
      },
      "Tolerance_Multiplier10": {
        "type": "String"
      },
      "Tolerance_Amount1": {
        "type": "String"
      },
      "Dscrpncy_Amt1": {
        "type": "String"
      },
      "Tolerance_Amount2": {
        "type": "String"
      },
      "Dscrpncy_Amt2": {
        "type": "String"
      },
      "Tolerance_Amount3": {
        "type": "String"
      },
      "Dscrpncy_Amt3": {
        "type": "String"
      },
      "Tolerance_Amount4": {
        "type": "String"
      },
      "Dscrpncy_Amt4": {
        "type": "String"
      },
      "Tolerance_Amount5": {
        "type": "String"
      },
      "Dscrpncy_Amt5": {
        "type": "String"
      },
      "Tolerance_Amount6": {
        "type": "String"
      },
      "Dscrpncy_Amt6": {
        "type": "String"
      },
      "Tolerance_Amount7": {
        "type": "String"
      },
      "Dscrpncy_Amt7": {
        "type": "String"
      },
      "Tolerance_Amount8": {
        "type": "String"
      },
      "Dscrpncy_Amt8": {
        "type": "String"
      },
      "Tolerance_Amount9": {
        "type": "String"
      },
      "Dscrpncy_Amt9": {
        "type": "String"
      },
      "Tolerance_Amount10": {
        "type": "String"
      },
      "Dscrpncy_Amt10": {
        "type": "String"
      },
      "Balance_Status1": {
        "type": "String"
      },
      "Balance_Status2": {
        "type": "String"
      },
      "Balance_Status3": {
        "type": "String"
      },
      "Balance_Status4": {
        "type": "String"
      },
      "Balance_Status5": {
        "type": "String"
      },
      "Balance_Status6": {
        "type": "String"
      },
      "Balance_Status7": {
        "type": "String"
      },
      "Balance_Status8": {
        "type": "String"
      },
      "Balance_Status9": {
        "type": "String"
      },
      "Balance_Status10": {
        "type": "String"
      },
      "LinkCount": {
        "type": "String",
        "defaultValue": ""
      }
    },
    "activities": [
      {
        "name": "GetTrgtClmnSum_Pri_Amt1",
        "type": "DatabricksNotebook",
        "dependsOn": [],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/GetTrgtClmnSum')",
            "type": "Expression"
          },
          "baseParameters": {
            "owner_schema": {
              "value": "@pipeline().globalParameters.gbl_param_EDWOwner",
              "type": "Expression"
            },
            "secret_name": {
              "value": "@pipeline().globalParameters.gbl_param_EDWSecret",
              "type": "Expression"
            },
            "GetTrgtClmnSum_a1": {
              "value": "@pipeline().globalParameters.gbl_param_EDWOwner",
              "type": "Expression"
            },
            "GetTrgtClmnSum_a2": "CLM_LN_TOT_ALW_AMT",
            "GetTrgtClmnSum_a3": {
              "value": "@pipeline().parameters.PriTbl",
              "type": "Expression"
            },
            "GetTrgtClmnSum_a4": {
              "value": "@pipeline().parameters.ExtrRunCycle",
              "type": "Expression"
            },
            "ClmnNm": {
              "value": "",
              "type": "Expression"
            },
            "TrgtTblNm": {
              "value": "",
              "type": "Expression"
            },
            "RunCycle": {
              "value": "",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "Set_Pri_Amt1",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "GetTrgtClmnSum_Pri_Amt1",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "Pri_Amt1",
          "value": {
            "value": "@string(activity('GetTrgtClmnSum_Pri_Amt1').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "GetTrgtClmnSum_Sec_Amt1",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "Set_Pri_Amt1",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/GetTrgtClmnSum')",
            "type": "Expression"
          },
          "baseParameters": {
            "owner_schema": {
              "value": "@pipeline().globalParameters.gbl_param_EDWOwner",
              "type": "Expression"
            },
            "secret_name": {
              "value": "@pipeline().globalParameters.gbl_param_EDWSecret",
              "type": "Expression"
            },
            "GetTrgtClmnSum_a1": {
              "value": "@pipeline().globalParameters.gbl_param_EDWOwner",
              "type": "Expression"
            },
            "GetTrgtClmnSum_a2": "CLM_LN_ALW_AMT",
            "GetTrgtClmnSum_a3": {
              "value": "@pipeline().parameters.SecTbl",
              "type": "Expression"
            },
            "GetTrgtClmnSum_a4": {
              "value": "@pipeline().parameters.ExtrRunCycle",
              "type": "Expression"
            },
            "ClmnNm": {
              "value": "",
              "type": "Expression"
            },
            "TrgtTblNm": {
              "value": "",
              "type": "Expression"
            },
            "RunCycle": {
              "value": "",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "Set_Sec_Amt1",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "GetTrgtClmnSum_Sec_Amt1",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "Sec_Amt1",
          "value": {
            "value": "@string(activity('GetTrgtClmnSum_Sec_Amt1').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "GetRelshpClmnSumTlrnc_Tolerance_Multiplier1",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "Set_Sec_Amt1",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/GetRelshpClmnSumTlrnc')",
            "type": "Expression"
          },
          "baseParameters": {
            "owner_schema": {
              "value": "@pipeline().globalParameters.gbl_param_UWSOwner",
              "type": "Expression"
            },
            "secret_name": {
              "value": "@pipeline().globalParameters.gbl_param_UWSSecret",
              "type": "Expression"
            },
            "PrimaryTable": {
              "value": "@pipeline().globalParameters.gbl_param_UWSOwner",
              "type": "Expression"
            },
            "SecondaryTable": {
              "value": "@pipeline().parameters.PriTbl",
              "type": "Expression"
            },
            "ClmnNm": {
              "value": "@pipeline().parameters.SecTbl",
              "type": "Expression"
            },
            "SubjectArea": "CLM_LN_TOT_ALW_AMT",
            "GetRelshpClmnSumTlrnc_a5": {
              "value": "@pipeline().parameters.Subject",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "Set_Tolerance_Multiplier1",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "GetRelshpClmnSumTlrnc_Tolerance_Multiplier1",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "Tolerance_Multiplier1",
          "value": {
            "value": "@string(activity('GetRelshpClmnSumTlrnc_Tolerance_Multiplier1').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "GetTrgtClmnSum_Pri_Amt2",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "Set_Tolerance_Multiplier1",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/GetTrgtClmnSum')",
            "type": "Expression"
          },
          "baseParameters": {
            "owner_schema": {
              "value": "@pipeline().globalParameters.gbl_param_EDWOwner",
              "type": "Expression"
            },
            "secret_name": {
              "value": "@pipeline().globalParameters.gbl_param_EDWSecret",
              "type": "Expression"
            },
            "GetTrgtClmnSum_a1": {
              "value": "@pipeline().globalParameters.gbl_param_EDWOwner",
              "type": "Expression"
            },
            "GetTrgtClmnSum_a2": "CLM_LN_TOT_CHRG_AMT",
            "GetTrgtClmnSum_a3": {
              "value": "@pipeline().parameters.PriTbl",
              "type": "Expression"
            },
            "GetTrgtClmnSum_a4": {
              "value": "@pipeline().parameters.ExtrRunCycle",
              "type": "Expression"
            },
            "ClmnNm": {
              "value": "",
              "type": "Expression"
            },
            "TrgtTblNm": {
              "value": "",
              "type": "Expression"
            },
            "RunCycle": {
              "value": "",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "Set_Pri_Amt2",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "GetTrgtClmnSum_Pri_Amt2",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "Pri_Amt2",
          "value": {
            "value": "@string(activity('GetTrgtClmnSum_Pri_Amt2').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "GetTrgtClmnSum_Sec_Amt2",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "Set_Pri_Amt2",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/GetTrgtClmnSum')",
            "type": "Expression"
          },
          "baseParameters": {
            "owner_schema": {
              "value": "@pipeline().globalParameters.gbl_param_EDWOwner",
              "type": "Expression"
            },
            "secret_name": {
              "value": "@pipeline().globalParameters.gbl_param_EDWSecret",
              "type": "Expression"
            },
            "GetTrgtClmnSum_a1": {
              "value": "@pipeline().globalParameters.gbl_param_EDWOwner",
              "type": "Expression"
            },
            "GetTrgtClmnSum_a2": "CLM_LN_CHRG_AMT",
            "GetTrgtClmnSum_a3": {
              "value": "@pipeline().parameters.SecTbl",
              "type": "Expression"
            },
            "GetTrgtClmnSum_a4": {
              "value": "@pipeline().parameters.ExtrRunCycle",
              "type": "Expression"
            },
            "ClmnNm": {
              "value": "",
              "type": "Expression"
            },
            "TrgtTblNm": {
              "value": "",
              "type": "Expression"
            },
            "RunCycle": {
              "value": "",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "Set_Sec_Amt2",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "GetTrgtClmnSum_Sec_Amt2",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "Sec_Amt2",
          "value": {
            "value": "@string(activity('GetTrgtClmnSum_Sec_Amt2').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "GetTrgtClmnSum_Pri_Amt3",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "Set_Sec_Amt2",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/GetTrgtClmnSum')",
            "type": "Expression"
          },
          "baseParameters": {
            "owner_schema": {
              "value": "@pipeline().globalParameters.gbl_param_EDWOwner",
              "type": "Expression"
            },
            "secret_name": {
              "value": "@pipeline().globalParameters.gbl_param_EDWSecret",
              "type": "Expression"
            },
            "GetTrgtClmnSum_a1": {
              "value": "@pipeline().globalParameters.gbl_param_EDWOwner",
              "type": "Expression"
            },
            "GetTrgtClmnSum_a2": "CLM_LN_TOT_COINS_AMT",
            "GetTrgtClmnSum_a3": {
              "value": "@pipeline().parameters.PriTbl",
              "type": "Expression"
            },
            "GetTrgtClmnSum_a4": {
              "value": "@pipeline().parameters.ExtrRunCycle",
              "type": "Expression"
            },
            "ClmnNm": {
              "value": "",
              "type": "Expression"
            },
            "TrgtTblNm": {
              "value": "",
              "type": "Expression"
            },
            "RunCycle": {
              "value": "",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "Set_Pri_Amt3",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "GetTrgtClmnSum_Pri_Amt3",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "Pri_Amt3",
          "value": {
            "value": "@string(activity('GetTrgtClmnSum_Pri_Amt3').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "GetTrgtClmnSum_Sec_Amt3",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "Set_Pri_Amt3",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/GetTrgtClmnSum')",
            "type": "Expression"
          },
          "baseParameters": {
            "owner_schema": {
              "value": "@pipeline().globalParameters.gbl_param_EDWOwner",
              "type": "Expression"
            },
            "secret_name": {
              "value": "@pipeline().globalParameters.gbl_param_EDWSecret",
              "type": "Expression"
            },
            "GetTrgtClmnSum_a1": {
              "value": "@pipeline().globalParameters.gbl_param_EDWOwner",
              "type": "Expression"
            },
            "GetTrgtClmnSum_a2": "CLM_LN_COINS_AMT",
            "GetTrgtClmnSum_a3": {
              "value": "@pipeline().parameters.SecTbl",
              "type": "Expression"
            },
            "GetTrgtClmnSum_a4": {
              "value": "@pipeline().parameters.ExtrRunCycle",
              "type": "Expression"
            },
            "ClmnNm": {
              "value": "",
              "type": "Expression"
            },
            "TrgtTblNm": {
              "value": "",
              "type": "Expression"
            },
            "RunCycle": {
              "value": "",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "Set_Sec_Amt3",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "GetTrgtClmnSum_Sec_Amt3",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "Sec_Amt3",
          "value": {
            "value": "@string(activity('GetTrgtClmnSum_Sec_Amt3').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "GetTrgtClmnSum_Pri_Amt4",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "Set_Sec_Amt3",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/GetTrgtClmnSum')",
            "type": "Expression"
          },
          "baseParameters": {
            "owner_schema": {
              "value": "@pipeline().globalParameters.gbl_param_EDWOwner",
              "type": "Expression"
            },
            "secret_name": {
              "value": "@pipeline().globalParameters.gbl_param_EDWSecret",
              "type": "Expression"
            },
            "GetTrgtClmnSum_a1": {
              "value": "@pipeline().globalParameters.gbl_param_EDWOwner",
              "type": "Expression"
            },
            "GetTrgtClmnSum_a2": "CLM_LN_TOT_CNSD_CHRG_AMT",
            "GetTrgtClmnSum_a3": {
              "value": "@pipeline().parameters.PriTbl",
              "type": "Expression"
            },
            "GetTrgtClmnSum_a4": {
              "value": "@pipeline().parameters.ExtrRunCycle",
              "type": "Expression"
            },
            "ClmnNm": {
              "value": "",
              "type": "Expression"
            },
            "TrgtTblNm": {
              "value": "",
              "type": "Expression"
            },
            "RunCycle": {
              "value": "",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "Set_Pri_Amt4",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "GetTrgtClmnSum_Pri_Amt4",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "Pri_Amt4",
          "value": {
            "value": "@string(activity('GetTrgtClmnSum_Pri_Amt4').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "GetTrgtClmnSum_Sec_Amt4",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "Set_Pri_Amt4",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/GetTrgtClmnSum')",
            "type": "Expression"
          },
          "baseParameters": {
            "owner_schema": {
              "value": "@pipeline().globalParameters.gbl_param_EDWOwner",
              "type": "Expression"
            },
            "secret_name": {
              "value": "@pipeline().globalParameters.gbl_param_EDWSecret",
              "type": "Expression"
            },
            "GetTrgtClmnSum_a1": {
              "value": "@pipeline().globalParameters.gbl_param_EDWOwner",
              "type": "Expression"
            },
            "GetTrgtClmnSum_a2": "CLM_LN_CNSD_CHRG_AMT",
            "GetTrgtClmnSum_a3": {
              "value": "@pipeline().parameters.SecTbl",
              "type": "Expression"
            },
            "GetTrgtClmnSum_a4": {
              "value": "@pipeline().parameters.ExtrRunCycle",
              "type": "Expression"
            },
            "ClmnNm": {
              "value": "",
              "type": "Expression"
            },
            "TrgtTblNm": {
              "value": "",
              "type": "Expression"
            },
            "RunCycle": {
              "value": "",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "Set_Sec_Amt4",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "GetTrgtClmnSum_Sec_Amt4",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "Sec_Amt4",
          "value": {
            "value": "@string(activity('GetTrgtClmnSum_Sec_Amt4').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "GetTrgtClmnSum_Pri_Amt5",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "Set_Sec_Amt4",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/GetTrgtClmnSum')",
            "type": "Expression"
          },
          "baseParameters": {
            "owner_schema": {
              "value": "@pipeline().globalParameters.gbl_param_EDWOwner",
              "type": "Expression"
            },
            "secret_name": {
              "value": "@pipeline().globalParameters.gbl_param_EDWSecret",
              "type": "Expression"
            },
            "GetTrgtClmnSum_a1": {
              "value": "@pipeline().globalParameters.gbl_param_EDWOwner",
              "type": "Expression"
            },
            "GetTrgtClmnSum_a2": "CLM_LN_TOT_COPAY_AMT",
            "GetTrgtClmnSum_a3": {
              "value": "@pipeline().parameters.PriTbl",
              "type": "Expression"
            },
            "GetTrgtClmnSum_a4": {
              "value": "@pipeline().parameters.ExtrRunCycle",
              "type": "Expression"
            },
            "ClmnNm": {
              "value": "",
              "type": "Expression"
            },
            "TrgtTblNm": {
              "value": "",
              "type": "Expression"
            },
            "RunCycle": {
              "value": "",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "Set_Pri_Amt5",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "GetTrgtClmnSum_Pri_Amt5",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "Pri_Amt5",
          "value": {
            "value": "@string(activity('GetTrgtClmnSum_Pri_Amt5').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "GetTrgtClmnSum_Sec_Amt5",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "Set_Pri_Amt5",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/GetTrgtClmnSum')",
            "type": "Expression"
          },
          "baseParameters": {
            "owner_schema": {
              "value": "@pipeline().globalParameters.gbl_param_EDWOwner",
              "type": "Expression"
            },
            "secret_name": {
              "value": "@pipeline().globalParameters.gbl_param_EDWSecret",
              "type": "Expression"
            },
            "GetTrgtClmnSum_a1": {
              "value": "@pipeline().globalParameters.gbl_param_EDWOwner",
              "type": "Expression"
            },
            "GetTrgtClmnSum_a2": "CLM_LN_COPAY_AMT",
            "GetTrgtClmnSum_a3": {
              "value": "@pipeline().parameters.SecTbl",
              "type": "Expression"
            },
            "GetTrgtClmnSum_a4": {
              "value": "@pipeline().parameters.ExtrRunCycle",
              "type": "Expression"
            },
            "ClmnNm": {
              "value": "",
              "type": "Expression"
            },
            "TrgtTblNm": {
              "value": "",
              "type": "Expression"
            },
            "RunCycle": {
              "value": "",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "Set_Sec_Amt5",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "GetTrgtClmnSum_Sec_Amt5",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "Sec_Amt5",
          "value": {
            "value": "@string(activity('GetTrgtClmnSum_Sec_Amt5').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "GetTrgtClmnSum_Pri_Amt6",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "Set_Sec_Amt5",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/GetTrgtClmnSum')",
            "type": "Expression"
          },
          "baseParameters": {
            "owner_schema": {
              "value": "@pipeline().globalParameters.gbl_param_EDWOwner",
              "type": "Expression"
            },
            "secret_name": {
              "value": "@pipeline().globalParameters.gbl_param_EDWSecret",
              "type": "Expression"
            },
            "GetTrgtClmnSum_a1": {
              "value": "@pipeline().globalParameters.gbl_param_EDWOwner",
              "type": "Expression"
            },
            "GetTrgtClmnSum_a2": "CLM_LN_TOT_DEDCT_AMT",
            "GetTrgtClmnSum_a3": {
              "value": "@pipeline().parameters.PriTbl",
              "type": "Expression"
            },
            "GetTrgtClmnSum_a4": {
              "value": "@pipeline().parameters.ExtrRunCycle",
              "type": "Expression"
            },
            "ClmnNm": {
              "value": "",
              "type": "Expression"
            },
            "TrgtTblNm": {
              "value": "",
              "type": "Expression"
            },
            "RunCycle": {
              "value": "",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "Set_Pri_Amt6",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "GetTrgtClmnSum_Pri_Amt6",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "Pri_Amt6",
          "value": {
            "value": "@string(activity('GetTrgtClmnSum_Pri_Amt6').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "GetTrgtClmnSum_Sec_Amt6",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "Set_Pri_Amt6",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/GetTrgtClmnSum')",
            "type": "Expression"
          },
          "baseParameters": {
            "owner_schema": {
              "value": "@pipeline().globalParameters.gbl_param_EDWOwner",
              "type": "Expression"
            },
            "secret_name": {
              "value": "@pipeline().globalParameters.gbl_param_EDWSecret",
              "type": "Expression"
            },
            "GetTrgtClmnSum_a1": {
              "value": "@pipeline().globalParameters.gbl_param_EDWOwner",
              "type": "Expression"
            },
            "GetTrgtClmnSum_a2": "CLM_LN_DEDCT_AMT",
            "GetTrgtClmnSum_a3": {
              "value": "@pipeline().parameters.SecTbl",
              "type": "Expression"
            },
            "GetTrgtClmnSum_a4": {
              "value": "@pipeline().parameters.ExtrRunCycle",
              "type": "Expression"
            },
            "ClmnNm": {
              "value": "",
              "type": "Expression"
            },
            "TrgtTblNm": {
              "value": "",
              "type": "Expression"
            },
            "RunCycle": {
              "value": "",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "Set_Sec_Amt6",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "GetTrgtClmnSum_Sec_Amt6",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "Sec_Amt6",
          "value": {
            "value": "@string(activity('GetTrgtClmnSum_Sec_Amt6').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "GetTrgtClmnSum_Pri_Amt7",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "Set_Sec_Amt6",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/GetTrgtClmnSum')",
            "type": "Expression"
          },
          "baseParameters": {
            "owner_schema": {
              "value": "@pipeline().globalParameters.gbl_param_EDWOwner",
              "type": "Expression"
            },
            "secret_name": {
              "value": "@pipeline().globalParameters.gbl_param_EDWSecret",
              "type": "Expression"
            },
            "GetTrgtClmnSum_a1": {
              "value": "@pipeline().globalParameters.gbl_param_EDWOwner",
              "type": "Expression"
            },
            "GetTrgtClmnSum_a2": "CLM_LN_TOT_DSALW_AMT",
            "GetTrgtClmnSum_a3": {
              "value": "@pipeline().parameters.PriTbl",
              "type": "Expression"
            },
            "GetTrgtClmnSum_a4": {
              "value": "@pipeline().parameters.ExtrRunCycle",
              "type": "Expression"
            },
            "ClmnNm": {
              "value": "",
              "type": "Expression"
            },
            "TrgtTblNm": {
              "value": "",
              "type": "Expression"
            },
            "RunCycle": {
              "value": "",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "Set_Pri_Amt7",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "GetTrgtClmnSum_Pri_Amt7",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "Pri_Amt7",
          "value": {
            "value": "@string(activity('GetTrgtClmnSum_Pri_Amt7').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "GetTrgtClmnSum_Sec_Amt7",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "Set_Pri_Amt7",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/GetTrgtClmnSum')",
            "type": "Expression"
          },
          "baseParameters": {
            "owner_schema": {
              "value": "@pipeline().globalParameters.gbl_param_EDWOwner",
              "type": "Expression"
            },
            "secret_name": {
              "value": "@pipeline().globalParameters.gbl_param_EDWSecret",
              "type": "Expression"
            },
            "GetTrgtClmnSum_a1": {
              "value": "@pipeline().globalParameters.gbl_param_EDWOwner",
              "type": "Expression"
            },
            "GetTrgtClmnSum_a2": "CLM_LN_DSALW_AMT",
            "GetTrgtClmnSum_a3": {
              "value": "@pipeline().parameters.SecTbl",
              "type": "Expression"
            },
            "GetTrgtClmnSum_a4": {
              "value": "@pipeline().parameters.ExtrRunCycle",
              "type": "Expression"
            },
            "ClmnNm": {
              "value": "",
              "type": "Expression"
            },
            "TrgtTblNm": {
              "value": "",
              "type": "Expression"
            },
            "RunCycle": {
              "value": "",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "Set_Sec_Amt7",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "GetTrgtClmnSum_Sec_Amt7",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "Sec_Amt7",
          "value": {
            "value": "@string(activity('GetTrgtClmnSum_Sec_Amt7').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "GetTrgtClmnSum_Pri_Amt8",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "Set_Sec_Amt7",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/GetTrgtClmnSum')",
            "type": "Expression"
          },
          "baseParameters": {
            "owner_schema": {
              "value": "@pipeline().globalParameters.gbl_param_EDWOwner",
              "type": "Expression"
            },
            "secret_name": {
              "value": "@pipeline().globalParameters.gbl_param_EDWSecret",
              "type": "Expression"
            },
            "GetTrgtClmnSum_a1": {
              "value": "@pipeline().globalParameters.gbl_param_EDWOwner",
              "type": "Expression"
            },
            "GetTrgtClmnSum_a2": "CLM_LN_TOT_PAYBL_AMT",
            "GetTrgtClmnSum_a3": {
              "value": "@pipeline().parameters.PriTbl",
              "type": "Expression"
            },
            "GetTrgtClmnSum_a4": {
              "value": "@pipeline().parameters.ExtrRunCycle",
              "type": "Expression"
            },
            "ClmnNm": {
              "value": "",
              "type": "Expression"
            },
            "TrgtTblNm": {
              "value": "",
              "type": "Expression"
            },
            "RunCycle": {
              "value": "",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "Set_Pri_Amt8",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "GetTrgtClmnSum_Pri_Amt8",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "Pri_Amt8",
          "value": {
            "value": "@string(activity('GetTrgtClmnSum_Pri_Amt8').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "GetTrgtClmnSum_Sec_Amt8",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "Set_Pri_Amt8",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/GetTrgtClmnSum')",
            "type": "Expression"
          },
          "baseParameters": {
            "owner_schema": {
              "value": "@pipeline().globalParameters.gbl_param_EDWOwner",
              "type": "Expression"
            },
            "secret_name": {
              "value": "@pipeline().globalParameters.gbl_param_EDWSecret",
              "type": "Expression"
            },
            "GetTrgtClmnSum_a1": {
              "value": "@pipeline().globalParameters.gbl_param_EDWOwner",
              "type": "Expression"
            },
            "GetTrgtClmnSum_a2": "CLM_LN_PAYBL_AMT",
            "GetTrgtClmnSum_a3": {
              "value": "@pipeline().parameters.SecTbl",
              "type": "Expression"
            },
            "GetTrgtClmnSum_a4": {
              "value": "@pipeline().parameters.ExtrRunCycle",
              "type": "Expression"
            },
            "ClmnNm": {
              "value": "",
              "type": "Expression"
            },
            "TrgtTblNm": {
              "value": "",
              "type": "Expression"
            },
            "RunCycle": {
              "value": "",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "Set_Sec_Amt8",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "GetTrgtClmnSum_Sec_Amt8",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "Sec_Amt8",
          "value": {
            "value": "@string(activity('GetTrgtClmnSum_Sec_Amt8').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "GetTrgtClmnSum_Pri_Amt9",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "Set_Sec_Amt8",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/GetTrgtClmnSum')",
            "type": "Expression"
          },
          "baseParameters": {
            "owner_schema": {
              "value": "@pipeline().globalParameters.gbl_param_EDWOwner",
              "type": "Expression"
            },
            "secret_name": {
              "value": "@pipeline().globalParameters.gbl_param_EDWSecret",
              "type": "Expression"
            },
            "GetTrgtClmnSum_a1": {
              "value": "@pipeline().globalParameters.gbl_param_EDWOwner",
              "type": "Expression"
            },
            "GetTrgtClmnSum_a2": "CLM_LN_TOT_PAYBL_TO_PROV_AMT",
            "GetTrgtClmnSum_a3": {
              "value": "@pipeline().parameters.PriTbl",
              "type": "Expression"
            },
            "GetTrgtClmnSum_a4": {
              "value": "@pipeline().parameters.ExtrRunCycle",
              "type": "Expression"
            },
            "ClmnNm": {
              "value": "",
              "type": "Expression"
            },
            "TrgtTblNm": {
              "value": "",
              "type": "Expression"
            },
            "RunCycle": {
              "value": "",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "Set_Pri_Amt9",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "GetTrgtClmnSum_Pri_Amt9",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "Pri_Amt9",
          "value": {
            "value": "@string(activity('GetTrgtClmnSum_Pri_Amt9').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "GetTrgtClmnSum_Sec_Amt9",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "Set_Pri_Amt9",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/GetTrgtClmnSum')",
            "type": "Expression"
          },
          "baseParameters": {
            "owner_schema": {
              "value": "@pipeline().globalParameters.gbl_param_EDWOwner",
              "type": "Expression"
            },
            "secret_name": {
              "value": "@pipeline().globalParameters.gbl_param_EDWSecret",
              "type": "Expression"
            },
            "GetTrgtClmnSum_a1": {
              "value": "@pipeline().globalParameters.gbl_param_EDWOwner",
              "type": "Expression"
            },
            "GetTrgtClmnSum_a2": "CLM_LN_PAYBL_TO_PROV_AMT",
            "GetTrgtClmnSum_a3": {
              "value": "@pipeline().parameters.SecTbl",
              "type": "Expression"
            },
            "GetTrgtClmnSum_a4": {
              "value": "@pipeline().parameters.ExtrRunCycle",
              "type": "Expression"
            },
            "ClmnNm": {
              "value": "",
              "type": "Expression"
            },
            "TrgtTblNm": {
              "value": "",
              "type": "Expression"
            },
            "RunCycle": {
              "value": "",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "Set_Sec_Amt9",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "GetTrgtClmnSum_Sec_Amt9",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "Sec_Amt9",
          "value": {
            "value": "@string(activity('GetTrgtClmnSum_Sec_Amt9').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "GetTrgtClmnSum_Pri_Amt10",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "Set_Sec_Amt9",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/GetTrgtClmnSum')",
            "type": "Expression"
          },
          "baseParameters": {
            "owner_schema": {
              "value": "@pipeline().globalParameters.gbl_param_EDWOwner",
              "type": "Expression"
            },
            "secret_name": {
              "value": "@pipeline().globalParameters.gbl_param_EDWSecret",
              "type": "Expression"
            },
            "GetTrgtClmnSum_a1": {
              "value": "@pipeline().globalParameters.gbl_param_EDWOwner",
              "type": "Expression"
            },
            "GetTrgtClmnSum_a2": "CLM_LN_TOT_PAYBL_TO_SUB_AMT",
            "GetTrgtClmnSum_a3": {
              "value": "@pipeline().parameters.PriTbl",
              "type": "Expression"
            },
            "GetTrgtClmnSum_a4": {
              "value": "@pipeline().parameters.ExtrRunCycle",
              "type": "Expression"
            },
            "ClmnNm": {
              "value": "",
              "type": "Expression"
            },
            "TrgtTblNm": {
              "value": "",
              "type": "Expression"
            },
            "RunCycle": {
              "value": "",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "Set_Pri_Amt10",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "GetTrgtClmnSum_Pri_Amt10",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "Pri_Amt10",
          "value": {
            "value": "@string(activity('GetTrgtClmnSum_Pri_Amt10').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "GetTrgtClmnSum_Sec_Amt10",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "Set_Pri_Amt10",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/GetTrgtClmnSum')",
            "type": "Expression"
          },
          "baseParameters": {
            "owner_schema": {
              "value": "@pipeline().globalParameters.gbl_param_EDWOwner",
              "type": "Expression"
            },
            "secret_name": {
              "value": "@pipeline().globalParameters.gbl_param_EDWSecret",
              "type": "Expression"
            },
            "GetTrgtClmnSum_a1": {
              "value": "@pipeline().globalParameters.gbl_param_EDWOwner",
              "type": "Expression"
            },
            "GetTrgtClmnSum_a2": "CLM_LN_PAYBL_TO_SUB_AMT",
            "GetTrgtClmnSum_a3": {
              "value": "@pipeline().parameters.SecTbl",
              "type": "Expression"
            },
            "GetTrgtClmnSum_a4": {
              "value": "@pipeline().parameters.ExtrRunCycle",
              "type": "Expression"
            },
            "ClmnNm": {
              "value": "",
              "type": "Expression"
            },
            "TrgtTblNm": {
              "value": "",
              "type": "Expression"
            },
            "RunCycle": {
              "value": "",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "Set_Sec_Amt10",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "GetTrgtClmnSum_Sec_Amt10",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "Sec_Amt10",
          "value": {
            "value": "@string(activity('GetTrgtClmnSum_Sec_Amt10').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "GetRelshpClmnSumTlrnc_Tolerance_Multiplier2",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "Set_Sec_Amt10",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/GetRelshpClmnSumTlrnc')",
            "type": "Expression"
          },
          "baseParameters": {
            "owner_schema": {
              "value": "@pipeline().globalParameters.gbl_param_UWSOwner",
              "type": "Expression"
            },
            "secret_name": {
              "value": "@pipeline().globalParameters.gbl_param_UWSSecret",
              "type": "Expression"
            },
            "PrimaryTable": {
              "value": "@pipeline().globalParameters.gbl_param_UWSOwner",
              "type": "Expression"
            },
            "SecondaryTable": {
              "value": "@pipeline().parameters.PriTbl",
              "type": "Expression"
            },
            "ClmnNm": {
              "value": "@pipeline().parameters.SecTbl",
              "type": "Expression"
            },
            "SubjectArea": "CLM_LN_TOT_CHRG_AMT",
            "GetRelshpClmnSumTlrnc_a5": {
              "value": "@pipeline().parameters.Subject",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "Set_Tolerance_Multiplier2",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "GetRelshpClmnSumTlrnc_Tolerance_Multiplier2",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "Tolerance_Multiplier2",
          "value": {
            "value": "@string(activity('GetRelshpClmnSumTlrnc_Tolerance_Multiplier2').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "GetRelshpClmnSumTlrnc_Tolerance_Multiplier3",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "Set_Tolerance_Multiplier2",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/GetRelshpClmnSumTlrnc')",
            "type": "Expression"
          },
          "baseParameters": {
            "owner_schema": {
              "value": "@pipeline().globalParameters.gbl_param_UWSOwner",
              "type": "Expression"
            },
            "secret_name": {
              "value": "@pipeline().globalParameters.gbl_param_UWSSecret",
              "type": "Expression"
            },
            "PrimaryTable": {
              "value": "@pipeline().globalParameters.gbl_param_UWSOwner",
              "type": "Expression"
            },
            "SecondaryTable": {
              "value": "@pipeline().parameters.PriTbl",
              "type": "Expression"
            },
            "ClmnNm": {
              "value": "@pipeline().parameters.SecTbl",
              "type": "Expression"
            },
            "SubjectArea": "CLM_LN_TOT_COINS_AMT",
            "GetRelshpClmnSumTlrnc_a5": {
              "value": "@pipeline().parameters.Subject",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "Set_Tolerance_Multiplier3",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "GetRelshpClmnSumTlrnc_Tolerance_Multiplier3",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "Tolerance_Multiplier3",
          "value": {
            "value": "@string(activity('GetRelshpClmnSumTlrnc_Tolerance_Multiplier3').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "GetRelshpClmnSumTlrnc_Tolerance_Multiplier4",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "Set_Tolerance_Multiplier3",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/GetRelshpClmnSumTlrnc')",
            "type": "Expression"
          },
          "baseParameters": {
            "owner_schema": {
              "value": "@pipeline().globalParameters.gbl_param_UWSOwner",
              "type": "Expression"
            },
            "secret_name": {
              "value": "@pipeline().globalParameters.gbl_param_UWSSecret",
              "type": "Expression"
            },
            "PrimaryTable": {
              "value": "@pipeline().globalParameters.gbl_param_UWSOwner",
              "type": "Expression"
            },
            "SecondaryTable": {
              "value": "@pipeline().parameters.PriTbl",
              "type": "Expression"
            },
            "ClmnNm": {
              "value": "@pipeline().parameters.SecTbl",
              "type": "Expression"
            },
            "SubjectArea": "CLM_LN_TOT_CNSD_CHRG_AMT",
            "GetRelshpClmnSumTlrnc_a5": {
              "value": "@pipeline().parameters.Subject",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "Set_Tolerance_Multiplier4",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "GetRelshpClmnSumTlrnc_Tolerance_Multiplier4",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "Tolerance_Multiplier4",
          "value": {
            "value": "@string(activity('GetRelshpClmnSumTlrnc_Tolerance_Multiplier4').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "GetRelshpClmnSumTlrnc_Tolerance_Multiplier5",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "Set_Tolerance_Multiplier4",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/GetRelshpClmnSumTlrnc')",
            "type": "Expression"
          },
          "baseParameters": {
            "owner_schema": {
              "value": "@pipeline().globalParameters.gbl_param_UWSOwner",
              "type": "Expression"
            },
            "secret_name": {
              "value": "@pipeline().globalParameters.gbl_param_UWSSecret",
              "type": "Expression"
            },
            "PrimaryTable": {
              "value": "@pipeline().globalParameters.gbl_param_UWSOwner",
              "type": "Expression"
            },
            "SecondaryTable": {
              "value": "@pipeline().parameters.PriTbl",
              "type": "Expression"
            },
            "ClmnNm": {
              "value": "@pipeline().parameters.SecTbl",
              "type": "Expression"
            },
            "SubjectArea": "CLM_LN_TOT_COPAY_AMT",
            "GetRelshpClmnSumTlrnc_a5": {
              "value": "@pipeline().parameters.Subject",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "Set_Tolerance_Multiplier5",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "GetRelshpClmnSumTlrnc_Tolerance_Multiplier5",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "Tolerance_Multiplier5",
          "value": {
            "value": "@string(activity('GetRelshpClmnSumTlrnc_Tolerance_Multiplier5').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "GetRelshpClmnSumTlrnc_Tolerance_Multiplier6",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "Set_Tolerance_Multiplier5",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/GetRelshpClmnSumTlrnc')",
            "type": "Expression"
          },
          "baseParameters": {
            "owner_schema": {
              "value": "@pipeline().globalParameters.gbl_param_UWSOwner",
              "type": "Expression"
            },
            "secret_name": {
              "value": "@pipeline().globalParameters.gbl_param_UWSSecret",
              "type": "Expression"
            },
            "PrimaryTable": {
              "value": "@pipeline().globalParameters.gbl_param_UWSOwner",
              "type": "Expression"
            },
            "SecondaryTable": {
              "value": "@pipeline().parameters.PriTbl",
              "type": "Expression"
            },
            "ClmnNm": {
              "value": "@pipeline().parameters.SecTbl",
              "type": "Expression"
            },
            "SubjectArea": "CLM_LN_TOT_DEDCT_AMT",
            "GetRelshpClmnSumTlrnc_a5": {
              "value": "@pipeline().parameters.Subject",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "Set_Tolerance_Multiplier6",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "GetRelshpClmnSumTlrnc_Tolerance_Multiplier6",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "Tolerance_Multiplier6",
          "value": {
            "value": "@string(activity('GetRelshpClmnSumTlrnc_Tolerance_Multiplier6').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "GetRelshpClmnSumTlrnc_Tolerance_Multiplier7",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "Set_Tolerance_Multiplier6",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/GetRelshpClmnSumTlrnc')",
            "type": "Expression"
          },
          "baseParameters": {
            "owner_schema": {
              "value": "@pipeline().globalParameters.gbl_param_UWSOwner",
              "type": "Expression"
            },
            "secret_name": {
              "value": "@pipeline().globalParameters.gbl_param_UWSSecret",
              "type": "Expression"
            },
            "PrimaryTable": {
              "value": "@pipeline().globalParameters.gbl_param_UWSOwner",
              "type": "Expression"
            },
            "SecondaryTable": {
              "value": "@pipeline().parameters.PriTbl",
              "type": "Expression"
            },
            "ClmnNm": {
              "value": "@pipeline().parameters.SecTbl",
              "type": "Expression"
            },
            "SubjectArea": "CLM_LN_TOT_DSALW_AMT",
            "GetRelshpClmnSumTlrnc_a5": {
              "value": "@pipeline().parameters.Subject",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "Set_Tolerance_Multiplier7",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "GetRelshpClmnSumTlrnc_Tolerance_Multiplier7",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "Tolerance_Multiplier7",
          "value": {
            "value": "@string(activity('GetRelshpClmnSumTlrnc_Tolerance_Multiplier7').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "GetRelshpClmnSumTlrnc_Tolerance_Multiplier8",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "Set_Tolerance_Multiplier7",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/GetRelshpClmnSumTlrnc')",
            "type": "Expression"
          },
          "baseParameters": {
            "owner_schema": {
              "value": "@pipeline().globalParameters.gbl_param_UWSOwner",
              "type": "Expression"
            },
            "secret_name": {
              "value": "@pipeline().globalParameters.gbl_param_UWSSecret",
              "type": "Expression"
            },
            "PrimaryTable": {
              "value": "@pipeline().globalParameters.gbl_param_UWSOwner",
              "type": "Expression"
            },
            "SecondaryTable": {
              "value": "@pipeline().parameters.PriTbl",
              "type": "Expression"
            },
            "ClmnNm": {
              "value": "@pipeline().parameters.SecTbl",
              "type": "Expression"
            },
            "SubjectArea": "CLM_LN_TOT_PAYBL_AMT",
            "GetRelshpClmnSumTlrnc_a5": {
              "value": "@pipeline().parameters.Subject",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "Set_Tolerance_Multiplier8",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "GetRelshpClmnSumTlrnc_Tolerance_Multiplier8",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "Tolerance_Multiplier8",
          "value": {
            "value": "@string(activity('GetRelshpClmnSumTlrnc_Tolerance_Multiplier8').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "GetRelshpClmnSumTlrnc_Tolerance_Multiplier9",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "Set_Tolerance_Multiplier8",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/GetRelshpClmnSumTlrnc')",
            "type": "Expression"
          },
          "baseParameters": {
            "owner_schema": {
              "value": "@pipeline().globalParameters.gbl_param_UWSOwner",
              "type": "Expression"
            },
            "secret_name": {
              "value": "@pipeline().globalParameters.gbl_param_UWSSecret",
              "type": "Expression"
            },
            "PrimaryTable": {
              "value": "@pipeline().globalParameters.gbl_param_UWSOwner",
              "type": "Expression"
            },
            "SecondaryTable": {
              "value": "@pipeline().parameters.PriTbl",
              "type": "Expression"
            },
            "ClmnNm": {
              "value": "@pipeline().parameters.SecTbl",
              "type": "Expression"
            },
            "SubjectArea": "CLM_LN_TOT_PAYBL_TO_PROV_AMT",
            "GetRelshpClmnSumTlrnc_a5": {
              "value": "@pipeline().parameters.Subject",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "Set_Tolerance_Multiplier9",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "GetRelshpClmnSumTlrnc_Tolerance_Multiplier9",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "Tolerance_Multiplier9",
          "value": {
            "value": "@string(activity('GetRelshpClmnSumTlrnc_Tolerance_Multiplier9').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "GetRelshpClmnSumTlrnc_Tolerance_Multiplier10",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "Set_Tolerance_Multiplier9",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/GetRelshpClmnSumTlrnc')",
            "type": "Expression"
          },
          "baseParameters": {
            "owner_schema": {
              "value": "@pipeline().globalParameters.gbl_param_UWSOwner",
              "type": "Expression"
            },
            "secret_name": {
              "value": "@pipeline().globalParameters.gbl_param_UWSSecret",
              "type": "Expression"
            },
            "PrimaryTable": {
              "value": "@pipeline().globalParameters.gbl_param_UWSOwner",
              "type": "Expression"
            },
            "SecondaryTable": {
              "value": "@pipeline().parameters.PriTbl",
              "type": "Expression"
            },
            "ClmnNm": {
              "value": "@pipeline().parameters.SecTbl",
              "type": "Expression"
            },
            "SubjectArea": "CLM_LN_TOT_PAYBL_TO_SUB_AMT",
            "GetRelshpClmnSumTlrnc_a5": {
              "value": "@pipeline().parameters.Subject",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "Set_Tolerance_Multiplier10",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "GetRelshpClmnSumTlrnc_Tolerance_Multiplier10",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "Tolerance_Multiplier10",
          "value": {
            "value": "@string(activity('GetRelshpClmnSumTlrnc_Tolerance_Multiplier10').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "Set_Tolerance_Amount1",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "Set_Tolerance_Multiplier10",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "Tolerance_Amount1",
          "value": {
            "value": "@string(mul(float(variables('Pri_Amt1')), float(variables('Tolerance_Multiplier1'))))",
            "type": "Expression"
          }
        }
      },
      {
        "name": "Set_Dscrpncy_Amt1",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "Set_Tolerance_Amount1",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "Dscrpncy_Amt1",
          "value": {
            "value": "@string(sub(float(variables('Pri_Amt1')), float(variables('Sec_Amt1'))))",
            "type": "Expression"
          }
        }
      },
      {
        "name": "Set_Tolerance_Amount2",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "Set_Dscrpncy_Amt1",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "Tolerance_Amount2",
          "value": {
            "value": "@string(mul(float(variables('Pri_Amt2')), float(variables('Tolerance_Multiplier2'))))",
            "type": "Expression"
          }
        }
      },
      {
        "name": "Set_Dscrpncy_Amt2",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "Set_Tolerance_Amount2",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "Dscrpncy_Amt2",
          "value": {
            "value": "@string(sub(float(variables('Pri_Amt2')), float(variables('Sec_Amt2'))))",
            "type": "Expression"
          }
        }
      },
      {
        "name": "Set_Tolerance_Amount3",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "Set_Dscrpncy_Amt2",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "Tolerance_Amount3",
          "value": {
            "value": "@string(mul(float(variables('Pri_Amt3')), float(variables('Tolerance_Multiplier3'))))",
            "type": "Expression"
          }
        }
      },
      {
        "name": "Set_Dscrpncy_Amt3",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "Set_Tolerance_Amount3",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "Dscrpncy_Amt3",
          "value": {
            "value": "@string(sub(float(variables('Pri_Amt3')), float(variables('Sec_Amt3'))))",
            "type": "Expression"
          }
        }
      },
      {
        "name": "Set_Tolerance_Amount4",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "Set_Dscrpncy_Amt3",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "Tolerance_Amount4",
          "value": {
            "value": "@string(mul(float(variables('Pri_Amt4')), float(variables('Tolerance_Multiplier4'))))",
            "type": "Expression"
          }
        }
      },
      {
        "name": "Set_Dscrpncy_Amt4",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "Set_Tolerance_Amount4",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "Dscrpncy_Amt4",
          "value": {
            "value": "@string(sub(float(variables('Pri_Amt4')), float(variables('Sec_Amt4'))))",
            "type": "Expression"
          }
        }
      },
      {
        "name": "Set_Tolerance_Amount5",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "Set_Dscrpncy_Amt4",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "Tolerance_Amount5",
          "value": {
            "value": "@string(mul(float(variables('Pri_Amt5')), float(variables('Tolerance_Multiplier5'))))",
            "type": "Expression"
          }
        }
      },
      {
        "name": "Set_Dscrpncy_Amt5",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "Set_Tolerance_Amount5",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "Dscrpncy_Amt5",
          "value": {
            "value": "@string(sub(float(variables('Pri_Amt5')), float(variables('Sec_Amt5'))))",
            "type": "Expression"
          }
        }
      },
      {
        "name": "Set_Tolerance_Amount6",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "Set_Dscrpncy_Amt5",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "Tolerance_Amount6",
          "value": {
            "value": "@string(mul(float(variables('Pri_Amt6')), float(variables('Tolerance_Multiplier6'))))",
            "type": "Expression"
          }
        }
      },
      {
        "name": "Set_Dscrpncy_Amt6",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "Set_Tolerance_Amount6",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "Dscrpncy_Amt6",
          "value": {
            "value": "@string(sub(float(variables('Pri_Amt6')), float(variables('Sec_Amt6'))))",
            "type": "Expression"
          }
        }
      },
      {
        "name": "Set_Tolerance_Amount7",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "Set_Dscrpncy_Amt6",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "Tolerance_Amount7",
          "value": {
            "value": "@string(mul(float(variables('Pri_Amt7')), float(variables('Tolerance_Multiplier7'))))",
            "type": "Expression"
          }
        }
      },
      {
        "name": "Set_Dscrpncy_Amt7",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "Set_Tolerance_Amount7",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "Dscrpncy_Amt7",
          "value": {
            "value": "@string(sub(float(variables('Pri_Amt7')), float(variables('Sec_Amt7'))))",
            "type": "Expression"
          }
        }
      },
      {
        "name": "Set_Tolerance_Amount8",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "Set_Dscrpncy_Amt7",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "Tolerance_Amount8",
          "value": {
            "value": "@string(mul(float(variables('Pri_Amt8')), float(variables('Tolerance_Multiplier8'))))",
            "type": "Expression"
          }
        }
      },
      {
        "name": "Set_Dscrpncy_Amt8",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "Set_Tolerance_Amount8",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "Dscrpncy_Amt8",
          "value": {
            "value": "@string(sub(float(variables('Pri_Amt8')), float(variables('Sec_Amt8'))))",
            "type": "Expression"
          }
        }
      },
      {
        "name": "Set_Tolerance_Amount9",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "Set_Dscrpncy_Amt8",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "Tolerance_Amount9",
          "value": {
            "value": "@string(mul(float(variables('Pri_Amt9')), float(variables('Tolerance_Multiplier9'))))",
            "type": "Expression"
          }
        }
      },
      {
        "name": "Set_Dscrpncy_Amt9",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "Set_Tolerance_Amount9",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "Dscrpncy_Amt9",
          "value": {
            "value": "@string(sub(float(variables('Pri_Amt9')), float(variables('Sec_Amt9'))))",
            "type": "Expression"
          }
        }
      },
      {
        "name": "Set_Tolerance_Amount10",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "Set_Dscrpncy_Amt9",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "Tolerance_Amount10",
          "value": {
            "value": "@string(mul(float(variables('Pri_Amt10')), float(variables('Tolerance_Multiplier10'))))",
            "type": "Expression"
          }
        }
      },
      {
        "name": "Set_Dscrpncy_Amt10",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "Set_Tolerance_Amount10",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "Dscrpncy_Amt10",
          "value": {
            "value": "@string(sub(float(variables('Pri_Amt10')), float(variables('Sec_Amt10'))))",
            "type": "Expression"
          }
        }
      },
      {
        "name": "GetBalStatus_Balance_Status1",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "Set_Dscrpncy_Amt10",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/GetBalStatus')",
            "type": "Expression"
          },
          "baseParameters": {
            "Difference_Count": {
              "value": "@variables('Dscrpncy_Amt1')",
              "type": "Expression"
            },
            "Tolerance_Amount": {
              "value": "@variables('Tolerance_Amount1')",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "Set_Balance_Status1",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "GetBalStatus_Balance_Status1",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "Balance_Status1",
          "value": {
            "value": "@string(activity('GetBalStatus_Balance_Status1').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "GetBalStatus_Balance_Status2",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "Set_Balance_Status1",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/GetBalStatus')",
            "type": "Expression"
          },
          "baseParameters": {
            "Difference_Count": {
              "value": "@variables('Dscrpncy_Amt2')",
              "type": "Expression"
            },
            "Tolerance_Amount": {
              "value": "@variables('Tolerance_Amount2')",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "Set_Balance_Status2",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "GetBalStatus_Balance_Status2",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "Balance_Status2",
          "value": {
            "value": "@string(activity('GetBalStatus_Balance_Status2').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "GetBalStatus_Balance_Status3",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "Set_Balance_Status2",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/GetBalStatus')",
            "type": "Expression"
          },
          "baseParameters": {
            "Difference_Count": {
              "value": "@variables('Dscrpncy_Amt3')",
              "type": "Expression"
            },
            "Tolerance_Amount": {
              "value": "@variables('Tolerance_Amount3')",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "Set_Balance_Status3",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "GetBalStatus_Balance_Status3",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "Balance_Status3",
          "value": {
            "value": "@string(activity('GetBalStatus_Balance_Status3').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "GetBalStatus_Balance_Status4",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "Set_Balance_Status3",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/GetBalStatus')",
            "type": "Expression"
          },
          "baseParameters": {
            "Difference_Count": {
              "value": "@variables('Dscrpncy_Amt4')",
              "type": "Expression"
            },
            "Tolerance_Amount": {
              "value": "@variables('Tolerance_Amount4')",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "Set_Balance_Status4",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "GetBalStatus_Balance_Status4",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "Balance_Status4",
          "value": {
            "value": "@string(activity('GetBalStatus_Balance_Status4').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "GetBalStatus_Balance_Status5",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "Set_Balance_Status4",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/GetBalStatus')",
            "type": "Expression"
          },
          "baseParameters": {
            "Difference_Count": {
              "value": "@variables('Dscrpncy_Amt5')",
              "type": "Expression"
            },
            "Tolerance_Amount": {
              "value": "@variables('Tolerance_Amount5')",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "Set_Balance_Status5",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "GetBalStatus_Balance_Status5",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "Balance_Status5",
          "value": {
            "value": "@string(activity('GetBalStatus_Balance_Status5').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "GetBalStatus_Balance_Status6",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "Set_Balance_Status5",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/GetBalStatus')",
            "type": "Expression"
          },
          "baseParameters": {
            "Difference_Count": {
              "value": "@variables('Dscrpncy_Amt6')",
              "type": "Expression"
            },
            "Tolerance_Amount": {
              "value": "@variables('Tolerance_Amount6')",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "Set_Balance_Status6",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "GetBalStatus_Balance_Status6",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "Balance_Status6",
          "value": {
            "value": "@string(activity('GetBalStatus_Balance_Status6').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "GetBalStatus_Balance_Status7",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "Set_Balance_Status6",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/GetBalStatus')",
            "type": "Expression"
          },
          "baseParameters": {
            "Difference_Count": {
              "value": "@variables('Dscrpncy_Amt7')",
              "type": "Expression"
            },
            "Tolerance_Amount": {
              "value": "@variables('Tolerance_Amount7')",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "Set_Balance_Status7",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "GetBalStatus_Balance_Status7",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "Balance_Status7",
          "value": {
            "value": "@string(activity('GetBalStatus_Balance_Status7').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "GetBalStatus_Balance_Status8",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "Set_Balance_Status7",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/GetBalStatus')",
            "type": "Expression"
          },
          "baseParameters": {
            "Difference_Count": {
              "value": "@variables('Dscrpncy_Amt8')",
              "type": "Expression"
            },
            "Tolerance_Amount": {
              "value": "@variables('Tolerance_Amount8')",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "Set_Balance_Status8",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "GetBalStatus_Balance_Status8",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "Balance_Status8",
          "value": {
            "value": "@string(activity('GetBalStatus_Balance_Status8').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "GetBalStatus_Balance_Status9",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "Set_Balance_Status8",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/GetBalStatus')",
            "type": "Expression"
          },
          "baseParameters": {
            "Difference_Count": {
              "value": "@variables('Dscrpncy_Amt9')",
              "type": "Expression"
            },
            "Tolerance_Amount": {
              "value": "@variables('Tolerance_Amount9')",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "Set_Balance_Status9",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "GetBalStatus_Balance_Status9",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "Balance_Status9",
          "value": {
            "value": "@string(activity('GetBalStatus_Balance_Status9').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "GetBalStatus_Balance_Status10",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "Set_Balance_Status9",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/GetBalStatus')",
            "type": "Expression"
          },
          "baseParameters": {
            "Difference_Count": {
              "value": "@variables('Dscrpncy_Amt10')",
              "type": "Expression"
            },
            "Tolerance_Amount": {
              "value": "@variables('Tolerance_Amount10')",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "Set_Balance_Status10",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "GetBalStatus_Balance_Status10",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "Balance_Status10",
          "value": {
            "value": "@string(activity('GetBalStatus_Balance_Status10').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "If_1C",
        "type": "IfCondition",
        "dependsOn": [
          {
            "activity": "Set_Balance_Status10",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "expression": {
            "value": "@or(not(equals(string(pipeline().parameters.PreCalc_Dscrpncy_Amt1),'0')),or(not(equals(string(pipeline().parameters.PreCalc_Dscrpncy_Amt2),'0')),or(not(equals(string(pipeline().parameters.PreCalc_Dscrpncy_Amt3),'0')),or(not(equals(string(pipeline().parameters.PreCalc_Dscrpncy_Amt4),'0')),or(not(equals(string(pipeline().parameters.PreCalc_Dscrpncy_Amt5),'0')),or(not(equals(string(pipeline().parameters.PreCalc_Dscrpncy_Amt6),'0')),or(not(equals(string(pipeline().parameters.PreCalc_Dscrpncy_Amt7),'0')),or(not(equals(string(pipeline().parameters.PreCalc_Dscrpncy_Amt8),'0')),or(not(equals(string(pipeline().parameters.PreCalc_Dscrpncy_Amt9),'0')),not(equals(string(pipeline().parameters.PreCalc_Dscrpncy_Amt10),'0')))))))))))",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "name": "IdsEdwRCSClmFClmLnFBal",
              "type": "DatabricksNotebook",
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_notebook_path,'/claim/claim/Balancing/IdsEdwRCSClmFClmLnFBal')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "EDWOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_EDWOwner",
                    "type": "Expression"
                  },
                  "edw_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_EDWSecret",
                    "type": "Expression"
                  },
                  "GlobalEnvironment": {
                    "value": "@pipeline().globalParameters.gbl_param_environment",
                    "type": "Expression"
                  },
                  "ExtrRunCycle": {
                    "value": "@pipeline().parameters.ExtrRunCycle",
                    "type": "Expression"
                  },
                  "RunID": {
                    "value": "@pipeline().parameters.RunID",
                    "type": "Expression"
                  }
                }
              }
            }
          ],
          "ifFalseActivities": []
        }
      },
      {
        "name": "Job_Activity_299",
        "type": "ExecutePipeline",
        "dependsOn": [
          {
            "activity": "If_1C",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "pipeline": {
            "referenceName": "IdsEdwRCSClmFClmLnFBalSeq1",
            "type": "PipelineReference"
          },
          "waitOnCompletion": true,
          "parameters": {
            "RunID": {
              "value": "@pipeline().parameters.RunID",
              "type": "Expression"
            },
            "ExtrRunCycle": {
              "value": "@pipeline().parameters.ExtrRunCycle",
              "type": "Expression"
            },
            "CurrentDate": {
              "value": "@pipeline().parameters.CurrentDate",
              "type": "Expression"
            },
            "UWSOwner": {
              "value": "@pipeline().globalParameters.gbl_param_UWSOwner",
              "type": "Expression"
            },
            "uws_secret_name": {
              "value": "@pipeline().globalParameters.gbl_param_UWSSecret",
              "type": "Expression"
            },
            "EDWOwner": {
              "value": "@pipeline().globalParameters.gbl_param_EDWOwner",
              "type": "Expression"
            },
            "edw_secret_name": {
              "value": "@pipeline().globalParameters.gbl_param_EDWSecret",
              "type": "Expression"
            },
            "Target": {
              "value": "@pipeline().parameters.Target",
              "type": "Expression"
            },
            "Subject": {
              "value": "@pipeline().parameters.Subject",
              "type": "Expression"
            },
            "Frequency": {
              "value": "@pipeline().parameters.Frequency",
              "type": "Expression"
            },
            "Source": {
              "value": "@pipeline().parameters.Source",
              "type": "Expression"
            },
            "PriTbl": {
              "value": "@pipeline().parameters.PriTbl",
              "type": "Expression"
            },
            "SecTbl": {
              "value": "@pipeline().parameters.SecTbl",
              "type": "Expression"
            },
            "GetValues_Pri_Amt1": {
              "value": "@pipeline().parameters.GetValues_Pri_Amt1",
              "type": "Expression"
            },
            "GetValues_Pri_Amt2": {
              "value": "@pipeline().parameters.GetValues_Pri_Amt2",
              "type": "Expression"
            },
            "GetValues_Pri_Amt3": {
              "value": "@pipeline().parameters.GetValues_Pri_Amt3",
              "type": "Expression"
            },
            "GetValues_Pri_Amt4": {
              "value": "@pipeline().parameters.GetValues_Pri_Amt4",
              "type": "Expression"
            },
            "GetValues_Pri_Amt5": {
              "value": "@pipeline().parameters.GetValues_Pri_Amt5",
              "type": "Expression"
            },
            "GetValues_Pri_Amt6": {
              "value": "@pipeline().parameters.GetValues_Pri_Amt6",
              "type": "Expression"
            },
            "GetValues_Pri_Amt7": {
              "value": "@pipeline().parameters.GetValues_Pri_Amt7",
              "type": "Expression"
            },
            "GetValues_Pri_Amt8": {
              "value": "@pipeline().parameters.GetValues_Pri_Amt8",
              "type": "Expression"
            },
            "GetValues_Pri_Amt9": {
              "value": "@pipeline().parameters.GetValues_Pri_Amt9",
              "type": "Expression"
            },
            "GetValues_Pri_Amt10": {
              "value": "@pipeline().parameters.GetValues_Pri_Amt10",
              "type": "Expression"
            },
            "PreCalc_Dscrpncy_Amt1": {
              "value": "@pipeline().parameters.PreCalc_Dscrpncy_Amt1",
              "type": "Expression"
            },
            "PreCalc_Dscrpncy_Amt2": {
              "value": "@pipeline().parameters.PreCalc_Dscrpncy_Amt2",
              "type": "Expression"
            },
            "PreCalc_Dscrpncy_Amt3": {
              "value": "@pipeline().parameters.PreCalc_Dscrpncy_Amt3",
              "type": "Expression"
            },
            "PreCalc_Dscrpncy_Amt4": {
              "value": "@pipeline().parameters.PreCalc_Dscrpncy_Amt4",
              "type": "Expression"
            },
            "PreCalc_Dscrpncy_Amt5": {
              "value": "@pipeline().parameters.PreCalc_Dscrpncy_Amt5",
              "type": "Expression"
            },
            "PreCalc_Dscrpncy_Amt6": {
              "value": "@pipeline().parameters.PreCalc_Dscrpncy_Amt6",
              "type": "Expression"
            },
            "PreCalc_Dscrpncy_Amt7": {
              "value": "@pipeline().parameters.PreCalc_Dscrpncy_Amt7",
              "type": "Expression"
            },
            "PreCalc_Dscrpncy_Amt8": {
              "value": "@pipeline().parameters.PreCalc_Dscrpncy_Amt8",
              "type": "Expression"
            },
            "PreCalc_Dscrpncy_Amt9": {
              "value": "@pipeline().parameters.PreCalc_Dscrpncy_Amt9",
              "type": "Expression"
            },
            "PreCalc_Dscrpncy_Amt10": {
              "value": "@pipeline().parameters.PreCalc_Dscrpncy_Amt10",
              "type": "Expression"
            },
            "Balancing_Status_Balance_Status1": {
              "value": "@pipeline().parameters.Balancing_Status_Balance_Status1",
              "type": "Expression"
            },
            "Balancing_Status_Balance_Status2": {
              "value": "@pipeline().parameters.Balancing_Status_Balance_Status2",
              "type": "Expression"
            },
            "Balancing_Status_Balance_Status3": {
              "value": "@pipeline().parameters.Balancing_Status_Balance_Status3",
              "type": "Expression"
            },
            "Balancing_Status_Balance_Status4": {
              "value": "@pipeline().parameters.Balancing_Status_Balance_Status4",
              "type": "Expression"
            },
            "Balancing_Status_Balance_Status5": {
              "value": "@pipeline().parameters.Balancing_Status_Balance_Status5",
              "type": "Expression"
            },
            "Balancing_Status_Balance_Status6": {
              "value": "@pipeline().parameters.Balancing_Status_Balance_Status6",
              "type": "Expression"
            },
            "Balancing_Status_Balance_Status7": {
              "value": "@pipeline().parameters.Balancing_Status_Balance_Status7",
              "type": "Expression"
            },
            "Balancing_Status_Balance_Status8": {
              "value": "@pipeline().parameters.Balancing_Status_Balance_Status8",
              "type": "Expression"
            },
            "Balancing_Status_Balance_Status9": {
              "value": "@pipeline().parameters.Balancing_Status_Balance_Status9",
              "type": "Expression"
            },
            "Balancing_Status_Balance_Status10": {
              "value": "@pipeline().parameters.Balancing_Status_Balance_Status10",
              "type": "Expression"
            },
            "PreCalc_Tolerance_Amount1": {
              "value": "@pipeline().parameters.PreCalc_Tolerance_Amount1",
              "type": "Expression"
            },
            "PreCalc_Tolerance_Amount2": {
              "value": "@pipeline().parameters.PreCalc_Tolerance_Amount2",
              "type": "Expression"
            },
            "PreCalc_Tolerance_Amount3": {
              "value": "@pipeline().parameters.PreCalc_Tolerance_Amount3",
              "type": "Expression"
            },
            "PreCalc_Tolerance_Amount4": {
              "value": "@pipeline().parameters.PreCalc_Tolerance_Amount4",
              "type": "Expression"
            },
            "PreCalc_Tolerance_Amount5": {
              "value": "@pipeline().parameters.PreCalc_Tolerance_Amount5",
              "type": "Expression"
            },
            "PreCalc_Tolerance_Amount6": {
              "value": "@pipeline().parameters.PreCalc_Tolerance_Amount6",
              "type": "Expression"
            },
            "PreCalc_Tolerance_Amount7": {
              "value": "@pipeline().parameters.PreCalc_Tolerance_Amount7",
              "type": "Expression"
            },
            "PreCalc_Tolerance_Amount8": {
              "value": "@pipeline().parameters.PreCalc_Tolerance_Amount8",
              "type": "Expression"
            },
            "PreCalc_Tolerance_Amount9": {
              "value": "@pipeline().parameters.PreCalc_Tolerance_Amount9",
              "type": "Expression"
            },
            "PreCalc_Tolerance_Amount10": {
              "value": "@pipeline().parameters.PreCalc_Tolerance_Amount10",
              "type": "Expression"
            },
            "GetValues_Tolerance_Multiplier1": {
              "value": "@pipeline().parameters.GetValues_Tolerance_Multiplier1",
              "type": "Expression"
            },
            "GetValues_Tolerance_Multiplier2": {
              "value": "@pipeline().parameters.GetValues_Tolerance_Multiplier2",
              "type": "Expression"
            },
            "GetValues_Tolerance_Multiplier3": {
              "value": "@pipeline().parameters.GetValues_Tolerance_Multiplier3",
              "type": "Expression"
            },
            "GetValues_Tolerance_Multiplier4": {
              "value": "@pipeline().parameters.GetValues_Tolerance_Multiplier4",
              "type": "Expression"
            },
            "GetValues_Tolerance_Multiplier5": {
              "value": "@pipeline().parameters.GetValues_Tolerance_Multiplier5",
              "type": "Expression"
            },
            "GetValues_Tolerance_Multiplier6": {
              "value": "@pipeline().parameters.GetValues_Tolerance_Multiplier6",
              "type": "Expression"
            },
            "GetValues_Tolerance_Multiplier7": {
              "value": "@pipeline().parameters.GetValues_Tolerance_Multiplier7",
              "type": "Expression"
            },
            "GetValues_Tolerance_Multiplier8": {
              "value": "@pipeline().parameters.GetValues_Tolerance_Multiplier8",
              "type": "Expression"
            },
            "GetValues_Tolerance_Multiplier9": {
              "value": "@pipeline().parameters.GetValues_Tolerance_Multiplier9",
              "type": "Expression"
            },
            "GetValues_Tolerance_Multiplier10": {
              "value": "@pipeline().parameters.GetValues_Tolerance_Multiplier10",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "Job_Activity_300",
        "type": "ExecutePipeline",
        "dependsOn": [
          {
            "activity": "If_1C",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "pipeline": {
            "referenceName": "IdsEdwRCSClmFClmLnFBalSeq2",
            "type": "PipelineReference"
          },
          "waitOnCompletion": true,
          "parameters": {
            "RunID": {
              "value": "@pipeline().parameters.RunID",
              "type": "Expression"
            },
            "ExtrRunCycle": {
              "value": "@pipeline().parameters.ExtrRunCycle",
              "type": "Expression"
            },
            "CurrentDate": {
              "value": "@pipeline().parameters.CurrentDate",
              "type": "Expression"
            },
            "UWSOwner": {
              "value": "@pipeline().globalParameters.gbl_param_UWSOwner",
              "type": "Expression"
            },
            "uws_secret_name": {
              "value": "@pipeline().globalParameters.gbl_param_UWSSecret",
              "type": "Expression"
            },
            "EDWOwner": {
              "value": "@pipeline().globalParameters.gbl_param_EDWOwner",
              "type": "Expression"
            },
            "edw_secret_name": {
              "value": "@pipeline().globalParameters.gbl_param_EDWSecret",
              "type": "Expression"
            },
            "Target": {
              "value": "@pipeline().parameters.Target",
              "type": "Expression"
            },
            "Subject": {
              "value": "@pipeline().parameters.Subject",
              "type": "Expression"
            },
            "Frequency": {
              "value": "@pipeline().parameters.Frequency",
              "type": "Expression"
            },
            "Source": {
              "value": "@pipeline().parameters.Source",
              "type": "Expression"
            },
            "PriTbl": {
              "value": "@pipeline().parameters.PriTbl",
              "type": "Expression"
            },
            "SecTbl": {
              "value": "@pipeline().parameters.SecTbl",
              "type": "Expression"
            },
            "Balancing_Status_Balance_Status1": {
              "value": "@pipeline().parameters.Balancing_Status_Balance_Status1",
              "type": "Expression"
            },
            "Balancing_Status_Balance_Status2": {
              "value": "@pipeline().parameters.Balancing_Status_Balance_Status2",
              "type": "Expression"
            },
            "Balancing_Status_Balance_Status3": {
              "value": "@pipeline().parameters.Balancing_Status_Balance_Status3",
              "type": "Expression"
            },
            "Balancing_Status_Balance_Status4": {
              "value": "@pipeline().parameters.Balancing_Status_Balance_Status4",
              "type": "Expression"
            },
            "Balancing_Status_Balance_Status5": {
              "value": "@pipeline().parameters.Balancing_Status_Balance_Status5",
              "type": "Expression"
            },
            "Balancing_Status_Balance_Status6": {
              "value": "@pipeline().parameters.Balancing_Status_Balance_Status6",
              "type": "Expression"
            },
            "Balancing_Status_Balance_Status7": {
              "value": "@pipeline().parameters.Balancing_Status_Balance_Status7",
              "type": "Expression"
            },
            "Balancing_Status_Balance_Status8": {
              "value": "@pipeline().parameters.Balancing_Status_Balance_Status8",
              "type": "Expression"
            },
            "Balancing_Status_Balance_Status9": {
              "value": "@pipeline().parameters.Balancing_Status_Balance_Status9",
              "type": "Expression"
            },
            "Balancing_Status_Balance_Status10": {
              "value": "@pipeline().parameters.Balancing_Status_Balance_Status10",
              "type": "Expression"
            }
          }
        }
      }
    ]
  }
}