npw-projects-np-projects-bluekc-translated-66e9366f6cca/Sprint_3_4_5/SequenceJobs/Enterprise/IdsEdwRowToRowClmLnFBalSeq.json
{
  "name": "IdsEdwRowToRowClmLnFBalSeq",
  "type": "Microsoft.DataFactory/factories/pipelines",
  "properties": {
    "folder": {
      "name": "Enterprise/Jobs/claim/Seq/Balancing"
    },
    "parameters": {
      "RunID": {
        "type": "String",
        "defaultValue": ""
      },
      "ExtrRunCycle": {
        "type": "String",
        "defaultValue": ""
      },
      "CurrentDate": {
        "type": "String",
        "defaultValue": ""
      },
      "Target": {
        "type": "String",
        "defaultValue": ""
      },
      "Subject": {
        "type": "String",
        "defaultValue": ""
      },
      "Frequency": {
        "type": "String",
        "defaultValue": ""
      },
      "Source": {
        "type": "String",
        "defaultValue": ""
      },
      "Table": {
        "type": "String",
        "defaultValue": ""
      },
      "ColumnNm1": {
        "type": "String",
        "defaultValue": ""
      },
      "ColumnNm2": {
        "type": "String",
        "defaultValue": ""
      }
    },
    "variables": {
      "Total_Count": {
        "type": "String",
        "defaultValue": ""
      },
      "Dscrpncy_Count": {
        "type": "String",
        "defaultValue": ""
      },
      "Tolerance_Multiplier1": {
        "type": "String",
        "defaultValue": ""
      },
      "Tolerance_Multiplier2": {
        "type": "String",
        "defaultValue": ""
      },
      "Tolerance_Amount1": {
        "type": "String",
        "defaultValue": ""
      },
      "Tolerance_Amount2": {
        "type": "String",
        "defaultValue": ""
      },
      "Balance_Status1": {
        "type": "String",
        "defaultValue": ""
      },
      "Balance_Status2": {
        "type": "String",
        "defaultValue": ""
      },
      "LinkCount": {
        "type": "String",
        "defaultValue": ""
      }
    },
    "activities": [
      {
        "name": "NB_IdsEdwRowToRowClmLnFBal",
        "type": "DatabricksNotebook",
        "dependsOn": [],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_notebook_path, '/claim/ClaimLine/ClaimLine/Balancing/IdsEdwRowToRowClmLnFBal')",
            "type": "Expression"
          },
          "baseParameters": {
            "EDWOwner": {
              "value": "@pipeline().globalParameters.gbl_param_EDWOwner",
              "type": "Expression"
            },
            "edw_secret_name": {
              "value": "@pipeline().globalParameters.gbl_param_EDWSecret",
              "type": "Expression"
            },
            "GlobalEnvironment": {
              "value": "@pipeline().globalParameters.gbl_param_environment",
              "type": "Expression"
            },
            "ExtrRunCycle": {
              "value": "@pipeline().parameters.ExtrRunCycle",
              "type": "Expression"
            },
            "RunID": {
              "value": "@pipeline().parameters.RunID",
              "type": "Expression"
            }
          }
        },
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        }
      },
      {
        "name": "NB_UnixFileRecCnt_Total_Count",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "NB_IdsEdwRowToRowClmLnFBal",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/UnixFileRecCnt')",
            "type": "Expression"
          },
          "baseParameters": {
            "UnixFileRecCnt_a1": "/balancing/sync",
            "UnixFileRecCnt_a2": "ClmLnFBalancingTotalMatch.dat",
            "GlobalEnvironment": {
              "value": "@pipeline().globalParameters.gbl_param_environment",
              "type": "Expression"
            },
            "EnvProjectPath": {
              "value": "",
              "type": "Expression"
            },
            "FilePath": {
              "value": "",
              "type": "Expression"
            },
            "FileName": {
              "value": "",
              "type": "Expression"
            }
          }
        },
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        }
      },
      {
        "name": "SV_Total_Count",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "NB_UnixFileRecCnt_Total_Count",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "Total_Count",
          "value": {
            "value": "@string(activity('NB_UnixFileRecCnt_Total_Count').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "NB_UnixFileRecCnt_Dscrpncy_Count",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "SV_Total_Count",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/UnixFileRecCnt')",
            "type": "Expression"
          },
          "baseParameters": {
            "UnixFileRecCnt_a1": "/balancing/research",
            "UnixFileRecCnt_a2": {
              "value": "@concat('IdsEdwClmLnFRowToRowResearch.dat.', pipeline().parameters.RunID)",
              "type": "Expression"
            },
            "GlobalEnvironment": {
              "value": "@pipeline().globalParameters.gbl_param_environment",
              "type": "Expression"
            },
            "EnvProjectPath": {
              "value": "",
              "type": "Expression"
            },
            "FilePath": {
              "value": "",
              "type": "Expression"
            },
            "FileName": {
              "value": "",
              "type": "Expression"
            }
          }
        },
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        }
      },
      {
        "name": "SV_Dscrpncy_Count",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "NB_UnixFileRecCnt_Dscrpncy_Count",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "Dscrpncy_Count",
          "value": {
            "value": "@string(activity('NB_UnixFileRecCnt_Dscrpncy_Count').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "NB_GetRowToRowTlrnc1",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "SV_Dscrpncy_Count",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/GetRowToRowTlrnc')",
            "type": "Expression"
          },
          "baseParameters": {
            "GetRowToRowTlrnc_a1": {
              "value": "@pipeline().globalParameters.gbl_param_UWSOwner",
              "type": "Expression"
            },
            "secret_name": {
              "value": "@pipeline().globalParameters.gbl_param_UWSSecret",
              "type": "Expression"
            },
            "GetRowToRowTlrnc_a2": {
              "value": "@pipeline().parameters.Table",
              "type": "Expression"
            },
            "GetRowToRowTlrnc_a3": {
              "value": "@pipeline().parameters.ColumnNm1",
              "type": "Expression"
            },
            "GetRowToRowTlrnc_a4": {
              "value": "@pipeline().parameters.Subject",
              "type": "Expression"
            },
            "GlobalEnvironment": {
              "value": "@pipeline().globalParameters.gbl_param_environment",
              "type": "Expression"
            },
            "owner_schema": {
              "value": "",
              "type": "Expression"
            },
            "TargetTable": {
              "value": "",
              "type": "Expression"
            },
            "ClmnNm": {
              "value": "",
              "type": "Expression"
            },
            "SubjectArea": {
              "value": "",
              "type": "Expression"
            }
          }
        },
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        }
      },
      {
        "name": "SV_Tolerance_Multiplier1",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "NB_GetRowToRowTlrnc1",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "Tolerance_Multiplier1",
          "value": {
            "value": "@string(activity('NB_GetRowToRowTlrnc1').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "NB_GetRowToRowTlrnc2",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "SV_Tolerance_Multiplier1",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/GetRowToRowTlrnc')",
            "type": "Expression"
          },
          "baseParameters": {
            "GetRowToRowTlrnc_a1": {
              "value": "@pipeline().globalParameters.gbl_param_UWSOwner",
              "type": "Expression"
            },
            "secret_name": {
              "value": "@pipeline().globalParameters.gbl_param_UWSSecret",
              "type": "Expression"
            },
            "GetRowToRowTlrnc_a2": {
              "value": "@pipeline().parameters.Table",
              "type": "Expression"
            },
            "GetRowToRowTlrnc_a3": {
              "value": "@pipeline().parameters.ColumnNm2",
              "type": "Expression"
            },
            "GetRowToRowTlrnc_a4": {
              "value": "@pipeline().parameters.Subject",
              "type": "Expression"
            },
            "GlobalEnvironment": {
              "value": "@pipeline().globalParameters.gbl_param_environment",
              "type": "Expression"
            },
            "owner_schema": {
              "value": "",
              "type": "Expression"
            },
            "TargetTable": {
              "value": "",
              "type": "Expression"
            },
            "ClmnNm": {
              "value": "",
              "type": "Expression"
            },
            "SubjectArea": {
              "value": "",
              "type": "Expression"
            }
          }
        },
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        }
      },
      {
        "name": "SV_Tolerance_Multiplier2",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "NB_GetRowToRowTlrnc2",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "Tolerance_Multiplier2",
          "value": {
            "value": "@string(activity('NB_GetRowToRowTlrnc2').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "SV_Tolerance_Amount1",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "SV_Tolerance_Multiplier2",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "Tolerance_Amount1",
          "value": {
            "value": "@string(mul(float(variables('Total_Count')), float(variables('Tolerance_Multiplier1'))))",
            "type": "Expression"
          }
        }
      },
      {
        "name": "SV_Tolerance_Amount2",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "SV_Tolerance_Amount1",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "Tolerance_Amount2",
          "value": {
            "value": "@string(mul(float(variables('Total_Count')), float(variables('Tolerance_Multiplier2'))))",
            "type": "Expression"
          }
        }
      },
      {
        "name": "NB_GetBalStatus1",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "SV_Tolerance_Amount1",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/GetBalStatus')",
            "type": "Expression"
          },
          "baseParameters": {
            "Difference_Count": {
              "value": "@variables('Dscrpncy_Count')",
              "type": "Expression"
            },
            "Tolerance_Amount": {
              "value": "@variables('Tolerance_Amount1')",
              "type": "Expression"
            },
            "GlobalEnvironment": {
              "value": "@pipeline().globalParameters.gbl_param_environment",
              "type": "Expression"
            }
          }
        },
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        }
      },
      {
        "name": "SV_Balance_Status1",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "NB_GetBalStatus1",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "Balance_Status1",
          "value": {
            "value": "@string(activity('NB_GetBalStatus1').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "NB_GetBalStatus2",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "SV_Balance_Status1",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/GetBalStatus')",
            "type": "Expression"
          },
          "baseParameters": {
            "Difference_Count": {
              "value": "@variables('Dscrpncy_Count')",
              "type": "Expression"
            },
            "Tolerance_Amount": {
              "value": "@variables('Tolerance_Amount2')",
              "type": "Expression"
            },
            "GlobalEnvironment": {
              "value": "@pipeline().globalParameters.gbl_param_environment",
              "type": "Expression"
            }
          }
        },
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        }
      },
      {
        "name": "SV_Balance_Status2",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "NB_GetBalStatus2",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "Balance_Status2",
          "value": {
            "value": "@string(activity('NB_GetBalStatus2').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "Condition_If_1C",
        "type": "IfCondition",
        "dependsOn": [
          {
            "activity": "SV_Balance_Status2",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "expression": {
            "value": "@equals(1,1)",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "name": "NB_RmSyncFile",
              "type": "DatabricksNotebook",
              "dependsOn": [],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_scripts, '/Generic_ADLS_File_Operations')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "src_file_with_path": {
                    "value": "/balancing/sync/ClmLnFBalancingTotalMatch.dat",
                    "type": "Expression"
                  },
                  "command": "delete",
                  "project": "enterprise"
                }
              },
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              }
            },
            {
              "name": "NB_WriteTableSummary1",
              "type": "DatabricksNotebook",
              "dependsOn": [],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/TblBalSumLoad')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "owner_schema": {
                    "value": "@pipeline().globalParameters.gbl_param_UWSOwner",
                    "type": "Expression"
                  },
                  "secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_UWSSecret",
                    "type": "Expression"
                  },
                  "GlobalEnvironment": {
                    "value": "@pipeline().globalParameters.gbl_param_environment",
                    "type": "Expression"
                  },
                  "TrgtSystem": {
                    "value": "@pipeline().parameters.Target",
                    "type": "Expression"
                  },
                  "SubjArea": {
                    "value": "@pipeline().parameters.Subject",
                    "type": "Expression"
                  },
                  "TrgtTbl": {
                    "value": "@pipeline().parameters.Table",
                    "type": "Expression"
                  },
                  "BalDtm": {
                    "value": "@pipeline().parameters.CurrentDate",
                    "type": "Expression"
                  },
                  "RowCtTlrncCode": "NA",
                  "ClmnSumTlrncCode": "NA",
                  "RowTorRowTlrncCode": {
                    "value": "@variables('Balance_Status1')",
                    "type": "Expression"
                  },
                  "RiTlrncCode": "NA",
                  "RelshpClmnSumTlrncCode": "NA",
                  "CrsFootTlrncCode": "NA",
                  "HistRsnblTlrncCode": "NA",
                  "RunCycle": {
                    "value": "@pipeline().parameters.ExtrRunCycle",
                    "type": "Expression"
                  }
                }
              },
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              }
            },
            {
              "name": "NB_WriteTableSummary2",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "NB_WriteTableSummary1",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/TblBalSumLoad')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "owner_schema": {
                    "value": "@pipeline().globalParameters.gbl_param_UWSOwner",
                    "type": "Expression"
                  },
                  "secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_UWSSecret",
                    "type": "Expression"
                  },
                  "GlobalEnvironment": {
                    "value": "@pipeline().globalParameters.gbl_param_environment",
                    "type": "Expression"
                  },
                  "TrgtSystem": {
                    "value": "@pipeline().parameters.Target",
                    "type": "Expression"
                  },
                  "SubjArea": {
                    "value": "@pipeline().parameters.Subject",
                    "type": "Expression"
                  },
                  "TrgtTbl": {
                    "value": "@pipeline().parameters.Table",
                    "type": "Expression"
                  },
                  "BalDtm": {
                    "value": "@pipeline().parameters.CurrentDate",
                    "type": "Expression"
                  },
                  "RowCtTlrncCode": "NA",
                  "ClmnSumTlrncCode": "NA",
                  "RowTorRowTlrncCode": {
                    "value": "@variables('Balance_Status2')",
                    "type": "Expression"
                  },
                  "RiTlrncCode": "NA",
                  "RelshpClmnSumTlrncCode": "NA",
                  "CrsFootTlrncCode": "NA",
                  "HistRsnblTlrncCode": "NA",
                  "RunCycle": {
                    "value": "@pipeline().parameters.ExtrRunCycle",
                    "type": "Expression"
                  }
                }
              },
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              }
            },
            {
              "name": "NB_WriteRowToRowDtl1",
              "type": "DatabricksNotebook",
              "dependsOn": [],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/RowToRowDtlLoad')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "owner_schema": {
                    "value": "@pipeline().globalParameters.gbl_param_UWSOwner",
                    "type": "Expression"
                  },
                  "secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_UWSSecret",
                    "type": "Expression"
                  },
                  "GlobalEnvironment": {
                    "value": "@pipeline().globalParameters.gbl_param_environment",
                    "type": "Expression"
                  },
                  "SrcSystem": {
                    "value": "@pipeline().parameters.Source",
                    "type": "Expression"
                  },
                  "TrgtSystem": {
                    "value": "@pipeline().parameters.Target",
                    "type": "Expression"
                  },
                  "SubjArea": {
                    "value": "@pipeline().parameters.Subject",
                    "type": "Expression"
                  },
                  "TrgtTbl": {
                    "value": "@pipeline().parameters.Table",
                    "type": "Expression"
                  },
                  "ClmnNm": {
                    "value": "@pipeline().parameters.ColumnNm1",
                    "type": "Expression"
                  },
                  "TotalCt": {
                    "value": "@variables('Total_Count')",
                    "type": "Expression"
                  },
                  "Dscrpncy": {
                    "value": "@variables('Dscrpncy_Count')",
                    "type": "Expression"
                  },
                  "TlrncCode": {
                    "value": "@variables('Balance_Status1')",
                    "type": "Expression"
                  },
                  "TlrncAmt": {
                    "value": "@variables('Tolerance_Amount1')",
                    "type": "Expression"
                  },
                  "TlrncMul": {
                    "value": "@variables('Tolerance_Multiplier1')",
                    "type": "Expression"
                  },
                  "FreqCode": {
                    "value": "@pipeline().parameters.Frequency",
                    "type": "Expression"
                  },
                  "RunCycle": {
                    "value": "@pipeline().parameters.ExtrRunCycle",
                    "type": "Expression"
                  },
                  "CrctnNote": {
                    "value": "",
                    "type": "Expression"
                  },
                  "UserID": {
                    "value": "",
                    "type": "Expression"
                  }
                }
              },
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              }
            },
            {
              "name": "NB_WriteRowToRowDtl2",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "NB_WriteRowToRowDtl1",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/RowToRowDtlLoad')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "owner_schema": {
                    "value": "@pipeline().globalParameters.gbl_param_UWSOwner",
                    "type": "Expression"
                  },
                  "secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_UWSSecret",
                    "type": "Expression"
                  },
                  "GlobalEnvironment": {
                    "value": "@pipeline().globalParameters.gbl_param_environment",
                    "type": "Expression"
                  },
                  "SrcSystem": {
                    "value": "@pipeline().parameters.Source",
                    "type": "Expression"
                  },
                  "TrgtSystem": {
                    "value": "@pipeline().parameters.Target",
                    "type": "Expression"
                  },
                  "SubjArea": {
                    "value": "@pipeline().parameters.Subject",
                    "type": "Expression"
                  },
                  "TrgtTbl": {
                    "value": "@pipeline().parameters.Table",
                    "type": "Expression"
                  },
                  "ClmnNm": {
                    "value": "@pipeline().parameters.ColumnNm2",
                    "type": "Expression"
                  },
                  "TotalCt": {
                    "value": "@variables('Total_Count')",
                    "type": "Expression"
                  },
                  "Dscrpncy": {
                    "value": "@variables('Dscrpncy_Count')",
                    "type": "Expression"
                  },
                  "TlrncCode": {
                    "value": "@variables('Balance_Status2')",
                    "type": "Expression"
                  },
                  "TlrncAmt": {
                    "value": "@variables('Tolerance_Amount2')",
                    "type": "Expression"
                  },
                  "TlrncMul": {
                    "value": "@variables('Tolerance_Multiplier2')",
                    "type": "Expression"
                  },
                  "FreqCode": {
                    "value": "@pipeline().parameters.Frequency",
                    "type": "Expression"
                  },
                  "RunCycle": {
                    "value": "@pipeline().parameters.ExtrRunCycle",
                    "type": "Expression"
                  },
                  "CrctnNote": {
                    "value": "",
                    "type": "Expression"
                  },
                  "UserID": {
                    "value": "",
                    "type": "Expression"
                  }
                }
              },
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              }
            }
          ],
          "ifFalseActivities": []
        }
      }
    ]
  }
}