npw-projects-np-projects-bluekc-translated-66e9366f6cca/Sprint_3_4_5/SequenceJobs/Enterprise/IdsEdwPcaClmFBalSeq.json
{
  "name": "IdsEdwPcaClmFBalSeq",
  "type": "Microsoft.DataFactory/factories/pipelines",
  "properties": {
    "folder": {
      "name": "Enterprise/Jobs/claim/Seq/Balancing"
    },
    "parameters": {
      "RunID": {
        "type": "String",
        "defaultValue": ""
      },
      "ExtrRunCycle": {
        "type": "String",
        "defaultValue": ""
      },
      "CurrentDate": {
        "type": "String",
        "defaultValue": ""
      },
      "Target": {
        "type": "String",
        "defaultValue": ""
      },
      "Subject": {
        "type": "String",
        "defaultValue": ""
      },
      "Frequency": {
        "type": "String",
        "defaultValue": ""
      },
      "Source": {
        "type": "String",
        "defaultValue": ""
      },
      "TrgtTbl": {
        "type": "String",
        "defaultValue": ""
      },
      "SnpshtTbl": {
        "type": "String",
        "defaultValue": ""
      },
      "ColumnNm1": {
        "type": "String",
        "defaultValue": ""
      },
      "ColumnNm2": {
        "type": "String",
        "defaultValue": ""
      }
    },
    "variables": {
      "Src_Amt1": {
        "type": "String"
      },
      "Trgt_Amt1": {
        "type": "String"
      },
      "Tolerance_Multiplier1": {
        "type": "String"
      },
      "Src_Amt2": {
        "type": "String"
      },
      "Trgt_Amt2": {
        "type": "String"
      },
      "Tolerance_Multiplier2": {
        "type": "String"
      },
      "Tolerance_Amount1": {
        "type": "String"
      },
      "Diff_Amt1": {
        "type": "String"
      },
      "Tolerance_Amount2": {
        "type": "String"
      },
      "Diff_Amt2": {
        "type": "String"
      },
      "Balance_Status1": {
        "type": "String"
      },
      "Balance_Status2": {
        "type": "String"
      },
      "LinkCount": {
        "type": "String",
        "defaultValue": ""
      }
    },
    "activities": [
      {
        "name": "GetSrcClmnSum_Src_Amt1",
        "type": "DatabricksNotebook",
        "dependsOn": [],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/GetSrcClmnSum')",
            "type": "Expression"
          },
          "baseParameters": {
            "GetSrcClmnSum_a1": {
              "value": "@pipeline().globalParameters.gbl_param_EDWOwner",
              "type": "Expression"
            },
            "secret_name": {
              "value": "@pipeline().globalParameters.gbl_param_EDWSecret",
              "type": "Expression"
            },
            "GetSrcClmnSum_a2": {
              "value": "@pipeline().parameters.ColumnNm1",
              "type": "Expression"
            },
            "GetSrcClmnSum_a3": {
              "value": "@pipeline().parameters.SnpshtTbl",
              "type": "Expression"
            },
            "GlobalEnvironment": {
              "value": "@pipeline().globalParameters.gbl_param_environment",
              "type": "Expression"
            },
            "owner_schema": {
              "value": "",
              "type": "Expression"
            },
            "ClmnNm": {
              "value": "",
              "type": "Expression"
            },
            "SnpshtTblNm": {
              "value": "",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "Set_Src_Amt1",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "GetSrcClmnSum_Src_Amt1",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "Src_Amt1",
          "value": {
            "value": "@string(activity('GetSrcClmnSum_Src_Amt1').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "GetTrgtClmnSum_Trgt_Amt1",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "Set_Src_Amt1",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/GetTrgtClmnSum')",
            "type": "Expression"
          },
          "baseParameters": {
            "GetTrgtClmnSum_a1": {
              "value": "@pipeline().globalParameters.gbl_param_EDWOwner",
              "type": "Expression"
            },
            "secret_name": {
              "value": "@pipeline().globalParameters.gbl_param_EDWSecret",
              "type": "Expression"
            },
            "GetTrgtClmnSum_a2": {
              "value": "@pipeline().parameters.ColumnNm1",
              "type": "Expression"
            },
            "GetTrgtClmnSum_a3": {
              "value": "@pipeline().parameters.TrgtTbl",
              "type": "Expression"
            },
            "GetTrgtClmnSum_a4": {
              "value": "@pipeline().parameters.ExtrRunCycle",
              "type": "Expression"
            },
            "owner_schema": {
              "value": "",
              "type": "Expression"
            },
            "ClmnNm": {
              "value": "",
              "type": "Expression"
            },
            "TrgtTblNm": {
              "value": "",
              "type": "Expression"
            },
            "RunCycle": {
              "value": "",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "Set_Trgt_Amt1",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "GetTrgtClmnSum_Trgt_Amt1",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "Trgt_Amt1",
          "value": {
            "value": "@string(activity('GetTrgtClmnSum_Trgt_Amt1').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "GetClmnSumTlrnc_Tolerance_Multiplier1",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "Set_Trgt_Amt1",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/GetClmnSumTlrnc')",
            "type": "Expression"
          },
          "baseParameters": {
            "GetClmnSumTlrnc_a1": {
              "value": "@pipeline().globalParameters.gbl_param_UWSOwner",
              "type": "Expression"
            },
            "secret_name": {
              "value": "@pipeline().globalParameters.gbl_param_UWSSecret",
              "type": "Expression"
            },
            "GetClmnSumTlrnc_a2": {
              "value": "@pipeline().parameters.TrgtTbl",
              "type": "Expression"
            },
            "GetClmnSumTlrnc_a3": {
              "value": "@pipeline().parameters.ColumnNm1",
              "type": "Expression"
            },
            "GetClmnSumTlrnc_a4": {
              "value": "@pipeline().parameters.Subject",
              "type": "Expression"
            },
            "GlobalEnvironment": {
              "value": "@pipeline().globalParameters.gbl_param_environment",
              "type": "Expression"
            },
            "owner_schema": {
              "value": "",
              "type": "Expression"
            },
            "TargetTable": {
              "value": "",
              "type": "Expression"
            },
            "TargetColumn": {
              "value": "",
              "type": "Expression"
            },
            "SubjectArea": {
              "value": "",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "Set_Tolerance_Multiplier1",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "GetClmnSumTlrnc_Tolerance_Multiplier1",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "Tolerance_Multiplier1",
          "value": {
            "value": "@string(activity('GetClmnSumTlrnc_Tolerance_Multiplier1').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "GetSrcClmnSum_Src_Amt2",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "Set_Tolerance_Multiplier1",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/GetSrcClmnSum')",
            "type": "Expression"
          },
          "baseParameters": {
            "GetSrcClmnSum_a1": {
              "value": "@pipeline().globalParameters.gbl_param_EDWOwner",
              "type": "Expression"
            },
            "secret_name": {
              "value": "@pipeline().globalParameters.gbl_param_EDWSecret",
              "type": "Expression"
            },
            "GetSrcClmnSum_a2": {
              "value": "@pipeline().parameters.ColumnNm2",
              "type": "Expression"
            },
            "GetSrcClmnSum_a3": {
              "value": "@pipeline().parameters.SnpshtTbl",
              "type": "Expression"
            },
            "owner_schema": {
              "value": "",
              "type": "Expression"
            },
            "ClmnNm": {
              "value": "",
              "type": "Expression"
            },
            "SnpshtTblNm": {
              "value": "",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "Set_Src_Amt2",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "GetSrcClmnSum_Src_Amt2",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "Src_Amt2",
          "value": {
            "value": "@string(activity('GetSrcClmnSum_Src_Amt2').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "GetTrgtClmnSum_Trgt_Amt2",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "Set_Src_Amt2",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/GetTrgtClmnSum')",
            "type": "Expression"
          },
          "baseParameters": {
            "GetTrgtClmnSum_a1": {
              "value": "@pipeline().globalParameters.gbl_param_EDWOwner",
              "type": "Expression"
            },
            "secret_name": {
              "value": "@pipeline().globalParameters.gbl_param_EDWSecret",
              "type": "Expression"
            },
            "GetTrgtClmnSum_a2": {
              "value": "@pipeline().parameters.ColumnNm2",
              "type": "Expression"
            },
            "GetTrgtClmnSum_a3": {
              "value": "@pipeline().parameters.TrgtTbl",
              "type": "Expression"
            },
            "GetTrgtClmnSum_a4": {
              "value": "@pipeline().parameters.ExtrRunCycle",
              "type": "Expression"
            },
            "GlobalEnvironment": {
              "value": "@pipeline().globalParameters.gbl_param_environment",
              "type": "Expression"
            },
            "owner_schema": {
              "value": "",
              "type": "Expression"
            },
            "ClmnNm": {
              "value": "",
              "type": "Expression"
            },
            "TrgtTblNm": {
              "value": "",
              "type": "Expression"
            },
            "RunCycle": {
              "value": "",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "Set_Trgt_Amt2",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "GetTrgtClmnSum_Trgt_Amt2",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "Trgt_Amt2",
          "value": {
            "value": "@string(activity('GetTrgtClmnSum_Trgt_Amt2').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "GetClmnSumTlrnc_Tolerance_Multiplier2",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "Set_Trgt_Amt2",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/GetClmnSumTlrnc')",
            "type": "Expression"
          },
          "baseParameters": {
            "GetClmnSumTlrnc_a1": {
              "value": "@pipeline().globalParameters.gbl_param_UWSOwner",
              "type": "Expression"
            },
            "secret_name": {
              "value": "@pipeline().globalParameters.gbl_param_UWSSecret",
              "type": "Expression"
            },
            "GetClmnSumTlrnc_a2": {
              "value": "@pipeline().parameters.TrgtTbl",
              "type": "Expression"
            },
            "GetClmnSumTlrnc_a3": {
              "value": "@pipeline().parameters.ColumnNm2",
              "type": "Expression"
            },
            "GetClmnSumTlrnc_a4": {
              "value": "@pipeline().parameters.Subject",
              "type": "Expression"
            },
            "GlobalEnvironment": {
              "value": "@pipeline().globalParameters.gbl_param_environment",
              "type": "Expression"
            },
            "owner_schema": {
              "value": "",
              "type": "Expression"
            },
            "TargetTable": {
              "value": "",
              "type": "Expression"
            },
            "TargetColumn": {
              "value": "",
              "type": "Expression"
            },
            "SubjectArea": {
              "value": "",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "Set_Tolerance_Multiplier2",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "GetClmnSumTlrnc_Tolerance_Multiplier2",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "Tolerance_Multiplier2",
          "value": {
            "value": "@string(activity('GetClmnSumTlrnc_Tolerance_Multiplier2').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "Set_Tolerance_Amount1",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "Set_Tolerance_Multiplier2",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "Tolerance_Amount1",
          "value": {
            "value": "@string(mul(float(variables('Src_Amt1')), float(variables('Tolerance_Multiplier1'))))",
            "type": "Expression"
          }
        }
      },
      {
        "name": "Set_Diff_Amt1",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "Set_Tolerance_Amount1",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "Diff_Amt1",
          "value": {
            "value": "@string(sub(float(variables('Src_Amt1')), float(variables('Trgt_Amt1'))))",
            "type": "Expression"
          }
        }
      },
      {
        "name": "Set_Tolerance_Amount2",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "Set_Diff_Amt1",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "Tolerance_Amount2",
          "value": {
            "value": "@string(mul(float(variables('Src_Amt2')), float(variables('Tolerance_Multiplier2'))))",
            "type": "Expression"
          }
        }
      },
      {
        "name": "Set_Diff_Amt2",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "Set_Tolerance_Amount2",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "Diff_Amt2",
          "value": {
            "value": "@string(sub(float(variables('Src_Amt2')), float(variables('Trgt_Amt2'))))",
            "type": "Expression"
          }
        }
      },
      {
        "name": "GetBalStatus_Balance_Status1",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "Set_Diff_Amt2",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/GetBalStatus')",
            "type": "Expression"
          },
          "baseParameters": {
            "Difference_Count": {
              "value": "@variables('Diff_Amt1')",
              "type": "Expression"
            },
            "Tolerance_Amount": {
              "value": "@variables('Tolerance_Amount1')",
              "type": "Expression"
            },
            "GlobalEnvironment": {
              "value": "@pipeline().globalParameters.gbl_param_environment",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "Set_Balance_Status1",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "GetBalStatus_Balance_Status1",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "Balance_Status1",
          "value": {
            "value": "@string(activity('GetBalStatus_Balance_Status1').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "GetBalStatus_Balance_Status2",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "Set_Balance_Status1",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/GetBalStatus')",
            "type": "Expression"
          },
          "baseParameters": {
            "Difference_Count": {
              "value": "@variables('Diff_Amt2')",
              "type": "Expression"
            },
            "Tolerance_Amount": {
              "value": "@variables('Tolerance_Amount2')",
              "type": "Expression"
            },
            "GlobalEnvironment": {
              "value": "@pipeline().globalParameters.gbl_param_environment",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "Set_Balance_Status2",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "GetBalStatus_Balance_Status2",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "Balance_Status2",
          "value": {
            "value": "@string(activity('GetBalStatus_Balance_Status2').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "If_1C",
        "type": "IfCondition",
        "dependsOn": [
          {
            "activity": "Set_Balance_Status2",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "expression": {
            "value": "@or(not(equals(variables('Diff_Amt1'), 0)), not(equals(variables('Diff_Amt2'), 0)))",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "name": "IdsEdwPcaClmFBal",
              "type": "DatabricksNotebook",
              "dependsOn": [],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_notebook_path, '/claim/PcaClmF/Balancing/IdsEdwPcaClmFBal')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "EDWOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_EDWOwner",
                    "type": "Expression"
                  },
                  "edw_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_EDWSecret",
                    "type": "Expression"
                  },
                  "ExtrRunCycle": {
                    "value": "@pipeline().parameters.ExtrRunCycle",
                    "type": "Expression"
                  },
                  "RunID": {
                    "value": "@pipeline().parameters.RunID",
                    "type": "Expression"
                  },
                  "GlobalEnvironment": {
                    "value": "@pipeline().globalParameters.gbl_param_environment",
                    "type": "Expression"
                  }
                }
              }
            }
          ],
          "ifFalseActivities": []
        }
      },
      {
        "name": "WriteTableSummary1",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "If_1C",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/TblBalSumLoad')",
            "type": "Expression"
          },
          "baseParameters": {
            "owner_schema": {
              "value": "@pipeline().globalParameters.gbl_param_UWSOwner",
              "type": "Expression"
            },
            "secret_name": {
              "value": "@pipeline().globalParameters.gbl_param_UWSSecret",
              "type": "Expression"
            },
            "TrgtSystem": {
              "value": "@pipeline().parameters.Target",
              "type": "Expression"
            },
            "SubjArea": {
              "value": "@pipeline().parameters.Subject",
              "type": "Expression"
            },
            "TrgtTbl": {
              "value": "@pipeline().parameters.TrgtTbl",
              "type": "Expression"
            },
            "BalDtm": {
              "value": "@pipeline().parameters.CurrentDate",
              "type": "Expression"
            },
            "RowCtTlrncCode": "NA",
            "ClmnSumTlrncCode": {
              "value": "@variables('Balance_Status1')",
              "type": "Expression"
            },
            "RowTorRowTlrncCode": "NA",
            "RiTlrncCode": "NA",
            "RelshpClmnSumTlrncCode": "NA",
            "CrsFootTlrncCode": "NA",
            "HistRsnblTlrncCode": "NA",
            "RunCycle": {
              "value": "@pipeline().parameters.ExtrRunCycle",
              "type": "Expression"
            },
            "GlobalEnvironment": {
              "value": "@pipeline().globalParameters.gbl_param_environment",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "WriteTableSummary2",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "WriteTableSummary1",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/TblBalSumLoad')",
            "type": "Expression"
          },
          "baseParameters": {
            "owner_schema": {
              "value": "@pipeline().globalParameters.gbl_param_UWSOwner",
              "type": "Expression"
            },
            "secret_name": {
              "value": "@pipeline().globalParameters.gbl_param_UWSSecret",
              "type": "Expression"
            },
            "TrgtSystem": {
              "value": "@pipeline().parameters.Target",
              "type": "Expression"
            },
            "SubjArea": {
              "value": "@pipeline().parameters.Subject",
              "type": "Expression"
            },
            "TrgtTbl": {
              "value": "@pipeline().parameters.TrgtTbl",
              "type": "Expression"
            },
            "BalDtm": {
              "value": "@pipeline().parameters.CurrentDate",
              "type": "Expression"
            },
            "RowCtTlrncCode": "NA",
            "ClmnSumTlrncCode": {
              "value": "@variables('Balance_Status2')",
              "type": "Expression"
            },
            "RowTorRowTlrncCode": "NA",
            "RiTlrncCode": "NA",
            "RelshpClmnSumTlrncCode": "NA",
            "CrsFootTlrncCode": "NA",
            "HistRsnblTlrncCode": "NA",
            "RunCycle": {
              "value": "@pipeline().parameters.ExtrRunCycle",
              "type": "Expression"
            },
            "GlobalEnvironment": {
              "value": "@pipeline().globalParameters.gbl_param_environment",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "WriteClmnSumDtl1",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "If_1C",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/ClmnSumDtlLoad')",
            "type": "Expression"
          },
          "baseParameters": {
            "owner_schema": {
              "value": "@pipeline().globalParameters.gbl_param_UWSOwner",
              "type": "Expression"
            },
            "secret_name": {
              "value": "@pipeline().globalParameters.gbl_param_UWSSecret",
              "type": "Expression"
            },
            "SrcSystem": {
              "value": "@pipeline().parameters.Source",
              "type": "Expression"
            },
            "TrgtSystem": {
              "value": "@pipeline().parameters.Target",
              "type": "Expression"
            },
            "SubjArea": {
              "value": "@pipeline().parameters.Subject",
              "type": "Expression"
            },
            "TrgtTbl": {
              "value": "@pipeline().parameters.TrgtTbl",
              "type": "Expression"
            },
            "ClmnNm": {
              "value": "@pipeline().parameters.ColumnNm1",
              "type": "Expression"
            },
            "TrgtAmt": {
              "value": "@variables('Trgt_Amt1')",
              "type": "Expression"
            },
            "SrcAmt": {
              "value": "@variables('Src_Amt1')",
              "type": "Expression"
            },
            "DiffAmt": {
              "value": "@variables('Diff_Amt1')",
              "type": "Expression"
            },
            "TlrncCode": {
              "value": "@variables('Balance_Status1')",
              "type": "Expression"
            },
            "TlrncAmt": {
              "value": "@variables('Tolerance_Amount1')",
              "type": "Expression"
            },
            "TlrncMul": {
              "value": "@variables('Tolerance_Multiplier1')",
              "type": "Expression"
            },
            "FreqCode": {
              "value": "@pipeline().parameters.Frequency",
              "type": "Expression"
            },
            "RunCycle": {
              "value": "@pipeline().parameters.ExtrRunCycle",
              "type": "Expression"
            },
            "GlobalEnvironment": {
              "value": "@pipeline().globalParameters.gbl_param_environment",
              "type": "Expression"
            },
            "CrctnNote": {
              "value": "",
              "type": "Expression"
            },
            "UserID": {
              "value": "",
              "type": "Expression"
            }
          }
        }
      },
      {
        "name": "WriteClmnSumDtl2",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "WriteClmnSumDtl1",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/ClmnSumDtlLoad')",
            "type": "Expression"
          },
          "baseParameters": {
            "owner_schema": {
              "value": "@pipeline().globalParameters.gbl_param_UWSOwner",
              "type": "Expression"
            },
            "secret_name": {
              "value": "@pipeline().globalParameters.gbl_param_UWSSecret",
              "type": "Expression"
            },
            "SrcSystem": {
              "value": "@pipeline().parameters.Source",
              "type": "Expression"
            },
            "TrgtSystem": {
              "value": "@pipeline().parameters.Target",
              "type": "Expression"
            },
            "SubjArea": {
              "value": "@pipeline().parameters.Subject",
              "type": "Expression"
            },
            "TrgtTbl": {
              "value": "@pipeline().parameters.TrgtTbl",
              "type": "Expression"
            },
            "ClmnNm": {
              "value": "@pipeline().parameters.ColumnNm2",
              "type": "Expression"
            },
            "TrgtAmt": {
              "value": "@variables('Trgt_Amt2')",
              "type": "Expression"
            },
            "SrcAmt": {
              "value": "@variables('Src_Amt2')",
              "type": "Expression"
            },
            "DiffAmt": {
              "value": "@variables('Diff_Amt2')",
              "type": "Expression"
            },
            "TlrncCode": {
              "value": "@variables('Balance_Status2')",
              "type": "Expression"
            },
            "TlrncAmt": {
              "value": "@variables('Tolerance_Amount2')",
              "type": "Expression"
            },
            "TlrncMul": {
              "value": "@variables('Tolerance_Multiplier2')",
              "type": "Expression"
            },
            "FreqCode": {
              "value": "@pipeline().parameters.Frequency",
              "type": "Expression"
            },
            "RunCycle": {
              "value": "@pipeline().parameters.ExtrRunCycle",
              "type": "Expression"
            },
            "GlobalEnvironment": {
              "value": "@pipeline().globalParameters.gbl_param_environment",
              "type": "Expression"
            },
            "CrctnNote": {
              "value": "",
              "type": "Expression"
            },
            "UserID": {
              "value": "",
              "type": "Expression"
            }
          }
        }
      }
    ]
  }
}