npw-projects-np-projects-bluekc-translated-66e9366f6cca/Sprint_3_4_5/SequenceJobs/Enterprise/IdsRcvdIncomeCntl.json
{
  "name": "IdsRcvdIncomeCntl",
  "type": "Microsoft.DataFactory/factories/pipelines",
  "properties": {
    "folder": {
      "name": "Enterprise/Jobs/DataWarehouse/Income"
    },
    "parameters": {},
    "variables": {
      "JobName": {
        "type": "String",
        "defaultValue": ""
      },
      "GroupName": {
        "type": "String",
        "defaultValue": "FINANCE"
      },
      "Source": {
        "type": "String",
        "defaultValue": "IDS"
      },
      "Target": {
        "type": "String",
        "defaultValue": "EDW"
      },
      "Subject": {
        "type": "String",
        "defaultValue": "RCVD_INCM"
      },
      "Frequency": {
        "type": "String",
        "defaultValue": "MONTHLY"
      },
      "LinkCount": {
        "type": "String",
        "defaultValue": ""
      },
      "RunCycle": {
        "type": "String",
        "defaultValue": ""
      },
      "ReadExclusionListFile_CommandOutput": {
        "type": "String",
        "defaultValue": ""
      },
      "RunID": {
        "type": "String",
        "defaultValue": ""
      },
      "ExclusionList": {
        "type": "String",
        "defaultValue": ""
      },
      "RunCycleDate": {
        "type": "String",
        "defaultValue": ""
      },
      "ComsnRunCycleToExtract": {
        "type": "String",
        "defaultValue": ""
      },
      "var_CountChk_branch": {
        "type": "String",
        "defaultValue": ""
      },
      "var_If_1A_branch": {
        "type": "String",
        "defaultValue": ""
      },
      "var_If_1B_branch": {
        "type": "String",
        "defaultValue": ""
      },
      "var_If_1B_Continuation_branch": {
        "type": "String",
        "defaultValue": ""
      },
      "var_If_2B_branch": {
        "type": "String",
        "defaultValue": ""
      },
      "var_If_2B_Continuation_branch": {
        "type": "String",
        "defaultValue": ""
      },
      "Success": {
        "type": "String"
      }
    },
    "activities": [
      {
        "name": "var_Initial_JobName",
        "type": "SetVariable",
        "dependsOn": [],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "JobName",
          "value": {
            "type": "Expression",
            "value": "@pipeline().Pipeline"
          }
        }
      },
      {
        "name": "ProcessCheckExtr_EE",
        "type": "Lookup",
        "dependsOn": [
          {
            "activity": "var_Initial_JobName",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "source": {
            "type": "AzureSqlSource",
            "sqlReaderQuery": {
              "value": "WITH db2_data AS (\n    select SUBJ_CD, TRGT_SYS_CD, SRC_SYS_CD\n    from @{pipeline().globalParameters.gbl_param_IDSOwner}.P_RUN_CYC\n    where CYC_STTUS_CD = 'RUNNING'\n       and SUBJ_CD = '@{variables('Subject')}'\n       and TRGT_SYS_CD = '@{variables('Target')}'\n    UNION\n    select SUBJ_CD, TRGT_SYS_CD, SRC_SYS_CD\n    from @{pipeline().globalParameters.gbl_param_IDSOwner}.P_RUN_CYC\n    where CYC_STTUS_CD = 'RUNNING'\n       and SUBJ_CD = '@{variables('Subject')}'\n       and SRC_SYS_CD <> '@{variables('Source')}'\n       and TRGT_SYS_CD = '@{variables('Target')}'\n    UNION\n    select SUBJ_CD, TRGT_SYS_CD, SRC_SYS_CD\n    from @{pipeline().globalParameters.gbl_param_IDSOwner}.P_RUN_CYC\n    where CYC_STTUS_CD = 'RUNNING'\n       and SUBJ_CD = '@{variables('Subject')}'\n       and SRC_SYS_CD = '@{variables('Source')}'\n),\ntransformed_data AS (\n    SELECT SUBJ_CD, SRC_SYS_CD, TRGT_SYS_CD\n    FROM db2_data\n)\nSELECT COUNT(*) as link_count FROM transformed_data",
              "type": "Expression"
            },
            "queryTimeout": "02:00:00",
            "partitionOption": "None"
          },
          "dataset": {
            "referenceName": "ds_ids",
            "type": "DatasetReference",
            "parameters": {
              "param_schema": "@pipeline().globalParameters.gbl_param_IDSOwner",
              "param_table": "P_RUN_CYC"
            }
          }
        }
      },
      {
        "name": "LinkCount_SetVar",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "ProcessCheckExtr_EE",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "LinkCount",
          "value": {
            "value": "@string(activity('ProcessCheckExtr_EE').output.firstRow.link_count)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "CountChk",
        "type": "Switch",
        "dependsOn": [
          {
            "activity": "LinkCount_SetVar",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "on": {
            "type": "Expression",
            "value": "@if(not(equals(variables('LinkCount'),'0')),'1','0')"
          },
          "cases": [
            {
              "value": "1",
              "activities": [
                {
                  "name": "var_CountChk_branch_True",
                  "type": "SetVariable",
                  "dependsOn": [],
                  "policy": {
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "variableName": "var_CountChk_branch",
                    "value": {
                      "type": "Expression",
                      "value": "@string('1')"
                    }
                  }
                },
                {
                  "name": "Email_DAT",
                  "type": "ExecutePipeline",
                  "dependsOn": [
                    {
                      "activity": "var_CountChk_branch_True",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "pipeline": {
                      "referenceName": "Email_Notification",
                      "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                      "recipients": {
                        "value": "@pipeline().globalParameters.gbl_param_EmailSupport",
                        "type": "Expression"
                      },
                      "subject": "EDW Received Income Abort",
                      "body": "The EDW Received Incmoe process can not run while IDS Commission is being updated or EDW Income is extracted from.",
                      "blobFilenames": "",
                      "fromemail": {
                        "value": "@pipeline().globalParameters.gbl_param_fromemail",
                        "type": "Expression"
                      },
                      "containerName": ""
                    }
                  }
                }
              ]
            }
          ],
          "defaultActivities": [
            {
              "name": "var_CountChk_branch_False",
              "type": "SetVariable",
              "dependsOn": [],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "var_CountChk_branch",
                "value": {
                  "type": "Expression",
                  "value": "@string('0')"
                }
              }
            },
            {
              "name": "nb_OpenRunCycle",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "var_CountChk_branch_False",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "notebookPath": {
                  "type": "Expression",
                  "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/OpenRunCycle')"
                },
                "baseParameters": {
                  "DBOwner": {
                    "type": "Expression",
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner"
                  },
                  "secret_name": {
                    "type": "Expression",
                    "value": "@pipeline().globalParameters.gbl_param_IDSSecret"
                  },
                  "Source": {
                    "type": "Expression",
                    "value": "@variables('Source')"
                  },
                  "Target": {
                    "type": "Expression",
                    "value": "@variables('Target')"
                  },
                  "Subject": {
                    "type": "Expression",
                    "value": "@variables('Subject')"
                  },
                  "Frequency": {
                    "type": "Expression",
                    "value": "@variables('Frequency')"
                  },
                  "GlobalEnvironment": {
                    "type": "Expression",
                    "value": "@pipeline().globalParameters.gbl_param_environment"
                  }
                }
              },
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              }
            },
            {
              "name": "var_RunCycle",
              "type": "SetVariable",
              "dependsOn": [
                {
                  "activity": "nb_OpenRunCycle",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "RunCycle",
                "value": {
                  "type": "Expression",
                  "value": "@string(activity('nb_OpenRunCycle').output.runOutput)"
                }
              }
            },
            {
              "name": "ExclusionListExtr_EE",
              "type": "ExecutePipeline",
              "dependsOn": [
                {
                  "activity": "var_RunCycle",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "pipeline": {
                  "referenceName": "ExclusionListExtr_EE",
                  "type": "PipelineReference"
                },
                "waitOnCompletion": true,
                "parameters": {
                  "IDSOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "ids_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                    "type": "Expression"
                  },
                  "Subject": {
                    "value": "@variables('JobName')",
                    "type": "Expression"
                  }
                }
              }
            },
            {
              "name": "n_ReadExclusionListFile",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "ExclusionListExtr_EE",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "notebookPath": {
                  "type": "Expression",
                  "value": "@concat(pipeline().globalParameters.gbl_param_scripts, '/Generic_ADLS_File_Operations')"
                },
                "baseParameters": {
                  "src_file_with_path": {
                    "value": "/_TASK_EXCL.dat",
                    "type": "Expression"
                  },
                  "command": "cat",
                  "cut_column_index": "2",
                  "project": "enterprise"
                }
              },
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              }
            },
            {
              "name": "var_ReadExclusionListFile_CommandOutput",
              "type": "SetVariable",
              "dependsOn": [
                {
                  "activity": "n_ReadExclusionListFile",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "ReadExclusionListFile_CommandOutput",
                "value": {
                  "type": "Expression",
                  "value": "@string(activity('n_ReadExclusionListFile').output.runOutput)"
                }
              }
            },
            {
              "name": "nb_WriteRunID",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "var_ReadExclusionListFile_CommandOutput",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "notebookPath": {
                  "type": "Expression",
                  "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/WriteRunID')"
                },
                "baseParameters": {
                  "entry_name": {
                    "type": "Expression",
                    "value": "@concat(variables('JobName'),'RunID')"
                  },
                  "IDSOwner": {
                    "type": "Expression",
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner"
                  },
                  "secret_name": {
                    "type": "Expression",
                    "value": "@pipeline().globalParameters.gbl_param_IDSSecret"
                  },
                  "GlobalEnvironment": {
                    "type": "Expression",
                    "value": "@pipeline().globalParameters.gbl_param_environment"
                  }
                }
              },
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              }
            },
            {
              "name": "var_WriteRunID_dummy",
              "type": "SetVariable",
              "dependsOn": [
                {
                  "activity": "nb_WriteRunID",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "RunID",
                "value": {
                  "type": "Expression",
                  "value": "@string('')"
                }
              }
            },
            {
              "name": "nb_Variables_Routines",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "var_WriteRunID_dummy",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "notebookPath": {
                  "type": "Expression",
                  "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/GetExtractRunCycle')"
                },
                "baseParameters": {
                  "GetExtractRunCycle_a1": {
                    "type": "Expression",
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner"
                  },
                  "secret_name": {
                    "type": "Expression",
                    "value": "@pipeline().globalParameters.gbl_param_IDSSecret"
                  },
                  "GetExtractRunCycle_a2": "RCVD_INCM",
                  "GetExtractRunCycle_a3": "FACETS",
                  "load": "EDW",
                  "GlobalEnvironment": {
                    "type": "Expression",
                    "value": "@pipeline().globalParameters.gbl_param_environment"
                  },
                  "owner_schema": {
                    "value": "",
                    "type": "Expression"
                  },
                  "subject": {
                    "value": "",
                    "type": "Expression"
                  },
                  "source": {
                    "value": "",
                    "type": "Expression"
                  },
                  "target": {
                    "value": "",
                    "type": "Expression"
                  }
                }
              },
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              }
            },
            {
              "name": "var_Variables_RunID",
              "type": "SetVariable",
              "dependsOn": [
                {
                  "activity": "nb_Variables_Routines",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "RunID",
                "value": {
                  "type": "Expression",
                  "value": "@string(activity('nb_Variables_Routines').output.runOutput)"
                }
              }
            },
            {
              "name": "var_Variables_ExclusionList",
              "type": "SetVariable",
              "dependsOn": [
                {
                  "activity": "var_Variables_RunID",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "ExclusionList",
                "value": {
                  "type": "Expression",
                  "value": "@string(activity('nb_Variables_Routines').output.runOutput.ExclusionList)"
                }
              }
            },
            {
              "name": "var_Variables_RunCycleDate",
              "type": "SetVariable",
              "dependsOn": [
                {
                  "activity": "nb_Variables_Routines",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "RunCycleDate",
                "value": {
                  "type": "Expression",
                  "value": "@string(activity('nb_Variables_Routines').output.runOutput)"
                }
              }
            },
            {
              "name": "var_Variables_ComsnRunCycleToExtract",
              "type": "SetVariable",
              "dependsOn": [
                {
                  "activity": "nb_Variables_Routines",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "ComsnRunCycleToExtract",
                "value": {
                  "type": "Expression",
                  "value": "@string(activity('nb_Variables_Routines').output.runOutput)"
                }
              }
            },
            {
              "name": "ExclusionListDelete_EE",
              "type": "ExecutePipeline",
              "dependsOn": [
                {
                  "activity": "var_Variables_ComsnRunCycleToExtract",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "pipeline": {
                  "referenceName": "ExclusionListDelete_EE",
                  "type": "PipelineReference"
                },
                "waitOnCompletion": true,
                "parameters": {
                  "IDSOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "ids_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                    "type": "Expression"
                  },
                  "Subject": {
                    "value": "@variables('JobName')",
                    "type": "Expression"
                  }
                }
              }
            }
          ]
        }
      },
      {
        "name": "If_1A",
        "type": "Switch",
        "dependsOn": [
          {
            "activity": "CountChk",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "on": {
            "type": "Expression",
            "value": "@if(and(equals(variables('var_CountChk_branch'),'0'),not(contains(variables('ExclusionList'),'IdsEdwRcvdIncmFExtr'))),'1','0')"
          },
          "cases": [
            {
              "value": "1",
              "activities": [
                {
                  "name": "var_If_1A_branch_True",
                  "type": "SetVariable",
                  "dependsOn": [],
                  "policy": {
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "variableName": "var_If_1A_branch",
                    "value": {
                      "type": "Expression",
                      "value": "@string('1')"
                    }
                  }
                },
                {
                  "name": "IdsEdwRcvdIncmFExtr",
                  "type": "DatabricksNotebook",
                  "dependsOn": [
                    {
                      "activity": "var_If_1A_branch_True",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "timeout": "12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "notebookPath": {
                      "type": "Expression",
                      "value": "@concat(pipeline().globalParameters.gbl_param_notebook_path,'/DataWarehouse/Income/EdwLoads/RcvdIncmF/IdsEdwRcvdIncmFExtr')"
                    },
                    "baseParameters": {
                      "IDSOwner": {
                        "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                        "type": "Expression"
                      },
                      "ids_secret_name": {
                        "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                        "type": "Expression"
                      },
                      "EDWOwner": {
                        "value": "@pipeline().globalParameters.gbl_param_EDWOwner",
                        "type": "Expression"
                      },
                      "edw_secret_name": {
                        "value": "@pipeline().globalParameters.gbl_param_EDWSecret",
                        "type": "Expression"
                      },
                      "CurrentRunDate": {
                        "value": "@variables('RunCycleDate')",
                        "type": "Expression"
                      },
                      "CurrRunCycle": {
                        "value": "@variables('RunCycle')",
                        "type": "Expression"
                      },
                      "ComsnBeginCycle": {
                        "value": "@variables('ComsnRunCycleToExtract')",
                        "type": "Expression"
                      }
                    }
                  },
                  "linkedServiceName": {
                    "referenceName": "shareddatabricks",
                    "type": "LinkedServiceReference"
                  }
                }
              ]
            }
          ],
          "defaultActivities": [
            {
              "name": "var_If_1A_branch_False",
              "type": "SetVariable",
              "dependsOn": [],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "var_If_1A_branch",
                "value": {
                  "type": "Expression",
                  "value": "@string('0')"
                }
              }
            }
          ]
        }
      },
      {
        "name": "If_1B",
        "type": "Switch",
        "dependsOn": [
          {
            "activity": "If_1A",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "on": {
            "type": "Expression",
            "value": "@if(and(equals(variables('var_CountChk_branch'),'0'), and(equals(variables('var_If_1A_branch'),'1'), not(contains(variables('ExclusionList'),'IdsEdwRcvdIncmFLoad')))),'1','0')"
          },
          "cases": [
            {
              "value": "1",
              "activities": [
                {
                  "name": "var_If_1B_branch_True",
                  "type": "SetVariable",
                  "dependsOn": [],
                  "policy": {
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "variableName": "var_If_1B_branch",
                    "value": {
                      "type": "Expression",
                      "value": "@string('1')"
                    }
                  }
                },
                {
                  "name": "IdsEdwRcvdIncmFLoad",
                  "type": "ExecutePipeline",
                  "dependsOn": [
                    {
                      "activity": "var_If_1B_branch_True",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "secureInput": false
                  },
                  "typeProperties": {
                    "pipeline": {
                      "referenceName": "IdsEdwRcvdIncmFLoad"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                      "EDWOwner": {
                        "value": "@pipeline().globalParameters.gbl_param_EDWOwner",
                        "type": "Expression"
                      },
                      "edw_secret_name": {
                        "value": "@pipeline().globalParameters.gbl_param_EDWSecret",
                        "type": "Expression"
                      }
                    }
                  }
                },
                {
                  "name": "IdsEdwRcvdIncmFLoad",
                  "type": "DatabricksNotebook",
                  "dependsOn": [
                    {
                      "activity": "var_If_1B_branch_True",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "timeout": "12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "notebookPath": {
                      "type": "Expression",
                      "value": "@concat(pipeline().globalParameters.gbl_param_notebook_path,'/DataWarehouse/Income/EdwLoads/RcvdIncmF/IdsEdwRcvdIncmFLoad')"
                    },
                    "baseParameters": {
                      "EDWOwner": {
                        "value": "@pipeline().globalParameters.gbl_param_EDWOwner",
                        "type": "Expression"
                      },
                      "edw_secret_name": {
                        "value": "@pipeline().globalParameters.gbl_param_EDWSecret",
                        "type": "Expression"
                      }
                    }
                  },
                  "linkedServiceName": {
                    "referenceName": "shareddatabricks",
                    "type": "LinkedServiceReference"
                  }
                }
              ]
            }
          ],
          "defaultActivities": [
            {
              "name": "var_If_1B_branch_False",
              "type": "SetVariable",
              "dependsOn": [],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "var_If_1B_branch",
                "value": {
                  "type": "Expression",
                  "value": "@string('0')"
                }
              }
            }
          ]
        }
      },
      {
        "name": "If_1B_Continuation",
        "type": "Switch",
        "dependsOn": [
          {
            "activity": "If_1B",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "on": {
            "type": "Expression",
            "value": "@if(and(equals(variables('var_CountChk_branch'),'0'),equals(variables('var_If_1A_branch'),'1')),'1','0')"
          },
          "cases": [
            {
              "value": "1",
              "activities": [
                {
                  "name": "var_If_1B_Continuation_branch_True",
                  "type": "SetVariable",
                  "dependsOn": [],
                  "policy": {
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "variableName": "var_If_1B_Continuation_branch",
                    "value": {
                      "type": "Expression",
                      "value": "@string('1')"
                    }
                  }
                },
                {
                  "name": "EmailLoad",
                  "type": "ExecutePipeline",
                  "dependsOn": [
                    {
                      "activity": "var_If_1B_Continuation_branch_True",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "pipeline": {
                      "referenceName": "Email_Notification",
                      "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                      "recipients": {
                        "value": "@pipeline().globalParameters.gbl_param_EmailSupport",
                        "type": "Expression"
                      },
                      "subject": "FNC_BILLRCVDINCM_MNTHLY_WRHS_000 - EDW Received Income loaded",
                      "body": "The EDW Received Income data has been loaded.\n",
                      "blobFilenames": "",
                      "fromemail": {
                        "value": "@pipeline().globalParameters.gbl_param_fromemail",
                        "type": "Expression"
                      },
                      "containerName": ""
                    }
                  }
                }
              ]
            }
          ],
          "defaultActivities": [
            {
              "name": "var_If_1B_Continuation_branch_False",
              "type": "SetVariable",
              "dependsOn": [],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "var_If_1B_Continuation_branch",
                "value": {
                  "type": "Expression",
                  "value": "@string('0')"
                }
              }
            }
          ]
        }
      },
      {
        "name": "If_2B",
        "type": "Switch",
        "dependsOn": [
          {
            "activity": "If_1B_Continuation",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "on": {
            "type": "Expression",
            "value": "@if(and(equals(variables('var_CountChk_branch'),'0'), and(equals(variables('var_If_1A_branch'),'1'), and(equals(variables('var_If_1B_Continuation_branch'),'1'), not(contains(variables('ExclusionList'),'EdwReceivedIncmRunCycUpdt_EE'))))),'1','0')"
          },
          "cases": [
            {
              "value": "1",
              "activities": [
                {
                  "name": "var_If_2B_branch_True",
                  "type": "SetVariable",
                  "dependsOn": [],
                  "policy": {
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "variableName": "var_If_2B_branch",
                    "value": {
                      "type": "Expression",
                      "value": "@string('1')"
                    }
                  }
                },
                {
                  "name": "EdwReceivedIncmRunCycUpdt_EE",
                  "type": "ExecutePipeline",
                  "dependsOn": [
                    {
                      "activity": "var_If_2B_branch_True",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "pipeline": {
                      "referenceName": "EdwReceivedIncmRunCycUpdt_EE",
                      "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                      "IDSOwner": {
                        "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                        "type": "Expression"
                      },
                      "ids_secret_name": {
                        "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                        "type": "Expression"
                      },
                      "IdsRunCycle": {
                        "value": "@variables('ComsnRunCycleToExtract')",
                        "type": "Expression"
                      }
                    }
                  }
                }
              ]
            }
          ],
          "defaultActivities": [
            {
              "name": "var_If_2B_branch_False",
              "type": "SetVariable",
              "dependsOn": [],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "var_If_2B_branch",
                "value": {
                  "type": "Expression",
                  "value": "@string('0')"
                }
              }
            }
          ]
        }
      },
      {
        "name": "If_2B_Continuation",
        "type": "Switch",
        "dependsOn": [
          {
            "activity": "If_2B",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "on": {
            "type": "Expression",
            "value": "@if(and(equals(variables('var_CountChk_branch'),'0'), and(equals(variables('var_If_1A_branch'),'1'), equals(variables('var_If_1B_Continuation_branch'),'1'))),'1','0')"
          },
          "cases": [
            {
              "value": "1",
              "activities": [
                {
                  "name": "var_If_2B_Continuation_branch_True",
                  "type": "SetVariable",
                  "dependsOn": [],
                  "policy": {
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "variableName": "var_If_2B_Continuation_branch",
                    "value": {
                      "type": "Expression",
                      "value": "@string('1')"
                    }
                  }
                },
                {
                  "name": "nb_CloseRunCycle",
                  "type": "DatabricksNotebook",
                  "dependsOn": [
                    {
                      "activity": "var_If_2B_Continuation_branch_True",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "timeout": "12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "notebookPath": {
                      "type": "Expression",
                      "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/CloseRunCycle')"
                    },
                    "baseParameters": {
                      "CloseRunCycle_a1": {
                        "type": "Expression",
                        "value": "@pipeline().globalParameters.gbl_param_IDSOwner"
                      },
                      "secret_name": {
                        "type": "Expression",
                        "value": "@pipeline().globalParameters.gbl_param_IDSSecret"
                      },
                      "CloseRunCycle_a2": {
                        "type": "Expression",
                        "value": "@variables('Source')"
                      },
                      "CloseRunCycle_a3": {
                        "type": "Expression",
                        "value": "@variables('Target')"
                      },
                      "CloseRunCycle_a4": {
                        "type": "Expression",
                        "value": "@variables('Subject')"
                      },
                      "CloseRunCycle_a5": {
                        "type": "Expression",
                        "value": "@variables('Frequency')"
                      },
                      "CloseRunCycle_a6": {
                        "type": "Expression",
                        "value": "@variables('RunCycle')"
                      },
                      "GlobalEnvironment": {
                        "type": "Expression",
                        "value": "@pipeline().globalParameters.gbl_param_environment"
                      },
                      "DBOwner": {
                        "value": "",
                        "type": "Expression"
                      },
                      "SrcSystem": {
                        "value": "",
                        "type": "Expression"
                      },
                      "TrgtSystem": {
                        "value": "",
                        "type": "Expression"
                      },
                      "SubjCode": {
                        "value": "",
                        "type": "Expression"
                      },
                      "FreqCode": {
                        "value": "",
                        "type": "Expression"
                      },
                      "RunCycle": {
                        "value": "",
                        "type": "Expression"
                      }
                    }
                  },
                  "linkedServiceName": {
                    "referenceName": "shareddatabricks",
                    "type": "LinkedServiceReference"
                  }
                },
                {
                  "name": "Success",
                  "type": "SetVariable",
                  "dependsOn": [
                    {
                      "activity": "nb_CloseRunCycle",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "variableName": "Success",
                    "value": {
                      "type": "Expression",
                      "value": "@string('Done')"
                    }
                  }
                }
              ]
            }
          ],
          "defaultActivities": [
            {
              "name": "var_If_2B_Continuation_branch_False",
              "type": "SetVariable",
              "dependsOn": [],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "var_If_2B_Continuation_branch",
                "value": {
                  "type": "Expression",
                  "value": "@string('0')"
                }
              }
            }
          ]
        }
      }
    ]
  }
}