npw-projects-np-projects-bluekc-translated-66e9366f6cca/Sprint_3_4_5/SequenceJobs/Enterprise/MedTrakEdwGrpStopLossPdxClmMnthlyCntl.json
{
  "name": "MedTrakEdwGrpStopLossPdxClmMnthlyCntl",
  "type": "Microsoft.DataFactory/factories/pipelines",
  "properties": {
    "folder": {
      "name": "Enterprise/Jobs/StopLoss"
    },
    "parameters": {
      "JobName": {
        "type": "String",
        "defaultValue": ""
      },
      "GroupName": {
        "type": "String",
        "defaultValue": ""
      },
      "Source": {
        "type": "String",
        "defaultValue": ""
      },
      "Target": {
        "type": "String",
        "defaultValue": ""
      },
      "Subject": {
        "type": "String",
        "defaultValue": ""
      },
      "Frequency": {
        "type": "String",
        "defaultValue": ""
      },
      "RunID": {
        "type": "String",
        "defaultValue": ""
      },
      "Environment": {
        "type": "String",
        "defaultValue": ""
      },
      "EmailIT": {
        "type": "String",
        "defaultValue": ""
      },
      "EmailFinance": {
        "type": "String",
        "defaultValue": ""
      },
      "FTPtoLAN": {
        "type": "String",
        "defaultValue": ""
      }
    },
    "variables": {
      "JobName": {
        "type": "String",
        "defaultValue": ""
      },
      "GroupName": {
        "type": "String",
        "defaultValue": "CLAIMS"
      },
      "Source": {
        "type": "String",
        "defaultValue": "MEDTRAK"
      },
      "Target": {
        "type": "String",
        "defaultValue": "EDW"
      },
      "Subject": {
        "type": "String",
        "defaultValue": "CLAIM"
      },
      "Frequency": {
        "type": "String",
        "defaultValue": "WEEKLY"
      },
      "RunID": {
        "type": "String",
        "defaultValue": ""
      },
      "LinkCount": {
        "type": "String",
        "defaultValue": ""
      },
      "FilesList": {
        "type": "String",
        "defaultValue": ""
      },
      "ExclusionList": {
        "type": "String",
        "defaultValue": ""
      },
      "FileCnt": {
        "type": "String",
        "defaultValue": ""
      },
      "RunCycleDate": {
        "type": "String",
        "defaultValue": ""
      },
      "EDWRunCycle": {
        "type": "String",
        "defaultValue": ""
      },
      "var_CountChk_branch": {
        "type": "String",
        "defaultValue": "0"
      },
      "var_RunCheck_branch": {
        "type": "String",
        "defaultValue": "0"
      },
      "var_If_1A_branch": {
        "type": "String",
        "defaultValue": "0"
      },
      "var_If_1B_branch": {
        "type": "String",
        "defaultValue": "0"
      },
      "var_MedTrakFileToLAN_branch": {
        "type": "String",
        "defaultValue": "0"
      },
      "var_MedTrakFileToLAN_Continuation_branch": {
        "type": "String",
        "defaultValue": "0"
      },
      "FTPtoLAN_Continuation_Taken": {
        "type": "String",
        "defaultValue": "0"
      },
      "OpenRunCycle": {
        "type": "String"
      }
    },
    "activities": [
      {
        "name": "SetJobName",
        "type": "SetVariable",
        "dependsOn": [],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "JobName",
          "value": {
            "value": "@pipeline().Pipeline",
            "type": "Expression"
          }
        }
      },
      {
        "name": "GetRunInfo",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "SetExclusionList",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/GetRunInfo')",
            "type": "Expression"
          },
          "baseParameters": {
            "job_name": {
              "value": "@concat(variables('JobName'),':RunID')",
              "type": "Expression"
            },
            "GlobalEnvironment": {
              "value": "@pipeline().globalParameters.gbl_param_environment",
              "type": "Expression"
            },
            "secret_name": {
              "value": "",
              "type": "Expression"
            },
            "IDSOwner": {
              "value": "",
              "type": "Expression"
            }
          }
        },
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        }
      },
      {
        "name": "SetRunID",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "GetRunInfo",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "RunID",
          "value": {
            "value": "@string(activity('GetRunInfo').output.runOutput)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "ProcessCheckExtr",
        "type": "Lookup",
        "dependsOn": [
          {
            "activity": "SetRunID",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "source": {
            "type": "AzureSqlSource",
            "sqlReaderQuery": {
              "value": "WITH db2_data AS (\n    select SUBJ_CD, TRGT_SYS_CD, SRC_SYS_CD\n    from @{pipeline().globalParameters.gbl_param_IDSOwner}.P_RUN_CYC\n    where CYC_STTUS_CD = 'RUNNING'\n       and SUBJ_CD = '@{variables('Subject')}'\n       and TRGT_SYS_CD = '@{variables('Target')}'\n    UNION\n    select SUBJ_CD, TRGT_SYS_CD, SRC_SYS_CD\n    from @{pipeline().globalParameters.gbl_param_IDSOwner}.P_RUN_CYC\n    where CYC_STTUS_CD = 'RUNNING'\n       and SUBJ_CD = '@{variables('Subject')}'\n       and SRC_SYS_CD <> '@{variables('Source')}'\n       and TRGT_SYS_CD = '@{variables('Target')}'\n    UNION\n    select SUBJ_CD, TRGT_SYS_CD, SRC_SYS_CD\n    from @{pipeline().globalParameters.gbl_param_IDSOwner}.P_RUN_CYC\n    where CYC_STTUS_CD = 'RUNNING'\n       and SUBJ_CD = '@{variables('Subject')}'\n       and SRC_SYS_CD = '@{variables('Source')}'\n),\ntransformed_data AS (\n    SELECT SUBJ_CD, SRC_SYS_CD, TRGT_SYS_CD\n    FROM db2_data\n)\nSELECT COUNT(*) as link_count FROM transformed_data",
              "type": "Expression"
            },
            "queryTimeout": "02:00:00",
            "partitionOption": "None"
          },
          "dataset": {
            "referenceName": "ds_ids",
            "type": "DatasetReference",
            "parameters": {
              "param_schema": "@pipeline().globalParameters.gbl_param_IDSOwner",
              "param_table": "P_RUN_CYC"
            }
          }
        }
      },
      {
        "name": "LinkCount_SetVar",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "ProcessCheckExtr",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "variableName": "LinkCount",
          "value": {
            "value": "@string(activity('ProcessCheckExtr').output.firstRow.link_count)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "CountChk",
        "type": "Switch",
        "dependsOn": [
          {
            "activity": "LinkCount_SetVar",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "on": {
            "value": "@if(not(equals(variables('LinkCount'),'0')),'1','0')",
            "type": "Expression"
          },
          "cases": [
            {
              "value": "1",
              "activities": [
                {
                  "name": "var_CountChk_branch_True",
                  "type": "SetVariable",
                  "dependsOn": [],
                  "policy": {
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "variableName": "var_CountChk_branch",
                    "value": {
                      "value": "1",
                      "type": "Expression"
                    }
                  }
                },
                {
                  "name": "Email_DAT",
                  "type": "ExecutePipeline",
                  "dependsOn": [
                    {
                      "activity": "var_CountChk_branch_True",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "pipeline": {
                      "referenceName": "Email_Notification",
                      "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                      "recipients": {
                        "value": "@pipeline().globalParameters.gbl_param_EmailSupport",
                        "type": "Expression"
                      },
                      "subject": "MEDTRAK to EDW load for RX data - Weekly Control Totals File- Extract Abort - Stop Loss",
                      "body": "MEDTRAK to EDW load for RX data - Weekly RX Control File Totals for Stop Loss - process cannot run while other processess  being updated or extracted from.\n\n\nSource: MEDTRAK\nTarget:  EDW\nSubject: CLAIMS",
                      "blobFilenames": "",
                      "fromemail": {
                        "value": "@pipeline().globalParameters.gbl_param_fromemail",
                        "type": "Expression"
                      },
                      "containerName": " "
                    }
                  }
                }
              ]
            }
          ],
          "defaultActivities": [
            {
              "name": "var_CountChk_branch_False",
              "type": "SetVariable",
              "dependsOn": [],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "var_CountChk_branch",
                "value": {
                  "value": "0",
                  "type": "Expression"
                }
              }
            },
            {
              "name": "ListFiles_SetRoutineOutput",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "var_CountChk_branch_False",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/LIST.FILES')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "file_path": {
                    "value": "@concat(pipeline().globalParameters.gbl_param_FilePath,':/landing')",
                    "type": "Expression"
                  },
                  "file_pattern": "Medtrak_DrugClmControl*.dat",
                  "gbl_param_environment": {
                    "value": "",
                    "type": "Expression"
                  }
                }
              }
            },
            {
              "name": "ListFiles_SetVariable",
              "type": "SetVariable",
              "dependsOn": [
                {
                  "activity": "ListFiles_SetRoutineOutput",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "FilesList",
                "value": {
                  "value": "@string(activity('ListFiles_SetRoutineOutput').output.runOutput)",
                  "type": "Expression"
                }
              }
            },
            {
              "name": "ExclusionListExtr",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "ListFiles_SetVariable",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_notebook_path,'/JobSequencer/CommonComponents/ExclusionListExtr')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "ids_owner_schema": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "ids_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                    "type": "Expression"
                  },
                  "Subject": {
                    "value": "@variables('JobName')",
                    "type": "Expression"
                  },
                  "ids_staging_schema": {
                    "value": "@pipeline().globalParameters.gbl_param_ids_staging",
                    "type": "Expression"
                  }
                }
              }
            },
            {
              "name": "Variables_SetRoutineOutput_ExclusionList",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "ExclusionListExtr",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/GetExclusionList')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "Subject": {
                    "value": "@pipeline().parameters.JobName",
                    "type": "Expression"
                  },
                  "secret_name": {
                    "value": "",
                    "type": "Expression"
                  },
                  "DBOwner": {
                    "value": "",
                    "type": "Expression"
                  }
                }
              }
            },
            {
              "name": "Variables_SetVariable_ExclusionList",
              "type": "SetVariable",
              "dependsOn": [
                {
                  "activity": "Variables_SetRoutineOutput_ExclusionList",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "ExclusionList",
                "value": {
                  "value": "@string(activity('Variables_SetRoutineOutput_ExclusionList').output.runOutput)",
                  "type": "Expression"
                }
              }
            },
            {
              "name": "Variables_SetRoutineOutput_FileCnt",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "Variables_SetVariable_ExclusionList",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/DCOUNT')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "DCOUNT_a1": {
                    "value": "@variables('FilesList')",
                    "type": "Expression"
                  },
                  "DCOUNT_a2": ", "
                }
              }
            },
            {
              "name": "Variables_SetVariable_FileCnt",
              "type": "SetVariable",
              "dependsOn": [
                {
                  "activity": "Variables_SetRoutineOutput_FileCnt",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "FileCnt",
                "value": {
                  "value": "@string(activity('Variables_SetRoutineOutput_FileCnt').output.runOutput)",
                  "type": "Expression"
                }
              }
            },
            {
              "name": "ExclusionListDelete",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "Variables_SetVariable_FileCnt",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_notebook_path,'/JobSequencer/CommonComponents/ExclusionListDelete')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "IDSOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "ids_secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                    "type": "Expression"
                  },
                  "Subject": {
                    "value": "@variables('JobName')",
                    "type": "Expression"
                  }
                }
              }
            }
          ]
        }
      },
      {
        "name": "RunCheck",
        "type": "Switch",
        "dependsOn": [
          {
            "activity": "CountChk",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "on": {
            "type": "Expression",
            "value": "@if(and(equals(variables('var_CountChk_branch'),'0'),greater(int(variables('FileCnt')),0)),'1','0')"
          },
          "cases": [
            {
              "value": "1",
              "activities": [
                {
                  "name": "var_RunCheck_branch_True",
                  "type": "SetVariable",
                  "dependsOn": [],
                  "policy": {
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "variableName": "var_RunCheck_branch",
                    "value": {
                      "value": "1",
                      "type": "Expression"
                    }
                  }
                }
              ]
            }
          ],
          "defaultActivities": [
            {
              "name": "var_RunCheck_branch_False",
              "type": "SetVariable",
              "dependsOn": [],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "var_RunCheck_branch",
                "value": {
                  "value": "0",
                  "type": "Expression"
                }
              }
            },
            {
              "name": "Email_NoFile",
              "type": "ExecutePipeline",
              "dependsOn": [
                {
                  "activity": "var_RunCheck_branch_False",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "pipeline": {
                  "referenceName": "Email_Notification",
                  "type": "PipelineReference"
                },
                "waitOnCompletion": true,
                "parameters": {
                  "recipients": {
                    "value": "@pipeline().globalParameters.gbl_param_EmailSupport",
                    "type": "Expression"
                  },
                  "subject": "No Medtrak Control File Received for Stop Loss",
                  "body": "Medtrak Control file has not been received for Stop Loss. Please contact the vendor.",
                  "blobFilenames": "",
                  "fromemail": {
                    "value": "@pipeline().globalParameters.gbl_param_fromemail",
                    "type": "Expression"
                  },
                  "containerName": " "
                }
              }
            }
          ]
        }
      },
      {
        "name": "StartLoop",
        "type": "ForEach",
        "dependsOn": [
          {
            "activity": "RunCheck",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "items": [
            "FilesList"
          ],
          "activities": [
            {
              "name": "OpenRunCycle",
              "type": "DatabricksNotebook",
              "dependsOn": [],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/OpenRunCycle')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "DBOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                    "type": "Expression"
                  },
                  "Source": {
                    "value": "@variables('Source')",
                    "type": "Expression"
                  },
                  "Target": {
                    "value": "@variables('Target')",
                    "type": "Expression"
                  },
                  "Subject": {
                    "value": "@variables('Subject')",
                    "type": "Expression"
                  },
                  "Frequency": {
                    "value": "@variables('Frequency')",
                    "type": "Expression"
                  },
                  "GlobalEnvironment": {
                    "value": "@pipeline().globalParameters.gbl_param_environment",
                    "type": "Expression"
                  }
                },
                "linkedServiceName": {
                  "referenceName": "shareddatabricks",
                  "type": "LinkedServiceReference"
                }
              }
            },
            {
              "name": "SetOpenRunCycle",
              "type": "SetVariable",
              "dependsOn": [
                {
                  "activity": "OpenRunCycle",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "OpenRunCycle",
                "value": {
                  "value": "@string(activity('OpenRunCycle').output.runOutput)",
                  "type": "Expression"
                }
              }
            },
            {
              "name": "WriteRunID",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "SetOpenRunCycle",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/WriteRunID')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "entry_name": {
                    "value": "@concat(variables('JobName'),':RunID')",
                    "type": "Expression"
                  },
                  "secret_name": {
                    "value": "",
                    "type": "Expression"
                  },
                  "IDSOwner": {
                    "value": "",
                    "type": "Expression"
                  }
                },
                "linkedServiceName": {
                  "referenceName": "shareddatabricks",
                  "type": "LinkedServiceReference"
                }
              }
            },
            {
              "name": "GetRunCycleDate_SetRoutineOutput",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "WriteRunID",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/GetRunCycleDate')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "DBOwner": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                    "type": "Expression"
                  },
                  "secret_name": {
                    "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                    "type": "Expression"
                  },
                  "Subject": {
                    "value": "@variables('Subject')",
                    "type": "Expression"
                  },
                  "SourceSystem": {
                    "value": "@variables('Source')",
                    "type": "Expression"
                  },
                  "TargetSystem": {
                    "value": "@variables('Target')",
                    "type": "Expression"
                  },
                  "RunCycle": {
                    "value": "@variables('EDWRunCycle')",
                    "type": "Expression"
                  },
                  "GlobalEnvironment": {
                    "value": "@pipeline().globalParameters.gbl_param_environment",
                    "type": "Expression"
                  }
                }
              }
            },
            {
              "name": "SetRunCycleDate",
              "type": "SetVariable",
              "dependsOn": [
                {
                  "activity": "GetRunCycleDate_SetRoutineOutput",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "typeProperties": {
                "variableName": "RunCycleDate",
                "value": {
                  "value": "@string(activity('GetRunCycleDate_SetRoutineOutput').output.runOutput)",
                  "type": "Expression"
                }
              }
            }
          ]
        }
      },
      {
        "name": "If_1A",
        "type": "Switch",
        "dependsOn": [
          {
            "activity": "StartLoop",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "on": {
            "type": "Expression",
            "value": "@if(and(and(equals(variables('var_CountChk_branch'),'0'),equals(variables('var_RunCheck_branch'),'1')),equals(count(split(variables('ExclusionList'),';'),'MedTrakEdwGrpStopLossPdxClmMnthlyExtr'),0)),'1','0')"
          },
          "cases": [
            {
              "value": "1",
              "activities": [
                {
                  "name": "var_If_1A_branch_True",
                  "type": "SetVariable",
                  "dependsOn": [],
                  "policy": {
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "variableName": "var_If_1A_branch",
                    "value": {
                      "value": "1",
                      "type": "Expression"
                    }
                  }
                },
                {
                  "name": "MedTrakEdwGrpStopLossPdxClmMnthlyExtr",
                  "type": "DatabricksNotebook",
                  "dependsOn": [
                    {
                      "activity": "var_If_1A_branch_True",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "timeout": "12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "notebookPath": {
                      "value": "@concat(pipeline().globalParameters.gbl_param_notebook_path,'/StopLoss/Pdx/Medtrak/MedTrakEdwGrpStopLossPdxClmMnthlyExtr')",
                      "type": "Expression"
                    },
                    "baseParameters": {
                      "EDWOwner": {
                        "value": "@pipeline().globalParameters.gbl_param_EDWOwner",
                        "type": "Expression"
                      },
                      "edw_secret_name": {
                        "value": "@pipeline().globalParameters.gbl_param_EDWSecret",
                        "type": "Expression"
                      },
                      "IDSOwner": {
                        "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                        "type": "Expression"
                      },
                      "ids_secret_name": {
                        "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                        "type": "Expression"
                      },
                      "RunCycleDt": {
                        "value": "@variables('RunCycleDate')",
                        "type": "Expression"
                      },
                      "InFileName": {
                        "value": "@item()",
                        "type": "Expression"
                      }
                    }
                  }
                }
              ]
            }
          ],
          "defaultActivities": [
            {
              "name": "var_If_1A_branch_False",
              "type": "SetVariable",
              "dependsOn": [],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "var_If_1A_branch",
                "value": {
                  "value": "0",
                  "type": "Expression"
                }
              }
            }
          ]
        }
      },
      {
        "name": "If_1B",
        "type": "Switch",
        "dependsOn": [
          {
            "activity": "If_1A",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "on": {
            "type": "Expression",
            "value": "@if(and(and(equals(variables('var_CountChk_branch'),'0'),equals(variables('var_RunCheck_branch'),'1')),equals(count(split(variables('ExclusionList'),';'),'EdwGrpStopLossPdxClmMnthlyLoad'),0)),'1','0')"
          },
          "cases": [
            {
              "value": "1",
              "activities": [
                {
                  "name": "var_If_1B_branch_True",
                  "type": "SetVariable",
                  "dependsOn": [],
                  "policy": {
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "variableName": "var_If_1B_branch",
                    "value": {
                      "value": "1",
                      "type": "Expression"
                    }
                  }
                },
                {
                  "name": "EdwGrpStopLossPdxClmMnthlyLoad",
                  "type": "DatabricksNotebook",
                  "dependsOn": [
                    {
                      "activity": "var_If_1B_branch_True",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "timeout": "12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "notebookPath": {
                      "value": "@concat(pipeline().globalParameters.gbl_param_notebook_path,'/StopLoss/Pdx/EdwGrpStopLossPdxClmMnthlyLoad')",
                      "type": "Expression"
                    },
                    "baseParameters": {
                      "EDWOwner": {
                        "value": "@pipeline().globalParameters.gbl_param_EDWOwner",
                        "type": "Expression"
                      },
                      "edw_secret_name": {
                        "value": "@pipeline().globalParameters.gbl_param_EDWSecret",
                        "type": "Expression"
                      },
                      "SrcSysCd": {
                        "value": "@variables('Source')",
                        "type": "Expression"
                      },
                      "AmtTyp": "RCVDAMT"
                    }
                  }
                }
              ]
            }
          ],
          "defaultActivities": [
            {
              "name": "var_If_1B_branch_False",
              "type": "SetVariable",
              "dependsOn": [],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "var_If_1B_branch",
                "value": {
                  "value": "0",
                  "type": "Expression"
                }
              }
            }
          ]
        }
      },
      {
        "name": "MedTrakFileToLAN",
        "type": "Switch",
        "dependsOn": [
          {
            "activity": "If_1B",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "on": {
            "type": "Expression",
            "value": "@if(and(and(equals(variables('var_CountChk_branch'),'0'),equals(variables('var_RunCheck_branch'),'1')),equals(pipeline().parameters.FTPtoLAN,'\"Y\"')),'1','0')"
          },
          "cases": [
            {
              "value": "1",
              "activities": [
                {
                  "name": "var_MedTrakFileToLAN_branch_True",
                  "type": "SetVariable",
                  "dependsOn": [],
                  "policy": {
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "variableName": "var_MedTrakFileToLAN_branch",
                    "value": {
                      "value": "1",
                      "type": "Expression"
                    }
                  }
                },
                {
                  "name": "MedTrakFile_IT_Lan",
                  "type": "DatabricksNotebook",
                  "dependsOn": [
                    {
                      "activity": "var_MedTrakFileToLAN_branch_True",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "timeout": "12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "notebookPath": {
                      "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/FTP')",
                      "type": "Expression"
                    },
                    "baseParameters": {
                      "FTP_a1": "o_lib",
                      "FTP_a2": "put",
                      "FTP_a3": {
                        "value": "@concat(pipeline().globalParameters.gbl_param_FilePath,'/landing')",
                        "type": "Expression"
                      },
                      "FTP_a4": {
                        "value": "@item()",
                        "type": "Expression"
                      },
                      "FTP_a5": "/library/library/IAD/PHI11/Shared/StopLoss_Control",
                      "FTP_a6": {
                        "value": "@concat('\"MEDTRAK.ASOPBM.DrugClmControl.\"', variables('RunID'), '\".DAT\"')",
                        "type": "Expression"
                      }
                    }
                  }
                },
                {
                  "name": "MedTrakFile_FinanceLAN",
                  "type": "DatabricksNotebook",
                  "dependsOn": [
                    {
                      "activity": "MedTrakFile_IT_Lan",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "timeout": "12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "notebookPath": {
                      "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/FTP')",
                      "type": "Expression"
                    },
                    "baseParameters": {
                      "FTP_a1": "o_lib",
                      "FTP_a2": "put",
                      "FTP_a3": {
                        "value": "@concat(pipeline().globalParameters.gbl_param_FilePath,'/landing')",
                        "type": "Expression"
                      },
                      "FTP_a4": {
                        "value": "@item()",
                        "type": "Expression"
                      },
                      "FTP_a5": "/library/library/Finance/Finance/Operations/Claim_Settlements/Data_Files/ASO_Stop_Loss_Control_Files",
                      "FTP_a6": {
                        "value": "@concat('\"MEDTRAK.ASOPBM.DrugClmControl.\"', variables('RunID'), '\".DAT\"')",
                        "type": "Expression"
                      }
                    }
                  }
                }
              ]
            }
          ],
          "defaultActivities": [
            {
              "name": "var_MedTrakFileToLAN_branch_False",
              "type": "SetVariable",
              "dependsOn": [],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "var_MedTrakFileToLAN_branch",
                "value": {
                  "value": "0",
                  "type": "Expression"
                }
              }
            }
          ]
        }
      },
      {
        "name": "MedTrakFileToLAN_Continuation",
        "type": "Switch",
        "dependsOn": [
          {
            "activity": "MedTrakFileToLAN",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "on": {
            "type": "Expression",
            "value": "@if(and(equals(variables('var_CountChk_branch'),'0'),equals(variables('var_RunCheck_branch'),'1')),'1','0')"
          },
          "cases": [
            {
              "value": "1",
              "activities": [
                {
                  "name": "var_MedTrakFileToLAN_Continuation_branch_True",
                  "type": "SetVariable",
                  "dependsOn": [],
                  "policy": {
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "variableName": "var_MedTrakFileToLAN_Continuation_branch",
                    "value": {
                      "value": "1",
                      "type": "Expression"
                    }
                  }
                },
                {
                  "name": "CopyExtrFiles",
                  "type": "DatabricksNotebook",
                  "dependsOn": [
                    {
                      "activity": "var_MedTrakFileToLAN_Continuation_branch_True",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "timeout": "12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "notebookPath": {
                      "value": "@concat(pipeline().globalParameters.gbl_param_scripts,'/Generic_ADLS_File_Operations')",
                      "type": "Expression"
                    },
                    "baseParameters": {
                      "src_file_with_path": {
                        "value": "/StartLoop.$Counter",
                        "type": "Expression"
                      },
                      "trgt_file_with_path": {
                        "value": "/RunID",
                        "type": "Expression"
                      },
                      "command": "copy",
                      "project": "enterprise"
                    }
                  }
                },
                {
                  "name": "CloseRunCycle_SetRoutineOutput",
                  "type": "DatabricksNotebook",
                  "dependsOn": [
                    {
                      "activity": "CopyExtrFiles",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "timeout": "12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "notebookPath": {
                      "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path,'/sequencer_routines/CloseRunCycle')",
                      "type": "Expression"
                    },
                    "baseParameters": {
                      "CloseRunCycle_a1": {
                        "value": "@pipeline().globalParameters.gbl_param_IDSOwner",
                        "type": "Expression"
                      },
                      "secret_name": {
                        "value": "@pipeline().globalParameters.gbl_param_IDSSecret",
                        "type": "Expression"
                      },
                      "CloseRunCycle_a2": {
                        "value": "@variables('Source')",
                        "type": "Expression"
                      },
                      "CloseRunCycle_a3": {
                        "value": "@variables('Target')",
                        "type": "Expression"
                      },
                      "CloseRunCycle_a4": {
                        "value": "@variables('Subject')",
                        "type": "Expression"
                      },
                      "CloseRunCycle_a5": {
                        "value": "@variables('Frequency')",
                        "type": "Expression"
                      },
                      "CloseRunCycle_a6": {
                        "value": "@variables('EDWRunCycle')",
                        "type": "Expression"
                      },
                      "DBOwner": {
                        "value": "",
                        "type": "Expression"
                      },
                      "SrcSystem": {
                        "value": "",
                        "type": "Expression"
                      },
                      "TrgtSystem": {
                        "value": "",
                        "type": "Expression"
                      },
                      "SubjCode": {
                        "value": "",
                        "type": "Expression"
                      },
                      "FreqCode": {
                        "value": "",
                        "type": "Expression"
                      },
                      "RunCycle": {
                        "value": "",
                        "type": "Expression"
                      }
                    }
                  }
                }
              ]
            }
          ],
          "defaultActivities": [
            {
              "name": "var_MedTrakFileToLAN_Continuation_branch_False",
              "type": "SetVariable",
              "dependsOn": [],
              "policy": {
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "variableName": "var_MedTrakFileToLAN_Continuation_branch",
                "value": {
                  "value": "0",
                  "type": "Expression"
                }
              }
            }
          ]
        }
      },
      {
        "name": "If_3A",
        "type": "IfCondition",
        "dependsOn": [
          {
            "activity": "MedTrakFileToLAN_Continuation",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "expression": {
            "value": "@equals(pipeline().parameters.FTPtoLAN,'\"Y\"')",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "name": "ITgroupNotification",
              "type": "ExecutePipeline",
              "dependsOn": [],
              "policy": {
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "pipeline": {
                  "referenceName": "Email_Notification",
                  "type": "PipelineReference"
                },
                "waitOnCompletion": true,
                "parameters": {
                  "recipients": {
                    "value": "@pipeline().parameters.EmailIT",
                    "type": "Expression"
                  },
                  "subject": "BCBSKC received MEDTRAK Claims and Control file for PDX to process EDW load ",
                  "body": "BCBSKC received MEDTRAK Claims and Control file for PDX to load EDW Process\n\nMEDTRAK control file has been received via FTP and has been placed in \"O:\\\\library\\\\IAD\\\\PHI11\\\\Shared\\\\StopLoss_Control\" folder with the file name starting with \"Medtrak_DrugClmControl\".\n\nMEDTRAK claims file has been received via FTP and has been placed in \"O:\\\\library\\\\IAD\\\\PHI11\\\\Shared\\\\StopLoss_Claims\" folder with the file name starting with \"Medtrak_DrugClm\".\n",
                  "blobFilenames": "",
                  "fromemail": {
                    "value": "@pipeline().globalParameters.gbl_param_fromemail",
                    "type": "Expression"
                  },
                  "containerName": " "
                }
              }
            },
            {
              "name": "FinGrpNotification",
              "type": "ExecutePipeline",
              "dependsOn": [
                {
                  "activity": "ITgroupNotification",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "pipeline": {
                  "referenceName": "Email_Notification",
                  "type": "PipelineReference"
                },
                "waitOnCompletion": true,
                "parameters": {
                  "recipients": {
                    "value": "@pipeline().parameters.EmailFinance",
                    "type": "Expression"
                  },
                  "subject": "BCBSKC received MEDTRAK Claim Control file for RX to process EDW load",
                  "body": "BCBSKC received MEDTRAK Claim Control file for RX to process EDW load\n\nMedtrak control total file has been received via FTP and has been placed in \"O:\\\\library\\\\Finance\\\\Finance\\\\Operations\\\\Claim_Settlements\\\\Data_Files\\\\ASO_Stop_Loss_Control_Files\"  folder with the file name starting with \"Medtrak_DrugClmControl\".\n",
                  "blobFilenames": "",
                  "fromemail": {
                    "value": "@pipeline().globalParameters.gbl_param_fromemail",
                    "type": "Expression"
                  },
                  "containerName": " "
                }
              }
            }
          ],
          "ifFalseActivities": []
        }
      },
      {
        "name": "RmFiles",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "If_3A",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_scripts, '/Generic_ADLS_File_Operations')",
            "type": "Expression"
          },
          "baseParameters": {
            "src_file_with_path": {
              "value": "/landing/Medtrak_DrugClmControl*.dat",
              "type": "Expression"
            },
            "command": "delete",
            "project": "enterprise"
          }
        }
      }
    ]
  }
}