npw-projects-np-projects-bluekc-translated-66e9366f6cca/Sprint_3_4_5/SequenceJobs/Enterprise/MpiMpiBCBSFileNotifyMbrOutpTrnsfmSeq.json
{
  "name": "MpiMpiBCBSFileNotifyMbrOutpTrnsfmSeq",
  "type": "Microsoft.DataFactory/factories/pipelines",
  "properties": {
    "folder": {
      "name": "Enterprise/Jobs/MPI/MPI_BCBS/Seq"
    },
    "parameters": {
      "CurrDtmSybTS": {
        "type": "String",
        "defaultValue": ""
      },
      "ExclusionList": {
        "type": "String",
        "defaultValue": "ExclusionList"
      },
      "ListFiles": {
        "type": "String",
        "defaultValue": "LISTFILES.FilesList"
      },
      "RunID": {
        "type": "String",
        "defaultValue": ""
      }
    },
    "variables": {
      "LinkCount": {
        "type": "String",
        "defaultValue": ""
      }
    },
    "activities": [
      {
        "name": "ForEach_StartLoop",
        "type": "ForEach",
        "dependsOn": [],
        "typeProperties": {
          "items": {
            "value": "@split(pipeline().parameters.ListFiles, ',')",
            "type": "Expression"
          },
          "activities": [
            {
              "name": "If_1A",
              "type": "IfCondition",
              "dependsOn": [],
              "userProperties": [],
              "typeProperties": {
                "expression": {
                  "value": "@equals(contains(split(string(pipeline().parameters.ExclusionList), ';'), 'MpiMpiBCBSNotifyFileMbrOutpTrnsfm'), false)",
                  "type": "Expression"
                },
                "ifTrueActivities": [
                  {
                    "name": "MpiMpiBCBSNotifyFileMbrOutpTrnsfm",
                    "type": "DatabricksNotebook",
                    "dependsOn": [],
                    "policy": {
                      "timeout": "12:00:00",
                      "retry": 0,
                      "retryIntervalInSeconds": 30,
                      "secureOutput": false,
                      "secureInput": false
                    },
                    "linkedServiceName": {
                      "referenceName": "shareddatabricks",
                      "type": "LinkedServiceReference"
                    },
                    "typeProperties": {
                      "notebookPath": {
                        "value": "@concat(pipeline().globalParameters.gbl_param_notebook_path, '/MPI/MPI_BCBS/MBR_OUTP/MpiMpiBCBSNotifyFileMbrOutpTrnsfm')",
                        "type": "Expression"
                      },
                      "baseParameters": {
                        "CurrDtmSybTS": {
                          "value": "@pipeline().parameters.CurrDtmSybTS",
                          "type": "Expression"
                        },
                        "MPI_BCBSOwner": {
                          "value": "@pipeline().globalParameters.gbl_param_MPI_BCBSOwner",
                          "type": "Expression"
                        },
                        "mpi_bcbs_secret_name": {
                          "value": "@pipeline().globalParameters.gbl_param_MPI_BCBSSecret",
                          "type": "Expression"
                        },
                        "MPI_BCBSEnvrnId": {
                          "value": "@pipeline().globalParameters.gbl_param_MPI_BCBSEnvrnId",
                          "type": "Expression"
                        },
                        "FileName": {
                          "value": "@item()",
                          "type": "Expression"
                        },
                        "RunID": {
                          "value": "@pipeline().parameters.RunID",
                          "type": "Expression"
                        },
                        "LoopNo": {
                          "value": "@string(ticks(utcNow()))",
                          "type": "Expression"
                        },
                        "GlobalEnvironment": {
                          "value": "@pipeline().globalParameters.gbl_param_environment",
                          "type": "Expression"
                        }
                      }
                    }
                  }
                ],
                "ifFalseActivities": []
              }
            },
            {
              "name": "MvNotificationFile",
              "type": "DatabricksNotebook",
              "dependsOn": [
                {
                  "activity": "MpiMpiBCBSNotifyFileMbrOutpTrnsfm",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                },
                {
                  "activity": "SkipAction_1A",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "linkedServiceName": {
                "referenceName": "shareddatabricks",
                "type": "LinkedServiceReference"
              },
              "typeProperties": {
                "notebookPath": {
                  "value": "@concat(pipeline().globalParameters.gbl_param_scripts, '/Generic_ADLS_File_Operations')",
                  "type": "Expression"
                },
                "baseParameters": {
                  "src_file_with_path": {
                    "value": "/landing",
                    "type": "Expression"
                  },
                  "trgt_file_with_path": {
                    "value": "/landing/processed",
                    "type": "Expression"
                  },
                  "command": "move",
                  "project": "enterprise"
                }
              }
            }
          ]
        }
      },
      {
        "name": "HASH_CLEAR",
        "type": "DatabricksNotebook",
        "dependsOn": [
          {
            "activity": "ForEach_StartLoop",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "linkedServiceName": {
          "referenceName": "shareddatabricks",
          "type": "LinkedServiceReference"
        },
        "typeProperties": {
          "notebookPath": {
            "value": "@concat(pipeline().globalParameters.gbl_param_routine_notebook_path, '/sequencer_routines/HASH.CLEAR')",
            "type": "Expression"
          },
          "baseParameters": {
            "file_names": "1;hf_mpi_notify_to_mbr_outp",
            "GlobalEnvironment": {
              "value": "@pipeline().globalParameters.gbl_param_environment",
              "type": "Expression"
            },
            "EnvProjectPath": {
              "value": "",
              "type": "Expression"
            }
          }
        }
      }
    ]
  }
}